
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
郊庙歌辞。梁郊祀乐章。庆和原文、翻译及赏析_古诗_古诗文网
</title>
<meta name="description" content="烟燎升，礼容彻。诚感达，人神悦。灵贶彰，圣情结。玉座寂，金炉歇。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_1013.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_1013.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare1013">烟燎升，礼容彻。诚感达，人神悦。灵贶彰，圣情结。玉座寂，金炉歇。——唐代·佚名《郊庙歌辞。梁郊祀乐章。庆和》http://so.gushiwen.org/view_1013.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(1013)" id="btnShangxi1013"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(1013)" id="btnZhushi1013"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(1013)" id="btnYiwen1013" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">郊庙歌辞。梁郊祀乐章。庆和</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e4%bd%9a%e5%90%8d">佚名</a> </p>
<div class="contson" id="contson1013">
烟燎升，礼容彻。诚感达，人神悦。
<br />
灵贶彰，圣情结。玉座寂，金炉歇。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=1013&from=http://so.gushiwen.org/view.aspx?id=1013"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(1013)"><img id="copyimg1013" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('1013','http://m.gushiwen.org/view_1013.aspx')" onmouseout="outweixin(1013)"><img id="weixinimg1013" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=1013"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=9288095153"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood1013" href="javascript:goodNew('1013','http://so.gushiwen.org/view.aspx?id=1013',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin1013" style="background-color:aqua;"></div>
<div id="toolPlay1013" style=" display:none;clear:both;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare20817">麋入神羊队，鸟惊海鹭眠。仍教百馀日，迎送直厅前。——唐代·元稹《直台》http://so.gushiwen.org/view_20817.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(20817)" id="btnShangxi20817"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(20817)" id="btnZhushi20817"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(20817)" id="btnYiwen20817" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_20817.aspx"><b>直台</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%85%83%e7%a8%b9">元稹</a></p>
<div class="contson" id="contson20817">
麋入神羊队，鸟惊海鹭眠。仍教百馀日，迎送直厅前。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=20817&from=http://so.gushiwen.org/view.aspx?id=1013"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(20817)"><img id="copyimg20817" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('20817','http://m.gushiwen.org/view_20817.aspx')" onmouseout="outweixin(20817)"><img id="weixinimg20817" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood20817" href="javascript:goodNew('20817','http://so.gushiwen.org/view.aspx?id=1013',3)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3</span></a></div>
</div>
<div id="toolCopy20817" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin20817" style="background-color:aqua;"></div>
<div id="toolPlay20817" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare15001">柳花飞入正行舟，卧引菱花信碧流。闻道风光满扬子，天晴共上望乡楼。——唐代·李益《行舟》http://so.gushiwen.org/view_15001.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(15001)" id="btnShangxi15001"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(15001)" id="btnZhushi15001"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(15001)" id="btnYiwen15001" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_15001.aspx"><b>行舟</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e7%9b%8a">李益</a></p>
<div class="contson" id="contson15001">
柳花飞入正行舟，卧引菱花信碧流。
<br />
闻道风光满扬子，天晴共上望乡楼。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=15001&from=http://so.gushiwen.org/view.aspx?id=1013"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(15001)"><img id="copyimg15001" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('15001','http://m.gushiwen.org/view_15001.aspx')" onmouseout="outweixin(15001)"><img id="weixinimg15001" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood15001" href="javascript:goodNew('15001','http://so.gushiwen.org/view.aspx?id=1013',13)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;13</span></a></div>
</div>
<div id="toolCopy15001" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin15001" style="background-color:aqua;"></div>
<div id="toolPlay15001" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare20809">十年常远道，不忍别离声。况复三巴外，仍逢万里行。桐花新雨气，梨叶晚春晴。到海知何日，风波从此生。——唐代·元稹《别岭南熊判官》http://so.gushiwen.org/view_20809.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(20809)" id="btnShangxi20809"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(20809)" id="btnZhushi20809"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(20809)" id="btnYiwen20809" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_20809.aspx"><b>别岭南熊判官</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%85%83%e7%a8%b9">元稹</a></p>
<div class="contson" id="contson20809">
十年常远道，不忍别离声。况复三巴外，仍逢万里行。
<br />
桐花新雨气，梨叶晚春晴。到海知何日，风波从此生。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=20809&from=http://so.gushiwen.org/view.aspx?id=1013"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(20809)"><img id="copyimg20809" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('20809','http://m.gushiwen.org/view_20809.aspx')" onmouseout="outweixin(20809)"><img id="weixinimg20809" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood20809" href="javascript:goodNew('20809','http://so.gushiwen.org/view.aspx?id=1013',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy20809" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin20809" style="background-color:aqua;"></div>
<div id="toolPlay20809" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4060.aspx">中庭月色正清明，无数杨花过无影。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2256.aspx">千秋钓舸歌明月，万里沙鸥弄夕阳。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
