
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
夏夜叹原文、翻译及赏析_杜甫古诗_古诗文网
</title>
<meta name="description" content="永日不可暮，炎蒸毒我肠。安得万里风，飘飖吹我裳。昊天出华月，茂林延疏光。仲夏苦夜短，开轩纳微凉。虚明见纤毫，羽虫亦飞扬。物情无巨细，自适固其常。念彼荷戈士，穷年守边疆。何由一洗濯，" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_10454.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_10454.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare10454">永日不可暮，炎蒸毒我肠。安得万里风，飘飖吹我裳。昊天出华月，茂林延疏光。仲夏苦夜短，开轩纳微凉。虚明见纤毫，羽虫亦飞扬。物情无巨细，自适固其常。念彼荷戈士，穷年守边疆。何由一洗濯，执热互相望。竟夕击刁斗，喧声连万方。青紫虽被体，不如早还乡。北城悲笳发，鹳鹤号且翔。况复烦促倦，激烈思时康。——唐代·杜甫《夏夜叹》http://so.gushiwen.org/view_10454.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(10454)" id="btnShangxi10454"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(10454)" id="btnZhushi10454"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(10454)" id="btnYiwen10454" />
<script type="text/javascript">
                        document.getElementById("btnShangxi10454").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi10454").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen10454").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">夏夜叹</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_474.aspx">杜甫</a> </p>
<div class="contson" id="contson10454">
永日不可暮，炎蒸毒我肠。<br />安得万里风，飘飖吹我裳。<br />昊天出华月，茂林延疏光。<br />仲夏苦夜短，开轩纳微凉。<br />虚明见纤毫，羽虫亦飞扬。<br />物情无巨细，自适固其常。<br />念彼荷戈士，穷年守边疆。<br />何由一洗濯，执热互相望。<br />竟夕击刁斗，喧声连万方。<br />青紫虽被体，不如早还乡。<br />北城悲笳发，鹳鹤号且翔。<br />况复烦促倦，激烈思时康。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=10454&from=http://so.gushiwen.org/view.aspx?id=10454"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(10454)"><img id="copyimg10454" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('10454','http://m.gushiwen.org/view_10454.aspx')" onmouseout="outweixin(10454)"><img id="weixinimg10454" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=10454"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=6064260737"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood10454" href="javascript:goodNew('10454','http://so.gushiwen.org/view.aspx?id=10454',205)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;205</span></a></div>
</div>
<div class="toolerweima" id="weixin10454" style="background-color:aqua;"></div>
<div id="toolPlay10454" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%a4%8f%e5%a4%a9">夏天</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%bf%a7%e5%9b%bd%e5%bf%a7%e6%b0%91">忧国忧民</a>
</div>
</div>
<div id="fanyi1896" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="fanyiShow(1896)"></div>
<h2 style="margin-bottom:10px;font-weight:bold; font-size:16px;">译文及注释</h2>
<p>译文<br />漫长的白昼难以日暮，暑热熏蒸得我心如汤煮。<br />如何才能唤来万里长风，飘飘然吹起我的衣裳？<br />天空升起皎洁的月亮，茂林上承映着稀疏的月光。<br />仲夏之夜苦于太短，打开窗子享受一下微凉。<br />夜色空明能见到细微之物，昆虫也在振翅飞翔。<br />生命之体无论大小，当然都以自得其乐为常情。<br />于是我想到那些执戈的士兵，一年到头守卫边疆。<br />怎样才能使他们能够洗洗澡呢？他们苦于炎热却无可奈何地互相观望！<br />整夜在敲击刁斗忙于警戒，喧呼声响遍四面八方。<br />青紫官服虽然加在他们身上，也不如早日回到故乡。<br />华州城北吹
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:fanyiShow(1896)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="fanyiquan1896" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">译文及注释</h2>
<p><strong>译文<br /></strong>漫长的白昼难以日暮，暑热熏蒸得我心如汤煮。<br />如何才能唤来万里长风，飘飘然吹起我的衣裳？<br />天空升起皎洁的月亮，茂林上承映着稀疏的月光。<br />仲夏之夜苦于太短，打开窗子享受一下微凉。<br />夜色空明能见到细微之物，昆虫也在振翅飞翔。<br />生命之体无论大小，当然都以自得其乐为常情。<br />于是我想到那些执戈的士兵，一年到头守卫边疆。<br />怎样才能使他们能够洗洗澡呢？他们苦于炎热却无可奈何地互相观望！<br />整夜在敲击刁斗忙于警戒，喧呼声响遍四面八方。<br />青紫官服虽然加在他们身上，也不如早日回到故乡。<br />华州城北吹响了悲凉的胡笳，鹳鹤哀号着四处飞翔。<br />唉，这乱世已令人忧伤，再加上天热烦躁身体疲惫，我不禁热切地将太平时世盼想。</p>
<p><strong>注释<br /></strong>(1)乾元二年（759）夏天，华州及关中大旱，<a href="http://so.gushiwen.org/author_474.aspx">杜甫</a>写下《夏日叹》和《夏夜叹》。<br />(2)永日：夏日昼长，故称。不可暮：言似乎盼不到日落。<br />(3)毒我肠：热得我心中焦燥不安。我，一作“中”。<br />(4)昊天：夏天。华月:明月。<br />(5)延：招来。<br />(6)仲夏：夏季的第二个月，即阴历五月。<br />(7)轩：窗。<br />(8)虚明：月光。<br />(9)羽虫：夜飞的萤火虫。<br />(10)巨细：大小。<br />(11)自适：自得其乐。<br />(12)荷戈士：戍卒。<br />(13)穷年：一年到头。<br />(14)洗濯：洗涤，沐浴。<br />(15)执热：苦热。<br />(16)竟夕：整夜。<br />(17)刁斗:古代军中用具，铜制，三足有柄。白天用来做饭，夜晚敲击示警。<br />(18)青紫：贵官之服。<br />(19)北城：指华州。<br />(20)鹳鹤：水鸟名，即鹳，长嘴，能捕鱼。<br />(21)复：一作“怀”。<br />(22)时康：天下安康太平。<a title="收起" href="javascript:fanyiClose(1896)">▲</a></p>
</div>
<div class="dingpai">
<a id="ding1896" href="javascript:ding('1896','http://so.gushiwen.org/view.aspx?id=10454')">有用(14)</a><a id="pai1896" style=" margin-left:10px;" href="javascript:pai('1896','http://so.gushiwen.org/view.aspx?id=10454')">没用(120)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">海兵．杜甫诗全集详注：新疆人民出版社，2000年12月：130</span>
</div>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">2、</span>
<span style="width:610px; float:left;">彭定求等．全唐诗（上）．上海：上海古籍出版社，1986年10月版：518</span>
</div>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">创作背景<span style="display:none;">38700</span></h2>
　　该<a href="http://so.gushiwen.org/view_10454.aspx">诗</a>是<a href="http://so.gushiwen.org/author_474.aspx">杜甫</a>于乾元二年（公元759年）在华州所作。那一年，关中大旱，造成严重灾荒，灾民到处逃荒，流离失所。杜甫从洛阳回到华州以后，仍然时时忧虑动荡的局势和苦难的人民，但似乎对唐肃宗和朝廷中把持大权的重臣们已失去了信心。这一年夏天他写下《夏夜叹》一诗，明确地表达了这种心情。
</div>
<div class="dingpai">
<a id="dingsx38700" href="javascript:dingsx('38700','http://so.gushiwen.org/view.aspx?id=10454')">有用(2)</a><a id="paisx38700" style=" margin-left:10px;" href="javascript:paisx('38700','http://so.gushiwen.org/view.aspx?id=10454')">没用(0)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">王艳娥．榜样的力量-杜甫的故事．长春：北方妇女儿童出版社，2010年5月版</span>
</div>
</div>
</div>
<div id="shangxi2824" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(2824)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　《夏夜叹》描写的是窗下纳凉的情景，开始两句就是对酷暑的控诉：“永日不可暮，炎蒸毒我肠”，然后就是对清凉的期盼：“安得万里风，飘飖吹我裳”。后面就是他纳凉时的情形，接着是由此的所思：关中大旱，灾民流离失所，局势动荡，对唐肃宗和朝廷中把持大权的重臣们已失去了信心。</p>
<p>　　此章起结各四句，中二段各八句。</p>
<p>　　“永日不可暮，炎蒸毒我肠。安得万里风，飘飖吹我裳。”这四句感叹白日漫长，不知道什么时候才能到夜晚，酷暑难耐，使杜甫的心情烦躁。他希望能够唤来万里长风，疏解夏日的燥热。这几句日暮思风，引起下面八句的夜景。</p>
<p>　　“昊天出华月”以下八句，描写的是
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(2824)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan2824" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　《夏夜叹》描写的是窗下纳凉的情景，开始两句就是对酷暑的控诉：“永日不可暮，炎蒸毒我肠”，然后就是对清凉的期盼：“安得万里风，飘飖吹我裳”。后面就是他纳凉时的情形，接着是由此的所思：关中大旱，灾民流离失所，局势动荡，对唐肃宗和朝廷中把持大权的重臣们已失去了信心。</p>
<p>　　此章起结各四句，中二段各八句。</p>
<p>　　“永日不可暮，炎蒸毒我肠。安得万里风，飘飖吹我裳。”这四句感叹白日漫长，不知道什么时候才能到夜晚，酷暑难耐，使<a href="http://so.gushiwen.org/author_474.aspx">杜甫</a>的心情烦躁。他希望能够唤来万里长风，疏解夏日的燥热。这几句日暮思风，引起下面八句的夜景。</p>
<p>　　“昊天出华月”以下八句，描写的是夏日夜凉之景：天空升起皎洁的月亮，茂林上承映着稀疏的月光。杜甫感叹仲夏之夜太过于短暂，白日漫长。他的<a href="http://so.gushiwen.org/view_10454.aspx">诗</a>真是道出了人民的心声啊，夏日的夜晚哪里是微凉啊，只能说不是很热罢了，要是夜再长一些，也许会凉快点儿！他打开窗户，能看到夜色下的细微之物、昆虫振翅飞翔。于是，他便由此联想到生命之体无论大小，当然都以自得其乐为常情。物情各适，起下文征人。</p>
<p>　　“念彼荷戈士”以下八句，描写的是夜热之感。杜甫由景联想到人，想到那些执戈的士兵，一年到头守卫边疆，想到他们的痛苦，炎炎夏日怎么才能使他们能够洗澡呢？他们苦于炎热，却只能无可奈何！他们整夜在敲击刁斗忙于警戒，虽然身穿官服，却还不如早日回到故乡。</p>
<p>　　“北城悲笳发，鹳鹤号且翔。况复烦促倦，激烈思时康。”末四句乃夜触所闻，而伤叹世事也，他期盼着太平盛世。在此时，他似乎对唐肃宗和朝廷中把持大权的重臣们已失去了信心。<a title="收起" href="javascript:shangxiClose(2824)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx2824" href="javascript:dingsx('2824','http://so.gushiwen.org/view.aspx?id=10454')">有用(30)</a><a id="paisx2824" style=" margin-left:10px;" href="javascript:paisx('2824','http://so.gushiwen.org/view.aspx?id=10454')">没用(135)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">海兵．杜甫诗全集详注：新疆人民出版社，2000年12月：130</span>
</div>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor474">杜甫（712－770），字子美，自号少陵野老，世称“杜工部”、“杜少陵”等，汉族，河南府巩县（今河南省巩义市）人，唐代伟大的现实主义诗人，杜甫被世人尊为“诗圣”，其诗被称为“诗史”。杜甫与李白合称“李杜”，为了跟另外两位诗人李商隐与杜牧即“小李杜”区别开来，杜甫与李白又合称“大李杜”。他忧国忧民，人格高尚，他的约1400余首诗被保留了下来，诗艺精湛，在中国古典诗歌中备受推崇，影响深远。759-766年间曾居成都，后世有杜甫草堂纪念。http://so.gushiwen.org/author_474.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_474.aspx"><img src="http://img.gushiwen.org/authorImg/dufu.jpg" width="105" height="150" alt="杜甫"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_474.aspx"><b>杜甫</b></a></p>
<p style=" margin:0px;">杜甫（712－770），字子美，自号少陵野老，世称“杜工部”、“杜少陵”等，汉族，河南府巩县（今河南省巩义市）人，唐代伟大的现实主义诗人，杜甫被世人尊为“诗圣”，其诗被称为“诗史”。杜甫与李白合称“李杜”，为了跟另外两位诗人李商隐与杜牧即“小李杜”区别开来，杜甫与李白又合称“大李杜”。他忧国忧民，人格高尚，他的约1400余首诗被保留了下来，诗艺精湛，在中国古典诗歌中备受推崇，影响深远。759-766年间曾居成都，后世有杜甫草堂纪念。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=474&from=http://so.gushiwen.org/view.aspx?id=10454"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(474)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('474','http://m.gushiwen.org/author_474.aspx')" onmouseout="outweixinAuthor(474)"><img id="weixinAuthorImg474" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor474" href="javascript:goodAuthorNew('474','http://so.gushiwen.org/view.aspx?id=10454',3568)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3568</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor474" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare21173">田家少闲月，五月人倍忙。夜来南风起，小麦覆陇黄。妇姑荷箪食，童稚携壶浆，相随饷田去，丁壮在南冈。足蒸暑土气，背灼炎天光，力尽不知热，但惜夏日长。复有贫妇人，抱子在其旁，右手秉遗穗，左臂悬敝筐。听其相顾言，闻者为悲伤。家田输税尽，拾此充饥肠。今我何功德？曾不事农桑。吏禄三百石，岁晏有余粮，念此私自愧，尽日不能忘。——唐代·白居易《观刈麦》http://so.gushiwen.org/view_21173.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(21173)" id="btnShangxi21173"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(21173)" id="btnZhushi21173"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(21173)" id="btnYiwen21173" />
<script type="text/javascript">
                        document.getElementById("btnShangxi21173").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi21173").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen21173").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_21173.aspx"><b>观刈麦</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e7%99%bd%e5%b1%85%e6%98%93">白居易</a></p>
<div class="contson" id="contson21173">
田家少闲月，五月人倍忙。<br />夜来南风起，小麦覆陇黄。<br />妇姑荷箪食，童稚携壶浆，<br />相随饷田去，丁壮在南冈。<br />足蒸暑土气，背灼炎天光，<br />力尽不知热，但惜夏日长。<br />复有贫妇人，抱子在其旁，<br />右手秉遗穗，左臂悬敝筐。<br />听其相顾言，闻者为悲伤。<br />家田输税尽，拾此充饥肠。<br />今我何功德？曾不事农桑。<br />吏禄三百石，岁晏有余粮，<br />念此私自愧，尽日不能忘。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=21173&from=http://so.gushiwen.org/view.aspx?id=10454"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(21173)"><img id="copyimg21173" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('21173','http://m.gushiwen.org/view_21173.aspx')" onmouseout="outweixin(21173)"><img id="weixinimg21173" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood21173" href="javascript:goodNew('21173','http://so.gushiwen.org/view.aspx?id=10454',4313)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;4313</span></a></div>
</div>
<div id="toolCopy21173" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin21173" style="background-color:aqua;"></div>
<div id="toolPlay21173" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%88%9d%e4%b8%ad%e5%8f%a4%e8%af%97">初中古诗</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%a4%8f%e5%a4%a9">夏天</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%9c%e6%b0%91">农民</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%94%9f%e6%b4%bb">生活</a>
<span>，</span><a href="/type.aspx?p=1&t=%e8%ae%bd%e5%96%bb">讽喻</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare72946">松阴一架半弓苔，偶欲看书又懒开。戏掬清泉洒蕉叶，儿童误认雨声来。——宋代·杨万里《闲居初夏午睡起·其二》http://so.gushiwen.org/view_72946.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(72946)" id="btnShangxi72946"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(72946)" id="btnZhushi72946"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(72946)" id="btnYiwen72946" />
<script type="text/javascript">
                        document.getElementById("btnShangxi72946").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi72946").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen72946").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_72946.aspx"><b>闲居初夏午睡起·其二</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%9d%a8%e4%b8%87%e9%87%8c">杨万里</a></p>
<div class="contson" id="contson72946">
松阴一架半弓苔，偶欲看书又懒开。<br />戏掬清泉洒蕉叶，儿童误认雨声来。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=72946&from=http://so.gushiwen.org/view.aspx?id=10454"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(72946)"><img id="copyimg72946" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('72946','http://m.gushiwen.org/view_72946.aspx')" onmouseout="outweixin(72946)"><img id="weixinimg72946" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood72946" href="javascript:goodNew('72946','http://so.gushiwen.org/view.aspx?id=10454',37)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;37</span></a></div>
</div>
<div id="toolCopy72946" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin72946" style="background-color:aqua;"></div>
<div id="toolPlay72946" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%a4%8f%e5%a4%a9">夏天</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%94%9f%e6%b4%bb">生活</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%96%9c%e7%88%b1">喜爱</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare71497">长夏村墟风日清，檐牙燕雀已生成。蝶衣晒粉花枝舞，蛛网添丝屋角晴。落落疏帘邀月影，嘈嘈虚枕纳溪声。久斑两鬓如霜雪，直欲渔樵过此生。——宋代·张耒《夏日三首·其一》http://so.gushiwen.org/view_71497.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(71497)" id="btnShangxi71497"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(71497)" id="btnZhushi71497"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(71497)" id="btnYiwen71497" />
<script type="text/javascript">
                        document.getElementById("btnShangxi71497").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi71497").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen71497").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_71497.aspx"><b>夏日三首·其一</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%bc%a0%e8%80%92">张耒</a></p>
<div class="contson" id="contson71497">
长夏村墟风日清，檐牙燕雀已生成。<br />蝶衣晒粉花枝舞，蛛网添丝屋角晴。<br />落落疏帘邀月影，嘈嘈虚枕纳溪声。<br />久斑两鬓如霜雪，直欲渔樵过此生。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=71497&from=http://so.gushiwen.org/view.aspx?id=10454"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(71497)"><img id="copyimg71497" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('71497','http://m.gushiwen.org/view_71497.aspx')" onmouseout="outweixin(71497)"><img id="weixinimg71497" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood71497" href="javascript:goodNew('71497','http://so.gushiwen.org/view.aspx?id=10454',53)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;53</span></a></div>
</div>
<div id="toolCopy71497" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin71497" style="background-color:aqua;"></div>
<div id="toolPlay71497" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%a4%8f%e5%a4%a9">夏天</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%bd%92%e9%9a%90">归隐</a>
<span>，</span><a href="/type.aspx?p=1&t=%e9%97%b2%e9%80%82">闲适</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%94%9f%e6%b4%bb">生活</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_534.aspx">自与东君作别，刬地无聊。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2308.aspx">行人怅望苏台柳，曾与吴王扫落花。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
