
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
一百五日夜对月原文、翻译及赏析_杜甫古诗_古诗文网
</title>
<meta name="description" content="无家对寒食，有泪如金波。斫却月中桂，清光应更多。仳离放红蕊，想像嚬青蛾。牛女漫愁思，秋期犹渡河。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_10837.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_10837.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare10837">无家对寒食，有泪如金波。斫却月中桂，清光应更多。仳离放红蕊，想像嚬青蛾。牛女漫愁思，秋期犹渡河。——唐代·杜甫《一百五日夜对月》http://so.gushiwen.org/view_10837.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(10837)" id="btnShangxi10837"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(10837)" id="btnZhushi10837"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(10837)" id="btnYiwen10837" />
<script type="text/javascript">
                        document.getElementById("btnShangxi10837").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi10837").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen10837").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">一百五日夜对月</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_474.aspx">杜甫</a> </p>
<div class="contson" id="contson10837">
<p>无家对寒食，有泪如金波。<br />斫却月中桂，清光应更多。<br />仳离放红蕊，想像嚬青蛾。<br />牛女漫愁思，秋期犹渡河。</p>
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=10837&from=http://so.gushiwen.org/view.aspx?id=10837"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(10837)"><img id="copyimg10837" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('10837','http://m.gushiwen.org/view_10837.aspx')" onmouseout="outweixin(10837)"><img id="weixinimg10837" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=10837"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=9690107785"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood10837" href="javascript:goodNew('10837','http://so.gushiwen.org/view.aspx?id=10837',34)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;34</span></a></div>
</div>
<div class="toolerweima" id="weixin10837" style="background-color:aqua;"></div>
<div id="toolPlay10837" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e7%a6%bb%e6%84%81">离愁</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%9d%e5%bf%b5">思念</a>
</div>
</div>
<div id="fanyi37637" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="fanyiShow(37637)"></div>
<h2 style="margin-bottom:10px;font-weight:bold; font-size:16px;">译文及注释</h2>
<p>译文<br />寒食节的夜晚，我没有家人伴在身边，怀念起亲人，热泪如金波一样流出来。<br />如果砍去了月中的桂树，月亮的光辉会更加清澈皎洁吧？这样我就可以借明月的光辉给家人传递思念了。<br />月亮偏在离别时散播光泽，想必思念故人会使得妻子为之蹙眉吧。<br />牛郎织女每年秋天七夕之日尚能团聚，可是我与妻子团聚之时却不知在何日。</p>
<p>注释<br />⑴一百五日：即寒食日。南朝梁宗懔《荆楚岁时记》：“去冬至节一百五日，即有疾风甚雨，谓之寒食。”<br />⑵无家：没有房舍，没有家庭。此处说的是没有家人和自己在一起。汉班彪《北征赋》：“野萧条以莽荡，迥千里而无家。”寒食：
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:fanyiShow(37637)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="fanyiquan37637" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">译文及注释</h2>
<p><strong>译文</strong><br />寒食节的夜晚，我没有家人伴在身边，怀念起亲人，热泪如金波一样流出来。<br />如果砍去了月中的桂树，月亮的光辉会更加清澈皎洁吧？这样我就可以借明月的光辉给家人传递思念了。<br />月亮偏在离别时散播光泽，想必思念故人会使得妻子为之蹙眉吧。<br />牛郎织女每年秋天七夕之日尚能团聚，可是我与妻子团聚之时却不知在何日。</p>
<p><strong>注释</strong><br />⑴一百五日：即寒食日。南朝梁宗懔《荆楚岁时记》：“去冬至节一百五日，即有疾风甚雨，谓之寒食。”<br />⑵无家：没有房舍，没有家庭。此处说的是没有家人和自己在一起。汉<a href="http://so.gushiwen.org/author_119.aspx">班彪</a>《北征赋》：“野萧条以莽荡，迥千里而无家。”寒食：即寒食节，亦称“禁烟节”、 “百五节”，在农历冬至后一百零五日，清明节前一二天。<br />⑶金波：形容月光浮动，因亦即指月光。《汉书·礼乐志》：“月穆穆以金波，日华耀以宣明。”<a href="http://so.gushiwen.org/author_1448.aspx">颜师古</a>注：“言月光穆穆，若金之波流也。”<br />⑷斫（zhuó）却：砍掉。一作“折尽”。月中桂：指的是传说中月宫所植的桂树，此处暗用了吴刚伐桂的神话故事。<br />⑸清光：清亮的光辉。此指月光。<br />⑹仳（pǐ）离：别离。旧指妇女被遗弃二离去。清仇兆鳌《杜<a href="http://so.gushiwen.org/view_10837.aspx">诗</a>详注》云：“《诗》：有女仳离，啜其泣矣。仳离，别离也。”红蕊：红花。<br />⑺想像：意思是想念故人的样子。嚬（pín）：同“颦”，皱眉，蹙眉，使动用法，使……蹙眉的意思。青蛾：旧时女子用青黛画的眉。南朝宋刘铄《白纻曲》：“佳人举袖辉青蛾，掺掺擢手映鲜罗。”<br />⑻牛女：即牛郎与织女。这里写关于牛郎织女的故事。《世说新语》云“：牛、女二星，隔河而居，每七夕则渡河而会”。<br />⑼秋期：指七夕。牛郎织女约会之期。唐<a href="http://so.gushiwen.org/author_494.aspx">沈佺期</a>《牛女》诗：“粉席秋期缓，针楼别怨多。”<a title="收起" href="javascript:fanyiClose(37637)">▲</a></p>
</div>
<div class="dingpai">
<a id="ding37637" href="javascript:ding('37637','http://so.gushiwen.org/view.aspx?id=10837')">有用(6)</a><a id="pai37637" style=" margin-left:10px;" href="javascript:pai('37637','http://so.gushiwen.org/view.aspx?id=10837')">没用(0)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div id="shangxi25346" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(25346)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">创作背景</h2>
<p>　　这首诗作于唐肃宗至德二载（757）寒食节，当时正值安史之乱，诗人身在长安（今陕西西安）。诗人不说寒食，是由于冬至离妻出门，近计算其日，足见离家之久与思妻之久。</p>
<p>　　据陈贻焮的《杜甫评传》记载，安史之乱后，杜甫携家逃难至风翔东北的鄜州，他把妻子儿女安置在羌村以后，就只身奔赴肃宗所在的灵武，以期为平定安史之乱出力，不料中途为判军所俘押至长安。在困居长安的一年多时间里，他感伤国事，思念亲人，写下《春望》、《一百五日夜对月》等诗篇。《月夜》的写作时间是天宝十五载（756），当时杜甫不知妻儿的生死，望月而思念家人，写下了这首名作。而作于至德二年寒食节的这首《一百五日夜对月》可视
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(25346)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan25346" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">创作背景</h2>
<p>　　这首<a href="http://so.gushiwen.org/view_10837.aspx">诗</a>作于唐肃宗至德二载（757）寒食节，当时正值安史之乱，诗人身在长安（今陕西西安）。诗人不说寒食，是由于冬至离妻出门，近计算其日，足见离家之久与思妻之久。</p>
<p>　　据陈贻焮的《<a href="http://so.gushiwen.org/author_474.aspx">杜甫</a>评传》记载，安史之乱后，杜甫携家逃难至风翔东北的鄜州，他把妻子儿女安置在羌村以后，就只身奔赴肃宗所在的灵武，以期为平定安史之乱出力，不料中途为判军所俘押至长安。在困居长安的一年多时间里，他感伤国事，思念亲人，写下《春望》、《一百五日夜对月》等诗篇。《月夜》的写作时间是天宝十五载（756），当时杜甫不知妻儿的生死，望月而思念家人，写下了这首名作。而作于至德二年寒食节的这首《一百五日夜对月》可视为《月夜》的续篇。<a title="收起" href="javascript:shangxiClose(25346)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx25346" href="javascript:dingsx('25346','http://so.gushiwen.org/view.aspx?id=10837')">有用(2)</a><a id="paisx25346" style=" margin-left:10px;" href="javascript:paisx('25346','http://so.gushiwen.org/view.aspx?id=10837')">没用(0)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div id="shangxi25347" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(25347)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　此诗首联写到“无家对寒食，有泪如金波”。诗人写这首诗时仍然被困在沦陷的长安，而妻儿却都在鄜州，不知生死，所以此处说“无家”实际上是指没有家人在身边，也不知家人生死的意思。诗中首句“寒食”二字与题目中的“一百五日”相互照应。第二句“有泪如金波”。“有泪”同上文的“无家”相对，表现出亲人离散的悲哀。“金波”指的是月光撒入水中犹如金波。在这一句中，杜甫实际上是借“金波”来说自己的泪水。月光入水而金光闪烁，自己此时的眼泪也像金波一样涌动不止。这也是诗人对安史之乱造成人民流离失所的无声控诉。</p>
<p>　　颔联“斫却月中桂，清光应更多”两句是诗人的想象，写的是自己思念妻子却不能与之相聚时
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(25347)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan25347" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　此<a href="http://so.gushiwen.org/view_10837.aspx">诗</a>首联写到“无家对寒食，有泪如金波”。诗人写这首诗时仍然被困在沦陷的长安，而妻儿却都在鄜州，不知生死，所以此处说“无家”实际上是指没有家人在身边，也不知家人生死的意思。诗中首句“寒食”二字与题目中的“一百五日”相互照应。第二句“有泪如金波”。“有泪”同上文的“无家”相对，表现出亲人离散的悲哀。“金波”指的是月光撒入水中犹如金波。在这一句中，<a href="http://so.gushiwen.org/author_474.aspx">杜甫</a>实际上是借“金波”来说自己的泪水。月光入水而金光闪烁，自己此时的眼泪也像金波一样涌动不止。这也是诗人对安史之乱造成人民流离失所的无声控诉。</p>
<p>　　颔联“斫却月中桂，清光应更多”两句是诗人的想象，写的是自己思念妻子却不能与之相聚时所产生的奇特想象，表达了诗人渴望与妻儿团聚的期望。</p>
<p>　　颈联“仳离放红蕊，想像颦青娥”，清人仇兆鳌认为此处“青娥”应为“青蛾”。但联系前面所提到的“月波”“月中桂”，后面的 “牛女”“渡河”等词句可知作者处处在围绕“月”展开联想，叙写心怀，该句中的“青娥”也应是指与月有密切关系的嫦娥，暗指妻子，而不是“青蛾” 。再者，从句意来说，“想像颦青娥 ” 的意思是想念故人使得青娥蹙眉了，若做“青蛾”则无法与诗意相符。这句运用透过一层的写法，借自己想象妻子思念自己而忧伤不已的样子来表达夫妇分隔两地的愁苦之情。</p>
<p>　　尾联“牛女漫愁思，秋期犹渡河”两句是借用牛郎织女七夕相聚的神话故事来反衬自己与妻子不能相聚的悲苦。</p>
<p>　　在这首诗中，杜甫借用神话故事和想象将自己在寒食之夜对月思人的悲伤情怀书写的淋漓尽致。诗的结尾感叹牛郎织女尚能相聚，从侧面反映了安史之乱带来亲人天各一方的苦难。</p>
<p>　　这首诗在艺术上主要有以下特点：一是切入点的选择十分精当，即“顺时应月”。标题为“一百五日夜对月”便独具匠心。唐人诗中往往称“寒食”而不称“一百五日”。此处杜甫题为“一百五日”意在突出自己离开家人已经很长时间了。而寒食近清明，该是怀亲思祖之时，夜月可看人喜也可使人愁，于诗人而言，当时心处于伤感之期，离家之痛，流泪自悲乃为必然，因而诗首联是面临寒食自己却是有家如无家，令人难堪，潸然泪下，似月光之洒落挥下。既点了题，又引入了离愁思念，为下几句的展开作了很好的铺垫。</p>
<p>　　二是艺术想象的运用奇特又浪漫。在这首诗中，作者用吴刚伐桂表明自己的思念，用青娥长恨想象妻子的愁颜，用牛郎织女相会反衬自己的悲苦。诗人的想象始终与“月”挂钩，既要有美好的想象，又要与自己思念的闺中人联系起来。第三联想象尤为奇特而浪漫，此联分两个层次，一曰景，即诗人想象的境界中，一片丹桂花尽情绽放，呈现了满园春色的美丽情景，为下一句作伏笔；二曰想象中的闺中人，即在花色弥漫中似乎隐隐约约地看到了闺中人的思念遥远地乡亲人的愁容。诗中神话故事的运用，展现了诗人对闺中人一份更深的爱，增加了诗歌的浪漫主义色彩。</p>
<p>　　三是巧妙的开脱与宽慰。杜甫毕竟在社会中得到沉浮磨练的诗人，不能因为被拘伏而自虐于悲愁之中，应在心理上找寻一种解脱，不让怨闷自服而伤己。末联两句说，诗人抬头望月，又见到了牛郎织女二星，他们是隔天河相望，每年七月七日才能渡河相见，而仅是一次短暂重逢的机会，想来他们之间的悲伤离情更是一种难以忍受的痛苦，然而自己没有天河之隔，拘于长安也是短暂的羁束，相逢之日就在前面。相比之下，自己的确应该莞尔一笑感到一些宽慰。这就是诗人的巧妙开怀解脱。前人吴瞻泰说：“结用牛女，彼此双绾，用秋期倒应寒食，布局之整，线索之细，真所谓隐隐隆隆，蛛丝马迹也。”</p>
<p>　　此外，偷春格手法的运用同样为人所称道。律诗中一般是颔联成对而首联随意，首联成对而颔联不对者就被称做“偷春格”，杜甫的这首诗首联是对句，颔联本应是对句却并非对句。这样的谋篇打破常规，别具一格。</p>
<p>　　杜甫的这首《一百五日夜对月》正是通过神话故事，运用浪漫想象和多种艺术手法将自己在寒食节之夜思念亲人的感情表达出来的。它同《月夜》一样，是兼具了思想情感真实博大和艺术手法圆融贯通的好诗。<a title="收起" href="javascript:shangxiClose(25347)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx25347" href="javascript:dingsx('25347','http://so.gushiwen.org/view.aspx?id=10837')">有用(0)</a><a id="paisx25347" style=" margin-left:10px;" href="javascript:paisx('25347','http://so.gushiwen.org/view.aspx?id=10837')">没用(0)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">陆坚．千里共婵娟：中华中秋月亮诗词品读．杭州：西泠印社出版社，2011：206</span>
</div>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor474">杜甫（712－770），字子美，自号少陵野老，世称“杜工部”、“杜少陵”等，汉族，河南府巩县（今河南省巩义市）人，唐代伟大的现实主义诗人，杜甫被世人尊为“诗圣”，其诗被称为“诗史”。杜甫与李白合称“李杜”，为了跟另外两位诗人李商隐与杜牧即“小李杜”区别开来，杜甫与李白又合称“大李杜”。他忧国忧民，人格高尚，他的约1400余首诗被保留了下来，诗艺精湛，在中国古典诗歌中备受推崇，影响深远。759-766年间曾居成都，后世有杜甫草堂纪念。http://so.gushiwen.org/author_474.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_474.aspx"><img src="http://img.gushiwen.org/authorImg/dufu.jpg" width="105" height="150" alt="杜甫"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_474.aspx"><b>杜甫</b></a></p>
<p style=" margin:0px;">杜甫（712－770），字子美，自号少陵野老，世称“杜工部”、“杜少陵”等，汉族，河南府巩县（今河南省巩义市）人，唐代伟大的现实主义诗人，杜甫被世人尊为“诗圣”，其诗被称为“诗史”。杜甫与李白合称“李杜”，为了跟另外两位诗人李商隐与杜牧即“小李杜”区别开来，杜甫与李白又合称“大李杜”。他忧国忧民，人格高尚，他的约1400余首诗被保留了下来，诗艺精湛，在中国古典诗歌中备受推崇，影响深远。759-766年间曾居成都，后世有杜甫草堂纪念。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=474&from=http://so.gushiwen.org/view.aspx?id=10837"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(474)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('474','http://m.gushiwen.org/author_474.aspx')" onmouseout="outweixinAuthor(474)"><img id="weixinAuthorImg474" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor474" href="javascript:goodAuthorNew('474','http://so.gushiwen.org/view.aspx?id=10837',3568)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3568</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor474" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare48661">细草愁烟，幽花怯露。凭阑总是销魂处。日高深院静无人，时时海燕双飞去。带缓罗衣，香残蕙炷。天长不禁迢迢路。垂杨只解惹春风，何曾系得行人住。——宋代·晏殊《踏莎行·细草愁烟》http://so.gushiwen.org/view_48661.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(48661)" id="btnShangxi48661"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(48661)" id="btnZhushi48661"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(48661)" id="btnYiwen48661" />
<script type="text/javascript">
                        document.getElementById("btnShangxi48661").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi48661").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen48661").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_48661.aspx"><b>踏莎行·细草愁烟</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%99%8f%e6%ae%8a">晏殊</a></p>
<div class="contson" id="contson48661">
细草愁烟，幽花怯露。凭阑总是销魂处。日高深院静无人，时时海燕双飞去。<br />带缓罗衣，香残蕙炷。天长不禁迢迢路。垂杨只解惹春风，何曾系得行人住。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=48661&from=http://so.gushiwen.org/view.aspx?id=10837"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(48661)"><img id="copyimg48661" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('48661','http://m.gushiwen.org/view_48661.aspx')" onmouseout="outweixin(48661)"><img id="weixinimg48661" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood48661" href="javascript:goodNew('48661','http://so.gushiwen.org/view.aspx?id=10837',12)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;12</span></a></div>
</div>
<div id="toolCopy48661" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin48661" style="background-color:aqua;"></div>
<div id="toolPlay48661" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e6%98%a5%e5%a4%a9">春天</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%8a%92%e6%83%85">抒情</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%a6%bb%e6%84%81">离愁</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%9d%e5%bf%b5">思念</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare72907">湘帘卷处，甚离披翠影，绕檐遮住。小立吹裙，常伴春慵，掩映绣床金缕。芳心一束浑难展，清泪裹、隔年愁聚。更夜深、细听空阶雨滴，梦回无据。正是秋来寂寞，偏声声点点，助人难绪。缬被初寒，宿酒全醒，搅碎乱蛩双杵。西风落尽庭梧叶，还剩得、绿阴如许。想玉人、和露折来，曾写断肠句。——清代·纳兰性德《疏影·芭蕉》http://so.gushiwen.org/view_72907.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(72907)" id="btnShangxi72907"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(72907)" id="btnZhushi72907"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(72907)" id="btnYiwen72907" />
<script type="text/javascript">
                        document.getElementById("btnShangxi72907").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi72907").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen72907").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_72907.aspx"><b>疏影·芭蕉</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e6%b8%85%e4%bb%a3">清代</a><span>：</span><a href="/search.aspx?value=%e7%ba%b3%e5%85%b0%e6%80%a7%e5%be%b7">纳兰性德</a></p>
<div class="contson" id="contson72907">
湘帘卷处，甚离披翠影，绕檐遮住。小立吹裙，常伴春慵，掩映绣床金缕。芳心一束浑难展，清泪裹、隔年愁聚。更夜深、细听空阶雨滴，梦回无据。<br />正是秋来寂寞，偏声声点点，助人难绪。缬被初寒，宿酒全醒，搅碎乱蛩双杵。西风落尽庭梧叶，还剩得、绿阴如许。想玉人、和露折来，曾写断肠句。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=72907&from=http://so.gushiwen.org/view.aspx?id=10837"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(72907)"><img id="copyimg72907" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('72907','http://m.gushiwen.org/view_72907.aspx')" onmouseout="outweixin(72907)"><img id="weixinimg72907" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood72907" href="javascript:goodNew('72907','http://so.gushiwen.org/view.aspx?id=10837',6)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;6</span></a></div>
</div>
<div id="toolCopy72907" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin72907" style="background-color:aqua;"></div>
<div id="toolPlay72907" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%92%8f%e7%89%a9">咏物</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%80%e4%ba%ba">怀人</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%a6%bb%e6%84%81">离愁</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare51856">天生百种愁，挂在斜阳树。绿叶阴阴占得春，草满莺啼处。不见生尘步。空忆如簧语。柳外重重叠叠山，遮不断、愁来路。——宋代·徐俯《卜算子·天生百种愁》http://so.gushiwen.org/view_51856.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(51856)" id="btnShangxi51856"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(51856)" id="btnZhushi51856"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(51856)" id="btnYiwen51856" />
<script type="text/javascript">
                        document.getElementById("btnShangxi51856").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi51856").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen51856").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_51856.aspx"><b>卜算子·天生百种愁</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%be%90%e4%bf%af">徐俯</a></p>
<div class="contson" id="contson51856">
天生百种愁，挂在斜阳树。绿叶阴阴占得春，草满莺啼处。<br />不见生尘步。空忆如簧语。柳外重重叠叠山，遮不断、愁来路。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=51856&from=http://so.gushiwen.org/view.aspx?id=10837"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(51856)"><img id="copyimg51856" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('51856','http://m.gushiwen.org/view_51856.aspx')" onmouseout="outweixin(51856)"><img id="weixinimg51856" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood51856" href="javascript:goodNew('51856','http://so.gushiwen.org/view.aspx?id=10837',38)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;38</span></a></div>
</div>
<div id="toolCopy51856" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin51856" style="background-color:aqua;"></div>
<div id="toolPlay51856" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e7%a6%bb%e6%84%81">离愁</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1096.aspx">日暮乡关何处是？烟波江上使人愁。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5530.aspx">五更枥马静无声。邻鸡犹怕惊。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
