
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
收京三首原文、翻译及赏析_杜甫古诗_古诗文网
</title>
<meta name="description" content="仙仗离丹极，妖星照玉除。须为下殿走，不可好楼居。暂屈汾阳驾，聊飞燕将书。依然七庙略，更与万方初。生意甘衰白，天涯正寂寥。忽闻哀痛诏，又下圣明朝。羽翼怀商老，文思忆帝尧。叨逢罪己日，" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_10850.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_10850.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare10850">仙仗离丹极，妖星照玉除。须为下殿走，不可好楼居。暂屈汾阳驾，聊飞燕将书。依然七庙略，更与万方初。生意甘衰白，天涯正寂寥。忽闻哀痛诏，又下圣明朝。羽翼怀商老，文思忆帝尧。叨逢罪己日，沾洒望青霄。汗马收宫阙，春城铲贼壕。赏应歌杕杜，归及荐樱桃。杂虏横戈数，功臣甲第高。万方频送喜，无乃圣躬劳。——唐代·杜甫《收京三首》http://so.gushiwen.org/view_10850.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(10850)" id="btnShangxi10850"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(10850)" id="btnZhushi10850"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(10850)" id="btnYiwen10850" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">收京三首</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_474.aspx">杜甫</a> </p>
<div class="contson" id="contson10850">
仙仗离丹极，妖星照玉除。须为下殿走，不可好楼居。
<br />
暂屈汾阳驾，聊飞燕将书。依然七庙略，更与万方初。
<br />
生意甘衰白，天涯正寂寥。忽闻哀痛诏，又下圣明朝。
<br />
羽翼怀商老，文思忆帝尧。叨逢罪己日，沾洒望青霄。
<br />
汗马收宫阙，春城铲贼壕。赏应歌杕杜，归及荐樱桃。
<br />
杂虏横戈数，功臣甲第高。万方频送喜，无乃圣躬劳。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=10850&from=http://so.gushiwen.org/view.aspx?id=10850"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(10850)"><img id="copyimg10850" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('10850','http://m.gushiwen.org/view_10850.aspx')" onmouseout="outweixin(10850)"><img id="weixinimg10850" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=10850"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=1858316834"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood10850" href="javascript:goodNew('10850','http://so.gushiwen.org/view.aspx?id=10850',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin10850" style="background-color:aqua;"></div>
<div id="toolPlay10850" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor474">杜甫（712－770），字子美，自号少陵野老，世称“杜工部”、“杜少陵”等，汉族，河南府巩县（今河南省巩义市）人，唐代伟大的现实主义诗人，杜甫被世人尊为“诗圣”，其诗被称为“诗史”。杜甫与李白合称“李杜”，为了跟另外两位诗人李商隐与杜牧即“小李杜”区别开来，杜甫与李白又合称“大李杜”。他忧国忧民，人格高尚，他的约1400余首诗被保留了下来，诗艺精湛，在中国古典诗歌中备受推崇，影响深远。759-766年间曾居成都，后世有杜甫草堂纪念。http://so.gushiwen.org/author_474.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_474.aspx"><img src="http://img.gushiwen.org/authorImg/dufu.jpg" width="105" height="150" alt="杜甫"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_474.aspx"><b>杜甫</b></a></p>
<p style=" margin:0px;">杜甫（712－770），字子美，自号少陵野老，世称“杜工部”、“杜少陵”等，汉族，河南府巩县（今河南省巩义市）人，唐代伟大的现实主义诗人，杜甫被世人尊为“诗圣”，其诗被称为“诗史”。杜甫与李白合称“李杜”，为了跟另外两位诗人李商隐与杜牧即“小李杜”区别开来，杜甫与李白又合称“大李杜”。他忧国忧民，人格高尚，他的约1400余首诗被保留了下来，诗艺精湛，在中国古典诗歌中备受推崇，影响深远。759-766年间曾居成都，后世有杜甫草堂纪念。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=474&from=http://so.gushiwen.org/view.aspx?id=10850"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(474)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('474','http://m.gushiwen.org/author_474.aspx')" onmouseout="outweixinAuthor(474)"><img id="weixinAuthorImg474" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor474" href="javascript:goodAuthorNew('474','http://so.gushiwen.org/view.aspx?id=10850',3568)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3568</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor474" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare27861">南行步步远浮尘，更近青山昨夜邻。高铎数声秋撼玉，霁河千里晓横银。红蕖影落前池净，绿稻香来野径频。终日官闲无一事，不妨长醉是游人。——唐代·杜牧《宿长庆寺》http://so.gushiwen.org/view_27861.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(27861)" id="btnShangxi27861"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(27861)" id="btnZhushi27861"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(27861)" id="btnYiwen27861" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_27861.aspx"><b>宿长庆寺</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%9c%e7%89%a7">杜牧</a></p>
<div class="contson" id="contson27861">
南行步步远浮尘，更近青山昨夜邻。高铎数声秋撼玉，
<br />
霁河千里晓横银。红蕖影落前池净，绿稻香来野径频。
<br />
终日官闲无一事，不妨长醉是游人。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=27861&from=http://so.gushiwen.org/view.aspx?id=10850"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(27861)"><img id="copyimg27861" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('27861','http://m.gushiwen.org/view_27861.aspx')" onmouseout="outweixin(27861)"><img id="weixinimg27861" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood27861" href="javascript:goodNew('27861','http://so.gushiwen.org/view.aspx?id=10850',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy27861" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin27861" style="background-color:aqua;"></div>
<div id="toolPlay27861" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare43555">春日异秋风，何为怨别同。潮回芳渚没，花落昼山空。旅候闻嘶马，残阳望断鸿。应思右内史，相见直城中。——唐代·皎然《送严明府入关谒黎京兆》http://so.gushiwen.org/view_43555.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(43555)" id="btnShangxi43555"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(43555)" id="btnZhushi43555"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(43555)" id="btnYiwen43555" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_43555.aspx"><b>送严明府入关谒黎京兆</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e7%9a%8e%e7%84%b6">皎然</a></p>
<div class="contson" id="contson43555">
春日异秋风，何为怨别同。潮回芳渚没，花落昼山空。
<br />
旅候闻嘶马，残阳望断鸿。应思右内史，相见直城中。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=43555&from=http://so.gushiwen.org/view.aspx?id=10850"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(43555)"><img id="copyimg43555" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('43555','http://m.gushiwen.org/view_43555.aspx')" onmouseout="outweixin(43555)"><img id="weixinimg43555" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood43555" href="javascript:goodNew('43555','http://so.gushiwen.org/view.aspx?id=10850',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy43555" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin43555" style="background-color:aqua;"></div>
<div id="toolPlay43555" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare41995">背云冲石出深山，浅碧泠泠一带寒。不独有声流出此，会归沧海助波澜。——唐代·周濆《山下水》http://so.gushiwen.org/view_41995.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(41995)" id="btnShangxi41995"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(41995)" id="btnZhushi41995"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(41995)" id="btnYiwen41995" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_41995.aspx"><b>山下水</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%91%a8%e6%bf%86">周濆</a></p>
<div class="contson" id="contson41995">
背云冲石出深山，浅碧泠泠一带寒。
<br />
不独有声流出此，会归沧海助波澜。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=41995&from=http://so.gushiwen.org/view.aspx?id=10850"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(41995)"><img id="copyimg41995" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('41995','http://m.gushiwen.org/view_41995.aspx')" onmouseout="outweixin(41995)"><img id="weixinimg41995" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood41995" href="javascript:goodNew('41995','http://so.gushiwen.org/view.aspx?id=10850',6)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;6</span></a></div>
</div>
<div id="toolCopy41995" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin41995" style="background-color:aqua;"></div>
<div id="toolPlay41995" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3282.aspx">香炉瀑布遥相望，回崖沓嶂凌苍苍。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5641.aspx">铜华沧海，愁霾重嶂，燕北雁南天外。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
