
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
唐铙歌鼓吹曲十二首·其四原文、翻译及赏析_柳宗元古诗_古诗文网
</title>
<meta name="description" content="泾水黄，陇野茫。负太白，腾天狼。有鸟鸷立，羽翼张。钩喙决前，钜趯傍。怒飞饥啸，翾不可当。老雄死，子复良。巢岐饮渭，肆翱翔。顿地紘，提天纲。列缺掉帜，招摇耀鋩。鬼神来助，梦嘉祥。脑涂" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_1121.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_1121.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare1121">泾水黄，陇野茫。负太白，腾天狼。有鸟鸷立，羽翼张。钩喙决前，钜趯傍。怒飞饥啸，翾不可当。老雄死，子复良。巢岐饮渭，肆翱翔。顿地紘，提天纲。列缺掉帜，招摇耀鋩。鬼神来助，梦嘉祥。脑涂原野，魄飞扬。星辰复，恢一方。——唐代·柳宗元《唐铙歌鼓吹曲十二首·其四》http://so.gushiwen.org/view_1121.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(1121)" id="btnShangxi1121"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(1121)" id="btnZhushi1121"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(1121)" id="btnYiwen1121" />
<script type="text/javascript">
                        document.getElementById("btnShangxi1121").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi1121").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen1121").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">唐铙歌鼓吹曲十二首·其四</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_646.aspx">柳宗元</a> </p>
<div class="contson" id="contson1121">
泾水黄，陇野茫。<br />负太白，腾天狼。<br />有鸟鸷立，羽翼张。<br />钩喙决前，钜趯傍。<br />怒飞饥啸，翾不可当。<br />老雄死，子复良。<br />巢岐饮渭，肆翱翔。<br />顿地紘，提天纲。<br />列缺掉帜，招摇耀鋩。<br />鬼神来助，梦嘉祥。<br />脑涂原野，魄飞扬。<br />星辰复，恢一方。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=1121&from=http://so.gushiwen.org/view.aspx?id=1121"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(1121)"><img id="copyimg1121" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('1121','http://m.gushiwen.org/view_1121.aspx')" onmouseout="outweixin(1121)"><img id="weixinimg1121" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=1121"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=7826479912"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood1121" href="javascript:goodNew('1121','http://so.gushiwen.org/view.aspx?id=1121',8)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;8</span></a></div>
</div>
<div class="toolerweima" id="weixin1121" style="background-color:aqua;"></div>
<div id="toolPlay1121" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%92%8f%e5%8f%b2">咏史</a>
</div>
</div>
<div id="fanyi2927" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="fanyiShow(2927)"></div>
<h2 style="margin-bottom:10px;font-weight:bold; font-size:16px;">译文及注释</h2>
<p>译文<br />泾水混浊发黄，陇西原野茫茫。<br />“太白”“天狼”失守，薛举加倍猖狂。<br />恶鸟高视鸷立，羽翼肆意伸张。<br />铁嘴钢牙列前，脚掌顿地其旁。<br />飞腾喧啸无忌，其势似不可挡。<br />不料薛举早死，其子更加猖狂。<br />秦王直驱岐渭，大鹏展翅翱翔。<br />整顿纲纪国法，布下天罗地网。<br />战旗飞动如电，刀剑耀眼放光。<br />自来鬼神相助，祥梦示教战场。<br />恶鸟肝脑涂地，仁杲魂魄飞散。<br />日月星辰归位，秦王造福一方。</p>
<p>注释<br />[1]隋朝末年，河东汾阳人薛举与其子仁杲（găo 搞）反于陇西，自称
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:fanyiShow(2927)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="fanyiquan2927" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">译文及注释</h2>
<p><strong>译文</strong><br />泾水混浊发黄，陇西原野茫茫。<br />“太白”“天狼”失守，薛举加倍猖狂。<br />恶鸟高视鸷立，羽翼肆意伸张。<br />铁嘴钢牙列前，脚掌顿地其旁。<br />飞腾喧啸无忌，其势似不可挡。<br />不料薛举早死，其子更加猖狂。<br />秦王直驱岐渭，大鹏展翅翱翔。<br />整顿纲纪国法，布下天罗地网。<br />战旗飞动如电，刀剑耀眼放光。<br />自来鬼神相助，祥梦示教战场。<br />恶鸟肝脑涂地，仁杲魂魄飞散。<br />日月星辰归位，秦王造福一方。</p>
<p><strong>注释</strong><br />[1]隋朝末年，河东汾阳人薛举与其子仁杲（găo 搞）反于陇西，自称西秦霸王。公元616年（大历十三年）僭（jiàn 见）帝号于兰州，公元618年（唐武德元年）举军谋取长安时，举染疾而卒，其子仁杲立，为秦王<a href="http://so.gushiwen.org/author_582.aspx">李世民</a>所破，仁杲率部归降，被斩，陇西遂平。《泾水黄》所叙即为此事。<br />[2]太白、天狼：均为秦之疆域；又，古人以太白主杀伐，故用以喻兵戎，以天狼喻贪残。这两句<a href="http://so.gushiwen.org/view_1121.aspx">诗</a>一语双关。负：仗恃。<br />[3]喙（huì 会）：鸟嘴。钜，一作“距”，指禽类脚掌后的尖端突起的部分。趯（tì 替）：跳跃的样子。<br />[4]翾（xuān 宣）：飞翔。<br />[5]老雄死：指公元618年（武德元年）薛举率部谋取长安，临发时染病，未几而卒。良，甚也：意思是更加厉害。<br />[6]巢岐饮渭：指秦王李世民的军队进驻关中之地。巢：用如动词，筑巢，引申为安营扎寨。岐：岐山。渭：渭水。<br />[7]紘（hóng 红）：成组的绳子。地紘：系地的大绳，喻维系国家的法律。纲：鱼网上的总绳，引申为事物的主要部分。天纲：天布的罗网，亦喻国家的法律。<br />[8]列缺：闪电。帜：旗帜。招摇：星名，在北斗杓端，为北斗第七星。鋩（máng 芒）：刀剑的尖端部分。<a title="收起" href="javascript:fanyiClose(2927)">▲</a></p>
</div>
<div class="dingpai">
<a id="ding2927" href="javascript:ding('2927','http://so.gushiwen.org/view.aspx?id=1121')">有用(1)</a><a id="pai2927" style=" margin-left:10px;" href="javascript:pai('2927','http://so.gushiwen.org/view.aspx?id=1121')">没用(0)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">简析<span style="display:none;">4214</span></h2>
　　《唐铙歌鼓吹曲·泾水黄》是《唐铙歌鼓吹曲十二篇》的第四首，写秦王<a href="http://so.gushiwen.org/author_582.aspx">李世民</a>率师平定叛逆薛举父子之事。全<a href="http://so.gushiwen.org/view_1121.aspx">诗</a>可分为两大层，第一层写薛举嚣张，似“翾不可当”；子承父业，仁杲更是了得，“巢岐饮渭，肆翱翔”简直无人可敌。第二层写世民之神武，尽极赞美颂扬之词；他“顿地紘，提天纲”，威风八面；因顺天顺民，竟使“鬼神来助，梦嘉祥”；经艰苦卓绝，终于使“星辰复，恢一方”，功不可没。第一层写薛举父子之势力乃为衬托太宗神奇之武功，笔法曲折翻驳，先喻后正，用语古峭，险劲有锋，令人赏玩不已。
</div>
<div class="dingpai">
<a id="dingsx4214" href="javascript:dingsx('4214','http://so.gushiwen.org/view.aspx?id=1121')">有用(1)</a><a id="paisx4214" style=" margin-left:10px;" href="javascript:paisx('4214','http://so.gushiwen.org/view.aspx?id=1121')">没用(0)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor646">柳宗元（773年－819年），字子厚，唐代河东（今山西运城）人，杰出诗人、哲学家、儒学家乃至成就卓著的政治家，唐宋八大家之一。著名作品有《永州八记》等六百多篇文章，经后人辑为三十卷，名为《柳河东集》。因为他是河东人，人称柳河东，又因终于柳州刺史任上，又称柳柳州。柳宗元与韩愈同为中唐古文运动的领导人物，并称“韩柳”。在中国文化史上，其诗、文成就均极为杰出，可谓一时难分轩轾。http://so.gushiwen.org/author_646.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_646.aspx"><img src="http://img.gushiwen.org/authorImg/liuzongyuan.jpg" width="105" height="150" alt="柳宗元"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_646.aspx"><b>柳宗元</b></a></p>
<p style=" margin:0px;">柳宗元（773年－819年），字子厚，唐代河东（今山西运城）人，杰出诗人、哲学家、儒学家乃至成就卓著的政治家，唐宋八大家之一。著名作品有《永州八记》等六百多篇文章，经后人辑为三十卷，名为《柳河东集》。因为他是河东人，人称柳河东，又因终于柳州刺史任上，又称柳柳州。柳宗元与韩愈同为中唐古文运动的领导人物，并称“韩柳”。在中国文化史上，其诗、文成就均极为杰出，可谓一时难分轩轾。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=646&from=http://so.gushiwen.org/view.aspx?id=1121"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(646)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('646','http://m.gushiwen.org/author_646.aspx')" onmouseout="outweixinAuthor(646)"><img id="weixinAuthorImg646" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor646" href="javascript:goodAuthorNew('646','http://so.gushiwen.org/view.aspx?id=1121',952)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;952</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor646" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare57760">夜读《李广传》，不能寐。因念晁楚老、杨民瞻约同居山间，戏用李广事，赋以寄之。故将军饮罢夜归来，长亭解雕鞍。恨灞陵醉尉，匆匆未识，桃李无言。射虎山横一骑，裂石响惊弦。落魄封侯事，岁晚田间。谁向桑麻杜曲，要短衣匹马，移住南山？看风流慷慨，谈笑过残年。汉开边、功名万里，甚当时、健者也曾闲。纱窗外、斜风细雨，一阵轻寒。——宋代·辛弃疾《八声甘州·故将军饮罢夜归来》http://so.gushiwen.org/view_57760.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(57760)" id="btnShangxi57760"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(57760)" id="btnZhushi57760"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(57760)" id="btnYiwen57760" />
<script type="text/javascript">
                        document.getElementById("btnShangxi57760").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi57760").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen57760").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_57760.aspx"><b>八声甘州·故将军饮罢夜归来</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%be%9b%e5%bc%83%e7%96%be">辛弃疾</a></p>
<div class="contson" id="contson57760">
<p><span style="font-family:SimSun;">夜读《李广传》，不能寐。因念晁楚老、杨民瞻约同居山间，戏用李广事，赋以寄之。</span></p>
<p>故将军饮罢夜归来，长亭解雕鞍。恨灞陵醉尉，匆匆未识，桃李无言。射虎山横一骑，裂石响惊弦。落魄封侯事，岁晚田间。<br />谁向桑麻杜曲，要短衣匹马，移住南山？看风流慷慨，谈笑过残年。汉开边、功名万里，甚当时、健者也曾闲。纱窗外、斜风细雨，一阵轻寒。 </p>
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=57760&from=http://so.gushiwen.org/view.aspx?id=1121"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(57760)"><img id="copyimg57760" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('57760','http://m.gushiwen.org/view_57760.aspx')" onmouseout="outweixin(57760)"><img id="weixinimg57760" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood57760" href="javascript:goodNew('57760','http://so.gushiwen.org/view.aspx?id=1121',62)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;62</span></a></div>
</div>
<div id="toolCopy57760" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin57760" style="background-color:aqua;"></div>
<div id="toolPlay57760" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%92%8f%e5%8f%b2%e6%80%80%e5%8f%a4">咏史怀古</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%84%9f%e6%85%a8">感慨</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%8a%92%e6%80%80">抒怀</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare28855">龙池赐酒敞云屏，羯鼓声高众乐停。夜半宴归宫漏永，薛王沉醉寿王醒。——唐代·李商隐《龙池》http://so.gushiwen.org/view_28855.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(28855)" id="btnShangxi28855"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(28855)" id="btnZhushi28855"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(28855)" id="btnYiwen28855" />
<script type="text/javascript">
                        document.getElementById("btnShangxi28855").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi28855").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen28855").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_28855.aspx"><b>龙池</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e5%95%86%e9%9a%90">李商隐</a></p>
<div class="contson" id="contson28855">
龙池赐酒敞云屏，羯鼓声高众乐停。<br />夜半宴归宫漏永，薛王沉醉寿王醒。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=28855&from=http://so.gushiwen.org/view.aspx?id=1121"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(28855)"><img id="copyimg28855" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('28855','http://m.gushiwen.org/view_28855.aspx')" onmouseout="outweixin(28855)"><img id="weixinimg28855" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood28855" href="javascript:goodNew('28855','http://so.gushiwen.org/view.aspx?id=1121',16)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;16</span></a></div>
</div>
<div id="toolCopy28855" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin28855" style="background-color:aqua;"></div>
<div id="toolPlay28855" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%92%8f%e5%8f%b2">咏史</a>
<span>，</span><a href="/type.aspx?p=1&t=%e8%ae%bd%e5%88%ba">讽刺</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare66897">澹烟横，层雾敛。胜概分雄占。月下鸣榔，风急怒涛飐。关河无限清愁，不堪临鉴。正霜鬓、秋风尘染。 漫登览。极目万里沙场，事业频看剑。古往今来，南北限天堑。倚楼谁弄新声，重城正掩。历历数、西州更点。——宋代·岳珂《祝英台近·北固亭》http://so.gushiwen.org/view_66897.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(66897)" id="btnShangxi66897"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(66897)" id="btnZhushi66897"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(66897)" id="btnYiwen66897" />
<script type="text/javascript">
                        document.getElementById("btnShangxi66897").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi66897").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen66897").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_66897.aspx"><b>祝英台近·北固亭</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%b2%b3%e7%8f%82">岳珂</a></p>
<div class="contson" id="contson66897">
澹烟横，层雾敛。胜概分雄占。月下鸣榔，风急怒涛飐。关河无限清愁，不堪临鉴。正霜鬓、秋风尘染。 <br />漫登览。极目万里沙场，事业频看剑。古往今来，南北限天堑。倚楼谁弄新声，重城正掩。历历数、西州更点。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=66897&from=http://so.gushiwen.org/view.aspx?id=1121"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(66897)"><img id="copyimg66897" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('66897','http://m.gushiwen.org/view_66897.aspx')" onmouseout="outweixin(66897)"><img id="weixinimg66897" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood66897" href="javascript:goodNew('66897','http://so.gushiwen.org/view.aspx?id=1121',15)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;15</span></a></div>
</div>
<div id="toolCopy66897" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin66897" style="background-color:aqua;"></div>
<div id="toolPlay66897" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%92%8f%e5%8f%b2%e6%80%80%e5%8f%a4">咏史怀古</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2702.aspx">意内称长短，终身荷圣情。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1292.aspx">人生亦有命，安能行叹复坐愁？</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
