
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
秋清原文、翻译及赏析_杜甫古诗_古诗文网
</title>
<meta name="description" content="高秋苏病气，白发自能梳。药饵憎加减，门庭闷扫除。杖藜还客拜，爱竹遣儿书。十月江平稳，轻舟进所如。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_11378.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_11378.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare11378">高秋苏病气，白发自能梳。药饵憎加减，门庭闷扫除。杖藜还客拜，爱竹遣儿书。十月江平稳，轻舟进所如。——唐代·杜甫《秋清》http://so.gushiwen.org/view_11378.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(11378)" id="btnShangxi11378"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(11378)" id="btnZhushi11378"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(11378)" id="btnYiwen11378" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">秋清</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_474.aspx">杜甫</a> </p>
<div class="contson" id="contson11378">
高秋苏病气，白发自能梳。药饵憎加减，门庭闷扫除。
<br />
杖藜还客拜，爱竹遣儿书。十月江平稳，轻舟进所如。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=11378&from=http://so.gushiwen.org/view.aspx?id=11378"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(11378)"><img id="copyimg11378" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('11378','http://m.gushiwen.org/view_11378.aspx')" onmouseout="outweixin(11378)"><img id="weixinimg11378" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=11378"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=9900464542"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood11378" href="javascript:goodNew('11378','http://so.gushiwen.org/view.aspx?id=11378',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin11378" style="background-color:aqua;"></div>
<div id="toolPlay11378" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor474">杜甫（712－770），字子美，自号少陵野老，世称“杜工部”、“杜少陵”等，汉族，河南府巩县（今河南省巩义市）人，唐代伟大的现实主义诗人，杜甫被世人尊为“诗圣”，其诗被称为“诗史”。杜甫与李白合称“李杜”，为了跟另外两位诗人李商隐与杜牧即“小李杜”区别开来，杜甫与李白又合称“大李杜”。他忧国忧民，人格高尚，他的约1400余首诗被保留了下来，诗艺精湛，在中国古典诗歌中备受推崇，影响深远。759-766年间曾居成都，后世有杜甫草堂纪念。http://so.gushiwen.org/author_474.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_474.aspx"><img src="http://img.gushiwen.org/authorImg/dufu.jpg" width="105" height="150" alt="杜甫"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_474.aspx"><b>杜甫</b></a></p>
<p style=" margin:0px;">杜甫（712－770），字子美，自号少陵野老，世称“杜工部”、“杜少陵”等，汉族，河南府巩县（今河南省巩义市）人，唐代伟大的现实主义诗人，杜甫被世人尊为“诗圣”，其诗被称为“诗史”。杜甫与李白合称“李杜”，为了跟另外两位诗人李商隐与杜牧即“小李杜”区别开来，杜甫与李白又合称“大李杜”。他忧国忧民，人格高尚，他的约1400余首诗被保留了下来，诗艺精湛，在中国古典诗歌中备受推崇，影响深远。759-766年间曾居成都，后世有杜甫草堂纪念。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=474&from=http://so.gushiwen.org/view.aspx?id=11378"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(474)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('474','http://m.gushiwen.org/author_474.aspx')" onmouseout="outweixinAuthor(474)"><img id="weixinAuthorImg474" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor474" href="javascript:goodAuthorNew('474','http://so.gushiwen.org/view.aspx?id=11378',3568)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3568</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor474" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare42104">千岩万壑与云连，放出雕笼任自然。叶洒惊风啼暮雨，月凝残雪饮流泉。临岐莫似三声日，避射须依绕树年。应解感恩寻太守，攀萝时复到楼前。——唐代·易思《郡城放猿献卫使君》http://so.gushiwen.org/view_42104.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(42104)" id="btnShangxi42104"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(42104)" id="btnZhushi42104"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(42104)" id="btnYiwen42104" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_42104.aspx"><b>郡城放猿献卫使君</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%98%93%e6%80%9d">易思</a></p>
<div class="contson" id="contson42104">
千岩万壑与云连，放出雕笼任自然。叶洒惊风啼暮雨，
<br />
月凝残雪饮流泉。临岐莫似三声日，避射须依绕树年。
<br />
应解感恩寻太守，攀萝时复到楼前。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=42104&from=http://so.gushiwen.org/view.aspx?id=11378"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(42104)"><img id="copyimg42104" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('42104','http://m.gushiwen.org/view_42104.aspx')" onmouseout="outweixin(42104)"><img id="weixinimg42104" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood42104" href="javascript:goodNew('42104','http://so.gushiwen.org/view.aspx?id=11378',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy42104" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin42104" style="background-color:aqua;"></div>
<div id="toolPlay42104" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare36403">日晏霜浓十二月，林疏石瘦第三溪。云沙有径萦寒烧，松屋无人闻昼鸡。几聚衣冠埋作土，当年歌舞醉如泥。早知涉世真成梦，不弃山田春雨犁。——唐代·唐彦谦《第三溪》http://so.gushiwen.org/view_36403.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(36403)" id="btnShangxi36403"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(36403)" id="btnZhushi36403"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(36403)" id="btnYiwen36403" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_36403.aspx"><b>第三溪</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%94%90%e5%bd%a6%e8%b0%a6">唐彦谦</a></p>
<div class="contson" id="contson36403">
日晏霜浓十二月，林疏石瘦第三溪。云沙有径萦寒烧，
<br />
松屋无人闻昼鸡。几聚衣冠埋作土，当年歌舞醉如泥。
<br />
早知涉世真成梦，不弃山田春雨犁。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=36403&from=http://so.gushiwen.org/view.aspx?id=11378"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(36403)"><img id="copyimg36403" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('36403','http://m.gushiwen.org/view_36403.aspx')" onmouseout="outweixin(36403)"><img id="weixinimg36403" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood36403" href="javascript:goodNew('36403','http://so.gushiwen.org/view.aspx?id=11378',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy36403" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin36403" style="background-color:aqua;"></div>
<div id="toolPlay36403" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare9104">走马上东冈，朝日照野田。野田双雉起，翻射斗回鞭。虽无百发中，聊取一笑妍。羽分绣臆碎，头弛锦鞘悬。方将悦羁旅，非关学少年。弢弓一长啸，忆在灞城阡。——唐代·韦应物《射雉》http://so.gushiwen.org/view_9104.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(9104)" id="btnShangxi9104"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(9104)" id="btnZhushi9104"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(9104)" id="btnYiwen9104" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_9104.aspx"><b>射雉</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%9f%a6%e5%ba%94%e7%89%a9">韦应物</a></p>
<div class="contson" id="contson9104">
走马上东冈，朝日照野田。野田双雉起，翻射斗回鞭。
<br />
虽无百发中，聊取一笑妍。羽分绣臆碎，头弛锦鞘悬。
<br />
方将悦羁旅，非关学少年。弢弓一长啸，忆在灞城阡。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=9104&from=http://so.gushiwen.org/view.aspx?id=11378"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(9104)"><img id="copyimg9104" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('9104','http://m.gushiwen.org/view_9104.aspx')" onmouseout="outweixin(9104)"><img id="weixinimg9104" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood9104" href="javascript:goodNew('9104','http://so.gushiwen.org/view.aspx?id=11378',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy9104" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin9104" style="background-color:aqua;"></div>
<div id="toolPlay9104" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_553.aspx">屏山遮断相思路，子规啼到无声处。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3772.aspx">安得五彩虹，驾天作长桥。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
