
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
远游原文、翻译及赏析_杜甫古诗_古诗文网
</title>
<meta name="description" content="江阔浮高栋，云长出断山。尘沙连越巂，风雨暗荆蛮。雁矫衔芦内，猿啼失木间。弊裘苏季子，历国未知还。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_11385.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_11385.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare11385">江阔浮高栋，云长出断山。尘沙连越巂，风雨暗荆蛮。雁矫衔芦内，猿啼失木间。弊裘苏季子，历国未知还。——唐代·杜甫《远游》http://so.gushiwen.org/view_11385.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(11385)" id="btnShangxi11385"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(11385)" id="btnZhushi11385"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(11385)" id="btnYiwen11385" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">远游</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_474.aspx">杜甫</a> </p>
<div class="contson" id="contson11385">
江阔浮高栋，云长出断山。尘沙连越巂，风雨暗荆蛮。
<br />
雁矫衔芦内，猿啼失木间。弊裘苏季子，历国未知还。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=11385&from=http://so.gushiwen.org/view.aspx?id=11385"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(11385)"><img id="copyimg11385" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('11385','http://m.gushiwen.org/view_11385.aspx')" onmouseout="outweixin(11385)"><img id="weixinimg11385" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=11385"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=5179487571"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood11385" href="javascript:goodNew('11385','http://so.gushiwen.org/view.aspx?id=11385',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin11385" style="background-color:aqua;"></div>
<div id="toolPlay11385" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor474">杜甫（712－770），字子美，自号少陵野老，世称“杜工部”、“杜少陵”等，汉族，河南府巩县（今河南省巩义市）人，唐代伟大的现实主义诗人，杜甫被世人尊为“诗圣”，其诗被称为“诗史”。杜甫与李白合称“李杜”，为了跟另外两位诗人李商隐与杜牧即“小李杜”区别开来，杜甫与李白又合称“大李杜”。他忧国忧民，人格高尚，他的约1400余首诗被保留了下来，诗艺精湛，在中国古典诗歌中备受推崇，影响深远。759-766年间曾居成都，后世有杜甫草堂纪念。http://so.gushiwen.org/author_474.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_474.aspx"><img src="http://img.gushiwen.org/authorImg/dufu.jpg" width="105" height="150" alt="杜甫"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_474.aspx"><b>杜甫</b></a></p>
<p style=" margin:0px;">杜甫（712－770），字子美，自号少陵野老，世称“杜工部”、“杜少陵”等，汉族，河南府巩县（今河南省巩义市）人，唐代伟大的现实主义诗人，杜甫被世人尊为“诗圣”，其诗被称为“诗史”。杜甫与李白合称“李杜”，为了跟另外两位诗人李商隐与杜牧即“小李杜”区别开来，杜甫与李白又合称“大李杜”。他忧国忧民，人格高尚，他的约1400余首诗被保留了下来，诗艺精湛，在中国古典诗歌中备受推崇，影响深远。759-766年间曾居成都，后世有杜甫草堂纪念。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=474&from=http://so.gushiwen.org/view.aspx?id=11385"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(474)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('474','http://m.gushiwen.org/author_474.aspx')" onmouseout="outweixinAuthor(474)"><img id="weixinAuthorImg474" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor474" href="javascript:goodAuthorNew('474','http://so.gushiwen.org/view.aspx?id=11385',3568)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3568</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor474" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare28765">暂凭尊酒送无憀，莫损愁眉与细腰。人世死前唯有别，春风争拟惜长条。含烟惹雾每依依，万绪千条拂落晖。为报行人休折尽，半留相送半迎归。——唐代·李商隐《离亭赋得折杨柳二首》http://so.gushiwen.org/view_28765.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(28765)" id="btnShangxi28765"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(28765)" id="btnZhushi28765"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(28765)" id="btnYiwen28765" />
<script type="text/javascript">
                        document.getElementById("btnShangxi28765").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi28765").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen28765").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_28765.aspx"><b>离亭赋得折杨柳二首</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e5%95%86%e9%9a%90">李商隐</a></p>
<div class="contson" id="contson28765">
<p>暂凭尊酒送无憀，莫损愁眉与细腰。<br />人世死前唯有别，春风争拟惜长条。</p>
<p>含烟惹雾每依依，万绪千条拂落晖。<br />为报行人休折尽，半留相送半迎归。</p>
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=28765&from=http://so.gushiwen.org/view.aspx?id=11385"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(28765)"><img id="copyimg28765" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('28765','http://m.gushiwen.org/view_28765.aspx')" onmouseout="outweixin(28765)"><img id="weixinimg28765" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood28765" href="javascript:goodNew('28765','http://so.gushiwen.org/view.aspx?id=11385',15)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;15</span></a></div>
</div>
<div id="toolCopy28765" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin28765" style="background-color:aqua;"></div>
<div id="toolPlay28765" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e9%80%81%e5%88%ab">送别</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare47552">一代先后贤，声容剧河汉。况兹迈古士，复历苍崖窜。辰经几十万，邈与灵寿玩。海岳尚推移，都鄙固芜漫。羸僧下高阁，独鸟没远岸。啸初风雨来，吟馀钟呗乱。如何炼精魄，万祀忽欲半。宁为断臂忧，肯作秋柏散。吾闻酆宫内，日月自昏旦。左右修文郎，纵横洒篇翰。斯人久冥漠，得不垂慨叹。庶或有神交，相从重兴赞。——唐代·陆龟蒙《次追和清远道士诗韵》http://so.gushiwen.org/view_47552.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(47552)" id="btnShangxi47552"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(47552)" id="btnZhushi47552"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(47552)" id="btnYiwen47552" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_47552.aspx"><b>次追和清远道士诗韵</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%99%86%e9%be%9f%e8%92%99">陆龟蒙</a></p>
<div class="contson" id="contson47552">
<p>一代先后贤，声容剧河汉。况兹迈古士，复历苍崖窜。</p>
<p>辰经几十万，邈与灵寿玩。海岳尚推移，都鄙固芜漫。</p>
<p>羸僧下高阁，独鸟没远岸。啸初风雨来，吟馀钟呗乱。</p>
<p>如何炼精魄，万祀忽欲半。宁为断臂忧，肯作秋柏散。</p>
<p>吾闻酆宫内，日月自昏旦。左右修文郎，纵横洒篇翰。</p>
<p>斯人久冥漠，得不垂慨叹。庶或有神交，相从重兴赞。</p>
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=47552&from=http://so.gushiwen.org/view.aspx?id=11385"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(47552)"><img id="copyimg47552" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('47552','http://m.gushiwen.org/view_47552.aspx')" onmouseout="outweixin(47552)"><img id="weixinimg47552" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood47552" href="javascript:goodNew('47552','http://so.gushiwen.org/view.aspx?id=11385',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy47552" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin47552" style="background-color:aqua;"></div>
<div id="toolPlay47552" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare16215">不食黄精不采薇，葛苗为带草为衣。孤云更入深山去，人绝音书雁自飞。——唐代·刘商《移居深山谢别亲故》http://so.gushiwen.org/view_16215.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(16215)" id="btnShangxi16215"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(16215)" id="btnZhushi16215"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(16215)" id="btnYiwen16215" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_16215.aspx"><b>移居深山谢别亲故</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%88%98%e5%95%86">刘商</a></p>
<div class="contson" id="contson16215">
不食黄精不采薇，葛苗为带草为衣。
<br />
孤云更入深山去，人绝音书雁自飞。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=16215&from=http://so.gushiwen.org/view.aspx?id=11385"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(16215)"><img id="copyimg16215" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('16215','http://m.gushiwen.org/view_16215.aspx')" onmouseout="outweixin(16215)"><img id="weixinimg16215" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood16215" href="javascript:goodNew('16215','http://so.gushiwen.org/view.aspx?id=11385',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy16215" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin16215" style="background-color:aqua;"></div>
<div id="toolPlay16215" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4010.aspx">芳菊开林耀，青松冠岩列。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_319.aspx">东风吹雨过青山，却望千门草色闲。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
