
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
送谢十二判官原文、翻译及赏析_皇甫冉古诗_古诗文网
</title>
<meta name="description" content="四牡驱驰千里馀，越山稠叠海林疏。不辞终日离家远，应为刘公一纸书。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_12774.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_12774.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare12774">四牡驱驰千里馀，越山稠叠海林疏。不辞终日离家远，应为刘公一纸书。——唐代·皇甫冉《送谢十二判官》http://so.gushiwen.org/view_12774.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(12774)" id="btnShangxi12774"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(12774)" id="btnZhushi12774"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(12774)" id="btnYiwen12774" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">送谢十二判官</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_397.aspx">皇甫冉</a> </p>
<div class="contson" id="contson12774">
四牡驱驰千里馀，越山稠叠海林疏。
<br />
不辞终日离家远，应为刘公一纸书。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=12774&from=http://so.gushiwen.org/view.aspx?id=12774"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(12774)"><img id="copyimg12774" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('12774','http://m.gushiwen.org/view_12774.aspx')" onmouseout="outweixin(12774)"><img id="weixinimg12774" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=12774"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=3672347073"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood12774" href="javascript:goodNew('12774','http://so.gushiwen.org/view.aspx?id=12774',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin12774" style="background-color:aqua;"></div>
<div id="toolPlay12774" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor397">皇甫冉，字茂政。约唐玄宗开元五年（公元717年）出生，卒于唐代宗大历五年（公元770年），润州（今镇江）丹阳人，著名诗人。先世居甘肃泾州。天宝十五年进士。曾官无锡尉，大历初入河南节度使王缙幕，终左拾遗、右补阙。其诗清新飘逸，多飘泊之感。http://so.gushiwen.org/author_397.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_397.aspx"><img src="http://img.gushiwen.org/authorImg/huangfuran.jpg" width="105" height="150" alt="皇甫冉"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_397.aspx"><b>皇甫冉</b></a></p>
<p style=" margin:0px;">皇甫冉，字茂政。约唐玄宗开元五年（公元717年）出生，卒于唐代宗大历五年（公元770年），润州（今镇江）丹阳人，著名诗人。先世居甘肃泾州。天宝十五年进士。曾官无锡尉，大历初入河南节度使王缙幕，终左拾遗、右补阙。其诗清新飘逸，多飘泊之感。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=397&from=http://so.gushiwen.org/view.aspx?id=12774"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(397)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('397','http://m.gushiwen.org/author_397.aspx')" onmouseout="outweixinAuthor(397)"><img id="weixinAuthorImg397" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor397" href="javascript:goodAuthorNew('397','http://so.gushiwen.org/view.aspx?id=12774',380)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;380</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor397" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare36114">金庭养真地，珠篆会稽官。境胜堪长往，时危喜暂安。洞连沧海阔，山拥赤城寒。他日抛尘土，因君拟炼丹。——唐代·罗隐《寄剡县主簿》http://so.gushiwen.org/view_36114.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(36114)" id="btnShangxi36114"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(36114)" id="btnZhushi36114"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(36114)" id="btnYiwen36114" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_36114.aspx"><b>寄剡县主簿</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e7%bd%97%e9%9a%90">罗隐</a></p>
<div class="contson" id="contson36114">
金庭养真地，珠篆会稽官。境胜堪长往，时危喜暂安。
<br />
洞连沧海阔，山拥赤城寒。他日抛尘土，因君拟炼丹。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=36114&from=http://so.gushiwen.org/view.aspx?id=12774"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(36114)"><img id="copyimg36114" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('36114','http://m.gushiwen.org/view_36114.aspx')" onmouseout="outweixin(36114)"><img id="weixinimg36114" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood36114" href="javascript:goodNew('36114','http://so.gushiwen.org/view.aspx?id=12774',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy36114" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin36114" style="background-color:aqua;"></div>
<div id="toolPlay36114" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare36188">南北浮萍迹，年华又暗催。残灯和腊尽，晓角带春来。鬓欲渐侵雪，心仍未肯灰。金门旧知己，谁为脱尘埃。——唐代·高蟾《途中除夜》http://so.gushiwen.org/view_36188.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(36188)" id="btnShangxi36188"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(36188)" id="btnZhushi36188"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(36188)" id="btnYiwen36188" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_36188.aspx"><b>途中除夜</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%ab%98%e8%9f%be">高蟾</a></p>
<div class="contson" id="contson36188">
南北浮萍迹，年华又暗催。残灯和腊尽，晓角带春来。
<br />
鬓欲渐侵雪，心仍未肯灰。金门旧知己，谁为脱尘埃。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=36188&from=http://so.gushiwen.org/view.aspx?id=12774"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(36188)"><img id="copyimg36188" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('36188','http://m.gushiwen.org/view_36188.aspx')" onmouseout="outweixin(36188)"><img id="weixinimg36188" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood36188" href="javascript:goodNew('36188','http://so.gushiwen.org/view.aspx?id=12774',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy36188" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin36188" style="background-color:aqua;"></div>
<div id="toolPlay36188" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare14678">寺凉高树合，卧石绿阴中。伴鹤惭仙侣，依僧学老翁。鱼沉荷叶露，鸟散竹林风。始悟尘居者，应将火宅同。——唐代·卢纶《同崔峒补阙慈恩寺避暑》http://so.gushiwen.org/view_14678.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(14678)" id="btnShangxi14678"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(14678)" id="btnZhushi14678"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(14678)" id="btnYiwen14678" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_14678.aspx"><b>同崔峒补阙慈恩寺避暑</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%8d%a2%e7%ba%b6">卢纶</a></p>
<div class="contson" id="contson14678">
寺凉高树合，卧石绿阴中。伴鹤惭仙侣，依僧学老翁。
<br />
鱼沉荷叶露，鸟散竹林风。始悟尘居者，应将火宅同。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=14678&from=http://so.gushiwen.org/view.aspx?id=12774"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(14678)"><img id="copyimg14678" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('14678','http://m.gushiwen.org/view_14678.aspx')" onmouseout="outweixin(14678)"><img id="weixinimg14678" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood14678" href="javascript:goodNew('14678','http://so.gushiwen.org/view.aspx?id=12774',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy14678" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin14678" style="background-color:aqua;"></div>
<div id="toolPlay14678" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_796.aspx">日暖泥融雪半消，行人芳草马声骄。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3123.aspx">雪声偏傍竹，寒梦不离家。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
