
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
相和歌辞。从军行原文、翻译及赏析_骆宾王古诗_古诗文网
</title>
<meta name="description" content="平生一顾念，意气溢三军。野日分戈影，天星合剑文。弓弦抱汉月，马足践胡尘。不求生入塞，唯当死报君。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_1333.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_1333.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare1333">平生一顾念，意气溢三军。野日分戈影，天星合剑文。弓弦抱汉月，马足践胡尘。不求生入塞，唯当死报君。——唐代·骆宾王《相和歌辞。从军行》http://so.gushiwen.org/view_1333.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(1333)" id="btnShangxi1333"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(1333)" id="btnZhushi1333"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(1333)" id="btnYiwen1333" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">相和歌辞。从军行</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_714.aspx">骆宾王</a> </p>
<div class="contson" id="contson1333">
平生一顾念，意气溢三军。野日分戈影，天星合剑文。
<br />
弓弦抱汉月，马足践胡尘。不求生入塞，唯当死报君。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=1333&from=http://so.gushiwen.org/view.aspx?id=1333"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(1333)"><img id="copyimg1333" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('1333','http://m.gushiwen.org/view_1333.aspx')" onmouseout="outweixin(1333)"><img id="weixinimg1333" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=1333"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=7833872171"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood1333" href="javascript:goodNew('1333','http://so.gushiwen.org/view.aspx?id=1333',3)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3</span></a></div>
</div>
<div class="toolerweima" id="weixin1333" style="background-color:aqua;"></div>
<div id="toolPlay1333" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor714">骆宾王（约619—约687年）字观光，汉族，婺州义乌人（今浙江义乌）。唐初诗人，与王勃、杨炯、卢照邻合称“初唐四杰”。又与富嘉谟并称“富骆”。高宗永徽中为道王李元庆府属，历武功、长安主簿，仪凤三年，入为侍御史，因事下狱，次年遇赦，调露二年除临海丞，不得志，辞官。有集。骆宾王于武则天光宅元年，为起兵扬州反武则天的徐敬业作《代李敬业传檄天下文》，敬业败，亡命不知所之，或云被杀，或云为僧。http://so.gushiwen.org/author_714.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_714.aspx"><img src="http://img.gushiwen.org/authorImg/luobinwang.jpg" width="105" height="150" alt="骆宾王"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_714.aspx"><b>骆宾王</b></a></p>
<p style=" margin:0px;">骆宾王（约619—约687年）字观光，汉族，婺州义乌人（今浙江义乌）。唐初诗人，与王勃、杨炯、卢照邻合称“初唐四杰”。又与富嘉谟并称“富骆”。高宗永徽中为道王李元庆府属，历武功、长安主簿，仪凤三年，入为侍御史，因事下狱，次年遇赦，调露二年除临海丞，不得志，辞官。有集。骆宾王于武则天光宅元年，为起兵扬州反武则天的徐敬业作《代李敬业传檄天下文》，敬业败，亡命不知所之，或云被杀，或云为僧。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=714&from=http://so.gushiwen.org/view.aspx?id=1333"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(714)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('714','http://m.gushiwen.org/author_714.aspx')" onmouseout="outweixinAuthor(714)"><img id="weixinAuthorImg714" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor714" href="javascript:goodAuthorNew('714','http://so.gushiwen.org/view.aspx?id=1333',227)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;227</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor714" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare38777">月里路从何处上，江边身合几时归。十年九陌寒风夜，梦扫芦花絮客衣。——唐代·张蠙《叙怀》http://so.gushiwen.org/view_38777.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(38777)" id="btnShangxi38777"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(38777)" id="btnZhushi38777"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(38777)" id="btnYiwen38777" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_38777.aspx"><b>叙怀</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%bc%a0%e8%a0%99">张蠙</a></p>
<div class="contson" id="contson38777">
月里路从何处上，江边身合几时归。
<br />
十年九陌寒风夜，梦扫芦花絮客衣。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=38777&from=http://so.gushiwen.org/view.aspx?id=1333"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(38777)"><img id="copyimg38777" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('38777','http://m.gushiwen.org/view_38777.aspx')" onmouseout="outweixin(38777)"><img id="weixinimg38777" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood38777" href="javascript:goodNew('38777','http://so.gushiwen.org/view.aspx?id=1333',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy38777" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin38777" style="background-color:aqua;"></div>
<div id="toolPlay38777" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare17448">两河战罢万方清，原上军回识旧营。立马望云秋塞静，射雕临水晚天晴。戍闲部伍分岐路，地远家乡寄旆旌。圣代止戈资庙略，诸侯不复更长征。——唐代·杨巨源《和侯大夫秋原山观征人回》http://so.gushiwen.org/view_17448.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(17448)" id="btnShangxi17448"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(17448)" id="btnZhushi17448"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(17448)" id="btnYiwen17448" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_17448.aspx"><b>和侯大夫秋原山观征人回</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%a8%e5%b7%a8%e6%ba%90">杨巨源</a></p>
<div class="contson" id="contson17448">
两河战罢万方清，原上军回识旧营。立马望云秋塞静，
<br />
射雕临水晚天晴。戍闲部伍分岐路，地远家乡寄旆旌。
<br />
圣代止戈资庙略，诸侯不复更长征。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=17448&from=http://so.gushiwen.org/view.aspx?id=1333"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(17448)"><img id="copyimg17448" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('17448','http://m.gushiwen.org/view_17448.aspx')" onmouseout="outweixin(17448)"><img id="weixinimg17448" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood17448" href="javascript:goodNew('17448','http://so.gushiwen.org/view.aspx?id=1333',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy17448" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin17448" style="background-color:aqua;"></div>
<div id="toolPlay17448" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare7696">北涧流恒满，浮舟触处通。沿洄自有趣，何必五湖中。——唐代·孟浩然《北涧泛舟》http://so.gushiwen.org/view_7696.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(7696)" id="btnShangxi7696"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(7696)" id="btnZhushi7696"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(7696)" id="btnYiwen7696" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_7696.aspx"><b>北涧泛舟</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%ad%9f%e6%b5%a9%e7%84%b6">孟浩然</a></p>
<div class="contson" id="contson7696">
北涧流恒满，浮舟触处通。沿洄自有趣，何必五湖中。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=7696&from=http://so.gushiwen.org/view.aspx?id=1333"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(7696)"><img id="copyimg7696" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('7696','http://m.gushiwen.org/view_7696.aspx')" onmouseout="outweixin(7696)"><img id="weixinimg7696" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood7696" href="javascript:goodNew('7696','http://so.gushiwen.org/view.aspx?id=1333',7)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;7</span></a></div>
</div>
<div id="toolCopy7696" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin7696" style="background-color:aqua;"></div>
<div id="toolPlay7696" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3889.aspx">醉折残梅一两枝，不妨桃李自逢时。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4018.aspx">九日龙山饮，黄花笑逐臣。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
