
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
春鸟词送元秀才入京原文、翻译及赏析_顾况古诗_古诗文网
</title>
<meta name="description" content="春来绣羽齐，暮向竹林栖。禁苑衔花出，河桥隔树啼。寻声知去远，顾影念飞低。别有无巢燕，犹窥幕上泥。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_13453.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_13453.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare13453">春来绣羽齐，暮向竹林栖。禁苑衔花出，河桥隔树啼。寻声知去远，顾影念飞低。别有无巢燕，犹窥幕上泥。——唐代·顾况《春鸟词送元秀才入京》http://so.gushiwen.org/view_13453.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(13453)" id="btnShangxi13453"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(13453)" id="btnZhushi13453"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(13453)" id="btnYiwen13453" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">春鸟词送元秀才入京</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_49.aspx">顾况</a> </p>
<div class="contson" id="contson13453">
春来绣羽齐，暮向竹林栖。禁苑衔花出，河桥隔树啼。
<br />
寻声知去远，顾影念飞低。别有无巢燕，犹窥幕上泥。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=13453&from=http://so.gushiwen.org/view.aspx?id=13453"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(13453)"><img id="copyimg13453" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('13453','http://m.gushiwen.org/view_13453.aspx')" onmouseout="outweixin(13453)"><img id="weixinimg13453" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=13453"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=7959949453"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood13453" href="javascript:goodNew('13453','http://so.gushiwen.org/view.aspx?id=13453',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div class="toolerweima" id="weixin13453" style="background-color:aqua;"></div>
<div id="toolPlay13453" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor49">顾况（生卒年不详），字逋翁，号华阳真逸（一说华阳真隐）。晚年自号悲翁，汉族，唐朝海盐人，（今在浙江海宁境内）人。唐代诗人、画家、鉴赏家。他一生官位不高，曾任著作郎，因作诗嘲讽得罪权贵，贬饶州司户参军。晚年隐居茅山，有《华阳集》行世。http://so.gushiwen.org/author_49.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_49.aspx"><img src="http://img.gushiwen.org/authorImg/gukuang.jpg" width="105" height="150" alt="顾况"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_49.aspx"><b>顾况</b></a></p>
<p style=" margin:0px;">顾况（生卒年不详），字逋翁，号华阳真逸（一说华阳真隐）。晚年自号悲翁，汉族，唐朝海盐人，（今在浙江海宁境内）人。唐代诗人、画家、鉴赏家。他一生官位不高，曾任著作郎，因作诗嘲讽得罪权贵，贬饶州司户参军。晚年隐居茅山，有《华阳集》行世。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=49&from=http://so.gushiwen.org/view.aspx?id=13453"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(49)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('49','http://m.gushiwen.org/author_49.aspx')" onmouseout="outweixinAuthor(49)"><img id="weixinAuthorImg49" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor49" href="javascript:goodAuthorNew('49','http://so.gushiwen.org/view.aspx?id=13453',273)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;273</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor49" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare5976">濩落久无用，隐身甘采薇。仍闻薄宦者，还事田家衣。颍水日夜流，故人相见稀。春山不可望，黄鸟东南飞。濯足岂长往，一樽聊可依。了然潭上月，适我胸中机。在昔同门友，如今出处非。优游白虎殿，偃息青琐闱。且有荐君表，当看携手归。寄书不待面，兰茝空芳菲。——唐代·李颀《东京寄万楚》http://so.gushiwen.org/view_5976.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(5976)" id="btnShangxi5976"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(5976)" id="btnZhushi5976"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(5976)" id="btnYiwen5976" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_5976.aspx"><b>东京寄万楚</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e9%a2%80">李颀</a></p>
<div class="contson" id="contson5976">
濩落久无用，隐身甘采薇。仍闻薄宦者，还事田家衣。
<br />
颍水日夜流，故人相见稀。春山不可望，黄鸟东南飞。
<br />
濯足岂长往，一樽聊可依。了然潭上月，适我胸中机。
<br />
在昔同门友，如今出处非。优游白虎殿，偃息青琐闱。
<br />
且有荐君表，当看携手归。寄书不待面，兰茝空芳菲。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=5976&from=http://so.gushiwen.org/view.aspx?id=13453"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(5976)"><img id="copyimg5976" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('5976','http://m.gushiwen.org/view_5976.aspx')" onmouseout="outweixin(5976)"><img id="weixinimg5976" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood5976" href="javascript:goodNew('5976','http://so.gushiwen.org/view.aspx?id=13453',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy5976" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin5976" style="background-color:aqua;"></div>
<div id="toolPlay5976" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare29826">日断兰台空望归，锦衾香冷梦来稀。书中自报刀头约，天上三看破镜飞。孤浪谩疑红脸笑，轻云忽似舞罗衣。遥知不语坐相忆，寂寞洞房寒烛微。——唐代·赵嘏《洞庭寄所思》http://so.gushiwen.org/view_29826.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(29826)" id="btnShangxi29826"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(29826)" id="btnZhushi29826"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(29826)" id="btnYiwen29826" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_29826.aspx"><b>洞庭寄所思</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e8%b5%b5%e5%98%8f">赵嘏</a></p>
<div class="contson" id="contson29826">
日断兰台空望归，锦衾香冷梦来稀。书中自报刀头约，
<br />
天上三看破镜飞。孤浪谩疑红脸笑，轻云忽似舞罗衣。
<br />
遥知不语坐相忆，寂寞洞房寒烛微。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=29826&from=http://so.gushiwen.org/view.aspx?id=13453"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(29826)"><img id="copyimg29826" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('29826','http://m.gushiwen.org/view_29826.aspx')" onmouseout="outweixin(29826)"><img id="weixinimg29826" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood29826" href="javascript:goodNew('29826','http://so.gushiwen.org/view.aspx?id=13453',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy29826" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin29826" style="background-color:aqua;"></div>
<div id="toolPlay29826" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare43752">乞我百万金，封我异姓王。不如独悟时，大笑放清狂。——唐代·皎然《戏作》http://so.gushiwen.org/view_43752.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(43752)" id="btnShangxi43752"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(43752)" id="btnZhushi43752"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(43752)" id="btnYiwen43752" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_43752.aspx"><b>戏作</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e7%9a%8e%e7%84%b6">皎然</a></p>
<div class="contson" id="contson43752">
乞我百万金，封我异姓王。不如独悟时，大笑放清狂。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=43752&from=http://so.gushiwen.org/view.aspx?id=13453"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(43752)"><img id="copyimg43752" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('43752','http://m.gushiwen.org/view_43752.aspx')" onmouseout="outweixin(43752)"><img id="weixinimg43752" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood43752" href="javascript:goodNew('43752','http://so.gushiwen.org/view.aspx?id=13453',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy43752" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin43752" style="background-color:aqua;"></div>
<div id="toolPlay43752" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4537.aspx">守节自誓，亲诲之学。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2807.aspx">秋风万里芙蓉国，暮雨千家薜荔村。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
