
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
子规原文、翻译及赏析_顾况古诗_古诗文网
</title>
<meta name="description" content="杜宇冤亡积有时，年年啼血动人悲。若教恨魄皆能化，何树何山著子规。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_13539.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_13539.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare13539">杜宇冤亡积有时，年年啼血动人悲。若教恨魄皆能化，何树何山著子规。——唐代·顾况《子规》http://so.gushiwen.org/view_13539.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(13539)" id="btnShangxi13539"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(13539)" id="btnZhushi13539"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(13539)" id="btnYiwen13539" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">子规</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_49.aspx">顾况</a> </p>
<div class="contson" id="contson13539">
杜宇冤亡积有时，年年啼血动人悲。
<br />
若教恨魄皆能化，何树何山著子规。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=13539&from=http://so.gushiwen.org/view.aspx?id=13539"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(13539)"><img id="copyimg13539" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('13539','http://m.gushiwen.org/view_13539.aspx')" onmouseout="outweixin(13539)"><img id="weixinimg13539" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=13539"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=0368490931"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood13539" href="javascript:goodNew('13539','http://so.gushiwen.org/view.aspx?id=13539',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div class="toolerweima" id="weixin13539" style="background-color:aqua;"></div>
<div id="toolPlay13539" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor49">顾况（生卒年不详），字逋翁，号华阳真逸（一说华阳真隐）。晚年自号悲翁，汉族，唐朝海盐人，（今在浙江海宁境内）人。唐代诗人、画家、鉴赏家。他一生官位不高，曾任著作郎，因作诗嘲讽得罪权贵，贬饶州司户参军。晚年隐居茅山，有《华阳集》行世。http://so.gushiwen.org/author_49.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_49.aspx"><img src="http://img.gushiwen.org/authorImg/gukuang.jpg" width="105" height="150" alt="顾况"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_49.aspx"><b>顾况</b></a></p>
<p style=" margin:0px;">顾况（生卒年不详），字逋翁，号华阳真逸（一说华阳真隐）。晚年自号悲翁，汉族，唐朝海盐人，（今在浙江海宁境内）人。唐代诗人、画家、鉴赏家。他一生官位不高，曾任著作郎，因作诗嘲讽得罪权贵，贬饶州司户参军。晚年隐居茅山，有《华阳集》行世。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=49&from=http://so.gushiwen.org/view.aspx?id=13539"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(49)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('49','http://m.gushiwen.org/author_49.aspx')" onmouseout="outweixinAuthor(49)"><img id="weixinAuthorImg49" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor49" href="javascript:goodAuthorNew('49','http://so.gushiwen.org/view.aspx?id=13539',273)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;273</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor49" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare7227">二月江南花满枝，他乡寒食远堪悲。贫居往往无烟火，不独明朝为子推。——唐代·孟云卿《寒食》http://so.gushiwen.org/view_7227.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(7227)" id="btnShangxi7227"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(7227)" id="btnZhushi7227"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(7227)" id="btnYiwen7227" />
<script type="text/javascript">
                        document.getElementById("btnShangxi7227").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi7227").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen7227").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_7227.aspx"><b>寒食</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%ad%9f%e4%ba%91%e5%8d%bf">孟云卿</a></p>
<div class="contson" id="contson7227">
二月江南花满枝，他乡寒食远堪悲。<br />贫居往往无烟火，不独明朝为子推。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=7227&from=http://so.gushiwen.org/view.aspx?id=13539"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(7227)"><img id="copyimg7227" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('7227','http://m.gushiwen.org/view_7227.aspx')" onmouseout="outweixin(7227)"><img id="weixinimg7227" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood7227" href="javascript:goodNew('7227','http://so.gushiwen.org/view.aspx?id=13539',292)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;292</span></a></div>
</div>
<div id="toolCopy7227" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin7227" style="background-color:aqua;"></div>
<div id="toolPlay7227" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%af%92%e9%a3%9f%e8%8a%82">寒食节</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%9d%e4%b9%a1">思乡</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare9925">满庭多种药，入里作山家。终日能留客，凌寒亦对花。海鸥过竹屿，门柳拂江沙。知尔卑栖意，题诗美白华。——唐代·李嘉祐《题王十九茆堂》http://so.gushiwen.org/view_9925.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(9925)" id="btnShangxi9925"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(9925)" id="btnZhushi9925"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(9925)" id="btnYiwen9925" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_9925.aspx"><b>题王十九茆堂</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e5%98%89%e7%a5%90">李嘉祐</a></p>
<div class="contson" id="contson9925">
满庭多种药，入里作山家。终日能留客，凌寒亦对花。
<br />
海鸥过竹屿，门柳拂江沙。知尔卑栖意，题诗美白华。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=9925&from=http://so.gushiwen.org/view.aspx?id=13539"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(9925)"><img id="copyimg9925" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('9925','http://m.gushiwen.org/view_9925.aspx')" onmouseout="outweixin(9925)"><img id="weixinimg9925" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood9925" href="javascript:goodNew('9925','http://so.gushiwen.org/view.aspx?id=13539',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy9925" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin9925" style="background-color:aqua;"></div>
<div id="toolPlay9925" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare33038">蹑险入高空，初疑势不穷。又缘千嶂尽，还共七盘同。下辨东流水，平随北去鸿。天然无此道，应免患穷通。——唐代·许棠《经八合坂》http://so.gushiwen.org/view_33038.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(33038)" id="btnShangxi33038"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(33038)" id="btnZhushi33038"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(33038)" id="btnYiwen33038" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_33038.aspx"><b>经八合坂</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e8%ae%b8%e6%a3%a0">许棠</a></p>
<div class="contson" id="contson33038">
蹑险入高空，初疑势不穷。又缘千嶂尽，还共七盘同。
<br />
下辨东流水，平随北去鸿。天然无此道，应免患穷通。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=33038&from=http://so.gushiwen.org/view.aspx?id=13539"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(33038)"><img id="copyimg33038" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('33038','http://m.gushiwen.org/view_33038.aspx')" onmouseout="outweixin(33038)"><img id="weixinimg33038" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood33038" href="javascript:goodNew('33038','http://so.gushiwen.org/view.aspx?id=13539',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy33038" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin33038" style="background-color:aqua;"></div>
<div id="toolPlay33038" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4925.aspx">钓罢归来不系船，江村月落正堪眠。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4023.aspx">菊暗荷枯一夜霜。新苞绿叶照林光。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
