
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
送从叔牧永州原文、翻译及赏析_卢纶古诗_古诗文网
</title>
<meta name="description" content="五侯轩盖行何疾，零陵太守登车日。零陵太守泪盈巾，此日长安方欲春。虎府龙节照岐路，何苦愁为江海人。彼方韶景无时节，山水诸花恣开发。客投津戍少闻猿，雁过潇湘更逢雪。郡斋无事好闲眠，粳稻" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_14493.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_14493.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare14493">五侯轩盖行何疾，零陵太守登车日。零陵太守泪盈巾，此日长安方欲春。虎府龙节照岐路，何苦愁为江海人。彼方韶景无时节，山水诸花恣开发。客投津戍少闻猿，雁过潇湘更逢雪。郡斋无事好闲眠，粳稻油油绿满川。浪里争迎三蜀货，月中喧泊九江船。今朝小阮同夷老，欲问明年借几年。——唐代·卢纶《送从叔牧永州》http://so.gushiwen.org/view_14493.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(14493)" id="btnShangxi14493"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(14493)" id="btnZhushi14493"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(14493)" id="btnYiwen14493" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">送从叔牧永州</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_583.aspx">卢纶</a> </p>
<div class="contson" id="contson14493">
五侯轩盖行何疾，零陵太守登车日。零陵太守泪盈巾，
<br />
此日长安方欲春。虎府龙节照岐路，何苦愁为江海人。
<br />
彼方韶景无时节，山水诸花恣开发。客投津戍少闻猿，
<br />
雁过潇湘更逢雪。郡斋无事好闲眠，粳稻油油绿满川。
<br />
浪里争迎三蜀货，月中喧泊九江船。今朝小阮同夷老，
<br />
欲问明年借几年。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=14493&from=http://so.gushiwen.org/view.aspx?id=14493"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(14493)"><img id="copyimg14493" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('14493','http://m.gushiwen.org/view_14493.aspx')" onmouseout="outweixin(14493)"><img id="weixinimg14493" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=14493"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=9583876827"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood14493" href="javascript:goodNew('14493','http://so.gushiwen.org/view.aspx?id=14493',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin14493" style="background-color:aqua;"></div>
<div id="toolPlay14493" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor583">卢纶（约737-约799），字允言，唐代诗人，大历十才子之一，汉族，河中蒲（今山西省永济县）人。天宝末举进士，遇乱不第；代宗朝又应举， 屡试不第。大历六年，宰相元载举荐，授阌乡尉；后由王缙荐为集贤学士，秘书省校书郎，升监察御史。出为陕府户曹、河南密县令。后元载、王缙获罪，遭到牵连。德宗朝复为昭应令，又任河中浑瑊元帅府判官，官至检校户部郎中。有《卢户部诗集》。http://so.gushiwen.org/author_583.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_583.aspx"><img src="http://img.gushiwen.org/authorImg/lulun.jpg" width="105" height="150" alt="卢纶"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_583.aspx"><b>卢纶</b></a></p>
<p style=" margin:0px;">卢纶（约737-约799），字允言，唐代诗人，大历十才子之一，汉族，河中蒲（今山西省永济县）人。天宝末举进士，遇乱不第；代宗朝又应举， 屡试不第。大历六年，宰相元载举荐，授阌乡尉；后由王缙荐为集贤学士，秘书省校书郎，升监察御史。出为陕府户曹、河南密县令。后元载、王缙获罪，遭到牵连。德宗朝复为昭应令，又任河中浑瑊元帅府判官，官至检校户部郎中。有《卢户部诗集》。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=583&from=http://so.gushiwen.org/view.aspx?id=14493"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(583)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('583','http://m.gushiwen.org/author_583.aspx')" onmouseout="outweixinAuthor(583)"><img id="weixinAuthorImg583" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor583" href="javascript:goodAuthorNew('583','http://so.gushiwen.org/view.aspx?id=14493',485)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;485</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor583" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare28246">夜程何处宿，山叠树层层。孤馆闭秋雨，空堂停曙灯。歌惭渔浦客，诗学雁门僧。此意无人识，明朝见李膺。——唐代·许浑《行次白沙馆，先寄上河南王侍御》http://so.gushiwen.org/view_28246.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(28246)" id="btnShangxi28246"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(28246)" id="btnZhushi28246"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(28246)" id="btnYiwen28246" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_28246.aspx"><b>行次白沙馆，先寄上河南王侍御</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e8%ae%b8%e6%b5%91">许浑</a></p>
<div class="contson" id="contson28246">
夜程何处宿，山叠树层层。孤馆闭秋雨，空堂停曙灯。
<br />
歌惭渔浦客，诗学雁门僧。此意无人识，明朝见李膺。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=28246&from=http://so.gushiwen.org/view.aspx?id=14493"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(28246)"><img id="copyimg28246" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('28246','http://m.gushiwen.org/view_28246.aspx')" onmouseout="outweixin(28246)"><img id="weixinimg28246" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood28246" href="javascript:goodNew('28246','http://so.gushiwen.org/view.aspx?id=14493',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy28246" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin28246" style="background-color:aqua;"></div>
<div id="toolPlay28246" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare43940">锦衣鲜华手擎鹘，闲行气貌多轻忽。稼穑艰难总不知，五帝三皇是何物。自拳五色裘，迸入他人宅。却捉苍头奴，玉鞭打一百。面白如削玉，猖狂曲江曲。马上黄金鞍，适来新赌得。——唐代·贯休《少年行》http://so.gushiwen.org/view_43940.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(43940)" id="btnShangxi43940"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(43940)" id="btnZhushi43940"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(43940)" id="btnYiwen43940" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_43940.aspx"><b>少年行</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e8%b4%af%e4%bc%91">贯休</a></p>
<div class="contson" id="contson43940">
锦衣鲜华手擎鹘，闲行气貌多轻忽。
<br />
稼穑艰难总不知，五帝三皇是何物。
<br />
自拳五色裘，迸入他人宅。却捉苍头奴，玉鞭打一百。
<br />
面白如削玉，猖狂曲江曲。马上黄金鞍，适来新赌得。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=43940&from=http://so.gushiwen.org/view.aspx?id=14493"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(43940)"><img id="copyimg43940" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('43940','http://m.gushiwen.org/view_43940.aspx')" onmouseout="outweixin(43940)"><img id="weixinimg43940" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood43940" href="javascript:goodNew('43940','http://so.gushiwen.org/view.aspx?id=14493',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy43940" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin43940" style="background-color:aqua;"></div>
<div id="toolPlay43940" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare34872">蠢蠢荼蓼虫，薨薨避葵荠。悠悠狷者心，寂寂厌清世。如何不食甘，命合苦其噬。如何不趣时，分合辱其体。至哉先哲言，于物不凝滞。——唐代·李咸用《放歌行》http://so.gushiwen.org/view_34872.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(34872)" id="btnShangxi34872"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(34872)" id="btnZhushi34872"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(34872)" id="btnYiwen34872" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_34872.aspx"><b>放歌行</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e5%92%b8%e7%94%a8">李咸用</a></p>
<div class="contson" id="contson34872">
蠢蠢荼蓼虫，薨薨避葵荠。悠悠狷者心，寂寂厌清世。
<br />
如何不食甘，命合苦其噬。如何不趣时，分合辱其体。
<br />
至哉先哲言，于物不凝滞。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=34872&from=http://so.gushiwen.org/view.aspx?id=14493"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(34872)"><img id="copyimg34872" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('34872','http://m.gushiwen.org/view_34872.aspx')" onmouseout="outweixin(34872)"><img id="weixinimg34872" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood34872" href="javascript:goodNew('34872','http://so.gushiwen.org/view.aspx?id=14493',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy34872" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin34872" style="background-color:aqua;"></div>
<div id="toolPlay34872" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3114.aspx">老柘叶黄如嫩树，寒樱枝白是狂花。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1783.aspx">更倾寒食泪，欲涨冶城潮。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
