
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
梅里旅夕原文、翻译及赏析_杨凌古诗_古诗文网
</title>
<meta name="description" content="沧洲东望路，旅棹怆羁游。枫浦蝉随岸，沙汀鸥转流。露天星上月，水国夜生秋。谁忍持相忆，南归一叶舟。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_15415.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_15415.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare15415">沧洲东望路，旅棹怆羁游。枫浦蝉随岸，沙汀鸥转流。露天星上月，水国夜生秋。谁忍持相忆，南归一叶舟。——唐代·杨凌《梅里旅夕》http://so.gushiwen.org/view_15415.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(15415)" id="btnShangxi15415"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(15415)" id="btnZhushi15415"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(15415)" id="btnYiwen15415" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">梅里旅夕</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_2164.aspx">杨凌</a> </p>
<div class="contson" id="contson15415">
沧洲东望路，旅棹怆羁游。枫浦蝉随岸，沙汀鸥转流。
<br />
露天星上月，水国夜生秋。谁忍持相忆，南归一叶舟。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=15415&from=http://so.gushiwen.org/view.aspx?id=15415"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(15415)"><img id="copyimg15415" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('15415','http://m.gushiwen.org/view_15415.aspx')" onmouseout="outweixin(15415)"><img id="weixinimg15415" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=15415"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=1239521628"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood15415" href="javascript:goodNew('15415','http://so.gushiwen.org/view.aspx?id=15415',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin15415" style="background-color:aqua;"></div>
<div id="toolPlay15415" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor2164">杨凌，中唐人，与其兄杨凭、杨凝并称“三杨”，因官至大理评事，又称“杨评事”，著有《杨评事文集》。柳宗元为其书作《杨评事文集后序》。http://so.gushiwen.org/author_2164.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_2164.aspx"><b>杨凌</b></a></p>
<p style=" margin:0px;">杨凌，中唐人，与其兄杨凭、杨凝并称“三杨”，因官至大理评事，又称“杨评事”，著有《杨评事文集》。柳宗元为其书作《杨评事文集后序》。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=2164&from=http://so.gushiwen.org/view.aspx?id=15415"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(2164)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('2164','http://m.gushiwen.org/author_2164.aspx')" onmouseout="outweixinAuthor(2164)"><img id="weixinAuthorImg2164" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor2164" href="javascript:goodAuthorNew('2164','http://so.gushiwen.org/view.aspx?id=15415',0)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;0</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor2164" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare4524">主第岩扃架鹊桥，天门阊阖降鸾镳。历乱旌旗转云树，参差台榭入烟霄。林间花杂平阳舞，谷里莺和弄玉箫。已陪沁水追欢日，行奉茅山访道朝。——唐代·韦嗣立《奉和初春幸太平公主南庄应制》http://so.gushiwen.org/view_4524.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(4524)" id="btnShangxi4524"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(4524)" id="btnZhushi4524"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(4524)" id="btnYiwen4524" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_4524.aspx"><b>奉和初春幸太平公主南庄应制</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%9f%a6%e5%97%a3%e7%ab%8b">韦嗣立</a></p>
<div class="contson" id="contson4524">
主第岩扃架鹊桥，天门阊阖降鸾镳。历乱旌旗转云树，
<br />
参差台榭入烟霄。林间花杂平阳舞，谷里莺和弄玉箫。
<br />
已陪沁水追欢日，行奉茅山访道朝。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=4524&from=http://so.gushiwen.org/view.aspx?id=15415"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(4524)"><img id="copyimg4524" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('4524','http://m.gushiwen.org/view_4524.aspx')" onmouseout="outweixin(4524)"><img id="weixinimg4524" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood4524" href="javascript:goodNew('4524','http://so.gushiwen.org/view.aspx?id=15415',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy4524" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin4524" style="background-color:aqua;"></div>
<div id="toolPlay4524" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare9208">金园宝刹半长沙，烧劫旁延一万家。楼殿纵随烟焰去，火中何处出莲花。——唐代·张谓《长沙失火后戏题莲花寺》http://so.gushiwen.org/view_9208.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(9208)" id="btnShangxi9208"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(9208)" id="btnZhushi9208"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(9208)" id="btnYiwen9208" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_9208.aspx"><b>长沙失火后戏题莲花寺</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%bc%a0%e8%b0%93">张谓</a></p>
<div class="contson" id="contson9208">
金园宝刹半长沙，烧劫旁延一万家。
<br />
楼殿纵随烟焰去，火中何处出莲花。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=9208&from=http://so.gushiwen.org/view.aspx?id=15415"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(9208)"><img id="copyimg9208" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('9208','http://m.gushiwen.org/view_9208.aspx')" onmouseout="outweixin(9208)"><img id="weixinimg9208" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood9208" href="javascript:goodNew('9208','http://so.gushiwen.org/view.aspx?id=15415',5)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;5</span></a></div>
</div>
<div id="toolCopy9208" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin9208" style="background-color:aqua;"></div>
<div id="toolPlay9208" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare35027">共说生前国步难，山川龙战血漫漫。交锋魏帝旌旂退，委任君王社稷安。庭际雨馀春草长，庙前风起晚光残。功勋碑碣今何在，不得当时一字看。——唐代·胡曾《题周瑜将军庙》http://so.gushiwen.org/view_35027.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(35027)" id="btnShangxi35027"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(35027)" id="btnZhushi35027"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(35027)" id="btnYiwen35027" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_35027.aspx"><b>题周瑜将军庙</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e8%83%a1%e6%9b%be">胡曾</a></p>
<div class="contson" id="contson35027">
共说生前国步难，山川龙战血漫漫。交锋魏帝旌旂退，
<br />
委任君王社稷安。庭际雨馀春草长，庙前风起晚光残。
<br />
功勋碑碣今何在，不得当时一字看。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=35027&from=http://so.gushiwen.org/view.aspx?id=15415"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(35027)"><img id="copyimg35027" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('35027','http://m.gushiwen.org/view_35027.aspx')" onmouseout="outweixin(35027)"><img id="weixinimg35027" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood35027" href="javascript:goodNew('35027','http://so.gushiwen.org/view.aspx?id=15415',11)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;11</span></a></div>
</div>
<div id="toolCopy35027" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin35027" style="background-color:aqua;"></div>
<div id="toolPlay35027" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1561.aspx">长记海棠开后，正伤春时节。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1250.aspx">伤心桥下春波绿，曾是惊鸿照影来。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
