
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
晚秋病中原文、翻译及赏析_王建古诗_古诗文网
</title>
<meta name="description" content="万事风吹过耳轮，贫儿活计亦曾闻。偶逢新语书红叶，难得闲人话白云。霜下野花浑著地，寒来溪鸟不成群。病多体痛无心力，更被头边药气熏。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_16007.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_16007.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare16007">万事风吹过耳轮，贫儿活计亦曾闻。偶逢新语书红叶，难得闲人话白云。霜下野花浑著地，寒来溪鸟不成群。病多体痛无心力，更被头边药气熏。——唐代·王建《晚秋病中》http://so.gushiwen.org/view_16007.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(16007)" id="btnShangxi16007"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(16007)" id="btnZhushi16007"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(16007)" id="btnYiwen16007" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">晚秋病中</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_482.aspx">王建</a> </p>
<div class="contson" id="contson16007">
万事风吹过耳轮，贫儿活计亦曾闻。偶逢新语书红叶，
<br />
难得闲人话白云。霜下野花浑著地，寒来溪鸟不成群。
<br />
病多体痛无心力，更被头边药气熏。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=16007&from=http://so.gushiwen.org/view.aspx?id=16007"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(16007)"><img id="copyimg16007" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('16007','http://m.gushiwen.org/view_16007.aspx')" onmouseout="outweixin(16007)"><img id="weixinimg16007" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=16007"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=3286134733"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood16007" href="javascript:goodNew('16007','http://so.gushiwen.org/view.aspx?id=16007',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin16007" style="background-color:aqua;"></div>
<div id="toolPlay16007" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor482">王建(约767年—约830年)：字仲初，生于颍川(今河南许昌)，唐朝诗人。其著作，《新唐书&#183;艺文志》、《郡斋读书志》、《直斋书录解题》等皆作10卷，《崇文总目》作2卷。http://so.gushiwen.org/author_482.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_482.aspx"><img src="http://img.gushiwen.org/authorImg/wangjian.jpg" width="105" height="150" alt="王建"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_482.aspx"><b>王建</b></a></p>
<p style=" margin:0px;">王建(约767年—约830年)：字仲初，生于颍川(今河南许昌)，唐朝诗人。其著作，《新唐书&#183;艺文志》、《郡斋读书志》、《直斋书录解题》等皆作10卷，《崇文总目》作2卷。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=482&from=http://so.gushiwen.org/view.aspx?id=16007"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(482)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('482','http://m.gushiwen.org/author_482.aspx')" onmouseout="outweixinAuthor(482)"><img id="weixinAuthorImg482" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor482" href="javascript:goodAuthorNew('482','http://so.gushiwen.org/view.aspx?id=16007',583)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;583</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor482" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare3188">金凤邻铜雀，漳河望邺城。君王无处所，台榭若平生。舞席纷何就，歌梁俨未倾。西陵松槚冷，谁见绮罗情。妾本深宫妓，层城闭九重。君王欢爱尽，歌舞为谁容。锦衾不复襞，罗衣谁再缝。高台西北望，流涕向青松。——唐代·王勃《铜雀妓二首》http://so.gushiwen.org/view_3188.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(3188)" id="btnShangxi3188"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(3188)" id="btnZhushi3188"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(3188)" id="btnYiwen3188" />
<script type="text/javascript">
                        document.getElementById("btnShangxi3188").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_3188.aspx"><b>铜雀妓二首</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e7%8e%8b%e5%8b%83">王勃</a></p>
<div class="contson" id="contson3188">
<p>金凤邻铜雀，漳河望邺城。<br />君王无处所，台榭若平生。<br />舞席纷何就，歌梁俨未倾。<br />西陵松槚冷，谁见绮罗情。</p>
<p>妾本深宫妓，层城闭九重。<br />君王欢爱尽，歌舞为谁容。<br />锦衾不复襞，罗衣谁再缝。<br />高台西北望，流涕向青松。</p>
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=3188&from=http://so.gushiwen.org/view.aspx?id=16007"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(3188)"><img id="copyimg3188" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('3188','http://m.gushiwen.org/view_3188.aspx')" onmouseout="outweixin(3188)"><img id="weixinimg3188" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood3188" href="javascript:goodNew('3188','http://so.gushiwen.org/view.aspx?id=16007',15)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;15</span></a></div>
</div>
<div id="toolCopy3188" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin3188" style="background-color:aqua;"></div>
<div id="toolPlay3188" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%86%99%e4%ba%ba">写人</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%90%8c%e6%83%85">同情</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%80%e5%8f%a4">怀古</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare5281">神仙久留滞，清切伫飞翻。忽佐南方牧，何时西掖垣。高车自兰省，便道出荆门。不见河梁别，空销郢路魂。——唐代·孙逖《送苏郎中绾出佐荆州》http://so.gushiwen.org/view_5281.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(5281)" id="btnShangxi5281"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(5281)" id="btnZhushi5281"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(5281)" id="btnYiwen5281" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_5281.aspx"><b>送苏郎中绾出佐荆州</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%ad%99%e9%80%96">孙逖</a></p>
<div class="contson" id="contson5281">
神仙久留滞，清切伫飞翻。忽佐南方牧，何时西掖垣。
<br />
高车自兰省，便道出荆门。不见河梁别，空销郢路魂。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=5281&from=http://so.gushiwen.org/view.aspx?id=16007"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(5281)"><img id="copyimg5281" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('5281','http://m.gushiwen.org/view_5281.aspx')" onmouseout="outweixin(5281)"><img id="weixinimg5281" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood5281" href="javascript:goodNew('5281','http://so.gushiwen.org/view.aspx?id=16007',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy5281" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin5281" style="background-color:aqua;"></div>
<div id="toolPlay5281" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare17880">寒池月下明，新月池边曲。若不妒清妍，却成相映烛。——唐代·韩愈《奉和虢州刘给事使君三堂新题二十一咏。月池》http://so.gushiwen.org/view_17880.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(17880)" id="btnShangxi17880"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(17880)" id="btnZhushi17880"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(17880)" id="btnYiwen17880" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_17880.aspx"><b>奉和虢州刘给事使君三堂新题二十一咏。月池</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%9f%a9%e6%84%88">韩愈</a></p>
<div class="contson" id="contson17880">
寒池月下明，新月池边曲。若不妒清妍，却成相映烛。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=17880&from=http://so.gushiwen.org/view.aspx?id=16007"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(17880)"><img id="copyimg17880" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('17880','http://m.gushiwen.org/view_17880.aspx')" onmouseout="outweixin(17880)"><img id="weixinimg17880" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood17880" href="javascript:goodNew('17880','http://so.gushiwen.org/view.aspx?id=16007',4)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;4</span></a></div>
</div>
<div id="toolCopy17880" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin17880" style="background-color:aqua;"></div>
<div id="toolPlay17880" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3432.aspx">黑云压城城欲摧，甲光向日金鳞开。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4061.aspx">芙蓉如面柳如眉，对此如何不泪垂。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
