
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
思君恩原文、翻译及赏析_王涯古诗_古诗文网
</title>
<meta name="description" content="鸡鸣天汉晓，莺语禁林春。谁入巫山梦，唯应洛水神。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_18000.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_18000.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare18000">鸡鸣天汉晓，莺语禁林春。谁入巫山梦，唯应洛水神。——唐代·王涯《思君恩》http://so.gushiwen.org/view_18000.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(18000)" id="btnShangxi18000"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(18000)" id="btnZhushi18000"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(18000)" id="btnYiwen18000" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">思君恩</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_63.aspx">王涯</a> </p>
<div class="contson" id="contson18000">
鸡鸣天汉晓，莺语禁林春。谁入巫山梦，唯应洛水神。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=18000&from=http://so.gushiwen.org/view.aspx?id=18000"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(18000)"><img id="copyimg18000" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('18000','http://m.gushiwen.org/view_18000.aspx')" onmouseout="outweixin(18000)"><img id="weixinimg18000" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=18000"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=5745986340"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood18000" href="javascript:goodNew('18000','http://so.gushiwen.org/view.aspx?id=18000',4)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;4</span></a></div>
</div>
<div class="toolerweima" id="weixin18000" style="background-color:aqua;"></div>
<div id="toolPlay18000" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor63">王涯〔唐〕（764～835））字广津，太原人。约生于唐代宗广德二年，卒于文宗太和九年，年约七十余岁。博学工文。梁肃异其才，荐于陆贽。贞元八年，（公元七九二年）擢进士，又举宏辞。再调蓝田尉。久之，以左拾遗为翰林学士，进起居舍人。元和时，累官中书侍郎，同中书门下平章事。穆宗立，出为剑南、东川节度使。文宗时，以吏部尚书代王播总盐铁，为政刻急，始变法，益其税以济用度，民生益困。http://so.gushiwen.org/author_63.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_63.aspx"><b>王涯</b></a></p>
<p style=" margin:0px;">王涯〔唐〕（764～835））字广津，太原人。约生于唐代宗广德二年，卒于文宗太和九年，年约七十余岁。博学工文。梁肃异其才，荐于陆贽。贞元八年，（公元七九二年）擢进士，又举宏辞。再调蓝田尉。久之，以左拾遗为翰林学士，进起居舍人。元和时，累官中书侍郎，同中书门下平章事。穆宗立，出为剑南、东川节度使。文宗时，以吏部尚书代王播总盐铁，为政刻急，始变法，益其税以济用度，民生益困。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=63&from=http://so.gushiwen.org/view.aspx?id=18000"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(63)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('63','http://m.gushiwen.org/author_63.aspx')" onmouseout="outweixinAuthor(63)"><img id="weixinAuthorImg63" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor63" href="javascript:goodAuthorNew('63','http://so.gushiwen.org/view.aspx?id=18000',33)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;33</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor63" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare28901">十顷平波溢岸清，病来惟梦此中行。相如未是真消渴，犹放沱江过锦城。——唐代·李商隐《病中早访招国李十将军遇挈家游曲江》http://so.gushiwen.org/view_28901.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(28901)" id="btnShangxi28901"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(28901)" id="btnZhushi28901"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(28901)" id="btnYiwen28901" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_28901.aspx"><b>病中早访招国李十将军遇挈家游曲江</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e5%95%86%e9%9a%90">李商隐</a></p>
<div class="contson" id="contson28901">
十顷平波溢岸清，病来惟梦此中行。
<br />
相如未是真消渴，犹放沱江过锦城。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=28901&from=http://so.gushiwen.org/view.aspx?id=18000"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(28901)"><img id="copyimg28901" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('28901','http://m.gushiwen.org/view_28901.aspx')" onmouseout="outweixin(28901)"><img id="weixinimg28901" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood28901" href="javascript:goodNew('28901','http://so.gushiwen.org/view.aspx?id=18000',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy28901" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin28901" style="background-color:aqua;"></div>
<div id="toolPlay28901" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare5377">汉祚惟永，神功中兴。夙驱氛祲，天覆黎蒸。三光再朗，庶绩其凝。重熙累叶，景命是膺。——唐代·刘晏《享太庙乐章》http://so.gushiwen.org/view_5377.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(5377)" id="btnShangxi5377"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(5377)" id="btnZhushi5377"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(5377)" id="btnYiwen5377" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_5377.aspx"><b>享太庙乐章</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%88%98%e6%99%8f">刘晏</a></p>
<div class="contson" id="contson5377">
汉祚惟永，神功中兴。夙驱氛祲，天覆黎蒸。
<br />
三光再朗，庶绩其凝。重熙累叶，景命是膺。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=5377&from=http://so.gushiwen.org/view.aspx?id=18000"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(5377)"><img id="copyimg5377" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('5377','http://m.gushiwen.org/view_5377.aspx')" onmouseout="outweixin(5377)"><img id="weixinimg5377" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood5377" href="javascript:goodNew('5377','http://so.gushiwen.org/view.aspx?id=18000',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy5377" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin5377" style="background-color:aqua;"></div>
<div id="toolPlay5377" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare41566">高殿拂云霓，登临想虎溪。风匀帆影众，烟乱鸟行迷。北倚波涛阔，南窥井邑低。满城尘漠漠，隔岸草萋萋。虚阁延秋磬，澄江响暮鼙。客心还惜去，新月挂楼西。——唐代·杨夔《题甘露寺》http://so.gushiwen.org/view_41566.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(41566)" id="btnShangxi41566"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(41566)" id="btnZhushi41566"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(41566)" id="btnYiwen41566" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_41566.aspx"><b>题甘露寺</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%a8%e5%a4%94">杨夔</a></p>
<div class="contson" id="contson41566">
高殿拂云霓，登临想虎溪。风匀帆影众，烟乱鸟行迷。
<br />
北倚波涛阔，南窥井邑低。满城尘漠漠，隔岸草萋萋。
<br />
虚阁延秋磬，澄江响暮鼙。客心还惜去，新月挂楼西。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=41566&from=http://so.gushiwen.org/view.aspx?id=18000"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(41566)"><img id="copyimg41566" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('41566','http://m.gushiwen.org/view_41566.aspx')" onmouseout="outweixin(41566)"><img id="weixinimg41566" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood41566" href="javascript:goodNew('41566','http://so.gushiwen.org/view.aspx?id=18000',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy41566" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin41566" style="background-color:aqua;"></div>
<div id="toolPlay41566" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2513.aspx">东风吹柳日初长，雨余芳草斜阳。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_353.aspx">美人卷珠帘，深坐颦蛾眉。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
