
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
白舍人见酬拙诗，因以寄谢原文、翻译及赏析_刘禹锡古诗_古诗文网
</title>
<meta name="description" content="虽陪三品散班中，资历从来事不同。名姓也曾镌石柱，诗篇未得上屏风。甘陵旧党凋零尽，魏阙新知礼数崇。烟水五湖如有伴，犹应堪作钓鱼翁。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_18775.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_18775.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare18775">虽陪三品散班中，资历从来事不同。名姓也曾镌石柱，诗篇未得上屏风。甘陵旧党凋零尽，魏阙新知礼数崇。烟水五湖如有伴，犹应堪作钓鱼翁。——唐代·刘禹锡《白舍人见酬拙诗，因以寄谢》http://so.gushiwen.org/view_18775.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(18775)" id="btnShangxi18775"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(18775)" id="btnZhushi18775"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(18775)" id="btnYiwen18775" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">白舍人见酬拙诗，因以寄谢</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_197.aspx">刘禹锡</a> </p>
<div class="contson" id="contson18775">
虽陪三品散班中，资历从来事不同。名姓也曾镌石柱，
<br />
诗篇未得上屏风。甘陵旧党凋零尽，魏阙新知礼数崇。
<br />
烟水五湖如有伴，犹应堪作钓鱼翁。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=18775&from=http://so.gushiwen.org/view.aspx?id=18775"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(18775)"><img id="copyimg18775" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('18775','http://m.gushiwen.org/view_18775.aspx')" onmouseout="outweixin(18775)"><img id="weixinimg18775" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=18775"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=1717232275"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood18775" href="javascript:goodNew('18775','http://so.gushiwen.org/view.aspx?id=18775',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin18775" style="background-color:aqua;"></div>
<div id="toolPlay18775" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor197">刘禹锡（772－842），字梦得，汉族，中国唐朝彭城（今徐州）人，祖籍洛阳，唐朝文学家，哲学家，自称是汉中山靖王后裔，曾任监察御史，是王叔文政治改革集团的一员。唐代中晚期著名诗人，有“诗豪”之称。他的家庭是一个世代以儒学相传的书香门第。政治上主张革新，是王叔文派政治革新活动的中心人物之一。后来永贞革新失败被贬为朗州司马（今湖南常德）。据湖南常德历史学家、收藏家周新国先生考证刘禹锡被贬为朗州司马其间写了著名的“汉寿城春望”。http://so.gushiwen.org/author_197.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_197.aspx"><img src="http://img.gushiwen.org/authorImg/liuyuxi.jpg" width="105" height="150" alt="刘禹锡"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_197.aspx"><b>刘禹锡</b></a></p>
<p style=" margin:0px;">刘禹锡（772－842），字梦得，汉族，中国唐朝彭城（今徐州）人，祖籍洛阳，唐朝文学家，哲学家，自称是汉中山靖王后裔，曾任监察御史，是王叔文政治改革集团的一员。唐代中晚期著名诗人，有“诗豪”之称。他的家庭是一个世代以儒学相传的书香门第。政治上主张革新，是王叔文派政治革新活动的中心人物之一。后来永贞革新失败被贬为朗州司马（今湖南常德）。据湖南常德历史学家、收藏家周新国先生考证刘禹锡被贬为朗州司马其间写了著名的“汉寿城春望”。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=197&from=http://so.gushiwen.org/view.aspx?id=18775"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(197)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('197','http://m.gushiwen.org/author_197.aspx')" onmouseout="outweixinAuthor(197)"><img id="weixinAuthorImg197" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor197" href="javascript:goodAuthorNew('197','http://so.gushiwen.org/view.aspx?id=18775',1857)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1857</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor197" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare15004">黄昏鼓角似边州，三十年前上此楼。今日山城对垂泪，伤心不独为悲秋。——唐代·李益《上汝州郡楼》http://so.gushiwen.org/view_15004.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(15004)" id="btnShangxi15004"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(15004)" id="btnZhushi15004"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(15004)" id="btnYiwen15004" />
<script type="text/javascript">
                        document.getElementById("btnShangxi15004").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_15004.aspx"><b>上汝州郡楼</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e7%9b%8a">李益</a></p>
<div class="contson" id="contson15004">
黄昏鼓角似边州，三十年前上此楼。<br />今日山城对垂泪，伤心不独为悲秋。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=15004&from=http://so.gushiwen.org/view.aspx?id=18775"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(15004)"><img id="copyimg15004" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('15004','http://m.gushiwen.org/view_15004.aspx')" onmouseout="outweixin(15004)"><img id="weixinimg15004" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood15004" href="javascript:goodNew('15004','http://so.gushiwen.org/view.aspx?id=18775',16)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;16</span></a></div>
</div>
<div id="toolCopy15004" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin15004" style="background-color:aqua;"></div>
<div id="toolPlay15004" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e8%a7%a6%e6%99%af%e7%94%9f%e6%83%85">触景生情</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%9b%9e%e5%bf%86">回忆</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%b2%81%e6%9c%88">岁月</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare1118">晋阳武，奋义威。炀之渝，德焉归。氓毕屠，绥者谁。皇烈烈，专天机。号以仁，扬其旗。日之升，九土晞。斥田圻，流洪辉。有其二，翼馀隋。斫枭骜，连熊螭。枯以肉，勍者羸。后土荡，玄穹弥。合之育，莽然施。惟德辅，庆无期。——唐代·柳宗元《乐府杂曲。鼓吹铙歌。晋阳武》http://so.gushiwen.org/view_1118.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(1118)" id="btnShangxi1118"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(1118)" id="btnZhushi1118"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(1118)" id="btnYiwen1118" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_1118.aspx"><b>乐府杂曲。鼓吹铙歌。晋阳武</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9f%b3%e5%ae%97%e5%85%83">柳宗元</a></p>
<div class="contson" id="contson1118">
晋阳武，奋义威。炀之渝，德焉归。氓毕屠，绥者谁。
<br />
皇烈烈，专天机。号以仁，扬其旗。日之升，九土晞。
<br />
斥田圻，流洪辉。有其二，翼馀隋。斫枭骜，连熊螭。
<br />
枯以肉，勍者羸。后土荡，玄穹弥。合之育，莽然施。
<br />
惟德辅，庆无期。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=1118&from=http://so.gushiwen.org/view.aspx?id=18775"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(1118)"><img id="copyimg1118" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('1118','http://m.gushiwen.org/view_1118.aspx')" onmouseout="outweixin(1118)"><img id="weixinimg1118" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood1118" href="javascript:goodNew('1118','http://so.gushiwen.org/view.aspx?id=18775',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy1118" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin1118" style="background-color:aqua;"></div>
<div id="toolPlay1118" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare36820">小梅零落雪欺残，浩荡穷愁岂易宽。唯有朗吟偿晚景，且无浓醉厌春寒。高斋每喜追攀近，丽句先忧属和难。十五年前谙苦节，知心不独为同官。——唐代·郑谷《右省张补阙茂枢同在谏垣连居光德新春赋咏聊以寄怀》http://so.gushiwen.org/view_36820.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(36820)" id="btnShangxi36820"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(36820)" id="btnZhushi36820"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(36820)" id="btnYiwen36820" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_36820.aspx"><b>右省张补阙茂枢同在谏垣连居光德新春赋咏聊以寄怀</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%83%91%e8%b0%b7">郑谷</a></p>
<div class="contson" id="contson36820">
小梅零落雪欺残，浩荡穷愁岂易宽。唯有朗吟偿晚景，
<br />
且无浓醉厌春寒。高斋每喜追攀近，丽句先忧属和难。
<br />
十五年前谙苦节，知心不独为同官。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=36820&from=http://so.gushiwen.org/view.aspx?id=18775"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(36820)"><img id="copyimg36820" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('36820','http://m.gushiwen.org/view_36820.aspx')" onmouseout="outweixin(36820)"><img id="weixinimg36820" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood36820" href="javascript:goodNew('36820','http://so.gushiwen.org/view.aspx?id=18775',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy36820" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin36820" style="background-color:aqua;"></div>
<div id="toolPlay36820" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_28.aspx">千锤万凿出深山，烈火焚烧若等闲。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4188.aspx">秋木萋萋，其叶萎黄，有鸟处山，集于苞桑。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
