
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
句原文、翻译及赏析_郑澣古诗_古诗文网
</title>
<meta name="description" content="但虑彩色污，无虞臂胛肥。（段成式记，长安菩萨寺有画维摩变，为俗讲僧文淑装之，笔迹尽矣，故兴元郑尚书题句云云）。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_19131.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_19131.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare19131">但虑彩色污，无虞臂胛肥。（段成式记，长安菩萨寺有画维摩变，为俗讲僧文淑装之，笔迹尽矣，故兴元郑尚书题句云云）。——唐代·郑澣《句》http://so.gushiwen.org/view_19131.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(19131)" id="btnShangxi19131"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(19131)" id="btnZhushi19131"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(19131)" id="btnYiwen19131" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">句</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_2805.aspx">郑澣</a> </p>
<div class="contson" id="contson19131">
但虑彩色污，无虞臂胛肥。（段成式记，长安菩萨寺
<br />
有画维摩变，为俗讲僧文淑装之，笔迹尽矣，故兴元
<br />
郑尚书题句云云）。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=19131&from=http://so.gushiwen.org/view.aspx?id=19131"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(19131)"><img id="copyimg19131" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('19131','http://m.gushiwen.org/view_19131.aspx')" onmouseout="outweixin(19131)"><img id="weixinimg19131" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=19131"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=3391761358"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood19131" href="javascript:goodNew('19131','http://so.gushiwen.org/view.aspx?id=19131',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin19131" style="background-color:aqua;"></div>
<div id="toolPlay19131" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor2805">唐郑州荥阳人，本名涵，郑馀庆子。德宗贞元进士。累迁右补阙。敢言不讳，迁考功员外郎。文宗立，入为侍讲学士，累迁尚书左丞。出为山南西道节度使。以户部尚书召，未拜而卒，谥宣。 集三十卷，今存诗五首。http://so.gushiwen.org/author_2805.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_2805.aspx"><b>郑澣</b></a></p>
<p style=" margin:0px;">唐郑州荥阳人，本名涵，郑馀庆子。德宗贞元进士。累迁右补阙。敢言不讳，迁考功员外郎。文宗立，入为侍讲学士，累迁尚书左丞。出为山南西道节度使。以户部尚书召，未拜而卒，谥宣。 集三十卷，今存诗五首。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=2805&from=http://so.gushiwen.org/view.aspx?id=19131"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(2805)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('2805','http://m.gushiwen.org/author_2805.aspx')" onmouseout="outweixinAuthor(2805)"><img id="weixinAuthorImg2805" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor2805" href="javascript:goodAuthorNew('2805','http://so.gushiwen.org/view.aspx?id=19131',0)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;0</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor2805" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare34625">青苍河一隅，气状杳难图。卓杰三峰出，高奇四岳无。力疑擎上界，势独压中区。众水东西走，群山远近趋。天回诸宿照，地耸百灵扶。石壁烟霞丽，龙潭雨雹粗。澄凝临甸服，险固束神都。浅觉川原异，深应日月殊。鹤归青霭合，仙去白云孤。瀑漏斜飞冻，松长倒挂枯。每来寻洞穴，不拟返江湖。傥有芝田种，岩间老一夫。——唐代·张乔《华山》http://so.gushiwen.org/view_34625.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(34625)" id="btnShangxi34625"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(34625)" id="btnZhushi34625"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(34625)" id="btnYiwen34625" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_34625.aspx"><b>华山</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%bc%a0%e4%b9%94">张乔</a></p>
<div class="contson" id="contson34625">
青苍河一隅，气状杳难图。卓杰三峰出，高奇四岳无。
<br />
力疑擎上界，势独压中区。众水东西走，群山远近趋。
<br />
天回诸宿照，地耸百灵扶。石壁烟霞丽，龙潭雨雹粗。
<br />
澄凝临甸服，险固束神都。浅觉川原异，深应日月殊。
<br />
鹤归青霭合，仙去白云孤。瀑漏斜飞冻，松长倒挂枯。
<br />
每来寻洞穴，不拟返江湖。傥有芝田种，岩间老一夫。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=34625&from=http://so.gushiwen.org/view.aspx?id=19131"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(34625)"><img id="copyimg34625" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('34625','http://m.gushiwen.org/view_34625.aspx')" onmouseout="outweixin(34625)"><img id="weixinimg34625" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood34625" href="javascript:goodNew('34625','http://so.gushiwen.org/view.aspx?id=19131',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy34625" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin34625" style="background-color:aqua;"></div>
<div id="toolPlay34625" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare24645">明星入东陌，灿灿光层宙。皎月映高梧，轻风发凉候。金门列葆吹，钟室传清漏。简册自中来，貂黄忝宣授。更登天禄阁，极眺终南岫。遥羡商山翁，闲歌紫芝秀。晨兴念始辱，夕惕思致寇。倾夺非我心，凄然感田窦。——唐代·李德裕《早入中书行公主册礼事毕，登集贤阁成咏》http://so.gushiwen.org/view_24645.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(24645)" id="btnShangxi24645"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(24645)" id="btnZhushi24645"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(24645)" id="btnYiwen24645" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_24645.aspx"><b>早入中书行公主册礼事毕，登集贤阁成咏</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e5%be%b7%e8%a3%95">李德裕</a></p>
<div class="contson" id="contson24645">
明星入东陌，灿灿光层宙。皎月映高梧，轻风发凉候。
<br />
金门列葆吹，钟室传清漏。简册自中来，貂黄忝宣授。
<br />
更登天禄阁，极眺终南岫。遥羡商山翁，闲歌紫芝秀。
<br />
晨兴念始辱，夕惕思致寇。倾夺非我心，凄然感田窦。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=24645&from=http://so.gushiwen.org/view.aspx?id=19131"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(24645)"><img id="copyimg24645" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('24645','http://m.gushiwen.org/view_24645.aspx')" onmouseout="outweixin(24645)"><img id="weixinimg24645" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood24645" href="javascript:goodNew('24645','http://so.gushiwen.org/view.aspx?id=19131',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy24645" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin24645" style="background-color:aqua;"></div>
<div id="toolPlay24645" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare45860">饵柏身轻叠嶂间，是非无意到尘寰。冠裳暂备论浮世，一饷云游碧落间。谁知古是与今非，闲蹑青霞与翠微。箫管秦楼应寂寂，彩云空惹薜萝衣。——唐代·佚名《吟》http://so.gushiwen.org/view_45860.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(45860)" id="btnShangxi45860"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(45860)" id="btnZhushi45860"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(45860)" id="btnYiwen45860" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_45860.aspx"><b>吟</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e4%bd%9a%e5%90%8d">佚名</a></p>
<div class="contson" id="contson45860">
饵柏身轻叠嶂间，是非无意到尘寰。
<br />
冠裳暂备论浮世，一饷云游碧落间。
<br />
谁知古是与今非，闲蹑青霞与翠微。
<br />
箫管秦楼应寂寂，彩云空惹薜萝衣。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=45860&from=http://so.gushiwen.org/view.aspx?id=19131"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(45860)"><img id="copyimg45860" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('45860','http://m.gushiwen.org/view_45860.aspx')" onmouseout="outweixin(45860)"><img id="weixinimg45860" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood45860" href="javascript:goodNew('45860','http://so.gushiwen.org/view.aspx?id=19131',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy45860" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin45860" style="background-color:aqua;"></div>
<div id="toolPlay45860" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5511.aspx">马萧萧，人去去，陇云愁。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5216.aspx">拆桐花烂熳，乍疏雨、洗清明。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
