
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
宗礼欲往桂州苦雨因以戏赠原文、翻译及赏析_吕温古诗_古诗文网
</title>
<meta name="description" content="农人辛苦绿苗齐，正爱梅天水满堤。知汝使车行意速，但令骢马著鄣泥。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_19245.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_19245.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare19245">农人辛苦绿苗齐，正爱梅天水满堤。知汝使车行意速，但令骢马著鄣泥。——唐代·吕温《宗礼欲往桂州苦雨因以戏赠》http://so.gushiwen.org/view_19245.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(19245)" id="btnShangxi19245"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(19245)" id="btnZhushi19245"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(19245)" id="btnYiwen19245" />
<script type="text/javascript">
                        document.getElementById("btnZhushi19245").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen19245").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">宗礼欲往桂州苦雨因以戏赠</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_1764.aspx">吕温</a> </p>
<div class="contson" id="contson19245">
农人辛苦绿苗齐，正爱梅天水满堤。<br />知汝使车行意速，但令骢马著鄣泥。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=19245&from=http://so.gushiwen.org/view.aspx?id=19245"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(19245)"><img id="copyimg19245" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('19245','http://m.gushiwen.org/view_19245.aspx')" onmouseout="outweixin(19245)"><img id="weixinimg19245" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=19245"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=5139208049"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood19245" href="javascript:goodNew('19245','http://so.gushiwen.org/view.aspx?id=19245',6)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;6</span></a></div>
</div>
<div class="toolerweima" id="weixin19245" style="background-color:aqua;"></div>
<div id="toolPlay19245" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%86%9c%e6%9d%91">农村</a>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">译文及注释<span style="display:none;">26571</span></h2>
<p><strong>译文</strong><br />尽管今天下着雨，农民喜欢这样的梅水天气，这样麦苗长得好，水塘里储满了水。<br />知道你疾驰赶路，但要把马鞯安好以防泥巴沾身。</p>
<p><strong>注释</strong><br />⑴宗礼：<a href="http://so.gushiwen.org/view_19245.aspx">诗</a>人友人，生平不详。桂州：唐代州名，治所在今广西桂林市。<br />⑵梅天：即黄梅天，指春夏之交江淮流域梅子黄熟时期阴雨连绵的天气。<br />⑶使车：奉使外出的车。行意速：打算疾驰赶路。<br />⑷骢：一作“骏”。著：同“着”。鄣泥：即马鞯，一种丝织物之类做成的马具，垫在马鞍下，两旁下垂，用以挡泥。</p>
</div>
<div class="dingpai">
<a id="ding26571" href="javascript:ding('26571','http://so.gushiwen.org/view.aspx?id=19245')">有用(1)</a><a id="pai26571" style=" margin-left:10px;" href="javascript:pai('26571','http://so.gushiwen.org/view.aspx?id=19245')">没用(0)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">彭定求 等 ．全唐诗（上） ．上海 ：上海古籍出版社 ，1986年10月版 ：第922页 ．</span>
</div>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">2、</span>
<span style="width:610px; float:left;">于海娣 等 ．唐诗鉴赏大全集 ．北京 ：中国华侨出版社 ，2010年12月版 ：第297-298页 ．</span>
</div>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor1764">吕温（771～811） 字和叔，又字化光，唐河中（今永济市）人。德宗贞元十四年（798）进士，次年又中博学宏词科，授集贤殿校书郎。贞元十九年（803），得王叔文推荐任左拾遗。贞元二十年夏，以侍御史为入蕃副使，在吐蕃滞留经年。顺宗即位，王叔文用事，他因在蕃中，未能参与“永贞革新”。永贞元年 (805)秋，使还，转户部员外郎。历司封员外郎、刑部郎中。元和三年 (808)秋，因与宰相李吉甫有隙，贬道州刺史，后徙衡州，甚有政声，世称“吕衡州”。http://so.gushiwen.org/author_1764.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_1764.aspx"><img src="http://img.gushiwen.org/authorImg/lvwen.jpg" width="105" height="150" alt="吕温"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_1764.aspx"><b>吕温</b></a></p>
<p style=" margin:0px;">吕温（771～811） 字和叔，又字化光，唐河中（今永济市）人。德宗贞元十四年（798）进士，次年又中博学宏词科，授集贤殿校书郎。贞元十九年（803），得王叔文推荐任左拾遗。贞元二十年夏，以侍御史为入蕃副使，在吐蕃滞留经年。顺宗即位，王叔文用事，他因在蕃中，未能参与“永贞革新”。永贞元年 (805)秋，使还，转户部员外郎。历司封员外郎、刑部郎中。元和三年 (808)秋，因与宰相李吉甫有隙，贬道州刺史，后徙衡州，甚有政声，世称“吕衡州”。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=1764&from=http://so.gushiwen.org/view.aspx?id=19245"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(1764)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('1764','http://m.gushiwen.org/author_1764.aspx')" onmouseout="outweixinAuthor(1764)"><img id="weixinAuthorImg1764" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor1764" href="javascript:goodAuthorNew('1764','http://so.gushiwen.org/view.aspx?id=19245',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor1764" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare72009">茅舍槿篱溪曲，鸡犬自南自北。菰叶长，水葓开，门外春波涨绿。听织，声促，轧轧鸣梭穿屋。——五代·孙光宪《风流子·茅舍槿篱溪曲》http://so.gushiwen.org/view_72009.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(72009)" id="btnShangxi72009"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(72009)" id="btnZhushi72009"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(72009)" id="btnYiwen72009" />
<script type="text/javascript">
                        document.getElementById("btnShangxi72009").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi72009").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen72009").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_72009.aspx"><b>风流子·茅舍槿篱溪曲</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e4%ba%94%e4%bb%a3">五代</a><span>：</span><a href="/search.aspx?value=%e5%ad%99%e5%85%89%e5%ae%aa">孙光宪</a></p>
<div class="contson" id="contson72009">
茅舍槿篱溪曲，鸡犬自南自北。菰叶长，水葓开，门外春波涨绿。听织，声促，轧轧鸣梭穿屋。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=72009&from=http://so.gushiwen.org/view.aspx?id=19245"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(72009)"><img id="copyimg72009" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('72009','http://m.gushiwen.org/view_72009.aspx')" onmouseout="outweixin(72009)"><img id="weixinimg72009" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood72009" href="javascript:goodNew('72009','http://so.gushiwen.org/view.aspx?id=19245',15)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;15</span></a></div>
</div>
<div id="toolCopy72009" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin72009" style="background-color:aqua;"></div>
<div id="toolPlay72009" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%a9%89%e7%ba%a6">婉约</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%b0%b4%e4%b9%a1">水乡</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%9c%e6%9d%91">农村</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare49588">麻叶层层檾叶光，谁家煮茧一村香。隔篱娇语络丝娘。垂白杖藜抬醉眼，捋青捣麨软饥肠。问言豆叶几时黄。——宋代·苏轼《浣溪沙·麻叶层层檾叶光》http://so.gushiwen.org/view_49588.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(49588)" id="btnShangxi49588"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(49588)" id="btnZhushi49588"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(49588)" id="btnYiwen49588" />
<script type="text/javascript">
                        document.getElementById("btnShangxi49588").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi49588").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen49588").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_49588.aspx"><b>浣溪沙·麻叶层层檾叶光</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%8b%8f%e8%bd%bc">苏轼</a></p>
<div class="contson" id="contson49588">
麻叶层层檾叶光，谁家煮茧一村香。隔篱娇语络丝娘。<br />垂白杖藜抬醉眼，捋青捣麨软饥肠。问言豆叶几时黄。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=49588&from=http://so.gushiwen.org/view.aspx?id=19245"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(49588)"><img id="copyimg49588" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('49588','http://m.gushiwen.org/view_49588.aspx')" onmouseout="outweixin(49588)"><img id="weixinimg49588" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood49588" href="javascript:goodNew('49588','http://so.gushiwen.org/view.aspx?id=19245',10)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;10</span></a></div>
</div>
<div id="toolCopy49588" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin49588" style="background-color:aqua;"></div>
<div id="toolPlay49588" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%88%9d%e5%a4%8f">初夏</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%9c%e6%9d%91">农村</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%94%9f%e6%b4%bb">生活</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare37731">鹅湖山下稻粱肥，豚栅鸡栖半掩扉。 桑柘影斜春社散，家家扶得醉人归。——唐代·王驾《社日》http://so.gushiwen.org/view_37731.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(37731)" id="btnShangxi37731"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(37731)" id="btnZhushi37731"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(37731)" id="btnYiwen37731" />
<script type="text/javascript">
                        document.getElementById("btnShangxi37731").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi37731").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen37731").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_37731.aspx"><b>社日</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e7%8e%8b%e9%a9%be">王驾</a></p>
<div class="contson" id="contson37731">
鹅湖山下稻粱肥，豚栅鸡栖半掩扉。 <br />桑柘影斜春社散，家家扶得醉人归。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=37731&from=http://so.gushiwen.org/view.aspx?id=19245"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(37731)"><img id="copyimg37731" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('37731','http://m.gushiwen.org/view_37731.aspx')" onmouseout="outweixin(37731)"><img id="weixinimg37731" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood37731" href="javascript:goodNew('37731','http://so.gushiwen.org/view.aspx?id=19245',237)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;237</span></a></div>
</div>
<div id="toolCopy37731" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin37731" style="background-color:aqua;"></div>
<div id="toolPlay37731" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e8%8a%82%e6%97%a5">节日</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%9c%e6%9d%91">农村</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%94%9f%e6%b4%bb">生活</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5773.aspx">老人七十仍沽酒，千壶百瓮花门口。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5768.aspx">一杯酒，问何似，身后名？</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
