
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
凉州词三首原文、翻译及赏析_张籍古诗_古诗文网
</title>
<meta name="description" content="边城暮雨雁飞低，芦笋初生渐欲齐。无数铃声遥过碛，应驮白练到安西。古镇城门白碛开，胡兵往往傍沙堆。巡边使客行应早，欲问平安无使来。风林关里水东流，白草黄榆六十秋。边将皆承主恩泽，无人" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_20135.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_20135.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare20135">边城暮雨雁飞低，芦笋初生渐欲齐。无数铃声遥过碛，应驮白练到安西。古镇城门白碛开，胡兵往往傍沙堆。巡边使客行应早，欲问平安无使来。风林关里水东流，白草黄榆六十秋。边将皆承主恩泽，无人解道取凉州。——唐代·张籍《凉州词三首》http://so.gushiwen.org/view_20135.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(20135)" id="btnShangxi20135"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(20135)" id="btnZhushi20135"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(20135)" id="btnYiwen20135" />
<script type="text/javascript">
                        document.getElementById("btnShangxi20135").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi20135").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen20135").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">凉州词三首</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_390.aspx">张籍</a> </p>
<div class="contson" id="contson20135">
<p>边城暮雨雁飞低，芦笋初生渐欲齐。<br />无数铃声遥过碛，应驮白练到安西。</p>
<p>古镇城门白碛开，胡兵往往傍沙堆。<br />巡边使客行应早，欲问平安无使来。</p>
<p>风林关里水东流，白草黄榆六十秋。<br />边将皆承主恩泽，无人解道取凉州。</p>
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=20135&from=http://so.gushiwen.org/view.aspx?id=20135"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(20135)"><img id="copyimg20135" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('20135','http://m.gushiwen.org/view_20135.aspx')" onmouseout="outweixin(20135)"><img id="weixinimg20135" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=20135"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=5819194998"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood20135" href="javascript:goodNew('20135','http://so.gushiwen.org/view.aspx?id=20135',156)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;156</span></a></div>
</div>
<div class="toolerweima" id="weixin20135" style="background-color:aqua;"></div>
<div id="toolPlay20135" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e8%be%b9%e5%a1%9e">边塞</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%bb%84%e8%af%97">组诗</a>
</div>
</div>
<div id="fanyi48077" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="fanyiShow(48077)"></div>
<h2 style="margin-bottom:10px;font-weight:bold; font-size:16px;">译文及注释</h2>
<p>译文<br />其一<br />低飞的雁群在傍晚时分出现在边城，芦苇正在努力地成长。<br />一群骆驼满载着货物伴着叮的驼铃声缓缓前进。西去的驼队应当还是驮运丝绸经由这条大道远去安西。</p>
<p>其二<br />古镇的城门向着沙漠开敞，胡人的士兵经常依靠着小山丘。<br />巡逻边城的来使出行应该趁早，想要平安无事没有使者来到。</p>
<p>其三<br />流经凤林关的河水向东流去，白草、黄榆树已经生长了六十年。<br />边城的将士都承受主上的恩惠赏赐，却没有人知道去夺回凉州。</p>
<p>注释<br />其一<br />（1）碛：读qì，戈壁、沙漠。<br />（2）
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:fanyiShow(48077)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="fanyiquan48077" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">译文及注释</h2>
<p><strong>译文<br /></strong>其一<br />低飞的雁群在傍晚时分出现在边城，芦苇正在努力地成长。<br />一群骆驼满载着货物伴着叮的驼铃声缓缓前进。西去的驼队应当还是驮运丝绸经由这条大道远去安西。</p>
<p>其二<br />古镇的城门向着沙漠开敞，胡人的士兵经常依靠着小山丘。<br />巡逻边城的来使出行应该趁早，想要平安无事没有使者来到。</p>
<p>其三<br />流经凤林关的河水向东流去，白草、黄榆树已经生长了六十年。<br />边城的将士都承受主上的恩惠赏赐，却没有人知道去夺回凉州。</p>
<p><strong>注释<br /></strong>其一<br />（1）碛：读qì，戈壁、沙漠。<br />（2）白练：白色热绢。这里泛指丝绸。<br />（3）安西：地名。唐方镇有安西都护，其治所在今新疆库车，兼辖龟兹，焉耆、于阗、疏勒四镇。贞元六年（790年），为吐蕃所陷。</p>
<p>其二<br />（4）沙堆：亦作“ 沙塠 ”，沙墩，小沙丘。<br />（5）使客：使者。</p>
<p>其三<br />（6）风林关：在唐代陇右道的河州（治所在今甘肃临夏）境内。位于黄河南岸。<br />（7）白草：北地所生之草，似莠而细，干熟时呈白色，为牛羊所喜食。<br />（8）黄榆：乔木名，树皮黄褐色。叶，果均可食。<br />（9）六十秋：从吐蕃全部占领陇右之地至作者写<a href="http://so.gushiwen.org/view_20135.aspx">诗</a>之时，已过去了六十年之久。<br />（10）恩泽：恩惠赏赐。<br />（11）凉州：唐陇右道属州，治所在今甘肃武威。代宗宝应、广德年间沦于吐蕃之手。此地以凉州泛指陇右失地。<a title="收起" href="javascript:fanyiClose(48077)">▲</a></p>
</div>
<div class="dingpai">
<a id="ding48077" href="javascript:ding('48077','http://so.gushiwen.org/view.aspx?id=20135')">有用(15)</a><a id="pai48077" style=" margin-left:10px;" href="javascript:pai('48077','http://so.gushiwen.org/view.aspx?id=20135')">没用(4)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">百度百科：http://baike.baidu.com/</span>
</div>
</div>
</div>
<div id="shangxi19312" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(19312)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">选析</h2>
<p>　　《凉州词》是乐府诗的名称，本为凉州一带的歌曲，唐代诗人多用此调作诗，描写西北边塞的风光和战事。安史之乱以后，吐蕃族趁虚大兴甲兵，东下牧马，占据了唐西北凉州（今甘肃永昌以东、天祝以西一带）等几十个州镇，从八世纪后期到九世纪中叶长达半个多世纪。诗人目睹这一现实，感慨万千，写了《凉州词三首》，从边城的荒凉、边塞的侵扰、边将的腐败三个方面，再现了边城惨淡的情景，表达了诗人对边事的深切忧患。</p>
<p>　　其一：</p>
<p>　　第一首诗描写边城的荒凉萧瑟。前两句写俯仰所见的景象。“边城暮雨雁飞低”，仰望边城上空，阴雨笼罩，一群大雁低低飞过。诗人为何不写边城晴朗的天空，却选择阴沉昏暗
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(19312)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan19312" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">选析</h2>
<p>　　《凉州词》是乐府<a href="http://so.gushiwen.org/view_20135.aspx">诗</a>的名称，本为凉州一带的歌曲，唐代诗人多用此调作诗，描写西北边塞的风光和战事。安史之乱以后，吐蕃族趁虚大兴甲兵，东下牧马，占据了唐西北凉州（今甘肃永昌以东、天祝以西一带）等几十个州镇，从八世纪后期到九世纪中叶长达半个多世纪。诗人目睹这一现实，感慨万千，写了《凉州词三首》，从边城的荒凉、边塞的侵扰、边将的腐败三个方面，再现了边城惨淡的情景，表达了诗人对边事的深切忧患。</p>
<p>　　其一：</p>
<p>　　第一首诗描写边城的荒凉萧瑟。前两句写俯仰所见的景象。“边城暮雨雁飞低”，仰望边城上空，阴雨笼罩，一群大雁低低飞过。诗人为何不写边城晴朗的天空，却选择阴沉昏暗的雨景，因为此时诗人无心观赏边塞的风光，只是借景托情，以哀景暗示边城人民在胡兵侵扰下不得安宁的生活。为增强哀景的气氛，作者又将这暮雨雁飞的景置于特定的时节里。边城的阴沉悲凉，若是霜秋寒冬，那是自然物候；而这时既不是霜秋，也不是寒冬，却是万物争荣的春天。“芦笋初生渐欲齐”，俯视边城原野，芦苇吐芽，如笋破土，竞相生长。这句已点明寒气消尽，在风和日暖的仲春时节，边城仍然暮雨连绵，凄凉冷清，很容易启人联想那年年岁岁的四季悲凉了。这两句写景极富特色。俯仰所见，在广阔的空间位置中展现了边城的阴沉；暮雨、芦笋，上下映照，鲜明地衬托出美好时节里的悲凉景色，具有很强的艺术感染力。</p>
<p>　　后两句叙事。在这哀景之下，边城的悲事一定很多，而绝句又不可能作多层面的铺叙，诗人便抓住发生在“丝绸之路”上最典型的事件：“无数铃声遥过碛，应驮白练到安西。”这句中的“碛（qì）”，是沙漠；“安西”，唐西北重镇，此时已被吐蕃占据。眺望边城原野，罕见人迹，只听见一串串的驼铃声消失在遥远的沙漠中，这“遥过”的铃声勾起了作者的遥思：往日繁荣的“丝绸之路”，在这温暖的春天里，运载丝绸的商队应当是络绎不绝，路过西安，通向西域；然而如今安西被占，丝绸之路受阻，无数的白练丝绸不再运往西域交易，“应驮”非正驮，用来意味深长。诗人多么盼望收复边镇，恢复往日的繁荣啊！“应驮”这点晴之笔，正有力地表达了诗人这种强烈的愿望，从而点明了此诗的主题。</p>
<p>　　这首绝句，写景叙事，远近交错，虚实相生，给读者的联想是丰富的。一、二两句实写目见的近景，以荒凉萧瑟的气氛有力地暗示出边城的搔乱不安、紧张恐怖，这是寓虚于实；三、四两句虚写耳闻的远景，从铃声的“遥过”，写到应驮安西的“遥思”，以虚出实，在丝绸之路上，掠夺代替了贸易，萧条取代了繁荣，这虽是出于诗人的遥想，但已深深地渗透到读者想象的艺术空间。</p>
<p>　　其三：</p>
<p>　　<a href="http://so.gushiwen.org/author_665.aspx">白居易</a>在《西凉伎》中写道：“凉州陷来四十年，河陇侵将七千里。平时安西万里疆，今日边防在凤翔。缘边空屯十万卒，饱食温衣闲过日。遗民肠断在凉州，将卒相看无意收。”<a href="http://so.gushiwen.org/author_18.aspx">元稹</a>的《西凉伎》也说：“一朝燕贼乱中国，河湟忽尽空遗丘。连城边将但高会，每说此曲能不羞？”一针见血地指出了凉州沦陷未收的原因，是守边将领的腐败无能。<a href="http://so.gushiwen.org/author_390.aspx">张籍</a>的第三首诗正是表达这个思想主题，而诗的风格迥然有别。“凤林关里水东流，白草黄榆六十秋。”这两句写景，点明边城被吐蕃占领的时间之久，以及景象的荒凉萧瑟。“凤林关”，在今甘肃临夏市西北。安史之乱前，唐朝同吐蕃的交界处在凤林关以西，随着边城四镇的失守，凤林关亦已沦陷。在吐蕃异族野蛮掠夺、横暴奴役下，凤林关内，土地荒芜，无人耕种，岁岁年年只见寒水东流，白草丛生，黄榆遍地，一片萧条。这里，诗人既用“白草黄榆”从空间广度来写凤林关的荒凉，又用具体数字“六十秋”从时间深度来突出凤林关灾难的深重。“六十秋”这不是夸张而是写实，从公元762年（唐代宗初年）四镇失陷，到诗人公元824年写这首诗时，已是六十年还未收复。国土失陷如此之久，边民灾难如此之深，为什么没有收复？原因在哪里？由此诗人发出了深沉的感慨、愤激的谴责。</p>
<p>　　“边将皆承主恩泽，无人解道取凉州。”前句写边将责任的重大。“皆承主恩泽”，说明了边将肩负着朝廷的重命、享受着国家的厚禄、担负着人民的重望，守卫边境、收复失地是他们的天职。然而六十年来失地仍在吐蕃的铁蹄下，这不是国政内虚、边力不足。后一句直指原因：守边的将领无人提起收复凉州。边将享受着国家优厚的待遇，却不去尽职守边、收复失地，可见其饱食终日、腐败无能。这两句一扬一抑，对比鲜明，有力地谴责了边将忘恩负义，长期失职，实在令人可憎可恨，可悲可叹。</p>
<p>　　此诗的主旨落在最后一句，诗人不是从正面围绕主题来叙述，而是从侧面落笔，这是此诗的一个显著特色。一、二两句从空间和时间描写边城深重的灾难，看来似乎是控诉吐蕃的侵占罪恶，而联系最后一句“无人解道取凉州”来看，诗人的用意是在用现实来谴责边将，正是他们的失职而带来的长期失陷，边将已成了历史的罪人。第三句以鲜明的对照，严正谴责边将无才无德，面对失去的山河熟视无睹。这一景一情，从侧面有力地突现了卒句主旨的表达，义正辞严，酣畅淋漓。<a title="收起" href="javascript:shangxiClose(19312)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx19312" href="javascript:dingsx('19312','http://so.gushiwen.org/view.aspx?id=20135')">有用(12)</a><a id="paisx19312" style=" margin-left:10px;" href="javascript:paisx('19312','http://so.gushiwen.org/view.aspx?id=20135')">没用(7)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">《唐诗鉴赏辞典补编》.四川文艺出版社，1990年6月版，第436-439页</span>
</div>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">创作背景<span style="display:none;">34980</span></h2>
　　《凉州词》是乐府<a href="http://so.gushiwen.org/view_20135.aspx">诗</a>的名称，本为凉州一带的歌曲，唐代诗人多用此调作诗，描写西北边塞的风光和战事。安史之乱以后，吐蕃族趁虚大兴甲兵，东下牧马，占据了唐西北凉州（今甘肃永昌以东、天祝以西一带）等几十个州镇，从八世纪后期到九世纪中叶长达半个多世纪。诗人目睹这一现实，感慨万千，写了《凉州词三首》。
</div>
<div class="dingpai">
<a id="dingsx34980" href="javascript:dingsx('34980','http://so.gushiwen.org/view.aspx?id=20135')">有用(5)</a><a id="paisx34980" style=" margin-left:10px;" href="javascript:paisx('34980','http://so.gushiwen.org/view.aspx?id=20135')">没用(1)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">何国治 等．唐诗鉴赏辞典．上海：上海辞书出版社，1983：763-764</span>
</div>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor390">张籍（约767～约830），唐代诗人。字文昌，汉族，和州乌江（今安徽和县）人，郡望苏州吴（今江苏苏州）1 。先世移居和州，遂为和州乌江（今安徽和县乌江镇）人。世称“张水部”、“张司业”。张籍的乐府诗与王建齐名，并称“张王乐府”。著名诗篇有《塞下曲》《征妇怨》《采莲曲》《江南曲》。1 《张籍籍贯考辨》认为，韩愈所说的“吴郡张籍”乃谓其郡望，并引《新唐书&#183;张籍传》、《唐诗纪事》、《舆地纪胜》等史传材料，驳苏州之说而定张籍为乌江人。http://so.gushiwen.org/author_390.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_390.aspx"><img src="http://img.gushiwen.org/authorImg/zhangji.jpg" width="105" height="150" alt="张籍"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_390.aspx"><b>张籍</b></a></p>
<p style=" margin:0px;">张籍（约767～约830），唐代诗人。字文昌，汉族，和州乌江（今安徽和县）人，郡望苏州吴（今江苏苏州）1 。先世移居和州，遂为和州乌江（今安徽和县乌江镇）人。世称“张水部”、“张司业”。张籍的乐府诗与王建齐名，并称“张王乐府”。著名诗篇有《塞下曲》《征妇怨》《采莲曲》《江南曲》。1 《张籍籍贯考辨》认为，韩愈所说的“吴郡张籍”乃谓其郡望，并引《新唐书&#183;张籍传》、《唐诗纪事》、《舆地纪胜》等史传材料，驳苏州之说而定张籍为乌江人。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=390&from=http://so.gushiwen.org/view.aspx?id=20135"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(390)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('390','http://m.gushiwen.org/author_390.aspx')" onmouseout="outweixinAuthor(390)"><img id="weixinAuthorImg390" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor390" href="javascript:goodAuthorNew('390','http://so.gushiwen.org/view.aspx?id=20135',670)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;670</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor390" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare9731">燕支山西酒泉道，北风吹沙卷白草。长安遥在日光边，忆君不见令人老。——唐代·岑参《过燕支寄杜位》http://so.gushiwen.org/view_9731.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(9731)" id="btnShangxi9731"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(9731)" id="btnZhushi9731"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(9731)" id="btnYiwen9731" />
<script type="text/javascript">
                        document.getElementById("btnShangxi9731").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi9731").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen9731").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_9731.aspx"><b>过燕支寄杜位</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%b2%91%e5%8f%82">岑参</a></p>
<div class="contson" id="contson9731">
燕支山西酒泉道，北风吹沙卷白草。<br />长安遥在日光边，忆君不见令人老。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=9731&from=http://so.gushiwen.org/view.aspx?id=20135"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(9731)"><img id="copyimg9731" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('9731','http://m.gushiwen.org/view_9731.aspx')" onmouseout="outweixin(9731)"><img id="weixinimg9731" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood9731" href="javascript:goodNew('9731','http://so.gushiwen.org/view.aspx?id=20135',6)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;6</span></a></div>
</div>
<div id="toolCopy9731" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin9731" style="background-color:aqua;"></div>
<div id="toolPlay9731" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e8%be%b9%e5%a1%9e">边塞</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%9d%e5%bf%b5">思念</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%8f%8b%e4%ba%ba">友人</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare6433">秦时明月汉时关，万里长征人未还。但使龙城飞将在，不教胡马度阴山。骝马新跨白玉鞍，战罢沙场月色寒。城头铁鼓声犹振，匣里金刀血未干。——唐代·王昌龄《出塞二首》http://so.gushiwen.org/view_6433.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(6433)" id="btnShangxi6433"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(6433)" id="btnZhushi6433"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(6433)" id="btnYiwen6433" />
<script type="text/javascript">
                        document.getElementById("btnShangxi6433").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi6433").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen6433").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_6433.aspx"><b>出塞二首</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e7%8e%8b%e6%98%8c%e9%be%84">王昌龄</a></p>
<div class="contson" id="contson6433">
<p>秦时明月汉时关，万里长征人未还。<br />但使龙城飞将在，不教胡马度阴山。</p>
<p>骝马新跨白玉鞍，战罢沙场月色寒。<br />城头铁鼓声犹振，匣里金刀血未干。</p>
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=6433&from=http://so.gushiwen.org/view.aspx?id=20135"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(6433)"><img id="copyimg6433" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('6433','http://m.gushiwen.org/view_6433.aspx')" onmouseout="outweixin(6433)"><img id="weixinimg6433" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood6433" href="javascript:goodNew('6433','http://so.gushiwen.org/view.aspx?id=20135',1015)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1015</span></a></div>
</div>
<div id="toolCopy6433" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin6433" style="background-color:aqua;"></div>
<div id="toolPlay6433" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e8%be%b9%e5%a1%9e">边塞</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%8f%99%e4%ba%8b">叙事</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%88%98%e4%ba%89">战争</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%8a%92%e6%83%85">抒情</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%bb%84%e8%af%97">组诗</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare9711">都护新灭胡，士马气亦粗。萧条虏尘净，突兀天山孤。——唐代·岑参《灭胡曲》http://so.gushiwen.org/view_9711.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(9711)" id="btnShangxi9711"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(9711)" id="btnZhushi9711"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(9711)" id="btnYiwen9711" />
<script type="text/javascript">
                        document.getElementById("btnShangxi9711").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi9711").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen9711").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_9711.aspx"><b>灭胡曲</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%b2%91%e5%8f%82">岑参</a></p>
<div class="contson" id="contson9711">
都护新灭胡，士马气亦粗。<br />萧条虏尘净，突兀天山孤。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=9711&from=http://so.gushiwen.org/view.aspx?id=20135"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(9711)"><img id="copyimg9711" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('9711','http://m.gushiwen.org/view_9711.aspx')" onmouseout="outweixin(9711)"><img id="weixinimg9711" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood9711" href="javascript:goodNew('9711','http://so.gushiwen.org/view.aspx?id=20135',3)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3</span></a></div>
</div>
<div id="toolCopy9711" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin9711" style="background-color:aqua;"></div>
<div id="toolPlay9711" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e8%be%b9%e5%a1%9e">边塞</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%94%9f%e6%b4%bb">生活</a>
<span>，</span><a href="/type.aspx?p=1&t=%e8%b1%aa%e8%bf%88">豪迈</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3039.aspx">万里寒光生积雪，三边曙色动危旌。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3191.aspx">绛雪生凉，碧霞笼夜，小立中庭芜地。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
