
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
感秋别怨原文、翻译及赏析_卢仝古诗_古诗文网
</title>
<meta name="description" content="霜秋自断魂，楚调怨离分。魄散瑶台月，心随巫峡云。蛾眉谁共画，凤曲不同闻。莫似湘妃泪，斑斑点翠裙。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_20201.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_20201.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare20201">霜秋自断魂，楚调怨离分。魄散瑶台月，心随巫峡云。蛾眉谁共画，凤曲不同闻。莫似湘妃泪，斑斑点翠裙。——唐代·卢仝《感秋别怨》http://so.gushiwen.org/view_20201.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(20201)" id="btnShangxi20201"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(20201)" id="btnZhushi20201"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(20201)" id="btnYiwen20201" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">感秋别怨</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_2251.aspx">卢仝</a> </p>
<div class="contson" id="contson20201">
霜秋自断魂，楚调怨离分。魄散瑶台月，心随巫峡云。
<br />
蛾眉谁共画，凤曲不同闻。莫似湘妃泪，斑斑点翠裙。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=20201&from=http://so.gushiwen.org/view.aspx?id=20201"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(20201)"><img id="copyimg20201" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('20201','http://m.gushiwen.org/view_20201.aspx')" onmouseout="outweixin(20201)"><img id="weixinimg20201" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=20201"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=7693470629"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood20201" href="javascript:goodNew('20201','http://so.gushiwen.org/view.aspx?id=20201',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin20201" style="background-color:aqua;"></div>
<div id="toolPlay20201" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor2251">卢仝t&#243;ng〈形〉（约795－835） 唐代诗人，汉族，“初唐四杰”之一卢照邻的嫡系子孙。祖籍范阳（今河北省涿州市），生于河南济源市武山镇（今思礼村），早年隐少室山，自号玉川子。他刻苦读书，博览经史，工诗精文，不愿仕进。后迁居洛阳。家境贫困，仅破屋数间。但他刻苦读书，家中图书满架。仝性格狷介，颇类孟郊；但其狷介之性中更有一种雄豪之气，又近似韩愈。是韩孟诗派重要人物之一。http://so.gushiwen.org/author_2251.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_2251.aspx"><img src="http://img.gushiwen.org/authorImg/lutong.jpg" width="105" height="150" alt="卢仝"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_2251.aspx"><b>卢仝</b></a></p>
<p style=" margin:0px;">卢仝t&#243;ng〈形〉（约795－835） 唐代诗人，汉族，“初唐四杰”之一卢照邻的嫡系子孙。祖籍范阳（今河北省涿州市），生于河南济源市武山镇（今思礼村），早年隐少室山，自号玉川子。他刻苦读书，博览经史，工诗精文，不愿仕进。后迁居洛阳。家境贫困，仅破屋数间。但他刻苦读书，家中图书满架。仝性格狷介，颇类孟郊；但其狷介之性中更有一种雄豪之气，又近似韩愈。是韩孟诗派重要人物之一。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=2251&from=http://so.gushiwen.org/view.aspx?id=20201"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(2251)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('2251','http://m.gushiwen.org/author_2251.aspx')" onmouseout="outweixinAuthor(2251)"><img id="weixinAuthorImg2251" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor2251" href="javascript:goodAuthorNew('2251','http://so.gushiwen.org/view.aspx?id=20201',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor2251" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare18147">婵娟有丽玉如也，美笑当予系予马。罗帏碧簟岂相容，行到山头忆山下。——唐代·欧阳詹《乐津店北陂》http://so.gushiwen.org/view_18147.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(18147)" id="btnShangxi18147"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(18147)" id="btnZhushi18147"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(18147)" id="btnYiwen18147" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_18147.aspx"><b>乐津店北陂</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%ac%a7%e9%98%b3%e8%a9%b9">欧阳詹</a></p>
<div class="contson" id="contson18147">
婵娟有丽玉如也，美笑当予系予马。
<br />
罗帏碧簟岂相容，行到山头忆山下。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=18147&from=http://so.gushiwen.org/view.aspx?id=20201"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(18147)"><img id="copyimg18147" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('18147','http://m.gushiwen.org/view_18147.aspx')" onmouseout="outweixin(18147)"><img id="weixinimg18147" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood18147" href="javascript:goodNew('18147','http://so.gushiwen.org/view.aspx?id=20201',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy18147" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin18147" style="background-color:aqua;"></div>
<div id="toolPlay18147" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare29105">华清别馆闭黄昏，碧草悠悠内厩门。自是明时不巡幸，至今青海有龙孙。——唐代·李商隐《过华清内厩门》http://so.gushiwen.org/view_29105.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(29105)" id="btnShangxi29105"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(29105)" id="btnZhushi29105"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(29105)" id="btnYiwen29105" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_29105.aspx"><b>过华清内厩门</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e5%95%86%e9%9a%90">李商隐</a></p>
<div class="contson" id="contson29105">
华清别馆闭黄昏，碧草悠悠内厩门。
<br />
自是明时不巡幸，至今青海有龙孙。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=29105&from=http://so.gushiwen.org/view.aspx?id=20201"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(29105)"><img id="copyimg29105" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('29105','http://m.gushiwen.org/view_29105.aspx')" onmouseout="outweixin(29105)"><img id="weixinimg29105" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood29105" href="javascript:goodNew('29105','http://so.gushiwen.org/view.aspx?id=20201',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy29105" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin29105" style="background-color:aqua;"></div>
<div id="toolPlay29105" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare4698">铁骑几时回，金闺怨早梅。雪寒花已落，风暖叶应开。夕逐新春管，香迎小岁杯。盛时何足贵，书里报轮台。——唐代·沈佺期《梅花落（一作宋之问诗）》http://so.gushiwen.org/view_4698.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(4698)" id="btnShangxi4698"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(4698)" id="btnZhushi4698"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(4698)" id="btnYiwen4698" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_4698.aspx"><b>梅花落（一作宋之问诗）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%b2%88%e4%bd%ba%e6%9c%9f">沈佺期</a></p>
<div class="contson" id="contson4698">
铁骑几时回，金闺怨早梅。雪寒花已落，风暖叶应开。
<br />
夕逐新春管，香迎小岁杯。盛时何足贵，书里报轮台。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=4698&from=http://so.gushiwen.org/view.aspx?id=20201"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(4698)"><img id="copyimg4698" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('4698','http://m.gushiwen.org/view_4698.aspx')" onmouseout="outweixin(4698)"><img id="weixinimg4698" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood4698" href="javascript:goodNew('4698','http://so.gushiwen.org/view.aspx?id=20201',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy4698" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin4698" style="background-color:aqua;"></div>
<div id="toolPlay4698" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5107.aspx">碧溪影里小桥横，青帘市上孤烟起。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_175.aspx">庭前落尽梧桐，水边开彻芙蓉。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
