
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
寄吴士矩端公五十韵（此后并江陵士曹时作）原文、翻译及赏析_元稹古诗_古诗文网
</title>
<meta name="description" content="昔在凤翔日，十岁即相识。未有好文章，逢人赏颜色。可怜何郎面，二十才冠饰。短发予近梳，罗衫紫蝉翼。伯舅各骄纵，仁兄未摧抑。事业若杯盘，诗书甚徽纆.西州戎马地，贤豪事雄特。百万时可赢，" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_20624.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_20624.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare20624">昔在凤翔日，十岁即相识。未有好文章，逢人赏颜色。可怜何郎面，二十才冠饰。短发予近梳，罗衫紫蝉翼。伯舅各骄纵，仁兄未摧抑。事业若杯盘，诗书甚徽纆.西州戎马地，贤豪事雄特。百万时可赢，十千良易借。寒食桐阴下，春风柳林侧。藉草送远游，列筵酬博塞。萎蕤云幕翠，灿烂红茵赩.脍缕轻似丝，香醅腻如职。将军频下城，佳人尽倾国。媚语娇不闻，纤腰软无力。歌辞妙宛转，舞态能剜刻。筝弦玉指调，粉汗红绡拭。予时最年少，专务酒中职。未能解生狞，偏矜任狂直。曲庇桃根盏，横讲捎云式。乱布斗分朋，惟新间谗慝。耻作最先吐，羞言未朝食。醉眼渐纷纷，酒声频cH々。扣节参差乱，飞觥往来织。强起相维持，翻成两匍匐。边霜飒然降，战马鸣不息。但喜秋光丽，谁忧塞云黑。常随猎骑走，多在豪家匿。夜饮天既明，朝歌日还昃。荒狂岁云久，名利心潜逼。时辈多得途，亲朋屡相敕。闲因适农野，忽复爱稼穑。平生中圣人，翻然腐肠贼。亦从酒仙去，便被书魔惑。脱迹壮士场，甘心竖儒域。矜持翠筠管，敲断黄金勒。屡益兰膏灯，犹研兔枝墨。崎岖来掉荡，矫枉事沉默。隐笑甚艰难，敛容还屴崱。与君始分散，勉我劳修饰。岐路各营营，别离长恻恻。行看二十载，万事纷何极。相值或须臾，安能洞胸臆。昨来陕郊会，悲欢两难克。问我新相知，但报长相忆。岂无新知者，不及小相得。亦有生岁游，同年不同德。为别讵几时，伊予坠沟洫。大江鼓风浪，远道参荆棘。往事返无期，前途浩难测。一旦得自由，相求北山北。——唐代·元稹《寄吴士矩端公五十韵（此后并江陵士曹时作）》http://so.gushiwen.org/view_20624.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(20624)" id="btnShangxi20624"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(20624)" id="btnZhushi20624"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(20624)" id="btnYiwen20624" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">寄吴士矩端公五十韵（此后并江陵士曹时作）</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_18.aspx">元稹</a> </p>
<div class="contson" id="contson20624">
昔在凤翔日，十岁即相识。未有好文章，逢人赏颜色。
<br />
可怜何郎面，二十才冠饰。短发予近梳，罗衫紫蝉翼。
<br />
伯舅各骄纵，仁兄未摧抑。事业若杯盘，诗书甚徽纆.
<br />
西州戎马地，贤豪事雄特。百万时可赢，十千良易借。
<br />
寒食桐阴下，春风柳林侧。藉草送远游，列筵酬博塞。
<br />
萎蕤云幕翠，灿烂红茵赩.脍缕轻似丝，香醅腻如职。
<br />
将军频下城，佳人尽倾国。媚语娇不闻，纤腰软无力。
<br />
歌辞妙宛转，舞态能剜刻。筝弦玉指调，粉汗红绡拭。
<br />
予时最年少，专务酒中职。未能解生狞，偏矜任狂直。
<br />
曲庇桃根盏，横讲捎云式。乱布斗分朋，惟新间谗慝。
<br />
耻作最先吐，羞言未朝食。醉眼渐纷纷，酒声频cH々。
<br />
扣节参差乱，飞觥往来织。强起相维持，翻成两匍匐。
<br />
边霜飒然降，战马鸣不息。但喜秋光丽，谁忧塞云黑。
<br />
常随猎骑走，多在豪家匿。夜饮天既明，朝歌日还昃。
<br />
荒狂岁云久，名利心潜逼。时辈多得途，亲朋屡相敕。
<br />
闲因适农野，忽复爱稼穑。平生中圣人，翻然腐肠贼。
<br />
亦从酒仙去，便被书魔惑。脱迹壮士场，甘心竖儒域。
<br />
矜持翠筠管，敲断黄金勒。屡益兰膏灯，犹研兔枝墨。
<br />
崎岖来掉荡，矫枉事沉默。隐笑甚艰难，敛容还屴崱。
<br />
与君始分散，勉我劳修饰。岐路各营营，别离长恻恻。
<br />
行看二十载，万事纷何极。相值或须臾，安能洞胸臆。
<br />
昨来陕郊会，悲欢两难克。问我新相知，但报长相忆。
<br />
岂无新知者，不及小相得。亦有生岁游，同年不同德。
<br />
为别讵几时，伊予坠沟洫。大江鼓风浪，远道参荆棘。
<br />
往事返无期，前途浩难测。一旦得自由，相求北山北。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=20624&from=http://so.gushiwen.org/view.aspx?id=20624"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(20624)"><img id="copyimg20624" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('20624','http://m.gushiwen.org/view_20624.aspx')" onmouseout="outweixin(20624)"><img id="weixinimg20624" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=20624"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=4475291528"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood20624" href="javascript:goodNew('20624','http://so.gushiwen.org/view.aspx?id=20624',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin20624" style="background-color:aqua;"></div>
<div id="toolPlay20624" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor18">元稹（779年－831年，或唐代宗大历十四年至文宗大和五年），字微之，别字威明，唐洛阳人（今河南洛阳）。父元宽，母郑氏。为北魏宗室鲜卑族拓跋部后裔，是什翼犍之十四世孙。早年和白居易共同提倡“新乐府”。世人常把他和白居易并称“元白”。http://so.gushiwen.org/author_18.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_18.aspx"><img src="http://img.gushiwen.org/authorImg/yuanzhen.jpg" width="105" height="150" alt="元稹"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_18.aspx"><b>元稹</b></a></p>
<p style=" margin:0px;">元稹（779年－831年，或唐代宗大历十四年至文宗大和五年），字微之，别字威明，唐洛阳人（今河南洛阳）。父元宽，母郑氏。为北魏宗室鲜卑族拓跋部后裔，是什翼犍之十四世孙。早年和白居易共同提倡“新乐府”。世人常把他和白居易并称“元白”。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=18&from=http://so.gushiwen.org/view.aspx?id=20624"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(18)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('18','http://m.gushiwen.org/author_18.aspx')" onmouseout="outweixinAuthor(18)"><img id="weixinAuthorImg18" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor18" href="javascript:goodAuthorNew('18','http://so.gushiwen.org/view.aspx?id=20624',981)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;981</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor18" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare5078">文武承邦式，风云感国祯。王师亲赋政，庙略久论兵。汉主知三杰，周官统六卿。四方分阃受，千里坐谋成。介胄辞前殿，壶觞宿左营。赏延颁赐重，宸赠出车荣。龙武三军气，鱼铃五校名。郊云驻旌羽，边吹引金钲。训旅方称德，安人更克贞。伫看铭石罢，同听凯歌声。——唐代·许景先《奉和圣制送张尚书巡边》http://so.gushiwen.org/view_5078.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(5078)" id="btnShangxi5078"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(5078)" id="btnZhushi5078"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(5078)" id="btnYiwen5078" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_5078.aspx"><b>奉和圣制送张尚书巡边</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e8%ae%b8%e6%99%af%e5%85%88">许景先</a></p>
<div class="contson" id="contson5078">
文武承邦式，风云感国祯。王师亲赋政，庙略久论兵。
<br />
汉主知三杰，周官统六卿。四方分阃受，千里坐谋成。
<br />
介胄辞前殿，壶觞宿左营。赏延颁赐重，宸赠出车荣。
<br />
龙武三军气，鱼铃五校名。郊云驻旌羽，边吹引金钲。
<br />
训旅方称德，安人更克贞。伫看铭石罢，同听凯歌声。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=5078&from=http://so.gushiwen.org/view.aspx?id=20624"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(5078)"><img id="copyimg5078" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('5078','http://m.gushiwen.org/view_5078.aspx')" onmouseout="outweixin(5078)"><img id="weixinimg5078" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood5078" href="javascript:goodNew('5078','http://so.gushiwen.org/view.aspx?id=20624',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy5078" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin5078" style="background-color:aqua;"></div>
<div id="toolPlay5078" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare18231">无限居人送独醒，可怜寂寞到长亭。荆州不遇高阳侣，一夜春寒满下厅。——唐代·柳宗元《离觞不醉，至驿却寄相送诸公》http://so.gushiwen.org/view_18231.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(18231)" id="btnShangxi18231"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(18231)" id="btnZhushi18231"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(18231)" id="btnYiwen18231" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_18231.aspx"><b>离觞不醉，至驿却寄相送诸公</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9f%b3%e5%ae%97%e5%85%83">柳宗元</a></p>
<div class="contson" id="contson18231">
无限居人送独醒，可怜寂寞到长亭。
<br />
荆州不遇高阳侣，一夜春寒满下厅。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=18231&from=http://so.gushiwen.org/view.aspx?id=20624"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(18231)"><img id="copyimg18231" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('18231','http://m.gushiwen.org/view_18231.aspx')" onmouseout="outweixin(18231)"><img id="weixinimg18231" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood18231" href="javascript:goodNew('18231','http://so.gushiwen.org/view.aspx?id=20624',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy18231" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin18231" style="background-color:aqua;"></div>
<div id="toolPlay18231" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare40139">理国无难似理兵，兵家法令贵遵行。行刑不避君王宠，一笑随刀八阵成。——唐代·周昙《春秋战国门。孙武》http://so.gushiwen.org/view_40139.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(40139)" id="btnShangxi40139"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(40139)" id="btnZhushi40139"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(40139)" id="btnYiwen40139" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_40139.aspx"><b>春秋战国门。孙武</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%91%a8%e6%98%99">周昙</a></p>
<div class="contson" id="contson40139">
理国无难似理兵，兵家法令贵遵行。
<br />
行刑不避君王宠，一笑随刀八阵成。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=40139&from=http://so.gushiwen.org/view.aspx?id=20624"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(40139)"><img id="copyimg40139" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('40139','http://m.gushiwen.org/view_40139.aspx')" onmouseout="outweixin(40139)"><img id="weixinimg40139" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood40139" href="javascript:goodNew('40139','http://so.gushiwen.org/view.aspx?id=20624',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy40139" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin40139" style="background-color:aqua;"></div>
<div id="toolPlay40139" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2644.aspx">日长睡起无情思，闲看儿童捉柳花。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4033.aspx">尘世难逢一笑，况有紫萸黄菊，堪插满头归。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
