
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
龙花寺主家小尼（郭代公爱姬薛氏幼尝为尼小名仙人子）原文、翻译及赏析_白居易古诗_古诗文网
</title>
<meta name="description" content="头青眉眼细，十四女沙弥。夜静双林怕，春深一食饥。步慵行道困，起晚诵经迟。应似仙人子，花宫未嫁时。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_22483.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_22483.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare22483">头青眉眼细，十四女沙弥。夜静双林怕，春深一食饥。步慵行道困，起晚诵经迟。应似仙人子，花宫未嫁时。——唐代·白居易《龙花寺主家小尼（郭代公爱姬薛氏幼尝为尼小名仙人子）》http://so.gushiwen.org/view_22483.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(22483)" id="btnShangxi22483"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(22483)" id="btnZhushi22483"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(22483)" id="btnYiwen22483" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">龙花寺主家小尼（郭代公爱姬薛氏幼尝为尼小名仙人子）</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_665.aspx">白居易</a> </p>
<div class="contson" id="contson22483">
头青眉眼细，十四女沙弥。夜静双林怕，春深一食饥。
<br />
步慵行道困，起晚诵经迟。应似仙人子，花宫未嫁时。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=22483&from=http://so.gushiwen.org/view.aspx?id=22483"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(22483)"><img id="copyimg22483" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('22483','http://m.gushiwen.org/view_22483.aspx')" onmouseout="outweixin(22483)"><img id="weixinimg22483" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=22483"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=5743085606"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood22483" href="javascript:goodNew('22483','http://so.gushiwen.org/view.aspx?id=22483',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin22483" style="background-color:aqua;"></div>
<div id="toolPlay22483" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor665">白居易（772年－846年），字乐天，号香山居士，又号醉吟先生，祖籍太原，到其曾祖父时迁居下邽，生于河南新郑。是唐代伟大的现实主义诗人，唐代三大诗人之一。白居易与元稹共同倡导新乐府运动，世称“元白”，与刘禹锡并称“刘白”。白居易的诗歌题材广泛，形式多样，语言平易通俗，有“诗魔”和“诗王”之称。官至翰林学士、左赞善大夫。公元846年，白居易在洛阳逝世，葬于香山。有《白氏长庆集》传世，代表诗作有《长恨歌》、《卖炭翁》、《琵琶行》等。http://so.gushiwen.org/author_665.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_665.aspx"><img src="http://img.gushiwen.org/authorImg/baijuyi.jpg" width="105" height="150" alt="白居易"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_665.aspx"><b>白居易</b></a></p>
<p style=" margin:0px;">白居易（772年－846年），字乐天，号香山居士，又号醉吟先生，祖籍太原，到其曾祖父时迁居下邽，生于河南新郑。是唐代伟大的现实主义诗人，唐代三大诗人之一。白居易与元稹共同倡导新乐府运动，世称“元白”，与刘禹锡并称“刘白”。白居易的诗歌题材广泛，形式多样，语言平易通俗，有“诗魔”和“诗王”之称。官至翰林学士、左赞善大夫。公元846年，白居易在洛阳逝世，葬于香山。有《白氏长庆集》传世，代表诗作有《长恨歌》、《卖炭翁》、《琵琶行》等。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=665&from=http://so.gushiwen.org/view.aspx?id=22483"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(665)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('665','http://m.gushiwen.org/author_665.aspx')" onmouseout="outweixinAuthor(665)"><img id="weixinAuthorImg665" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor665" href="javascript:goodAuthorNew('665','http://so.gushiwen.org/view.aspx?id=22483',4716)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;4716</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor665" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare42987">弟兄俱已尽，松柏问何人。（《寄洛中姊妹》）闻道茂陵山水好，碧溪流水有桃源。（《寄杨女冠》）赤城峭壁无人到，丹灶芝田有鹤来。（霍师妹游天台）三千宫女露蛾眉，笑煮黄金日月迟。（《寓言》，以上俱见《吟窗杂录》）——唐代·元淳《句》http://so.gushiwen.org/view_42987.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(42987)" id="btnShangxi42987"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(42987)" id="btnZhushi42987"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(42987)" id="btnYiwen42987" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_42987.aspx"><b>句</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%85%83%e6%b7%b3">元淳</a></p>
<div class="contson" id="contson42987">
弟兄俱已尽，松柏问何人。（《寄洛中姊妹》）
<br />
闻道茂陵山水好，碧溪流水有桃源。（《寄杨女冠》）
<br />
赤城峭壁无人到，丹灶芝田有鹤来。（霍师妹游天台）
<br />
三千宫女露蛾眉，笑煮黄金日月迟。（《寓言》，
<br />
以上俱见《吟窗杂录》）
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=42987&from=http://so.gushiwen.org/view.aspx?id=22483"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(42987)"><img id="copyimg42987" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('42987','http://m.gushiwen.org/view_42987.aspx')" onmouseout="outweixin(42987)"><img id="weixinimg42987" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood42987" href="javascript:goodNew('42987','http://so.gushiwen.org/view.aspx?id=22483',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy42987" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin42987" style="background-color:aqua;"></div>
<div id="toolPlay42987" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare38367">才喜中原息战鼙，又闻天子幸巴西。延烧魏阙非关燕，大狩陈仓不为鸡。兴庆玉龙寒自跃，昭陵石马夜空嘶。遥思万里行宫梦，太白山前月欲低。——唐代·韦庄《闻再幸梁洋》http://so.gushiwen.org/view_38367.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(38367)" id="btnShangxi38367"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(38367)" id="btnZhushi38367"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(38367)" id="btnYiwen38367" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_38367.aspx"><b>闻再幸梁洋</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%9f%a6%e5%ba%84">韦庄</a></p>
<div class="contson" id="contson38367">
才喜中原息战鼙，又闻天子幸巴西。延烧魏阙非关燕，
<br />
大狩陈仓不为鸡。兴庆玉龙寒自跃，昭陵石马夜空嘶。
<br />
遥思万里行宫梦，太白山前月欲低。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=38367&from=http://so.gushiwen.org/view.aspx?id=22483"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(38367)"><img id="copyimg38367" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('38367','http://m.gushiwen.org/view_38367.aspx')" onmouseout="outweixin(38367)"><img id="weixinimg38367" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood38367" href="javascript:goodNew('38367','http://so.gushiwen.org/view.aspx?id=22483',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy38367" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin38367" style="background-color:aqua;"></div>
<div id="toolPlay38367" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare4132">王道已沦昧，战国竞贪兵。乐生何感激，仗义下齐城。雄图竟中夭，遗叹寄阿衡。——唐代·陈子昂《蓟丘览古赠卢居士藏用七首。乐生》http://so.gushiwen.org/view_4132.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(4132)" id="btnShangxi4132"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(4132)" id="btnZhushi4132"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(4132)" id="btnYiwen4132" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_4132.aspx"><b>蓟丘览古赠卢居士藏用七首。乐生</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%99%88%e5%ad%90%e6%98%82">陈子昂</a></p>
<div class="contson" id="contson4132">
王道已沦昧，战国竞贪兵。乐生何感激，仗义下齐城。
<br />
雄图竟中夭，遗叹寄阿衡。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=4132&from=http://so.gushiwen.org/view.aspx?id=22483"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(4132)"><img id="copyimg4132" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('4132','http://m.gushiwen.org/view_4132.aspx')" onmouseout="outweixin(4132)"><img id="weixinimg4132" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood4132" href="javascript:goodNew('4132','http://so.gushiwen.org/view.aspx?id=22483',5)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;5</span></a></div>
</div>
<div id="toolCopy4132" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin4132" style="background-color:aqua;"></div>
<div id="toolPlay4132" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1180.aspx">天怜客子乡关远。借与花消遣。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3227.aspx">朝辞白帝彩云间，千里江陵一日还。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
