
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
侍中晋公欲到东洛先蒙书问期宿龙门思往感今辄献长句原文、翻译及赏析_白居易古诗_古诗文网
</title>
<meta name="description" content="昔蒙兴化池头送，今许龙门潭上期。聚散但惭长见念，荣枯安敢道相思。功成名遂来虽久，云卧山游去未迟。闻说风情筋力在，只如初破蔡州时。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_23469.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_23469.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare23469">昔蒙兴化池头送，今许龙门潭上期。聚散但惭长见念，荣枯安敢道相思。功成名遂来虽久，云卧山游去未迟。闻说风情筋力在，只如初破蔡州时。——唐代·白居易《侍中晋公欲到东洛先蒙书问期宿龙门思往感今辄献长句》http://so.gushiwen.org/view_23469.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(23469)" id="btnShangxi23469"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(23469)" id="btnZhushi23469"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(23469)" id="btnYiwen23469" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">侍中晋公欲到东洛先蒙书问期宿龙门思往感今辄献长句</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_665.aspx">白居易</a> </p>
<div class="contson" id="contson23469">
昔蒙兴化池头送，今许龙门潭上期。聚散但惭长见念，
<br />
荣枯安敢道相思。功成名遂来虽久，云卧山游去未迟。
<br />
闻说风情筋力在，只如初破蔡州时。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=23469&from=http://so.gushiwen.org/view.aspx?id=23469"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(23469)"><img id="copyimg23469" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('23469','http://m.gushiwen.org/view_23469.aspx')" onmouseout="outweixin(23469)"><img id="weixinimg23469" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=23469"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=2867764362"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood23469" href="javascript:goodNew('23469','http://so.gushiwen.org/view.aspx?id=23469',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div class="toolerweima" id="weixin23469" style="background-color:aqua;"></div>
<div id="toolPlay23469" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor665">白居易（772年－846年），字乐天，号香山居士，又号醉吟先生，祖籍太原，到其曾祖父时迁居下邽，生于河南新郑。是唐代伟大的现实主义诗人，唐代三大诗人之一。白居易与元稹共同倡导新乐府运动，世称“元白”，与刘禹锡并称“刘白”。白居易的诗歌题材广泛，形式多样，语言平易通俗，有“诗魔”和“诗王”之称。官至翰林学士、左赞善大夫。公元846年，白居易在洛阳逝世，葬于香山。有《白氏长庆集》传世，代表诗作有《长恨歌》、《卖炭翁》、《琵琶行》等。http://so.gushiwen.org/author_665.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_665.aspx"><img src="http://img.gushiwen.org/authorImg/baijuyi.jpg" width="105" height="150" alt="白居易"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_665.aspx"><b>白居易</b></a></p>
<p style=" margin:0px;">白居易（772年－846年），字乐天，号香山居士，又号醉吟先生，祖籍太原，到其曾祖父时迁居下邽，生于河南新郑。是唐代伟大的现实主义诗人，唐代三大诗人之一。白居易与元稹共同倡导新乐府运动，世称“元白”，与刘禹锡并称“刘白”。白居易的诗歌题材广泛，形式多样，语言平易通俗，有“诗魔”和“诗王”之称。官至翰林学士、左赞善大夫。公元846年，白居易在洛阳逝世，葬于香山。有《白氏长庆集》传世，代表诗作有《长恨歌》、《卖炭翁》、《琵琶行》等。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=665&from=http://so.gushiwen.org/view.aspx?id=23469"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(665)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('665','http://m.gushiwen.org/author_665.aspx')" onmouseout="outweixinAuthor(665)"><img id="weixinAuthorImg665" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor665" href="javascript:goodAuthorNew('665','http://so.gushiwen.org/view.aspx?id=23469',4716)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;4716</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor665" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare31644">玉山突兀压乾坤，出得朱门入戟门。妻是九重天子女，身为一品令公孙。鸳鸯殿里参皇后，龙凤堂前贺至尊。今日澧阳非久驻，伫为霖雨拜新恩。——唐代·贾岛《上杜驸马》http://so.gushiwen.org/view_31644.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(31644)" id="btnShangxi31644"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(31644)" id="btnZhushi31644"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(31644)" id="btnYiwen31644" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_31644.aspx"><b>上杜驸马</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e8%b4%be%e5%b2%9b">贾岛</a></p>
<div class="contson" id="contson31644">
玉山突兀压乾坤，出得朱门入戟门。妻是九重天子女，
<br />
身为一品令公孙。鸳鸯殿里参皇后，龙凤堂前贺至尊。
<br />
今日澧阳非久驻，伫为霖雨拜新恩。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=31644&from=http://so.gushiwen.org/view.aspx?id=23469"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(31644)"><img id="copyimg31644" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('31644','http://m.gushiwen.org/view_31644.aspx')" onmouseout="outweixin(31644)"><img id="weixinimg31644" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood31644" href="javascript:goodNew('31644','http://so.gushiwen.org/view.aspx?id=23469',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy31644" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin31644" style="background-color:aqua;"></div>
<div id="toolPlay31644" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare41040">寻师来静境，神骨觉清凉。一饷逢秋雨，相留坐竹堂。石渠堆败叶，莎砌咽寒螀。话到南能旨，怡然万虑忘。——唐代·李中《访澄上人》http://so.gushiwen.org/view_41040.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(41040)" id="btnShangxi41040"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(41040)" id="btnZhushi41040"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(41040)" id="btnYiwen41040" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_41040.aspx"><b>访澄上人</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e4%b8%ad">李中</a></p>
<div class="contson" id="contson41040">
寻师来静境，神骨觉清凉。一饷逢秋雨，相留坐竹堂。
<br />
石渠堆败叶，莎砌咽寒螀。话到南能旨，怡然万虑忘。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=41040&from=http://so.gushiwen.org/view.aspx?id=23469"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(41040)"><img id="copyimg41040" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('41040','http://m.gushiwen.org/view_41040.aspx')" onmouseout="outweixin(41040)"><img id="weixinimg41040" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood41040" href="javascript:goodNew('41040','http://so.gushiwen.org/view.aspx?id=23469',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy41040" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin41040" style="background-color:aqua;"></div>
<div id="toolPlay41040" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare696">御征乘宫出郊甸，安歌率舞递将迎。自有云门符帝赏，犹持雷鼓答天成。——唐代·佚名《郊庙歌辞。五郊乐章。舒和》http://so.gushiwen.org/view_696.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(696)" id="btnShangxi696"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(696)" id="btnZhushi696"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(696)" id="btnYiwen696" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_696.aspx"><b>郊庙歌辞。五郊乐章。舒和</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e4%bd%9a%e5%90%8d">佚名</a></p>
<div class="contson" id="contson696">
御征乘宫出郊甸，安歌率舞递将迎。
<br />
自有云门符帝赏，犹持雷鼓答天成。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=696&from=http://so.gushiwen.org/view.aspx?id=23469"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(696)"><img id="copyimg696" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('696','http://m.gushiwen.org/view_696.aspx')" onmouseout="outweixin(696)"><img id="weixinimg696" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood696" href="javascript:goodNew('696','http://so.gushiwen.org/view.aspx?id=23469',3)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3</span></a></div>
</div>
<div id="toolCopy696" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin696" style="background-color:aqua;"></div>
<div id="toolPlay696" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5698.aspx">唤起封姨清晚景，更将荔子荐新圆。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4760.aspx">庭轩寂寞近清明，残花中酒，又是去年病。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
