
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
天宫阁秋晴晚望原文、翻译及赏析_白居易古诗_古诗文网
</title>
<meta name="description" content="洛城秋霁后，梵阁暮登时。此日风烟好，今秋节候迟。霞光红泛艳，树影碧参差。莫虑言归晚，牛家有宿期。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_23687.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_23687.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare23687">洛城秋霁后，梵阁暮登时。此日风烟好，今秋节候迟。霞光红泛艳，树影碧参差。莫虑言归晚，牛家有宿期。——唐代·白居易《天宫阁秋晴晚望》http://so.gushiwen.org/view_23687.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(23687)" id="btnShangxi23687"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(23687)" id="btnZhushi23687"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(23687)" id="btnYiwen23687" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">天宫阁秋晴晚望</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_665.aspx">白居易</a> </p>
<div class="contson" id="contson23687">
洛城秋霁后，梵阁暮登时。此日风烟好，今秋节候迟。
<br />
霞光红泛艳，树影碧参差。莫虑言归晚，牛家有宿期。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=23687&from=http://so.gushiwen.org/view.aspx?id=23687"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(23687)"><img id="copyimg23687" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('23687','http://m.gushiwen.org/view_23687.aspx')" onmouseout="outweixin(23687)"><img id="weixinimg23687" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=23687"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=8513834739"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood23687" href="javascript:goodNew('23687','http://so.gushiwen.org/view.aspx?id=23687',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin23687" style="background-color:aqua;"></div>
<div id="toolPlay23687" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor665">白居易（772年－846年），字乐天，号香山居士，又号醉吟先生，祖籍太原，到其曾祖父时迁居下邽，生于河南新郑。是唐代伟大的现实主义诗人，唐代三大诗人之一。白居易与元稹共同倡导新乐府运动，世称“元白”，与刘禹锡并称“刘白”。白居易的诗歌题材广泛，形式多样，语言平易通俗，有“诗魔”和“诗王”之称。官至翰林学士、左赞善大夫。公元846年，白居易在洛阳逝世，葬于香山。有《白氏长庆集》传世，代表诗作有《长恨歌》、《卖炭翁》、《琵琶行》等。http://so.gushiwen.org/author_665.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_665.aspx"><img src="http://img.gushiwen.org/authorImg/baijuyi.jpg" width="105" height="150" alt="白居易"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_665.aspx"><b>白居易</b></a></p>
<p style=" margin:0px;">白居易（772年－846年），字乐天，号香山居士，又号醉吟先生，祖籍太原，到其曾祖父时迁居下邽，生于河南新郑。是唐代伟大的现实主义诗人，唐代三大诗人之一。白居易与元稹共同倡导新乐府运动，世称“元白”，与刘禹锡并称“刘白”。白居易的诗歌题材广泛，形式多样，语言平易通俗，有“诗魔”和“诗王”之称。官至翰林学士、左赞善大夫。公元846年，白居易在洛阳逝世，葬于香山。有《白氏长庆集》传世，代表诗作有《长恨歌》、《卖炭翁》、《琵琶行》等。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=665&from=http://so.gushiwen.org/view.aspx?id=23687"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(665)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('665','http://m.gushiwen.org/author_665.aspx')" onmouseout="outweixinAuthor(665)"><img id="weixinAuthorImg665" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor665" href="javascript:goodAuthorNew('665','http://so.gushiwen.org/view.aspx?id=23687',4716)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;4716</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor665" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare5163">西别秦关近，东行陕服长。川原馀让畔，歌吹忆遗棠。河水流城下，山云起路傍。更怜栖泊处，池馆绕林篁。——唐代·蔡希寂《陕中作》http://so.gushiwen.org/view_5163.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(5163)" id="btnShangxi5163"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(5163)" id="btnZhushi5163"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(5163)" id="btnYiwen5163" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_5163.aspx"><b>陕中作</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e8%94%a1%e5%b8%8c%e5%af%82">蔡希寂</a></p>
<div class="contson" id="contson5163">
西别秦关近，东行陕服长。川原馀让畔，歌吹忆遗棠。
<br />
河水流城下，山云起路傍。更怜栖泊处，池馆绕林篁。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=5163&from=http://so.gushiwen.org/view.aspx?id=23687"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(5163)"><img id="copyimg5163" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('5163','http://m.gushiwen.org/view_5163.aspx')" onmouseout="outweixin(5163)"><img id="weixinimg5163" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood5163" href="javascript:goodNew('5163','http://so.gushiwen.org/view.aspx?id=23687',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy5163" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin5163" style="background-color:aqua;"></div>
<div id="toolPlay5163" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare21693">春令有常候，清明桐始发。何此巴峡中，桐花开十月。岂伊物理变，信是土宜别。地气反寒暄，天时倒生杀。草木坚强物，所禀固难夺。风候一参差，荣枯遂乖剌。况吾北人性，不耐南方热。强羸寿夭间，安得依时节。——唐代·白居易《桐花》http://so.gushiwen.org/view_21693.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(21693)" id="btnShangxi21693"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(21693)" id="btnZhushi21693"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(21693)" id="btnYiwen21693" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_21693.aspx"><b>桐花</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e7%99%bd%e5%b1%85%e6%98%93">白居易</a></p>
<div class="contson" id="contson21693">
春令有常候，清明桐始发。何此巴峡中，桐花开十月。
<br />
岂伊物理变，信是土宜别。地气反寒暄，天时倒生杀。
<br />
草木坚强物，所禀固难夺。风候一参差，荣枯遂乖剌。
<br />
况吾北人性，不耐南方热。强羸寿夭间，安得依时节。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=21693&from=http://so.gushiwen.org/view.aspx?id=23687"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(21693)"><img id="copyimg21693" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('21693','http://m.gushiwen.org/view_21693.aspx')" onmouseout="outweixin(21693)"><img id="weixinimg21693" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood21693" href="javascript:goodNew('21693','http://so.gushiwen.org/view.aspx?id=23687',6)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;6</span></a></div>
</div>
<div id="toolCopy21693" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin21693" style="background-color:aqua;"></div>
<div id="toolPlay21693" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare6732">文姬留此曲，千载一知音。不解胡人语，空留楚客心。声随边草动，意入陇云深。何事长江上，萧萧出塞吟。——唐代·刘长卿《鄂渚听杜别驾弹胡琴》http://so.gushiwen.org/view_6732.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(6732)" id="btnShangxi6732"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(6732)" id="btnZhushi6732"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(6732)" id="btnYiwen6732" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_6732.aspx"><b>鄂渚听杜别驾弹胡琴</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%88%98%e9%95%bf%e5%8d%bf">刘长卿</a></p>
<div class="contson" id="contson6732">
文姬留此曲，千载一知音。不解胡人语，空留楚客心。
<br />
声随边草动，意入陇云深。何事长江上，萧萧出塞吟。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=6732&from=http://so.gushiwen.org/view.aspx?id=23687"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(6732)"><img id="copyimg6732" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('6732','http://m.gushiwen.org/view_6732.aspx')" onmouseout="outweixin(6732)"><img id="weixinimg6732" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood6732" href="javascript:goodNew('6732','http://so.gushiwen.org/view.aspx?id=23687',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy6732" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin6732" style="background-color:aqua;"></div>
<div id="toolPlay6732" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1266.aspx">日长篱落无人过，惟有蜻蜓蛱蝶飞。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_759.aspx">狂风吹我心，西挂咸阳树。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
