
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
春云原文、翻译及赏析_裴澄古诗_古诗文网
</title>
<meta name="description" content="漠漠复溶溶，乘春任所从。映林初展叶，触石未成峰。旭日消寒翠，晴烟点净容。霏微将似灭，深浅又如重。薄彩临溪散，轻阴带雨浓。空馀负樵者，岭上自相逢。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_24201.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_24201.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare24201">漠漠复溶溶，乘春任所从。映林初展叶，触石未成峰。旭日消寒翠，晴烟点净容。霏微将似灭，深浅又如重。薄彩临溪散，轻阴带雨浓。空馀负樵者，岭上自相逢。——唐代·裴澄《春云》http://so.gushiwen.org/view_24201.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(24201)" id="btnShangxi24201"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(24201)" id="btnZhushi24201"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(24201)" id="btnYiwen24201" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">春云</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_1542.aspx">裴澄</a> </p>
<div class="contson" id="contson24201">
漠漠复溶溶，乘春任所从。映林初展叶，触石未成峰。
<br />
旭日消寒翠，晴烟点净容。霏微将似灭，深浅又如重。
<br />
薄彩临溪散，轻阴带雨浓。空馀负樵者，岭上自相逢。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=24201&from=http://so.gushiwen.org/view.aspx?id=24201"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(24201)"><img id="copyimg24201" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('24201','http://m.gushiwen.org/view_24201.aspx')" onmouseout="outweixin(24201)"><img id="weixinimg24201" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=24201"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=4050600820"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood24201" href="javascript:goodNew('24201','http://so.gushiwen.org/view.aspx?id=24201',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin24201" style="background-color:aqua;"></div>
<div id="toolPlay24201" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor1542">裴澄，闻喜人。德宗朝登第，官至苏州刺史。http://so.gushiwen.org/author_1542.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_1542.aspx"><b>裴澄</b></a></p>
<p style=" margin:0px;">裴澄，闻喜人。德宗朝登第，官至苏州刺史。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=1542&from=http://so.gushiwen.org/view.aspx?id=24201"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(1542)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('1542','http://m.gushiwen.org/author_1542.aspx')" onmouseout="outweixinAuthor(1542)"><img id="weixinAuthorImg1542" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor1542" href="javascript:goodAuthorNew('1542','http://so.gushiwen.org/view.aspx?id=24201',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor1542" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare13373">游童苏合带，倡女蒲葵扇。初日映城时，相思忽相见。褰裳踏露草，理鬓回花面。薄暮不同归，留情此芳甸。柘弹连钱马，银钩妥堕鬟。采桑春陌上，踏草夕阳间。意合词先露，心诚貌却闲。明朝若相忆，云雨出巫山。——唐代·顾况《春游曲二首》http://so.gushiwen.org/view_13373.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(13373)" id="btnShangxi13373"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(13373)" id="btnZhushi13373"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(13373)" id="btnYiwen13373" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_13373.aspx"><b>春游曲二首</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%a1%be%e5%86%b5">顾况</a></p>
<div class="contson" id="contson13373">
游童苏合带，倡女蒲葵扇。初日映城时，相思忽相见。
<br />
褰裳踏露草，理鬓回花面。薄暮不同归，留情此芳甸。
<br />
柘弹连钱马，银钩妥堕鬟。采桑春陌上，踏草夕阳间。
<br />
意合词先露，心诚貌却闲。明朝若相忆，云雨出巫山。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=13373&from=http://so.gushiwen.org/view.aspx?id=24201"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(13373)"><img id="copyimg13373" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('13373','http://m.gushiwen.org/view_13373.aspx')" onmouseout="outweixin(13373)"><img id="weixinimg13373" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood13373" href="javascript:goodNew('13373','http://so.gushiwen.org/view.aspx?id=24201',3)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3</span></a></div>
</div>
<div id="toolCopy13373" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin13373" style="background-color:aqua;"></div>
<div id="toolPlay13373" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare47184">柳色披衫金缕凤，纤手轻拈红豆弄。翠蛾双敛正含情，桃花洞，瑶台梦，一片春愁谁与共。洞口春红飞蔌蔌，仙子含愁眉黛绿。阮郎何事不归来？懒烧金，慵篆玉，流水桃花空断续。——唐代·和凝《天仙子》http://so.gushiwen.org/view_47184.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(47184)" id="btnShangxi47184"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(47184)" id="btnZhushi47184"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(47184)" id="btnYiwen47184" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_47184.aspx"><b>天仙子</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%92%8c%e5%87%9d">和凝</a></p>
<div class="contson" id="contson47184">
柳色披衫金缕凤，纤手轻拈红豆弄。翠蛾双敛正含情，
<br />
桃花洞，瑶台梦，一片春愁谁与共。
<br />
洞口春红飞蔌蔌，仙子含愁眉黛绿。阮郎何事不归来？
<br />
懒烧金，慵篆玉，流水桃花空断续。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=47184&from=http://so.gushiwen.org/view.aspx?id=24201"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(47184)"><img id="copyimg47184" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('47184','http://m.gushiwen.org/view_47184.aspx')" onmouseout="outweixin(47184)"><img id="weixinimg47184" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood47184" href="javascript:goodNew('47184','http://so.gushiwen.org/view.aspx?id=24201',6)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;6</span></a></div>
</div>
<div id="toolCopy47184" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin47184" style="background-color:aqua;"></div>
<div id="toolPlay47184" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare19574">尔去东南夜，我无西北梦。谁言贫别易，贫别愁更重。晓色夺明月，征人逐群动。秋风楚涛高，旅榜将谁共。——唐代·孟郊《送从弟郢东归》http://so.gushiwen.org/view_19574.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(19574)" id="btnShangxi19574"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(19574)" id="btnZhushi19574"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(19574)" id="btnYiwen19574" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_19574.aspx"><b>送从弟郢东归</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%ad%9f%e9%83%8a">孟郊</a></p>
<div class="contson" id="contson19574">
尔去东南夜，我无西北梦。谁言贫别易，贫别愁更重。
<br />
晓色夺明月，征人逐群动。秋风楚涛高，旅榜将谁共。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=19574&from=http://so.gushiwen.org/view.aspx?id=24201"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(19574)"><img id="copyimg19574" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('19574','http://m.gushiwen.org/view_19574.aspx')" onmouseout="outweixin(19574)"><img id="weixinimg19574" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood19574" href="javascript:goodNew('19574','http://so.gushiwen.org/view.aspx?id=24201',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy19574" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin19574" style="background-color:aqua;"></div>
<div id="toolPlay19574" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_139.aspx">过尽千帆皆不是，斜晖脉脉水悠悠。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4826.aspx">年时俯仰过，功名宜速崇。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
