
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
怀伊川郊居原文、翻译及赏析_李德裕古诗_古诗文网
</title>
<meta name="description" content="衰疾常怀土，郊园欲掩扉。虽知明目地，不及有身归。巩树秋阴遍，伊原霁色微。此生看白首，良愿已应违。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_24727.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_24727.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare24727">衰疾常怀土，郊园欲掩扉。虽知明目地，不及有身归。巩树秋阴遍，伊原霁色微。此生看白首，良愿已应违。——唐代·李德裕《怀伊川郊居》http://so.gushiwen.org/view_24727.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(24727)" id="btnShangxi24727"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(24727)" id="btnZhushi24727"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(24727)" id="btnYiwen24727" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">怀伊川郊居</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_815.aspx">李德裕</a> </p>
<div class="contson" id="contson24727">
衰疾常怀土，郊园欲掩扉。虽知明目地，不及有身归。
<br />
巩树秋阴遍，伊原霁色微。此生看白首，良愿已应违。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=24727&from=http://so.gushiwen.org/view.aspx?id=24727"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(24727)"><img id="copyimg24727" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('24727','http://m.gushiwen.org/view_24727.aspx')" onmouseout="outweixin(24727)"><img id="weixinimg24727" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=24727"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=6507440287"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood24727" href="javascript:goodNew('24727','http://so.gushiwen.org/view.aspx?id=24727',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin24727" style="background-color:aqua;"></div>
<div id="toolPlay24727" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor815">李德裕（787—849），字文饶，唐代赵郡赞皇（今河北赞皇县）人，与其父李吉甫均为晚唐名相。唐文宗时，受李宗闵、牛僧儒等牛党势力倾轧，由翰林学士出为浙西观察使。太和七年，入相，复遭奸臣郑注、李训等人排斥，左迁。唐武宗即位后，李德裕再度入相，执政期间外平回鹘、内定昭义、裁汰冗官、协助武宗灭佛，功绩显赫。会昌四年八月，进封太尉、赵国公。唐武宗与李德裕之间的君臣相知成为晚唐之绝唱。后唐宣宗即位，李德裕由于位高权重，五贬为崖州司户。李德裕两度为相，太和年间为相1年8个月，会昌年间为相5年7个月，两次为相7年3个月。http://so.gushiwen.org/author_815.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_815.aspx"><img src="http://img.gushiwen.org/authorImg/lideyu.jpg" width="105" height="150" alt="李德裕"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_815.aspx"><b>李德裕</b></a></p>
<p style=" margin:0px;">李德裕（787—849），字文饶，唐代赵郡赞皇（今河北赞皇县）人，与其父李吉甫均为晚唐名相。唐文宗时，受李宗闵、牛僧儒等牛党势力倾轧，由翰林学士出为浙西观察使。太和七年，入相，复遭奸臣郑注、李训等人排斥，左迁。唐武宗即位后，李德裕再度入相，执政期间外平回鹘、内定昭义、裁汰冗官、协助武宗灭佛，功绩显赫。会昌四年八月，进封太尉、赵国公。唐武宗与李德裕之间的君臣相知成为晚唐之绝唱。后唐宣宗即位，李德裕由于位高权重，五贬为崖州司户。李德裕两度为相，太和年间为相1年8个月，会昌年间为相5年7个月，两次为相7年3个月。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=815&from=http://so.gushiwen.org/view.aspx?id=24727"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(815)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('815','http://m.gushiwen.org/author_815.aspx')" onmouseout="outweixinAuthor(815)"><img id="weixinAuthorImg815" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor815" href="javascript:goodAuthorNew('815','http://so.gushiwen.org/view.aspx?id=24727',148)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;148</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor815" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare11953">掖垣携爱客，胜地赏年光。向竹过宾馆，寻山到妓堂。歌声掩金谷，舞态出平阳。地满簪裾影，花添兰麝香。莺啼春未老，酒冷日犹长。安石风流事，须归问省郎。——唐代·钱起《奉陪郭常侍宴浐川山池》http://so.gushiwen.org/view_11953.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(11953)" id="btnShangxi11953"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(11953)" id="btnZhushi11953"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(11953)" id="btnYiwen11953" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_11953.aspx"><b>奉陪郭常侍宴浐川山池</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%92%b1%e8%b5%b7">钱起</a></p>
<div class="contson" id="contson11953">
掖垣携爱客，胜地赏年光。向竹过宾馆，寻山到妓堂。
<br />
歌声掩金谷，舞态出平阳。地满簪裾影，花添兰麝香。
<br />
莺啼春未老，酒冷日犹长。安石风流事，须归问省郎。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=11953&from=http://so.gushiwen.org/view.aspx?id=24727"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(11953)"><img id="copyimg11953" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('11953','http://m.gushiwen.org/view_11953.aspx')" onmouseout="outweixin(11953)"><img id="weixinimg11953" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood11953" href="javascript:goodNew('11953','http://so.gushiwen.org/view.aspx?id=24727',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy11953" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin11953" style="background-color:aqua;"></div>
<div id="toolPlay11953" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare18376">高斋洒寒水，是夕山僧至。玄牝无关锁，琼书舍文字。灯明香满室，月午霜凝地。语到不言时，世间人尽睡。——唐代·刘禹锡《送惟良上人》http://so.gushiwen.org/view_18376.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(18376)" id="btnShangxi18376"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(18376)" id="btnZhushi18376"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(18376)" id="btnYiwen18376" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_18376.aspx"><b>送惟良上人</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%88%98%e7%a6%b9%e9%94%a1">刘禹锡</a></p>
<div class="contson" id="contson18376">
高斋洒寒水，是夕山僧至。玄牝无关锁，琼书舍文字。
<br />
灯明香满室，月午霜凝地。语到不言时，世间人尽睡。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=18376&from=http://so.gushiwen.org/view.aspx?id=24727"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(18376)"><img id="copyimg18376" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('18376','http://m.gushiwen.org/view_18376.aspx')" onmouseout="outweixin(18376)"><img id="weixinimg18376" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood18376" href="javascript:goodNew('18376','http://so.gushiwen.org/view.aspx?id=24727',5)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;5</span></a></div>
</div>
<div id="toolCopy18376" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin18376" style="background-color:aqua;"></div>
<div id="toolPlay18376" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare6395">白马逐朱车，黄昏入狭邪。柳树乌争宿，争枝未得飞上屋。东房少妇婿从军，每听乌啼知夜分。——唐代·王昌龄《乌栖曲》http://so.gushiwen.org/view_6395.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(6395)" id="btnShangxi6395"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(6395)" id="btnZhushi6395"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(6395)" id="btnYiwen6395" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_6395.aspx"><b>乌栖曲</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e7%8e%8b%e6%98%8c%e9%be%84">王昌龄</a></p>
<div class="contson" id="contson6395">
白马逐朱车，黄昏入狭邪。柳树乌争宿，
<br />
争枝未得飞上屋。东房少妇婿从军，每听乌啼知夜分。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=6395&from=http://so.gushiwen.org/view.aspx?id=24727"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(6395)"><img id="copyimg6395" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('6395','http://m.gushiwen.org/view_6395.aspx')" onmouseout="outweixin(6395)"><img id="weixinimg6395" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood6395" href="javascript:goodNew('6395','http://so.gushiwen.org/view.aspx?id=24727',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy6395" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin6395" style="background-color:aqua;"></div>
<div id="toolPlay6395" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5654.aspx">晓雾将歇，猿鸟乱鸣；</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3540.aspx">今我来思，雨雪霏霏。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
