
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
周先生画洞庭歌原文、翻译及赏析_鲍溶古诗_古诗文网
</title>
<meta name="description" content="江南客，水为乡，舟为宅，能以笔锋知地脉。闲分楚水入丹青，不下此堂临洞庭。水文不浪烟不动，木末棱棱山碧重。帝子应哀窈窕云，客人似得婵娟梦。六月火光衣上生，斋心寂听潺湲声。林冰摇镜水拂" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_25143.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_25143.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare25143">江南客，水为乡，舟为宅，能以笔锋知地脉。闲分楚水入丹青，不下此堂临洞庭。水文不浪烟不动，木末棱棱山碧重。帝子应哀窈窕云，客人似得婵娟梦。六月火光衣上生，斋心寂听潺湲声。林冰摇镜水拂簟，尽日独卧秋风清。因游洞庭不出户，疑君如有长生路。玉壶先生在何处？——唐代·鲍溶《周先生画洞庭歌》http://so.gushiwen.org/view_25143.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(25143)" id="btnShangxi25143"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(25143)" id="btnZhushi25143"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(25143)" id="btnYiwen25143" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">周先生画洞庭歌</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_1783.aspx">鲍溶</a> </p>
<div class="contson" id="contson25143">
江南客，水为乡，舟为宅，能以笔锋知地脉。
<br />
闲分楚水入丹青，不下此堂临洞庭。水文不浪烟不动，
<br />
木末棱棱山碧重。帝子应哀窈窕云，客人似得婵娟梦。
<br />
六月火光衣上生，斋心寂听潺湲声。林冰摇镜水拂簟，
<br />
尽日独卧秋风清。因游洞庭不出户，疑君如有长生路。
<br />
玉壶先生在何处？
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=25143&from=http://so.gushiwen.org/view.aspx?id=25143"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(25143)"><img id="copyimg25143" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('25143','http://m.gushiwen.org/view_25143.aspx')" onmouseout="outweixin(25143)"><img id="weixinimg25143" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=25143"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=5032222945"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood25143" href="javascript:goodNew('25143','http://so.gushiwen.org/view.aspx?id=25143',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin25143" style="background-color:aqua;"></div>
<div id="toolPlay25143" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor1783">鲍溶，字德源，生卒年、籍贯不详，元和四年进士，是中唐时期的重要诗人。晚唐诗人、诗论家张为著《诗人主客图》，尊鲍溶为“博解宏拔主”．将他与“广大教化主”白居易、“高古奥逸主”孟云卿、“清奇雅正主”李益、“清奇僻苦主”盂郊、“瑰奇美丽主”武元衡并列。为“六主”之一。宋代欧阳修、曾巩等对他的诗歌也颇为欣赏。http://so.gushiwen.org/author_1783.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_1783.aspx"><img src="http://img.gushiwen.org/authorImg/baorong.jpg" width="105" height="150" alt="鲍溶"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_1783.aspx"><b>鲍溶</b></a></p>
<p style=" margin:0px;">鲍溶，字德源，生卒年、籍贯不详，元和四年进士，是中唐时期的重要诗人。晚唐诗人、诗论家张为著《诗人主客图》，尊鲍溶为“博解宏拔主”．将他与“广大教化主”白居易、“高古奥逸主”孟云卿、“清奇雅正主”李益、“清奇僻苦主”盂郊、“瑰奇美丽主”武元衡并列。为“六主”之一。宋代欧阳修、曾巩等对他的诗歌也颇为欣赏。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=1783&from=http://so.gushiwen.org/view.aspx?id=25143"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(1783)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('1783','http://m.gushiwen.org/author_1783.aspx')" onmouseout="outweixinAuthor(1783)"><img id="weixinAuthorImg1783" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor1783" href="javascript:goodAuthorNew('1783','http://so.gushiwen.org/view.aspx?id=25143',0)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;0</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor1783" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare24754">东风泼火雨新休，舁尽春泥扫雪沟。走马犊车当御路，汉阳公主谢鸡球。——唐代·熊孺登《寒食》http://so.gushiwen.org/view_24754.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(24754)" id="btnShangxi24754"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(24754)" id="btnZhushi24754"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(24754)" id="btnYiwen24754" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_24754.aspx"><b>寒食</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e7%86%8a%e5%ad%ba%e7%99%bb">熊孺登</a></p>
<div class="contson" id="contson24754">
东风泼火雨新休，舁尽春泥扫雪沟。
<br />
走马犊车当御路，汉阳公主谢鸡球。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=24754&from=http://so.gushiwen.org/view.aspx?id=25143"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(24754)"><img id="copyimg24754" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('24754','http://m.gushiwen.org/view_24754.aspx')" onmouseout="outweixin(24754)"><img id="weixinimg24754" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood24754" href="javascript:goodNew('24754','http://so.gushiwen.org/view.aspx?id=25143',3)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3</span></a></div>
</div>
<div id="toolCopy24754" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin24754" style="background-color:aqua;"></div>
<div id="toolPlay24754" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare13069">肃肃先师庙，依依胄子群。满庭陈旧礼，开户拜清芬。万舞当华烛，箫韶入翠云。颂歌清晓听，雅吹度风闻。澹泊调元气，中和美圣君。唯馀东鲁客，蹈舞向南熏。——唐代·令狐峘《释奠日国学观礼闻雅颂》http://so.gushiwen.org/view_13069.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(13069)" id="btnShangxi13069"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(13069)" id="btnZhushi13069"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(13069)" id="btnYiwen13069" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_13069.aspx"><b>释奠日国学观礼闻雅颂</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e4%bb%a4%e7%8b%90%e5%b3%98">令狐峘</a></p>
<div class="contson" id="contson13069">
肃肃先师庙，依依胄子群。满庭陈旧礼，开户拜清芬。
<br />
万舞当华烛，箫韶入翠云。颂歌清晓听，雅吹度风闻。
<br />
澹泊调元气，中和美圣君。唯馀东鲁客，蹈舞向南熏。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=13069&from=http://so.gushiwen.org/view.aspx?id=25143"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(13069)"><img id="copyimg13069" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('13069','http://m.gushiwen.org/view_13069.aspx')" onmouseout="outweixin(13069)"><img id="weixinimg13069" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood13069" href="javascript:goodNew('13069','http://so.gushiwen.org/view.aspx?id=25143',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy13069" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin13069" style="background-color:aqua;"></div>
<div id="toolPlay13069" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare1519">章华宫人夜上楼，君王望月西山头。夜深宫殿门不锁，白露满山山叶堕。——唐代·王建《相和歌辞。乌栖曲》http://so.gushiwen.org/view_1519.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(1519)" id="btnShangxi1519"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(1519)" id="btnZhushi1519"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(1519)" id="btnYiwen1519" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_1519.aspx"><b>相和歌辞。乌栖曲</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e7%8e%8b%e5%bb%ba">王建</a></p>
<div class="contson" id="contson1519">
章华宫人夜上楼，君王望月西山头。
<br />
夜深宫殿门不锁，白露满山山叶堕。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=1519&from=http://so.gushiwen.org/view.aspx?id=25143"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(1519)"><img id="copyimg1519" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('1519','http://m.gushiwen.org/view_1519.aspx')" onmouseout="outweixin(1519)"><img id="weixinimg1519" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood1519" href="javascript:goodNew('1519','http://so.gushiwen.org/view.aspx?id=25143',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy1519" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin1519" style="background-color:aqua;"></div>
<div id="toolPlay1519" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3604.aspx">对朝云叆叇，暮雨霏微，乱峰相倚。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_378.aspx">画船捶鼓催君去。高楼把酒留君住。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
