
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
候仙词原文、翻译及赏析_施肩吾古诗_古诗文网
</title>
<meta name="description" content="西归公子何时降，南岳先生早晚来。巡历世间犹未遍，乞求鸾鹤且裴回。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_25589.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_25589.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare25589">西归公子何时降，南岳先生早晚来。巡历世间犹未遍，乞求鸾鹤且裴回。——唐代·施肩吾《候仙词》http://so.gushiwen.org/view_25589.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(25589)" id="btnShangxi25589"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(25589)" id="btnZhushi25589"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(25589)" id="btnYiwen25589" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">候仙词</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_773.aspx">施肩吾</a> </p>
<div class="contson" id="contson25589">
西归公子何时降，南岳先生早晚来。
<br />
巡历世间犹未遍，乞求鸾鹤且裴回。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=25589&from=http://so.gushiwen.org/view.aspx?id=25589"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(25589)"><img id="copyimg25589" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('25589','http://m.gushiwen.org/view_25589.aspx')" onmouseout="outweixin(25589)"><img id="weixinimg25589" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=25589"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=3759807771"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood25589" href="javascript:goodNew('25589','http://so.gushiwen.org/view.aspx?id=25589',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin25589" style="background-color:aqua;"></div>
<div id="toolPlay25589" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor773">施肩吾（780-861），唐宪宗元和十五年（公元820年）进士，唐睦州分水县桐岘乡（贤德乡）人，字希圣，号东斋，入道后称栖真子。施肩吾是杭州地区第一位状元（杭州孔子文化纪念馆语），他集诗人、道学家、台湾第一个民间开拓者于一身的历史人物。http://so.gushiwen.org/author_773.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_773.aspx"><b>施肩吾</b></a></p>
<p style=" margin:0px;">施肩吾（780-861），唐宪宗元和十五年（公元820年）进士，唐睦州分水县桐岘乡（贤德乡）人，字希圣，号东斋，入道后称栖真子。施肩吾是杭州地区第一位状元（杭州孔子文化纪念馆语），他集诗人、道学家、台湾第一个民间开拓者于一身的历史人物。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=773&from=http://so.gushiwen.org/view.aspx?id=25589"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(773)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('773','http://m.gushiwen.org/author_773.aspx')" onmouseout="outweixinAuthor(773)"><img id="weixinAuthorImg773" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor773" href="javascript:goodAuthorNew('773','http://so.gushiwen.org/view.aspx?id=25589',207)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;207</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor773" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare10373">已从招提游，更宿招提境。阴壑生虚籁，月林散清影。（虚籁 一作：灵籁）天阙象纬逼，云卧衣裳冷。欲觉闻晨钟，令人发深省。——唐代·杜甫《游龙门奉先寺》http://so.gushiwen.org/view_10373.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(10373)" id="btnShangxi10373"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(10373)" id="btnZhushi10373"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(10373)" id="btnYiwen10373" />
<script type="text/javascript">
                        document.getElementById("btnZhushi10373").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen10373").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_10373.aspx"><b>游龙门奉先寺</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%9c%e7%94%ab">杜甫</a></p>
<div class="contson" id="contson10373">
已从招提游，更宿招提境。<br />阴壑生虚籁，月林散清影。（虚籁 一作：灵籁）<br />天阙象纬逼，云卧衣裳冷。<br />欲觉闻晨钟，令人发深省。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=10373&from=http://so.gushiwen.org/view.aspx?id=25589"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(10373)"><img id="copyimg10373" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('10373','http://m.gushiwen.org/view_10373.aspx')" onmouseout="outweixin(10373)"><img id="weixinimg10373" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood10373" href="javascript:goodNew('10373','http://so.gushiwen.org/view.aspx?id=25589',5)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;5</span></a></div>
</div>
<div id="toolCopy10373" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin10373" style="background-color:aqua;"></div>
<div id="toolPlay10373" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%9c%b0%e6%96%b9">地方</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%b4%9b%e9%98%b3">洛阳</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%a4%9c%e6%99%9a">夜晚</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare37509">南北东西似客身，远峰高鸟自为邻。清歌一曲犹能住，莫道无心胜得人。——唐代·吴融《云》http://so.gushiwen.org/view_37509.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(37509)" id="btnShangxi37509"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(37509)" id="btnZhushi37509"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(37509)" id="btnYiwen37509" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_37509.aspx"><b>云</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%90%b4%e8%9e%8d">吴融</a></p>
<div class="contson" id="contson37509">
南北东西似客身，远峰高鸟自为邻。
<br />
清歌一曲犹能住，莫道无心胜得人。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=37509&from=http://so.gushiwen.org/view.aspx?id=25589"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(37509)"><img id="copyimg37509" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('37509','http://m.gushiwen.org/view_37509.aspx')" onmouseout="outweixin(37509)"><img id="weixinimg37509" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood37509" href="javascript:goodNew('37509','http://so.gushiwen.org/view.aspx?id=25589',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy37509" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin37509" style="background-color:aqua;"></div>
<div id="toolPlay37509" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare12433">莫言水国去迢迢，白马吴门见不遥。枫树林中经楚雨，木兰舟上蹋江潮。空山古寺千年石，草色寒堤百尺桥，早晚卢家兰室在，珊瑚玉佩彻青霄。——唐代·韩翃《兖州送李明府使苏州便赴告期》http://so.gushiwen.org/view_12433.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(12433)" id="btnShangxi12433"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(12433)" id="btnZhushi12433"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(12433)" id="btnYiwen12433" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_12433.aspx"><b>兖州送李明府使苏州便赴告期</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%9f%a9%e7%bf%83">韩翃</a></p>
<div class="contson" id="contson12433">
莫言水国去迢迢，白马吴门见不遥。枫树林中经楚雨，
<br />
木兰舟上蹋江潮。空山古寺千年石，草色寒堤百尺桥，
<br />
早晚卢家兰室在，珊瑚玉佩彻青霄。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=12433&from=http://so.gushiwen.org/view.aspx?id=25589"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(12433)"><img id="copyimg12433" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('12433','http://m.gushiwen.org/view_12433.aspx')" onmouseout="outweixin(12433)"><img id="weixinimg12433" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood12433" href="javascript:goodNew('12433','http://so.gushiwen.org/view.aspx?id=25589',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy12433" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin12433" style="background-color:aqua;"></div>
<div id="toolPlay12433" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2207.aspx">惜恐镜中春。不如花草新。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5515.aspx">枥马苦踡跼，笼禽念遐征。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
