
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
重经姑苏怀古二首（一作杜牧之诗）原文、翻译及赏析_许浑古诗_古诗文网
</title>
<meta name="description" content="越兵驱绮罗，越女唱吴歌。宫尽燕声少，台荒麋迹多。茱萸垂晓露，菡萏落秋波。无复君王醉，满城颦翠蛾。香径绕吴宫，千帆落照中。鹳鸣山欲雨，鱼跃水多风。城带晚莎绿，池连秋蓼红。当年国门外，" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_28152.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_28152.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare28152">越兵驱绮罗，越女唱吴歌。宫尽燕声少，台荒麋迹多。茱萸垂晓露，菡萏落秋波。无复君王醉，满城颦翠蛾。香径绕吴宫，千帆落照中。鹳鸣山欲雨，鱼跃水多风。城带晚莎绿，池连秋蓼红。当年国门外，谁识伍员忠。——唐代·许浑《重经姑苏怀古二首（一作杜牧之诗）》http://so.gushiwen.org/view_28152.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(28152)" id="btnShangxi28152"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(28152)" id="btnZhushi28152"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(28152)" id="btnYiwen28152" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">重经姑苏怀古二首（一作杜牧之诗）</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_267.aspx">许浑</a> </p>
<div class="contson" id="contson28152">
越兵驱绮罗，越女唱吴歌。宫尽燕声少，台荒麋迹多。
<br />
茱萸垂晓露，菡萏落秋波。无复君王醉，满城颦翠蛾。
<br />
香径绕吴宫，千帆落照中。鹳鸣山欲雨，鱼跃水多风。
<br />
城带晚莎绿，池连秋蓼红。当年国门外，谁识伍员忠。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=28152&from=http://so.gushiwen.org/view.aspx?id=28152"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(28152)"><img id="copyimg28152" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('28152','http://m.gushiwen.org/view_28152.aspx')" onmouseout="outweixin(28152)"><img id="weixinimg28152" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=28152"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=9892375458"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood28152" href="javascript:goodNew('28152','http://so.gushiwen.org/view.aspx?id=28152',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin28152" style="background-color:aqua;"></div>
<div id="toolPlay28152" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor267">许浑，晚唐最具影响力的诗人之一，七五律尤佳，后人拟之与诗圣杜甫齐名，更有“许浑千首诗，杜甫一生愁”之语。http://so.gushiwen.org/author_267.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_267.aspx"><img src="http://img.gushiwen.org/authorImg/xuhun.jpg" width="105" height="150" alt="许浑"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_267.aspx"><b>许浑</b></a></p>
<p style=" margin:0px;">许浑，晚唐最具影响力的诗人之一，七五律尤佳，后人拟之与诗圣杜甫齐名，更有“许浑千首诗，杜甫一生愁”之语。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=267&from=http://so.gushiwen.org/view.aspx?id=28152"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(267)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('267','http://m.gushiwen.org/author_267.aspx')" onmouseout="outweixinAuthor(267)"><img id="weixinAuthorImg267" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor267" href="javascript:goodAuthorNew('267','http://so.gushiwen.org/view.aspx?id=28152',619)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;619</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor267" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare37348">呵花贴鬓黏寒发，凝酥光透猩猩血。经过洛水几多人，唯有陈王见罗袜。——唐代·韩偓《密意》http://so.gushiwen.org/view_37348.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(37348)" id="btnShangxi37348"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(37348)" id="btnZhushi37348"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(37348)" id="btnYiwen37348" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_37348.aspx"><b>密意</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%9f%a9%e5%81%93">韩偓</a></p>
<div class="contson" id="contson37348">
呵花贴鬓黏寒发，凝酥光透猩猩血。
<br />
经过洛水几多人，唯有陈王见罗袜。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=37348&from=http://so.gushiwen.org/view.aspx?id=28152"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(37348)"><img id="copyimg37348" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('37348','http://m.gushiwen.org/view_37348.aspx')" onmouseout="outweixin(37348)"><img id="weixinimg37348" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood37348" href="javascript:goodNew('37348','http://so.gushiwen.org/view.aspx?id=28152',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy37348" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin37348" style="background-color:aqua;"></div>
<div id="toolPlay37348" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare38626">峨嵋山下能琴客，似醉似狂人不测。何须见我眼偏青，未见我身头已白。茫茫四海本无家，一片愁云飏秋碧。壶中醉卧日月明，世上长游天地窄。晋朝叔夜旧相知，蜀郡文君小来识。后生常建彼何人，赠我篇章苦雕刻。名卿名相尽知音，遇酒遇琴无间隔。如今世乱独翛然，天外鸿飞招不得。余今正泣杨朱泪，八月边城风刮地。霓旌绛旆忽相寻，为我尊前横绿绮。一弹猛雨随手来，再弹白雪连天起。凄凄清清松上风，咽咽幽幽陇头水。吟蜂绕树去不来，别鹤引雏飞又止。锦麟不动惟侧头，白马仰听空竖耳。广陵故事无人知，古人不说今人疑。子期子野俱不见，乌啼鬼哭空伤悲。坐中词客悄无语，帘外月华庭欲午。为君吟作听琴歌，为我留名系仙谱。——唐代·韦庄《赠峨嵋山弹琴李处士》http://so.gushiwen.org/view_38626.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(38626)" id="btnShangxi38626"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(38626)" id="btnZhushi38626"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(38626)" id="btnYiwen38626" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_38626.aspx"><b>赠峨嵋山弹琴李处士</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%9f%a6%e5%ba%84">韦庄</a></p>
<div class="contson" id="contson38626">
峨嵋山下能琴客，似醉似狂人不测。何须见我眼偏青，
<br />
未见我身头已白。茫茫四海本无家，一片愁云飏秋碧。
<br />
壶中醉卧日月明，世上长游天地窄。晋朝叔夜旧相知，
<br />
蜀郡文君小来识。后生常建彼何人，赠我篇章苦雕刻。
<br />
名卿名相尽知音，遇酒遇琴无间隔。如今世乱独翛然，
<br />
天外鸿飞招不得。余今正泣杨朱泪，八月边城风刮地。
<br />
霓旌绛旆忽相寻，为我尊前横绿绮。一弹猛雨随手来，
<br />
再弹白雪连天起。凄凄清清松上风，咽咽幽幽陇头水。
<br />
吟蜂绕树去不来，别鹤引雏飞又止。锦麟不动惟侧头，
<br />
白马仰听空竖耳。广陵故事无人知，古人不说今人疑。
<br />
子期子野俱不见，乌啼鬼哭空伤悲。坐中词客悄无语，
<br />
帘外月华庭欲午。为君吟作听琴歌，为我留名系仙谱。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=38626&from=http://so.gushiwen.org/view.aspx?id=28152"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(38626)"><img id="copyimg38626" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('38626','http://m.gushiwen.org/view_38626.aspx')" onmouseout="outweixin(38626)"><img id="weixinimg38626" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood38626" href="javascript:goodNew('38626','http://so.gushiwen.org/view.aspx?id=28152',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy38626" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin38626" style="background-color:aqua;"></div>
<div id="toolPlay38626" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare9455">斗酒渭城边，垆头耐醉眠。梨花千树雪，杨叶万条烟。惜别添壶酒，临岐赠马鞭。看君颍上去，新月到家圆。——唐代·岑参《送杨子》http://so.gushiwen.org/view_9455.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(9455)" id="btnShangxi9455"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(9455)" id="btnZhushi9455"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(9455)" id="btnYiwen9455" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_9455.aspx"><b>送杨子</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%b2%91%e5%8f%82">岑参</a></p>
<div class="contson" id="contson9455">
斗酒渭城边，垆头耐醉眠。梨花千树雪，杨叶万条烟。
<br />
惜别添壶酒，临岐赠马鞭。看君颍上去，新月到家圆。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=9455&from=http://so.gushiwen.org/view.aspx?id=28152"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(9455)"><img id="copyimg9455" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('9455','http://m.gushiwen.org/view_9455.aspx')" onmouseout="outweixin(9455)"><img id="weixinimg9455" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood9455" href="javascript:goodNew('9455','http://so.gushiwen.org/view.aspx?id=28152',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy9455" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin9455" style="background-color:aqua;"></div>
<div id="toolPlay9455" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_800.aspx">晴烟漠漠柳毵毵，不那离情酒半酣。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3576.aspx">满眼游丝兼落絮，红杏开时，一霎清明雨。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
