
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
飞云亭原文、翻译及赏析_朱景玄古诗_古诗文网
</title>
<meta name="description" content="上结孤圆顶，飞轩出泰清。有时迷处所，梁栋晓云生。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_29600.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_29600.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare29600">上结孤圆顶，飞轩出泰清。有时迷处所，梁栋晓云生。——唐代·朱景玄《飞云亭》http://so.gushiwen.org/view_29600.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(29600)" id="btnShangxi29600"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(29600)" id="btnZhushi29600"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(29600)" id="btnYiwen29600" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">飞云亭</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_959.aspx">朱景玄</a> </p>
<div class="contson" id="contson29600">
上结孤圆顶，飞轩出泰清。有时迷处所，梁栋晓云生。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=29600&from=http://so.gushiwen.org/view.aspx?id=29600"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(29600)"><img id="copyimg29600" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('29600','http://m.gushiwen.org/view_29600.aspx')" onmouseout="outweixin(29600)"><img id="weixinimg29600" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=29600"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=9396155575"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood29600" href="javascript:goodNew('29600','http://so.gushiwen.org/view.aspx?id=29600',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin29600" style="background-color:aqua;"></div>
<div id="toolPlay29600" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor959">朱景玄，唐朝武宗会昌(841-846)时人，吴郡（今江苏苏州）人，元和初应进士举，曾任咨议，历翰林学士，官至太子谕德。诗一卷，今存十五首。编撰有〈唐朝名画录〉。http://so.gushiwen.org/author_959.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_959.aspx"><b>朱景玄</b></a></p>
<p style=" margin:0px;">朱景玄，唐朝武宗会昌(841-846)时人，吴郡（今江苏苏州）人，元和初应进士举，曾任咨议，历翰林学士，官至太子谕德。诗一卷，今存十五首。编撰有〈唐朝名画录〉。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=959&from=http://so.gushiwen.org/view.aspx?id=29600"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(959)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('959','http://m.gushiwen.org/author_959.aspx')" onmouseout="outweixinAuthor(959)"><img id="weixinAuthorImg959" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor959" href="javascript:goodAuthorNew('959','http://so.gushiwen.org/view.aspx?id=29600',0)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;0</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor959" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare16498">追立新碑日，怜君苦一身。远移深涧石，助立故乡人。草色荒坟绿，松阴古殿春。平生心已遂，归去得垂纶。——唐代·于鹄《饯司农宋卿立太尉碑了还江东》http://so.gushiwen.org/view_16498.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(16498)" id="btnShangxi16498"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(16498)" id="btnZhushi16498"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(16498)" id="btnYiwen16498" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_16498.aspx"><b>饯司农宋卿立太尉碑了还江东</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e4%ba%8e%e9%b9%84">于鹄</a></p>
<div class="contson" id="contson16498">
追立新碑日，怜君苦一身。远移深涧石，助立故乡人。
<br />
草色荒坟绿，松阴古殿春。平生心已遂，归去得垂纶。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=16498&from=http://so.gushiwen.org/view.aspx?id=29600"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(16498)"><img id="copyimg16498" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('16498','http://m.gushiwen.org/view_16498.aspx')" onmouseout="outweixin(16498)"><img id="weixinimg16498" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood16498" href="javascript:goodNew('16498','http://so.gushiwen.org/view.aspx?id=29600',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy16498" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin16498" style="background-color:aqua;"></div>
<div id="toolPlay16498" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare9529">云送关西雨，风传渭北秋。孤灯然客梦，寒杵捣乡愁。滩上思严子，山中忆许由。苍生今有望，飞诏下林丘。——唐代·岑参《宿关西客舍寄东山严、许二山人时天宝初…见有高道举征》http://so.gushiwen.org/view_9529.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(9529)" id="btnShangxi9529"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(9529)" id="btnZhushi9529"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(9529)" id="btnYiwen9529" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_9529.aspx"><b>宿关西客舍寄东山严、许二山人时天宝初…见有高道举征</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%b2%91%e5%8f%82">岑参</a></p>
<div class="contson" id="contson9529">
云送关西雨，风传渭北秋。孤灯然客梦，寒杵捣乡愁。
<br />
滩上思严子，山中忆许由。苍生今有望，飞诏下林丘。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=9529&from=http://so.gushiwen.org/view.aspx?id=29600"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(9529)"><img id="copyimg9529" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('9529','http://m.gushiwen.org/view_9529.aspx')" onmouseout="outweixin(9529)"><img id="weixinimg9529" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood9529" href="javascript:goodNew('9529','http://so.gushiwen.org/view.aspx?id=29600',3)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3</span></a></div>
</div>
<div id="toolCopy9529" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin9529" style="background-color:aqua;"></div>
<div id="toolPlay9529" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare4702">十年通大漠，万里出长平。寒日生戈剑，阴云拂旆旌。饥乌啼旧垒，疲马恋空城。辛苦皋兰北，胡霜损汉兵。——唐代·沈佺期《被试出塞》http://so.gushiwen.org/view_4702.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(4702)" id="btnShangxi4702"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(4702)" id="btnZhushi4702"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(4702)" id="btnYiwen4702" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_4702.aspx"><b>被试出塞</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%b2%88%e4%bd%ba%e6%9c%9f">沈佺期</a></p>
<div class="contson" id="contson4702">
十年通大漠，万里出长平。寒日生戈剑，阴云拂旆旌。
<br />
饥乌啼旧垒，疲马恋空城。辛苦皋兰北，胡霜损汉兵。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=4702&from=http://so.gushiwen.org/view.aspx?id=29600"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(4702)"><img id="copyimg4702" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('4702','http://m.gushiwen.org/view_4702.aspx')" onmouseout="outweixin(4702)"><img id="weixinimg4702" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood4702" href="javascript:goodNew('4702','http://so.gushiwen.org/view.aspx?id=29600',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy4702" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin4702" style="background-color:aqua;"></div>
<div id="toolPlay4702" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_226.aspx">莫买沃洲山，时人已知处。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_134.aspx">孤之有孔明，犹鱼之有水也。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
