
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
赠王先生原文、翻译及赏析_赵嘏古诗_古诗文网
</title>
<meta name="description" content="太一真人隐翠霞，早年曾降蔡经家。羽衣使者峭于鹤，鸟爪侍娘飘若花。九鼎栏干归马齿，三山窕窈步云涯。时因弟子偷灵药，散落人间驻物华。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_29806.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_29806.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare29806">太一真人隐翠霞，早年曾降蔡经家。羽衣使者峭于鹤，鸟爪侍娘飘若花。九鼎栏干归马齿，三山窕窈步云涯。时因弟子偷灵药，散落人间驻物华。——唐代·赵嘏《赠王先生》http://so.gushiwen.org/view_29806.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(29806)" id="btnShangxi29806"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(29806)" id="btnZhushi29806"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(29806)" id="btnYiwen29806" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">赠王先生</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_10.aspx">赵嘏</a> </p>
<div class="contson" id="contson29806">
太一真人隐翠霞，早年曾降蔡经家。羽衣使者峭于鹤，
<br />
鸟爪侍娘飘若花。九鼎栏干归马齿，三山窕窈步云涯。
<br />
时因弟子偷灵药，散落人间驻物华。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=29806&from=http://so.gushiwen.org/view.aspx?id=29806"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(29806)"><img id="copyimg29806" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('29806','http://m.gushiwen.org/view_29806.aspx')" onmouseout="outweixin(29806)"><img id="weixinimg29806" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=29806"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=2425251870"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood29806" href="javascript:goodNew('29806','http://so.gushiwen.org/view.aspx?id=29806',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin29806" style="background-color:aqua;"></div>
<div id="toolPlay29806" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor10">赵嘏 , 字承佑， 楚州山阳(今江苏省淮安市楚州区)人， 约生于宪宗元和元年(806). 年轻时四处游历， 大和七年预省试进士下第， 留寓长安多年， 出入豪门以干功名， 其间似曾远去岭表当了几年幕府。 后回江东, 家于润州(今镇江). 会昌四年进士及第, 一年后东归。 会昌末或大中初复往长安， 入仕为渭南尉。 约宣宗大中六、七年(852、853)卒于任上。 存诗二百多首， 其中七律、七绝最多且较出色。http://so.gushiwen.org/author_10.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_10.aspx"><img src="http://img.gushiwen.org/authorImg/zhaogu.jpg" width="105" height="150" alt="赵嘏"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_10.aspx"><b>赵嘏</b></a></p>
<p style=" margin:0px;">赵嘏 , 字承佑， 楚州山阳(今江苏省淮安市楚州区)人， 约生于宪宗元和元年(806). 年轻时四处游历， 大和七年预省试进士下第， 留寓长安多年， 出入豪门以干功名， 其间似曾远去岭表当了几年幕府。 后回江东, 家于润州(今镇江). 会昌四年进士及第, 一年后东归。 会昌末或大中初复往长安， 入仕为渭南尉。 约宣宗大中六、七年(852、853)卒于任上。 存诗二百多首， 其中七律、七绝最多且较出色。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=10&from=http://so.gushiwen.org/view.aspx?id=29806"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(10)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('10','http://m.gushiwen.org/author_10.aspx')" onmouseout="outweixinAuthor(10)"><img id="weixinAuthorImg10" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor10" href="javascript:goodAuthorNew('10','http://so.gushiwen.org/view.aspx?id=29806',392)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;392</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor10" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare12746">怅望南徐登北固，迢遥西塞恨东关。落日临川问音信，寒潮唯带夕阳还。——唐代·皇甫冉《酬张继》http://so.gushiwen.org/view_12746.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(12746)" id="btnShangxi12746"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(12746)" id="btnZhushi12746"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(12746)" id="btnYiwen12746" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_12746.aspx"><b>酬张继</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e7%9a%87%e7%94%ab%e5%86%89">皇甫冉</a></p>
<div class="contson" id="contson12746">
怅望南徐登北固，迢遥西塞恨东关。
<br />
落日临川问音信，寒潮唯带夕阳还。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=12746&from=http://so.gushiwen.org/view.aspx?id=29806"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(12746)"><img id="copyimg12746" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('12746','http://m.gushiwen.org/view_12746.aspx')" onmouseout="outweixin(12746)"><img id="weixinimg12746" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood12746" href="javascript:goodNew('12746','http://so.gushiwen.org/view.aspx?id=29806',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy12746" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin12746" style="background-color:aqua;"></div>
<div id="toolPlay12746" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare2096">裁生罗，伐湘竹，帔拂疏霜簟秋玉。炎炎红镜东方开，晕如车轮上徘徊，啾啾赤帝骑龙来。——唐代·李贺《杂曲歌辞。十二月乐辞。六月》http://so.gushiwen.org/view_2096.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(2096)" id="btnShangxi2096"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(2096)" id="btnZhushi2096"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(2096)" id="btnYiwen2096" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_2096.aspx"><b>杂曲歌辞。十二月乐辞。六月</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e8%b4%ba">李贺</a></p>
<div class="contson" id="contson2096">
裁生罗，伐湘竹，帔拂疏霜簟秋玉。炎炎红镜东方开，
<br />
晕如车轮上徘徊，啾啾赤帝骑龙来。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=2096&from=http://so.gushiwen.org/view.aspx?id=29806"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(2096)"><img id="copyimg2096" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('2096','http://m.gushiwen.org/view_2096.aspx')" onmouseout="outweixin(2096)"><img id="weixinimg2096" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood2096" href="javascript:goodNew('2096','http://so.gushiwen.org/view.aspx?id=29806',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy2096" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin2096" style="background-color:aqua;"></div>
<div id="toolPlay2096" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare7858">悲来乎，悲来乎。主人有酒且莫斟，听我一曲悲来吟。悲来不吟还不笑，天下无人知我心。君有数斗酒，我有三尺琴。琴鸣酒乐两相得，一杯不啻千钧金。悲来乎，悲来乎。天虽长，地虽久，金玉满堂应不守。富贵百年能几何，死生一度人皆有。孤猿坐啼坟上月，且须一尽杯中酒。悲来乎，悲来乎。凤凰不至河无图，微子去之箕子奴。汉帝不忆李将军，楚王放却屈大夫。悲来乎，悲来乎。秦家李斯早追悔，虚名拨向身之外。范子何曾爱五湖，功成名遂身自退。剑是一夫用，书能知姓名。惠施不肯干万乘，卜式未必穷一经。还须黑头取方伯，莫谩白首为儒生。——唐代·李白《悲歌行》http://so.gushiwen.org/view_7858.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(7858)" id="btnShangxi7858"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(7858)" id="btnZhushi7858"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(7858)" id="btnYiwen7858" />
<script type="text/javascript">
                        document.getElementById("btnShangxi7858").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi7858").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen7858").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_7858.aspx"><b>悲歌行</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e7%99%bd">李白</a></p>
<div class="contson" id="contson7858">
<p>悲来乎，悲来乎。<br />主人有酒且莫斟，听我一曲悲来吟。<br />悲来不吟还不笑，天下无人知我心。<br />君有数斗酒，我有三尺琴。<br />琴鸣酒乐两相得，一杯不啻千钧金。<br />悲来乎，悲来乎。<br />天虽长，地虽久，金玉满堂应不守。<br />富贵百年能几何，死生一度人皆有。<br />孤猿坐啼坟上月，且须一尽杯中酒。<br />悲来乎，悲来乎。<br />凤凰不至河无图，微子去之箕子奴。<br />汉帝不忆李将军，楚王放却屈大夫。<br />悲来乎，悲来乎。<br />秦家李斯早追悔，虚名拨向身之外。<br />范子何曾爱五湖，功成名遂身自退。<br />剑是一夫用，书能知姓名。<br />惠施不肯干万乘，卜式未必穷一经。<br />还须黑头取方伯，莫谩白首为儒生。</p>
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=7858&from=http://so.gushiwen.org/view.aspx?id=29806"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(7858)"><img id="copyimg7858" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('7858','http://m.gushiwen.org/view_7858.aspx')" onmouseout="outweixin(7858)"><img id="weixinimg7858" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood7858" href="javascript:goodNew('7858','http://so.gushiwen.org/view.aspx?id=29806',34)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;34</span></a></div>
</div>
<div id="toolCopy7858" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin7858" style="background-color:aqua;"></div>
<div id="toolPlay7858" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e6%8a%92%e6%83%85">抒情</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%ad%a4%e7%8b%ac">孤独</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%90%86%e6%83%b3">理想</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%80%e6%89%8d%e4%b8%8d%e9%81%87">怀才不遇</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_706.aspx">悠悠洛阳道，此会在何年。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2462.aspx">况是青春日将暮，桃花乱落如红雨。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
