
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
听蜀道士琴歌原文、翻译及赏析_李宣古古诗_古诗文网
</title>
<meta name="description" content="至道不可见，正声难得闻。忽逢羽客抱绿绮，西别峨嵋峰顶云。初排□面蹑轻响，似掷细珠鸣玉上。忽挥素爪画七弦，苍崖劈裂迸碎泉。愤声高，怨声咽，屈原叫天两妃绝。朝雉飞，双鹤离，属玉夜啼独鹜" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_30098.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_30098.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare30098">至道不可见，正声难得闻。忽逢羽客抱绿绮，西别峨嵋峰顶云。初排□面蹑轻响，似掷细珠鸣玉上。忽挥素爪画七弦，苍崖劈裂迸碎泉。愤声高，怨声咽，屈原叫天两妃绝。朝雉飞，双鹤离，属玉夜啼独鹜悲。吹我神飞碧霄里，牵我心灵入秋水。有如驱逐太古来，邪淫辟荡贞心开。孝为子，忠为臣，不独语言能教人。前弄啸，后弄嚬，一舒一惨非冬春。从朝至暮听不足，相将直说瀛洲宿。更深弹罢背孤灯，窗雪萧萧打寒竹。人间岂合值仙踪，此别多应不再逢。抱琴却上瀛洲去，一片白云千万峰。——唐代·李宣古《听蜀道士琴歌》http://so.gushiwen.org/view_30098.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(30098)" id="btnShangxi30098"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(30098)" id="btnZhushi30098"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(30098)" id="btnYiwen30098" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">听蜀道士琴歌</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_2372.aspx">李宣古</a> </p>
<div class="contson" id="contson30098">
至道不可见，正声难得闻。忽逢羽客抱绿绮，
<br />
西别峨嵋峰顶云。初排□面蹑轻响，似掷细珠鸣玉上。
<br />
忽挥素爪画七弦，苍崖劈裂迸碎泉。愤声高，怨声咽，
<br />
屈原叫天两妃绝。朝雉飞，双鹤离，属玉夜啼独鹜悲。
<br />
吹我神飞碧霄里，牵我心灵入秋水。有如驱逐太古来，
<br />
邪淫辟荡贞心开。孝为子，忠为臣，不独语言能教人。
<br />
前弄啸，后弄嚬，一舒一惨非冬春。从朝至暮听不足，
<br />
相将直说瀛洲宿。更深弹罢背孤灯，窗雪萧萧打寒竹。
<br />
人间岂合值仙踪，此别多应不再逢。抱琴却上瀛洲去，
<br />
一片白云千万峰。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=30098&from=http://so.gushiwen.org/view.aspx?id=30098"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(30098)"><img id="copyimg30098" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('30098','http://m.gushiwen.org/view_30098.aspx')" onmouseout="outweixin(30098)"><img id="weixinimg30098" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=30098"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=7175576416"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood30098" href="javascript:goodNew('30098','http://so.gushiwen.org/view.aspx?id=30098',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin30098" style="background-color:aqua;"></div>
<div id="toolPlay30098" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor2372">李宣古，唐澧阳（今湖南澧县）人，字垂后，（约公元八五三年前后在世），生卒年均不详。约唐宣宗大中中前后在世。工文，有诗名。会昌三年，（公元八四三年）举进士第，又中“宏辞”，无意仕途，终身执教，落莫而终。弟李宣远，亦以诗鸣于时，另堂兄弟为晚唐著名诗人李群玉。http://so.gushiwen.org/author_2372.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_2372.aspx"><b>李宣古</b></a></p>
<p style=" margin:0px;">李宣古，唐澧阳（今湖南澧县）人，字垂后，（约公元八五三年前后在世），生卒年均不详。约唐宣宗大中中前后在世。工文，有诗名。会昌三年，（公元八四三年）举进士第，又中“宏辞”，无意仕途，终身执教，落莫而终。弟李宣远，亦以诗鸣于时，另堂兄弟为晚唐著名诗人李群玉。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=2372&from=http://so.gushiwen.org/view.aspx?id=30098"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(2372)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('2372','http://m.gushiwen.org/author_2372.aspx')" onmouseout="outweixinAuthor(2372)"><img id="weixinAuthorImg2372" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor2372" href="javascript:goodAuthorNew('2372','http://so.gushiwen.org/view.aspx?id=30098',0)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;0</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor2372" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare14755">渐欲休人事，僧房学闭关。伴鱼浮水上，看鹤向林间。寺古秋仍早，松深暮更闲。月中随道友，夜夜坐空山。——唐代·卢纶《大梵山寺院奉呈趣上人赵中丞》http://so.gushiwen.org/view_14755.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(14755)" id="btnShangxi14755"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(14755)" id="btnZhushi14755"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(14755)" id="btnYiwen14755" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_14755.aspx"><b>大梵山寺院奉呈趣上人赵中丞</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%8d%a2%e7%ba%b6">卢纶</a></p>
<div class="contson" id="contson14755">
渐欲休人事，僧房学闭关。伴鱼浮水上，看鹤向林间。
<br />
寺古秋仍早，松深暮更闲。月中随道友，夜夜坐空山。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=14755&from=http://so.gushiwen.org/view.aspx?id=30098"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(14755)"><img id="copyimg14755" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('14755','http://m.gushiwen.org/view_14755.aspx')" onmouseout="outweixin(14755)"><img id="weixinimg14755" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood14755" href="javascript:goodNew('14755','http://so.gushiwen.org/view.aspx?id=30098',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy14755" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin14755" style="background-color:aqua;"></div>
<div id="toolPlay14755" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare1790">君不见岩下井，百尺不及泉。君不见山上蒿，数寸凌云烟。人生相命亦如此，何苦太息自忧煎。但愿亲友长含笑，相逢莫吝杖头钱。寒夜邀欢须秉烛，岂得空思花柳年。君不见门前柳，荣曜暂时萧索久。君不见陌上花，狂风吹去落谁家。谁家思妇见之叹，蓬首不梳心历乱。盛年夫婿长别离，岁暮相逢色凋换。君不见荒树枝，春花落尽蜂不窥。君不见梁上泥，秋风始高燕不栖。荡子从军事征战，蛾眉婵娟空守闺。独宿自然堪下泪，况复时闻乌夜啼。君不见云间月，暂盈还复缺。君不见林下风，声远意难穷。亲故平生欲聚散，欢娱未尽尊酒空。自叹青青陵上柏，岁寒能与几人同。君不见东流水，一去无穷已。君不见西郊云，日夕空氛氲。群雁裴回不能去，一雁悲鸣复失群。人生结交在终始，莫为升沉中路分。——唐代·贺兰进明《杂曲歌辞。行路难五首》http://so.gushiwen.org/view_1790.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(1790)" id="btnShangxi1790"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(1790)" id="btnZhushi1790"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(1790)" id="btnYiwen1790" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_1790.aspx"><b>杂曲歌辞。行路难五首</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e8%b4%ba%e5%85%b0%e8%bf%9b%e6%98%8e">贺兰进明</a></p>
<div class="contson" id="contson1790">
君不见岩下井，百尺不及泉。君不见山上蒿，
<br />
数寸凌云烟。人生相命亦如此，何苦太息自忧煎。
<br />
但愿亲友长含笑，相逢莫吝杖头钱。寒夜邀欢须秉烛，
<br />
岂得空思花柳年。
<br />
君不见门前柳，荣曜暂时萧索久。君不见陌上花，
<br />
狂风吹去落谁家。谁家思妇见之叹，蓬首不梳心历乱。
<br />
盛年夫婿长别离，岁暮相逢色凋换。
<br />
君不见荒树枝，春花落尽蜂不窥。君不见梁上泥，
<br />
秋风始高燕不栖。荡子从军事征战，蛾眉婵娟空守闺。
<br />
独宿自然堪下泪，况复时闻乌夜啼。
<br />
君不见云间月，暂盈还复缺。君不见林下风，
<br />
声远意难穷。亲故平生欲聚散，欢娱未尽尊酒空。
<br />
自叹青青陵上柏，岁寒能与几人同。
<br />
君不见东流水，一去无穷已。君不见西郊云，
<br />
日夕空氛氲。群雁裴回不能去，一雁悲鸣复失群。
<br />
人生结交在终始，莫为升沉中路分。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=1790&from=http://so.gushiwen.org/view.aspx?id=30098"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(1790)"><img id="copyimg1790" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('1790','http://m.gushiwen.org/view_1790.aspx')" onmouseout="outweixin(1790)"><img id="weixinimg1790" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood1790" href="javascript:goodNew('1790','http://so.gushiwen.org/view.aspx?id=30098',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy1790" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin1790" style="background-color:aqua;"></div>
<div id="toolPlay1790" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare43975">夜雨山草滋，爽籁生古木。闲吟竹仙偈，清于嚼金玉。蟋蟀啼坏墙，苟免悲局促。道人优昙花，迢迢远山绿。果熟无低枝，芳香入屏帷。故人久不来，萱草何离离。苦吟斋貌减，更被杉风吹。独赖湖上翁，时为烹露葵。红藕映嘉鲂，澄池照孤坐。池痕放文彩，雨气增慵堕。山翁寄术药，幸得秋病可。终召十七人，云中备香火。清气生沧洲，残云落林薮。放鹤久不归，不知更归否。支策到江湄，江皋木叶飞。自怜为客远，还如鹊绕枝。南枝复北枝，玉露沾毛衣。——唐代·贯休《闲居拟齐梁四首》http://so.gushiwen.org/view_43975.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(43975)" id="btnShangxi43975"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(43975)" id="btnZhushi43975"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(43975)" id="btnYiwen43975" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_43975.aspx"><b>闲居拟齐梁四首</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e8%b4%af%e4%bc%91">贯休</a></p>
<div class="contson" id="contson43975">
夜雨山草滋，爽籁生古木。闲吟竹仙偈，清于嚼金玉。
<br />
蟋蟀啼坏墙，苟免悲局促。道人优昙花，迢迢远山绿。
<br />
果熟无低枝，芳香入屏帷。故人久不来，萱草何离离。
<br />
苦吟斋貌减，更被杉风吹。独赖湖上翁，时为烹露葵。
<br />
红藕映嘉鲂，澄池照孤坐。池痕放文彩，雨气增慵堕。
<br />
山翁寄术药，幸得秋病可。终召十七人，云中备香火。
<br />
清气生沧洲，残云落林薮。放鹤久不归，不知更归否。
<br />
支策到江湄，江皋木叶飞。自怜为客远，还如鹊绕枝。
<br />
南枝复北枝，玉露沾毛衣。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=43975&from=http://so.gushiwen.org/view.aspx?id=30098"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(43975)"><img id="copyimg43975" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('43975','http://m.gushiwen.org/view_43975.aspx')" onmouseout="outweixin(43975)"><img id="weixinimg43975" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood43975" href="javascript:goodNew('43975','http://so.gushiwen.org/view.aspx?id=30098',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy43975" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin43975" style="background-color:aqua;"></div>
<div id="toolPlay43975" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5632.aspx">气软来风易，枝繁度鸟迟。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1737.aspx">无作牛山悲，恻怆泪沾臆。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
