
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
楚江怀古三首原文、翻译及赏析_马戴古诗_古诗文网
</title>
<meta name="description" content="露气寒光集，微阳下楚丘。猿啼洞庭树，人在木兰舟。 广泽生明月，苍山夹乱流。云中君不降，竟夕自悲秋。 惊鸟去无际，寒蛩鸣我傍。芦洲生早雾，兰隰下微霜。 列宿分穷野，空流注大荒。看山候" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_30273.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_30273.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare30273">露气寒光集，微阳下楚丘。猿啼洞庭树，人在木兰舟。 广泽生明月，苍山夹乱流。云中君不降，竟夕自悲秋。 惊鸟去无际，寒蛩鸣我傍。芦洲生早雾，兰隰下微霜。 列宿分穷野，空流注大荒。看山候明月，聊自整云装。 野风吹蕙带，骤雨滴兰桡。屈宋魂冥寞，江山思寂寥。 阴霓侵晚景，海树入回潮。欲折寒芳荐，明神讵可招。——唐代·马戴《楚江怀古三首》http://so.gushiwen.org/view_30273.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(30273)" id="btnShangxi30273"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(30273)" id="btnZhushi30273"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(30273)" id="btnYiwen30273" />
<script type="text/javascript">
                        document.getElementById("btnShangxi30273").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi30273").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">楚江怀古三首</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_465.aspx">马戴</a> </p>
<div class="contson" id="contson30273">
露气寒光集，微阳下楚丘。猿啼洞庭树，人在木兰舟。 <br />广泽生明月，苍山夹乱流。云中君不降，竟夕自悲秋。 <br />惊鸟去无际，寒蛩鸣我傍。芦洲生早雾，兰隰下微霜。 <br />列宿分穷野，空流注大荒。看山候明月，聊自整云装。 <br />野风吹蕙带，骤雨滴兰桡。屈宋魂冥寞，江山思寂寥。 <br />阴霓侵晚景，海树入回潮。欲折寒芳荐，明神讵可招。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=30273&from=http://so.gushiwen.org/view.aspx?id=30273"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(30273)"><img id="copyimg30273" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('30273','http://m.gushiwen.org/view_30273.aspx')" onmouseout="outweixin(30273)"><img id="weixinimg30273" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=30273"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=7406916047"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood30273" href="javascript:goodNew('30273','http://so.gushiwen.org/view.aspx?id=30273',15)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;15</span></a></div>
</div>
<div class="toolerweima" id="weixin30273" style="background-color:aqua;"></div>
<div id="toolPlay30273" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%80%e5%8f%a4">怀古</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%bb%84%e8%af%97">组诗</a>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">注释<span style="display:none;">2706</span></h2>
⑴微阳：落日的残照。楚丘：泛指湖南的山岭。<br />⑵木兰舟：船的美称。木兰是一种美丽的树木，高大的树干可以做船。<br />⑶广泽：指青草湖，周长二百六十五里，与洞庭湖相连，是古代云梦泽的遗迹。<br />⑷云中君：云神。<a href="http://so.gushiwen.org/author_238.aspx">屈原</a>《九歌》有《云中君》篇，此处亦兼指屈原。<br />⑸竟夕：整个晚上。
</div>
<div class="dingpai">
<a id="ding2706" href="javascript:ding('2706','http://so.gushiwen.org/view.aspx?id=30273')">有用(0)</a><a id="pai2706" style=" margin-left:10px;" href="javascript:pai('2706','http://so.gushiwen.org/view.aspx?id=30273')">没用(6)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div id="shangxi3897" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(3897)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">鉴赏</h2>
<p>　　这组诗以第一首最为知名。此篇虽题“怀古”，却泛咏洞庭景致。诗人履楚江而临晚秋，时值晚唐，不免“发思古之幽情”，感伤自身不遇。首联先点明薄暮时分；颔联上句承接“暮”字，下句才点出人来，颈联就山水两方面写夜景，“夹”字犹见凝练；尾联才写出“怀古” 的主旨，为后两首开题，而以悲愁作结。诗人描写了洞庭湖的风景，凭吊屈原，抒发了自己羡慕屈原的情怀，表达了自己苦闷忧伤的心境。</p>
<p>　　近人俞陛云在《诗境浅说》中说：“唐人五律，多高华雄厚之作，此诗以清微婉约出之，如仙人乘莲叶轻舟，凌波而下也。”他以“清微婉约”四字标举此诗的艺术风格，确实别具只眼。</p>
<p>　　秋风遥落的薄暮时
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(3897)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan3897" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">鉴赏</h2>
<p>　　这组<a href="http://so.gushiwen.org/view_30273.aspx">诗</a>以第一首最为知名。此篇虽题“怀古”，却泛咏洞庭景致。诗人履楚江而临晚秋，时值晚唐，不免“发思古之幽情”，感伤自身不遇。首联先点明薄暮时分；颔联上句承接“暮”字，下句才点出人来，颈联就山水两方面写夜景，“夹”字犹见凝练；尾联才写出“怀古” 的主旨，为后两首开题，而以悲愁作结。诗人描写了洞庭湖的风景，凭吊<a href="http://so.gushiwen.org/author_238.aspx">屈原</a>，抒发了自己羡慕屈原的情怀，表达了自己苦闷忧伤的心境。</p>
<p>　　近人俞陛云在《诗境浅说》中说：“唐人五律，多高华雄厚之作，此诗以清微婉约出之，如仙人乘莲叶轻舟，凌波而下也。”他以“清微婉约”四字标举此诗的艺术风格，确实别具只眼。</p>
<p>　　秋风遥落的薄暮时分，江上晚雾初生，楚山夕阳西下，露气迷茫，寒意侵人。这种萧瑟清冷的秋暮景象，深曲微婉地透露了诗人悲凉落寞的情怀。斯时斯地，入耳的是洞庭湖边树丛中猿猴的哀啼，照眼的是江上飘流的木兰舟。“嫋嫋兮秋风，洞庭波兮木叶下”（《九歌·湘夫人》），“船容与而不进兮，淹回水而凝滞”（《涉江》），诗人泛游在湘江之上，对景怀人，屈原的歌声仿佛在叩击他的心弦。“猿啼洞庭树，人在木兰舟”，这是晚唐诗中的名句，一句写听觉，一句写视觉；一句写物，一句写己；上句静中有动，下句动中有静。诗人伤秋怀远之情并没有直接说明，只是点染了一张淡彩的画，气象清远，婉而不露，让人思而得之。</p>
<p>　　黄昏已尽，夜幕降临，一轮明月从广阔的洞庭湖上升起，深苍的山峦间夹泻着汩汩而下的乱流。“广泽生明月，苍山夹乱流”二句，描绘的虽是比较广阔的景象，但它的情致与笔墨还是清微婉约的。同是用五律写明月，<a href="http://so.gushiwen.org/author_691.aspx">张九龄</a>的“海上生明月，天涯共此时”（《望月怀远》），<a href="http://so.gushiwen.org/author_247.aspx">李白</a>的“梦绕城边月，心飞故国楼”（《太原早秋》），<a href="http://so.gushiwen.org/author_474.aspx">杜甫</a>的“星垂平野阔，江入大荒流”（《旅夜书怀》），都是所谓“高华雄厚”之作。而<a href="http://so.gushiwen.org/author_465.aspx">马戴</a>此联的风调却有明显的不同，这一联承上发展而来，是山水分设的写景。但“一切景语，皆情语也”（田同之《西圃词说》），“广泽生明月”的阔大和静谧，曲曲反衬出诗人远谪遐方的孤单离索：“苍山夹乱流”的迷茫与纷扰，深深映照出诗人内心深处的撩乱彷徨。</p>
<p>　　夜已深沉，诗人尚未归去，俯仰于天地之间，沉浮于湘波之上，他不禁想起楚地古老的传说和屈原《九歌》中的“云中君”。“屈宋魂冥寞，江山思寂寥”，云神无由得见，屈子也邈矣难寻，诗人自然更是感慨丛生了。“云中君不见，竟夕自悲秋”，点明题目中的“怀古”，而且以“竟夕”与“悲秋”在时间和节候上呼应开篇，使全诗在变化错综之中呈现出和谐完整之美，让人寻绎不尽。</p>
<p>　　从这首诗可以看到，清微婉约的风格，在内容上是由感情的细腻低回所决定的，在艺术表现上则是清超而不质实，深微而不粗放，词华淡远而不艳抹浓妆，含蓄蕴藉而不直露奔迸。马戴的这首诗，可说是晚唐诗歌园地里一枝具有独特芬芳和色彩的素馨花。<a title="收起" href="javascript:shangxiClose(3897)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx3897" href="javascript:dingsx('3897','http://so.gushiwen.org/view.aspx?id=30273')">有用(3)</a><a id="paisx3897" style=" margin-left:10px;" href="javascript:paisx('3897','http://so.gushiwen.org/view.aspx?id=30273')">没用(0)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">创作背景<span style="display:none;">3896</span></h2>
　　大中（唐宣宗年号，847—859）初年，原在山西太原幕府掌书记的<a href="http://so.gushiwen.org/author_465.aspx">马戴</a>，因直言被贬为龙阳（今湖南省常德市）尉，从北方来到江南，徘徊在洞庭湖畔和湘江之滨，触景生情，追慕前贤，感怀身世，写下《楚江怀古三首》。
</div>
<div class="dingpai">
<a id="dingsx3896" href="javascript:dingsx('3896','http://so.gushiwen.org/view.aspx?id=30273')">有用(1)</a><a id="paisx3896" style=" margin-left:10px;" href="javascript:paisx('3896','http://so.gushiwen.org/view.aspx?id=30273')">没用(0)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor465">马戴（799—869），字虞臣，唐定州曲阳（今江苏省东海县）人。晚唐时期著名诗人。http://so.gushiwen.org/author_465.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_465.aspx"><img src="http://img.gushiwen.org/authorImg/madai.jpg" width="105" height="150" alt="马戴"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_465.aspx"><b>马戴</b></a></p>
<p style=" margin:0px;">马戴（799—869），字虞臣，唐定州曲阳（今江苏省东海县）人。晚唐时期著名诗人。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=465&from=http://so.gushiwen.org/view.aspx?id=30273"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(465)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('465','http://m.gushiwen.org/author_465.aspx')" onmouseout="outweixinAuthor(465)"><img id="weixinAuthorImg465" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor465" href="javascript:goodAuthorNew('465','http://so.gushiwen.org/view.aspx?id=30273',271)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;271</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor465" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare51058">疏篱曲径田家小。云树开清晓。天寒山色有无中。野外一声钟起、送孤蓬。 添衣策马寻亭堠。愁抱惟宜酒。菰蒲睡鸭占陂塘。纵被行人惊散、又成双。——宋代·周邦彦《虞美人·疏篱曲径田家小》http://so.gushiwen.org/view_51058.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(51058)" id="btnShangxi51058"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(51058)" id="btnZhushi51058"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(51058)" id="btnYiwen51058" />
<script type="text/javascript">
                        document.getElementById("btnShangxi51058").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_51058.aspx"><b>虞美人·疏篱曲径田家小</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%91%a8%e9%82%a6%e5%bd%a6">周邦彦</a></p>
<div class="contson" id="contson51058">
疏篱曲径田家小。云树开清晓。天寒山色有无中。野外一声钟起、送孤蓬。 <br />添衣策马寻亭堠。愁抱惟宜酒。菰蒲睡鸭占陂塘。纵被行人惊散、又成双。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=51058&from=http://so.gushiwen.org/view.aspx?id=30273"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(51058)"><img id="copyimg51058" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('51058','http://m.gushiwen.org/view_51058.aspx')" onmouseout="outweixin(51058)"><img id="weixinimg51058" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood51058" href="javascript:goodNew('51058','http://so.gushiwen.org/view.aspx?id=30273',24)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;24</span></a></div>
</div>
<div id="toolCopy51058" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin51058" style="background-color:aqua;"></div>
<div id="toolPlay51058" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e4%b8%89%e7%99%be%e9%a6%96">宋词三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e9%80%81%e5%88%ab">送别</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%83%9c%e5%88%ab">惜别</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare70869">秦时明月汉时关，万里长征人未还。但使龙城飞将在，不教胡马度阴山。——唐代·王昌龄《出塞二首·其一》http://so.gushiwen.org/view_70869.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(70869)" id="btnShangxi70869"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(70869)" id="btnZhushi70869"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(70869)" id="btnYiwen70869" />
<script type="text/javascript">
                        document.getElementById("btnShangxi70869").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi70869").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen70869").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_70869.aspx"><b>出塞二首·其一</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e7%8e%8b%e6%98%8c%e9%be%84">王昌龄</a></p>
<div class="contson" id="contson70869">
秦时明月汉时关，万里长征人未还。<br />但使龙城飞将在，不教胡马度阴山。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=70869&from=http://so.gushiwen.org/view.aspx?id=30273"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(70869)"><img id="copyimg70869" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('70869','http://m.gushiwen.org/view_70869.aspx')" onmouseout="outweixin(70869)"><img id="weixinimg70869" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood70869" href="javascript:goodNew('70869','http://so.gushiwen.org/view.aspx?id=30273',4506)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;4506</span></a></div>
</div>
<div id="toolCopy70869" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin70869" style="background-color:aqua;"></div>
<div id="toolPlay70869" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%94%90%e8%af%97%e4%b8%89%e7%99%be%e9%a6%96">唐诗三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e8%be%b9%e5%a1%9e">边塞</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%88%98%e4%ba%89">战争</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%88%b1%e5%9b%bd">爱国</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%bf%a7%e5%9b%bd%e5%bf%a7%e6%b0%91">忧国忧民</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare50129">清润风光雨后天。蔷薇花谢绿窗前。碧琉璃瓦欲生烟。 十里闲情凭蝶梦，一春幽怨付鲲弦。小楼今夜月重圆。——宋代·晁端礼《浣溪沙·清润风光雨后天》http://so.gushiwen.org/view_50129.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(50129)" id="btnShangxi50129"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(50129)" id="btnZhushi50129"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(50129)" id="btnYiwen50129" />
<script type="text/javascript">
                        document.getElementById("btnShangxi50129").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi50129").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen50129").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_50129.aspx"><b>浣溪沙·清润风光雨后天</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%99%81%e7%ab%af%e7%a4%bc">晁端礼</a></p>
<div class="contson" id="contson50129">
清润风光雨后天。蔷薇花谢绿窗前。碧琉璃瓦欲生烟。 <br />十里闲情凭蝶梦，一春幽怨付鲲弦。小楼今夜月重圆。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=50129&from=http://so.gushiwen.org/view.aspx?id=30273"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(50129)"><img id="copyimg50129" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('50129','http://m.gushiwen.org/view_50129.aspx')" onmouseout="outweixin(50129)"><img id="weixinimg50129" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood50129" href="javascript:goodNew('50129','http://so.gushiwen.org/view.aspx?id=30273',10)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;10</span></a></div>
</div>
<div id="toolCopy50129" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin50129" style="background-color:aqua;"></div>
<div id="toolPlay50129" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%a9%89%e7%ba%a6">婉约</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%8a%92%e6%83%85">抒情</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4368.aspx">易求无价宝，难得有情郎。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2129.aspx">但将千岁叶，常奉万年杯。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
