
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
答贾支使寄鹤原文、翻译及赏析_薛能古诗_古诗文网
</title>
<meta name="description" content="瑞羽奇姿踉跄形，称为仙驭过清冥。何年厚禄曾居卫，几世前身本姓丁。幸有远云兼远水，莫临华表望华亭。劳君赠我清歌侣，将去田园夜坐听。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_30694.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_30694.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare30694">瑞羽奇姿踉跄形，称为仙驭过清冥。何年厚禄曾居卫，几世前身本姓丁。幸有远云兼远水，莫临华表望华亭。劳君赠我清歌侣，将去田园夜坐听。——唐代·薛能《答贾支使寄鹤》http://so.gushiwen.org/view_30694.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(30694)" id="btnShangxi30694"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(30694)" id="btnZhushi30694"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(30694)" id="btnYiwen30694" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">答贾支使寄鹤</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_947.aspx">薛能</a> </p>
<div class="contson" id="contson30694">
瑞羽奇姿踉跄形，称为仙驭过清冥。何年厚禄曾居卫，
<br />
几世前身本姓丁。幸有远云兼远水，莫临华表望华亭。
<br />
劳君赠我清歌侣，将去田园夜坐听。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=30694&from=http://so.gushiwen.org/view.aspx?id=30694"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(30694)"><img id="copyimg30694" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('30694','http://m.gushiwen.org/view_30694.aspx')" onmouseout="outweixin(30694)"><img id="weixinimg30694" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=30694"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=1374565868"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood30694" href="javascript:goodNew('30694','http://so.gushiwen.org/view.aspx?id=30694',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div class="toolerweima" id="weixin30694" style="background-color:aqua;"></div>
<div id="toolPlay30694" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor947">薛能(817？-880？）晚唐著名诗人。《郡斋读书志》、《唐诗纪事》、《唐诗品汇》、《唐才子传》均载：“能，字太拙，汾州人(今山西汾阳一带)。”仕宦显达，官至工部尚书。时人称其“诗古赋纵横，令人畏后生”。唐人交游之风盛行。薛能一生仕宦他乡，游历众多地方，诗多寄送赠答、游历登临之作。晚唐一些著名诗人多与有诗与其唱和。http://so.gushiwen.org/author_947.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_947.aspx"><b>薛能</b></a></p>
<p style=" margin:0px;">薛能(817？-880？）晚唐著名诗人。《郡斋读书志》、《唐诗纪事》、《唐诗品汇》、《唐才子传》均载：“能，字太拙，汾州人(今山西汾阳一带)。”仕宦显达，官至工部尚书。时人称其“诗古赋纵横，令人畏后生”。唐人交游之风盛行。薛能一生仕宦他乡，游历众多地方，诗多寄送赠答、游历登临之作。晚唐一些著名诗人多与有诗与其唱和。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=947&from=http://so.gushiwen.org/view.aspx?id=30694"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(947)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('947','http://m.gushiwen.org/author_947.aspx')" onmouseout="outweixinAuthor(947)"><img id="weixinAuthorImg947" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor947" href="javascript:goodAuthorNew('947','http://so.gushiwen.org/view.aspx?id=30694',3)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor947" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare14708">圆月出高城，苍苍照水营。江中正吹笛，楼上又无更。洛下仍传箭，关西欲进兵。谁知五湖外，诸将但争名。——唐代·卢纶《夜泊金陵》http://so.gushiwen.org/view_14708.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(14708)" id="btnShangxi14708"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(14708)" id="btnZhushi14708"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(14708)" id="btnYiwen14708" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_14708.aspx"><b>夜泊金陵</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%8d%a2%e7%ba%b6">卢纶</a></p>
<div class="contson" id="contson14708">
圆月出高城，苍苍照水营。江中正吹笛，楼上又无更。
<br />
洛下仍传箭，关西欲进兵。谁知五湖外，诸将但争名。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=14708&from=http://so.gushiwen.org/view.aspx?id=30694"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(14708)"><img id="copyimg14708" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('14708','http://m.gushiwen.org/view_14708.aspx')" onmouseout="outweixin(14708)"><img id="weixinimg14708" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood14708" href="javascript:goodNew('14708','http://so.gushiwen.org/view.aspx?id=30694',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy14708" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin14708" style="background-color:aqua;"></div>
<div id="toolPlay14708" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare41199">昨宵宴罢醉如泥，惟忆张公大谷梨。白玉花繁曾缀处，黄金色嫩乍成时。冷侵肺腑醒偏早，香惹衣襟歇倍迟。今旦中山方酒渴，唯应此物最相宜。——唐代·徐铉《赠陶使君求梨》http://so.gushiwen.org/view_41199.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(41199)" id="btnShangxi41199"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(41199)" id="btnZhushi41199"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(41199)" id="btnYiwen41199" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_41199.aspx"><b>赠陶使君求梨</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%be%90%e9%93%89">徐铉</a></p>
<div class="contson" id="contson41199">
昨宵宴罢醉如泥，惟忆张公大谷梨。白玉花繁曾缀处，
<br />
黄金色嫩乍成时。冷侵肺腑醒偏早，香惹衣襟歇倍迟。
<br />
今旦中山方酒渴，唯应此物最相宜。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=41199&from=http://so.gushiwen.org/view.aspx?id=30694"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(41199)"><img id="copyimg41199" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('41199','http://m.gushiwen.org/view_41199.aspx')" onmouseout="outweixin(41199)"><img id="weixinimg41199" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood41199" href="javascript:goodNew('41199','http://so.gushiwen.org/view.aspx?id=30694',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy41199" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin41199" style="background-color:aqua;"></div>
<div id="toolPlay41199" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare39441">故友从来匪石心，谏多难得主恩深。行朝半夜烟尘起，晓殿吁嗟一镜沈。天涯时有北来尘，因话它人及故人。也是先皇能罪己，殿前频得触龙鳞。——唐代·崔道融《悲李拾遗二首》http://so.gushiwen.org/view_39441.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(39441)" id="btnShangxi39441"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(39441)" id="btnZhushi39441"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(39441)" id="btnYiwen39441" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_39441.aspx"><b>悲李拾遗二首</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%b4%94%e9%81%93%e8%9e%8d">崔道融</a></p>
<div class="contson" id="contson39441">
故友从来匪石心，谏多难得主恩深。
<br />
行朝半夜烟尘起，晓殿吁嗟一镜沈。
<br />
天涯时有北来尘，因话它人及故人。
<br />
也是先皇能罪己，殿前频得触龙鳞。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=39441&from=http://so.gushiwen.org/view.aspx?id=30694"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(39441)"><img id="copyimg39441" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('39441','http://m.gushiwen.org/view_39441.aspx')" onmouseout="outweixin(39441)"><img id="weixinimg39441" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood39441" href="javascript:goodNew('39441','http://so.gushiwen.org/view.aspx?id=30694',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy39441" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin39441" style="background-color:aqua;"></div>
<div id="toolPlay39441" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3362.aspx">春风桃李花开日，秋雨梧桐叶落时。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1744.aspx">佳人相对泣，泪下罗衣湿。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
