
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
法华微上人盛话金山境胜，旧游在目，吟成此篇原文、翻译及赏析_李群玉古诗_古诗文网
</title>
<meta name="description" content="江上青莲宫，人间蓬莱岛。烟霞与波浪，隐映楼台好。潮门梵音静，海日天光早。愿与灵鹫人，吟经此终老。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_30964.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_30964.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare30964">江上青莲宫，人间蓬莱岛。烟霞与波浪，隐映楼台好。潮门梵音静，海日天光早。愿与灵鹫人，吟经此终老。——唐代·李群玉《法华微上人盛话金山境胜，旧游在目，吟成此篇》http://so.gushiwen.org/view_30964.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(30964)" id="btnShangxi30964"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(30964)" id="btnZhushi30964"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(30964)" id="btnYiwen30964" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">法华微上人盛话金山境胜，旧游在目，吟成此篇</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_2814.aspx">李群玉</a> </p>
<div class="contson" id="contson30964">
江上青莲宫，人间蓬莱岛。烟霞与波浪，隐映楼台好。
<br />
潮门梵音静，海日天光早。愿与灵鹫人，吟经此终老。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=30964&from=http://so.gushiwen.org/view.aspx?id=30964"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(30964)"><img id="copyimg30964" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('30964','http://m.gushiwen.org/view_30964.aspx')" onmouseout="outweixin(30964)"><img id="weixinimg30964" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=30964"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=1534723916"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood30964" href="javascript:goodNew('30964','http://so.gushiwen.org/view.aspx?id=30964',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin30964" style="background-color:aqua;"></div>
<div id="toolPlay30964" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor2814">李群玉（808～862），字文山，唐代澧州人。澧县仙眠洲有古迹“水竹居”，旧志记为“李群玉读书处”。李群玉极有诗才，他“居住沅湘，崇师屈宋”，诗写得十分好。《湖南通志&#183;李群玉传》称其诗“诗笔妍丽，才力遒健”。关于他的生平，据《全唐诗&#183;李群玉小传》载，早年杜牧游澧时，劝他参加科举考试，并作诗《送李群玉赴举》，.但他“一上而止”。后来，宰相裴休视察湖南，郑重邀请李群玉再作诗词。他“徒步负琴，远至辇下”，进京向皇帝奉献自己的诗歌“三百篇”。唐宣宗“遍览”其诗，称赞“所进诗歌，异常高雅”，并赐以“锦彩器物”，“授弘文馆校书郎”。三年后辞官回归故里，死后追赐进士及第。http://so.gushiwen.org/author_2814.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_2814.aspx"><img src="http://img.gushiwen.org/authorImg/liqunyu.jpg" width="105" height="150" alt="李群玉"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_2814.aspx"><b>李群玉</b></a></p>
<p style=" margin:0px;">李群玉（808～862），字文山，唐代澧州人。澧县仙眠洲有古迹“水竹居”，旧志记为“李群玉读书处”。李群玉极有诗才，他“居住沅湘，崇师屈宋”，诗写得十分好。《湖南通志&#183;李群玉传》称其诗“诗笔妍丽，才力遒健”。关于他的生平，据《全唐诗&#183;李群玉小传》载，早年杜牧游澧时，劝他参加科举考试，并作诗《送李群玉赴举》，.但他“一上而止”。后来，宰相裴休视察湖南，郑重邀请李群玉再作诗词。他“徒步负琴，远至辇下”，进京向皇帝奉献自己的诗歌“三百篇”。唐宣宗“遍览”其诗，称赞“所进诗歌，异常高雅”，并赐以“锦彩器物”，“授弘文馆校书郎”。三年后辞官回归故里，死后追赐进士及第。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=2814&from=http://so.gushiwen.org/view.aspx?id=30964"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(2814)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('2814','http://m.gushiwen.org/author_2814.aspx')" onmouseout="outweixinAuthor(2814)"><img id="weixinAuthorImg2814" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor2814" href="javascript:goodAuthorNew('2814','http://so.gushiwen.org/view.aspx?id=30964',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor2814" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare20487">草生龙坡下，鸦噪城堞头。何人此城里，城角栽石榴。青丝系五马，黄金络双牛。白鱼驾莲船，夜作十里游。归来无人识，暗上沈香楼。罗床倚瑶瑟，残月倾帘钩。今日槿花落，明朝桐树秋。莫负平生意，何名何莫愁。——唐代·李贺《莫愁曲》http://so.gushiwen.org/view_20487.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(20487)" id="btnShangxi20487"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(20487)" id="btnZhushi20487"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(20487)" id="btnYiwen20487" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_20487.aspx"><b>莫愁曲</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e8%b4%ba">李贺</a></p>
<div class="contson" id="contson20487">
草生龙坡下，鸦噪城堞头。何人此城里，城角栽石榴。
<br />
青丝系五马，黄金络双牛。白鱼驾莲船，夜作十里游。
<br />
归来无人识，暗上沈香楼。罗床倚瑶瑟，残月倾帘钩。
<br />
今日槿花落，明朝桐树秋。莫负平生意，何名何莫愁。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=20487&from=http://so.gushiwen.org/view.aspx?id=30964"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(20487)"><img id="copyimg20487" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('20487','http://m.gushiwen.org/view_20487.aspx')" onmouseout="outweixin(20487)"><img id="weixinimg20487" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood20487" href="javascript:goodNew('20487','http://so.gushiwen.org/view.aspx?id=30964',5)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;5</span></a></div>
</div>
<div id="toolCopy20487" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin20487" style="background-color:aqua;"></div>
<div id="toolPlay20487" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare12636">北人南去雪纷纷，雁叫汀沙不可闻。积水长天随远客，荒城极浦足寒云。山从建业千峰出，江至浔阳九派分。借问督邮才弱冠，府中年少不如君。——唐代·皇甫冉《送李录事（一作裴员外）赴饶州》http://so.gushiwen.org/view_12636.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(12636)" id="btnShangxi12636"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(12636)" id="btnZhushi12636"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(12636)" id="btnYiwen12636" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_12636.aspx"><b>送李录事（一作裴员外）赴饶州</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e7%9a%87%e7%94%ab%e5%86%89">皇甫冉</a></p>
<div class="contson" id="contson12636">
北人南去雪纷纷，雁叫汀沙不可闻。积水长天随远客，
<br />
荒城极浦足寒云。山从建业千峰出，江至浔阳九派分。
<br />
借问督邮才弱冠，府中年少不如君。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=12636&from=http://so.gushiwen.org/view.aspx?id=30964"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(12636)"><img id="copyimg12636" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('12636','http://m.gushiwen.org/view_12636.aspx')" onmouseout="outweixin(12636)"><img id="weixinimg12636" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood12636" href="javascript:goodNew('12636','http://so.gushiwen.org/view.aspx?id=30964',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy12636" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin12636" style="background-color:aqua;"></div>
<div id="toolPlay12636" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare4499">池如明镜月华开，山学香炉云气来。神藻飞为鶺鴒赋，仙声飏出凤凰台。——唐代·张说《奉和圣制同玉真公主游大哥山池题石壁》http://so.gushiwen.org/view_4499.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(4499)" id="btnShangxi4499"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(4499)" id="btnZhushi4499"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(4499)" id="btnYiwen4499" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_4499.aspx"><b>奉和圣制同玉真公主游大哥山池题石壁</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%bc%a0%e8%af%b4">张说</a></p>
<div class="contson" id="contson4499">
池如明镜月华开，山学香炉云气来。
<br />
神藻飞为鶺鴒赋，仙声飏出凤凰台。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=4499&from=http://so.gushiwen.org/view.aspx?id=30964"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(4499)"><img id="copyimg4499" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('4499','http://m.gushiwen.org/view_4499.aspx')" onmouseout="outweixin(4499)"><img id="weixinimg4499" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood4499" href="javascript:goodNew('4499','http://so.gushiwen.org/view.aspx?id=30964',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy4499" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin4499" style="background-color:aqua;"></div>
<div id="toolPlay4499" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2522.aspx">明朝游上苑，火速报春知。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_69.aspx">自是人生长恨，水长东。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
