
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
暮过山村原文、翻译及赏析_贾岛古诗_古诗文网
</title>
<meta name="description" content="数里闻寒水，山家少四邻。怪禽啼旷野，落日恐行人。初月未终夕，边烽不过秦。萧条桑柘处，烟火渐相亲。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_31525.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_31525.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare31525">数里闻寒水，山家少四邻。怪禽啼旷野，落日恐行人。初月未终夕，边烽不过秦。萧条桑柘处，烟火渐相亲。——唐代·贾岛《暮过山村》http://so.gushiwen.org/view_31525.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(31525)" id="btnShangxi31525"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(31525)" id="btnZhushi31525"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(31525)" id="btnYiwen31525" />
<script type="text/javascript">
                        document.getElementById("btnShangxi31525").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi31525").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen31525").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">暮过山村</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_491.aspx">贾岛</a> </p>
<div class="contson" id="contson31525">
数里闻寒水，山家少四邻。<br />怪禽啼旷野，落日恐行人。<br />初月未终夕，边烽不过秦。<br />萧条桑柘处，烟火渐相亲。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=31525&from=http://so.gushiwen.org/view.aspx?id=31525"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(31525)"><img id="copyimg31525" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('31525','http://m.gushiwen.org/view_31525.aspx')" onmouseout="outweixin(31525)"><img id="weixinimg31525" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=31525"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=8278998631"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood31525" href="javascript:goodNew('31525','http://so.gushiwen.org/view.aspx?id=31525',113)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;113</span></a></div>
</div>
<div class="toolerweima" id="weixin31525" style="background-color:aqua;"></div>
<div id="toolPlay31525" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e7%be%81%e6%97%85">羁旅</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%b1%b1%e6%9d%91">山村</a>
</div>
</div>
<div id="fanyi19106" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="fanyiShow(19106)"></div>
<h2 style="margin-bottom:10px;font-weight:bold; font-size:16px;">译文及注释</h2>
<p>译文<br />几里远就能听到凄寒的水声，山区人家居住分散没有近邻。<br />怪禽从旷野上传来声声鸣叫，昏惨的落日惊恐过路的行人。<br />一弯新月未得照彻漫漫长夜，边关的烽火并没有越过三秦。<br />远处几棵萧条的桑柘树外面，袅袅炊烟渐觉与人相近相亲。</p>
<p>注释<br />⑴寒水：此指清冷的流水。唐杜牧《泊秦淮》诗：“烟笼寒水月笼沙，夜泊秦淮近酒家。”<br />⑵山家：山野人家。唐杜甫《从驿次草堂复至东屯茅屋》诗之二：“山家蒸栗暖，野饭射麋新。”四邻：周围邻居。汉刘向《列女传·周主忠妾》：“主闻之乃厚币而嫁之，四邻争娶之。”<br />⑶怪禽：此指鸱鸮（chīxiā
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:fanyiShow(19106)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="fanyiquan19106" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">译文及注释</h2>
<p><strong>译文<br /></strong>几里远就能听到凄寒的水声，山区人家居住分散没有近邻。<br />怪禽从旷野上传来声声鸣叫，昏惨的落日惊恐过路的行人。<br />一弯新月未得照彻漫漫长夜，边关的烽火并没有越过三秦。<br />远处几棵萧条的桑柘树外面，袅袅炊烟渐觉与人相近相亲。</p>
<p><strong>注释<br /></strong>⑴寒水：此指清冷的流水。唐<a href="http://so.gushiwen.org/author_211.aspx">杜牧</a>《泊秦淮》<a href="http://so.gushiwen.org/view_31525.aspx">诗</a>：“烟笼寒水月笼沙，夜泊秦淮近酒家。”<br />⑵山家：山野人家。唐<a href="http://so.gushiwen.org/author_474.aspx">杜甫</a>《从驿次草堂复至东屯茅屋》诗之二：“山家蒸栗暖，野饭射麋新。”四邻：周围邻居。汉<a href="http://so.gushiwen.org/author_403.aspx">刘向</a>《列女传·周主忠妾》：“主闻之乃厚币而嫁之，四邻争娶之。”<br />⑶怪禽：此指鸱鸮（chīxiāo）一类的鸟。啼：后省略“于”字。旷野：空阔的原野。《诗经·小雅·何草不黄》：“匪兕匪虎，率彼旷野，哀我征夫，朝夕不暇。”<br />⑷恐：此处为使动用法，使……惊恐。行人：出行的人。《管子·轻重己》：“十日之内，室无处女，路无行人。”<br />⑸初月：新月。《乐府诗集·清商曲辞一·子夜四时歌春歌五》：“碧楼冥初月，罗绮垂新风。”终夕：通宵，彻夜。唐杜甫《八哀诗·故著作郎贬台州司户荥阳郑公虔》：“操纸终夕酣，时物集遐想。”<br />⑹边烽：边境上报告战事的烽火。唐<a href="http://so.gushiwen.org/author_494.aspx">沈佺期</a>《塞北》诗之一：“海气如秋雨，边烽似夏云。”秦：指今陕西南部一带。<br />⑺萧条：此处为稀疏之意。汉<a href="http://so.gushiwen.org/author_715.aspx">扬雄</a>《羽猎赋》：“羡漫半散，萧条数千里外。”桑柘（zhè）：此处用本意，桑木与柘木。《礼记·月令》：“（季春之月）命野虞无伐桑柘，鸣鸠拂其羽，戴胜降于桑。”<br />⑻烟火：指炊烟，泛指人烟。《史记·律书》：“天下殷富，粟至十馀钱，鸣鸡吠狗，烟火万里，可谓和乐者乎？”<a title="收起" href="javascript:fanyiClose(19106)">▲</a></p>
</div>
<div class="dingpai">
<a id="ding19106" href="javascript:ding('19106','http://so.gushiwen.org/view.aspx?id=31525')">有用(130)</a><a id="pai19106" style=" margin-left:10px;" href="javascript:pai('19106','http://so.gushiwen.org/view.aspx?id=31525')">没用(41)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">张国举．唐诗精华注译评．长春：长春出版社，2010：579-580</span>
</div>
</div>
</div>
<div id="shangxi13165" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(13165)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">鉴赏</h2>
<p>　　贾岛以“幽奇寒僻”的风格著称，这一首羁旅诗充分体现了他的创作特色。</p>
<p>　　起句从听觉形象写起。一个秋天的黄昏，诗人路过一座山村，远远便闻到山涧的潺潺流水声：“数里闻寒水”。在“数里”的范围内能清晰地听到细微的水声，可见山区的寂静凄冷。而映在眼帘的是稀稀落落的人家──“山家少四邻”。这一听觉形象和视觉形象相互衬托，生动地渲染出山村的萧索而冷落的氛围。首联点题，作者用淡墨勾勒出一幅荒凉的山村远景。</p>
<p>　　颔联，重点描摹山区萧瑟阴森的景象：“怪禽啼旷野，落日恐行人。”“怪禽”大概是鸱鸮一类的鸟。这种怪禽在荒漠凄寂的旷野上鸣叫，本来就令人闻而惊惶不安；刚好又碰上夕
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(13165)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan13165" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">鉴赏</h2>
<p>　　<a href="http://so.gushiwen.org/author_491.aspx">贾岛</a>以“幽奇寒僻”的风格著称，这一首羁旅<a href="http://so.gushiwen.org/view_31525.aspx">诗</a>充分体现了他的创作特色。</p>
<p>　　起句从听觉形象写起。一个秋天的黄昏，诗人路过一座山村，远远便闻到山涧的潺潺流水声：“数里闻寒水”。在“数里”的范围内能清晰地听到细微的水声，可见山区的寂静凄冷。而映在眼帘的是稀稀落落的人家──“山家少四邻”。这一听觉形象和视觉形象相互衬托，生动地渲染出山村的萧索而冷落的氛围。首联点题，作者用淡墨勾勒出一幅荒凉的山村远景。</p>
<p>　　颔联，重点描摹山区萧瑟阴森的景象：“怪禽啼旷野，落日恐行人。”“怪禽”大概是鸱鸮一类的鸟。这种怪禽在荒漠凄寂的旷野上鸣叫，本来就令人闻而惊惶不安；刚好又碰上夕阳下山，山区渐渐暗黑下来，孤单的行人此时此刻自然更加感到不寒而栗。这两句诗写声写色，声色均骇人听闻。诗的境界幽深险僻，自是贾岛本色。</p>
<p>　　诗人从数里外的旷野走向山村，一路行来，时间不知不觉地过去，夜幕悄悄地拉开。颈联转写夜景：“初月未终夕，边烽不过秦。”边烽，指边境的烽火。唐代边烽有两种：一种是报边境有事的紧急烽火，一种是报平安的烽火。秦，指今陕西南部一带。这两句的意思是说，初升的月亮高悬天空，烽火点燃起来，没有越过秦地，表明这一地区平安无事，山区更显得阒静，安谧。这时候诗人逐渐走近山庄。</p>
<p>　　尾联即写接近山村时的喜悦感受：“萧条桑柘外，烟火渐相亲。”诗人经过萧疏荒凉的山区旷野，终于隐隐约约地看到山村人家宅边常种的桑树柘树和茅舍上升起的袅袅轻烟，内心不禁感到无比的温暖与亲切，先前的惊惧心情渐渐平静下来，转而产生一种欢欣喜悦的感情。结句“烟火渐相亲”，写得极富生活情趣与韵味。诗人对生活的感受相当敏锐，体验深刻，又着意炼句，因此，诗里的心理刻画也显得细致入微而耐人寻味。</p>
<p>　　这样，诗的格局便显得有波澜，有开阖，寓变化多样于章法井然之中。</p>
<p>　　诗的形象写得险怪寒瘦，境界幽深奇异，在中唐诗歌中确实别具一格。明胡应麟推崇“浪仙之幽奇”为“五言独造”（《诗薮·内编》卷四）。从风格这一角度上看，这一评语也说得中肯。<a title="收起" href="javascript:shangxiClose(13165)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx13165" href="javascript:dingsx('13165','http://so.gushiwen.org/view.aspx?id=31525')">有用(66)</a><a id="paisx13165" style=" margin-left:10px;" href="javascript:paisx('13165','http://so.gushiwen.org/view.aspx?id=31525')">没用(24)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">《唐诗鉴赏辞典》.上海辞书出版社，1983年12月版，第965-966页</span>
</div>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">创作背景<span style="display:none;">32186</span></h2>
此<a href="http://so.gushiwen.org/view_31525.aspx">诗</a>是诗人在一个深秋日暮时分路过一处山村的纪实，其具体创作年份不详。
</div>
<div class="dingpai">
<a id="dingsx32186" href="javascript:dingsx('32186','http://so.gushiwen.org/view.aspx?id=31525')">有用(8)</a><a id="paisx32186" style=" margin-left:10px;" href="javascript:paisx('32186','http://so.gushiwen.org/view.aspx?id=31525')">没用(10)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">张国举．唐诗精华注译评．长春：长春出版社，2010：579-580</span>
</div>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor491">贾岛（779～843年），字浪（阆）仙，唐代诗人。汉族，唐朝河北道幽州范阳县（今河北省涿州市）人。早年出家为僧，号无本。自号“碣石山人”。据说在洛阳的时候后因当时有命令禁止和尚午后外出，贾岛做诗发牢骚，被韩愈发现其才华。后受教于韩愈，并还俗参加科举，但累举不中第。唐文宗的时候被排挤，贬做长江主簿。唐武宗会昌年初由普州司仓参军改任司户，未任病逝。http://so.gushiwen.org/author_491.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_491.aspx"><img src="http://img.gushiwen.org/authorImg/jiadao.jpg" width="105" height="150" alt="贾岛"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_491.aspx"><b>贾岛</b></a></p>
<p style=" margin:0px;">贾岛（779～843年），字浪（阆）仙，唐代诗人。汉族，唐朝河北道幽州范阳县（今河北省涿州市）人。早年出家为僧，号无本。自号“碣石山人”。据说在洛阳的时候后因当时有命令禁止和尚午后外出，贾岛做诗发牢骚，被韩愈发现其才华。后受教于韩愈，并还俗参加科举，但累举不中第。唐文宗的时候被排挤，贬做长江主簿。唐武宗会昌年初由普州司仓参军改任司户，未任病逝。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=491&from=http://so.gushiwen.org/view.aspx?id=31525"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(491)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('491','http://m.gushiwen.org/author_491.aspx')" onmouseout="outweixinAuthor(491)"><img id="weixinAuthorImg491" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor491" href="javascript:goodAuthorNew('491','http://so.gushiwen.org/view.aspx?id=31525',860)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;860</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor491" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare48306">参差烟树灞陵桥，风物尽前朝。衰杨古柳，几经攀折，憔悴楚宫腰。 夕阳闲淡秋光老，离思满蘅皋。一曲阳关，断肠声尽，独自凭兰桡。——宋代·柳永《少年游·参差烟树灞陵桥》http://so.gushiwen.org/view_48306.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(48306)" id="btnShangxi48306"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(48306)" id="btnZhushi48306"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(48306)" id="btnYiwen48306" />
<script type="text/javascript">
                        document.getElementById("btnShangxi48306").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi48306").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen48306").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_48306.aspx"><b>少年游·参差烟树灞陵桥</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%9f%b3%e6%b0%b8">柳永</a></p>
<div class="contson" id="contson48306">
参差烟树灞陵桥，风物尽前朝。衰杨古柳，几经攀折，憔悴楚宫腰。 <br />夕阳闲淡秋光老，离思满蘅皋。一曲阳关，断肠声尽，独自凭兰桡。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=48306&from=http://so.gushiwen.org/view.aspx?id=31525"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(48306)"><img id="copyimg48306" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('48306','http://m.gushiwen.org/view_48306.aspx')" onmouseout="outweixin(48306)"><img id="weixinimg48306" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood48306" href="javascript:goodNew('48306','http://so.gushiwen.org/view.aspx?id=31525',93)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;93</span></a></div>
</div>
<div id="toolCopy48306" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin48306" style="background-color:aqua;"></div>
<div id="toolPlay48306" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e7%be%81%e6%97%85">羁旅</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%a6%bb%e5%88%ab">离别</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%80%e5%8f%a4%e4%bc%a4%e4%bb%8a">怀古伤今</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare69905">一声梧叶一声秋，一点芭蕉一点愁，三更归梦三更后。落灯花棋未收，叹新丰逆旅淹留。（逆旅淹留 一作：孤馆人留）枕上十年事，江南二老忧，都到心头。——元代·徐再思《水仙子·夜雨》http://so.gushiwen.org/view_69905.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(69905)" id="btnShangxi69905"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(69905)" id="btnZhushi69905"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(69905)" id="btnYiwen69905" />
<script type="text/javascript">
                        document.getElementById("btnShangxi69905").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen69905").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_69905.aspx"><b>水仙子·夜雨</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%85%83%e4%bb%a3">元代</a><span>：</span><a href="/search.aspx?value=%e5%be%90%e5%86%8d%e6%80%9d">徐再思</a></p>
<div class="contson" id="contson69905">
<p>一声梧叶一声秋，一点芭蕉一点愁，三更归梦三更后。<br />落灯花棋未收，叹新丰逆旅淹留。（逆旅淹留 一作：孤馆人留）<br />枕上十年事，江南二老忧，都到心头。</p>
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=69905&from=http://so.gushiwen.org/view.aspx?id=31525"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(69905)"><img id="copyimg69905" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('69905','http://m.gushiwen.org/view_69905.aspx')" onmouseout="outweixin(69905)"><img id="weixinimg69905" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood69905" href="javascript:goodNew('69905','http://so.gushiwen.org/view.aspx?id=31525',359)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;359</span></a></div>
</div>
<div id="toolCopy69905" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin69905" style="background-color:aqua;"></div>
<div id="toolPlay69905" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e7%be%81%e6%97%85">羁旅</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%ad%a4%e7%8b%ac">孤独</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e9%9b%a8">写雨</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%84%9f%e4%bc%a4">感伤</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare70749">山城夜半催金柝，酒醒孤馆灯花落。窗白一声鸡，枕函闻马嘶。门前乌桕树，霜月迷行处。遥忆独眠人，早寒惊梦频。——清代·顾贞观《菩萨蛮·山城夜半催金柝》http://so.gushiwen.org/view_70749.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(70749)" id="btnShangxi70749"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(70749)" id="btnZhushi70749"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(70749)" id="btnYiwen70749" />
<script type="text/javascript">
                        document.getElementById("btnShangxi70749").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi70749").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen70749").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_70749.aspx"><b>菩萨蛮·山城夜半催金柝</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e6%b8%85%e4%bb%a3">清代</a><span>：</span><a href="/search.aspx?value=%e9%a1%be%e8%b4%9e%e8%a7%82">顾贞观</a></p>
<div class="contson" id="contson70749">
山城夜半催金柝，酒醒孤馆灯花落。窗白一声鸡，枕函闻马嘶。<br />门前乌桕树，霜月迷行处。遥忆独眠人，早寒惊梦频。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=70749&from=http://so.gushiwen.org/view.aspx?id=31525"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(70749)"><img id="copyimg70749" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('70749','http://m.gushiwen.org/view_70749.aspx')" onmouseout="outweixin(70749)"><img id="weixinimg70749" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood70749" href="javascript:goodNew('70749','http://so.gushiwen.org/view.aspx?id=31525',7)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;7</span></a></div>
</div>
<div id="toolCopy70749" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin70749" style="background-color:aqua;"></div>
<div id="toolPlay70749" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%a9%89%e7%ba%a6">婉约</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%be%81%e6%97%85">羁旅</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%ad%a4%e7%8b%ac">孤独</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%9d%e5%bf%b5">思念</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_961.aspx">几度思归还把酒，拂云堆上祝明妃。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4039.aspx">霜风渐欲作重阳，熠熠溪边野菊香。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
