
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
寄柳舍人宗元原文、翻译及赏析_贾岛古诗_古诗文网
</title>
<meta name="description" content="格与功俱造，何人意不降。一宵三梦柳，孤泊九秋江。擢第名重列，冲天字几双。誓为仙者仆，侧执驭风幢。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_31534.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_31534.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare31534">格与功俱造，何人意不降。一宵三梦柳，孤泊九秋江。擢第名重列，冲天字几双。誓为仙者仆，侧执驭风幢。——唐代·贾岛《寄柳舍人宗元》http://so.gushiwen.org/view_31534.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(31534)" id="btnShangxi31534"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(31534)" id="btnZhushi31534"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(31534)" id="btnYiwen31534" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">寄柳舍人宗元</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_491.aspx">贾岛</a> </p>
<div class="contson" id="contson31534">
格与功俱造，何人意不降。一宵三梦柳，孤泊九秋江。
<br />
擢第名重列，冲天字几双。誓为仙者仆，侧执驭风幢。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=31534&from=http://so.gushiwen.org/view.aspx?id=31534"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(31534)"><img id="copyimg31534" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('31534','http://m.gushiwen.org/view_31534.aspx')" onmouseout="outweixin(31534)"><img id="weixinimg31534" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=31534"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=6118706164"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood31534" href="javascript:goodNew('31534','http://so.gushiwen.org/view.aspx?id=31534',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin31534" style="background-color:aqua;"></div>
<div id="toolPlay31534" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor491">贾岛（779～843年），字浪（阆）仙，唐代诗人。汉族，唐朝河北道幽州范阳县（今河北省涿州市）人。早年出家为僧，号无本。自号“碣石山人”。据说在洛阳的时候后因当时有命令禁止和尚午后外出，贾岛做诗发牢骚，被韩愈发现其才华。后受教于韩愈，并还俗参加科举，但累举不中第。唐文宗的时候被排挤，贬做长江主簿。唐武宗会昌年初由普州司仓参军改任司户，未任病逝。http://so.gushiwen.org/author_491.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_491.aspx"><img src="http://img.gushiwen.org/authorImg/jiadao.jpg" width="105" height="150" alt="贾岛"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_491.aspx"><b>贾岛</b></a></p>
<p style=" margin:0px;">贾岛（779～843年），字浪（阆）仙，唐代诗人。汉族，唐朝河北道幽州范阳县（今河北省涿州市）人。早年出家为僧，号无本。自号“碣石山人”。据说在洛阳的时候后因当时有命令禁止和尚午后外出，贾岛做诗发牢骚，被韩愈发现其才华。后受教于韩愈，并还俗参加科举，但累举不中第。唐文宗的时候被排挤，贬做长江主簿。唐武宗会昌年初由普州司仓参军改任司户，未任病逝。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=491&from=http://so.gushiwen.org/view.aspx?id=31534"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(491)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('491','http://m.gushiwen.org/author_491.aspx')" onmouseout="outweixinAuthor(491)"><img id="weixinAuthorImg491" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor491" href="javascript:goodAuthorNew('491','http://so.gushiwen.org/view.aspx?id=31534',860)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;860</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor491" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare6826">回看虏骑合，城下汉兵稀。白刃两相向，黄云愁不飞。手中无尺铁，徒欲突重围。目极雁门道，青青边草春。一身事征战，匹马同苦辛。末路成白首，功归天下人。倚剑白日暮，望乡登戍楼。北风吹羌笛，此夜关山愁。回首不无意，滹河空自流。黄沙一万里，白首无人怜。报国剑已折，归乡身幸全。单于古台下，边色寒苍然。落日更萧条，北风动枯草。将军追虏骑，夜失阴山道。战败仍树勋，韩彭但空老。草枯秋塞上，望见渔阳郭。胡马嘶一声，汉兵泪双落。谁为吮疮者，此事今人薄。——唐代·刘长卿《从军六首》http://so.gushiwen.org/view_6826.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(6826)" id="btnShangxi6826"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(6826)" id="btnZhushi6826"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(6826)" id="btnYiwen6826" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_6826.aspx"><b>从军六首</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%88%98%e9%95%bf%e5%8d%bf">刘长卿</a></p>
<div class="contson" id="contson6826">
回看虏骑合，城下汉兵稀。白刃两相向，黄云愁不飞。
<br />
手中无尺铁，徒欲突重围。
<br />
目极雁门道，青青边草春。一身事征战，匹马同苦辛。
<br />
末路成白首，功归天下人。
<br />
倚剑白日暮，望乡登戍楼。北风吹羌笛，此夜关山愁。
<br />
回首不无意，滹河空自流。
<br />
黄沙一万里，白首无人怜。报国剑已折，归乡身幸全。
<br />
单于古台下，边色寒苍然。
<br />
落日更萧条，北风动枯草。将军追虏骑，夜失阴山道。
<br />
战败仍树勋，韩彭但空老。
<br />
草枯秋塞上，望见渔阳郭。胡马嘶一声，汉兵泪双落。
<br />
谁为吮疮者，此事今人薄。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=6826&from=http://so.gushiwen.org/view.aspx?id=31534"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(6826)"><img id="copyimg6826" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('6826','http://m.gushiwen.org/view_6826.aspx')" onmouseout="outweixin(6826)"><img id="weixinimg6826" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood6826" href="javascript:goodNew('6826','http://so.gushiwen.org/view.aspx?id=31534',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy6826" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin6826" style="background-color:aqua;"></div>
<div id="toolPlay6826" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare15272">月落星稀天欲明，孤灯未灭梦难成。披衣更向门前望，不忿朝来鹊喜声。——唐代·李端《闺情》http://so.gushiwen.org/view_15272.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(15272)" id="btnShangxi15272"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(15272)" id="btnZhushi15272"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(15272)" id="btnYiwen15272" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_15272.aspx"><b>闺情</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e7%ab%af">李端</a></p>
<div class="contson" id="contson15272">
月落星稀天欲明，孤灯未灭梦难成。
<br />
披衣更向门前望，不忿朝来鹊喜声。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=15272&from=http://so.gushiwen.org/view.aspx?id=31534"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(15272)"><img id="copyimg15272" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('15272','http://m.gushiwen.org/view_15272.aspx')" onmouseout="outweixin(15272)"><img id="weixinimg15272" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood15272" href="javascript:goodNew('15272','http://so.gushiwen.org/view.aspx?id=31534',14)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;14</span></a></div>
</div>
<div id="toolCopy15272" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin15272" style="background-color:aqua;"></div>
<div id="toolPlay15272" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare6954">秋江渺渺水空波，越客孤舟欲榜歌。手折衰杨悲老大，故人零落已无多。——唐代·刘长卿《七里滩重送》http://so.gushiwen.org/view_6954.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(6954)" id="btnShangxi6954"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(6954)" id="btnZhushi6954"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(6954)" id="btnYiwen6954" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_6954.aspx"><b>七里滩重送</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%88%98%e9%95%bf%e5%8d%bf">刘长卿</a></p>
<div class="contson" id="contson6954">
秋江渺渺水空波，越客孤舟欲榜歌。
<br />
手折衰杨悲老大，故人零落已无多。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=6954&from=http://so.gushiwen.org/view.aspx?id=31534"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(6954)"><img id="copyimg6954" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('6954','http://m.gushiwen.org/view_6954.aspx')" onmouseout="outweixin(6954)"><img id="weixinimg6954" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood6954" href="javascript:goodNew('6954','http://so.gushiwen.org/view.aspx?id=31534',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy6954" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin6954" style="background-color:aqua;"></div>
<div id="toolPlay6954" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2259.aspx">百岁落半途，前期浩漫漫。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5036.aspx">野幕敞琼筵，羌戎贺劳旋。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
