
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
郡楼望九华歌原文、翻译及赏析_霍总古诗_古诗文网
</title>
<meta name="description" content="楼上坐见九子峰，翠云赤日光溶溶。有时朝昏变疏密，八峰和烟一峰出。有时风卷天雨晴，聚立连连如弟兄。阳乌生子偶成数，丹凤养雏同此名。日日遥看机已静，未离尘躅思真境。子明龙驾腾九垓，陵阳" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_32752.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_32752.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare32752">楼上坐见九子峰，翠云赤日光溶溶。有时朝昏变疏密，八峰和烟一峰出。有时风卷天雨晴，聚立连连如弟兄。阳乌生子偶成数，丹凤养雏同此名。日日遥看机已静，未离尘躅思真境。子明龙驾腾九垓，陵阳相对空崔嵬。玉浆瑶草不可见，自有神仙风马来。——唐代·霍总《郡楼望九华歌》http://so.gushiwen.org/view_32752.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(32752)" id="btnShangxi32752"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(32752)" id="btnZhushi32752"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(32752)" id="btnYiwen32752" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">郡楼望九华歌</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%9c%8d%e6%80%bb">霍总</a> </p>
<div class="contson" id="contson32752">
楼上坐见九子峰，翠云赤日光溶溶。有时朝昏变疏密，
<br />
八峰和烟一峰出。有时风卷天雨晴，聚立连连如弟兄。
<br />
阳乌生子偶成数，丹凤养雏同此名。日日遥看机已静，
<br />
未离尘躅思真境。子明龙驾腾九垓，陵阳相对空崔嵬。
<br />
玉浆瑶草不可见，自有神仙风马来。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=32752&from=http://so.gushiwen.org/view.aspx?id=32752"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(32752)"><img id="copyimg32752" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('32752','http://m.gushiwen.org/view_32752.aspx')" onmouseout="outweixin(32752)"><img id="weixinimg32752" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=32752"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=1239176955"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood32752" href="javascript:goodNew('32752','http://so.gushiwen.org/view.aspx?id=32752',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin32752" style="background-color:aqua;"></div>
<div id="toolPlay32752" style=" display:none;clear:both;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare8055">九日茱萸熟，插鬓伤早白。登高望山海，满目悲古昔。远访投沙人，因为逃名客。故交竟谁在，独有崔亭伯。重阳不相知，载酒任所适。手持一枝菊，调笑二千石。日暮岸帻归，传呼隘阡陌。彤襟双白鹿，宾从何辉赫。夫子在其间，遂成云霄隔。良辰与美景，两地方虚掷。晚从南峰归，萝月下水壁。却登郡楼望，松色寒转碧。咫尺不可亲，弃我如遗舄。九卿天上落，五马道旁来。列戟朱门晓，褰帏碧嶂开。登高望远海，召客得英才。紫绶欢情洽，黄花逸兴催。山从图上见，溪即镜中回。遥羡重阳作，应过戏马台。——唐代·李白《宣州九日闻崔四侍御与宇文太守游敬亭余时登响山不同此赏醉后寄崔侍御》http://so.gushiwen.org/view_8055.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(8055)" id="btnShangxi8055"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(8055)" id="btnZhushi8055"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(8055)" id="btnYiwen8055" />
<script type="text/javascript">
                        document.getElementById("btnShangxi8055").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi8055").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen8055").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_8055.aspx"><b>宣州九日闻崔四侍御与宇文太守游敬亭余时登响山不同此赏醉后寄崔侍御</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e7%99%bd">李白</a></p>
<div class="contson" id="contson8055">
<p>九日茱萸熟，插鬓伤早白。<br />登高望山海，满目悲古昔。<br />远访投沙人，因为逃名客。<br />故交竟谁在，独有崔亭伯。<br />重阳不相知，载酒任所适。<br />手持一枝菊，调笑二千石。<br />日暮岸帻归，传呼隘阡陌。<br />彤襟双白鹿，宾从何辉赫。<br />夫子在其间，遂成云霄隔。<br />良辰与美景，两地方虚掷。<br />晚从南峰归，萝月下水壁。<br />却登郡楼望，松色寒转碧。<br />咫尺不可亲，弃我如遗舄。</p>
<p>九卿天上落，五马道旁来。<br />列戟朱门晓，褰帏碧嶂开。<br />登高望远海，召客得英才。<br />紫绶欢情洽，黄花逸兴催。<br />山从图上见，溪即镜中回。<br />遥羡重阳作，应过戏马台。</p>
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=8055&from=http://so.gushiwen.org/view.aspx?id=32752"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(8055)"><img id="copyimg8055" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('8055','http://m.gushiwen.org/view_8055.aspx')" onmouseout="outweixin(8055)"><img id="weixinimg8055" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood8055" href="javascript:goodNew('8055','http://so.gushiwen.org/view.aspx?id=32752',10)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;10</span></a></div>
</div>
<div id="toolCopy8055" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin8055" style="background-color:aqua;"></div>
<div id="toolPlay8055" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e9%87%8d%e9%98%b3%e8%8a%82">重阳节</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%8f%8b%e6%83%85">友情</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%84%9f%e5%8f%b9">感叹</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare13126">繁阴乍隐洲，落叶初飞浦。萧萧楚客帆，暮入寒江雨。——唐代·柳中庸《江行》http://so.gushiwen.org/view_13126.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(13126)" id="btnShangxi13126"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(13126)" id="btnZhushi13126"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(13126)" id="btnYiwen13126" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_13126.aspx"><b>江行</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9f%b3%e4%b8%ad%e5%ba%b8">柳中庸</a></p>
<div class="contson" id="contson13126">
繁阴乍隐洲，落叶初飞浦。萧萧楚客帆，暮入寒江雨。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=13126&from=http://so.gushiwen.org/view.aspx?id=32752"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(13126)"><img id="copyimg13126" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('13126','http://m.gushiwen.org/view_13126.aspx')" onmouseout="outweixin(13126)"><img id="weixinimg13126" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood13126" href="javascript:goodNew('13126','http://so.gushiwen.org/view.aspx?id=32752',4)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;4</span></a></div>
</div>
<div id="toolCopy13126" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin13126" style="background-color:aqua;"></div>
<div id="toolPlay13126" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare31505">丽句传人口，科名立可图。移居见山烧，买树带巢乌。游远风涛急，吟清雪月孤。却思初识面，仍未有多须。——唐代·贾岛《酬胡遇》http://so.gushiwen.org/view_31505.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(31505)" id="btnShangxi31505"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(31505)" id="btnZhushi31505"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(31505)" id="btnYiwen31505" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_31505.aspx"><b>酬胡遇</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e8%b4%be%e5%b2%9b">贾岛</a></p>
<div class="contson" id="contson31505">
丽句传人口，科名立可图。移居见山烧，买树带巢乌。
<br />
游远风涛急，吟清雪月孤。却思初识面，仍未有多须。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=31505&from=http://so.gushiwen.org/view.aspx?id=32752"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(31505)"><img id="copyimg31505" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('31505','http://m.gushiwen.org/view_31505.aspx')" onmouseout="outweixin(31505)"><img id="weixinimg31505" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood31505" href="javascript:goodNew('31505','http://so.gushiwen.org/view.aspx?id=32752',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy31505" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin31505" style="background-color:aqua;"></div>
<div id="toolPlay31505" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3317.aspx">春衫犹是，小蛮针线，曾湿西湖雨。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_645.aspx">玉楼深锁薄情种。清夜悠悠谁共。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
