
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
越女原文、翻译及赏析_汪遵古诗_古诗文网
</title>
<meta name="description" content="玉貌何曾为浣沙，只图勾践献夫差。苏台日夜唯歌舞，不觉干戈犯翠华。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_32966.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_32966.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare32966">玉貌何曾为浣沙，只图勾践献夫差。苏台日夜唯歌舞，不觉干戈犯翠华。——唐代·汪遵《越女》http://so.gushiwen.org/view_32966.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(32966)" id="btnShangxi32966"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(32966)" id="btnZhushi32966"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(32966)" id="btnYiwen32966" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">越女</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_199.aspx">汪遵</a> </p>
<div class="contson" id="contson32966">
玉貌何曾为浣沙，只图勾践献夫差。
<br />
苏台日夜唯歌舞，不觉干戈犯翠华。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=32966&from=http://so.gushiwen.org/view.aspx?id=32966"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(32966)"><img id="copyimg32966" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('32966','http://m.gushiwen.org/view_32966.aspx')" onmouseout="outweixin(32966)"><img id="weixinimg32966" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=32966"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=6561656793"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood32966" href="javascript:goodNew('32966','http://so.gushiwen.org/view.aspx?id=32966',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin32966" style="background-color:aqua;"></div>
<div id="toolPlay32966" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor199">（全唐诗云：一作王遵）（约公元八七七年前后在世），字不详，宣州泾县人（唐诗纪事作宣城人。此从唐才子传）。生卒年均不详，约唐僖宗乾符中前后在世。初为小吏。家贫，借人书，昼夜苦读。工为绝诗。与许棠同乡。咸通七年，（公元八六六年）擢进士第。后五年，棠始亦及第。遵诗有集《唐才子传》传世。他的诗绝大部分是怀古诗，有的是对历史上卓越人物的歌颂；有的是借历史人物的遭遇来抒发自己怀才不遇的情绪；有的是歌颂历史上的兴亡故事来警告当时的统治者；有的直接反映当时的现实生活，这些诗都有一定的思想意义。寄托了对现实生活的深沉感慨。http://so.gushiwen.org/author_199.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_199.aspx"><b>汪遵</b></a></p>
<p style=" margin:0px;">（全唐诗云：一作王遵）（约公元八七七年前后在世），字不详，宣州泾县人（唐诗纪事作宣城人。此从唐才子传）。生卒年均不详，约唐僖宗乾符中前后在世。初为小吏。家贫，借人书，昼夜苦读。工为绝诗。与许棠同乡。咸通七年，（公元八六六年）擢进士第。后五年，棠始亦及第。遵诗有集《唐才子传》传世。他的诗绝大部分是怀古诗，有的是对历史上卓越人物的歌颂；有的是借历史人物的遭遇来抒发自己怀才不遇的情绪；有的是歌颂历史上的兴亡故事来警告当时的统治者；有的直接反映当时的现实生活，这些诗都有一定的思想意义。寄托了对现实生活的深沉感慨。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=199&from=http://so.gushiwen.org/view.aspx?id=32966"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(199)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('199','http://m.gushiwen.org/author_199.aspx')" onmouseout="outweixinAuthor(199)"><img id="weixinAuthorImg199" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor199" href="javascript:goodAuthorNew('199','http://so.gushiwen.org/view.aspx?id=32966',62)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;62</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor199" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare10989">凉气晚萧萧，江云乱眼飘。风鸳藏近渚，雨燕集深条。黄绮终辞汉，巢由不见尧。草堂樽酒在，幸得过清朝。——唐代·杜甫《朝雨》http://so.gushiwen.org/view_10989.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(10989)" id="btnShangxi10989"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(10989)" id="btnZhushi10989"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(10989)" id="btnYiwen10989" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_10989.aspx"><b>朝雨</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%9c%e7%94%ab">杜甫</a></p>
<div class="contson" id="contson10989">
凉气晚萧萧，江云乱眼飘。风鸳藏近渚，雨燕集深条。
<br />
黄绮终辞汉，巢由不见尧。草堂樽酒在，幸得过清朝。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=10989&from=http://so.gushiwen.org/view.aspx?id=32966"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(10989)"><img id="copyimg10989" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('10989','http://m.gushiwen.org/view_10989.aspx')" onmouseout="outweixin(10989)"><img id="weixinimg10989" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood10989" href="javascript:goodNew('10989','http://so.gushiwen.org/view.aspx?id=32966',4)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;4</span></a></div>
</div>
<div id="toolCopy10989" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin10989" style="background-color:aqua;"></div>
<div id="toolPlay10989" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare13585">不语看芳径，悲春懒独行。向人微月在，报雨早霞生。贫病催年齿，风尘掩姓名。赖逢骢马客，郢曲缓羁情。——唐代·耿湋《华州客舍奉和崔端公春城晓望》http://so.gushiwen.org/view_13585.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(13585)" id="btnShangxi13585"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(13585)" id="btnZhushi13585"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(13585)" id="btnYiwen13585" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_13585.aspx"><b>华州客舍奉和崔端公春城晓望</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e8%80%bf%e6%b9%8b">耿湋</a></p>
<div class="contson" id="contson13585">
不语看芳径，悲春懒独行。向人微月在，报雨早霞生。
<br />
贫病催年齿，风尘掩姓名。赖逢骢马客，郢曲缓羁情。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=13585&from=http://so.gushiwen.org/view.aspx?id=32966"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(13585)"><img id="copyimg13585" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('13585','http://m.gushiwen.org/view_13585.aspx')" onmouseout="outweixin(13585)"><img id="weixinimg13585" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood13585" href="javascript:goodNew('13585','http://so.gushiwen.org/view.aspx?id=32966',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy13585" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin13585" style="background-color:aqua;"></div>
<div id="toolPlay13585" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare36231">残霞卷尽出东溟，万古难消一片冰。公子踏开香径藓，美人吹灭画堂灯。琼轮正辗丹霄去，银箭休催皓露凝。别有洞天三十六，水晶台殿冷层层。——唐代·章碣《对月》http://so.gushiwen.org/view_36231.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(36231)" id="btnShangxi36231"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(36231)" id="btnZhushi36231"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(36231)" id="btnYiwen36231" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_36231.aspx"><b>对月</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e7%ab%a0%e7%a2%a3">章碣</a></p>
<div class="contson" id="contson36231">
残霞卷尽出东溟，万古难消一片冰。公子踏开香径藓，
<br />
美人吹灭画堂灯。琼轮正辗丹霄去，银箭休催皓露凝。
<br />
别有洞天三十六，水晶台殿冷层层。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=36231&from=http://so.gushiwen.org/view.aspx?id=32966"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(36231)"><img id="copyimg36231" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('36231','http://m.gushiwen.org/view_36231.aspx')" onmouseout="outweixin(36231)"><img id="weixinimg36231" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood36231" href="javascript:goodNew('36231','http://so.gushiwen.org/view.aspx?id=32966',3)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3</span></a></div>
</div>
<div id="toolCopy36231" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin36231" style="background-color:aqua;"></div>
<div id="toolPlay36231" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_972.aspx">上有愁思妇，悲叹有余哀。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1064.aspx">刚待不思量，吹一片、箫声过墙。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
