
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
奉和袭美公斋四咏次韵。新竹原文、翻译及赏析_陆龟蒙古诗_古诗文网
</title>
<meta name="description" content="别坞破苔藓，严城树轩楹。恭闻禀璇玑，化质离青冥。色可定鸡颈，实堪招凤翎。立窥五岭秀，坐对三都屏。晴月窈窕入，曙烟霏微生。昔者尚借宅，况来处宾庭。金罍纵倾倒，碧露还鲜醒。若非抱苦节，" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_33579.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_33579.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare33579">别坞破苔藓，严城树轩楹。恭闻禀璇玑，化质离青冥。色可定鸡颈，实堪招凤翎。立窥五岭秀，坐对三都屏。晴月窈窕入，曙烟霏微生。昔者尚借宅，况来处宾庭。金罍纵倾倒，碧露还鲜醒。若非抱苦节，何以偶惟馨。徐观稚龙出，更赋锦苞零。——唐代·陆龟蒙《奉和袭美公斋四咏次韵。新竹》http://so.gushiwen.org/view_33579.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(33579)" id="btnShangxi33579"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(33579)" id="btnZhushi33579"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(33579)" id="btnYiwen33579" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">奉和袭美公斋四咏次韵。新竹</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_335.aspx">陆龟蒙</a> </p>
<div class="contson" id="contson33579">
别坞破苔藓，严城树轩楹。恭闻禀璇玑，化质离青冥。
<br />
色可定鸡颈，实堪招凤翎。立窥五岭秀，坐对三都屏。
<br />
晴月窈窕入，曙烟霏微生。昔者尚借宅，况来处宾庭。
<br />
金罍纵倾倒，碧露还鲜醒。若非抱苦节，何以偶惟馨。
<br />
徐观稚龙出，更赋锦苞零。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=33579&from=http://so.gushiwen.org/view.aspx?id=33579"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(33579)"><img id="copyimg33579" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('33579','http://m.gushiwen.org/view_33579.aspx')" onmouseout="outweixin(33579)"><img id="weixinimg33579" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=33579"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=2722079308"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood33579" href="javascript:goodNew('33579','http://so.gushiwen.org/view.aspx?id=33579',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin33579" style="background-color:aqua;"></div>
<div id="toolPlay33579" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor335">陆龟蒙（？～公元881年），唐代农学家、文学家，字鲁望，别号天随子、江湖散人、甫里先生，江苏吴县人。曾任湖州、苏州刺史幕僚，后隐居松江甫里，编著有《甫里先生文集》等。 他的小品文主要收在《笠泽丛书》中，现实针对性强，议论也颇精切，如《野庙碑》、《记稻鼠》等。陆龟蒙与皮日休交友，世称“皮陆”，诗以写景咏物为多。http://so.gushiwen.org/author_335.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_335.aspx"><img src="http://img.gushiwen.org/authorImg/luguimeng.jpg" width="105" height="150" alt="陆龟蒙"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_335.aspx"><b>陆龟蒙</b></a></p>
<p style=" margin:0px;">陆龟蒙（？～公元881年），唐代农学家、文学家，字鲁望，别号天随子、江湖散人、甫里先生，江苏吴县人。曾任湖州、苏州刺史幕僚，后隐居松江甫里，编著有《甫里先生文集》等。 他的小品文主要收在《笠泽丛书》中，现实针对性强，议论也颇精切，如《野庙碑》、《记稻鼠》等。陆龟蒙与皮日休交友，世称“皮陆”，诗以写景咏物为多。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=335&from=http://so.gushiwen.org/view.aspx?id=33579"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(335)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('335','http://m.gushiwen.org/author_335.aspx')" onmouseout="outweixinAuthor(335)"><img id="weixinAuthorImg335" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor335" href="javascript:goodAuthorNew('335','http://so.gushiwen.org/view.aspx?id=33579',608)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;608</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor335" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare575">睿泽先寰海，功成展武韶。戈鋋清外垒，文物盛中朝。圣祚山河固，宸章日月昭。玉筵鸾鹄集，仙管凤凰调。御柳新低绿，宫莺乍啭娇。愿将亿兆庆，千祀奉神尧。——唐代·鲍君徽《奉和麟德殿宴百僚应制》http://so.gushiwen.org/view_575.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(575)" id="btnShangxi575"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(575)" id="btnZhushi575"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(575)" id="btnYiwen575" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_575.aspx"><b>奉和麟德殿宴百僚应制</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%b2%8d%e5%90%9b%e5%be%bd">鲍君徽</a></p>
<div class="contson" id="contson575">
睿泽先寰海，功成展武韶。戈鋋清外垒，文物盛中朝。
<br />
圣祚山河固，宸章日月昭。玉筵鸾鹄集，仙管凤凰调。
<br />
御柳新低绿，宫莺乍啭娇。愿将亿兆庆，千祀奉神尧。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=575&from=http://so.gushiwen.org/view.aspx?id=33579"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(575)"><img id="copyimg575" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('575','http://m.gushiwen.org/view_575.aspx')" onmouseout="outweixin(575)"><img id="weixinimg575" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood575" href="javascript:goodNew('575','http://so.gushiwen.org/view.aspx?id=33579',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy575" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin575" style="background-color:aqua;"></div>
<div id="toolPlay575" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare37980">李杜复李杜，彼时逢此时。干戈侵帝里，流落向天涯。岁月消于酒，平生断在诗。怀才不得志，只恐满头丝。——唐代·杜荀鹤《江南逢李先辈》http://so.gushiwen.org/view_37980.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(37980)" id="btnShangxi37980"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(37980)" id="btnZhushi37980"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(37980)" id="btnYiwen37980" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_37980.aspx"><b>江南逢李先辈</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%9c%e8%8d%80%e9%b9%a4">杜荀鹤</a></p>
<div class="contson" id="contson37980">
李杜复李杜，彼时逢此时。干戈侵帝里，流落向天涯。
<br />
岁月消于酒，平生断在诗。怀才不得志，只恐满头丝。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=37980&from=http://so.gushiwen.org/view.aspx?id=33579"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(37980)"><img id="copyimg37980" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('37980','http://m.gushiwen.org/view_37980.aspx')" onmouseout="outweixin(37980)"><img id="weixinimg37980" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood37980" href="javascript:goodNew('37980','http://so.gushiwen.org/view.aspx?id=33579',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy37980" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin37980" style="background-color:aqua;"></div>
<div id="toolPlay37980" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare11339">杖藜寻晚巷，炙背近墙暄。人见幽居僻，吾知拙养尊。朝廷问府主，耕稼学山村。归翼飞栖定，寒灯亦闭门。——唐代·杜甫《晚》http://so.gushiwen.org/view_11339.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(11339)" id="btnShangxi11339"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(11339)" id="btnZhushi11339"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(11339)" id="btnYiwen11339" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_11339.aspx"><b>晚</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%9c%e7%94%ab">杜甫</a></p>
<div class="contson" id="contson11339">
杖藜寻晚巷，炙背近墙暄。人见幽居僻，吾知拙养尊。
<br />
朝廷问府主，耕稼学山村。归翼飞栖定，寒灯亦闭门。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=11339&from=http://so.gushiwen.org/view.aspx?id=33579"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(11339)"><img id="copyimg11339" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('11339','http://m.gushiwen.org/view_11339.aspx')" onmouseout="outweixin(11339)"><img id="weixinimg11339" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood11339" href="javascript:goodNew('11339','http://so.gushiwen.org/view.aspx?id=33579',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy11339" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin11339" style="background-color:aqua;"></div>
<div id="toolPlay11339" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1995.aspx">访戴归来，寻梅懒去，独钓无聊。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2280.aspx">后庭花一曲，幽怨不堪听。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
