
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
纪梦游甘露寺（寺在京口北固山上）原文、翻译及赏析_陆龟蒙古诗_古诗文网
</title>
<meta name="description" content="昔卧嵩高云，云窗正寒夕。披裘忽生梦，似到空王宅。峨天一峰立，栏楯横半壁。级倚绿巅差，关临赤霄辟。扪虚陟孤峭，不翅千馀尺。叠掌望罘罳，分明袒肩释。凌香稽首罢，嘹哓□□□。高户乘北风，" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_33613.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_33613.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare33613">昔卧嵩高云，云窗正寒夕。披裘忽生梦，似到空王宅。峨天一峰立，栏楯横半壁。级倚绿巅差，关临赤霄辟。扪虚陟孤峭，不翅千馀尺。叠掌望罘罳，分明袒肩释。凌香稽首罢，嘹哓□□□。高户乘北风，声号大波白。光中目难送，定验方可觌。树细鸿蒙烟，岛疏零落碧。须臾群籁入，空水相喷激。积浪亚寒堆，呀如斗危石。跳音簇鞞鼓，溅沫交矛戟。鸟疾帆亦奔，纷纷助劲敌。思非水灵怒，即是饥龙擘。怯慑不敢前，荷襟汗沾霢.回经定僧处，泉木光相射。岩磴云族栖，柖柯露华适。逍遥得真趋，逦迤寻常迹。山腹贮孤亭，岚根四垂帟。谁题雪月句，乃是曹刘格。阆阙一枝琼，边楼数声笛。吟高矍然起，若自苍旻掷。短烛堕馀花，圆蟾挂斜魄。自从神锡境，无处不登陟。忽上南徐山，心期豁而获。岂伊烦恼骨，合到清凉域。暗得胡蝶身，幽期尽相识。奈何有名氏，未列金闺籍。翻惭丱顶童，得奉真如策。云涛触风望，毫管和烟搦。聊记梦中游，留之问禅客。——唐代·陆龟蒙《纪梦游甘露寺（寺在京口北固山上）》http://so.gushiwen.org/view_33613.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(33613)" id="btnShangxi33613"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(33613)" id="btnZhushi33613"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(33613)" id="btnYiwen33613" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">纪梦游甘露寺（寺在京口北固山上）</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_335.aspx">陆龟蒙</a> </p>
<div class="contson" id="contson33613">
昔卧嵩高云，云窗正寒夕。披裘忽生梦，似到空王宅。
<br />
峨天一峰立，栏楯横半壁。级倚绿巅差，关临赤霄辟。
<br />
扪虚陟孤峭，不翅千馀尺。叠掌望罘罳，分明袒肩释。
<br />
凌香稽首罢，嘹哓□□□。高户乘北风，声号大波白。
<br />
光中目难送，定验方可觌。树细鸿蒙烟，岛疏零落碧。
<br />
须臾群籁入，空水相喷激。积浪亚寒堆，呀如斗危石。
<br />
跳音簇鞞鼓，溅沫交矛戟。鸟疾帆亦奔，纷纷助劲敌。
<br />
思非水灵怒，即是饥龙擘。怯慑不敢前，荷襟汗沾霢.
<br />
回经定僧处，泉木光相射。岩磴云族栖，柖柯露华适。
<br />
逍遥得真趋，逦迤寻常迹。山腹贮孤亭，岚根四垂帟。
<br />
谁题雪月句，乃是曹刘格。阆阙一枝琼，边楼数声笛。
<br />
吟高矍然起，若自苍旻掷。短烛堕馀花，圆蟾挂斜魄。
<br />
自从神锡境，无处不登陟。忽上南徐山，心期豁而获。
<br />
岂伊烦恼骨，合到清凉域。暗得胡蝶身，幽期尽相识。
<br />
奈何有名氏，未列金闺籍。翻惭丱顶童，得奉真如策。
<br />
云涛触风望，毫管和烟搦。聊记梦中游，留之问禅客。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=33613&from=http://so.gushiwen.org/view.aspx?id=33613"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(33613)"><img id="copyimg33613" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('33613','http://m.gushiwen.org/view_33613.aspx')" onmouseout="outweixin(33613)"><img id="weixinimg33613" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=33613"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=2849031594"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood33613" href="javascript:goodNew('33613','http://so.gushiwen.org/view.aspx?id=33613',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin33613" style="background-color:aqua;"></div>
<div id="toolPlay33613" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor335">陆龟蒙（？～公元881年），唐代农学家、文学家，字鲁望，别号天随子、江湖散人、甫里先生，江苏吴县人。曾任湖州、苏州刺史幕僚，后隐居松江甫里，编著有《甫里先生文集》等。 他的小品文主要收在《笠泽丛书》中，现实针对性强，议论也颇精切，如《野庙碑》、《记稻鼠》等。陆龟蒙与皮日休交友，世称“皮陆”，诗以写景咏物为多。http://so.gushiwen.org/author_335.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_335.aspx"><img src="http://img.gushiwen.org/authorImg/luguimeng.jpg" width="105" height="150" alt="陆龟蒙"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_335.aspx"><b>陆龟蒙</b></a></p>
<p style=" margin:0px;">陆龟蒙（？～公元881年），唐代农学家、文学家，字鲁望，别号天随子、江湖散人、甫里先生，江苏吴县人。曾任湖州、苏州刺史幕僚，后隐居松江甫里，编著有《甫里先生文集》等。 他的小品文主要收在《笠泽丛书》中，现实针对性强，议论也颇精切，如《野庙碑》、《记稻鼠》等。陆龟蒙与皮日休交友，世称“皮陆”，诗以写景咏物为多。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=335&from=http://so.gushiwen.org/view.aspx?id=33613"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(335)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('335','http://m.gushiwen.org/author_335.aspx')" onmouseout="outweixinAuthor(335)"><img id="weixinAuthorImg335" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor335" href="javascript:goodAuthorNew('335','http://so.gushiwen.org/view.aspx?id=33613',608)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;608</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor335" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare41359">刻烛知无取，争先素未精。本图忘物我，何必计输赢。赌墅终规利，焚囊亦近名。不如相视笑，高咏两三声。——唐代·徐铉《棋赌赋诗输刘起居（奂）》http://so.gushiwen.org/view_41359.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(41359)" id="btnShangxi41359"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(41359)" id="btnZhushi41359"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(41359)" id="btnYiwen41359" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_41359.aspx"><b>棋赌赋诗输刘起居（奂）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%be%90%e9%93%89">徐铉</a></p>
<div class="contson" id="contson41359">
刻烛知无取，争先素未精。本图忘物我，何必计输赢。
<br />
赌墅终规利，焚囊亦近名。不如相视笑，高咏两三声。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=41359&from=http://so.gushiwen.org/view.aspx?id=33613"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(41359)"><img id="copyimg41359" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('41359','http://m.gushiwen.org/view_41359.aspx')" onmouseout="outweixin(41359)"><img id="weixinimg41359" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood41359" href="javascript:goodNew('41359','http://so.gushiwen.org/view.aspx?id=33613',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy41359" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin41359" style="background-color:aqua;"></div>
<div id="toolPlay41359" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare36896">孤云无定踪，忽到又相逢。说尽天涯事，听残上国钟。问人寻寺僻，乞食过街慵。忆到曾栖处，开门对数峰。——唐代·崔涂《长安逢江南僧》http://so.gushiwen.org/view_36896.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(36896)" id="btnShangxi36896"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(36896)" id="btnZhushi36896"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(36896)" id="btnYiwen36896" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_36896.aspx"><b>长安逢江南僧</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%b4%94%e6%b6%82">崔涂</a></p>
<div class="contson" id="contson36896">
孤云无定踪，忽到又相逢。说尽天涯事，听残上国钟。
<br />
问人寻寺僻，乞食过街慵。忆到曾栖处，开门对数峰。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=36896&from=http://so.gushiwen.org/view.aspx?id=33613"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(36896)"><img id="copyimg36896" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('36896','http://m.gushiwen.org/view_36896.aspx')" onmouseout="outweixin(36896)"><img id="weixinimg36896" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood36896" href="javascript:goodNew('36896','http://so.gushiwen.org/view.aspx?id=33613',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy36896" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin36896" style="background-color:aqua;"></div>
<div id="toolPlay36896" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare43750">吾道本无我，未曾嫌世人。如今到城市，弥觉此心真。——唐代·皎然《寓言》http://so.gushiwen.org/view_43750.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(43750)" id="btnShangxi43750"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(43750)" id="btnZhushi43750"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(43750)" id="btnYiwen43750" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_43750.aspx"><b>寓言</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e7%9a%8e%e7%84%b6">皎然</a></p>
<div class="contson" id="contson43750">
吾道本无我，未曾嫌世人。如今到城市，弥觉此心真。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=43750&from=http://so.gushiwen.org/view.aspx?id=33613"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(43750)"><img id="copyimg43750" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('43750','http://m.gushiwen.org/view_43750.aspx')" onmouseout="outweixin(43750)"><img id="weixinimg43750" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood43750" href="javascript:goodNew('43750','http://so.gushiwen.org/view.aspx?id=33613',16)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;16</span></a></div>
</div>
<div id="toolCopy43750" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin43750" style="background-color:aqua;"></div>
<div id="toolPlay43750" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4730.aspx">今岁今宵尽，明年明日催。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_838.aspx">醉别复几日，登临遍池台。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
