
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
思故人原文、翻译及赏析_罗隐古诗_古诗文网
</title>
<meta name="description" content="故人不可见，聊复拂鸣琴。鹊绕风枝急，萤藏露草深。平生四方志，此夜五湖心。惆怅友朋尽，洋洋漫好音。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_35802.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_35802.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare35802">故人不可见，聊复拂鸣琴。鹊绕风枝急，萤藏露草深。平生四方志，此夜五湖心。惆怅友朋尽，洋洋漫好音。——唐代·罗隐《思故人》http://so.gushiwen.org/view_35802.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(35802)" id="btnShangxi35802"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(35802)" id="btnZhushi35802"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(35802)" id="btnYiwen35802" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">思故人</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_135.aspx">罗隐</a> </p>
<div class="contson" id="contson35802">
故人不可见，聊复拂鸣琴。鹊绕风枝急，萤藏露草深。
<br />
平生四方志，此夜五湖心。惆怅友朋尽，洋洋漫好音。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=35802&from=http://so.gushiwen.org/view.aspx?id=35802"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(35802)"><img id="copyimg35802" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('35802','http://m.gushiwen.org/view_35802.aspx')" onmouseout="outweixin(35802)"><img id="weixinimg35802" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=35802"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=4964453435"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood35802" href="javascript:goodNew('35802','http://so.gushiwen.org/view.aspx?id=35802',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin35802" style="background-color:aqua;"></div>
<div id="toolPlay35802" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor135">罗隐（833-909），字昭谏，新城（今浙江富阳市新登镇）人，唐代诗人。生于公元833年（太和七年），大中十三年（公元859年）底至京师，应进士试，历七年不第。咸通八年（公元867年）乃自编其文为《谗书》，益为统治阶级所憎恶，所以罗衮赠诗说：“谗书虽胜一名休”。后来又断断续续考了几年，总共考了十多次，自称“十二三年就试期”，最终还是铩羽而归，史称“十上不第”。黄巢起义后，避乱隐居九华山，光启三年（公元887年），55岁时归乡依吴越王钱镠，历任钱塘令、司勋郎中、给事中等职。公元909年（五代后梁开平三年）去世，享年77岁。http://so.gushiwen.org/author_135.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_135.aspx"><img src="http://img.gushiwen.org/authorImg/luoyin.jpg" width="105" height="150" alt="罗隐"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_135.aspx"><b>罗隐</b></a></p>
<p style=" margin:0px;">罗隐（833-909），字昭谏，新城（今浙江富阳市新登镇）人，唐代诗人。生于公元833年（太和七年），大中十三年（公元859年）底至京师，应进士试，历七年不第。咸通八年（公元867年）乃自编其文为《谗书》，益为统治阶级所憎恶，所以罗衮赠诗说：“谗书虽胜一名休”。后来又断断续续考了几年，总共考了十多次，自称“十二三年就试期”，最终还是铩羽而归，史称“十上不第”。黄巢起义后，避乱隐居九华山，光启三年（公元887年），55岁时归乡依吴越王钱镠，历任钱塘令、司勋郎中、给事中等职。公元909年（五代后梁开平三年）去世，享年77岁。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=135&from=http://so.gushiwen.org/view.aspx?id=35802"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(135)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('135','http://m.gushiwen.org/author_135.aspx')" onmouseout="outweixinAuthor(135)"><img id="weixinAuthorImg135" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor135" href="javascript:goodAuthorNew('135','http://so.gushiwen.org/view.aspx?id=35802',604)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;604</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor135" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare9958">一门同秘省，万里作长城。问绢莲花府，扬旗细柳营。词锋偏却敌，草奏直论兵。何幸新诗赠，真输小谢名。——唐代·李嘉祐《奉酬路五郎中院长新除工部员外见简》http://so.gushiwen.org/view_9958.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(9958)" id="btnShangxi9958"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(9958)" id="btnZhushi9958"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(9958)" id="btnYiwen9958" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_9958.aspx"><b>奉酬路五郎中院长新除工部员外见简</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e5%98%89%e7%a5%90">李嘉祐</a></p>
<div class="contson" id="contson9958">
一门同秘省，万里作长城。问绢莲花府，扬旗细柳营。
<br />
词锋偏却敌，草奏直论兵。何幸新诗赠，真输小谢名。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=9958&from=http://so.gushiwen.org/view.aspx?id=35802"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(9958)"><img id="copyimg9958" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('9958','http://m.gushiwen.org/view_9958.aspx')" onmouseout="outweixin(9958)"><img id="weixinimg9958" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood9958" href="javascript:goodNew('9958','http://so.gushiwen.org/view.aspx?id=35802',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy9958" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin9958" style="background-color:aqua;"></div>
<div id="toolPlay9958" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare42451">旧是秦时镜，今来古匣中。龙盘初挂月，凤舞欲生风。石黛曾留殿，朱光适在宫。应祥知道泰，监物觉神通。肝胆诚难隐，妍媸信易穷。幸居君子室，长愿免尘蒙。——唐代·无名氏《府试古镜》http://so.gushiwen.org/view_42451.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(42451)" id="btnShangxi42451"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(42451)" id="btnZhushi42451"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(42451)" id="btnYiwen42451" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_42451.aspx"><b>府试古镜</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%97%a0%e5%90%8d%e6%b0%8f">无名氏</a></p>
<div class="contson" id="contson42451">
旧是秦时镜，今来古匣中。龙盘初挂月，凤舞欲生风。
<br />
石黛曾留殿，朱光适在宫。应祥知道泰，监物觉神通。
<br />
肝胆诚难隐，妍媸信易穷。幸居君子室，长愿免尘蒙。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=42451&from=http://so.gushiwen.org/view.aspx?id=35802"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(42451)"><img id="copyimg42451" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('42451','http://m.gushiwen.org/view_42451.aspx')" onmouseout="outweixin(42451)"><img id="weixinimg42451" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood42451" href="javascript:goodNew('42451','http://so.gushiwen.org/view.aspx?id=35802',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy42451" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin42451" style="background-color:aqua;"></div>
<div id="toolPlay42451" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare45060">头白已无行脚念，自开荒寺住烟萝。门前路到潇湘尽，石上云归岳麓多。南祖衣盂曾礼谒，东林泉月旧经过。闲来松外看城郭，一片红尘隔逝波。——唐代·齐己《题赠湘西龙安寺利禅师》http://so.gushiwen.org/view_45060.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(45060)" id="btnShangxi45060"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(45060)" id="btnZhushi45060"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(45060)" id="btnYiwen45060" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_45060.aspx"><b>题赠湘西龙安寺利禅师</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%bd%90%e5%b7%b1">齐己</a></p>
<div class="contson" id="contson45060">
头白已无行脚念，自开荒寺住烟萝。门前路到潇湘尽，
<br />
石上云归岳麓多。南祖衣盂曾礼谒，东林泉月旧经过。
<br />
闲来松外看城郭，一片红尘隔逝波。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=45060&from=http://so.gushiwen.org/view.aspx?id=35802"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(45060)"><img id="copyimg45060" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('45060','http://m.gushiwen.org/view_45060.aspx')" onmouseout="outweixin(45060)"><img id="weixinimg45060" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood45060" href="javascript:goodNew('45060','http://so.gushiwen.org/view.aspx?id=35802',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy45060" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin45060" style="background-color:aqua;"></div>
<div id="toolPlay45060" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3258.aspx">小舟横截春江，卧看翠壁红楼起。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3415.aspx">海风吹不断，江月照还空。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
