
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
奉和圣制立春日侍宴内殿出剪彩花应制原文、翻译及赏析_刘宪古诗_古诗文网
</title>
<meta name="description" content="上林宫馆好，春光独早知。剪花疑始发，刻燕似新窥。色浓轻雪点，香浅嫩风吹。此日叨陪侍，恩荣得数枝。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_3695.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_3695.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare3695">上林宫馆好，春光独早知。剪花疑始发，刻燕似新窥。色浓轻雪点，香浅嫩风吹。此日叨陪侍，恩荣得数枝。——唐代·刘宪《奉和圣制立春日侍宴内殿出剪彩花应制》http://so.gushiwen.org/view_3695.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(3695)" id="btnShangxi3695"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(3695)" id="btnZhushi3695"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(3695)" id="btnYiwen3695" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">奉和圣制立春日侍宴内殿出剪彩花应制</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_2259.aspx">刘宪</a> </p>
<div class="contson" id="contson3695">
上林宫馆好，春光独早知。剪花疑始发，刻燕似新窥。
<br />
色浓轻雪点，香浅嫩风吹。此日叨陪侍，恩荣得数枝。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=3695&from=http://so.gushiwen.org/view.aspx?id=3695"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(3695)"><img id="copyimg3695" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('3695','http://m.gushiwen.org/view_3695.aspx')" onmouseout="outweixin(3695)"><img id="weixinimg3695" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=3695"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=7108123041"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood3695" href="javascript:goodNew('3695','http://so.gushiwen.org/view.aspx?id=3695',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin3695" style="background-color:aqua;"></div>
<div id="toolPlay3695" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor2259">刘宪（655年―711年），字元度，宋州宁陵人，是汉景帝子中山靖王刘胜的后代。曾祖刘会，官至隋高阳郡功曹、益州绵竹令；祖刘举，唐左宗卫率府录事参军、潞州乡县令；父刘思立，考功员外郎。刘宪十五岁举进士，授阜城尉，历任武德、白水、伊阙三县尉，累进左台监察御史、殿中侍御史、侍御史、尚书工部员外郎。景龙初（公元707年），为太子詹事，兼崇文馆学士。唐睿宗景云二年正月十一日卒，年五十七。赠兖州刺史。宪著有文集三十卷，《新唐书艺文志》传于世。http://so.gushiwen.org/author_2259.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_2259.aspx"><b>刘宪</b></a></p>
<p style=" margin:0px;">刘宪（655年―711年），字元度，宋州宁陵人，是汉景帝子中山靖王刘胜的后代。曾祖刘会，官至隋高阳郡功曹、益州绵竹令；祖刘举，唐左宗卫率府录事参军、潞州乡县令；父刘思立，考功员外郎。刘宪十五岁举进士，授阜城尉，历任武德、白水、伊阙三县尉，累进左台监察御史、殿中侍御史、侍御史、尚书工部员外郎。景龙初（公元707年），为太子詹事，兼崇文馆学士。唐睿宗景云二年正月十一日卒，年五十七。赠兖州刺史。宪著有文集三十卷，《新唐书艺文志》传于世。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=2259&from=http://so.gushiwen.org/view.aspx?id=3695"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(2259)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('2259','http://m.gushiwen.org/author_2259.aspx')" onmouseout="outweixinAuthor(2259)"><img id="weixinAuthorImg2259" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor2259" href="javascript:goodAuthorNew('2259','http://so.gushiwen.org/view.aspx?id=3695',0)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;0</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor2259" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare3637">金台隐隐陵黄道，玉辇亭亭下绛雰。千种冈峦千种树，一重岩壑一重云。花落风吹红的历，藤垂日晃绿葐蒀.五百里内贤人聚，愿陪阊阖侍天文。——唐代·阎朝隐《奉和圣制夏日游石淙山》http://so.gushiwen.org/view_3637.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(3637)" id="btnShangxi3637"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(3637)" id="btnZhushi3637"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(3637)" id="btnYiwen3637" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_3637.aspx"><b>奉和圣制夏日游石淙山</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%98%8e%e6%9c%9d%e9%9a%90">阎朝隐</a></p>
<div class="contson" id="contson3637">
金台隐隐陵黄道，玉辇亭亭下绛雰。千种冈峦千种树，
<br />
一重岩壑一重云。花落风吹红的历，藤垂日晃绿葐蒀.
<br />
五百里内贤人聚，愿陪阊阖侍天文。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=3637&from=http://so.gushiwen.org/view.aspx?id=3695"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(3637)"><img id="copyimg3637" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('3637','http://m.gushiwen.org/view_3637.aspx')" onmouseout="outweixin(3637)"><img id="weixinimg3637" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood3637" href="javascript:goodNew('3637','http://so.gushiwen.org/view.aspx?id=3695',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy3637" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin3637" style="background-color:aqua;"></div>
<div id="toolPlay3637" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare20607">春去日渐迟，庭空草偏长。馀英间初实，雪絮萦蛛网。好鸟多息阴，新篁已成响。帘开斜照入，树褭游丝上。绝迹念物闲，良时契心赏。单衣颇新绰，虚室复清敞。置酒奉亲宾，树萱自怡养。笑倚连枝花，恭扶瑞藤杖。步屟恣优游，望山多气象。云叶遥卷舒，风裾动萧爽。簪缨固烦杂，江海徒浩荡。野马笼赤霄，无由负羁鞅。——唐代·元稹《春馀遣兴》http://so.gushiwen.org/view_20607.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(20607)" id="btnShangxi20607"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(20607)" id="btnZhushi20607"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(20607)" id="btnYiwen20607" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_20607.aspx"><b>春馀遣兴</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%85%83%e7%a8%b9">元稹</a></p>
<div class="contson" id="contson20607">
春去日渐迟，庭空草偏长。馀英间初实，雪絮萦蛛网。
<br />
好鸟多息阴，新篁已成响。帘开斜照入，树褭游丝上。
<br />
绝迹念物闲，良时契心赏。单衣颇新绰，虚室复清敞。
<br />
置酒奉亲宾，树萱自怡养。笑倚连枝花，恭扶瑞藤杖。
<br />
步屟恣优游，望山多气象。云叶遥卷舒，风裾动萧爽。
<br />
簪缨固烦杂，江海徒浩荡。野马笼赤霄，无由负羁鞅。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=20607&from=http://so.gushiwen.org/view.aspx?id=3695"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(20607)"><img id="copyimg20607" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('20607','http://m.gushiwen.org/view_20607.aspx')" onmouseout="outweixin(20607)"><img id="weixinimg20607" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood20607" href="javascript:goodNew('20607','http://so.gushiwen.org/view.aspx?id=3695',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy20607" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin20607" style="background-color:aqua;"></div>
<div id="toolPlay20607" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare45926">君子既执迷，无由达情素。明月海山上，秋风独归去。——唐代·嵩山女《临去书赠》http://so.gushiwen.org/view_45926.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(45926)" id="btnShangxi45926"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(45926)" id="btnZhushi45926"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(45926)" id="btnYiwen45926" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_45926.aspx"><b>临去书赠</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%b5%a9%e5%b1%b1%e5%a5%b3">嵩山女</a></p>
<div class="contson" id="contson45926">
君子既执迷，无由达情素。明月海山上，秋风独归去。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=45926&from=http://so.gushiwen.org/view.aspx?id=3695"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(45926)"><img id="copyimg45926" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('45926','http://m.gushiwen.org/view_45926.aspx')" onmouseout="outweixin(45926)"><img id="weixinimg45926" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood45926" href="javascript:goodNew('45926','http://so.gushiwen.org/view.aspx?id=3695',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy45926" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin45926" style="background-color:aqua;"></div>
<div id="toolPlay45926" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2403.aspx">红酥手，黄縢酒，满城春色宫墙柳。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1171.aspx">试问乡关何处是，水云浩荡迷南北。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
