
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
南浦原文、翻译及赏析_韩偓古诗_古诗文网
</title>
<meta name="description" content="月若半环云若吐，高楼帘卷当南浦。应是石城艇子来，两桨咿哑过花坞。正值连宵酒未醒，不宜此际兼微雨。直教笔底有文星，亦应难状分明苦。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_37161.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_37161.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare37161">月若半环云若吐，高楼帘卷当南浦。应是石城艇子来，两桨咿哑过花坞。正值连宵酒未醒，不宜此际兼微雨。直教笔底有文星，亦应难状分明苦。——唐代·韩偓《南浦》http://so.gushiwen.org/view_37161.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(37161)" id="btnShangxi37161"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(37161)" id="btnZhushi37161"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(37161)" id="btnYiwen37161" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">南浦</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_130.aspx">韩偓</a> </p>
<div class="contson" id="contson37161">
月若半环云若吐，高楼帘卷当南浦。应是石城艇子来，
<br />
两桨咿哑过花坞。正值连宵酒未醒，不宜此际兼微雨。
<br />
直教笔底有文星，亦应难状分明苦。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=37161&from=http://so.gushiwen.org/view.aspx?id=37161"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(37161)"><img id="copyimg37161" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('37161','http://m.gushiwen.org/view_37161.aspx')" onmouseout="outweixin(37161)"><img id="weixinimg37161" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=37161"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=7834812339"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood37161" href="javascript:goodNew('37161','http://so.gushiwen.org/view.aspx?id=37161',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin37161" style="background-color:aqua;"></div>
<div id="toolPlay37161" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor130">韩偓（公元842年～公元923年）。中国唐代诗人。乳名冬郎，字致光，号致尧，晚年又号玉山樵人。陕西万年县（今樊川）人。自幼聪明好学，10岁时，曾即席赋诗送其姨夫李商隐，令满座皆惊，李商隐称赞其诗是“雏凤清于老凤声”。龙纪元年(889年)，韩偓中进士，初在河中镇节度使幕府任职，后入朝历任左拾遗、左谏议大夫、度支副使、翰林学士。http://so.gushiwen.org/author_130.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_130.aspx"><img src="http://img.gushiwen.org/authorImg/hanwo.jpg" width="105" height="150" alt="韩偓"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_130.aspx"><b>韩偓</b></a></p>
<p style=" margin:0px;">韩偓（公元842年～公元923年）。中国唐代诗人。乳名冬郎，字致光，号致尧，晚年又号玉山樵人。陕西万年县（今樊川）人。自幼聪明好学，10岁时，曾即席赋诗送其姨夫李商隐，令满座皆惊，李商隐称赞其诗是“雏凤清于老凤声”。龙纪元年(889年)，韩偓中进士，初在河中镇节度使幕府任职，后入朝历任左拾遗、左谏议大夫、度支副使、翰林学士。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=130&from=http://so.gushiwen.org/view.aspx?id=37161"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(130)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('130','http://m.gushiwen.org/author_130.aspx')" onmouseout="outweixinAuthor(130)"><img id="weixinAuthorImg130" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor130" href="javascript:goodAuthorNew('130','http://so.gushiwen.org/view.aspx?id=37161',447)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;447</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor130" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare10877">寄语杨员外，山寒少茯苓。归来稍暄暖，当为劚青冥。翻动神仙窟，封题鸟兽形。兼将老藤杖，扶汝醉初醒。——唐代·杜甫《路逢襄阳杨少府入城戏呈杨员外绾》http://so.gushiwen.org/view_10877.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(10877)" id="btnShangxi10877"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(10877)" id="btnZhushi10877"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(10877)" id="btnYiwen10877" />
<script type="text/javascript">
                        document.getElementById("btnYiwen10877").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_10877.aspx"><b>路逢襄阳杨少府入城戏呈杨员外绾</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%9c%e7%94%ab">杜甫</a></p>
<div class="contson" id="contson10877">
寄语杨员外，山寒少茯苓。<br />归来稍暄暖，当为劚青冥。<br />翻动神仙窟，封题鸟兽形。<br />兼将老藤杖，扶汝醉初醒。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=10877&from=http://so.gushiwen.org/view.aspx?id=37161"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(10877)"><img id="copyimg10877" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('10877','http://m.gushiwen.org/view_10877.aspx')" onmouseout="outweixin(10877)"><img id="weixinimg10877" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood10877" href="javascript:goodNew('10877','http://so.gushiwen.org/view.aspx?id=37161',6)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;6</span></a></div>
</div>
<div id="toolCopy10877" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin10877" style="background-color:aqua;"></div>
<div id="toolPlay10877" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%af%84%e8%af%ad">寄语</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare4445">书阁移年岁，文明难复辞。欢言冬雪满，恨别夏云滋。外尹方为政，高明自不欺。老人骖驭往，童子狎雏嬉。日茂西河俗，寂寥东观期。遥怀秀才令，京洛见新诗。——唐代·张说《送乔安邑备》http://so.gushiwen.org/view_4445.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(4445)" id="btnShangxi4445"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(4445)" id="btnZhushi4445"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(4445)" id="btnYiwen4445" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_4445.aspx"><b>送乔安邑备</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%bc%a0%e8%af%b4">张说</a></p>
<div class="contson" id="contson4445">
书阁移年岁，文明难复辞。欢言冬雪满，恨别夏云滋。
<br />
外尹方为政，高明自不欺。老人骖驭往，童子狎雏嬉。
<br />
日茂西河俗，寂寥东观期。遥怀秀才令，京洛见新诗。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=4445&from=http://so.gushiwen.org/view.aspx?id=37161"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(4445)"><img id="copyimg4445" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('4445','http://m.gushiwen.org/view_4445.aspx')" onmouseout="outweixin(4445)"><img id="weixinimg4445" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood4445" href="javascript:goodNew('4445','http://so.gushiwen.org/view.aspx?id=37161',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy4445" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin4445" style="background-color:aqua;"></div>
<div id="toolPlay4445" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare39112">朱弹星丸粲日光，绿琼枝散小香囊。龙绡壳绽红纹粟，鱼目珠涵白膜浆。梅熟已过南岭雨，橘酸空待洞庭霜。蛮山蹋晓和烟摘，拜捧金盘奉越王。日日熏风卷瘴烟，南园珍果荔枝先。灵鸦啄破琼津滴，宝器盛来蚌腹圆。锦里只闻销醉客，蕊宫惟合赠神仙。何人刺出猩猩血，深染罗纹遍壳鲜。——唐代·徐夤《荔枝二首》http://so.gushiwen.org/view_39112.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(39112)" id="btnShangxi39112"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(39112)" id="btnZhushi39112"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(39112)" id="btnYiwen39112" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_39112.aspx"><b>荔枝二首</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%be%90%e5%a4%a4">徐夤</a></p>
<div class="contson" id="contson39112">
朱弹星丸粲日光，绿琼枝散小香囊。龙绡壳绽红纹粟，
<br />
鱼目珠涵白膜浆。梅熟已过南岭雨，橘酸空待洞庭霜。
<br />
蛮山蹋晓和烟摘，拜捧金盘奉越王。
<br />
日日熏风卷瘴烟，南园珍果荔枝先。灵鸦啄破琼津滴，
<br />
宝器盛来蚌腹圆。锦里只闻销醉客，蕊宫惟合赠神仙。
<br />
何人刺出猩猩血，深染罗纹遍壳鲜。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=39112&from=http://so.gushiwen.org/view.aspx?id=37161"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(39112)"><img id="copyimg39112" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('39112','http://m.gushiwen.org/view_39112.aspx')" onmouseout="outweixin(39112)"><img id="weixinimg39112" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood39112" href="javascript:goodNew('39112','http://so.gushiwen.org/view.aspx?id=37161',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy39112" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin39112" style="background-color:aqua;"></div>
<div id="toolPlay39112" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3156.aspx">少室众峰几峰别，一峰晴见一峰雪。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5359.aspx">日长唯鸟雀，春远独柴荆。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
