
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
登山寺原文、翻译及赏析_杜荀鹤古诗_古诗文网
</title>
<meta name="description" content="山半一山寺，野人秋日登。就中偏爱石，独上最高层。有果猿攀树，无斋鸽看僧。儒门自多事，来此复何能。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_37850.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_37850.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare37850">山半一山寺，野人秋日登。就中偏爱石，独上最高层。有果猿攀树，无斋鸽看僧。儒门自多事，来此复何能。——唐代·杜荀鹤《登山寺》http://so.gushiwen.org/view_37850.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(37850)" id="btnShangxi37850"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(37850)" id="btnZhushi37850"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(37850)" id="btnYiwen37850" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">登山寺</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_291.aspx">杜荀鹤</a> </p>
<div class="contson" id="contson37850">
山半一山寺，野人秋日登。就中偏爱石，独上最高层。
<br />
有果猿攀树，无斋鸽看僧。儒门自多事，来此复何能。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=37850&from=http://so.gushiwen.org/view.aspx?id=37850"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(37850)"><img id="copyimg37850" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('37850','http://m.gushiwen.org/view_37850.aspx')" onmouseout="outweixin(37850)"><img id="weixinimg37850" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=37850"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=3290317770"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood37850" href="javascript:goodNew('37850','http://so.gushiwen.org/view.aspx?id=37850',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin37850" style="background-color:aqua;"></div>
<div id="toolPlay37850" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor291">杜荀鹤(846～904)，唐代诗人。字彦之，号九华山人。汉族，池州石埭（今安徽石台）人。大顺进士，以诗名，自成一家，尤长于宫词。官至翰学士知制造。大顺二年，第一人擢第，复还旧山。宣州田頵遣至汴通好，朱全忠厚遇之，表授翰林学士、主客员外郎、知制诰。恃势侮易缙绅，众怒，欲杀之而未及。天祐初卒。自序其文为《唐风集》十卷，今编诗三卷。事迹见孙光宪《北梦琐言》、何光远《鉴诫录》、《旧五代史&#183;梁书》本传、《唐诗纪事》及《唐才子传》。http://so.gushiwen.org/author_291.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_291.aspx"><img src="http://img.gushiwen.org/authorImg/duxunhe.jpg" width="105" height="150" alt="杜荀鹤"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_291.aspx"><b>杜荀鹤</b></a></p>
<p style=" margin:0px;">杜荀鹤(846～904)，唐代诗人。字彦之，号九华山人。汉族，池州石埭（今安徽石台）人。大顺进士，以诗名，自成一家，尤长于宫词。官至翰学士知制造。大顺二年，第一人擢第，复还旧山。宣州田頵遣至汴通好，朱全忠厚遇之，表授翰林学士、主客员外郎、知制诰。恃势侮易缙绅，众怒，欲杀之而未及。天祐初卒。自序其文为《唐风集》十卷，今编诗三卷。事迹见孙光宪《北梦琐言》、何光远《鉴诫录》、《旧五代史&#183;梁书》本传、《唐诗纪事》及《唐才子传》。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=291&from=http://so.gushiwen.org/view.aspx?id=37850"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(291)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('291','http://m.gushiwen.org/author_291.aspx')" onmouseout="outweixinAuthor(291)"><img id="weixinAuthorImg291" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor291" href="javascript:goodAuthorNew('291','http://so.gushiwen.org/view.aspx?id=37850',483)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;483</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor291" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare37238">早于喧杂是深雠，犹恐行藏坠俗流。高寺懒为携酒去，名山长恨送人游。关河见月空垂泪，风雨看花欲白头。除却祖师心法外，浮生何处不堪愁。——唐代·韩偓《游江南水陆院》http://so.gushiwen.org/view_37238.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(37238)" id="btnShangxi37238"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(37238)" id="btnZhushi37238"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(37238)" id="btnYiwen37238" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_37238.aspx"><b>游江南水陆院</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%9f%a9%e5%81%93">韩偓</a></p>
<div class="contson" id="contson37238">
早于喧杂是深雠，犹恐行藏坠俗流。高寺懒为携酒去，
<br />
名山长恨送人游。关河见月空垂泪，风雨看花欲白头。
<br />
除却祖师心法外，浮生何处不堪愁。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=37238&from=http://so.gushiwen.org/view.aspx?id=37850"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(37238)"><img id="copyimg37238" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('37238','http://m.gushiwen.org/view_37238.aspx')" onmouseout="outweixin(37238)"><img id="weixinimg37238" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood37238" href="javascript:goodNew('37238','http://so.gushiwen.org/view.aspx?id=37850',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy37238" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin37238" style="background-color:aqua;"></div>
<div id="toolPlay37238" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare11523">卫幕衔恩重，潘舆送喜频。济时瞻上将，锡号戴慈亲。富贵当如此，尊荣迈等伦。郡依封土旧，国与大名新。紫诰鸾回纸，清朝燕贺人。远传冬笋味，更觉彩衣春。奕叶班姑史，芬芳孟母邻。义方兼有训，词翰两如神。委曲承颜体，鶱飞报主身。可怜忠与孝，双美画骐驎。——唐代·杜甫《奉贺阳城郡王太夫人恩命加邓国太夫人》http://so.gushiwen.org/view_11523.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(11523)" id="btnShangxi11523"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(11523)" id="btnZhushi11523"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(11523)" id="btnYiwen11523" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_11523.aspx"><b>奉贺阳城郡王太夫人恩命加邓国太夫人</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%9c%e7%94%ab">杜甫</a></p>
<div class="contson" id="contson11523">
卫幕衔恩重，潘舆送喜频。济时瞻上将，锡号戴慈亲。
<br />
富贵当如此，尊荣迈等伦。郡依封土旧，国与大名新。
<br />
紫诰鸾回纸，清朝燕贺人。远传冬笋味，更觉彩衣春。
<br />
奕叶班姑史，芬芳孟母邻。义方兼有训，词翰两如神。
<br />
委曲承颜体，鶱飞报主身。可怜忠与孝，双美画骐驎。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=11523&from=http://so.gushiwen.org/view.aspx?id=37850"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(11523)"><img id="copyimg11523" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('11523','http://m.gushiwen.org/view_11523.aspx')" onmouseout="outweixin(11523)"><img id="weixinimg11523" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood11523" href="javascript:goodNew('11523','http://so.gushiwen.org/view.aspx?id=37850',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy11523" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin11523" style="background-color:aqua;"></div>
<div id="toolPlay11523" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare25144">玉烟生窗午轻凝，晨华左耀鲜相凌。人言天孙机上亲手迹，有时怨别无所惜。遂令武帝厌云韶，金针天丝缀飘飘。五声写出心中见，拊石喧金柏梁殿。此衣春日赐何人，秦女腰肢轻若燕。香风间旋众彩随，联联珍珠贯长丝。眼前意是三清客，星宿离离绕身白。鸾凤有声不见身，出宫入徵随伶人。神仙如月只可望，瑶华池头几惆怅。乔山一闭曲未终，鼎湖秋惊白头浪。——唐代·鲍溶《霓裳羽衣歌》http://so.gushiwen.org/view_25144.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(25144)" id="btnShangxi25144"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(25144)" id="btnZhushi25144"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(25144)" id="btnYiwen25144" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_25144.aspx"><b>霓裳羽衣歌</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%b2%8d%e6%ba%b6">鲍溶</a></p>
<div class="contson" id="contson25144">
玉烟生窗午轻凝，晨华左耀鲜相凌。人言天孙机上亲手迹，
<br />
有时怨别无所惜。遂令武帝厌云韶，金针天丝缀飘飘。
<br />
五声写出心中见，拊石喧金柏梁殿。此衣春日赐何人，
<br />
秦女腰肢轻若燕。香风间旋众彩随，联联珍珠贯长丝。
<br />
眼前意是三清客，星宿离离绕身白。鸾凤有声不见身，
<br />
出宫入徵随伶人。神仙如月只可望，瑶华池头几惆怅。
<br />
乔山一闭曲未终，鼎湖秋惊白头浪。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=25144&from=http://so.gushiwen.org/view.aspx?id=37850"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(25144)"><img id="copyimg25144" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('25144','http://m.gushiwen.org/view_25144.aspx')" onmouseout="outweixin(25144)"><img id="weixinimg25144" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood25144" href="javascript:goodNew('25144','http://so.gushiwen.org/view.aspx?id=37850',4)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;4</span></a></div>
</div>
<div id="toolCopy25144" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin25144" style="background-color:aqua;"></div>
<div id="toolPlay25144" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1615.aspx">绿鬓能供多少恨，未肯无情比断弦。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2230.aspx">缀玉联珠六十年，谁教冥路作诗仙。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
