
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
题著禅师原文、翻译及赏析_杜荀鹤古诗_古诗文网
</title>
<meta name="description" content="大道本无幻，常情自有魔。人皆迷著此，师独悟如何。为岳开窗阔，因虫长草多。说空空说得，空得到维摩。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_37868.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_37868.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare37868">大道本无幻，常情自有魔。人皆迷著此，师独悟如何。为岳开窗阔，因虫长草多。说空空说得，空得到维摩。——唐代·杜荀鹤《题著禅师》http://so.gushiwen.org/view_37868.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(37868)" id="btnShangxi37868"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(37868)" id="btnZhushi37868"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(37868)" id="btnYiwen37868" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">题著禅师</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_291.aspx">杜荀鹤</a> </p>
<div class="contson" id="contson37868">
大道本无幻，常情自有魔。人皆迷著此，师独悟如何。
<br />
为岳开窗阔，因虫长草多。说空空说得，空得到维摩。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=37868&from=http://so.gushiwen.org/view.aspx?id=37868"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(37868)"><img id="copyimg37868" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('37868','http://m.gushiwen.org/view_37868.aspx')" onmouseout="outweixin(37868)"><img id="weixinimg37868" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=37868"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=7057027624"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood37868" href="javascript:goodNew('37868','http://so.gushiwen.org/view.aspx?id=37868',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin37868" style="background-color:aqua;"></div>
<div id="toolPlay37868" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor291">杜荀鹤(846～904)，唐代诗人。字彦之，号九华山人。汉族，池州石埭（今安徽石台）人。大顺进士，以诗名，自成一家，尤长于宫词。官至翰学士知制造。大顺二年，第一人擢第，复还旧山。宣州田頵遣至汴通好，朱全忠厚遇之，表授翰林学士、主客员外郎、知制诰。恃势侮易缙绅，众怒，欲杀之而未及。天祐初卒。自序其文为《唐风集》十卷，今编诗三卷。事迹见孙光宪《北梦琐言》、何光远《鉴诫录》、《旧五代史&#183;梁书》本传、《唐诗纪事》及《唐才子传》。http://so.gushiwen.org/author_291.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_291.aspx"><img src="http://img.gushiwen.org/authorImg/duxunhe.jpg" width="105" height="150" alt="杜荀鹤"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_291.aspx"><b>杜荀鹤</b></a></p>
<p style=" margin:0px;">杜荀鹤(846～904)，唐代诗人。字彦之，号九华山人。汉族，池州石埭（今安徽石台）人。大顺进士，以诗名，自成一家，尤长于宫词。官至翰学士知制造。大顺二年，第一人擢第，复还旧山。宣州田頵遣至汴通好，朱全忠厚遇之，表授翰林学士、主客员外郎、知制诰。恃势侮易缙绅，众怒，欲杀之而未及。天祐初卒。自序其文为《唐风集》十卷，今编诗三卷。事迹见孙光宪《北梦琐言》、何光远《鉴诫录》、《旧五代史&#183;梁书》本传、《唐诗纪事》及《唐才子传》。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=291&from=http://so.gushiwen.org/view.aspx?id=37868"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(291)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('291','http://m.gushiwen.org/author_291.aspx')" onmouseout="outweixinAuthor(291)"><img id="weixinAuthorImg291" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor291" href="javascript:goodAuthorNew('291','http://so.gushiwen.org/view.aspx?id=37868',483)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;483</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor291" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare1954">朔风吹叶雁门秋，万里烟尘昏戍楼。征马长思青海北，胡笳夜听陇山头。——唐代·佚名《杂曲歌辞。凉州歌第二》http://so.gushiwen.org/view_1954.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(1954)" id="btnShangxi1954"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(1954)" id="btnZhushi1954"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(1954)" id="btnYiwen1954" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_1954.aspx"><b>杂曲歌辞。凉州歌第二</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e4%bd%9a%e5%90%8d">佚名</a></p>
<div class="contson" id="contson1954">
朔风吹叶雁门秋，万里烟尘昏戍楼。
<br />
征马长思青海北，胡笳夜听陇山头。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=1954&from=http://so.gushiwen.org/view.aspx?id=37868"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(1954)"><img id="copyimg1954" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('1954','http://m.gushiwen.org/view_1954.aspx')" onmouseout="outweixin(1954)"><img id="weixinimg1954" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood1954" href="javascript:goodNew('1954','http://so.gushiwen.org/view.aspx?id=37868',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy1954" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin1954" style="background-color:aqua;"></div>
<div id="toolPlay1954" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare33906">镂碗传绿酒，雕炉薰紫烟。谁知苦寒调，共作白雪弦。恃爱如欲进，含羞出不前。朱口发艳歌，玉指弄娇弦。——唐代·陆龟蒙《子夜警歌二首》http://so.gushiwen.org/view_33906.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(33906)" id="btnShangxi33906"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(33906)" id="btnZhushi33906"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(33906)" id="btnYiwen33906" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_33906.aspx"><b>子夜警歌二首</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%99%86%e9%be%9f%e8%92%99">陆龟蒙</a></p>
<div class="contson" id="contson33906">
镂碗传绿酒，雕炉薰紫烟。谁知苦寒调，共作白雪弦。
<br />
恃爱如欲进，含羞出不前。朱口发艳歌，玉指弄娇弦。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=33906&from=http://so.gushiwen.org/view.aspx?id=37868"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(33906)"><img id="copyimg33906" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('33906','http://m.gushiwen.org/view_33906.aspx')" onmouseout="outweixin(33906)"><img id="weixinimg33906" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood33906" href="javascript:goodNew('33906','http://so.gushiwen.org/view.aspx?id=37868',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy33906" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin33906" style="background-color:aqua;"></div>
<div id="toolPlay33906" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare20086">十八年来恨别离，唯同一宿咏新诗。更相借问诗中语，共说如今胜旧时。——唐代·张籍《喜王六同宿》http://so.gushiwen.org/view_20086.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(20086)" id="btnShangxi20086"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(20086)" id="btnZhushi20086"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(20086)" id="btnYiwen20086" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_20086.aspx"><b>喜王六同宿</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%bc%a0%e7%b1%8d">张籍</a></p>
<div class="contson" id="contson20086">
十八年来恨别离，唯同一宿咏新诗。
<br />
更相借问诗中语，共说如今胜旧时。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=20086&from=http://so.gushiwen.org/view.aspx?id=37868"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(20086)"><img id="copyimg20086" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('20086','http://m.gushiwen.org/view_20086.aspx')" onmouseout="outweixin(20086)"><img id="weixinimg20086" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood20086" href="javascript:goodNew('20086','http://so.gushiwen.org/view.aspx?id=37868',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy20086" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin20086" style="background-color:aqua;"></div>
<div id="toolPlay20086" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2867.aspx">江皋楼观前朝寺，秋色入秦淮。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4535.aspx">老母与子别，呼天野草间。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
