
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
寄同年卢员外原文、翻译及赏析_黄滔古诗_古诗文网
</title>
<meta name="description" content="听尽莺声出雍州，秦吴烟月十经秋。龙门在地从人上，郎省连天须鹤游。休恋一台惟妙绝，已经三字入精求。当年甲乙皆华显，应念槐宫今雪头。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_38952.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_38952.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare38952">听尽莺声出雍州，秦吴烟月十经秋。龙门在地从人上，郎省连天须鹤游。休恋一台惟妙绝，已经三字入精求。当年甲乙皆华显，应念槐宫今雪头。——唐代·黄滔《寄同年卢员外》http://so.gushiwen.org/view_38952.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(38952)" id="btnShangxi38952"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(38952)" id="btnZhushi38952"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(38952)" id="btnYiwen38952" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">寄同年卢员外</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_2328.aspx">黄滔</a> </p>
<div class="contson" id="contson38952">
听尽莺声出雍州，秦吴烟月十经秋。龙门在地从人上，
<br />
郎省连天须鹤游。休恋一台惟妙绝，已经三字入精求。
<br />
当年甲乙皆华显，应念槐宫今雪头。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=38952&from=http://so.gushiwen.org/view.aspx?id=38952"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(38952)"><img id="copyimg38952" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('38952','http://m.gushiwen.org/view_38952.aspx')" onmouseout="outweixin(38952)"><img id="weixinimg38952" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=38952"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=2211166431"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood38952" href="javascript:goodNew('38952','http://so.gushiwen.org/view.aspx?id=38952',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin38952" style="background-color:aqua;"></div>
<div id="toolPlay38952" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor2328">黄滔（840～911），字文江，莆田城内前埭（今荔城区东里巷）人，晚唐五代著名的文学家，被誉为“福建文坛盟主”、闽中“文章初祖”。《四库全书》收《黄御史集》10卷，附录1卷。http://so.gushiwen.org/author_2328.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_2328.aspx"><img src="http://img.gushiwen.org/authorImg/huangtao.jpg" width="105" height="150" alt="黄滔"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_2328.aspx"><b>黄滔</b></a></p>
<p style=" margin:0px;">黄滔（840～911），字文江，莆田城内前埭（今荔城区东里巷）人，晚唐五代著名的文学家，被誉为“福建文坛盟主”、闽中“文章初祖”。《四库全书》收《黄御史集》10卷，附录1卷。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=2328&from=http://so.gushiwen.org/view.aspx?id=38952"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(2328)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('2328','http://m.gushiwen.org/author_2328.aspx')" onmouseout="outweixinAuthor(2328)"><img id="weixinAuthorImg2328" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor2328" href="javascript:goodAuthorNew('2328','http://so.gushiwen.org/view.aspx?id=38952',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor2328" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare11471">离筵罢多酒，起地发寒塘。回首中丞座，驰笺异姓王。燕辞枫树日，雁度麦城霜。空醉山翁酒，遥怜似葛强。——唐代·杜甫《送田四弟将军将夔州柏中丞命起居江陵节度…郡王卫公幕》http://so.gushiwen.org/view_11471.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(11471)" id="btnShangxi11471"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(11471)" id="btnZhushi11471"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(11471)" id="btnYiwen11471" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_11471.aspx"><b>送田四弟将军将夔州柏中丞命起居江陵节度…郡王卫公幕</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%9c%e7%94%ab">杜甫</a></p>
<div class="contson" id="contson11471">
离筵罢多酒，起地发寒塘。回首中丞座，驰笺异姓王。
<br />
燕辞枫树日，雁度麦城霜。空醉山翁酒，遥怜似葛强。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=11471&from=http://so.gushiwen.org/view.aspx?id=38952"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(11471)"><img id="copyimg11471" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('11471','http://m.gushiwen.org/view_11471.aspx')" onmouseout="outweixin(11471)"><img id="weixinimg11471" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood11471" href="javascript:goodNew('11471','http://so.gushiwen.org/view.aspx?id=38952',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy11471" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin11471" style="background-color:aqua;"></div>
<div id="toolPlay11471" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare2251">六文开玉篆，八体曜银书。飞毫列锦绣，拂素起龙鱼。凤举崩云绝，鸾惊游雾疏。别有临池草，恩沾垂露馀。——唐代·岑文本《奉述飞白书势》http://so.gushiwen.org/view_2251.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(2251)" id="btnShangxi2251"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(2251)" id="btnZhushi2251"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(2251)" id="btnYiwen2251" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_2251.aspx"><b>奉述飞白书势</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%b2%91%e6%96%87%e6%9c%ac">岑文本</a></p>
<div class="contson" id="contson2251">
六文开玉篆，八体曜银书。飞毫列锦绣，拂素起龙鱼。
<br />
凤举崩云绝，鸾惊游雾疏。别有临池草，恩沾垂露馀。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=2251&from=http://so.gushiwen.org/view.aspx?id=38952"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(2251)"><img id="copyimg2251" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('2251','http://m.gushiwen.org/view_2251.aspx')" onmouseout="outweixin(2251)"><img id="weixinimg2251" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood2251" href="javascript:goodNew('2251','http://so.gushiwen.org/view.aspx?id=38952',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy2251" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin2251" style="background-color:aqua;"></div>
<div id="toolPlay2251" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare29848">舟触长松岸势回，潺湲一夜绕亭台。若教靖节先生见，不肯更吟归去来。——唐代·赵嘏《赠桐乡丞》http://so.gushiwen.org/view_29848.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(29848)" id="btnShangxi29848"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(29848)" id="btnZhushi29848"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(29848)" id="btnYiwen29848" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_29848.aspx"><b>赠桐乡丞</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e8%b5%b5%e5%98%8f">赵嘏</a></p>
<div class="contson" id="contson29848">
舟触长松岸势回，潺湲一夜绕亭台。
<br />
若教靖节先生见，不肯更吟归去来。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=29848&from=http://so.gushiwen.org/view.aspx?id=38952"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(29848)"><img id="copyimg29848" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('29848','http://m.gushiwen.org/view_29848.aspx')" onmouseout="outweixin(29848)"><img id="weixinimg29848" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood29848" href="javascript:goodNew('29848','http://so.gushiwen.org/view.aspx?id=38952',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy29848" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin29848" style="background-color:aqua;"></div>
<div id="toolPlay29848" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2001.aspx">眺听良多感，徙倚独沾襟。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4167.aspx">落叶人何在，寒云路几层。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
