
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
校猎义成喜逢大雪率题九韵以示群官原文、翻译及赏析_李隆基古诗_古诗文网
</title>
<meta name="description" content="弧矢威天下，旌旗游近县。一面施鸟罗，三驱教人战。暮云成积雪，晓色开行殿。皓然原隰同，不觉林野变。北风勇士马，东日华组练。触地银獐出，连山缟鹿见。月兔落高矰，星狼下急箭。既欣盈尺兆，" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_412.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_412.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare412">弧矢威天下，旌旗游近县。一面施鸟罗，三驱教人战。暮云成积雪，晓色开行殿。皓然原隰同，不觉林野变。北风勇士马，东日华组练。触地银獐出，连山缟鹿见。月兔落高矰，星狼下急箭。既欣盈尺兆，复忆磻溪便。岁丰将遇贤，俱荷皇天眷。——唐代·李隆基《校猎义成喜逢大雪率题九韵以示群官》http://so.gushiwen.org/view_412.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(412)" id="btnShangxi412"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(412)" id="btnZhushi412"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(412)" id="btnYiwen412" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">校猎义成喜逢大雪率题九韵以示群官</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_520.aspx">李隆基</a> </p>
<div class="contson" id="contson412">
弧矢威天下，旌旗游近县。一面施鸟罗，三驱教人战。
<br />
暮云成积雪，晓色开行殿。皓然原隰同，不觉林野变。
<br />
北风勇士马，东日华组练。触地银獐出，连山缟鹿见。
<br />
月兔落高矰，星狼下急箭。既欣盈尺兆，复忆磻溪便。
<br />
岁丰将遇贤，俱荷皇天眷。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=412&from=http://so.gushiwen.org/view.aspx?id=412"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(412)"><img id="copyimg412" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('412','http://m.gushiwen.org/view_412.aspx')" onmouseout="outweixin(412)"><img id="weixinimg412" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=412"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=5220924046"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood412" href="javascript:goodNew('412','http://so.gushiwen.org/view.aspx?id=412',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin412" style="background-color:aqua;"></div>
<div id="toolPlay412" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor520">唐玄宗李隆基（685年9月8日－762年5月3日），亦称唐明皇，公元685年出生在东都洛阳（今河南洛阳），712年至756年在位。前期注意拨乱反正，任用姚崇、宋璟等贤相，励精图治，他的开元盛世是唐朝的极盛之世，在位后期宠爱杨贵妃，怠慢朝政，宠信奸臣李林甫、杨国忠等，加上政策失误和重用安禄山等侫臣，导致了后来长达八年的安史之乱，为唐朝中衰埋下伏笔。756年李亨即位，尊其为太上皇。762年病逝。http://so.gushiwen.org/author_520.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_520.aspx"><img src="http://img.gushiwen.org/authorImg/lilongji.jpg" width="105" height="150" alt="李隆基"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_520.aspx"><b>李隆基</b></a></p>
<p style=" margin:0px;">唐玄宗李隆基（685年9月8日－762年5月3日），亦称唐明皇，公元685年出生在东都洛阳（今河南洛阳），712年至756年在位。前期注意拨乱反正，任用姚崇、宋璟等贤相，励精图治，他的开元盛世是唐朝的极盛之世，在位后期宠爱杨贵妃，怠慢朝政，宠信奸臣李林甫、杨国忠等，加上政策失误和重用安禄山等侫臣，导致了后来长达八年的安史之乱，为唐朝中衰埋下伏笔。756年李亨即位，尊其为太上皇。762年病逝。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=520&from=http://so.gushiwen.org/view.aspx?id=412"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(520)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('520','http://m.gushiwen.org/author_520.aspx')" onmouseout="outweixinAuthor(520)"><img id="weixinAuthorImg520" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor520" href="javascript:goodAuthorNew('520','http://so.gushiwen.org/view.aspx?id=412',96)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;96</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor520" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare10151">日暮铜雀迥，秋深玉座清。萧森松柏望，委郁绮罗情。君恩不再得，妾舞为谁轻。——唐代·高适《铜雀妓》http://so.gushiwen.org/view_10151.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(10151)" id="btnShangxi10151"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(10151)" id="btnZhushi10151"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(10151)" id="btnYiwen10151" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_10151.aspx"><b>铜雀妓</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%ab%98%e9%80%82">高适</a></p>
<div class="contson" id="contson10151">
日暮铜雀迥，秋深玉座清。萧森松柏望，委郁绮罗情。
<br />
君恩不再得，妾舞为谁轻。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=10151&from=http://so.gushiwen.org/view.aspx?id=412"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(10151)"><img id="copyimg10151" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('10151','http://m.gushiwen.org/view_10151.aspx')" onmouseout="outweixin(10151)"><img id="weixinimg10151" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood10151" href="javascript:goodNew('10151','http://so.gushiwen.org/view.aspx?id=412',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy10151" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin10151" style="background-color:aqua;"></div>
<div id="toolPlay10151" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare1179">秋风窗下起，旅雁向南飞。日日出门望，家家行客归。无因见边使，空待寄寒衣。独闭青楼暮，烟深鸟雀稀。——唐代·张籍《横吹曲辞。望行人》http://so.gushiwen.org/view_1179.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(1179)" id="btnShangxi1179"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(1179)" id="btnZhushi1179"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(1179)" id="btnYiwen1179" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_1179.aspx"><b>横吹曲辞。望行人</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%bc%a0%e7%b1%8d">张籍</a></p>
<div class="contson" id="contson1179">
秋风窗下起，旅雁向南飞。日日出门望，家家行客归。
<br />
无因见边使，空待寄寒衣。独闭青楼暮，烟深鸟雀稀。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=1179&from=http://so.gushiwen.org/view.aspx?id=412"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(1179)"><img id="copyimg1179" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('1179','http://m.gushiwen.org/view_1179.aspx')" onmouseout="outweixin(1179)"><img id="weixinimg1179" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood1179" href="javascript:goodNew('1179','http://so.gushiwen.org/view.aspx?id=412',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy1179" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin1179" style="background-color:aqua;"></div>
<div id="toolPlay1179" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare45808">坐卧常携酒一壶，不教双眼识皇都。乾坤许大无名姓，疏散人中一丈夫。得道高僧不易逢，几时归去愿相从。自言住处连沧海，别是蓬莱第一峰。莫厌追欢笑语频，寻思离乱好伤神。闲来屈指从头数，得见清平有几人。——唐代·钟离权《题长安酒肆壁三绝句》http://so.gushiwen.org/view_45808.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(45808)" id="btnShangxi45808"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(45808)" id="btnZhushi45808"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(45808)" id="btnYiwen45808" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_45808.aspx"><b>题长安酒肆壁三绝句</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%92%9f%e7%a6%bb%e6%9d%83">钟离权</a></p>
<div class="contson" id="contson45808">
坐卧常携酒一壶，不教双眼识皇都。
<br />
乾坤许大无名姓，疏散人中一丈夫。
<br />
得道高僧不易逢，几时归去愿相从。
<br />
自言住处连沧海，别是蓬莱第一峰。
<br />
莫厌追欢笑语频，寻思离乱好伤神。
<br />
闲来屈指从头数，得见清平有几人。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=45808&from=http://so.gushiwen.org/view.aspx?id=412"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(45808)"><img id="copyimg45808" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('45808','http://m.gushiwen.org/view_45808.aspx')" onmouseout="outweixin(45808)"><img id="weixinimg45808" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood45808" href="javascript:goodNew('45808','http://so.gushiwen.org/view.aspx?id=412',3)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3</span></a></div>
</div>
<div id="toolCopy45808" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin45808" style="background-color:aqua;"></div>
<div id="toolPlay45808" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_850.aspx">离别一何久，七度过中秋。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2984.aspx">秋风夜渡河，吹却雁门桑。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
