
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
晋。谢公赌墅原文、翻译及赏析_孙元晏古诗_古诗文网
</title>
<meta name="description" content="发遣将军欲去时，略无情挠只贪棋。自从乞与羊昙后，赌墅功成更有谁。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_41802.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_41802.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare41802">发遣将军欲去时，略无情挠只贪棋。自从乞与羊昙后，赌墅功成更有谁。——唐代·孙元晏《晋。谢公赌墅》http://so.gushiwen.org/view_41802.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(41802)" id="btnShangxi41802"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(41802)" id="btnZhushi41802"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(41802)" id="btnYiwen41802" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">晋。谢公赌墅</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_1856.aspx">孙元晏</a> </p>
<div class="contson" id="contson41802">
发遣将军欲去时，略无情挠只贪棋。
<br />
自从乞与羊昙后，赌墅功成更有谁。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=41802&from=http://so.gushiwen.org/view.aspx?id=41802"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(41802)"><img id="copyimg41802" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('41802','http://m.gushiwen.org/view_41802.aspx')" onmouseout="outweixin(41802)"><img id="weixinimg41802" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=41802"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=9355877413"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood41802" href="javascript:goodNew('41802','http://so.gushiwen.org/view.aspx?id=41802',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin41802" style="background-color:aqua;"></div>
<div id="toolPlay41802" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor1856">孙元晏，晚唐诗人。江宁（今南京）人。生平事迹无可考。http://so.gushiwen.org/author_1856.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_1856.aspx"><b>孙元晏</b></a></p>
<p style=" margin:0px;">孙元晏，晚唐诗人。江宁（今南京）人。生平事迹无可考。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=1856&from=http://so.gushiwen.org/view.aspx?id=41802"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(1856)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('1856','http://m.gushiwen.org/author_1856.aspx')" onmouseout="outweixinAuthor(1856)"><img id="weixinAuthorImg1856" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor1856" href="javascript:goodAuthorNew('1856','http://so.gushiwen.org/view.aspx?id=41802',0)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;0</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor1856" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare14197">岩云掩竹扉，去鸟带馀晖。地僻生涯薄，山深俗事稀。养花分宿雨，剪叶补秋衣。野渡逢渔子，同舟荡月归。——唐代·戴叔伦《山居即事》http://so.gushiwen.org/view_14197.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(14197)" id="btnShangxi14197"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(14197)" id="btnZhushi14197"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(14197)" id="btnYiwen14197" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_14197.aspx"><b>山居即事</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%88%b4%e5%8f%94%e4%bc%a6">戴叔伦</a></p>
<div class="contson" id="contson14197">
岩云掩竹扉，去鸟带馀晖。地僻生涯薄，山深俗事稀。
<br />
养花分宿雨，剪叶补秋衣。野渡逢渔子，同舟荡月归。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=14197&from=http://so.gushiwen.org/view.aspx?id=41802"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(14197)"><img id="copyimg14197" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('14197','http://m.gushiwen.org/view_14197.aspx')" onmouseout="outweixin(14197)"><img id="weixinimg14197" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood14197" href="javascript:goodNew('14197','http://so.gushiwen.org/view.aspx?id=41802',4)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;4</span></a></div>
</div>
<div id="toolCopy14197" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin14197" style="background-color:aqua;"></div>
<div id="toolPlay14197" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare20145">溪头一径入青崖，处处仙居隔杏花。更见峰西幽客说，云中犹有两三家。——唐代·张籍《寻仙》http://so.gushiwen.org/view_20145.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(20145)" id="btnShangxi20145"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(20145)" id="btnZhushi20145"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(20145)" id="btnYiwen20145" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_20145.aspx"><b>寻仙</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%bc%a0%e7%b1%8d">张籍</a></p>
<div class="contson" id="contson20145">
溪头一径入青崖，处处仙居隔杏花。
<br />
更见峰西幽客说，云中犹有两三家。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=20145&from=http://so.gushiwen.org/view.aspx?id=41802"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(20145)"><img id="copyimg20145" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('20145','http://m.gushiwen.org/view_20145.aspx')" onmouseout="outweixin(20145)"><img id="weixinimg20145" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood20145" href="javascript:goodNew('20145','http://so.gushiwen.org/view.aspx?id=41802',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy20145" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin20145" style="background-color:aqua;"></div>
<div id="toolPlay20145" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare14396">共醉流芳独归去，故园高士日相亲。深山古路无杨柳，折取桐花寄远人。——唐代·戴叔伦《送吕少府》http://so.gushiwen.org/view_14396.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(14396)" id="btnShangxi14396"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(14396)" id="btnZhushi14396"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(14396)" id="btnYiwen14396" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_14396.aspx"><b>送吕少府</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%88%b4%e5%8f%94%e4%bc%a6">戴叔伦</a></p>
<div class="contson" id="contson14396">
共醉流芳独归去，故园高士日相亲。
<br />
深山古路无杨柳，折取桐花寄远人。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=14396&from=http://so.gushiwen.org/view.aspx?id=41802"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(14396)"><img id="copyimg14396" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('14396','http://m.gushiwen.org/view_14396.aspx')" onmouseout="outweixin(14396)"><img id="weixinimg14396" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood14396" href="javascript:goodNew('14396','http://so.gushiwen.org/view.aspx?id=41802',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy14396" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin14396" style="background-color:aqua;"></div>
<div id="toolPlay14396" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3953.aspx">玄都观里桃千树，花落水空流。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3971.aspx">桃李出深井，花艳惊上春。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
