
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
重宿旧房与愚上人静话原文、翻译及赏析_齐己古诗_古诗文网
</title>
<meta name="description" content="曾此栖心过十冬，今来潇洒属生公。檀栾旧植青添翠，菡萏新栽白换红。北面城临灯影合，西邻壁近讲声通。不知门下趋筵士，何似当时石解空。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_45069.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_45069.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare45069">曾此栖心过十冬，今来潇洒属生公。檀栾旧植青添翠，菡萏新栽白换红。北面城临灯影合，西邻壁近讲声通。不知门下趋筵士，何似当时石解空。——唐代·齐己《重宿旧房与愚上人静话》http://so.gushiwen.org/view_45069.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(45069)" id="btnShangxi45069"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(45069)" id="btnZhushi45069"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(45069)" id="btnYiwen45069" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">重宿旧房与愚上人静话</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_2.aspx">齐己</a> </p>
<div class="contson" id="contson45069">
曾此栖心过十冬，今来潇洒属生公。檀栾旧植青添翠，
<br />
菡萏新栽白换红。北面城临灯影合，西邻壁近讲声通。
<br />
不知门下趋筵士，何似当时石解空。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=45069&from=http://so.gushiwen.org/view.aspx?id=45069"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(45069)"><img id="copyimg45069" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('45069','http://m.gushiwen.org/view_45069.aspx')" onmouseout="outweixin(45069)"><img id="weixinimg45069" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=45069"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=5653494273"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood45069" href="javascript:goodNew('45069','http://so.gushiwen.org/view.aspx?id=45069',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin45069" style="background-color:aqua;"></div>
<div id="toolPlay45069" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor2">齐己（863年—937年）出家前俗名胡德生，晚年自号衡岳沙门，湖南长沙宁乡县祖塔乡人，唐朝晚期著名诗僧。http://so.gushiwen.org/author_2.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_2.aspx"><img src="http://img.gushiwen.org/authorImg/qiji.jpg" width="105" height="150" alt="齐己"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_2.aspx"><b>齐己</b></a></p>
<p style=" margin:0px;">齐己（863年—937年）出家前俗名胡德生，晚年自号衡岳沙门，湖南长沙宁乡县祖塔乡人，唐朝晚期著名诗僧。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=2&from=http://so.gushiwen.org/view.aspx?id=45069"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(2)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('2','http://m.gushiwen.org/author_2.aspx')" onmouseout="outweixinAuthor(2)"><img id="weixinAuthorImg2" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor2" href="javascript:goodAuthorNew('2','http://so.gushiwen.org/view.aspx?id=45069',904)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;904</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor2" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare17659">龊龊当世士，所忧在饥寒。但见贱者悲，不闻贵者叹。大贤事业异，远抱非俗观。报国心皎洁，念时涕汍澜。妖姬坐左右，柔指发哀弹。酒肴虽日陈，感激宁为欢。秋阴欺白日，泥潦不少干。河堤决东郡，老弱随惊湍。天意固有属，谁能诘其端。愿辱太守荐，得充谏诤官。排云叫阊阖，披腹呈琅玕.致君岂无术，自进诚独难。——唐代·韩愈《龊龊》http://so.gushiwen.org/view_17659.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(17659)" id="btnShangxi17659"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(17659)" id="btnZhushi17659"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(17659)" id="btnYiwen17659" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_17659.aspx"><b>龊龊</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%9f%a9%e6%84%88">韩愈</a></p>
<div class="contson" id="contson17659">
龊龊当世士，所忧在饥寒。但见贱者悲，不闻贵者叹。
<br />
大贤事业异，远抱非俗观。报国心皎洁，念时涕汍澜。
<br />
妖姬坐左右，柔指发哀弹。酒肴虽日陈，感激宁为欢。
<br />
秋阴欺白日，泥潦不少干。河堤决东郡，老弱随惊湍。
<br />
天意固有属，谁能诘其端。愿辱太守荐，得充谏诤官。
<br />
排云叫阊阖，披腹呈琅玕.致君岂无术，自进诚独难。
<br />
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=17659&from=http://so.gushiwen.org/view.aspx?id=45069"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(17659)"><img id="copyimg17659" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('17659','http://m.gushiwen.org/view_17659.aspx')" onmouseout="outweixin(17659)"><img id="weixinimg17659" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood17659" href="javascript:goodNew('17659','http://so.gushiwen.org/view.aspx?id=45069',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy17659" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin17659" style="background-color:aqua;"></div>
<div id="toolPlay17659" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare40003">蜀国少平地，方思京洛间。远为千里客，来度百牢关。帆影清江水，铃声碧草山。不因名与利，尔我各应闲。——唐代·于邺《过百牢关贻舟中者》http://so.gushiwen.org/view_40003.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(40003)" id="btnShangxi40003"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(40003)" id="btnZhushi40003"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(40003)" id="btnYiwen40003" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_40003.aspx"><b>过百牢关贻舟中者</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e4%ba%8e%e9%82%ba">于邺</a></p>
<div class="contson" id="contson40003">
蜀国少平地，方思京洛间。远为千里客，来度百牢关。
<br />
帆影清江水，铃声碧草山。不因名与利，尔我各应闲。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=40003&from=http://so.gushiwen.org/view.aspx?id=45069"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(40003)"><img id="copyimg40003" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('40003','http://m.gushiwen.org/view_40003.aspx')" onmouseout="outweixin(40003)"><img id="weixinimg40003" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood40003" href="javascript:goodNew('40003','http://so.gushiwen.org/view.aspx?id=45069',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy40003" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin40003" style="background-color:aqua;"></div>
<div id="toolPlay40003" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare41800">绕床堪壮喝卢声，似铁容仪众尽惊。二十七人同举义，几人全得旧功名。——唐代·孙元晏《晋。刘毅》http://so.gushiwen.org/view_41800.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(41800)" id="btnShangxi41800"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(41800)" id="btnZhushi41800"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(41800)" id="btnYiwen41800" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_41800.aspx"><b>晋。刘毅</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%ad%99%e5%85%83%e6%99%8f">孙元晏</a></p>
<div class="contson" id="contson41800">
绕床堪壮喝卢声，似铁容仪众尽惊。
<br />
二十七人同举义，几人全得旧功名。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=41800&from=http://so.gushiwen.org/view.aspx?id=45069"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(41800)"><img id="copyimg41800" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('41800','http://m.gushiwen.org/view_41800.aspx')" onmouseout="outweixin(41800)"><img id="weixinimg41800" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood41800" href="javascript:goodNew('41800','http://so.gushiwen.org/view.aspx?id=45069',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy41800" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin41800" style="background-color:aqua;"></div>
<div id="toolPlay41800" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4785.aspx">天涯海角悲凉地，记得当年全盛时。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2569.aspx">借问此何时？春风语流莺。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
