
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
窑头坯歌原文、翻译及赏析_吕岩古诗_古诗文网
</title>
<meta name="description" content="窑头坯，随雨破，只是未曾经水火。若经水火烧成砖，留向世间住万年。棱角坚完不复坏，扣之声韵堪磨镌。凡水火，尚成功，坚完万物谁能同。修行路上多少人，穷年炼养费精神。不道未曾经水火，无常" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_45734.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_45734.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare45734">窑头坯，随雨破，只是未曾经水火。若经水火烧成砖，留向世间住万年。棱角坚完不复坏，扣之声韵堪磨镌。凡水火，尚成功，坚完万物谁能同。修行路上多少人，穷年炼养费精神。不道未曾经水火，无常一旦临君身。既不悟，终不悔，死了犹来借精髓。主持正念大艰辛，一失人身为异类。君不见洛阳富郑公，说与金丹如盲聋。执迷不悟修真理，焉知潜合造化功。又不见九江张尚书，服药失明神气枯。不知还丹本无质，翻饵金石何太愚。又不见三衢赵枢密，参禅作鬼终不识。修完外体在何边，辩捷语言终不实。窑头坯，随雨破，便似修行这几个。大丈夫，超觉性，了尽空门不为证。伏羲传道至于今，穷理尽性至于命。了命如何是本元，先认坎离并四正。坎离即是真常家，见者超凡须入圣。坎是虎，离是龙，二体本来同一宫。龙吞虎啖居其中，离合浮沈初复终。剥而复，否而泰，进退往来定交会。弦而望，明而晦，消长盈虚相匹配。神仙深入水晶宫，时饮醍醐清更醲.饵之千日功便成，金筋玉骨身已轻。此个景象惟自身，上升早得朝三清。三清圣位我亦有，本来只夺乾坤精。饮凡酒，食膻腥，补养元和冲更盈。自融结，转光明，变作珍珠飞玉京。须臾六年肠不馁，血化白膏体难毁。不食方为真绝粮，真气薰蒸肢体强。既不食，超百亿，口鼻都无凡喘息。真人以踵凡以喉，从此真凡两边立。到此遂成无漏身，胎息丹田涌真火。老氏自此号婴儿，火候九年都经过。留形住世不知春，忽尔天门顶中破。真人出现大神通，从此天仙可相贺。圣贤三教不异门，昧者劳心休恁么。有识自爱生，有形终不灭。叹愚人，空驾说。愚人流荡无则休，落趣循环几时彻。学人学人细寻觅，且须研究古金碧。金碧参同不计年，妙中妙兮玄中玄。——唐代·吕岩《窑头坯歌》http://so.gushiwen.org/view_45734.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(45734)" id="btnShangxi45734"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(45734)" id="btnZhushi45734"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(45734)" id="btnYiwen45734" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">窑头坯歌</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_375.aspx">吕岩</a> </p>
<div class="contson" id="contson45734">
窑头坯，随雨破，只是未曾经水火。若经水火烧成砖，
<br />
留向世间住万年。棱角坚完不复坏，扣之声韵堪磨镌。
<br />
凡水火，尚成功，坚完万物谁能同。修行路上多少人，
<br />
穷年炼养费精神。不道未曾经水火，无常一旦临君身。
<br />
既不悟，终不悔，死了犹来借精髓。主持正念大艰辛，
<br />
一失人身为异类。君不见洛阳富郑公，说与金丹如盲聋。
<br />
执迷不悟修真理，焉知潜合造化功。又不见九江张尚书，
<br />
服药失明神气枯。不知还丹本无质，翻饵金石何太愚。
<br />
又不见三衢赵枢密，参禅作鬼终不识。修完外体在何边，
<br />
辩捷语言终不实。窑头坯，随雨破，便似修行这几个。
<br />
大丈夫，超觉性，了尽空门不为证。伏羲传道至于今，
<br />
穷理尽性至于命。了命如何是本元，先认坎离并四正。
<br />
坎离即是真常家，见者超凡须入圣。坎是虎，离是龙，
<br />
二体本来同一宫。龙吞虎啖居其中，离合浮沈初复终。
<br />
剥而复，否而泰，进退往来定交会。弦而望，明而晦，
<br />
消长盈虚相匹配。神仙深入水晶宫，时饮醍醐清更醲.
<br />
饵之千日功便成，金筋玉骨身已轻。此个景象惟自身，
<br />
上升早得朝三清。三清圣位我亦有，本来只夺乾坤精。
<br />
饮凡酒，食膻腥，补养元和冲更盈。自融结，转光明，
<br />
变作珍珠飞玉京。须臾六年肠不馁，血化白膏体难毁。
<br />
不食方为真绝粮，真气薰蒸肢体强。既不食，超百亿，
<br />
口鼻都无凡喘息。真人以踵凡以喉，从此真凡两边立。
<br />
到此遂成无漏身，胎息丹田涌真火。老氏自此号婴儿，
<br />
火候九年都经过。留形住世不知春，忽尔天门顶中破。
<br />
真人出现大神通，从此天仙可相贺。圣贤三教不异门，
<br />
昧者劳心休恁么。有识自爱生，有形终不灭。叹愚人，
<br />
空驾说。愚人流荡无则休，落趣循环几时彻。
<br />
学人学人细寻觅，且须研究古金碧。金碧参同不计年，
<br />
妙中妙兮玄中玄。
<br />
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=45734&from=http://so.gushiwen.org/view.aspx?id=45734"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(45734)"><img id="copyimg45734" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('45734','http://m.gushiwen.org/view_45734.aspx')" onmouseout="outweixin(45734)"><img id="weixinimg45734" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=45734"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=1700788698"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood45734" href="javascript:goodNew('45734','http://so.gushiwen.org/view.aspx?id=45734',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin45734" style="background-color:aqua;"></div>
<div id="toolPlay45734" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor375">吕岩，也叫做吕洞宾。唐末、五代著名道士。名□(一作□)，号纯阳子，自称回道人。世称吕祖或纯阳祖师，为民间神话故事八仙之一。较早的宋代记载，称他为“关中逸人”或“关右人”，元代以后比较一致的说法，则为河中府蒲坂县永乐镇（今属山西芮城）人，或称世传为东平（治在今山东东平）人。http://so.gushiwen.org/author_375.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_375.aspx"><img src="http://img.gushiwen.org/authorImg/lvyan.jpg" width="105" height="150" alt="吕岩"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_375.aspx"><b>吕岩</b></a></p>
<p style=" margin:0px;">吕岩，也叫做吕洞宾。唐末、五代著名道士。名□(一作□)，号纯阳子，自称回道人。世称吕祖或纯阳祖师，为民间神话故事八仙之一。较早的宋代记载，称他为“关中逸人”或“关右人”，元代以后比较一致的说法，则为河中府蒲坂县永乐镇（今属山西芮城）人，或称世传为东平（治在今山东东平）人。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=375&from=http://so.gushiwen.org/view.aspx?id=45734"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(375)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('375','http://m.gushiwen.org/author_375.aspx')" onmouseout="outweixinAuthor(375)"><img id="weixinAuthorImg375" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor375" href="javascript:goodAuthorNew('375','http://so.gushiwen.org/view.aspx?id=45734',170)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;170</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor375" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare38635">高士想江湖，湖闲庭植芦。清风时有至，绿竹兴何殊。嫩喜日光薄，疏忧雨点粗。惊蛙跳得过，斗雀袅如无。未织巴篱护，几抬邛竹扶。惹烟轻弱柳，蘸水漱清蒲。溉灌情偏重，琴樽赏不孤。穿花思钓叟，吹叶少羌雏。寒色暮天映，秋声远籁俱。朗吟应有趣，潇洒十馀株。——唐代·王贞白《芦苇》http://so.gushiwen.org/view_38635.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(38635)" id="btnShangxi38635"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(38635)" id="btnZhushi38635"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(38635)" id="btnYiwen38635" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_38635.aspx"><b>芦苇</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e7%8e%8b%e8%b4%9e%e7%99%bd">王贞白</a></p>
<div class="contson" id="contson38635">
高士想江湖，湖闲庭植芦。清风时有至，绿竹兴何殊。
<br />
嫩喜日光薄，疏忧雨点粗。惊蛙跳得过，斗雀袅如无。
<br />
未织巴篱护，几抬邛竹扶。惹烟轻弱柳，蘸水漱清蒲。
<br />
溉灌情偏重，琴樽赏不孤。穿花思钓叟，吹叶少羌雏。
<br />
寒色暮天映，秋声远籁俱。朗吟应有趣，潇洒十馀株。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=38635&from=http://so.gushiwen.org/view.aspx?id=45734"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(38635)"><img id="copyimg38635" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('38635','http://m.gushiwen.org/view_38635.aspx')" onmouseout="outweixin(38635)"><img id="weixinimg38635" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood38635" href="javascript:goodNew('38635','http://so.gushiwen.org/view.aspx?id=45734',5)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;5</span></a></div>
</div>
<div id="toolCopy38635" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin38635" style="background-color:aqua;"></div>
<div id="toolPlay38635" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare2574">客心悲暮序，登墉瞰平陆。林泽窅芊绵，山川郁重复。王公资设险，名都拒江隩。方城次北门，溟海穷南服。长策挫吴豕，雄图竞周鹿。万乘重沮漳，九鼎轻伊谷。大蒐云梦掩，壮观章华筑。人世更盛衰，吉凶良倚伏。遽见邻交断，仍睹贤臣逐。南风忽不尽，西师日侵蹙。运圮属驰驱，时屯恣敲扑。莫救夷陵火，无复秦庭哭。鄢郢遂丘墟，风尘俄惨黩。狐兔时游戏，霜露日沾沐。钓者故池平，神台尘宇覆。阵云埋夏首，穷阴惨荒谷。怅矣舟壑迁，悲哉年祀倏。虽异三春望，终伤千里目。——唐代·李百药《郢城怀古》http://so.gushiwen.org/view_2574.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(2574)" id="btnShangxi2574"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(2574)" id="btnZhushi2574"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(2574)" id="btnYiwen2574" />
<script type="text/javascript">
                        document.getElementById("btnShangxi2574").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi2574").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_2574.aspx"><b>郢城怀古</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e7%99%be%e8%8d%af">李百药</a></p>
<div class="contson" id="contson2574">
客心悲暮序，登墉瞰平陆。<br />林泽窅芊绵，山川郁重复。<br />王公资设险，名都拒江隩。<br />方城次北门，溟海穷南服。<br />长策挫吴豕，雄图竞周鹿。<br />万乘重沮漳，九鼎轻伊谷。<br />大蒐云梦掩，壮观章华筑。<br />人世更盛衰，吉凶良倚伏。<br />遽见邻交断，仍睹贤臣逐。<br />南风忽不尽，西师日侵蹙。<br />运圮属驰驱，时屯恣敲扑。<br />莫救夷陵火，无复秦庭哭。<br />鄢郢遂丘墟，风尘俄惨黩。<br />狐兔时游戏，霜露日沾沐。<br />钓者故池平，神台尘宇覆。<br />阵云埋夏首，穷阴惨荒谷。<br />怅矣舟壑迁，悲哉年祀倏。<br />虽异三春望，终伤千里目。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=2574&from=http://so.gushiwen.org/view.aspx?id=45734"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(2574)"><img id="copyimg2574" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('2574','http://m.gushiwen.org/view_2574.aspx')" onmouseout="outweixin(2574)"><img id="weixinimg2574" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood2574" href="javascript:goodNew('2574','http://so.gushiwen.org/view.aspx?id=45734',9)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;9</span></a></div>
</div>
<div id="toolCopy2574" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin2574" style="background-color:aqua;"></div>
<div id="toolPlay2574" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e6%80%80%e5%8f%a4">怀古</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare25266">何响与天通，瑶筝挂望中。彩弦非触指，锦瑟忽闻风。雁柱虚连势，鸾歌且坠空。夜和霜击磬，晴引凤归桐。幽咽谁生怨，清泠自匪躬。秦姬收宝匣，搔首不成功。——唐代·鲍溶《风筝》http://so.gushiwen.org/view_25266.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(25266)" id="btnShangxi25266"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(25266)" id="btnZhushi25266"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(25266)" id="btnYiwen25266" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_25266.aspx"><b>风筝</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%b2%8d%e6%ba%b6">鲍溶</a></p>
<div class="contson" id="contson25266">
何响与天通，瑶筝挂望中。彩弦非触指，锦瑟忽闻风。
<br />
雁柱虚连势，鸾歌且坠空。夜和霜击磬，晴引凤归桐。
<br />
幽咽谁生怨，清泠自匪躬。秦姬收宝匣，搔首不成功。
<br />
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=25266&from=http://so.gushiwen.org/view.aspx?id=45734"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(25266)"><img id="copyimg25266" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('25266','http://m.gushiwen.org/view_25266.aspx')" onmouseout="outweixin(25266)"><img id="weixinimg25266" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood25266" href="javascript:goodNew('25266','http://so.gushiwen.org/view.aspx?id=45734',23)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;23</span></a></div>
</div>
<div id="toolCopy25266" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin25266" style="background-color:aqua;"></div>
<div id="toolPlay25266" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3106.aspx">火冷灯稀霜露下，昏昏雪意云垂野。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1174.aspx">远梦归侵晓，家书到隔年。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
