
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
十日菊原文、翻译及赏析_薛莹古诗_古诗文网
</title>
<meta name="description" content="昨日尊前折，万人酣晓香。今朝篱下见，满地委残阳。得失片时痛，荣枯一岁伤。未将同腐草，犹更有重霜。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_46844.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_46844.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare46844">昨日尊前折，万人酣晓香。今朝篱下见，满地委残阳。得失片时痛，荣枯一岁伤。未将同腐草，犹更有重霜。——唐代·薛莹《十日菊》http://so.gushiwen.org/view_46844.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(46844)" id="btnShangxi46844"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(46844)" id="btnZhushi46844"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(46844)" id="btnYiwen46844" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">十日菊</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e8%96%9b%e8%8e%b9">薛莹</a> </p>
<div class="contson" id="contson46844">
昨日尊前折，万人酣晓香。今朝篱下见，满地委残阳。
<br />
得失片时痛，荣枯一岁伤。未将同腐草，犹更有重霜。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=46844&from=http://so.gushiwen.org/view.aspx?id=46844"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(46844)"><img id="copyimg46844" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('46844','http://m.gushiwen.org/view_46844.aspx')" onmouseout="outweixin(46844)"><img id="weixinimg46844" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=46844"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=5067138810"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood46844" href="javascript:goodNew('46844','http://so.gushiwen.org/view.aspx?id=46844',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin46844" style="background-color:aqua;"></div>
<div id="toolPlay46844" style=" display:none;clear:both;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare5042">天子爱贤才，星郎入拜来。明光朝半下，建礼直初回。名带含香发，文随绮幕开。披云自有镜，从此照仙台。——唐代·张谔《赠吏部孙员外济》http://so.gushiwen.org/view_5042.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(5042)" id="btnShangxi5042"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(5042)" id="btnZhushi5042"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(5042)" id="btnYiwen5042" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_5042.aspx"><b>赠吏部孙员外济</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%bc%a0%e8%b0%94">张谔</a></p>
<div class="contson" id="contson5042">
天子爱贤才，星郎入拜来。明光朝半下，建礼直初回。
<br />
名带含香发，文随绮幕开。披云自有镜，从此照仙台。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=5042&from=http://so.gushiwen.org/view.aspx?id=46844"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(5042)"><img id="copyimg5042" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('5042','http://m.gushiwen.org/view_5042.aspx')" onmouseout="outweixin(5042)"><img id="weixinimg5042" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood5042" href="javascript:goodNew('5042','http://so.gushiwen.org/view.aspx?id=46844',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy5042" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin5042" style="background-color:aqua;"></div>
<div id="toolPlay5042" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare29715">渌沼春光后，青青草色浓。绮罗惊翡翠，暗粉妒芙蓉。云遍窗前见，荷翻镜里逢。将心托流水，终日渺无从。——唐代·赵嘏《昔昔盐二十首。水溢芙蓉沼》http://so.gushiwen.org/view_29715.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(29715)" id="btnShangxi29715"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(29715)" id="btnZhushi29715"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(29715)" id="btnYiwen29715" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_29715.aspx"><b>昔昔盐二十首。水溢芙蓉沼</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e8%b5%b5%e5%98%8f">赵嘏</a></p>
<div class="contson" id="contson29715">
渌沼春光后，青青草色浓。绮罗惊翡翠，暗粉妒芙蓉。
<br />
云遍窗前见，荷翻镜里逢。将心托流水，终日渺无从。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=29715&from=http://so.gushiwen.org/view.aspx?id=46844"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(29715)"><img id="copyimg29715" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('29715','http://m.gushiwen.org/view_29715.aspx')" onmouseout="outweixin(29715)"><img id="weixinimg29715" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood29715" href="javascript:goodNew('29715','http://so.gushiwen.org/view.aspx?id=46844',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy29715" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin29715" style="background-color:aqua;"></div>
<div id="toolPlay29715" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare17600">阴律随寒改，阳和应节生。祥云观魏阙，瑞气映秦城。验炭论时政，书云受岁盈。晷移长日至，雾敛远霄清。景暖仙梅动，风柔御柳倾。那堪封得意，空对物华情。——唐代·裴度《至日登乐游园》http://so.gushiwen.org/view_17600.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(17600)" id="btnShangxi17600"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(17600)" id="btnZhushi17600"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(17600)" id="btnYiwen17600" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_17600.aspx"><b>至日登乐游园</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e8%a3%b4%e5%ba%a6">裴度</a></p>
<div class="contson" id="contson17600">
阴律随寒改，阳和应节生。祥云观魏阙，瑞气映秦城。
<br />
验炭论时政，书云受岁盈。晷移长日至，雾敛远霄清。
<br />
景暖仙梅动，风柔御柳倾。那堪封得意，空对物华情。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=17600&from=http://so.gushiwen.org/view.aspx?id=46844"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(17600)"><img id="copyimg17600" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('17600','http://m.gushiwen.org/view_17600.aspx')" onmouseout="outweixin(17600)"><img id="weixinimg17600" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood17600" href="javascript:goodNew('17600','http://so.gushiwen.org/view.aspx?id=46844',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy17600" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin17600" style="background-color:aqua;"></div>
<div id="toolPlay17600" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2735.aspx">艇子几时同泛？待折荷花临鉴。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1648.aspx">佳辰强饮食犹寒，隐几萧条戴鹖冠。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
