
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
莲花原文、翻译及赏析_崔橹古诗_古诗文网
</title>
<meta name="description" content="影欹晴浪势欹烟，恨态缄言日抵年。轻雾晓和香积饭，片红时堕化人船。人间有笔应难画，雨后无尘更好怜。何限断肠名不得，倚风娇怯醉腰偏。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_46873.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_46873.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare46873">影欹晴浪势欹烟，恨态缄言日抵年。轻雾晓和香积饭，片红时堕化人船。人间有笔应难画，雨后无尘更好怜。何限断肠名不得，倚风娇怯醉腰偏。——唐代·崔橹《莲花》http://so.gushiwen.org/view_46873.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(46873)" id="btnShangxi46873"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(46873)" id="btnZhushi46873"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(46873)" id="btnYiwen46873" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">莲花</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_918.aspx">崔橹</a> </p>
<div class="contson" id="contson46873">
影欹晴浪势欹烟，恨态缄言日抵年。轻雾晓和香积饭，
<br />
片红时堕化人船。人间有笔应难画，雨后无尘更好怜。
<br />
何限断肠名不得，倚风娇怯醉腰偏。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=46873&from=http://so.gushiwen.org/view.aspx?id=46873"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(46873)"><img id="copyimg46873" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('46873','http://m.gushiwen.org/view_46873.aspx')" onmouseout="outweixin(46873)"><img id="weixinimg46873" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=46873"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=6738686556"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood46873" href="javascript:goodNew('46873','http://so.gushiwen.org/view.aspx?id=46873',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div class="toolerweima" id="weixin46873" style="background-color:aqua;"></div>
<div id="toolPlay46873" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor918">崔橹，唐代诗人，进士，曾任棣州司马。他善于撰写杂文，诗作以绝句成就最高，今存诗十六首。他的诗作风格清丽，画面鲜艳，托物言志，意境深远。据阿袁（即陈忠远）先生《唐诗故事 .谢诗差幸人原谅 ——崔橹谢罪诗真是戒酒良方》记载，崔橹由于自身经历的缘故，后来还写诗谢罪而戒酒了呢，这可真是令人不由不肃然起敬的事儿了。http://so.gushiwen.org/author_918.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_918.aspx"><b>崔橹</b></a></p>
<p style=" margin:0px;">崔橹，唐代诗人，进士，曾任棣州司马。他善于撰写杂文，诗作以绝句成就最高，今存诗十六首。他的诗作风格清丽，画面鲜艳，托物言志，意境深远。据阿袁（即陈忠远）先生《唐诗故事 .谢诗差幸人原谅 ——崔橹谢罪诗真是戒酒良方》记载，崔橹由于自身经历的缘故，后来还写诗谢罪而戒酒了呢，这可真是令人不由不肃然起敬的事儿了。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=918&from=http://so.gushiwen.org/view.aspx?id=46873"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(918)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('918','http://m.gushiwen.org/author_918.aspx')" onmouseout="outweixinAuthor(918)"><img id="weixinAuthorImg918" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor918" href="javascript:goodAuthorNew('918','http://so.gushiwen.org/view.aspx?id=46873',3)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor918" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare16656">南国独行日，三巴春草齐。漾波归海疾，危栈入云迷。锦谷岚烟里，刀州晚照西。旅情方浩荡，蜀魄满林啼。——唐代·武元衡《夕次潘山下》http://so.gushiwen.org/view_16656.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(16656)" id="btnShangxi16656"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(16656)" id="btnZhushi16656"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(16656)" id="btnYiwen16656" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_16656.aspx"><b>夕次潘山下</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%ad%a6%e5%85%83%e8%a1%a1">武元衡</a></p>
<div class="contson" id="contson16656">
南国独行日，三巴春草齐。漾波归海疾，危栈入云迷。
<br />
锦谷岚烟里，刀州晚照西。旅情方浩荡，蜀魄满林啼。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=16656&from=http://so.gushiwen.org/view.aspx?id=46873"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(16656)"><img id="copyimg16656" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('16656','http://m.gushiwen.org/view_16656.aspx')" onmouseout="outweixin(16656)"><img id="weixinimg16656" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood16656" href="javascript:goodNew('16656','http://so.gushiwen.org/view.aspx?id=46873',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy16656" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin16656" style="background-color:aqua;"></div>
<div id="toolPlay16656" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare32741">朱紫花前贺故人，兼荣此会颇关身。同年坐上联宾榻，宗姓亭中布锦裀.晴日照旗红灼烁，韶光入队影玢璘.芳菲解助今朝喜，嫩蕊青条满眼新。——唐代·徐商《贺襄阳副使节判同加章绶》http://so.gushiwen.org/view_32741.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(32741)" id="btnShangxi32741"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(32741)" id="btnZhushi32741"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(32741)" id="btnYiwen32741" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_32741.aspx"><b>贺襄阳副使节判同加章绶</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%be%90%e5%95%86">徐商</a></p>
<div class="contson" id="contson32741">
朱紫花前贺故人，兼荣此会颇关身。同年坐上联宾榻，
<br />
宗姓亭中布锦裀.晴日照旗红灼烁，韶光入队影玢璘.
<br />
芳菲解助今朝喜，嫩蕊青条满眼新。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=32741&from=http://so.gushiwen.org/view.aspx?id=46873"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(32741)"><img id="copyimg32741" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('32741','http://m.gushiwen.org/view_32741.aspx')" onmouseout="outweixin(32741)"><img id="weixinimg32741" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood32741" href="javascript:goodNew('32741','http://so.gushiwen.org/view.aspx?id=46873',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy32741" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin32741" style="background-color:aqua;"></div>
<div id="toolPlay32741" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare31041">翻覆升沉百岁中，前途一半已成空。浮生暂寄梦中梦，世事如闻风里风。修竹万竿资阒寂，古书千卷要穷通。一壶浊酒暄和景，谁会陶然失马翁。——唐代·李群玉《自遣》http://so.gushiwen.org/view_31041.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(31041)" id="btnShangxi31041"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(31041)" id="btnZhushi31041"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(31041)" id="btnYiwen31041" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_31041.aspx"><b>自遣</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e7%be%a4%e7%8e%89">李群玉</a></p>
<div class="contson" id="contson31041">
翻覆升沉百岁中，前途一半已成空。浮生暂寄梦中梦，
<br />
世事如闻风里风。修竹万竿资阒寂，古书千卷要穷通。
<br />
一壶浊酒暄和景，谁会陶然失马翁。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=31041&from=http://so.gushiwen.org/view.aspx?id=46873"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(31041)"><img id="copyimg31041" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('31041','http://m.gushiwen.org/view_31041.aspx')" onmouseout="outweixin(31041)"><img id="weixinimg31041" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood31041" href="javascript:goodNew('31041','http://so.gushiwen.org/view.aspx?id=46873',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy31041" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin31041" style="background-color:aqua;"></div>
<div id="toolPlay31041" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3056.aspx">君不见走马川行雪海边，平沙莽莽黄入天。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_775.aspx">行尽江南，不与离人遇。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
