
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
闺怨·人世悲欢不原文、翻译及赏析_高骈古诗_古诗文网
</title>
<meta name="description" content="人世悲欢不可知，夫君初破黑山归。如今又献征南策，早晚催缝带号衣。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_47513.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_47513.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare47513">人世悲欢不可知，夫君初破黑山归。如今又献征南策，早晚催缝带号衣。——唐代·高骈《闺怨·人世悲欢不》http://so.gushiwen.org/view_47513.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(47513)" id="btnShangxi47513"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(47513)" id="btnZhushi47513"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(47513)" id="btnYiwen47513" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">闺怨·人世悲欢不</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_91.aspx">高骈</a> </p>
<div class="contson" id="contson47513">
人世悲欢不可知，夫君初破黑山归。<br />如今又献征南策，早晚催缝带号衣。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=47513&from=http://so.gushiwen.org/view.aspx?id=47513"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(47513)"><img id="copyimg47513" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('47513','http://m.gushiwen.org/view_47513.aspx')" onmouseout="outweixin(47513)"><img id="weixinimg47513" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=47513"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=6199173313"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood47513" href="javascript:goodNew('47513','http://so.gushiwen.org/view.aspx?id=47513',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div class="toolerweima" id="weixin47513" style="background-color:aqua;"></div>
<div id="toolPlay47513" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor91">高骈，字千里，南平郡王高崇文之孙，晚唐名将。高骈出生于禁军世家，其一生辉煌之起点为866年率军收复交趾，破蛮兵20余万。后历任天平、西川、荆南、镇海、淮南等五镇节度使。期间正值黄巢大起义，高骈多次重创起义军。被唐僖宗任命为诸道行营兵马都统。后中黄巢缓兵之计，大将张璘阵亡。高骈由此不敢再战，致使黄巢顺利渡江、攻陷长安。此后至长安收复的三年间，淮南未出一兵一卒救援京师，高骈一生功名毁之一旦。高骈嗜好装神弄鬼，几乎达到癫狂的程度。后被部将毕师铎所害，连同其子侄四十余人，“同坎（坑）瘗（埋）之”。http://so.gushiwen.org/author_91.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_91.aspx"><img src="http://img.gushiwen.org/authorImg/gaopian.jpg" width="105" height="150" alt="高骈"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_91.aspx"><b>高骈</b></a></p>
<p style=" margin:0px;">高骈，字千里，南平郡王高崇文之孙，晚唐名将。高骈出生于禁军世家，其一生辉煌之起点为866年率军收复交趾，破蛮兵20余万。后历任天平、西川、荆南、镇海、淮南等五镇节度使。期间正值黄巢大起义，高骈多次重创起义军。被唐僖宗任命为诸道行营兵马都统。后中黄巢缓兵之计，大将张璘阵亡。高骈由此不敢再战，致使黄巢顺利渡江、攻陷长安。此后至长安收复的三年间，淮南未出一兵一卒救援京师，高骈一生功名毁之一旦。高骈嗜好装神弄鬼，几乎达到癫狂的程度。后被部将毕师铎所害，连同其子侄四十余人，“同坎（坑）瘗（埋）之”。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=91&from=http://so.gushiwen.org/view.aspx?id=47513"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(91)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('91','http://m.gushiwen.org/author_91.aspx')" onmouseout="outweixinAuthor(91)"><img id="weixinAuthorImg91" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor91" href="javascript:goodAuthorNew('91','http://so.gushiwen.org/view.aspx?id=47513',90)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;90</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor91" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare16412">十岁吹箫入汉宫，看修水殿种芙蓉。自伤白发辞金屋，许著黄衣向玉峰。解语老猿开晓户，学飞雏鹤落高松。定知别后宫中伴，应听缑山半夜钟。——唐代·于鹄《送宫人入道归山》http://so.gushiwen.org/view_16412.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(16412)" id="btnShangxi16412"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(16412)" id="btnZhushi16412"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(16412)" id="btnYiwen16412" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_16412.aspx"><b>送宫人入道归山</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e4%ba%8e%e9%b9%84">于鹄</a></p>
<div class="contson" id="contson16412">
十岁吹箫入汉宫，看修水殿种芙蓉。自伤白发辞金屋，
<br />
许著黄衣向玉峰。解语老猿开晓户，学飞雏鹤落高松。
<br />
定知别后宫中伴，应听缑山半夜钟。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=16412&from=http://so.gushiwen.org/view.aspx?id=47513"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(16412)"><img id="copyimg16412" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('16412','http://m.gushiwen.org/view_16412.aspx')" onmouseout="outweixin(16412)"><img id="weixinimg16412" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood16412" href="javascript:goodNew('16412','http://so.gushiwen.org/view.aspx?id=47513',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy16412" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin16412" style="background-color:aqua;"></div>
<div id="toolPlay16412" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare20535">古社基址在，人散社不神。惟有空心树，妖狐藏魅人。狐惑意颠倒，臊腥不复闻。丘坟变城郭，花草仍荆榛。良田千万顷，占作天荒田。主人议芟斫，怪见不敢前。那言空山烧，夜随风马奔。飞声鼓鼙震，高焰旗帜翻。逡巡荆棘尽，狐兔无子孙。狐死魅人灭，烟消坛墠存。绕坛旧田地，给授有等伦。农收村落盛，社树新团圆。社公千万岁，永保村中民。——唐代·元稹《古社》http://so.gushiwen.org/view_20535.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(20535)" id="btnShangxi20535"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(20535)" id="btnZhushi20535"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(20535)" id="btnYiwen20535" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_20535.aspx"><b>古社</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%85%83%e7%a8%b9">元稹</a></p>
<div class="contson" id="contson20535">
古社基址在，人散社不神。惟有空心树，妖狐藏魅人。
<br />
狐惑意颠倒，臊腥不复闻。丘坟变城郭，花草仍荆榛。
<br />
良田千万顷，占作天荒田。主人议芟斫，怪见不敢前。
<br />
那言空山烧，夜随风马奔。飞声鼓鼙震，高焰旗帜翻。
<br />
逡巡荆棘尽，狐兔无子孙。狐死魅人灭，烟消坛墠存。
<br />
绕坛旧田地，给授有等伦。农收村落盛，社树新团圆。
<br />
社公千万岁，永保村中民。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=20535&from=http://so.gushiwen.org/view.aspx?id=47513"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(20535)"><img id="copyimg20535" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('20535','http://m.gushiwen.org/view_20535.aspx')" onmouseout="outweixin(20535)"><img id="weixinimg20535" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood20535" href="javascript:goodNew('20535','http://so.gushiwen.org/view.aspx?id=47513',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy20535" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin20535" style="background-color:aqua;"></div>
<div id="toolPlay20535" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare32675">人间惟此路，长得绿苔衣。及户无行迹，游方应未归。平生无限事，到此尽知非。独倚松门久，阴云昏翠微。——唐代·于武陵《访道者不遇（一作访僧不遇）》http://so.gushiwen.org/view_32675.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(32675)" id="btnShangxi32675"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(32675)" id="btnZhushi32675"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(32675)" id="btnYiwen32675" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_32675.aspx"><b>访道者不遇（一作访僧不遇）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e4%ba%8e%e6%ad%a6%e9%99%b5">于武陵</a></p>
<div class="contson" id="contson32675">
人间惟此路，长得绿苔衣。及户无行迹，游方应未归。
<br />
平生无限事，到此尽知非。独倚松门久，阴云昏翠微。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=32675&from=http://so.gushiwen.org/view.aspx?id=47513"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(32675)"><img id="copyimg32675" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('32675','http://m.gushiwen.org/view_32675.aspx')" onmouseout="outweixin(32675)"><img id="weixinimg32675" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood32675" href="javascript:goodNew('32675','http://so.gushiwen.org/view.aspx?id=47513',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy32675" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin32675" style="background-color:aqua;"></div>
<div id="toolPlay32675" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4446.aspx">愿学秋胡妇，贞心比古松。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5671.aspx">燕子归来，雕梁何处，底事呢喃语。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
