
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
貍首诗原文、翻译及赏析_古诗_古诗文网
</title>
<meta name="description" content="曾孙侯氏。四正具举。
大夫君子。凡以庶士。
小大莫处。御于君所。
以燕以射。则燕则誉。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_47783.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_47783.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare47783">曾孙侯氏。四正具举。
大夫君子。凡以庶士。
小大莫处。御于君所。
以燕以射。则燕则誉。——先秦·佚名《貍首诗》http://so.gushiwen.org/view_47783.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(47783)" id="btnShangxi47783"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(47783)" id="btnZhushi47783"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(47783)" id="btnYiwen47783" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">貍首诗</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%85%88%e7%a7%a6">先秦</a><span>：</span><a href="/search.aspx?value=%e4%bd%9a%e5%90%8d">佚名</a> </p>
<div class="contson" id="contson47783">
曾孙侯氏。<br />四正具举。<br />
大夫君子。<br />凡以庶士。<br />
小大莫处。<br />御于君所。<br />
以燕以射。<br />则燕则誉。<br />
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=47783&from=http://so.gushiwen.org/view.aspx?id=47783"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(47783)"><img id="copyimg47783" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('47783','http://m.gushiwen.org/view_47783.aspx')" onmouseout="outweixin(47783)"><img id="weixinimg47783" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=47783"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=5516484012"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood47783" href="javascript:goodNew('47783','http://so.gushiwen.org/view.aspx?id=47783',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin47783" style="background-color:aqua;"></div>
<div id="toolPlay47783" style=" display:none;clear:both;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare47844">原田每每。舍其旧而新是谋。——先秦·佚名《舆人诵》http://so.gushiwen.org/view_47844.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(47844)" id="btnShangxi47844"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(47844)" id="btnZhushi47844"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(47844)" id="btnYiwen47844" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_47844.aspx"><b>舆人诵</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%85%88%e7%a7%a6">先秦</a><span>：</span><a href="/search.aspx?value=%e4%bd%9a%e5%90%8d">佚名</a></p>
<div class="contson" id="contson47844">
原田每每。<br />舍其旧而新是谋。<br />
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=47844&from=http://so.gushiwen.org/view.aspx?id=47783"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(47844)"><img id="copyimg47844" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('47844','http://m.gushiwen.org/view_47844.aspx')" onmouseout="outweixin(47844)"><img id="weixinimg47844" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood47844" href="javascript:goodNew('47844','http://so.gushiwen.org/view.aspx?id=47783',3)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3</span></a></div>
</div>
<div id="toolCopy47844" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin47844" style="background-color:aqua;"></div>
<div id="toolPlay47844" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare46">君子偕老，副笄六珈。委委佗佗，如山如河，象服是宜。子之不淑，云如之何？玼兮玼兮，其之翟也。鬒发如云，不屑髢也；玉之瑱也，象之揥也，扬且之皙也。胡然而天也？胡然而帝也？瑳兮瑳兮，其之展也。蒙彼绉絺，是绁袢也。子之清扬，扬且之颜也。展如之人兮，邦之媛也！——先秦·佚名《君子偕老》http://so.gushiwen.org/view_46.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(46)" id="btnShangxi46"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(46)" id="btnZhushi46"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(46)" id="btnYiwen46" />
<script type="text/javascript">
                        document.getElementById("btnShangxi46").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi46").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen46").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_46.aspx"><b>君子偕老</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%85%88%e7%a7%a6">先秦</a><span>：</span><a href="/search.aspx?value=%e4%bd%9a%e5%90%8d">佚名</a></p>
<div class="contson" id="contson46">
君子偕老，副笄六珈。委委佗佗，如山如河，象服是宜。子之不淑，云如之何？<br />玼兮玼兮，其之翟也。鬒发如云，不屑髢也；玉之瑱也，象之揥也，扬且之皙也。胡然而天也？胡然而帝也？<br />瑳兮瑳兮，其之展也。蒙彼绉絺，是绁袢也。子之清扬，扬且之颜也。展如之人兮，邦之媛也！
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=46&from=http://so.gushiwen.org/view.aspx?id=47783"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(46)"><img id="copyimg46" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('46','http://m.gushiwen.org/view_46.aspx')" onmouseout="outweixin(46)"><img id="weixinimg46" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood46" href="javascript:goodNew('46','http://so.gushiwen.org/view.aspx?id=47783',292)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;292</span></a></div>
</div>
<div id="toolCopy46" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin46" style="background-color:aqua;"></div>
<div id="toolPlay46" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e8%af%97%e7%bb%8f">诗经</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e4%ba%ba">写人</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare211">裳裳者华，其叶湑兮。我觏之子，我心写兮。我心写兮，是以有誉处兮。裳裳者华，芸其黄矣。我觏之子，维其有章矣。维其有章矣，是以有庆矣。裳裳者华，或黄或白。我觏之子，乘其四骆。乘其四骆，六辔沃若。左之左之，君子宜之。右之右之，君子有之。维其有之，是以似之。——先秦·佚名《裳裳者华》http://so.gushiwen.org/view_211.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(211)" id="btnShangxi211"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(211)" id="btnZhushi211"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(211)" id="btnYiwen211" />
<script type="text/javascript">
                        document.getElementById("btnShangxi211").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi211").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen211").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_211.aspx"><b>裳裳者华</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%85%88%e7%a7%a6">先秦</a><span>：</span><a href="/search.aspx?value=%e4%bd%9a%e5%90%8d">佚名</a></p>
<div class="contson" id="contson211">
<p>裳裳者华，其叶湑兮。我觏之子，我心写兮。我心写兮，是以有誉处兮。</p>
<p>裳裳者华，芸其黄矣。我觏之子，维其有章矣。维其有章矣，是以有庆矣。</p>
<p>裳裳者华，或黄或白。我觏之子，乘其四骆。乘其四骆，六辔沃若。</p>
<p>左之左之，君子宜之。右之右之，君子有之。维其有之，是以似之。</p>
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=211&from=http://so.gushiwen.org/view.aspx?id=47783"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(211)"><img id="copyimg211" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('211','http://m.gushiwen.org/view_211.aspx')" onmouseout="outweixin(211)"><img id="weixinimg211" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood211" href="javascript:goodNew('211','http://so.gushiwen.org/view.aspx?id=47783',63)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;63</span></a></div>
</div>
<div id="toolCopy211" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin211" style="background-color:aqua;"></div>
<div id="toolPlay211" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e8%af%97%e7%bb%8f">诗经</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e8%8a%b1">写花</a>
<span>，</span><a href="/type.aspx?p=1&t=%e8%b5%9e%e7%be%8e">赞美</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e4%ba%ba">写人</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_231.aspx">草满池塘水满陂，山衔落日浸寒漪。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1670.aspx">念归林叶换，愁坐露华生。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
