
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
木兰花·池塘水绿风微暖原文、翻译及赏析_晏殊_古诗文网
</title>
<meta name="description" content="池塘水绿风微暖。记得玉真初见面。重头歌韵响铮琮，入破舞腰红乱旋。 玉钩阑下香阶畔。醉后不知斜日晚。当时共我赏花人，点检如今无一半。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_48641.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_48641.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare48641">池塘水绿风微暖。记得玉真初见面。重头歌韵响铮琮，入破舞腰红乱旋。 玉钩阑下香阶畔。醉后不知斜日晚。当时共我赏花人，点检如今无一半。——宋代·晏殊《木兰花·池塘水绿风微暖》http://so.gushiwen.org/view_48641.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(48641)" id="btnShangxi48641"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(48641)" id="btnZhushi48641"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(48641)" id="btnYiwen48641" />
<script type="text/javascript">
                        document.getElementById("btnShangxi48641").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi48641").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen48641").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">木兰花·池塘水绿风微暖</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_432.aspx">晏殊</a> </p>
<div class="contson" id="contson48641">
池塘水绿风微暖。记得玉真初见面。重头歌韵响铮琮，入破舞腰红乱旋。 <br />玉钩阑下香阶畔。醉后不知斜日晚。当时共我赏花人，点检如今无一半。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=48641&from=http://so.gushiwen.org/view.aspx?id=48641"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(48641)"><img id="copyimg48641" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('48641','http://m.gushiwen.org/view_48641.aspx')" onmouseout="outweixin(48641)"><img id="weixinimg48641" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=48641"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=1658108671"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood48641" href="javascript:goodNew('48641','http://so.gushiwen.org/view.aspx?id=48641',50)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;50</span></a></div>
</div>
<div class="toolerweima" id="weixin48641" style="background-color:aqua;"></div>
<div id="toolPlay48641" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e6%80%80%e6%97%a7">怀旧</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%84%9f%e4%bc%a4">感伤</a>
<span>，</span><a href="/type.aspx?p=1&t=%e4%ba%ba%e7%94%9f">人生</a>
</div>
</div>
<div id="fanyi2457" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="fanyiShow(2457)"></div>
<h2 style="margin-bottom:10px;font-weight:bold; font-size:16px;">译文及注释</h2>
<p>译文<br />春天的风，带着一丝微微的暖意，吹皱一池碧水，至今记忆犹新，与那玉真仙女头一次见面。<br />歌喉清脆又婉转，韵律往复又回环。舞姿婀娜轻盈，脚踏节拍飞转，红裙飞舞眼缭乱。<br />玉砌的钩兰之下，花丛台阶之畔，醉酒之后，全然不觉夕阳西下，天色近晚。<br />当年和我一起赏花的人儿，如今细细查点，不足半数在身旁。</p>
<p>注释<br />玉真；仙女的名字。这里只晏殊家里的歌妓名。<br />重（chóng虫）头；一首词前后阕字句平仄完全相同者称作“重头”，如《木兰花》便是。<br />铮琮（chēngcōng称从）；玉器撞击之声，形容乐曲声韵铿锵悦耳； 琮：玉声
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:fanyiShow(2457)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="fanyiquan2457" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">译文及注释</h2>
<p><strong>译文</strong><br />春天的风，带着一丝微微的暖意，吹皱一池碧水，至今记忆犹新，与那玉真仙女头一次见面。<br />歌喉清脆又婉转，韵律往复又回环。舞姿婀娜轻盈，脚踏节拍飞转，红裙飞舞眼缭乱。<br />玉砌的钩兰之下，花丛台阶之畔，醉酒之后，全然不觉夕阳西下，天色近晚。<br />当年和我一起赏花的人儿，如今细细查点，不足半数在身旁。</p>
<p><strong>注释</strong><br />玉真；仙女的名字。这里只<a href="http://so.gushiwen.org/author_432.aspx">晏殊</a>家里的歌妓名。<br />重（chóng虫）头；一首词前后阕字句平仄完全相同者称作“重头”，如《木兰花》便是。<br />铮琮（chēngcōng称从）；玉器撞击之声，形容乐曲声韵铿锵悦耳； 琮：玉声，比喻玉真嗓音脆美如玉声。<br />入破；唐宋大曲一个音乐段落的名称（唐、宋大曲在结构上分成三大段，名为散序、中序、破。入破，即为破的第一遍。乐曲中繁声，与“重头”一样为官弦家术语。），这里形节奏开始加快。<br />红乱旋：大曲在中序时多为慢拍，入破后节奏转为急促，舞者的脚步此时亦随之加快，故云。红旋，旋转飞舞的红裙。<br />香阶：飘满落花的石阶。<br />共我赏花人：自己和一同观看玉真歌舞的同伴。<br />点检：检查，细数。“点检”句：言自己如今年纪已老，当年歌舞场上的同伴大都已经不在人世。<a title="收起" href="javascript:fanyiClose(2457)">▲</a></p>
</div>
<div class="dingpai">
<a id="ding2457" href="javascript:ding('2457','http://so.gushiwen.org/view.aspx?id=48641')">有用(30)</a><a id="pai2457" style=" margin-left:10px;" href="javascript:pai('2457','http://so.gushiwen.org/view.aspx?id=48641')">没用(7)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div id="shangxi3568" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(3568)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">鉴赏</h2>
<p>　　这是一首怀旧之作。本词追忆早年初见美人时的喜悦与欢欣及今日物是人非的惆怅，在对比中抒发好景不长的人生感慨。词中以往昔“歌韵琤琮”、“舞腰乱旋” 的欢乐场面与今日“点检无一半”的凄清境况对比，抒发了强烈的人生无常的伤感之情。词中所写景物：池塘、绿水、阑干、香阶，均兼关昔今。物是人非，更兼日斜时暮，遂使词人汕然而生故交零落、人生如梦之感。全词以极优美的文辞来流露出词人关于宇宙无穷，人生短暂，景物依然，物是人非的凄然感慨。</p>
<p>　　最折磨人的感觉，不是痛苦，而是惆怅的情绪；最令人伤感的，不是生离死别，而是景色依然，人已天涯云杳。“当时共我赏花人，点检如今无一半”——古典的诗意世
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(3568)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan3568" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">鉴赏</h2>
<p>　　这是一首怀旧之作。本词追忆早年初见美人时的喜悦与欢欣及今日物是人非的惆怅，在对比中抒发好景不长的人生感慨。词中以往昔“歌韵琤琮”、“舞腰乱旋” 的欢乐场面与今日“点检无一半”的凄清境况对比，抒发了强烈的人生无常的伤感之情。词中所写景物：池塘、绿水、阑干、香阶，均兼关昔今。物是人非，更兼日斜时暮，遂使词人汕然而生故交零落、人生如梦之感。全词以极优美的文辞来流露出词人关于宇宙无穷，人生短暂，景物依然，物是人非的凄然感慨。</p>
<p>　　最折磨人的感觉，不是痛苦，而是惆怅的情绪；最令人伤感的，不是生离死别，而是景色依然，人已天涯云杳。“当时共我赏花人，点检如今无一半”——古典的<a href="http://so.gushiwen.org/view_48641.aspx">诗</a>意世界，已经远离现实的生活。只希望那些梦里飘飞的花瓣，洋洋洒洒地永远飘落在我的精神世界里。沉湎在回忆中，感觉人生是孤独的，人生其实就是一场寂寞的旅行，没有人可以陪你走到最后。所有的痛苦和美好，都终将随着岁月慢慢远去。云聚云散，潮起潮落。再回首，往事却已随风而去，了无痕迹，最后，还剩下些许淡淡的忧伤和回忆。<a title="收起" href="javascript:shangxiClose(3568)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx3568" href="javascript:dingsx('3568','http://so.gushiwen.org/view.aspx?id=48641')">有用(22)</a><a id="paisx3568" style=" margin-left:10px;" href="javascript:paisx('3568','http://so.gushiwen.org/view.aspx?id=48641')">没用(6)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div id="shangxi3567" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(3567)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　此词以往日之“歌韵琤琮”、“舞腰乱旋”的热烈场面，对照当日之孤独寂寞，上下片对比强烈，思念之情自然流露出来。全词采用前后互见的手法，有明写，有暗示，有详笔，有略笔，写得跌宕有致，音调谐婉，意韵深长。</p>
<p>　　首句“池塘水绿风微暖”中的“水绿”、“风暖”两个细节暗示出时令为春天，好风轻吹，池水碧绿。这一句是通过眼观身受，暗示词人当时正漫步园中，这眼前景又仿佛过去的情景，所以引起“记得”以下的叙写。此句将“风”与“水”联一起，又隐隐形成风吹水动的迷人画面，同时又由池水的波动暗示着情绪的波动，可谓蕴含丰富。</p>
<p>　　“记得”以下词人写了一个回忆中春日赏花宴会上歌舞作
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(3567)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan3567" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　此词以往日之“歌韵琤琮”、“舞腰乱旋”的热烈场面，对照当日之孤独寂寞，上下片对比强烈，思念之情自然流露出来。全词采用前后互见的手法，有明写，有暗示，有详笔，有略笔，写得跌宕有致，音调谐婉，意韵深长。</p>
<p>　　首句“池塘水绿风微暖”中的“水绿”、“风暖”两个细节暗示出时令为春天，好风轻吹，池水碧绿。这一句是通过眼观身受，暗示词人当时正漫步园中，这眼前景又仿佛过去的情景，所以引起“记得”以下的叙写。此句将“风”与“水”联一起，又隐隐形成风吹水动的迷人画面，同时又由池水的波动暗示着情绪的波动，可谓蕴含丰富。</p>
<p>　　“记得”以下词人写了一个回忆中春日赏花宴会上歌舞作乐的片断。首先以详笔突出了当时宴乐中最生动最关情的场面：“记得玉真初见面。”“玉真”即绝色女子之代称。紧接着“重头歌韵响琤琮，入破舞腰红乱旋。”写这位女子歌舞之迷人。这是此词中脍炙人口的工丽俊语。上下句式音韵完全相同名“重头”，“重头”讲究回环与复叠，故“歌韵”尤为动人心弦。唐宋大曲末一大段称“破”，“入破”即“破”的第一遍。演奏至此时，歌舞并作，以舞为主，节拍急促，故有“舞腰红乱旋”的描写。以“响琤琮”写听觉感受，以“红乱旋”写视觉感受，这一联写歌舞情态，虽未著一字评语，却赞美之意顿出。</p>
<p>　　下片第一句“玉钩阑下香阶畔”，点明一个处所，大约是当时歌舞宴乐之地。故此句与上片若断实联。“醉后不知斜日晚”，作乐竟日，毕竟到了宴散的时候，这句仍写当筵情事。同时，黄昏斜日又象征人生晚景。所以，此句又关当时及往昔，这样就为最后抒发感慨作了铺垫。</p>
<p>　　张宗橚《词林纪事》中说：“东坡<a href="http://so.gushiwen.org/view_48641.aspx">诗</a>：‘樽前点检几人非’，与此词结句同意。往事关心，人生如梦，每读一遍，不禁惘然。”的确，此词结句“当时共我赏花人，点检如今无一半”，留给读者的回味和思索是深长的。<a title="收起" href="javascript:shangxiClose(3567)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx3567" href="javascript:dingsx('3567','http://so.gushiwen.org/view.aspx?id=48641')">有用(15)</a><a id="paisx3567" style=" margin-left:10px;" href="javascript:paisx('3567','http://so.gushiwen.org/view.aspx?id=48641')">没用(5)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">创作背景<span style="display:none;">34013</span></h2>
　　据考，宋仁宗皇祐二年（1050）<a href="http://so.gushiwen.org/author_432.aspx">晏殊</a>赴永兴军（今陕西长安）任职，<a href="http://so.gushiwen.org/author_587.aspx">张先</a>随其为通判。故晏殊所写这位歌舞妓，当为张先《醉垂鞭》所写的“初相见”的那位女子。
</div>
<div class="dingpai">
<a id="dingsx34013" href="javascript:dingsx('34013','http://so.gushiwen.org/view.aspx?id=48641')">有用(2)</a><a id="paisx34013" style=" margin-left:10px;" href="javascript:paisx('34013','http://so.gushiwen.org/view.aspx?id=48641')">没用(1)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">江天．《中国才子文化集成》．北京：新世界出版社，1998：402</span>
</div>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor432">晏殊【y&#224;n shū】（991-1055）字同叔，著名词人、诗人、散文家，北宋抚州府临川城人（今江西进贤县文港镇沙河人，位于香楠峰下，其父为抚州府手力节级），是当时的抚州籍第一个宰相。晏殊与其第七子晏几道（1037-1110），在当时北宋词坛上，被称为“大晏”和“小晏”。http://so.gushiwen.org/author_432.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_432.aspx"><img src="http://img.gushiwen.org/authorImg/yanshu.jpg" width="105" height="150" alt="晏殊"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_432.aspx"><b>晏殊</b></a></p>
<p style=" margin:0px;">晏殊【y&#224;n shū】（991-1055）字同叔，著名词人、诗人、散文家，北宋抚州府临川城人（今江西进贤县文港镇沙河人，位于香楠峰下，其父为抚州府手力节级），是当时的抚州籍第一个宰相。晏殊与其第七子晏几道（1037-1110），在当时北宋词坛上，被称为“大晏”和“小晏”。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=432&from=http://so.gushiwen.org/view.aspx?id=48641"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(432)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('432','http://m.gushiwen.org/author_432.aspx')" onmouseout="outweixinAuthor(432)"><img id="weixinAuthorImg432" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor432" href="javascript:goodAuthorNew('432','http://so.gushiwen.org/view.aspx?id=48641',466)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;466</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor432" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare48203">碧云天，黄叶地。秋色连波，波上寒烟翠。山映斜阳天接水。芳草无情，更在斜阳外。黯乡魂，追旅思。夜夜除非，好梦留人睡。明月楼高休独倚。酒入愁肠，化作相思泪。(留人睡 一作：留人醉)——宋代·范仲淹《苏幕遮·怀旧》http://so.gushiwen.org/view_48203.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(48203)" id="btnShangxi48203"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(48203)" id="btnZhushi48203"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(48203)" id="btnYiwen48203" />
<script type="text/javascript">
                        document.getElementById("btnShangxi48203").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi48203").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen48203").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_48203.aspx"><b>苏幕遮·怀旧</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%8c%83%e4%bb%b2%e6%b7%b9">范仲淹</a></p>
<div class="contson" id="contson48203">
碧云天，黄叶地。秋色连波，波上寒烟翠。山映斜阳天接水。芳草无情，更在斜阳外。<br />黯乡魂，追旅思。夜夜除非，好梦留人睡。明月楼高休独倚。酒入愁肠，化作相思泪。(留人睡 一作：留人醉)
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=48203&from=http://so.gushiwen.org/view.aspx?id=48641"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(48203)"><img id="copyimg48203" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('48203','http://m.gushiwen.org/view_48203.aspx')" onmouseout="outweixin(48203)"><img id="weixinimg48203" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood48203" href="javascript:goodNew('48203','http://so.gushiwen.org/view.aspx?id=48641',3522)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3522</span></a></div>
</div>
<div id="toolCopy48203" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin48203" style="background-color:aqua;"></div>
<div id="toolPlay48203" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e4%b8%89%e7%99%be%e9%a6%96">宋词三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e7%b2%be%e9%80%89">宋词精选</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%a9%89%e7%ba%a6">婉约</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%a7%8b%e5%a4%a9">秋天</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%80%e6%97%a7">怀旧</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%9d%e5%bf%b5">思念</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare34058">陵阳佳地昔年游，谢脁青山李白楼。唯有日斜溪上思，酒旗风影落春流。——唐代·陆龟蒙《怀宛陵旧游》http://so.gushiwen.org/view_34058.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(34058)" id="btnShangxi34058"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(34058)" id="btnZhushi34058"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(34058)" id="btnYiwen34058" />
<script type="text/javascript">
                        document.getElementById("btnShangxi34058").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi34058").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen34058").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_34058.aspx"><b>怀宛陵旧游</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%99%86%e9%be%9f%e8%92%99">陆龟蒙</a></p>
<div class="contson" id="contson34058">
陵阳佳地昔年游，谢脁青山李白楼。<br />唯有日斜溪上思，酒旗风影落春流。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=34058&from=http://so.gushiwen.org/view.aspx?id=48641"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(34058)"><img id="copyimg34058" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('34058','http://m.gushiwen.org/view_34058.aspx')" onmouseout="outweixin(34058)"><img id="weixinimg34058" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood34058" href="javascript:goodNew('34058','http://so.gushiwen.org/view.aspx?id=48641',14)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;14</span></a></div>
</div>
<div id="toolCopy34058" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin34058" style="background-color:aqua;"></div>
<div id="toolPlay34058" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%b1%b1%e6%b0%b4">山水</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%80%e6%97%a7">怀旧</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare56072">华鬓星星，惊壮志成虚，此身如寄。萧条病骥。向暗里、消尽当年豪气。梦断故国山川，隔重重烟水。身万里，旧社凋零，青门俊游谁记？尽道锦里繁华，叹官闲昼永，柴荆添睡。清愁自醉。念此际、付与何人心事。纵有楚柁吴樯，知何时东逝？空怅望，鲙美菰香，秋风又起。——宋代·陆游《双头莲·呈范至能待制》http://so.gushiwen.org/view_56072.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(56072)" id="btnShangxi56072"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(56072)" id="btnZhushi56072"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(56072)" id="btnYiwen56072" />
<script type="text/javascript">
                        document.getElementById("btnShangxi56072").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi56072").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen56072").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_56072.aspx"><b>双头莲·呈范至能待制</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e9%99%86%e6%b8%b8">陆游</a></p>
<div class="contson" id="contson56072">
华鬓星星，惊壮志成虚，此身如寄。萧条病骥。向暗里、消尽当年豪气。梦断故国山川，隔重重烟水。身万里，旧社凋零，青门俊游谁记？<br />尽道锦里繁华，叹官闲昼永，柴荆添睡。清愁自醉。念此际、付与何人心事。纵有楚柁吴樯，知何时东逝？空怅望，鲙美菰香，秋风又起。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=56072&from=http://so.gushiwen.org/view.aspx?id=48641"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(56072)"><img id="copyimg56072" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('56072','http://m.gushiwen.org/view_56072.aspx')" onmouseout="outweixin(56072)"><img id="weixinimg56072" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood56072" href="javascript:goodNew('56072','http://so.gushiwen.org/view.aspx?id=48641',40)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;40</span></a></div>
</div>
<div id="toolCopy56072" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin56072" style="background-color:aqua;"></div>
<div id="toolPlay56072" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e6%80%80%e6%97%a7">怀旧</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%9d%e4%b9%a1">思乡</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1438.aspx">恋树湿花飞不起，愁无比，和春付与东流水。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5569.aspx">燕子飞来窥画栋，玉钩垂下帘旌。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
