
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
踏莎行·细草愁烟原文、翻译及赏析_晏殊_古诗文网
</title>
<meta name="description" content="细草愁烟，幽花怯露。凭阑总是销魂处。日高深院静无人，时时海燕双飞去。带缓罗衣，香残蕙炷。天长不禁迢迢路。垂杨只解惹春风，何曾系得行人住。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_48661.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_48661.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare48661">细草愁烟，幽花怯露。凭阑总是销魂处。日高深院静无人，时时海燕双飞去。带缓罗衣，香残蕙炷。天长不禁迢迢路。垂杨只解惹春风，何曾系得行人住。——宋代·晏殊《踏莎行·细草愁烟》http://so.gushiwen.org/view_48661.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(48661)" id="btnShangxi48661"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(48661)" id="btnZhushi48661"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(48661)" id="btnYiwen48661" />
<script type="text/javascript">
                        document.getElementById("btnShangxi48661").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi48661").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen48661").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">踏莎行·细草愁烟</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_432.aspx">晏殊</a> </p>
<div class="contson" id="contson48661">
细草愁烟，幽花怯露。凭阑总是销魂处。日高深院静无人，时时海燕双飞去。<br />带缓罗衣，香残蕙炷。天长不禁迢迢路。垂杨只解惹春风，何曾系得行人住。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=48661&from=http://so.gushiwen.org/view.aspx?id=48661"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(48661)"><img id="copyimg48661" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('48661','http://m.gushiwen.org/view_48661.aspx')" onmouseout="outweixin(48661)"><img id="weixinimg48661" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=48661"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=1064602932"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood48661" href="javascript:goodNew('48661','http://so.gushiwen.org/view.aspx?id=48661',12)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;12</span></a></div>
</div>
<div class="toolerweima" id="weixin48661" style="background-color:aqua;"></div>
<div id="toolPlay48661" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e6%98%a5%e5%a4%a9">春天</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%8a%92%e6%83%85">抒情</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%a6%bb%e6%84%81">离愁</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%9d%e5%bf%b5">思念</a>
</div>
</div>
<div id="fanyi41039" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="fanyiShow(41039)"></div>
<h2 style="margin-bottom:10px;font-weight:bold; font-size:16px;">译文及注释</h2>
<p>译文<br />纤细的小草在风中飘动好像一缕缕轻烟惹人发愁，独自开放的花朵害怕露珠的打扰，倚在栏杆上总会想起一些让人难忘的往事。太阳高高的照在院子里，院子却静静地没有一个人居住，只看到时不时的有一些海燕双双飞来飞去。<br />轻轻缓一下罗衣上的锦带，香气还残留在用蕙点燃的火炷上，那条路是不是跟天一样的长。垂下的杨柳只能够惹得住春风眷顾罢了，什么时候才能留得下一些行人在这里稍停片刻呢！</p>
<p>注释<br />⑴怯：来描写花晨露中的感受。<br />⑵缓：缓带，古代一种衣服。<br />⑶蕙：香草。<br />⑶炷：燃烧。<br />⑹解：古同“懈”，松弛，懈怠。</p>
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:fanyiShow(41039)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="fanyiquan41039" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">译文及注释</h2>
<p><strong>译文<br /></strong>纤细的小草在风中飘动好像一缕缕轻烟惹人发愁，独自开放的花朵害怕露珠的打扰，倚在栏杆上总会想起一些让人难忘的往事。太阳高高的照在院子里，院子却静静地没有一个人居住，只看到时不时的有一些海燕双双飞来飞去。<br />轻轻缓一下罗衣上的锦带，香气还残留在用蕙点燃的火炷上，那条路是不是跟天一样的长。垂下的杨柳只能够惹得住春风眷顾罢了，什么时候才能留得下一些行人在这里稍停片刻呢！</p>
<p><strong>注释<br /></strong>⑴怯：来描写花晨露中的感受。<br />⑵缓：缓带，古代一种衣服。<br />⑶蕙：香草。<br />⑶炷：燃烧。<br />⑹解：古同“懈”，松弛，懈怠。<a title="收起" href="javascript:fanyiClose(41039)">▲</a></p>
</div>
<div class="dingpai">
<a id="ding41039" href="javascript:ding('41039','http://so.gushiwen.org/view.aspx?id=48661')">有用(15)</a><a id="pai41039" style=" margin-left:10px;" href="javascript:pai('41039','http://so.gushiwen.org/view.aspx?id=48661')">没用(7)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">唐圭璋 、钟振振．《宋词鉴赏辞典》：上海辞书出版社，2005年1月1日：201-202</span>
</div>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">2、</span>
<span style="width:610px; float:left;">唐圭璋．《全宋词》增订简体本：中华书局，1999年1月1日：95</span>
</div>
</div>
</div>
<div id="shangxi28314" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(28314)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　此词以凄婉温润的笔调，抒发伤春情怀的同时，流露出对时光年华流逝的深切慨叹和惋惜，深微幽隐。</p>
<p>　　起笔“细草愁烟，幽花怯露”，写的是：小草上的烟霭迷蒙，花蕊上的露珠微颤。这两句表面看来都是写外的景象，但内含的却是极锐敏的感受。“愁”字和“怯”二字，表现了作者极细腻的情思，且与细密的对偶形式完美地结合为一体。那细草烟霭之中仿佛是一种忧愁的神态，那幽花露水之中仿佛有一种战惊的感觉。用“愁”来表达烟霭中的感受，用“怯”来描写花晨露中的感受，表面上说的是花和草的心情，实际上是通过草与花的人格化，来表明人的心情。</p>
<p>　　“凭栏总是销魂处”，收束前两个四字短句，“细草
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(28314)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan28314" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　此词以凄婉温润的笔调，抒发伤春情怀的同时，流露出对时光年华流逝的深切慨叹和惋惜，深微幽隐。</p>
<p>　　起笔“细草愁烟，幽花怯露”，写的是：小草上的烟霭迷蒙，花蕊上的露珠微颤。这两句表面看来都是写外的景象，但内含的却是极锐敏的感受。“愁”字和“怯”二字，表现了作者极细腻的情思，且与细密的对偶形式完美地结合为一体。那细草烟霭之中仿佛是一种忧愁的神态，那幽花露水之中仿佛有一种战惊的感觉。用“愁”来表达烟霭中的感受，用“怯”来描写花晨露中的感受，表面上说的是花和草的心情，实际上是通过草与花的人格化，来表明人的心情。</p>
<p>　　“凭栏总是销魂处”，收束前两个四字短句，“细草愁烟，幽花怯露”正是愁人靠栏干上所见到的景物。词人只因草上的丝丝烟霭，花上的点点露珠，就“消魂”，足见他情意之幽微深婉。“日高深院静无人，时时海燕双飞去”为上片结拍。前面由写景转而写人，这两句则是以环境的衬托，进一步写人。“静无人”是别无他人，唯有一个凭栏消魂的词人。“日高深院”之静，衬托着人的寂寥。“海燕双飞”反衬出人的孤独。“时时海燕双飞去”意为：海燕是双双飞去了，却给孤独的人留下了一缕绵绵无尽的情思。</p>
<p>　　过片“带缓罗衣，香残蕙炷”，由上片的室外转向室内，仍写人。这里的“带缓罗衣”，以衣服宽大写人的消瘦，暗示着离别之苦。“香残蕙炷”之“蕙”是蕙香，一种以蕙草为香料制成的熏香，古代女子室内常用。“残”即一段段烧残。“香残蕙炷”写室内点的蕙香，一段段烧成残灰，又暗示着室内之人心绪的黯淡。以香炉里烧成一段一段的篆字形熏香的残灰，比拟自己内心千回百转的愁肠已然断尽，比拟自己情绪的冷落哀伤，也是古<a href="http://so.gushiwen.org/view_48661.aspx">诗</a>词中常用的意象。但作者这里只是客观地写出“带缓罗衣，香残蕙炷”，更见其含蓄。唯其不直说出来，才不会受个别情事的局限，才能给人无限深远的想象与联想。</p>
<p>　　接着“天长不禁迢迢路”一句为上二句作结，两个对偶的双式短句紧接一个长句，严密而完整。“不禁”是不能阻拦。“天长”与“迢迢路”，结合得很好，天长路远，这是无论如何也难以阻拦的。“不禁”二字，传达出一种凡事都无法挽回的哀伤，紧接“带缓罗衣”的思念与“香残蕙炷”的销磨之后，更增加了对于已失落者的无可奈何。结句“垂杨只能惹春风，何曾系得行人住”以感叹的口吻出之：杨柳柔条随风摆动，婀娜多姿，这多情、缠绵的垂柳，不过是那里牵惹春风罢了，它哪一根柔条能把那要走的人留住？哪一根柔条又能把那消逝的美好往事挽回？这两句中寄托有极深远的一片怀思怅惘之情，象征着对整个人生的的深刻感悟。<a title="收起" href="javascript:shangxiClose(28314)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx28314" href="javascript:dingsx('28314','http://so.gushiwen.org/view.aspx?id=48661')">有用(13)</a><a id="paisx28314" style=" margin-left:10px;" href="javascript:paisx('28314','http://so.gushiwen.org/view.aspx?id=48661')">没用(2)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">顾青．《唐诗三百首》（名家集评本）：中华书局，2005年4月21日：218-219</span>
</div>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">创作背景<span style="display:none;">28313</span></h2>
　　这首<a href="http://so.gushiwen.org/view_48661.aspx">诗</a>见于<a href="http://so.gushiwen.org/author_432.aspx">晏殊</a>《全宋词》，北宋时期，天圣五年（1027），以刑部侍郎贬知宣州，后改知应天府。在此期间，他极重视书院的发展，大力扶持应天府书院，力邀<a href="http://so.gushiwen.org/author_510.aspx">范仲淹</a>到书院讲学，培养了大批人才，该书院又称“睢阳书院”。这是自五代以来，学校屡遭禁废后，由晏殊开创大办教育之先河。庆历三年在宰相任上时，又与枢密副使范仲淹一起，倡导州、县立学和改革教学内容，官学设教授。自此，京师至郡县，都设有官学。形成一种广兴文学的浪潮，这就是有名的“庆历兴学”。晏殊临春之季不禁有感而发，以物抒情，感叹时光的流逝。
</div>
<div class="dingpai">
<a id="dingsx28313" href="javascript:dingsx('28313','http://so.gushiwen.org/view.aspx?id=48661')">有用(2)</a><a id="paisx28313" style=" margin-left:10px;" href="javascript:paisx('28313','http://so.gushiwen.org/view.aspx?id=48661')">没用(0)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">孙望 常国武主编．《宋代文学史 》（上册）：人民文学出版社，1996年 ：第109—110页</span>
</div>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor432">晏殊【y&#224;n shū】（991-1055）字同叔，著名词人、诗人、散文家，北宋抚州府临川城人（今江西进贤县文港镇沙河人，位于香楠峰下，其父为抚州府手力节级），是当时的抚州籍第一个宰相。晏殊与其第七子晏几道（1037-1110），在当时北宋词坛上，被称为“大晏”和“小晏”。http://so.gushiwen.org/author_432.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_432.aspx"><img src="http://img.gushiwen.org/authorImg/yanshu.jpg" width="105" height="150" alt="晏殊"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_432.aspx"><b>晏殊</b></a></p>
<p style=" margin:0px;">晏殊【y&#224;n shū】（991-1055）字同叔，著名词人、诗人、散文家，北宋抚州府临川城人（今江西进贤县文港镇沙河人，位于香楠峰下，其父为抚州府手力节级），是当时的抚州籍第一个宰相。晏殊与其第七子晏几道（1037-1110），在当时北宋词坛上，被称为“大晏”和“小晏”。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=432&from=http://so.gushiwen.org/view.aspx?id=48661"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(432)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('432','http://m.gushiwen.org/author_432.aspx')" onmouseout="outweixinAuthor(432)"><img id="weixinAuthorImg432" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor432" href="javascript:goodAuthorNew('432','http://so.gushiwen.org/view.aspx?id=48661',466)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;466</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor432" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare48397">繁红嫩翠。艳阳景，妆点神州明媚。是处楼台，朱门院落，弦管新声腾沸。恣游人、无限驰骤，娇马车如水。竞寻芳选胜，归来向晚，起通衢近远，香尘细细。太平世。少年时，忍把韶光轻弃。况有红妆，楚腰越艳，一笑千金何啻。向尊前、舞袖飘雪，歌响行云止。愿长绳、且把飞乌系。任好从容痛饮，谁能惜醉。——宋代·柳永《长寿乐·繁红嫩翠》http://so.gushiwen.org/view_48397.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(48397)" id="btnShangxi48397"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(48397)" id="btnZhushi48397"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(48397)" id="btnYiwen48397" />
<script type="text/javascript">
                        document.getElementById("btnShangxi48397").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi48397").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen48397").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_48397.aspx"><b>长寿乐·繁红嫩翠</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%9f%b3%e6%b0%b8">柳永</a></p>
<div class="contson" id="contson48397">
繁红嫩翠。艳阳景，妆点神州明媚。是处楼台，朱门院落，弦管新声腾沸。恣游人、无限驰骤，娇马车如水。竞寻芳选胜，归来向晚，起通衢近远，香尘细细。<br />太平世。少年时，忍把韶光轻弃。况有红妆，楚腰越艳，一笑千金何啻。向尊前、舞袖飘雪，歌响行云止。愿长绳、且把飞乌系。任好从容痛饮，谁能惜醉。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=48397&from=http://so.gushiwen.org/view.aspx?id=48661"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(48397)"><img id="copyimg48397" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('48397','http://m.gushiwen.org/view_48397.aspx')" onmouseout="outweixin(48397)"><img id="weixinimg48397" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood48397" href="javascript:goodNew('48397','http://so.gushiwen.org/view.aspx?id=48661',13)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;13</span></a></div>
</div>
<div id="toolCopy48397" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin48397" style="background-color:aqua;"></div>
<div id="toolPlay48397" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e6%98%a5%e5%a4%a9">春天</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%87%ba%e6%b8%b8">出游</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%94%9f%e6%b4%bb">生活</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare22979">低花树映小妆楼，春入眉心两点愁。 斜倚栏干背鹦鹉，思量何事不回头。——唐代·白居易《春词》http://so.gushiwen.org/view_22979.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(22979)" id="btnShangxi22979"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(22979)" id="btnZhushi22979"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(22979)" id="btnYiwen22979" />
<script type="text/javascript">
                        document.getElementById("btnShangxi22979").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_22979.aspx"><b>春词</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e7%99%bd%e5%b1%85%e6%98%93">白居易</a></p>
<div class="contson" id="contson22979">
低花树映小妆楼，春入眉心两点愁。 <br />斜倚栏干背鹦鹉，思量何事不回头。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=22979&from=http://so.gushiwen.org/view.aspx?id=48661"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(22979)"><img id="copyimg22979" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('22979','http://m.gushiwen.org/view_22979.aspx')" onmouseout="outweixin(22979)"><img id="weixinimg22979" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood22979" href="javascript:goodNew('22979','http://so.gushiwen.org/view.aspx?id=48661',63)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;63</span></a></div>
</div>
<div id="toolCopy22979" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin22979" style="background-color:aqua;"></div>
<div id="toolPlay22979" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e6%98%a5%e5%a4%a9">春天</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%a5%b3%e5%ad%90">女子</a>
<span>，</span><a href="/type.aspx?p=1&t=%e9%97%ba%e6%80%a8">闺怨</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare59818">不剪春衫愁意态。过收灯、有些寒在。小雨空帘，无人深巷，已早杏花先卖。白发潘郎宽沈带。怕看山、忆他眉黛。草色拖裙，烟光惹鬓，常记故园挑菜。——宋代·史达祖《夜行船·正月十八日闻卖杏花有感》http://so.gushiwen.org/view_59818.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(59818)" id="btnShangxi59818"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(59818)" id="btnZhushi59818"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(59818)" id="btnYiwen59818" />
<script type="text/javascript">
                        document.getElementById("btnShangxi59818").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi59818").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen59818").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_59818.aspx"><b>夜行船·正月十八日闻卖杏花有感</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%8f%b2%e8%be%be%e7%a5%96">史达祖</a></p>
<div class="contson" id="contson59818">
不剪春衫愁意态。过收灯、有些寒在。小雨空帘，无人深巷，已早杏花先卖。<br />白发潘郎宽沈带。怕看山、忆他眉黛。草色拖裙，烟光惹鬓，常记故园挑菜。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=59818&from=http://so.gushiwen.org/view.aspx?id=48661"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(59818)"><img id="copyimg59818" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('59818','http://m.gushiwen.org/view_59818.aspx')" onmouseout="outweixin(59818)"><img id="weixinimg59818" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood59818" href="javascript:goodNew('59818','http://so.gushiwen.org/view.aspx?id=48661',11)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;11</span></a></div>
</div>
<div id="toolCopy59818" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin59818" style="background-color:aqua;"></div>
<div id="toolPlay59818" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%a9%89%e7%ba%a6">婉约</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%98%a5%e5%a4%a9">春天</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%80%e4%ba%ba">怀人</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4810.aspx">记得去年今夕，酾酒溪亭，淡月云来去。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2158.aspx">宠锡从仙禁，光华出汉京。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
