
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
蝶恋花·帘幕风轻双语燕原文、翻译及赏析_晏殊_古诗文网
</title>
<meta name="description" content="帘幕风轻双语燕。午醉醒来，柳絮飞撩乱。心事一春犹未见。余花落尽青苔院。百尺朱楼闲倚遍。薄雨浓云，抵死遮人面。消息未知归早晚。斜阳只送平波远。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_48690.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_48690.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare48690">帘幕风轻双语燕。午醉醒来，柳絮飞撩乱。心事一春犹未见。余花落尽青苔院。百尺朱楼闲倚遍。薄雨浓云，抵死遮人面。消息未知归早晚。斜阳只送平波远。——宋代·晏殊《蝶恋花·帘幕风轻双语燕》http://so.gushiwen.org/view_48690.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(48690)" id="btnShangxi48690"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(48690)" id="btnZhushi48690"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(48690)" id="btnYiwen48690" />
<script type="text/javascript">
                        document.getElementById("btnShangxi48690").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi48690").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen48690").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">蝶恋花·帘幕风轻双语燕</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_432.aspx">晏殊</a> </p>
<div class="contson" id="contson48690">
帘幕风轻双语燕。午醉醒来，柳絮飞撩乱。心事一春犹未见。余花落尽青苔院。<br />百尺朱楼闲倚遍。薄雨浓云，抵死遮人面。消息未知归早晚。斜阳只送平波远。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=48690&from=http://so.gushiwen.org/view.aspx?id=48690"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(48690)"><img id="copyimg48690" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('48690','http://m.gushiwen.org/view_48690.aspx')" onmouseout="outweixin(48690)"><img id="weixinimg48690" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=48690"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=3916397839"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood48690" href="javascript:goodNew('48690','http://so.gushiwen.org/view.aspx?id=48690',10)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;10</span></a></div>
</div>
<div class="toolerweima" id="weixin48690" style="background-color:aqua;"></div>
<div id="toolPlay48690" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e6%98%a5%e5%a4%a9">春天</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%8a%92%e6%83%85">抒情</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%ad%a4%e5%af%82">孤寂</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%83%86%e6%80%85">惆怅</a>
</div>
</div>
<div id="fanyi41038" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="fanyiShow(41038)"></div>
<h2 style="margin-bottom:10px;font-weight:bold; font-size:16px;">译文及注释</h2>
<p>译文<br />帘幕在微风的吹拂下，款款摆动，燕子轻语呢喃，像是交流着情话。酒醉醒来，柳絮随风纷飞凌乱。整整一个春天，心里所想的情人至今仍未见。长满青苔的庭院，连晚开的花儿都凋落殆尽了。<br />在百尺高楼之上，将所有的栏杆倚遍，但那细雨和浓云，总是将视线遮拦。还不知道情人早晚归来的确切消息，只能望着斜阳映照水流，流向远方。</p>
<p>注释<br />①撩乱：纷乱，同“缭乱”。皎然《古别离》：“使我归梦兮撩乱。”<br />②心事：心中所思虑或期待的事。谢眺《新亭清别范零陵云诗》：“心事俱已矣，江上徒离忧。”<br />③犹：还，仍。<br />④百尺朱楼：朱楼即红楼，富家女子所
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:fanyiShow(41038)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="fanyiquan41038" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">译文及注释</h2>
<p><strong>译文<br /></strong>帘幕在微风的吹拂下，款款摆动，燕子轻语呢喃，像是交流着情话。酒醉醒来，柳絮随风纷飞凌乱。整整一个春天，心里所想的情人至今仍未见。长满青苔的庭院，连晚开的花儿都凋落殆尽了。<br />在百尺高楼之上，将所有的栏杆倚遍，但那细雨和浓云，总是将视线遮拦。还不知道情人早晚归来的确切消息，只能望着斜阳映照水流，流向远方。</p>
<p><strong>注释<br /></strong>①撩乱：纷乱，同“缭乱”。<a href="http://so.gushiwen.org/author_392.aspx">皎然</a>《古别离》：“使我归梦兮撩乱。”<br />②心事：心中所思虑或期待的事。谢眺《新亭清别范零陵云<a href="http://so.gushiwen.org/view_48690.aspx">诗</a>》：“心事俱已矣，江上徒离忧。”<br />③犹：还，仍。<br />④百尺朱楼：朱楼即红楼，富家女子所居，“百尺”形如其高。<br />⑤倚（yǐ）：靠。<br />⑥抵死：总是，老是。<br />⑦平波：平缓而广漠的水流。<a title="收起" href="javascript:fanyiClose(41038)">▲</a></p>
</div>
<div class="dingpai">
<a id="ding41038" href="javascript:ding('41038','http://so.gushiwen.org/view.aspx?id=48690')">有用(3)</a><a id="pai41038" style=" margin-left:10px;" href="javascript:pai('41038','http://so.gushiwen.org/view.aspx?id=48690')">没用(1)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">林兆祥．唐宋花间廿四家词赏析．郑州：中州古籍出版社，2011.06：571-572</span>
</div>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">2、</span>
<span style="width:610px; float:left;">周世泉著．人文学者论坛 第2辑 西窗赏评．南昌：百花洲文艺出版社，2009.05：149-150</span>
</div>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">3、</span>
<span style="width:610px; float:left;">刘石主编．宋词鉴赏大辞典．北京：中华书局，2011.08：96-97</span>
</div>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">4、</span>
<span style="width:610px; float:left;">诸葛忆兵．晏殊晏几道集．南京：凤凰出版社，2013.03：80</span>
</div>
</div>
</div>
<div id="shangxi28312" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(28312)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　这是一首伤春怀远之作。</p>
<p>　　上片主要是写主人公伤春怀人的悲愁和由此引发的纷乱心绪。开篇三句写闺妇触目所见之景，以景起情：晚春的和风轻轻地吹动着帘幕，燕子双双在檐廊的巢上啾啾话语。如此的良辰美景，愈加勾起了对远方恋人的深切怀念，以至主人公借酒浇愁。然而，愁而饮，饮而醉，碎而睡，一觉醒来，只见庭院的柳絮随风舞。“双语燕”在手法上用的是反衬，即以乐景写哀情，以成对燕儿的亲切话语，对照闺妇块然独处的孤独和凄冷。一个“醉”字，展示了主人公忧愁之深。两句合起来，写出了主人公所处的季节（晚春）、时间（午后）、地点（闺房）和眼前的景物（燕、柳），描绘出一幅暮春时节的风物图画，明里写景
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(28312)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan28312" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　这是一首伤春怀远之作。</p>
<p>　　上片主要是写主人公伤春怀人的悲愁和由此引发的纷乱心绪。开篇三句写闺妇触目所见之景，以景起情：晚春的和风轻轻地吹动着帘幕，燕子双双在檐廊的巢上啾啾话语。如此的良辰美景，愈加勾起了对远方恋人的深切怀念，以至主人公借酒浇愁。然而，愁而饮，饮而醉，碎而睡，一觉醒来，只见庭院的柳絮随风舞。“双语燕”在手法上用的是反衬，即以乐景写哀情，以成对燕儿的亲切话语，对照闺妇块然独处的孤独和凄冷。一个“醉”字，展示了主人公忧愁之深。两句合起来，写出了主人公所处的季节（晚春）、时间（午后）、地点（闺房）和眼前的景物（燕、柳），描绘出一幅暮春时节的风物图画，明里写景，暗里抒情，写物亦人。“心事”一句，明点出闺妇的心态。整整一个春天，在孤单、愁寂中度过，心里想的是什么，自己也说不清。“犹未见”与柳絮的“飞撩乱”相呼应，用的是陪衬，即以哀景写哀情，沸沸扬扬的柳絮在风中飘飞与闺妇思念情人的纷乱心绪是极相吻合的。“余花”句，进一步点染了暮春时节的浓重氛围。长满青苔的庭院，连晚开的花儿都凋落殆尽了。然而，花落人不在，燕语人不归，春老红残，香消色减，青春飞逝，衬托出主人公的悲伤。整个上片，以景语为主，景语与情语互见，物象与心绪交融，反衬与陪衬杂用。特别是最后一句，写得情味隽永，深曲委婉，具有丰富的情感内涵。</p>
<p>　　下片通过对景的拓展来达到对情的深化，进一步从视野的被阻隔来表现相思之无极。“过片”三句，写闺妇为相思所折磨，禁不住登楼望远，以从“天际识归舟”中求得一丝半缕精神上的安慰。可是，展现在她面前的是如烟的春雨和布满浓云的灰黯的天空，眼前的一切都被严严实实地遮盖了，什么也看不见。“百尺”句，勾勒出闺妇倚楼怅望的痴情形象，朱楼而“百尺”，状楼之高，望之远。“闲倚遍”，言登楼之频繁，盼归之殷切，怀人之情深，惆怅之浓重。“薄雨”句，再次点明季节的特征。“抵死”句，说视线被阻，世事多艰，难如人意。主人公不能“望尽天涯路”，而是“抵死遮人面”，望而不能，盼而难求，足见“天地终无情”，其愁苦之深可想而知。由于主人公盼归不能，音信又断，所以就只能是“消息未知归早晚”，游人什么时候回来，无处得知。末句“斜阳只送平波远”，写得极为疏淡、含蓄，具有丰富的表现层次：一说闺妇登楼倚望从薄雨之日到斜阳之时，景观的变换暗示盼归持久；二说游子取水路而归；三说闺妇等待心爱之人而每每落空，终究失望；四说闺妇盼归的离情愁绪如悠悠江水，“无穷无尽”、“欲断更流”。</p>
<p>　　本词全篇写得语浅情深，词约意浓，反映了封建社会痴情男女悲欢聚散的人生苦难。全词通过暮春景象的描写，表现了闺妇对游子的殷殷思念之情和盼归不能的惆怅、幽怨的心绪。通篇写得淡雅、含蓄、和婉，体现了晏词的一贯风格。<a title="收起" href="javascript:shangxiClose(28312)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx28312" href="javascript:dingsx('28312','http://so.gushiwen.org/view.aspx?id=48690')">有用(2)</a><a id="paisx28312" style=" margin-left:10px;" href="javascript:paisx('28312','http://so.gushiwen.org/view.aspx?id=48690')">没用(0)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">周世泉著．人文学者论坛 第2辑 西窗赏评．南昌：百花洲文艺出版社，2009.05：149-150</span>
</div>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">创作背景<span style="display:none;">28311</span></h2>
<p>　　这首<a href="http://so.gushiwen.org/view_48690.aspx">诗</a>具体创作年代已不详。晚春的景象令词人惜暮春思远人，于是创作了这首伤春怀远的作品。</p>
<p>　　但也有记载这首词的作者是<a href="http://so.gushiwen.org/author_561.aspx">欧阳修</a>，“醉后”作“午后”，“余花”作“红英”，词的最后两句作“羌管不须吹别怨，无肠更为新声断”。作者是否为<a href="http://so.gushiwen.org/author_432.aspx">晏殊</a>，尚有疑问，学术界较支持作者为晏殊的说法。</p>
</div>
<div class="dingpai">
<a id="dingsx28311" href="javascript:dingsx('28311','http://so.gushiwen.org/view.aspx?id=48690')">有用(0)</a><a id="paisx28311" style=" margin-left:10px;" href="javascript:paisx('28311','http://so.gushiwen.org/view.aspx?id=48690')">没用(0)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">林兆祥．唐宋花间廿四家词赏析．郑州：中州古籍出版社，2011.06：571-572</span>
</div>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor432">晏殊【y&#224;n shū】（991-1055）字同叔，著名词人、诗人、散文家，北宋抚州府临川城人（今江西进贤县文港镇沙河人，位于香楠峰下，其父为抚州府手力节级），是当时的抚州籍第一个宰相。晏殊与其第七子晏几道（1037-1110），在当时北宋词坛上，被称为“大晏”和“小晏”。http://so.gushiwen.org/author_432.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_432.aspx"><img src="http://img.gushiwen.org/authorImg/yanshu.jpg" width="105" height="150" alt="晏殊"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_432.aspx"><b>晏殊</b></a></p>
<p style=" margin:0px;">晏殊【y&#224;n shū】（991-1055）字同叔，著名词人、诗人、散文家，北宋抚州府临川城人（今江西进贤县文港镇沙河人，位于香楠峰下，其父为抚州府手力节级），是当时的抚州籍第一个宰相。晏殊与其第七子晏几道（1037-1110），在当时北宋词坛上，被称为“大晏”和“小晏”。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=432&from=http://so.gushiwen.org/view.aspx?id=48690"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(432)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('432','http://m.gushiwen.org/author_432.aspx')" onmouseout="outweixinAuthor(432)"><img id="weixinAuthorImg432" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor432" href="javascript:goodAuthorNew('432','http://so.gushiwen.org/view.aspx?id=48690',466)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;466</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor432" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare3506">独有宦游人，偏惊物候新。云霞出海曙，梅柳渡江春。淑气催黄鸟，晴光转绿蘋。忽闻歌古调，归思欲沾巾。——唐代·杜审言《和晋陵陆丞早春游望》http://so.gushiwen.org/view_3506.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(3506)" id="btnShangxi3506"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(3506)" id="btnZhushi3506"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(3506)" id="btnYiwen3506" />
<script type="text/javascript">
                        document.getElementById("btnShangxi3506").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi3506").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen3506").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_3506.aspx"><b>和晋陵陆丞早春游望</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%9c%e5%ae%a1%e8%a8%80">杜审言</a></p>
<div class="contson" id="contson3506">
独有宦游人，偏惊物候新。<br />云霞出海曙，梅柳渡江春。<br />淑气催黄鸟，晴光转绿蘋。<br />忽闻歌古调，归思欲沾巾。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=3506&from=http://so.gushiwen.org/view.aspx?id=48690"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(3506)"><img id="copyimg3506" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('3506','http://m.gushiwen.org/view_3506.aspx')" onmouseout="outweixin(3506)"><img id="weixinimg3506" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood3506" href="javascript:goodNew('3506','http://so.gushiwen.org/view.aspx?id=48690',191)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;191</span></a></div>
</div>
<div id="toolCopy3506" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin3506" style="background-color:aqua;"></div>
<div id="toolPlay3506" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%94%90%e8%af%97%e4%b8%89%e7%99%be%e9%a6%96">唐诗三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%98%a5%e5%a4%a9">春天</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%9d%e4%b9%a1">思乡</a>
<span>，</span><a href="/type.aspx?p=1&t=%e4%bc%a4%e6%80%80">伤怀</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%92%8c%e8%af%97">和诗</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare48955">栏干十二独凭春，晴碧远连云。千里万里，二月三月，行色苦愁人。谢家池上，江淹浦畔，吟魄与离魂。那堪疏雨滴黄昏。更特地、忆王孙。——宋代·欧阳修《少年游·栏干十二独凭春》http://so.gushiwen.org/view_48955.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(48955)" id="btnShangxi48955"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(48955)" id="btnZhushi48955"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(48955)" id="btnYiwen48955" />
<script type="text/javascript">
                        document.getElementById("btnShangxi48955").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi48955").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen48955").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_48955.aspx"><b>少年游·栏干十二独凭春</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%ac%a7%e9%98%b3%e4%bf%ae">欧阳修</a></p>
<div class="contson" id="contson48955">
栏干十二独凭春，晴碧远连云。千里万里，二月三月，行色苦愁人。<br />谢家池上，江淹浦畔，吟魄与离魂。那堪疏雨滴黄昏。更特地、忆王孙。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=48955&from=http://so.gushiwen.org/view.aspx?id=48690"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(48955)"><img id="copyimg48955" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('48955','http://m.gushiwen.org/view_48955.aspx')" onmouseout="outweixin(48955)"><img id="weixinimg48955" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood48955" href="javascript:goodNew('48955','http://so.gushiwen.org/view.aspx?id=48690',33)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;33</span></a></div>
</div>
<div id="toolCopy48955" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin48955" style="background-color:aqua;"></div>
<div id="toolPlay48955" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e6%98%a5%e5%a4%a9">春天</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%92%8f%e7%89%a9">咏物</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%8a%92%e6%83%85">抒情</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%9b%b8%e6%80%9d">相思</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare23706">江南好，风景旧曾谙。日出江花红胜火，春来江水绿如蓝。能不忆江南？江南忆，最忆是杭州。山寺月中寻桂子，郡亭枕上看潮头。何日更重游！江南忆，其次忆吴宫。吴酒一杯春竹叶，吴娃双舞醉芙蓉。早晚复相逢！——唐代·白居易《忆江南词三首》http://so.gushiwen.org/view_23706.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(23706)" id="btnShangxi23706"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(23706)" id="btnZhushi23706"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(23706)" id="btnYiwen23706" />
<script type="text/javascript">
                        document.getElementById("btnShangxi23706").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi23706").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen23706").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_23706.aspx"><b>忆江南词三首</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e7%99%bd%e5%b1%85%e6%98%93">白居易</a></p>
<div class="contson" id="contson23706">
<p>江南好，风景旧曾谙。日出江花红胜火，春来江水绿如蓝。能不忆江南？</p>
<p>江南忆，最忆是杭州。山寺月中寻桂子，郡亭枕上看潮头。何日更重游！</p>
<p>江南忆，其次忆吴宫。吴酒一杯春竹叶，吴娃双舞醉芙蓉。早晚复相逢！</p>
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=23706&from=http://so.gushiwen.org/view.aspx?id=48690"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(23706)"><img id="copyimg23706" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('23706','http://m.gushiwen.org/view_23706.aspx')" onmouseout="outweixin(23706)"><img id="weixinimg23706" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood23706" href="javascript:goodNew('23706','http://so.gushiwen.org/view.aspx?id=48690',3762)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3762</span></a></div>
</div>
<div id="toolCopy23706" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin23706" style="background-color:aqua;"></div>
<div id="toolPlay23706" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e4%b9%90%e5%ba%9c">乐府</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%9c%b0%e5%90%8d">地名</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%98%a5%e5%a4%a9">春天</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_878.aspx">是别有人间，那边才见，光影东头。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5602.aspx">渡口双双飞白鸟，烟袅，芦花深处隐渔歌。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
