
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
南歌子·游赏原文、翻译及赏析_苏轼_古诗文网
</title>
<meta name="description" content="山与歌眉敛，波同醉眼流。游人都上十三楼。不羡竹西歌吹、古扬州。菰黍连昌歜，琼彝倒玉舟。谁家水调唱歌头。声绕碧山飞去、晚云留。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_49708.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_49708.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare49708">山与歌眉敛，波同醉眼流。游人都上十三楼。不羡竹西歌吹、古扬州。菰黍连昌歜，琼彝倒玉舟。谁家水调唱歌头。声绕碧山飞去、晚云留。——宋代·苏轼《南歌子·游赏》http://so.gushiwen.org/view_49708.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(49708)" id="btnShangxi49708"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(49708)" id="btnZhushi49708"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(49708)" id="btnYiwen49708" />
<script type="text/javascript">
                        document.getElementById("btnShangxi49708").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi49708").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen49708").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">南歌子·游赏</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_183.aspx">苏轼</a> </p>
<div class="contson" id="contson49708">
山与歌眉敛，波同醉眼流。游人都上十三楼。不羡竹西歌吹、古扬州。<br />菰黍连昌歜，琼彝倒玉舟。谁家水调唱歌头。声绕碧山飞去、晚云留。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=49708&from=http://so.gushiwen.org/view.aspx?id=49708"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(49708)"><img id="copyimg49708" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('49708','http://m.gushiwen.org/view_49708.aspx')" onmouseout="outweixin(49708)"><img id="weixinimg49708" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=49708"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=0027319245"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood49708" href="javascript:goodNew('49708','http://so.gushiwen.org/view.aspx?id=49708',48)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;48</span></a></div>
</div>
<div class="toolerweima" id="weixin49708" style="background-color:aqua;"></div>
<div id="toolPlay49708" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e7%ab%af%e5%8d%88%e8%8a%82">端午节</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%b8%b8%e8%b5%8f">游赏</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%99%af%e7%82%b9">景点</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%8a%92%e6%83%85">抒情</a>
</div>
</div>
<div id="fanyi45136" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="fanyiShow(45136)"></div>
<h2 style="margin-bottom:10px;font-weight:bold; font-size:16px;">译文及注释</h2>
<p>译文<br />山色与歌女黛眉浓聚一样绿，碧波就像人的朦胧醉眼一样流。人们都爱登上十三楼，不再羡慕竹西歌吹的古扬州。<br />菰米软糕菖蒲菜，玉壶向玉杯倾倒着美酒。不知谁家唱起水调歌头，歌声绕着青山飞去晚云又将它挽留。</p>
<p>注释<br />①南歌子：《南歌子》是词牌名称之一，又名《南柯子》、《恨春宵》等。<br />②游人：指游玩的人。出自苏轼《泛舟城南会者五人分韵赋诗得人皆苦炎字》：桥上游人夜未厌，共依水槛立风檐。<br />③十三楼：宋代杭州名胜。出自吴自牧《梦梁录》卷一二《西湖》：“大佛头石山后名十三间楼，乃东坡守杭日多游此，今为相严院矣。“<br />④竹西：扬州亭
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:fanyiShow(45136)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="fanyiquan45136" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">译文及注释</h2>
<p><strong>译文<br /></strong>山色与歌女黛眉浓聚一样绿，碧波就像人的朦胧醉眼一样流。人们都爱登上十三楼，不再羡慕竹西歌吹的古扬州。<br />菰米软糕菖蒲菜，玉壶向玉杯倾倒着美酒。不知谁家唱起水调歌头，歌声绕着青山飞去晚云又将它挽留。</p>
<p><strong>注释<br /></strong>①南歌子：《南歌子》是词牌名称之一，又名《南柯子》、《恨春宵》等。<br />②游人：指游玩的人。出自<a href="http://so.gushiwen.org/author_183.aspx">苏轼</a>《泛舟城南会者五人分韵赋<a href="http://so.gushiwen.org/view_49708.aspx">诗</a>得人皆苦炎字》：桥上游人夜未厌，共依水槛立风檐。<br />③十三楼：宋代杭州名胜。出自吴自牧《梦梁录》卷一二《西湖》：“大佛头石山后名十三间楼，乃东坡守杭日多游此，今为相严院矣。“<br />④竹西：扬州亭名。本句意谓杭州十三楼歌唱奏乐繁华，不必再羡慕前代扬州的竹西了。<br />⑤扬州：淮河以南、长江流域东南地区，《周礼》称东南曰扬州。<br />⑥菰黍（gūshǔ）：指粽子。菰，本指茭白，此指裹棕的菰叶。<br />⑦昌歜（chāngchù）：宋时以菖蒲嫩茎切碎加盐以佐餐，名昌歇。<br />⑧琼彝（yí）：玉制的盛酒器皿。<br />⑨玉舟：玉制的酒杯。出自苏轼《次韵赵景贶督两欧阳诗破陈酒戒》：“明当罚二子，已洗两玉舟。”<br />⑩水调唱歌头：即唱水调歌头。傅本注：“水调曲颇广，谓之歌头，岂非首章之一解乎？白乐天六幺水调家家唱。”<a title="收起" href="javascript:fanyiClose(45136)">▲</a></p>
</div>
<div class="dingpai">
<a id="ding45136" href="javascript:ding('45136','http://so.gushiwen.org/view.aspx?id=49708')">有用(12)</a><a id="pai45136" style=" margin-left:10px;" href="javascript:pai('45136','http://so.gushiwen.org/view.aspx?id=49708')">没用(5)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">郑竹青、周双利．《中华诗词经典》：学习出版社，2011年：第2407页</span>
</div>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">2、</span>
<span style="width:610px; float:left;">上官紫微．《宋词三百首》：中国纺织出版社，2014年：第68页</span>
</div>
</div>
</div>
<div id="shangxi4305" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(4305)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　这首词写的是杭州的游赏之乐，但并非写全杭州或全西湖，而是写宋时杭州名胜十三楼。然而，此词虽以写十三楼为中心，却也没有将这一名胜的风物作细致的刻画，而是运用写意的笔法，着意描绘听歌、饮酒等雅兴豪举，烘托出一种与自然同化的精神境界，给人一种飘然欲仙的愉悦之感；同时，对比手法的运用也为此词增色不少，词中十三楼的美色就是通过与竹西亭的对比而突现出来的，省去了很多笔墨，却增添了强烈的艺术效果。此外，移情手法的运用也不可小看。作者利用眉峰与远山、目光与水波的相似，赋予远山和水波以人的感情，创造出“山与歌眉敛，波同醉眼流”的迷人的艺术佳境。晚云为歌声而留步，自然也是一种移情，耐人品味。</p>
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(4305)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan4305" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　这首词写的是杭州的游赏之乐，但并非写全杭州或全西湖，而是写宋时杭州名胜十三楼。然而，此词虽以写十三楼为中心，却也没有将这一名胜的风物作细致的刻画，而是运用写意的笔法，着意描绘听歌、饮酒等雅兴豪举，烘托出一种与自然同化的精神境界，给人一种飘然欲仙的愉悦之感；同时，对比手法的运用也为此词增色不少，词中十三楼的美色就是通过与竹西亭的对比而突现出来的，省去了很多笔墨，却增添了强烈的艺术效果。此外，移情手法的运用也不可小看。作者利用眉峰与远山、目光与水波的相似，赋予远山和水波以人的感情，创造出“山与歌眉敛，波同醉眼流”的迷人的艺术佳境。晚云为歌声而留步，自然也是一种移情，耐人品味。</p>
<p>　　“山与歌眉敛，波同醉眼流”，是说作者与同伴面对旖旎的湖光山色，尽情听歌，开怀痛饮。歌女眉头黛色浓聚，就象远处苍翠的山峦；醉后眼波流动，就象湖中的滟滟水波。接着补叙一笔：“游人都上十三楼。”意即凡是来游西湖的人，没有不上十三楼的，此一动人场面就出现在十三楼上。为了写出十三楼的观览之胜，作者将古扬州的竹西亭拿来比衬：“不羡竹西歌吹古扬州。”这里说只要一上十三楼，就不会再羡慕古代扬州的竹西亭了，意即十三楼并不比竹西亭逊色。据《舆地纪胜》记载：“扬州竹西亭在北门外五里”，得名于<a href="http://so.gushiwen.org/author_211.aspx">杜牧</a>《题扬州禅智寺》的“谁知竹西路，歌吹是扬州”。竹西亭为唐时名胜，向为游人羡慕。</p>
<p>　　过片以后，极写自己和同伴于此间的游赏之乐。“菰黍连昌歜”，“菰黍”即粽子。“昌歜”为宋代一种食品。句意为他们宴会上食用的食品，材料普通而精致味美。“琼彝倒玉舟”，“彝”为贮酒器皿，“玉舟”即酒杯，句意为漂亮的酒壶，不断地往杯中倒酒。综上二句，意在表明他们游赏的目的不是为了口腹之欲，作烹龙炮凤的盛宴，而是贪恋湖山之美，追求精神上的愉快和满足。最后则以描写清歌曼唱满湖山作结：“谁家水调唱歌头，声绕碧山飞去、晚云留。”水调，相传为隋炀帝于汴渠开掘成功后所自制，唐时为大曲，凡大曲有歌头，水调歌头即裁截其歌头，另倚新声。此二句化用杜牧《扬州》“谁家唱水调，明月满扬州”，但更富声情。意思是不知谁家唱起了水调一曲，歌喉宛转，音调悠扬，情满湖山，最后飘绕着近处的碧山而去，而傍晚的云彩却不肯流动，仿佛是被歌声所吸引而留步。<a title="收起" href="javascript:shangxiClose(4305)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx4305" href="javascript:dingsx('4305','http://so.gushiwen.org/view.aspx?id=49708')">有用(66)</a><a id="paisx4305" style=" margin-left:10px;" href="javascript:paisx('4305','http://so.gushiwen.org/view.aspx?id=49708')">没用(27)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">创作背景<span style="display:none;">31808</span></h2>
　　公元1090年（元祐五年），词人到杭州担任知州。在此期间词人游山玩水。端午节时词人与他的友人游览了杭州名胜十三楼，为了记录自己的游玩过程以及感受，于是写下了这首词。
</div>
<div class="dingpai">
<a id="dingsx31808" href="javascript:dingsx('31808','http://so.gushiwen.org/view.aspx?id=49708')">有用(2)</a><a id="paisx31808" style=" margin-left:10px;" href="javascript:paisx('31808','http://so.gushiwen.org/view.aspx?id=49708')">没用(1)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">夏承焘等．《宋词鉴赏辞典》：上海辞书出版社，2013年：第397页</span>
</div>
</div>
</div>
<div id="shangxi31809" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(31809)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析二</h2>
<p>　　上阕以十三楼为主线，写词人欢饮和游人玩乐。起首“山与歌眉敛，波同醉眼流”写景状事，将楼边景物与游人之宴饮融为一体，极有趣味。作者采用移情手法，既写湖光山色之美妙，又暗含宴饮之欢乐。“不羡竹西歌吹古扬州”继续渲染盛况。作者写只要游人一登上十三楼，就不会再羡慕游览扬州竹西亭的唐人，虽未直接描写十三楼，其壮丽景观却呼之欲出。</p>
<p>　　下阕以“歌声”为主线，继续写游乐“菰黍连昌歇，琼彝倒玉舟”写宴饮的酒食，衬托宴席的欢乐氛围，写游人尽兴之趣，隐含在湖光山色里心神俱醉，放浪形骸之意。</p>
<p>　　“谁家水调唱歌头”，写在宴会上听人唱《水调歌头》曲。这歌声极其悠扬，“声绕碧山
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(31809)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan31809" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析二</h2>
<p>　　上阕以十三楼为主线，写词人欢饮和游人玩乐。起首“山与歌眉敛，波同醉眼流”写景状事，将楼边景物与游人之宴饮融为一体，极有趣味。作者采用移情手法，既写湖光山色之美妙，又暗含宴饮之欢乐。“不羡竹西歌吹古扬州”继续渲染盛况。作者写只要游人一登上十三楼，就不会再羡慕游览扬州竹西亭的唐人，虽未直接描写十三楼，其壮丽景观却呼之欲出。</p>
<p>　　下阕以“歌声”为主线，继续写游乐“菰黍连昌歇，琼彝倒玉舟”写宴饮的酒食，衬托宴席的欢乐氛围，写游人尽兴之趣，隐含在湖光山色里心神俱醉，放浪形骸之意。</p>
<p>　　“谁家水调唱歌头”，写在宴会上听人唱《水调歌头》曲。这歌声极其悠扬，“声绕碧山飞去晚云留”，在湖泊山峦之间缭绕不绝，就连傍晚的云霞都久久不肯散去，好像也被歌声吸引了一样。</p>
<p>　　“眉峰与山”、“眼波与水”互为依托、交相辉映，成就了“山与歌眉敛，波同醉眼流”的绝妙境界，富有<a href="http://so.gushiwen.org/view_49708.aspx">诗</a>情画意。该词中比喻、拟人、对比之手法处处皆在，却化于无形，全词通畅绝妙、浑然天成。</p>
<p>　　此词虽以写十三楼为中心，却也没有将这一名胜的风物作细致的刻画，而是运用写意的笔法，着意描绘听歌、饮酒等雅兴豪举，烘托出一种与自然同化的精神境界。<a title="收起" href="javascript:shangxiClose(31809)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx31809" href="javascript:dingsx('31809','http://so.gushiwen.org/view.aspx?id=49708')">有用(2)</a><a id="paisx31809" style=" margin-left:10px;" href="javascript:paisx('31809','http://so.gushiwen.org/view.aspx?id=49708')">没用(1)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">上官紫微．《宋词三百首》：中国纺织出版社，2014年：第68页</span>
</div>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor183">苏轼（1037－1101），北宋文学家、书画家、美食家。字子瞻，号东坡居士。汉族，四川人，葬于颍昌（今河南省平顶山市郏县）。一生仕途坎坷，学识渊博，天资极高，诗文书画皆精。其文汪洋恣肆，明白畅达，与欧阳修并称欧苏，为“唐宋八大家”之一；诗清新豪健，善用夸张、比喻，艺术表现独具风格，与黄庭坚并称苏黄；词开豪放一派，对后世有巨大影响，与辛弃疾并称苏辛；书法擅长行书、楷书，能自创新意，用笔丰腴跌宕，有天真烂漫之趣，与黄庭坚、米芾、蔡襄并称宋四家；画学文同，论画主张神似，提倡“士人画”。著有《苏东坡全集》和《东坡乐府》等。http://so.gushiwen.org/author_183.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_183.aspx"><img src="http://img.gushiwen.org/authorImg/sushi.jpg" width="105" height="150" alt="苏轼"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_183.aspx"><b>苏轼</b></a></p>
<p style=" margin:0px;">苏轼（1037－1101），北宋文学家、书画家、美食家。字子瞻，号东坡居士。汉族，四川人，葬于颍昌（今河南省平顶山市郏县）。一生仕途坎坷，学识渊博，天资极高，诗文书画皆精。其文汪洋恣肆，明白畅达，与欧阳修并称欧苏，为“唐宋八大家”之一；诗清新豪健，善用夸张、比喻，艺术表现独具风格，与黄庭坚并称苏黄；词开豪放一派，对后世有巨大影响，与辛弃疾并称苏辛；书法擅长行书、楷书，能自创新意，用笔丰腴跌宕，有天真烂漫之趣，与黄庭坚、米芾、蔡襄并称宋四家；画学文同，论画主张神似，提倡“士人画”。著有《苏东坡全集》和《东坡乐府》等。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=183&from=http://so.gushiwen.org/view.aspx?id=49708"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(183)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('183','http://m.gushiwen.org/author_183.aspx')" onmouseout="outweixinAuthor(183)"><img id="weixinAuthorImg183" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor183" href="javascript:goodAuthorNew('183','http://so.gushiwen.org/view.aspx?id=49708',3017)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3017</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor183" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare25434">少年佳节倍多情，老去谁知感慨生；不效艾符趋习俗，但祈蒲酒话升平。鬓丝日日添白头，榴锦年年照眼明；千载贤愚同瞬息，几人湮没几垂名。——唐代·殷尧藩《端午日》http://so.gushiwen.org/view_25434.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(25434)" id="btnShangxi25434"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(25434)" id="btnZhushi25434"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(25434)" id="btnYiwen25434" />
<script type="text/javascript">
                        document.getElementById("btnShangxi25434").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi25434").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen25434").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_25434.aspx"><b>端午日</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%ae%b7%e5%b0%a7%e8%97%a9">殷尧藩</a></p>
<div class="contson" id="contson25434">
少年佳节倍多情，老去谁知感慨生；<br />不效艾符趋习俗，但祈蒲酒话升平。<br />鬓丝日日添白头，榴锦年年照眼明；<br />千载贤愚同瞬息，几人湮没几垂名。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=25434&from=http://so.gushiwen.org/view.aspx?id=49708"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(25434)"><img id="copyimg25434" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('25434','http://m.gushiwen.org/view_25434.aspx')" onmouseout="outweixin(25434)"><img id="weixinimg25434" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood25434" href="javascript:goodNew('25434','http://so.gushiwen.org/view.aspx?id=49708',1480)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1480</span></a></div>
</div>
<div id="toolCopy25434" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin25434" style="background-color:aqua;"></div>
<div id="toolPlay25434" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e7%ab%af%e5%8d%88%e8%8a%82">端午节</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%84%9f%e5%8f%b9">感叹</a>
<span>，</span><a href="/type.aspx?p=1&t=%e4%ba%ba%e7%94%9f">人生</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare71364">重五山村好，榴花忽已繁。粽包分两髻，艾束著危冠。旧俗方储药，羸躯亦点丹。日斜吾事毕，一笑向杯盘。——宋代·陆游《乙卯重五诗》http://so.gushiwen.org/view_71364.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(71364)" id="btnShangxi71364"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(71364)" id="btnZhushi71364"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(71364)" id="btnYiwen71364" />
<script type="text/javascript">
                        document.getElementById("btnShangxi71364").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi71364").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen71364").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_71364.aspx"><b>乙卯重五诗</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e9%99%86%e6%b8%b8">陆游</a></p>
<div class="contson" id="contson71364">
重五山村好，榴花忽已繁。<br />粽包分两髻，艾束著危冠。<br />旧俗方储药，羸躯亦点丹。<br />日斜吾事毕，一笑向杯盘。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=71364&from=http://so.gushiwen.org/view.aspx?id=49708"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(71364)"><img id="copyimg71364" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('71364','http://m.gushiwen.org/view_71364.aspx')" onmouseout="outweixin(71364)"><img id="weixinimg71364" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood71364" href="javascript:goodNew('71364','http://so.gushiwen.org/view.aspx?id=49708',85)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;85</span></a></div>
</div>
<div id="toolCopy71364" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin71364" style="background-color:aqua;"></div>
<div id="toolPlay71364" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e7%ab%af%e5%8d%88%e8%8a%82">端午节</a>
<span>，</span><a href="/type.aspx?p=1&t=%e9%a3%8e%e4%bf%97">风俗</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare71344">独写菖蒲竹叶杯，蓬城芳草踏初回。情知不向瓯江死，舟楫何劳吊屈来。——明代·汤显祖《午日处州禁竞渡》http://so.gushiwen.org/view_71344.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(71344)" id="btnShangxi71344"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(71344)" id="btnZhushi71344"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(71344)" id="btnYiwen71344" />
<script type="text/javascript">
                        document.getElementById("btnShangxi71344").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi71344").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen71344").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_71344.aspx"><b>午日处州禁竞渡</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e6%98%8e%e4%bb%a3">明代</a><span>：</span><a href="/search.aspx?value=%e6%b1%a4%e6%98%be%e7%a5%96">汤显祖</a></p>
<div class="contson" id="contson71344">
独写菖蒲竹叶杯，蓬城芳草踏初回。<br />情知不向瓯江死，舟楫何劳吊屈来。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=71344&from=http://so.gushiwen.org/view.aspx?id=49708"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(71344)"><img id="copyimg71344" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('71344','http://m.gushiwen.org/view_71344.aspx')" onmouseout="outweixin(71344)"><img id="weixinimg71344" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood71344" href="javascript:goodNew('71344','http://so.gushiwen.org/view.aspx?id=49708',33)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;33</span></a></div>
</div>
<div id="toolCopy71344" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin71344" style="background-color:aqua;"></div>
<div id="toolPlay71344" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e7%ab%af%e5%8d%88%e8%8a%82">端午节</a>
<span>，</span><a href="/type.aspx?p=1&t=%e8%ae%ae%e8%ae%ba">议论</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%bf%a7%e5%9b%bd%e5%bf%a7%e6%b0%91">忧国忧民</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1208.aspx">临水整乌纱。两鬓苍华。故乡心事在天涯。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4110.aspx">残柳宫前空露叶，夕阳川上浩烟波。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
