
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
一落索原文、翻译及赏析_黄庭坚_古诗文网
</title>
<meta name="description" content="谁道秋来烟景素。任游人不顾。一番时态一番新，到得意、皆欢慕。紫萸黄菊繁华处。对风庭月露。愁来即便去寻芳，更作甚、悲秋赋。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_50046.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_50046.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare50046">谁道秋来烟景素。任游人不顾。一番时态一番新，到得意、皆欢慕。紫萸黄菊繁华处。对风庭月露。愁来即便去寻芳，更作甚、悲秋赋。——宋代·黄庭坚《一落索》http://so.gushiwen.org/view_50046.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(50046)" id="btnShangxi50046"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(50046)" id="btnZhushi50046"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(50046)" id="btnYiwen50046" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">一落索</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_268.aspx">黄庭坚</a> </p>
<div class="contson" id="contson50046">
谁道秋来烟景素。任游人不顾。一番时态一番新，到得意、皆欢慕。
<br/>
紫萸黄菊繁华处。对风庭月露。愁来即便去寻芳，更作甚、悲秋赋。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=50046&from=http://so.gushiwen.org/view.aspx?id=50046"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(50046)"><img id="copyimg50046" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('50046','http://m.gushiwen.org/view_50046.aspx')" onmouseout="outweixin(50046)"><img id="weixinimg50046" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=50046"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=3236001570"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood50046" href="javascript:goodNew('50046','http://so.gushiwen.org/view.aspx?id=50046',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div class="toolerweima" id="weixin50046" style="background-color:aqua;"></div>
<div id="toolPlay50046" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor268">黄庭坚（1045.8.9-1105.5.24），字鲁直，号山谷道人，晚号涪翁，洪州分宁（今江西省九江市修水县）人，北宋著名文学家、书法家，为盛极一时的江西诗派开山之祖，与杜甫、陈师道和陈与义素有“一祖三宗”（黄庭坚为其中一宗）之称。与张耒、晁补之、秦观都游学于苏轼门下，合称为“苏门四学士”。生前与苏轼齐名，世称“苏黄”。著有《山谷词》，且黄庭坚书法亦能独树一格，为“宋四家”之一。http://so.gushiwen.org/author_268.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_268.aspx"><img src="http://img.gushiwen.org/authorImg/huangtingjian.jpg" width="105" height="150" alt="黄庭坚"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_268.aspx"><b>黄庭坚</b></a></p>
<p style=" margin:0px;">黄庭坚（1045.8.9-1105.5.24），字鲁直，号山谷道人，晚号涪翁，洪州分宁（今江西省九江市修水县）人，北宋著名文学家、书法家，为盛极一时的江西诗派开山之祖，与杜甫、陈师道和陈与义素有“一祖三宗”（黄庭坚为其中一宗）之称。与张耒、晁补之、秦观都游学于苏轼门下，合称为“苏门四学士”。生前与苏轼齐名，世称“苏黄”。著有《山谷词》，且黄庭坚书法亦能独树一格，为“宋四家”之一。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=268&from=http://so.gushiwen.org/view.aspx?id=50046"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(268)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('268','http://m.gushiwen.org/author_268.aspx')" onmouseout="outweixinAuthor(268)"><img id="weixinAuthorImg268" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor268" href="javascript:goodAuthorNew('268','http://so.gushiwen.org/view.aspx?id=50046',343)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;343</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor268" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare67245">姮娥戏剧。手种长生粒。宝幹婆娑千古，飘芳吹、满虚碧。韵色。檀露滴。人间秋第一。金粟如来境界，谁移在、小亭侧。——宋代·赵希{青彡}《霜天晓角（桂）》http://so.gushiwen.org/view_67245.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(67245)" id="btnShangxi67245"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(67245)" id="btnZhushi67245"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(67245)" id="btnYiwen67245" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_67245.aspx"><b>霜天晓角（桂）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%b5%b5%e5%b8%8c%7b%e9%9d%92%e5%bd%a1%7d">赵希{青彡}</a></p>
<div class="contson" id="contson67245">
姮娥戏剧。手种长生粒。宝幹婆娑千古，飘芳吹、满虚碧。
<br/>
韵色。檀露滴。人间秋第一。金粟如来境界，谁移在、小亭侧。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=67245&from=http://so.gushiwen.org/view.aspx?id=50046"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(67245)"><img id="copyimg67245" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('67245','http://m.gushiwen.org/view_67245.aspx')" onmouseout="outweixin(67245)"><img id="weixinimg67245" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood67245" href="javascript:goodNew('67245','http://so.gushiwen.org/view.aspx?id=50046',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy67245" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin67245" style="background-color:aqua;"></div>
<div id="toolPlay67245" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare64815">六花飞素。飘入枝头无觅处。密缀轻堆。只似香苞次第开。栏边欲坠。姑射山头人半醉。墙外低垂。窥送佳人粉再吹。——宋代·李子正《减兰十梅（雪）》http://so.gushiwen.org/view_64815.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(64815)" id="btnShangxi64815"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(64815)" id="btnZhushi64815"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(64815)" id="btnYiwen64815" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_64815.aspx"><b>减兰十梅（雪）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e5%ad%90%e6%ad%a3">李子正</a></p>
<div class="contson" id="contson64815">
六花飞素。飘入枝头无觅处。密缀轻堆。只似香苞次第开。
<br/>
栏边欲坠。姑射山头人半醉。墙外低垂。窥送佳人粉再吹。
<br/>
</ul>
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=64815&from=http://so.gushiwen.org/view.aspx?id=50046"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(64815)"><img id="copyimg64815" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('64815','http://m.gushiwen.org/view_64815.aspx')" onmouseout="outweixin(64815)"><img id="weixinimg64815" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood64815" href="javascript:goodNew('64815','http://so.gushiwen.org/view.aspx?id=50046',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy64815" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin64815" style="background-color:aqua;"></div>
<div id="toolPlay64815" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare55725">听＿＿漏永，洗银林、梅英半寒收。正蟾辉舒粉，云容缕色，切近妆楼。人在东风伫立，悄悄独凝眸。多少横斜影，萦绕江流。只有清香暗度，堕髻簪珥玉，曾赋清游。认瑶车冰辙，佳致肯延留。指蓬山、青砂初转，望沧溟、羽佩一同舟。仙娥许，酒渑与我，消尽春愁。——宋代·朱雍《八声甘州》http://so.gushiwen.org/view_55725.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(55725)" id="btnShangxi55725"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(55725)" id="btnZhushi55725"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(55725)" id="btnYiwen55725" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_55725.aspx"><b>八声甘州</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%9c%b1%e9%9b%8d">朱雍</a></p>
<div class="contson" id="contson55725">
听＿＿漏永，洗银林、梅英半寒收。正蟾辉舒粉，云容缕色，切近妆楼。人在东风伫立，悄悄独凝眸。多少横斜影，萦绕江流。
<br/>
只有清香暗度，堕髻簪珥玉，曾赋清游。认瑶车冰辙，佳致肯延留。指蓬山、青砂初转，望沧溟、羽佩一同舟。仙娥许，酒渑与我，消尽春愁。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=55725&from=http://so.gushiwen.org/view.aspx?id=50046"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(55725)"><img id="copyimg55725" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('55725','http://m.gushiwen.org/view_55725.aspx')" onmouseout="outweixin(55725)"><img id="weixinimg55725" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood55725" href="javascript:goodNew('55725','http://so.gushiwen.org/view.aspx?id=50046',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy55725" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin55725" style="background-color:aqua;"></div>
<div id="toolPlay55725" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2234.aspx">寝兴目存形，遗音犹在耳。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2818.aspx">西风乱叶溪桥树。秋在黄花羞涩处。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
