
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
鹊桥仙·纤云弄巧原文、翻译及赏析_秦观_古诗文网
</title>
<meta name="description" content="纤云弄巧，飞星传恨，银汉迢迢暗度。金风玉露一相逢，便胜却人间无数。(度 通：渡)柔情似水，佳期如梦，忍顾鹊桥归路。两情若是久长时，又岂在朝朝暮暮。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_50243.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_50243.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare50243">纤云弄巧，飞星传恨，银汉迢迢暗度。金风玉露一相逢，便胜却人间无数。(度 通：渡)柔情似水，佳期如梦，忍顾鹊桥归路。两情若是久长时，又岂在朝朝暮暮。——宋代·秦观《鹊桥仙·纤云弄巧》http://so.gushiwen.org/view_50243.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(50243)" id="btnShangxi50243"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(50243)" id="btnZhushi50243"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(50243)" id="btnYiwen50243" />
<script type="text/javascript">
                        document.getElementById("btnShangxi50243").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi50243").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen50243").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">鹊桥仙·纤云弄巧</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_125.aspx">秦观</a> </p>
<div class="contson" id="contson50243">
纤云弄巧，飞星传恨，银汉迢迢暗度。金风玉露一相逢，便胜却人间无数。(度 通：渡)<br />柔情似水，佳期如梦，忍顾鹊桥归路。两情若是久长时，又岂在朝朝暮暮。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=50243&from=http://so.gushiwen.org/view.aspx?id=50243"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(50243)"><img id="copyimg50243" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('50243','http://m.gushiwen.org/view_50243.aspx')" onmouseout="outweixin(50243)"><img id="weixinimg50243" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=50243"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=5703772515"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood50243" href="javascript:goodNew('50243','http://so.gushiwen.org/view.aspx?id=50243',4550)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;4550</span></a></div>
</div>
<div class="toolerweima" id="weixin50243" style="background-color:aqua;"></div>
<div id="toolPlay50243" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e4%b8%89%e7%99%be%e9%a6%96">宋词三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e7%b2%be%e9%80%89">宋词精选</a>
<span>，</span><a href="/type.aspx?p=1&t=%e4%b8%83%e5%a4%95%e8%8a%82">七夕节</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%88%b1%e6%83%85">爱情</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%93%b2%e7%90%86">哲理</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%a9%89%e7%ba%a6">婉约</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%8a%92%e6%83%85">抒情</a>
</div>
</div>
<div id="fanyi1334" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="fanyiShow(1334)"></div>
<h2 style="margin-bottom:10px;font-weight:bold; font-size:16px;">译文及注释</h2>
<p>译文<br />纤薄的云彩在天空中变幻多端，天上的流星传递着相思的愁怨，遥远无垠的银河今夜我悄悄渡过。在秋风白露的七夕相会，就胜过尘世间那些长相厮守却貌合神离的夫妻。<br />共诉相思，柔情似水，短暂的相会如梦如幻，分别之时不忍去看那鹊桥路。只要两情至死不渝，又何必贪求卿卿我我的朝欢暮乐呢。</p>
<p>注释<br />纤云：轻盈的云彩。弄巧：指云彩在空中幻化成各种巧妙的花样。<br />飞星：流星。一说指牵牛、织女二星。<br />银汉：银河。迢迢：遥远的样子。暗度：悄悄渡过。<br />金风玉露：指秋风白露。李商隐《辛未七夕》：“由来碧落银河畔，可要金风玉露时”。<br />忍
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:fanyiShow(1334)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="fanyiquan1334" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">译文及注释</h2>
<p><strong>译文</strong><br />纤薄的云彩在天空中变幻多端，天上的流星传递着相思的愁怨，遥远无垠的银河今夜我悄悄渡过。在秋风白露的七夕相会，就胜过尘世间那些长相厮守却貌合神离的夫妻。<br />共诉相思，柔情似水，短暂的相会如梦如幻，分别之时不忍去看那鹊桥路。只要两情至死不渝，又何必贪求卿卿我我的朝欢暮乐呢。</p>
<p><strong>注释</strong><br />纤云：轻盈的云彩。弄巧：指云彩在空中幻化成各种巧妙的花样。<br />飞星：流星。一说指牵牛、织女二星。<br />银汉：银河。迢迢：遥远的样子。暗度：悄悄渡过。<br />金风玉露：指秋风白露。<a href="http://so.gushiwen.org/author_204.aspx">李商隐</a>《辛未七夕》：“由来碧落银河畔，可要金风玉露时”。<br />忍顾：怎忍回视。<br />朝朝暮暮：指朝夕相聚。语出<a href="http://so.gushiwen.org/author_358.aspx">宋玉</a>《高唐赋》。<a title="收起" href="javascript:fanyiClose(1334)">▲</a></p>
</div>
<div class="dingpai">
<a id="ding1334" href="javascript:ding('1334','http://so.gushiwen.org/view.aspx?id=50243')">有用(1691)</a><a id="pai1334" style=" margin-left:10px;" href="javascript:pai('1334','http://so.gushiwen.org/view.aspx?id=50243')">没用(255)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">蘅塘退士 等 ．唐诗三百首·宋词三百首·元曲三百首 ．北京 ：华文出版社 ，2009年11月版 ：第220页 ．</span>
</div>
</div>
</div>
<div id="fanyi1335" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="fanyiShow(1335)"></div>
<h2 style="margin-bottom:10px;font-weight:bold; font-size:16px;">英译</h2>
<p>Fairy of the Magpie Bridge<br />by Qin Guan(1049-1100)</p>
<p>Thin clouds are creating works delicate;<br />Falling stars carry sorrows deep.<br />Over the vast, vast Milky Way,<br />Cowherd and Weaving Girl quietly meet.<br />Meeting in such a clear and sweet autumn night,<br />The rendezvous o
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:fanyiShow(1335)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="fanyiquan1335" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">英译</h2>
<p>Fairy of the Magpie Bridge<br />by Qin Guan(1049-1100)</p>
<p>Thin clouds are creating works delicate;<br />Falling stars carry sorrows deep.<br />Over the vast, vast Milky Way,<br />Cowherd and Weaving Girl quietly meet.<br />Meeting in such a clear and sweet autumn night,<br />The rendezvous outshines many a worldly date.</p>
<p>Tenderness flows in the soul’s retreat;<br />Sweet hours melt their hearts away.<br />The short-lived Magpie Bridge is unbearable to see,<br />For on the magpie-paved bridge parting comes in haste.<br />Ah, so long as love keeps,<br />What differs, missing each other day after day!<a title="收起" href="javascript:fanyiClose(1335)">▲</a></p>
</div>
<div class="dingpai">
<a id="ding1335" href="javascript:ding('1335','http://so.gushiwen.org/view.aspx?id=50243')">有用(566)</a><a id="pai1335" style=" margin-left:10px;" href="javascript:pai('1335','http://so.gushiwen.org/view.aspx?id=50243')">没用(259)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div id="shangxi1815" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(1815)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　借牛郎织女的故事，以超人间的方式表现人间的悲欢离合，古已有之，如《古诗十九首·迢迢牵牛星》，曹丕的《燕歌行》，李商隐的《辛未七夕》等等。宋代的欧阳修、张先、柳永、苏轼等人也曾吟咏这一题材，虽然遣辞造句各异，却都因袭了“欢娱苦短”的传统主题，格调哀婉、凄楚。相形之下，秦观此词堪称独出机杼，立意高远。</p>
<p>　　这是一首咏七夕的节序词，起句展示七夕独有的抒情氛围，“巧”与“恨”，则将七夕人间“乞巧”的主题及“牛郎、织女”故事的悲剧性特征点明，练达而凄美。借牛郎织女悲欢离合的故事，歌颂坚贞诚挚的爱情。结句“两情若是久长时，又岂在朝朝暮暮”最有境界，这两句既指牛郎、织女的爱情模式的
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(1815)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan1815" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　借牛郎织女的故事，以超人间的方式表现人间的悲欢离合，古已有之，如《古<a href="http://so.gushiwen.org/view_50243.aspx">诗</a>十九首·迢迢牵牛星》，<a href="http://so.gushiwen.org/author_616.aspx">曹丕</a>的《燕歌行》，<a href="http://so.gushiwen.org/author_204.aspx">李商隐</a>的《辛未七夕》等等。宋代的<a href="http://so.gushiwen.org/author_561.aspx">欧阳修</a>、<a href="http://so.gushiwen.org/author_587.aspx">张先</a>、<a href="http://so.gushiwen.org/author_535.aspx">柳永</a>、<a href="http://so.gushiwen.org/author_183.aspx">苏轼</a>等人也曾吟咏这一题材，虽然遣辞造句各异，却都因袭了“欢娱苦短”的传统主题，格调哀婉、凄楚。相形之下，<a href="http://so.gushiwen.org/author_125.aspx">秦观</a>此词堪称独出机杼，立意高远。</p>
<p>　　这是一首咏七夕的节序词，起句展示七夕独有的抒情氛围，“巧”与“恨”，则将七夕人间“乞巧”的主题及“牛郎、织女”故事的悲剧性特征点明，练达而凄美。借牛郎织女悲欢离合的故事，歌颂坚贞诚挚的爱情。结句“两情若是久长时，又岂在朝朝暮暮”最有境界，这两句既指牛郎、织女的爱情模式的特点，又表述了作者的爱情观，是高度凝练的名言佳句。这首词因而也就具有了跨时代、跨国度的审美价值和艺术品位。 此词熔写景、抒情与议论于一炉，叙写牵牛、织女二星相爱的神话故事，赋予这对仙侣浓郁的人情味，讴歌了真挚、细腻、纯洁、坚贞的爱情。词中明写天上双星，暗写人间情侣；其抒情，以乐景写哀，以哀景写乐，倍增其哀乐，读来荡气回肠，感人肺腑。</p>
<p>　　词一开始即写“纤云弄巧”，轻柔多姿的云彩，变化出许多优美巧妙的图案，显示出织女的手艺何其精巧绝伦。可是，这样美好的人儿，却不能与自己心爱的人共同过美好的生活。“飞星传恨”，那些闪亮的星星仿佛都传递着他们的离愁别恨，正飞驰长空。</p>
<p>　　关于银河，《古诗十九首》云：“河汉清且浅，相去复几许？盈盈一水间，脉脉不得语。”“盈盈一水间，近咫尺，似乎连对方的神情语态都宛然目。这里，秦观却写道：”银汉迢迢暗渡“，以”迢迢“二字形容银河的辽阔，牛女相距之遥远。这样一改，感情深沉了，突出了相思之苦。迢迢银河水，把两个相爱的人隔开，相见多么不容易！”暗渡“二字既点”七夕“题意，同时紧扣一个”恨“字，他们踽踽宵行，千里迢迢来相会。</p>
<p>　　接下来词人宕开笔墨，以富有感情色彩的议论赞叹道：“金风玉露一相逢，便胜却人间无数！”一对久别的情侣金风玉露之夜，碧落银河之畔相会了，这美好的一刻，就抵得上人间千遍万遍的相会。词人热情歌颂了一种理想的圣洁而永恒的爱情。“金风玉露”用李商隐《辛未七夕》诗：“恐是仙家好别离，故教迢递作佳期。由来碧落银河畔，可要金风玉露时。”用以描写七夕相会的时节风光，同时还另有深意，词人把这次珍贵的相会，映衬于金风玉露、冰清玉洁的背景之下，显示出这种爱情的高尚纯洁和超凡脱俗。</p>
<p>　　“柔情似水”，那两情相会的情意啊，就象悠悠无声的流水，是那样的温柔缠绵。“柔情似水”，“似水”照应“银汉迢迢”，即景设喻，十分自然。一夕佳期竟然象梦幻一般倏然而逝，才相见又分离，怎不令人心碎！“佳期如梦”，除言相会时间之短，还写出爱侣相会时的复杂心情。“忍顾鹊桥归路”，转写分离，刚刚借以相会的鹊桥，转瞬间又成了和爱人分别的归路。不说不忍离去，却说怎忍看鹊桥归路，婉转语意中，含有无限惜别之情，含有无限辛酸眼泪。 回顾佳期幽会，疑真疑假，似梦似幻，及至鹊桥言别，恋恋之情，已至于极。词笔至此忽又空际转身，爆发出高亢的音响：“两情若是久长时，又岂在朝朝暮暮！”秦观这两句词揭示了爱情的真谛：爱情要经得起长久分离的考验，只要能彼此真诚相爱，即使终年天各一方，也比朝夕相伴的庸俗情趣可贵得多。这两句感情色彩很浓的议论，成为爱情颂歌当中的千古绝唱。它们与上片的议论遥相呼应，这样上、下片同样结构，叙事和议论相间，从而形成全篇连绵起伏的情致。这种正确的恋爱观，这种高尚的精神境界，远远超过了古代同类作品，是十分难能可贵的。</p>
<p>　　这首词的议论，自由流畅，通俗易懂，却又显得婉约蕴藉，余味无穷。作者将画龙点睛的议论与散文句法与优美的形象、深沉的情感结合起来，起伏跃宕地讴歌了人间美好的爱情，取得了极好的艺术效果。<a title="收起" href="javascript:shangxiClose(1815)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx1815" href="javascript:dingsx('1815','http://so.gushiwen.org/view.aspx?id=50243')">有用(998)</a><a id="paisx1815" style=" margin-left:10px;" href="javascript:paisx('1815','http://so.gushiwen.org/view.aspx?id=50243')">没用(223)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">周汝昌 等 ．唐宋词鉴赏辞典（唐·五代·北宋卷） ．上海 ：上海辞书出版社 ，1988年4月版 ：第836-837页 ．</span>
</div>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor125">秦观（1049-1100）字太虚，又字少游，别号邗沟居士，世称淮海先生。汉族，北宋高邮（今江苏）人，官至太学博士，国史馆编修。秦观一 生坎坷，所写诗词，高古沉重，寄托身世，感人至深。秦观生前行踪所至之处，多有遗迹。如浙江杭州的秦少游祠，丽水的秦少游塑像、淮海先生祠、莺花亭；青田的秦学士祠；湖南郴州三绝碑；广西横县的海棠亭、醉乡亭、淮海堂、淮海书院等。秦观墓在无锡惠山之北粲山上，墓碑上书“秦龙图墓”几个大字。有秦家村、秦家大院以及省级文物保护单位古文游台。http://so.gushiwen.org/author_125.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_125.aspx"><img src="http://img.gushiwen.org/authorImg/qinguan.jpg" width="105" height="150" alt="秦观"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_125.aspx"><b>秦观</b></a></p>
<p style=" margin:0px;">秦观（1049-1100）字太虚，又字少游，别号邗沟居士，世称淮海先生。汉族，北宋高邮（今江苏）人，官至太学博士，国史馆编修。秦观一 生坎坷，所写诗词，高古沉重，寄托身世，感人至深。秦观生前行踪所至之处，多有遗迹。如浙江杭州的秦少游祠，丽水的秦少游塑像、淮海先生祠、莺花亭；青田的秦学士祠；湖南郴州三绝碑；广西横县的海棠亭、醉乡亭、淮海堂、淮海书院等。秦观墓在无锡惠山之北粲山上，墓碑上书“秦龙图墓”几个大字。有秦家村、秦家大院以及省级文物保护单位古文游台。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=125&from=http://so.gushiwen.org/view.aspx?id=50243"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(125)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('125','http://m.gushiwen.org/author_125.aspx')" onmouseout="outweixinAuthor(125)"><img id="weixinAuthorImg125" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor125" href="javascript:goodAuthorNew('125','http://so.gushiwen.org/view.aspx?id=50243',379)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;379</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor125" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare57580">郁孤台下清江水，中间多少行人泪。西北望长安，可怜无数山。青山遮不住，毕竟东流去。江晚正愁余，山深闻鹧鸪。 (愁余 一作：愁予)——宋代·辛弃疾《菩萨蛮·书江西造口壁》http://so.gushiwen.org/view_57580.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(57580)" id="btnShangxi57580"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(57580)" id="btnZhushi57580"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(57580)" id="btnYiwen57580" />
<script type="text/javascript">
                        document.getElementById("btnShangxi57580").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi57580").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen57580").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_57580.aspx"><b>菩萨蛮·书江西造口壁</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%be%9b%e5%bc%83%e7%96%be">辛弃疾</a></p>
<div class="contson" id="contson57580">
郁孤台下清江水，中间多少行人泪。西北望长安，可怜无数山。<br />青山遮不住，毕竟东流去。江晚正愁余，山深闻鹧鸪。 (愁余 一作：愁予)
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=57580&from=http://so.gushiwen.org/view.aspx?id=50243"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(57580)"><img id="copyimg57580" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('57580','http://m.gushiwen.org/view_57580.aspx')" onmouseout="outweixin(57580)"><img id="weixinimg57580" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood57580" href="javascript:goodNew('57580','http://so.gushiwen.org/view.aspx?id=50243',2948)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2948</span></a></div>
</div>
<div id="toolCopy57580" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin57580" style="background-color:aqua;"></div>
<div id="toolPlay57580" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e4%b8%89%e7%99%be%e9%a6%96">宋词三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e8%b1%aa%e6%94%be">豪放</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%b1%b1%e6%b0%b4">山水</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%8a%92%e6%80%80">抒怀</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%88%b1%e5%9b%bd">爱国</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare59324">京洛风流绝代人。因何风絮落溪津。笼鞋浅出鸦头袜，知是凌波缥缈身。 红乍笑，绿长嚬。与谁同度可怜春。鸳鸯独宿何曾惯，化作西楼一缕云。——宋代·姜夔《鹧鸪天·己酉之秋苕溪记所见》http://so.gushiwen.org/view_59324.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(59324)" id="btnShangxi59324"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(59324)" id="btnZhushi59324"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(59324)" id="btnYiwen59324" />
<script type="text/javascript">
                        document.getElementById("btnShangxi59324").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi59324").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen59324").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_59324.aspx"><b>鹧鸪天·己酉之秋苕溪记所见</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%a7%9c%e5%a4%94">姜夔</a></p>
<div class="contson" id="contson59324">
京洛风流绝代人。因何风絮落溪津。笼鞋浅出鸦头袜，知是凌波缥缈身。 <br />红乍笑，绿长嚬。与谁同度可怜春。鸳鸯独宿何曾惯，化作西楼一缕云。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=59324&from=http://so.gushiwen.org/view.aspx?id=50243"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(59324)"><img id="copyimg59324" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('59324','http://m.gushiwen.org/view_59324.aspx')" onmouseout="outweixin(59324)"><img id="weixinimg59324" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood59324" href="javascript:goodNew('59324','http://so.gushiwen.org/view.aspx?id=50243',30)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;30</span></a></div>
</div>
<div id="toolCopy59324" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin59324" style="background-color:aqua;"></div>
<div id="toolPlay59324" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e4%b8%89%e7%99%be%e9%a6%96">宋词三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%90%8c%e6%83%85">同情</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%a5%b3%e5%ad%90">女子</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare51015">柳阴直，烟里丝丝弄碧。隋堤上、曾见几番，拂水飘绵送行色。登临望故国，谁识京华倦客？长亭路，年去岁来，应折柔条过千尺。闲寻旧踪迹，又酒趁哀弦，灯照离席。梨花榆火催寒食。愁一箭风快，半篙波暖，回头迢递便数驿，望人在天北。凄恻，恨堆积！渐别浦萦回，津堠岑寂，斜阳冉冉春无极。念月榭携手，露桥闻笛。沉思前事，似梦里，泪暗滴。——宋代·周邦彦《兰陵王·柳》http://so.gushiwen.org/view_51015.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(51015)" id="btnShangxi51015"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(51015)" id="btnZhushi51015"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(51015)" id="btnYiwen51015" />
<script type="text/javascript">
                        document.getElementById("btnShangxi51015").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi51015").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen51015").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_51015.aspx"><b>兰陵王·柳</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%91%a8%e9%82%a6%e5%bd%a6">周邦彦</a></p>
<div class="contson" id="contson51015">
柳阴直，烟里丝丝弄碧。隋堤上、曾见几番，拂水飘绵送行色。登临望故国，谁识京华倦客？长亭路，年去岁来，应折柔条过千尺。<br />闲寻旧踪迹，又酒趁哀弦，灯照离席。梨花榆火催寒食。愁一箭风快，半篙波暖，回头迢递便数驿，望人在天北。<br />凄恻，恨堆积！渐别浦萦回，津堠岑寂，斜阳冉冉春无极。念月榭携手，露桥闻笛。沉思前事，似梦里，泪暗滴。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=51015&from=http://so.gushiwen.org/view.aspx?id=50243"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(51015)"><img id="copyimg51015" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('51015','http://m.gushiwen.org/view_51015.aspx')" onmouseout="outweixin(51015)"><img id="weixinimg51015" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood51015" href="javascript:goodNew('51015','http://so.gushiwen.org/view.aspx?id=50243',300)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;300</span></a></div>
</div>
<div id="toolCopy51015" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin51015" style="background-color:aqua;"></div>
<div id="toolPlay51015" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e4%b8%89%e7%99%be%e9%a6%96">宋词三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e7%b2%be%e9%80%89">宋词精选</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%a9%89%e7%ba%a6">婉约</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%9f%b3%e6%a0%91">柳树</a>
<span>，</span><a href="/type.aspx?p=1&t=%e9%80%81%e5%88%ab">送别</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_61.aspx">峨眉山月半轮秋，影入平羌江水流。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2094.aspx">南渡君臣轻社稷，中原父老望旌旗。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
