
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
八声甘州（扬州次韵和东坡钱塘作）原文、翻译及赏析_晁补之_古诗文网
</title>
<meta name="description" content="谓东坡、未老赋归来，天未遣公归。向西湖两处、秋波一种，飞霭澄辉。又拥竹西歌吹，僧老木兰非。一笑千秋事，浮世危机。应倚平山栏槛，是醉翁饮处。江雨霏霏。送孤鸿相接，今古眼中稀。念平生、" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_50710.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_50710.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare50710">谓东坡、未老赋归来，天未遣公归。向西湖两处、秋波一种，飞霭澄辉。又拥竹西歌吹，僧老木兰非。一笑千秋事，浮世危机。应倚平山栏槛，是醉翁饮处。江雨霏霏。送孤鸿相接，今古眼中稀。念平生、相从江海，任飘蓬、不遣此心违。登临事，更何须惜，吹帽淋衣。——宋代·晁补之《八声甘州（扬州次韵和东坡钱塘作）》http://so.gushiwen.org/view_50710.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(50710)" id="btnShangxi50710"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(50710)" id="btnZhushi50710"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(50710)" id="btnYiwen50710" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">八声甘州（扬州次韵和东坡钱塘作）</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_643.aspx">晁补之</a> </p>
<div class="contson" id="contson50710">
谓东坡、未老赋归来，天未遣公归。向西湖两处、秋波一种，飞霭澄辉。又拥竹西歌吹，僧老木兰非。一笑千秋事，浮世危机。
<br/>
应倚平山栏槛，是醉翁饮处。江雨霏霏。送孤鸿相接，今古眼中稀。念平生、相从江海，任飘蓬、不遣此心违。登临事，更何须惜，吹帽淋衣。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=50710&from=http://so.gushiwen.org/view.aspx?id=50710"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(50710)"><img id="copyimg50710" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('50710','http://m.gushiwen.org/view_50710.aspx')" onmouseout="outweixin(50710)"><img id="weixinimg50710" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=50710"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=7379240118"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood50710" href="javascript:goodNew('50710','http://so.gushiwen.org/view.aspx?id=50710',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div class="toolerweima" id="weixin50710" style="background-color:aqua;"></div>
<div id="toolPlay50710" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor643">晁补之（公元1053年—公元1110年），字无咎，号归来子，汉族，济州巨野（今属山东巨野县）人，北宋时期著名文学家。为“苏门四学士”（另有北宋诗人黄庭坚、秦观、张耒）之一。曾任吏部员外郎、礼部郎中。 工书画，能诗词，善属文。与张耒并称“晁张”。其散文语言凝练、流畅，风格近柳宗元。诗学陶渊明。其词格调豪爽，语言清秀晓畅，近苏轼。但其诗词流露出浓厚的消极归隐思想。著有《鸡肋集》、《晁氏琴趣外篇》等。http://so.gushiwen.org/author_643.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_643.aspx"><img src="http://img.gushiwen.org/authorImg/chaobuzhi.jpg" width="105" height="150" alt="晁补之"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_643.aspx"><b>晁补之</b></a></p>
<p style=" margin:0px;">晁补之（公元1053年—公元1110年），字无咎，号归来子，汉族，济州巨野（今属山东巨野县）人，北宋时期著名文学家。为“苏门四学士”（另有北宋诗人黄庭坚、秦观、张耒）之一。曾任吏部员外郎、礼部郎中。 工书画，能诗词，善属文。与张耒并称“晁张”。其散文语言凝练、流畅，风格近柳宗元。诗学陶渊明。其词格调豪爽，语言清秀晓畅，近苏轼。但其诗词流露出浓厚的消极归隐思想。著有《鸡肋集》、《晁氏琴趣外篇》等。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=643&from=http://so.gushiwen.org/view.aspx?id=50710"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(643)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('643','http://m.gushiwen.org/author_643.aspx')" onmouseout="outweixinAuthor(643)"><img id="weixinAuthorImg643" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor643" href="javascript:goodAuthorNew('643','http://so.gushiwen.org/view.aspx?id=50710',203)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;203</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor643" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare53564">目送归州铁瓮城。隔江想见蜀山青。风前团扇仆频更。梦里有时身化鹤，人间无数草为萤。此时山月下楼明。——宋代·张元干《浣溪沙》http://so.gushiwen.org/view_53564.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(53564)" id="btnShangxi53564"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(53564)" id="btnZhushi53564"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(53564)" id="btnYiwen53564" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_53564.aspx"><b>浣溪沙</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%bc%a0%e5%85%83%e5%b9%b2">张元干</a></p>
<div class="contson" id="contson53564">
目送归州铁瓮城。隔江想见蜀山青。风前团扇仆频更。
<br/>
梦里有时身化鹤，人间无数草为萤。此时山月下楼明。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=53564&from=http://so.gushiwen.org/view.aspx?id=50710"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(53564)"><img id="copyimg53564" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('53564','http://m.gushiwen.org/view_53564.aspx')" onmouseout="outweixin(53564)"><img id="weixinimg53564" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood53564" href="javascript:goodNew('53564','http://so.gushiwen.org/view.aspx?id=50710',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy53564" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin53564" style="background-color:aqua;"></div>
<div id="toolPlay53564" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare66239">天近祅知雨露浓。湖山无日不春风。闲花野草皆掀舞，曾在君王愿盼中。时易得，会难逢。朝为逆旅暮三公。蛟龙得雨飞无便，鸡犬腾云夙有功。——宋代·林淳《鹧鸪天（西湖）》http://so.gushiwen.org/view_66239.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(66239)" id="btnShangxi66239"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(66239)" id="btnZhushi66239"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(66239)" id="btnYiwen66239" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_66239.aspx"><b>鹧鸪天（西湖）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%9e%97%e6%b7%b3">林淳</a></p>
<div class="contson" id="contson66239">
天近祅知雨露浓。湖山无日不春风。闲花野草皆掀舞，曾在君王愿盼中。
<br/>
时易得，会难逢。朝为逆旅暮三公。蛟龙得雨飞无便，鸡犬腾云夙有功。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=66239&from=http://so.gushiwen.org/view.aspx?id=50710"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(66239)"><img id="copyimg66239" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('66239','http://m.gushiwen.org/view_66239.aspx')" onmouseout="outweixin(66239)"><img id="weixinimg66239" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood66239" href="javascript:goodNew('66239','http://so.gushiwen.org/view.aspx?id=50710',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy66239" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin66239" style="background-color:aqua;"></div>
<div id="toolPlay66239" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare50603">嫣然何啻千金价。意远态闲难入画。更无方便只尊前，说尽牵情多少话。别来乐事经春罢。枉度佳春抛好夜。如今触绪易销魂，最是不堪风月下。——宋代·贺铸《木兰花（二之一）》http://so.gushiwen.org/view_50603.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(50603)" id="btnShangxi50603"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(50603)" id="btnZhushi50603"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(50603)" id="btnYiwen50603" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_50603.aspx"><b>木兰花（二之一）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%b4%ba%e9%93%b8">贺铸</a></p>
<div class="contson" id="contson50603">
嫣然何啻千金价。意远态闲难入画。更无方便只尊前，说尽牵情多少话。
<br/>
别来乐事经春罢。枉度佳春抛好夜。如今触绪易销魂，最是不堪风月下。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=50603&from=http://so.gushiwen.org/view.aspx?id=50710"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(50603)"><img id="copyimg50603" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('50603','http://m.gushiwen.org/view_50603.aspx')" onmouseout="outweixin(50603)"><img id="weixinimg50603" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood50603" href="javascript:goodNew('50603','http://so.gushiwen.org/view.aspx?id=50710',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy50603" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin50603" style="background-color:aqua;"></div>
<div id="toolPlay50603" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2949.aspx">秋已无多，早是败荷衰柳。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_48.aspx">西塞山前白鹭飞，桃花流水鳜鱼肥。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
