
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
兰陵王·柳原文、翻译及赏析_周邦彦_古诗文网
</title>
<meta name="description" content="柳阴直，烟里丝丝弄碧。隋堤上、曾见几番，拂水飘绵送行色。登临望故国，谁识京华倦客？长亭路，年去岁来，应折柔条过千尺。闲寻旧踪迹，又酒趁哀弦，灯照离席。梨花榆火催寒食。愁一箭风快，半" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_51015.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_51015.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare51015">柳阴直，烟里丝丝弄碧。隋堤上、曾见几番，拂水飘绵送行色。登临望故国，谁识京华倦客？长亭路，年去岁来，应折柔条过千尺。闲寻旧踪迹，又酒趁哀弦，灯照离席。梨花榆火催寒食。愁一箭风快，半篙波暖，回头迢递便数驿，望人在天北。凄恻，恨堆积！渐别浦萦回，津堠岑寂，斜阳冉冉春无极。念月榭携手，露桥闻笛。沉思前事，似梦里，泪暗滴。——宋代·周邦彦《兰陵王·柳》http://so.gushiwen.org/view_51015.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(51015)" id="btnShangxi51015"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(51015)" id="btnZhushi51015"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(51015)" id="btnYiwen51015" />
<script type="text/javascript">
                        document.getElementById("btnShangxi51015").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi51015").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen51015").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">兰陵王·柳</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_164.aspx">周邦彦</a> </p>
<div class="contson" id="contson51015">
柳阴直，烟里丝丝弄碧。隋堤上、曾见几番，拂水飘绵送行色。登临望故国，谁识京华倦客？长亭路，年去岁来，应折柔条过千尺。<br />闲寻旧踪迹，又酒趁哀弦，灯照离席。梨花榆火催寒食。愁一箭风快，半篙波暖，回头迢递便数驿，望人在天北。<br />凄恻，恨堆积！渐别浦萦回，津堠岑寂，斜阳冉冉春无极。念月榭携手，露桥闻笛。沉思前事，似梦里，泪暗滴。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=51015&from=http://so.gushiwen.org/view.aspx?id=51015"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(51015)"><img id="copyimg51015" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('51015','http://m.gushiwen.org/view_51015.aspx')" onmouseout="outweixin(51015)"><img id="weixinimg51015" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=51015"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=5617840541"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood51015" href="javascript:goodNew('51015','http://so.gushiwen.org/view.aspx?id=51015',300)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;300</span></a></div>
</div>
<div class="toolerweima" id="weixin51015" style="background-color:aqua;"></div>
<div id="toolPlay51015" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e4%b8%89%e7%99%be%e9%a6%96">宋词三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e7%b2%be%e9%80%89">宋词精选</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%a9%89%e7%ba%a6">婉约</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%9f%b3%e6%a0%91">柳树</a>
<span>，</span><a href="/type.aspx?p=1&t=%e9%80%81%e5%88%ab">送别</a>
</div>
</div>
<div id="fanyi1353" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="fanyiShow(1353)"></div>
<h2 style="margin-bottom:10px;font-weight:bold; font-size:16px;">译文及注释</h2>
<p>译文<br />正午的柳荫直直地落下，雾霭中，丝丝柳枝随风摆动。在古老的隋堤上，曾经多少次看见柳絮飞舞，把匆匆离去的人相送。每次都登上高台向故乡瞭望，杭州远隔山水一重又一重。旅居京城使我厌倦，可有谁知道我心中的隐痛？在这十里长亭的路上，我折下的柳条有上千枝，可总是年复一年地把他人相送。<br />我趁着闲暇到了郊外，本来是为了寻找旧日的行踪，不料又逢上筵席给朋友饯行。华灯照耀，我举起了酒杯，哀怨的音乐在空中飘动。驿站旁的梨花已经盛开，提醒我寒食节就要到了，人们将把榆柳的薪火取用。我满怀愁绪看着船像箭一样离开，梢公的竹篙插进温暖的水波，频频地朝前撑动。等船上的客人回头相看，驿站远远地抛在后
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:fanyiShow(1353)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="fanyiquan1353" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">译文及注释</h2>
<p><strong>译文</strong><br />正午的柳荫直直地落下，雾霭中，丝丝柳枝随风摆动。在古老的隋堤上，曾经多少次看见柳絮飞舞，把匆匆离去的人相送。每次都登上高台向故乡瞭望，杭州远隔山水一重又一重。旅居京城使我厌倦，可有谁知道我心中的隐痛？在这十里长亭的路上，我折下的柳条有上千枝，可总是年复一年地把他人相送。<br />我趁着闲暇到了郊外，本来是为了寻找旧日的行踪，不料又逢上筵席给朋友饯行。华灯照耀，我举起了酒杯，哀怨的音乐在空中飘动。驿站旁的梨花已经盛开，提醒我寒食节就要到了，人们将把榆柳的薪火取用。我满怀愁绪看着船像箭一样离开，梢公的竹篙插进温暖的水波，频频地朝前撑动。等船上的客人回头相看，驿站远远地抛在后面，端的离开了让人愁烦的京城。他想要再看一眼天北的我哟，却发现已经是一片蒙胧。<br />我孤零零地十分凄惨，堆积的愁恨有千万重。送别的河岸迂回曲折，渡口的土堡一片寂静。春色一天天浓了，斜阳挂在半空。我不禁想起那次携手，在水榭游玩，月光溶溶。我们一起在露珠盈盈的桥头，听人吹笛到曲终……唉，回忆往事，如同是一场大梦。我暗中不断垂泪。 </p>
<p><strong>注释</strong><br />兰陵王：词牌名，首见于<a href="http://so.gushiwen.org/author_164.aspx">周邦彦</a>词。一百三十字，分三段。<br />柳阴直：长堤之柳，排列整齐，其阴影连缀成直线。<br />烟：薄雾。丝丝弄碧：细长轻柔的柳条随风飞舞，舞弄其嫩绿的姿色。弄：飘拂。<br />隋堤：汴京附近汴河之堤，隋炀帝时所建，故称。是北宋是来往京城的必经之路。<br />拂水飘绵：柳枝轻拂水面，柳絮在空中飞扬。行色：行人出发前的景象、情状。<br />故国：指故乡。<br />京华倦客：作者自谓。京华，指京城，作者久客京师，有厌倦之感，故云。<br />长亭：古时驿路上十里一长亭，五里一短亭，供人休息，又是送别的地主。<br />“应折”句：古人有折柳送别之习。柔条：柳枝。过千尺：极言折柳之多。<br />旧踪迹：指过去登堤饯别的地方。<br />又：又逢。酒趁哀弦：饮酒时奏着离别的乐曲。趁：逐，追随。哀弦：哀怨的乐声。<br />离席：饯别的宴会。<br />“梨花”句：饯别时正值梨花盛开的寒食时节。唐宋时期朝廷在清明日取榆柳之火以赐百官，故有“榆火”之说。寒食：清明前一天为寒食。 <br />一箭风快：指正当顺风，船驶如箭。<br />半篙波暖：指撑船的竹篙没入水中，时令已近暮春，故曰波暖。<br />迢递：遥远。驿：驿站。<br />“望人”句：因被送者离汴京南去，回望送行人，故曰天北。望人：送行人。<br />凄恻：悲伤。<br />渐：正当。别浦：送行的水边。萦回：水波回旋。<br />恨：这里是遗憾的意思。<br />津堠：渡口附近供瞭望歇宿的守望所。津：渡口。堠：哨所。岑寂：冷清寂寞。<br />冉冉：慢慢移动的样子。春无极：春色一望无边。<br />念：想到。月榭：月光下的亭榭。榭，建在高台上的敞屋。<br />露桥：布满露珠的桥梁。<a title="收起" href="javascript:fanyiClose(1353)">▲</a></p>
</div>
<div class="dingpai">
<a id="ding1353" href="javascript:ding('1353','http://so.gushiwen.org/view.aspx?id=51015')">有用(158)</a><a id="pai1353" style=" margin-left:10px;" href="javascript:pai('1353','http://so.gushiwen.org/view.aspx?id=51015')">没用(22)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">徐中玉 金启华．中国古代文学作品选（二）．上海：华东师范大学出版社，1999：96-98</span>
</div>
</div>
</div>
<div id="shangxi1850" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(1850)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　这首词的题目是“柳”，内容却不是咏柳，而是伤别。古代有折柳送别的习俗，所以诗词里常用柳来渲染别情。隋无名氏的《送别》：“杨柳青青著地垂，杨花漫漫搅天飞。柳条折尽花飞尽，借问行人归不归。”便是人们熟悉的一个例子。周邦彦这首词也是这样，它一上来就写柳阴、写柳丝、写柳絮、写柳条，先将离愁别绪借着柳树渲染了一番。</p>
<p>　　“柳阴直，烟里丝丝弄碧。”这个“直”字不妨从两方面体会。时当正午，日悬中天，柳树的阴影不偏不倚直铺在地上，此其一。长堤之上，柳树成行，柳阴沿长堤伸展开来，划出一道直线，此其二。“柳阴直”三字有一种类似绘画中透视的效果。“烟里丝丝弄碧”转而写柳丝。新生的柳枝细长柔
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(1850)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan1850" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　这首词的题目是“柳”，内容却不是咏柳，而是伤别。古代有折柳送别的习俗，所以<a href="http://so.gushiwen.org/view_51015.aspx">诗</a>词里常用柳来渲染别情。隋无名氏的《送别》：“杨柳青青著地垂，杨花漫漫搅天飞。柳条折尽花飞尽，借问行人归不归。”便是人们熟悉的一个例子。<a href="http://so.gushiwen.org/author_164.aspx">周邦彦</a>这首词也是这样，它一上来就写柳阴、写柳丝、写柳絮、写柳条，先将离愁别绪借着柳树渲染了一番。</p>
<p>　　“柳阴直，烟里丝丝弄碧。”这个“直”字不妨从两方面体会。时当正午，日悬中天，柳树的阴影不偏不倚直铺在地上，此其一。长堤之上，柳树成行，柳阴沿长堤伸展开来，划出一道直线，此其二。“柳阴直”三字有一种类似绘画中透视的效果。“烟里丝丝弄碧”转而写柳丝。新生的柳枝细长柔嫩，像丝一样。它们仿佛也知道自己碧色可人，就故意飘拂着以显示自己的美。柳丝的碧色透过春天的烟霭看去，更有一种朦胧的美。</p>
<p>　　以上写的是自己这次离开京华时在隋堤上所见的柳色。但这样的柳色已不止见了一次，那是为别人送行时看到的：“隋堤上，曾见几番，拂水飘绵送行色。”“拂水飘绵”这四个字锤炼得十分精工，生动地摹画出柳树依依惜别的情态。那时词人登上高堤眺望故乡，别人的回归触动了自己的乡情。这个厌倦了京华生活的客子的怅惘与忧愁有谁能理解呢：“登临望故国，谁识京华倦客？”隋堤柳只管向行人拂水飘绵表示惜别之情，并没有顾到送行的京华倦客。其实，那欲归不得的倦客，他的心情才更悲凄。</p>
<p>　　接着，词人撇开自己，将思绪又引回到柳树上面：“长亭路，年去岁来，应折柔条过千尺。”古时驿路上十里一长亭，五里一短亭。亭是供人休息的地方，也是送别的地方。词人设想，在长亭路上，年复一年，送别时折断的柳条恐怕要超过千尺了。这几句表面看来是爱惜柳树，而深层的涵义却是感叹人间离别的频繁。情深意挚，耐人寻味。</p>
<p>　　上片借隋堤柳烘托了离别的气氛，中片便抒写自己的别情。“闲寻旧踪迹”这一句读时容易忽略。那“寻”字，并不是在隋堤上走来走去地寻找。“踪迹”，也不是自己到过的地方。“寻”是寻思、追忆、回想的意思。“踪迹”指往事而言。“闲寻旧踪迹”，就是追忆往事的意思。当船将开未开之际，词人忙着和人告别，不得闲静；这时船已启程，周围静了下来，自己的心也闲下来了，就很自然地要回忆京华的往事。这就是“闲寻”二字的意味。现代人也会有类似的经验，亲友到月台上送别，火车开动之前免不了有一番激动和热闹。等车开动以后，坐在车上静下心来，便去回想亲友的音容乃至别前的一些生活细节。这就是“闲寻旧踪迹”。此时周邦彦想起了：“又酒趁哀弦，灯照离席。梨花榆火催寒食。”有的注释说这是写眼前的送别，恐不妥。眼前如是“灯照离席”，已到夜晚，后面又说“斜阳冉冉”，时间就接不上。所以这应是船开以后寻思旧事。在寒食节前的一个晚上，情人为他送别。在送别的宴席上灯烛闪烁，伴着哀伤的乐曲饮酒。此情此景难以忘怀。这里的“又”字说明，从那次的离别宴会以后词人已不止一次地回忆，如今坐在船上又一次回想起那番情景。“梨花榆火催寒食”写明那次饯别的时间，寒食节在清明前一天，旧时风俗，寒食这天禁火，节后另取新火。唐制，清明取榆、柳之火以赐近臣。“催寒食”的“催”字有岁月匆匆之感。岁月匆匆，别期已至了。</p>
<p>　　“愁一箭风快，半篙波暖，回头迢递便数驿，望人在天北。”<a href="http://so.gushiwen.org/author_341.aspx">周济</a>《宋四家词选》曰：“一愁字代行者设想。”他认定作者是送行的人，所以只好作这样曲折的解释。其实这四句很有实感，不像设想之辞，应当是作者自己从船上回望岸边的所见所感。“愁一箭风快，半篙波暖，回头迢递便数驿”，风顺船疾，行人本应高兴，词里却用一“愁”字，这是因为有人让他留恋着。回头望去，那人已若远在天边，只见一个难辨的身影。“望人在天北”五字，包含着无限的怅惘与凄惋。</p>
<p>　　中片写乍别之际，下片写渐远以后。这两片的时间是连续的，感情却又有波澜。“凄恻，恨堆积！”船行愈远，遗憾愈重，一层一层堆积在心上难以排遣，也不想排遣。“渐别浦萦回，津堠岑寂。斜阳冉冉春无极”。从词开头的“柳阴直”看来，启程在中午，而这时已到傍晚。“渐”字也表明已经过了一段时间，不是刚刚分别时的情形了。这时望中之人早已不见，所见只有沿途风光。大水有小口旁通叫浦，别浦也就是水流分支的地方，那里水波回旋。因为已是傍晚，所以渡口冷冷清清的，只有守望所孤零零地立在那里。景物与词人的心情正相吻合。再加上斜阳冉冉西下，春色一望无边，空阔的背景越发衬出自身的孤单。他不禁又想起往事：“念月榭携手，露桥闻笛。沉思前事，似梦里，泪暗滴。”月榭之中，露桥之上，度过的那些夜晚，都留下了难忘的印象，宛如梦境似的，一一浮现在眼前。想到这里，不知不觉滴下了泪水。“暗滴”是背着人独自滴泪，自己的心事和感情无法使旁人理解，也不愿让旁人知道，只好暗息悲伤。</p>
<p>　　统观全词，萦回曲折，似浅实深，有吐不尽的心事流荡其中。无论景语、情语，都很耐人寻味。<a title="收起" href="javascript:shangxiClose(1850)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx1850" href="javascript:dingsx('1850','http://so.gushiwen.org/view.aspx?id=51015')">有用(109)</a><a id="paisx1850" style=" margin-left:10px;" href="javascript:paisx('1850','http://so.gushiwen.org/view.aspx?id=51015')">没用(26)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">唐圭璋 等．唐宋词鉴赏辞典（唐·五代·北宋）．上海：上海辞书出版社，1988：1034-1036</span>
</div>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">2、</span>
<span style="width:610px; float:left;">徐中玉 金启华．中国古代文学作品选（二）．上海：华东师范大学出版社，1999：96-98</span>
</div>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">创作背景<span style="display:none;">20213</span></h2>
　　自从清代<a href="http://so.gushiwen.org/author_341.aspx">周济</a>《宋四家词选》说这首词是“客中送客”以来，注家多采其说，认为是一首送别词。胡云翼先生《宋词选》更进而认为是“借送别来表达自己‘京华倦客’的抑郁心情。”把它解释为送别词固然不是讲不通，但毕竟不算十分贴切。其实这首词是<a href="http://so.gushiwen.org/author_164.aspx">周邦彦</a>写自己离开京华时的心情。此时他已倦游京华，却还留恋着那里的情人，回想和她来往的旧事，恋恋不舍地乘船离去。宋张端义《贵耳集》说周邦彦和名妓李师师相好，得罪了宋徽宗，被押出都门。李师师置酒送别时，周邦彦写了这首词。<a href="http://so.gushiwen.org/author_408.aspx">王国维</a>在《清真先生遗事》中已辨明其妄。但是这个传说至少可以说明，在宋代，人们是把它理解为周邦彦离开京华时所作。
</div>
<div class="dingpai">
<a id="dingsx20213" href="javascript:dingsx('20213','http://so.gushiwen.org/view.aspx?id=51015')">有用(31)</a><a id="paisx20213" style=" margin-left:10px;" href="javascript:paisx('20213','http://so.gushiwen.org/view.aspx?id=51015')">没用(7)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">唐圭璋 等．唐宋词鉴赏辞典（唐·五代·北宋）．上海：上海辞书出版社，1988：1034-1036</span>
</div>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor164">周邦彦（1056年－1121年），中国北宋末期著名的词人，字美成，号清真居士，汉族，钱塘（今浙江杭州）人。历官太学正、庐州教授、知溧水县等。徽宗时为徽猷阁待制，提举大晟府。精通音律，曾创作不少新词调。作品多写闺情、羁旅，也有咏物之作。格律谨严。语言典丽精雅。长调尤善铺叙。为后来格律派词人所宗。旧时词论称他为“词家之冠”。有《清真集》传世。http://so.gushiwen.org/author_164.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_164.aspx"><img src="http://img.gushiwen.org/authorImg/zhoubangyan.jpg" width="105" height="150" alt="周邦彦"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_164.aspx"><b>周邦彦</b></a></p>
<p style=" margin:0px;">周邦彦（1056年－1121年），中国北宋末期著名的词人，字美成，号清真居士，汉族，钱塘（今浙江杭州）人。历官太学正、庐州教授、知溧水县等。徽宗时为徽猷阁待制，提举大晟府。精通音律，曾创作不少新词调。作品多写闺情、羁旅，也有咏物之作。格律谨严。语言典丽精雅。长调尤善铺叙。为后来格律派词人所宗。旧时词论称他为“词家之冠”。有《清真集》传世。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=164&from=http://so.gushiwen.org/view.aspx?id=51015"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(164)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('164','http://m.gushiwen.org/author_164.aspx')" onmouseout="outweixinAuthor(164)"><img id="weixinAuthorImg164" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor164" href="javascript:goodAuthorNew('164','http://so.gushiwen.org/view.aspx?id=51015',464)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;464</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor164" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare8488">秋风清，秋月明，落叶聚还散，寒鸦栖复惊。相思相见知何日？此时此夜难为情！入我相思门，知我相思苦。长相思兮长相忆，短相思兮无穷极。早知如此绊人心，何如当初莫相识。——唐代·李白《三五七言 / 秋风词》http://so.gushiwen.org/view_8488.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(8488)" id="btnShangxi8488"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(8488)" id="btnZhushi8488"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(8488)" id="btnYiwen8488" />
<script type="text/javascript">
                        document.getElementById("btnShangxi8488").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi8488").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen8488").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_8488.aspx"><b>三五七言 / 秋风词</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e7%99%bd">李白</a></p>
<div class="contson" id="contson8488">
秋风清，秋月明，<br />落叶聚还散，寒鸦栖复惊。<br />相思相见知何日？此时此夜难为情！<br />入我相思门，知我相思苦。<br />长相思兮长相忆，短相思兮无穷极。<br />早知如此绊人心，何如当初莫相识。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=8488&from=http://so.gushiwen.org/view.aspx?id=51015"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(8488)"><img id="copyimg8488" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('8488','http://m.gushiwen.org/view_8488.aspx')" onmouseout="outweixin(8488)"><img id="weixinimg8488" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood8488" href="javascript:goodNew('8488','http://so.gushiwen.org/view.aspx?id=51015',4697)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;4697</span></a></div>
</div>
<div id="toolCopy8488" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin8488" style="background-color:aqua;"></div>
<div id="toolPlay8488" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e4%b8%89%e7%99%be%e9%a6%96">宋词三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%a7%8b%e5%a4%a9">秋天</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%8a%92%e6%83%85">抒情</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%9d%e5%bf%b5">思念</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%88%b1%e6%83%85">爱情</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare53502">曳杖危楼去。斗垂天、沧波万顷，月流烟渚。扫尽浮云风不定，未放扁舟夜渡。宿雁落、寒芦深处。怅望关河空吊影，正人间、鼻息鸣鼍鼓。谁伴我，醉中舞。 十年一梦扬州路。倚高寒、愁生故国，气吞骄虏。要斩楼兰三尺剑，遗恨琵琶旧语。谩暗涩铜华尘土。唤取谪仙平章看，过苕溪、尚许垂纶否。风浩荡，欲飞举。——宋代·张元干《贺新郎·寄李伯纪丞相》http://so.gushiwen.org/view_53502.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(53502)" id="btnShangxi53502"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(53502)" id="btnZhushi53502"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(53502)" id="btnYiwen53502" />
<script type="text/javascript">
                        document.getElementById("btnShangxi53502").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi53502").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen53502").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_53502.aspx"><b>贺新郎·寄李伯纪丞相</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%bc%a0%e5%85%83%e5%b9%b2">张元干</a></p>
<div class="contson" id="contson53502">
曳杖危楼去。斗垂天、沧波万顷，月流烟渚。扫尽浮云风不定，未放扁舟夜渡。宿雁落、寒芦深处。怅望关河空吊影，正人间、鼻息鸣鼍鼓。谁伴我，醉中舞。 <br />十年一梦扬州路。倚高寒、愁生故国，气吞骄虏。要斩楼兰三尺剑，遗恨琵琶旧语。谩暗涩铜华尘土。唤取谪仙平章看，过苕溪、尚许垂纶否。风浩荡，欲飞举。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=53502&from=http://so.gushiwen.org/view.aspx?id=51015"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(53502)"><img id="copyimg53502" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('53502','http://m.gushiwen.org/view_53502.aspx')" onmouseout="outweixin(53502)"><img id="weixinimg53502" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood53502" href="javascript:goodNew('53502','http://so.gushiwen.org/view.aspx?id=51015',23)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;23</span></a></div>
</div>
<div id="toolCopy53502" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin53502" style="background-color:aqua;"></div>
<div id="toolPlay53502" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e4%b8%89%e7%99%be%e9%a6%96">宋词三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e8%b1%aa%e6%94%be">豪放</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%99%bb%e9%ab%98">登高</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%ad%a4%e7%8b%ac">孤独</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare53501">忆昔午桥桥上饮，坐中多是豪英。长沟流月去无声。杏花疏影里，吹笛到天明。 二十余年如一梦，此身虽在堪惊。闲登小阁看新晴。古今多少事，渔唱起三更。——宋代·陈与义《临江仙·夜登小阁忆洛中旧游》http://so.gushiwen.org/view_53501.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(53501)" id="btnShangxi53501"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(53501)" id="btnZhushi53501"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(53501)" id="btnYiwen53501" />
<script type="text/javascript">
                        document.getElementById("btnShangxi53501").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi53501").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen53501").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_53501.aspx"><b>临江仙·夜登小阁忆洛中旧游</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e9%99%88%e4%b8%8e%e4%b9%89">陈与义</a></p>
<div class="contson" id="contson53501">
忆昔午桥桥上饮，坐中多是豪英。长沟流月去无声。杏花疏影里，吹笛到天明。 <br />二十余年如一梦，此身虽在堪惊。闲登小阁看新晴。古今多少事，渔唱起三更。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=53501&from=http://so.gushiwen.org/view.aspx?id=51015"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(53501)"><img id="copyimg53501" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('53501','http://m.gushiwen.org/view_53501.aspx')" onmouseout="outweixin(53501)"><img id="weixinimg53501" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood53501" href="javascript:goodNew('53501','http://so.gushiwen.org/view.aspx?id=51015',333)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;333</span></a></div>
</div>
<div id="toolCopy53501" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin53501" style="background-color:aqua;"></div>
<div id="toolPlay53501" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e4%b8%89%e7%99%be%e9%a6%96">宋词三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e8%b1%aa%e6%94%be">豪放</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%9b%9e%e5%bf%86">回忆</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%84%9f%e4%bc%a4">感伤</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5155.aspx">元宵佳节，融和天气，次第岂无风雨。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1354.aspx">长使英雄泪满襟，天意高难问。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
