
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
调笑原文、翻译及赏析_毛滂_古诗文网
</title>
<meta name="description" content="花好。怕花老。暖日和风将养到。东君须愿长年少。图不看花草草。西园一点红犹小。早被蜂儿知道。遣队歌长渐落杏梁尘。舞罢香风卷绣茵。更拟绿云弄清切，尊前恐有断肠人。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_51625.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_51625.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare51625">花好。怕花老。暖日和风将养到。东君须愿长年少。图不看花草草。西园一点红犹小。早被蜂儿知道。遣队歌长渐落杏梁尘。舞罢香风卷绣茵。更拟绿云弄清切，尊前恐有断肠人。——宋代·毛滂《调笑》http://so.gushiwen.org/view_51625.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(51625)" id="btnShangxi51625"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(51625)" id="btnZhushi51625"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(51625)" id="btnYiwen51625" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">调笑</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_710.aspx">毛滂</a> </p>
<div class="contson" id="contson51625">
花好。怕花老。暖日和风将养到。东君须愿长年少。图不看花草草。西园一点红犹小。早被蜂儿知道。遣队歌长渐落杏梁尘。舞罢香风卷绣茵。更拟绿云弄清切，尊前恐有断肠人。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=51625&from=http://so.gushiwen.org/view.aspx?id=51625"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(51625)"><img id="copyimg51625" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('51625','http://m.gushiwen.org/view_51625.aspx')" onmouseout="outweixin(51625)"><img id="weixinimg51625" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=51625"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=2352941182"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood51625" href="javascript:goodNew('51625','http://so.gushiwen.org/view.aspx?id=51625',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin51625" style="background-color:aqua;"></div>
<div id="toolPlay51625" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor710">毛滂，字泽民，衢州江山人，约生于嘉佑六年（1061），卒于宣和末年。有《东堂集》十卷和《东堂词》一卷传世。http://so.gushiwen.org/author_710.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_710.aspx"><b>毛滂</b></a></p>
<p style=" margin:0px;">毛滂，字泽民，衢州江山人，约生于嘉佑六年（1061），卒于宣和末年。有《东堂集》十卷和《东堂词》一卷传世。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=710&from=http://so.gushiwen.org/view.aspx?id=51625"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(710)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('710','http://m.gushiwen.org/author_710.aspx')" onmouseout="outweixinAuthor(710)"><img id="weixinAuthorImg710" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor710" href="javascript:goodAuthorNew('710','http://so.gushiwen.org/view.aspx?id=51625',211)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;211</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor710" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare63802">晓寒慵揭珠帘，牡丹院落花开未。玉栏干畔，柳丝一把，和风半倚。国色微酣，天香乍染，扶春不起。自真妃舞罢，谪仙赋后，繁华梦、如流水。池馆家家芳事。记当时、买栽无地。争如一朵，幽人独对，水边竹际。把酒花前，剩拚醉了，醒来还醉。怕洛中、春色匆匆，又入杜鹃声里。——宋代·王沂孙《水龙吟（牡丹）》http://so.gushiwen.org/view_63802.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(63802)" id="btnShangxi63802"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(63802)" id="btnZhushi63802"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(63802)" id="btnYiwen63802" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_63802.aspx"><b>水龙吟（牡丹）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e7%8e%8b%e6%b2%82%e5%ad%99">王沂孙</a></p>
<div class="contson" id="contson63802">
晓寒慵揭珠帘，牡丹院落花开未。玉栏干畔，柳丝一把，和风半倚。国色微酣，天香乍染，扶春不起。自真妃舞罢，谪仙赋后，繁华梦、如流水。
<br/>
池馆家家芳事。记当时、买栽无地。争如一朵，幽人独对，水边竹际。把酒花前，剩拚醉了，醒来还醉。怕洛中、春色匆匆，又入杜鹃声里。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=63802&from=http://so.gushiwen.org/view.aspx?id=51625"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(63802)"><img id="copyimg63802" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('63802','http://m.gushiwen.org/view_63802.aspx')" onmouseout="outweixin(63802)"><img id="weixinimg63802" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood63802" href="javascript:goodNew('63802','http://so.gushiwen.org/view.aspx?id=51625',4)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;4</span></a></div>
</div>
<div id="toolCopy63802" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin63802" style="background-color:aqua;"></div>
<div id="toolPlay63802" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare64449">雨萧萧、春寒欲暮。杜鹃声转□□。东风与汝何恩怨，强管人间去住。行且去。漫憔悴十年，愁得身成树。青青故宇。看浩荡灵修，徘徊落日，不乐复何故。曾听处。少日京华行路。青灯梦断无语。风林飒飒鸡声乱，摇落壮心如土。今又古。任啼到天明，清血流红雨。人生几许。且赢得刘郎，看花眼惯，懒复赋前度。——宋代·刘将孙《摸鱼儿（甲申客路闻鹃）》http://so.gushiwen.org/view_64449.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(64449)" id="btnShangxi64449"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(64449)" id="btnZhushi64449"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(64449)" id="btnYiwen64449" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_64449.aspx"><b>摸鱼儿（甲申客路闻鹃）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%88%98%e5%b0%86%e5%ad%99">刘将孙</a></p>
<div class="contson" id="contson64449">
雨萧萧、春寒欲暮。杜鹃声转□□。东风与汝何恩怨，强管人间去住。行且去。漫憔悴十年，愁得身成树。青青故宇。看浩荡灵修，徘徊落日，不乐复何故。
<br/>
曾听处。少日京华行路。青灯梦断无语。风林飒飒鸡声乱，摇落壮心如土。今又古。任啼到天明，清血流红雨。人生几许。且赢得刘郎，看花眼惯，懒复赋前度。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=64449&from=http://so.gushiwen.org/view.aspx?id=51625"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(64449)"><img id="copyimg64449" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('64449','http://m.gushiwen.org/view_64449.aspx')" onmouseout="outweixin(64449)"><img id="weixinimg64449" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood64449" href="javascript:goodNew('64449','http://so.gushiwen.org/view.aspx?id=51625',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy64449" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin64449" style="background-color:aqua;"></div>
<div id="toolPlay64449" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare52617">歆艳。有谓其韵俗者，使仆作语，为赋此曲寂寂江天，雪又满、晚来风急。空懊恨、散盐飞絮，未成轻集。万里长空飞不到，珠帘卷尽还羞入。问向晚、谁欲画渔莎，寒江立。天黯淡，催残日。波浩渺，添寒力。又何如聊遣，舞衣红湿。好与月娥临晚砌，莫教先放梅花拆。便准拟、一醉广寒宫，千山白。——宋代·周紫芝《满江红》http://so.gushiwen.org/view_52617.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(52617)" id="btnShangxi52617"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(52617)" id="btnZhushi52617"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(52617)" id="btnYiwen52617" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_52617.aspx"><b>满江红</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%91%a8%e7%b4%ab%e8%8a%9d">周紫芝</a></p>
<div class="contson" id="contson52617">
歆艳。有谓其韵俗者，使仆作语，为赋此曲
<br/>
寂寂江天，雪又满、晚来风急。空懊恨、散盐飞絮，未成轻集。万里长空飞不到，珠帘卷尽还羞入。问向晚、谁欲画渔莎，寒江立。
<br/>
天黯淡，催残日。波浩渺，添寒力。又何如聊遣，舞衣红湿。好与月娥临晚砌，莫教先放梅花拆。便准拟、一醉广寒宫，千山白。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=52617&from=http://so.gushiwen.org/view.aspx?id=51625"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(52617)"><img id="copyimg52617" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('52617','http://m.gushiwen.org/view_52617.aspx')" onmouseout="outweixin(52617)"><img id="weixinimg52617" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood52617" href="javascript:goodNew('52617','http://so.gushiwen.org/view.aspx?id=51625',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy52617" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin52617" style="background-color:aqua;"></div>
<div id="toolPlay52617" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1253.aspx">只恐双溪舴艋舟，载不动许多愁。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1251.aspx">羌管悠悠霜满地，人不寐，将军白发征夫泪。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
