
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
满庭芳（立春）原文、翻译及赏析_吴则礼_古诗文网
</title>
<meta name="description" content="声促铜壶，灰飞玉琯，梦惊偷换年华。江南芳信，疏影月横斜。又喜椒觞到手，宝胜里、仍翦金花。钗头燕，妆台弄粉，梅额故相夸。隼兴，人未老，东风袅袅，已傍高牙。渐园林月永，叠鼓凝笳。小字新" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_51814.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_51814.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare51814">声促铜壶，灰飞玉琯，梦惊偷换年华。江南芳信，疏影月横斜。又喜椒觞到手，宝胜里、仍翦金花。钗头燕，妆台弄粉，梅额故相夸。隼兴，人未老，东风袅袅，已傍高牙。渐园林月永，叠鼓凝笳。小字新传秀句，歌扇底、深把流霞。聊行乐，他时画省，归近紫皇家。——宋代·吴则礼《满庭芳（立春）》http://so.gushiwen.org/view_51814.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(51814)" id="btnShangxi51814"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(51814)" id="btnZhushi51814"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(51814)" id="btnYiwen51814" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">满庭芳（立春）</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_2286.aspx">吴则礼</a> </p>
<div class="contson" id="contson51814">
声促铜壶，灰飞玉琯，梦惊偷换年华。江南芳信，疏影月横斜。又喜椒觞到手，宝胜里、仍翦金花。钗头燕，妆台弄粉，梅额故相夸。
<br/>
隼兴，人未老，东风袅袅，已傍高牙。渐园林月永，叠鼓凝笳。小字新传秀句，歌扇底、深把流霞。聊行乐，他时画省，归近紫皇家。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=51814&from=http://so.gushiwen.org/view.aspx?id=51814"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(51814)"><img id="copyimg51814" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('51814','http://m.gushiwen.org/view_51814.aspx')" onmouseout="outweixin(51814)"><img id="weixinimg51814" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=51814"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=4652432828"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood51814" href="javascript:goodNew('51814','http://so.gushiwen.org/view.aspx?id=51814',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin51814" style="background-color:aqua;"></div>
<div id="toolPlay51814" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor2286">吴则礼 公元？年至一1121年字子副，富川（一作永兴，今湖北阳新）人。生年不详，卒于宋徽宗宣和三年。以父荫入仕。会为军器监主簿，因事谪荆州。官至直秘阁，知虢州。工诗，与唐庚、曾纡、陈道诸名士唱和。晚年居豫章，自号北湖居士。则礼著有北湖集十卷，长短句一卷，《书录解题》并傅于代。http://so.gushiwen.org/author_2286.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_2286.aspx"><b>吴则礼</b></a></p>
<p style=" margin:0px;">吴则礼 公元？年至一1121年字子副，富川（一作永兴，今湖北阳新）人。生年不详，卒于宋徽宗宣和三年。以父荫入仕。会为军器监主簿，因事谪荆州。官至直秘阁，知虢州。工诗，与唐庚、曾纡、陈道诸名士唱和。晚年居豫章，自号北湖居士。则礼著有北湖集十卷，长短句一卷，《书录解题》并傅于代。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=2286&from=http://so.gushiwen.org/view.aspx?id=51814"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(2286)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('2286','http://m.gushiwen.org/author_2286.aspx')" onmouseout="outweixinAuthor(2286)"><img id="weixinAuthorImg2286" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor2286" href="javascript:goodAuthorNew('2286','http://so.gushiwen.org/view.aspx?id=51814',0)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;0</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor2286" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare55156">梅欲开时，君欲去、花谁同折。应怅望、江津千树，晚烟明雪。花似故人相见好，人如塞雁多离别。待留君、重看水边花，花边月。台城路，山如阙。追往事，伤时节。但春风春雨，古人愁绝。多少扬州诗兴在，直须清梦翻胡蝶。问他年、谁记饮中仙，花应说。——宋代·韩元吉《满江红（丁亥示庞祐甫）》http://so.gushiwen.org/view_55156.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(55156)" id="btnShangxi55156"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(55156)" id="btnZhushi55156"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(55156)" id="btnYiwen55156" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_55156.aspx"><b>满江红（丁亥示庞祐甫）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e9%9f%a9%e5%85%83%e5%90%89">韩元吉</a></p>
<div class="contson" id="contson55156">
梅欲开时，君欲去、花谁同折。应怅望、江津千树，晚烟明雪。花似故人相见好，人如塞雁多离别。待留君、重看水边花，花边月。
<br/>
台城路，山如阙。追往事，伤时节。但春风春雨，古人愁绝。多少扬州诗兴在，直须清梦翻胡蝶。问他年、谁记饮中仙，花应说。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=55156&from=http://so.gushiwen.org/view.aspx?id=51814"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(55156)"><img id="copyimg55156" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('55156','http://m.gushiwen.org/view_55156.aspx')" onmouseout="outweixin(55156)"><img id="weixinimg55156" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood55156" href="javascript:goodNew('55156','http://so.gushiwen.org/view.aspx?id=51814',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy55156" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin55156" style="background-color:aqua;"></div>
<div id="toolPlay55156" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare56978">一夜春寒透锦帏。满庭花露起多时。垒金梳子双双耍，铺翠花儿袅袅垂。人去后，信来稀。等闲屈指数归期。门前恰限行人至，喜鹊如何圣得知。——宋代·吕胜己《鹧鸪天》http://so.gushiwen.org/view_56978.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(56978)" id="btnShangxi56978"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(56978)" id="btnZhushi56978"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(56978)" id="btnYiwen56978" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_56978.aspx"><b>鹧鸪天</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%90%95%e8%83%9c%e5%b7%b1">吕胜己</a></p>
<div class="contson" id="contson56978">
一夜春寒透锦帏。满庭花露起多时。垒金梳子双双耍，铺翠花儿袅袅垂。
<br/>
人去后，信来稀。等闲屈指数归期。门前恰限行人至，喜鹊如何圣得知。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=56978&from=http://so.gushiwen.org/view.aspx?id=51814"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(56978)"><img id="copyimg56978" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('56978','http://m.gushiwen.org/view_56978.aspx')" onmouseout="outweixin(56978)"><img id="weixinimg56978" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood56978" href="javascript:goodNew('56978','http://so.gushiwen.org/view.aspx?id=51814',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy56978" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin56978" style="background-color:aqua;"></div>
<div id="toolPlay56978" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare50211">天上粉云如扫。放小楼清晓。古今何处想风流，最潇洒、龙山帽。人似年华易老。且芳樽频倒。西风于我更多情，露金靥、篱边笑。——宋代·李元膺《一落索》http://so.gushiwen.org/view_50211.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(50211)" id="btnShangxi50211"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(50211)" id="btnZhushi50211"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(50211)" id="btnYiwen50211" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_50211.aspx"><b>一落索</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e5%85%83%e8%86%ba">李元膺</a></p>
<div class="contson" id="contson50211">
天上粉云如扫。放小楼清晓。古今何处想风流，最潇洒、龙山帽。
<br/>
人似年华易老。且芳樽频倒。西风于我更多情，露金靥、篱边笑。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=50211&from=http://so.gushiwen.org/view.aspx?id=51814"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(50211)"><img id="copyimg50211" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('50211','http://m.gushiwen.org/view_50211.aspx')" onmouseout="outweixin(50211)"><img id="weixinimg50211" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood50211" href="javascript:goodNew('50211','http://so.gushiwen.org/view.aspx?id=51814',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy50211" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin50211" style="background-color:aqua;"></div>
<div id="toolPlay50211" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2356.aspx">飒飒东风细雨来，芙蓉塘外有轻雷。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5504.aspx">下马登邺城，城空复何见。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
