
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
蝶恋花原文、翻译及赏析_王安中_古诗文网
</title>
<meta name="description" content="花发自迎春。雪霁花梢春欲到。饯腊迎春，一夜花开早。青帝回舆云缥缈。鲜鲜金雀来飞绕。绣阁纱窗人窈窕。翠缕红丝，斗剪幡儿小。戴在花枝争笑道。愿人常共春难老。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_51882.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_51882.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare51882">花发自迎春。雪霁花梢春欲到。饯腊迎春，一夜花开早。青帝回舆云缥缈。鲜鲜金雀来飞绕。绣阁纱窗人窈窕。翠缕红丝，斗剪幡儿小。戴在花枝争笑道。愿人常共春难老。——宋代·王安中《蝶恋花》http://so.gushiwen.org/view_51882.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(51882)" id="btnShangxi51882"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(51882)" id="btnZhushi51882"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(51882)" id="btnYiwen51882" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">蝶恋花</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_2873.aspx">王安中</a> </p>
<div class="contson" id="contson51882">
花发自迎春。
<br/>
雪霁花梢春欲到。饯腊迎春，一夜花开早。青帝回舆云缥缈。鲜鲜金雀来飞绕。
<br/>
绣阁纱窗人窈窕。翠缕红丝，斗剪幡儿小。戴在花枝争笑道。愿人常共春难老。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=51882&from=http://so.gushiwen.org/view.aspx?id=51882"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(51882)"><img id="copyimg51882" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('51882','http://m.gushiwen.org/view_51882.aspx')" onmouseout="outweixin(51882)"><img id="weixinimg51882" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=51882"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=0264849158"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood51882" href="javascript:goodNew('51882','http://so.gushiwen.org/view.aspx?id=51882',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin51882" style="background-color:aqua;"></div>
<div id="toolPlay51882" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor2873">王安中(1075～1134) 北宋末、南宋初词人。字履道，号初寮。中山阳曲（今山西太原）人。年青时曾从师苏轼、晁说之。晁教以为学当谨初，故牓其室为初寮。哲宗元符三年(1100)进士。徽宗时历任翰林学士、尚书右丞。以谄事宦官梁师成、交结蔡攸获进，又附和宦官童贯、大臣王黼，赞成复燕山之议，出镇燕山府。后又任建雄军节度使、大名府尹兼北京留守司公事。靖康初，被贬送象州安置。高宗即位，又内徙道州，复任左中大夫，不久去世。http://so.gushiwen.org/author_2873.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_2873.aspx"><img src="http://img.gushiwen.org/authorImg/wanganzhong.jpg" width="105" height="150" alt="王安中"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_2873.aspx"><b>王安中</b></a></p>
<p style=" margin:0px;">王安中(1075～1134) 北宋末、南宋初词人。字履道，号初寮。中山阳曲（今山西太原）人。年青时曾从师苏轼、晁说之。晁教以为学当谨初，故牓其室为初寮。哲宗元符三年(1100)进士。徽宗时历任翰林学士、尚书右丞。以谄事宦官梁师成、交结蔡攸获进，又附和宦官童贯、大臣王黼，赞成复燕山之议，出镇燕山府。后又任建雄军节度使、大名府尹兼北京留守司公事。靖康初，被贬送象州安置。高宗即位，又内徙道州，复任左中大夫，不久去世。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=2873&from=http://so.gushiwen.org/view.aspx?id=51882"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(2873)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('2873','http://m.gushiwen.org/author_2873.aspx')" onmouseout="outweixinAuthor(2873)"><img id="weixinAuthorImg2873" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor2873" href="javascript:goodAuthorNew('2873','http://so.gushiwen.org/view.aspx?id=51882',0)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;0</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor2873" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare59300">媚景良时，无非是、三春富贵。花共柳、著工夫染，嫩红轻翠。日丽风和薰协气。莺吟燕舞皆欢意。况生辰、恰恰值清明，笙歌沸。分天派，真龙裔。到月殿，攀仙桂。看眉间黄色，诏书将至。莫向蓝田分佐理。便趋紫禁参朝对。问玉皇、仙籍注长生，三千岁。——宋代·卢炳《满江红（贺赵县丞）》http://so.gushiwen.org/view_59300.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(59300)" id="btnShangxi59300"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(59300)" id="btnZhushi59300"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(59300)" id="btnYiwen59300" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_59300.aspx"><b>满江红（贺赵县丞）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%8d%a2%e7%82%b3">卢炳</a></p>
<div class="contson" id="contson59300">
媚景良时，无非是、三春富贵。花共柳、著工夫染，嫩红轻翠。日丽风和薰协气。莺吟燕舞皆欢意。况生辰、恰恰值清明，笙歌沸。
<br/>
分天派，真龙裔。到月殿，攀仙桂。看眉间黄色，诏书将至。莫向蓝田分佐理。便趋紫禁参朝对。问玉皇、仙籍注长生，三千岁。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=59300&from=http://so.gushiwen.org/view.aspx?id=51882"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(59300)"><img id="copyimg59300" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('59300','http://m.gushiwen.org/view_59300.aspx')" onmouseout="outweixin(59300)"><img id="weixinimg59300" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood59300" href="javascript:goodNew('59300','http://so.gushiwen.org/view.aspx?id=51882',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy59300" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin59300" style="background-color:aqua;"></div>
<div id="toolPlay59300" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare53735">风约晴云，花干宿露，帘幕万家清晓。青帘赛酒，小坞藏春，冶叶艳枝相照。羊驾小车，笑逐游人，远迷芳草。更红英飞舞，绣茵连接，雾台烟沼。年少日、细马戎鞯，红靴玉带，同指软尘西笑。珍珠戏掷，彩笔搜奇，不觉暮春莺老。谁见这回，霜点髯髯衰，事萦怀抱。诉一春心事，燕子周遮来了。——宋代·吕渭老《选冠子》http://so.gushiwen.org/view_53735.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(53735)" id="btnShangxi53735"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(53735)" id="btnZhushi53735"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(53735)" id="btnYiwen53735" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_53735.aspx"><b>选冠子</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%90%95%e6%b8%ad%e8%80%81">吕渭老</a></p>
<div class="contson" id="contson53735">
风约晴云，花干宿露，帘幕万家清晓。青帘赛酒，小坞藏春，冶叶艳枝相照。羊驾小车，笑逐游人，远迷芳草。更红英飞舞，绣茵连接，雾台烟沼。
<br/>
年少日、细马戎鞯，红靴玉带，同指软尘西笑。珍珠戏掷，彩笔搜奇，不觉暮春莺老。谁见这回，霜点髯髯衰，事萦怀抱。诉一春心事，燕子周遮来了。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=53735&from=http://so.gushiwen.org/view.aspx?id=51882"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(53735)"><img id="copyimg53735" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('53735','http://m.gushiwen.org/view_53735.aspx')" onmouseout="outweixin(53735)"><img id="weixinimg53735" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood53735" href="javascript:goodNew('53735','http://so.gushiwen.org/view.aspx?id=51882',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy53735" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin53735" style="background-color:aqua;"></div>
<div id="toolPlay53735" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare60811">绮窗拨断琵琶索，一一相思。一一相思。无限柔情说似谁。银钩欲写回文曲，泪满乌丝。泪满乌丝。薄幸知他知不知。——宋代·黄机《丑奴儿》http://so.gushiwen.org/view_60811.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(60811)" id="btnShangxi60811"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(60811)" id="btnZhushi60811"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(60811)" id="btnYiwen60811" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_60811.aspx"><b>丑奴儿</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e9%bb%84%e6%9c%ba">黄机</a></p>
<div class="contson" id="contson60811">
绮窗拨断琵琶索，一一相思。一一相思。无限柔情说似谁。
<br/>
银钩欲写回文曲，泪满乌丝。泪满乌丝。薄幸知他知不知。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=60811&from=http://so.gushiwen.org/view.aspx?id=51882"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(60811)"><img id="copyimg60811" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('60811','http://m.gushiwen.org/view_60811.aspx')" onmouseout="outweixin(60811)"><img id="weixinimg60811" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood60811" href="javascript:goodNew('60811','http://so.gushiwen.org/view.aspx?id=51882',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy60811" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin60811" style="background-color:aqua;"></div>
<div id="toolPlay60811" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1978.aspx">绕遍回廊还独坐。月笼云暗重门锁。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3462.aspx">涛澜汹涌，风云开阖。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
