
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
阮郎归原文、翻译及赏析_曹组_古诗文网
</title>
<meta name="description" content="檐头风珮响丁东。帘疏烛影红。秋千人散月溶溶。楼台花气中。春酒醒，夜寒浓。绣衾谁与同。只愁梦短不相逢。觉来罗帐空。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_52161.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_52161.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare52161">檐头风珮响丁东。帘疏烛影红。秋千人散月溶溶。楼台花气中。春酒醒，夜寒浓。绣衾谁与同。只愁梦短不相逢。觉来罗帐空。——宋代·曹组《阮郎归》http://so.gushiwen.org/view_52161.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(52161)" id="btnShangxi52161"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(52161)" id="btnZhushi52161"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(52161)" id="btnYiwen52161" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">阮郎归</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_537.aspx">曹组</a> </p>
<div class="contson" id="contson52161">
檐头风珮响丁东。帘疏烛影红。秋千人散月溶溶。楼台花气中。
<br/>
春酒醒，夜寒浓。绣衾谁与同。只愁梦短不相逢。觉来罗帐空。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=52161&from=http://so.gushiwen.org/view.aspx?id=52161"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(52161)"><img id="copyimg52161" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('52161','http://m.gushiwen.org/view_52161.aspx')" onmouseout="outweixin(52161)"><img id="weixinimg52161" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=52161"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=9640099503"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood52161" href="javascript:goodNew('52161','http://so.gushiwen.org/view.aspx?id=52161',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div class="toolerweima" id="weixin52161" style="background-color:aqua;"></div>
<div id="toolPlay52161" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor537">曹组，北宋词人。生卒年不详。字元宠。颍昌（今河南许昌）人。一说阳翟（今河南禹县）人。曾官睿思殿应制，因占对才敏，深得宋徽宗宠幸，奉诏作《艮岳百咏》诗。约于徽宗末年去世。存词36首。曹组的词以&quot;侧艳&quot;和&quot;滑稽下俚&quot;著称，在北宋末曾传唱一时，浅薄无聊者纷纷仿效。但在南宋初却受到有识者的批评，甚至鄙弃。一些词描写其羁旅生活，感受真切，境界颇为深远，无论手法、情韵，都与柳永词有继承关系。http://so.gushiwen.org/author_537.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_537.aspx"><b>曹组</b></a></p>
<p style=" margin:0px;">曹组，北宋词人。生卒年不详。字元宠。颍昌（今河南许昌）人。一说阳翟（今河南禹县）人。曾官睿思殿应制，因占对才敏，深得宋徽宗宠幸，奉诏作《艮岳百咏》诗。约于徽宗末年去世。存词36首。曹组的词以&quot;侧艳&quot;和&quot;滑稽下俚&quot;著称，在北宋末曾传唱一时，浅薄无聊者纷纷仿效。但在南宋初却受到有识者的批评，甚至鄙弃。一些词描写其羁旅生活，感受真切，境界颇为深远，无论手法、情韵，都与柳永词有继承关系。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=537&from=http://so.gushiwen.org/view.aspx?id=52161"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(537)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('537','http://m.gushiwen.org/author_537.aspx')" onmouseout="outweixinAuthor(537)"><img id="weixinAuthorImg537" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor537" href="javascript:goodAuthorNew('537','http://so.gushiwen.org/view.aspx?id=52161',40)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;40</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor537" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare53726">风荐荷香翦翦，月行竹影徐徐。微闻环佩过庭除。恐是阳台行雨。玉笋轻笼乐句，流莺夜转诗余。酒酣风劲露凝珠。我欲骖鸾归去。——宋代·邓肃《西江月（二之二）》http://so.gushiwen.org/view_53726.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(53726)" id="btnShangxi53726"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(53726)" id="btnZhushi53726"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(53726)" id="btnYiwen53726" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_53726.aspx"><b>西江月（二之二）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e9%82%93%e8%82%83">邓肃</a></p>
<div class="contson" id="contson53726">
风荐荷香翦翦，月行竹影徐徐。微闻环佩过庭除。恐是阳台行雨。玉笋轻笼乐句，流莺夜转诗余。酒酣风劲露凝珠。我欲骖鸾归去。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=53726&from=http://so.gushiwen.org/view.aspx?id=52161"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(53726)"><img id="copyimg53726" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('53726','http://m.gushiwen.org/view_53726.aspx')" onmouseout="outweixin(53726)"><img id="weixinimg53726" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood53726" href="javascript:goodNew('53726','http://so.gushiwen.org/view.aspx?id=52161',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy53726" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin53726" style="background-color:aqua;"></div>
<div id="toolPlay53726" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare51305">体上衣裳云作缕。不论寒暑。世间多少老婆禅，犹苦问、台山路。堪笑庞翁无趣。临行却住。古人公案不须论，还了得、如今否。——宋代·陈瓘《一落索》http://so.gushiwen.org/view_51305.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(51305)" id="btnShangxi51305"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(51305)" id="btnZhushi51305"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(51305)" id="btnYiwen51305" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_51305.aspx"><b>一落索</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e9%99%88%e7%93%98%ee%8d%bc">陈瓘</a></p>
<div class="contson" id="contson51305">
体上衣裳云作缕。不论寒暑。世间多少老婆禅，犹苦问、台山路。
<br/>
堪笑庞翁无趣。临行却住。古人公案不须论，还了得、如今否。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=51305&from=http://so.gushiwen.org/view.aspx?id=52161"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(51305)"><img id="copyimg51305" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('51305','http://m.gushiwen.org/view_51305.aspx')" onmouseout="outweixin(51305)"><img id="weixinimg51305" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood51305" href="javascript:goodNew('51305','http://so.gushiwen.org/view.aspx?id=52161',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy51305" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin51305" style="background-color:aqua;"></div>
<div id="toolPlay51305" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare68936">凉吹拂衣袂，助我上高台。云檐风栋，窗户绝纤埃。四绕江山雄丽，万古盘龙踞虎，壮气锁崔嵬。二水中分远，艇子自归来。望白云，迎碧汉，俯长淮。铎声到耳，亭亭孤塔现林隈。烟惹宫城深树，日照酒楼帘幕，物象眼前排。长啸下梯径，欲去更徘徊。——宋代·白君瑞《水调歌头》http://so.gushiwen.org/view_68936.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(68936)" id="btnShangxi68936"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(68936)" id="btnZhushi68936"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(68936)" id="btnYiwen68936" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_68936.aspx"><b>水调歌头</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e7%99%bd%e5%90%9b%e7%91%9e">白君瑞</a></p>
<div class="contson" id="contson68936">
凉吹拂衣袂，助我上高台。云檐风栋，窗户绝纤埃。四绕江山雄丽，万古盘龙踞虎，壮气锁崔嵬。二水中分远，艇子自归来。
<br/>
望白云，迎碧汉，俯长淮。铎声到耳，亭亭孤塔现林隈。烟惹宫城深树，日照酒楼帘幕，物象眼前排。长啸下梯径，欲去更徘徊。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=68936&from=http://so.gushiwen.org/view.aspx?id=52161"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(68936)"><img id="copyimg68936" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('68936','http://m.gushiwen.org/view_68936.aspx')" onmouseout="outweixin(68936)"><img id="weixinimg68936" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood68936" href="javascript:goodNew('68936','http://so.gushiwen.org/view.aspx?id=52161',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy68936" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin68936" style="background-color:aqua;"></div>
<div id="toolPlay68936" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1271.aspx">世情薄，人情恶，雨送黄昏花易落。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3762.aspx">两岸桃花烘日出，四围高柳到天垂。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
