
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
蝶恋花原文、翻译及赏析_王庭_古诗文网
</title>
<meta name="description" content="罨画楼中人已醉。别院微闻，笑语帘垂地。催唤倾城香雾起。翠帷双卷春风里。妆样尖新歌妙丽。满酌金尊，不信人憔悴。饥客眼寒谁管你。主人见惯浑闲事。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_52202.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_52202.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare52202">罨画楼中人已醉。别院微闻，笑语帘垂地。催唤倾城香雾起。翠帷双卷春风里。妆样尖新歌妙丽。满酌金尊，不信人憔悴。饥客眼寒谁管你。主人见惯浑闲事。——宋代·王庭《蝶恋花》http://so.gushiwen.org/view_52202.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(52202)" id="btnShangxi52202"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(52202)" id="btnZhushi52202"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(52202)" id="btnYiwen52202" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">蝶恋花</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e7%8e%8b%e5%ba%ad%ee%8e%83">王庭</a> </p>
<div class="contson" id="contson52202">
罨画楼中人已醉。别院微闻，笑语帘垂地。催唤倾城香雾起。翠帷双卷春风里。
<br/>
妆样尖新歌妙丽。满酌金尊，不信人憔悴。饥客眼寒谁管你。主人见惯浑闲事。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=52202&from=http://so.gushiwen.org/view.aspx?id=52202"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(52202)"><img id="copyimg52202" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('52202','http://m.gushiwen.org/view_52202.aspx')" onmouseout="outweixin(52202)"><img id="weixinimg52202" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=52202"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=6269161350"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood52202" href="javascript:goodNew('52202','http://so.gushiwen.org/view.aspx?id=52202',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin52202" style="background-color:aqua;"></div>
<div id="toolPlay52202" style=" display:none;clear:both;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare52594">矣。郡人以扶疏高花，绝胜水南。因为解嘲，呈元寿知县路入云岩山窈窕。岩花滴露花头小。香共西风吹得到。秋欲杪。天还未放秋容老。谁道水南花不好。犹胜金蕊浑如扫。留取光阴重一笑。须是早。黄花更惜重阳帽。——宋代·周紫芝《渔家傲》http://so.gushiwen.org/view_52594.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(52594)" id="btnShangxi52594"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(52594)" id="btnZhushi52594"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(52594)" id="btnYiwen52594" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_52594.aspx"><b>渔家傲</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%91%a8%e7%b4%ab%e8%8a%9d">周紫芝</a></p>
<div class="contson" id="contson52594">
矣。郡人以扶疏高花，绝胜水南。因为解嘲，呈元寿知县
<br/>
路入云岩山窈窕。岩花滴露花头小。香共西风吹得到。秋欲杪。天还未放秋容老。
<br/>
谁道水南花不好。犹胜金蕊浑如扫。留取光阴重一笑。须是早。黄花更惜重阳帽。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=52594&from=http://so.gushiwen.org/view.aspx?id=52202"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(52594)"><img id="copyimg52594" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('52594','http://m.gushiwen.org/view_52594.aspx')" onmouseout="outweixin(52594)"><img id="weixinimg52594" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood52594" href="javascript:goodNew('52594','http://so.gushiwen.org/view.aspx?id=52202',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy52594" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin52594" style="background-color:aqua;"></div>
<div id="toolPlay52594" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare60939">一别蓬莱馆。看桑田成海，又见松枯石烂。目断虚皇无极处，安得殿头宣唤。指归路、钧天早晚。此去罡风三万里，但九霞、渺渺青云远。望不极，空泪眼。瑶池昔会群仙宴。此秋来、荻花枫叶，令人凄惋。满面朱尘那忍见，酒病花愁何限。知几度、春莺秋雁。从此飞神腾碧落，向清都、来往应无间。丹渐熟，骨将换。——宋代·葛长庚《贺新郎》http://so.gushiwen.org/view_60939.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(60939)" id="btnShangxi60939"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(60939)" id="btnZhushi60939"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(60939)" id="btnYiwen60939" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_60939.aspx"><b>贺新郎</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%91%9b%e9%95%bf%e5%ba%9a">葛长庚</a></p>
<div class="contson" id="contson60939">
一别蓬莱馆。看桑田成海，又见松枯石烂。目断虚皇无极处，安得殿头宣唤。指归路、钧天早晚。此去罡风三万里，但九霞、渺渺青云远。望不极，空泪眼。
<br/>
瑶池昔会群仙宴。此秋来、荻花枫叶，令人凄惋。满面朱尘那忍见，酒病花愁何限。知几度、春莺秋雁。从此飞神腾碧落，向清都、来往应无间。丹渐熟，骨将换。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=60939&from=http://so.gushiwen.org/view.aspx?id=52202"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(60939)"><img id="copyimg60939" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('60939','http://m.gushiwen.org/view_60939.aspx')" onmouseout="outweixin(60939)"><img id="weixinimg60939" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood60939" href="javascript:goodNew('60939','http://so.gushiwen.org/view.aspx?id=52202',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy60939" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin60939" style="background-color:aqua;"></div>
<div id="toolPlay60939" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare52747">不见玉人清晓。长啸一声云杪。碧水满阑塘，竹外一枝风袅。奇妙。奇妙。半夜山空月皎。——宋代·李祁《如梦令》http://so.gushiwen.org/view_52747.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(52747)" id="btnShangxi52747"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(52747)" id="btnZhushi52747"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(52747)" id="btnYiwen52747" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_52747.aspx"><b>如梦令</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e7%a5%81">李祁</a></p>
<div class="contson" id="contson52747">
不见玉人清晓。长啸一声云杪。碧水满阑塘，竹外一枝风袅。奇妙。奇妙。半夜山空月皎。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=52747&from=http://so.gushiwen.org/view.aspx?id=52202"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(52747)"><img id="copyimg52747" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('52747','http://m.gushiwen.org/view_52747.aspx')" onmouseout="outweixin(52747)"><img id="weixinimg52747" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood52747" href="javascript:goodNew('52747','http://so.gushiwen.org/view.aspx?id=52202',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy52747" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin52747" style="background-color:aqua;"></div>
<div id="toolPlay52747" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3697.aspx">霜雪兮漼溰，冰冻兮洛泽。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4612.aspx">黑发不知勤学早，白首方悔读书迟。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
