
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
浣溪沙·小院闲窗春色深原文、翻译及赏析_李清照_古诗文网
</title>
<meta name="description" content="小院闲窗春已深，重帘未卷影沉沉。倚楼无语理瑶琴。(春已深 一作：春色深)远岫出云催薄暮，细风吹雨弄轻阴。梨花欲谢恐难禁。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_52847.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_52847.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare52847">小院闲窗春已深，重帘未卷影沉沉。倚楼无语理瑶琴。(春已深 一作：春色深)远岫出云催薄暮，细风吹雨弄轻阴。梨花欲谢恐难禁。——宋代·李清照《浣溪沙·小院闲窗春色深》http://so.gushiwen.org/view_52847.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(52847)" id="btnShangxi52847"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(52847)" id="btnZhushi52847"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(52847)" id="btnYiwen52847" />
<script type="text/javascript">
                        document.getElementById("btnShangxi52847").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi52847").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen52847").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">浣溪沙·小院闲窗春色深</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_536.aspx">李清照</a> </p>
<div class="contson" id="contson52847">
小院闲窗春已深，重帘未卷影沉沉。倚楼无语理瑶琴。(春已深 一作：春色深)<br />远岫出云催薄暮，细风吹雨弄轻阴。梨花欲谢恐难禁。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=52847&from=http://so.gushiwen.org/view.aspx?id=52847"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(52847)"><img id="copyimg52847" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('52847','http://m.gushiwen.org/view_52847.aspx')" onmouseout="outweixin(52847)"><img id="weixinimg52847" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=52847"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=1196246986"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood52847" href="javascript:goodNew('52847','http://so.gushiwen.org/view.aspx?id=52847',597)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;597</span></a></div>
</div>
<div class="toolerweima" id="weixin52847" style="background-color:aqua;"></div>
<div id="toolPlay52847" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e9%97%ba%e6%80%a8">闺怨</a>
<span>，</span><a href="/type.aspx?p=1&t=%e4%bc%a4%e6%98%a5">伤春</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%80%e4%ba%ba">怀人</a>
</div>
</div>
<div id="fanyi13376" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="fanyiShow(13376)"></div>
<h2 style="margin-bottom:10px;font-weight:bold; font-size:16px;">译文及注释</h2>
<p>译文<br />透过窗子看见小院内的春天的景色将流逝。层层厚重的门帘没有卷起，幽暗的闺房中显得暗影沉沉。倚在绣楼阑干上寂寞无语地轻轻拨弄着瑶琴。<br />远处山峰上云雾缭绕看起来黄昏即将来临，暮色中的轻风吹动着细雨，拨弄着暗淡的轻云。院子里的梨花即将凋谢恐怕连这斜风细雨都难以承受，真让人伤景。</p>
<p>注释<br />[1]浣溪沙：唐教坊曲名，因春秋时期人西施浣纱于若耶溪而得名，后用作词牌名，又名“浣溪纱”“小庭花”等。春景：《草堂诗余》（杨金本无题）等题作“春景”。<br />[2]闲窗：雕花和护栏的窗子。闲，阑也。闲窗，一般用作幽闲之意。“已”字有些版本作“色”字。
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:fanyiShow(13376)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="fanyiquan13376" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">译文及注释</h2>
<p><strong>译文</strong><br />透过窗子看见小院内的春天的景色将流逝。层层厚重的门帘没有卷起，幽暗的闺房中显得暗影沉沉。倚在绣楼阑干上寂寞无语地轻轻拨弄着瑶琴。<br />远处山峰上云雾缭绕看起来黄昏即将来临，暮色中的轻风吹动着细雨，拨弄着暗淡的轻云。院子里的梨花即将凋谢恐怕连这斜风细雨都难以承受，真让人伤景。</p>
<p><strong>注释</strong><br />[1]浣溪沙：唐教坊曲名，因春秋时期人西施浣纱于若耶溪而得名，后用作词牌名，又名“浣溪纱”“小庭花”等。春景：《草堂<a href="http://so.gushiwen.org/view_52847.aspx">诗</a>余》（杨金本无题）等题作“春景”。<br />[2]闲窗：雕花和护栏的窗子。闲，阑也。闲窗，一般用作幽闲之意。“已”字有些版本作“色”字。<br />[3]重帘：层层帘幕。沉沉：指闺房幽暗，意指深邃。五代·<a href="http://so.gushiwen.org/author_455.aspx">孙光宪</a>《河渎神》：“小殿沉沉清夜，银灯飘落香池。”<br />[4]理：拨弄。瑶琴：饰玉的琴，即玉琴。也作为琴的美称，泛指古琴。<br />[5]远岫：远山。岫：山峰。薄暮：日将落日薄暮，意指黄昏。<a href="http://so.gushiwen.org/author_510.aspx">范仲淹</a>《岳阳楼记》：“薄暮冥冥，虎啸猿啼。”宋代韩淲《蝶恋花》：“斜日清霜山薄暮。行到桥东，林竹疑无路”<br />[6]轻阴：暗淡的轻云。唐·<a href="http://so.gushiwen.org/author_15.aspx">张旭</a>《山行留客》：“山光物态弄春晖，莫为轻阴晚自开，青春白日映楼台”。<br />[7]“梨花”句:意谓梨花盛开之日正春色浓郁之时，而它的凋落使人为之格外伤感，甚至难以禁受。难禁：难以阻止。 <a title="收起" href="javascript:fanyiClose(13376)">▲</a></p>
</div>
<div class="dingpai">
<a id="ding13376" href="javascript:ding('13376','http://so.gushiwen.org/view.aspx?id=52847')">有用(55)</a><a id="pai13376" style=" margin-left:10px;" href="javascript:pai('13376','http://so.gushiwen.org/view.aspx?id=52847')">没用(15)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">杨合林.李清照集.[M].湖南:岳麓书社出版社,1999年.</span>
</div>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">2、</span>
<span style="width:610px; float:left;">陈祖美.李清照诗词文选评.[M].上海:上海古籍出版社,2002.</span>
</div>
</div>
</div>
<div id="shangxi10706" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(10706)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">解析</h2>
<p>　　词的上片主要描写环境，下片着重刻划景物。</p>
<p>　　起句中的“小院”点明词中女主人公所在之地。这小院荫蔽在春色已深、绿树繁花中，天快黑了，楼上窗子一直闲掩着。庭院中未见人来往，窗棂间没有燕穿帘，显得寥廓落漠，真可谓深闺似海！</p>
<p>　　第二句写少女身处这深院之中，感到孤零岑寂、凄苦难言，一任帘幕低垂；因是重帘，室内光线暗淡。沉沉，是形容室内深邃。这里“影沉沉”不是说夕阳投影拉得很长很长，而是说室内阴暗，更觉黑黝黝的。</p>
<p>　　这两句中的“小院闲窗”和“重帘未卷”，一是从外面看出的实景，一是就内面见到的现状，并非两处，只是一个地方的互文。通过环境描绘，女
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(10706)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan10706" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">解析</h2>
<p>　　词的上片主要描写环境，下片着重刻划景物。</p>
<p>　　起句中的“小院”点明词中女主人公所在之地。这小院荫蔽在春色已深、绿树繁花中，天快黑了，楼上窗子一直闲掩着。庭院中未见人来往，窗棂间没有燕穿帘，显得寥廓落漠，<a href="http://so.gushiwen.org/author_1137.aspx">真可</a>谓深闺似海！</p>
<p>　　第二句写少女身处这深院之中，感到孤零岑寂、凄苦难言，一任帘幕低垂；因是重帘，室内光线暗淡。沉沉，是形容室内深邃。这里“影沉沉”不是说夕阳投影拉得很长很长，而是说室内阴暗，更觉黑黝黝的。</p>
<p>　　这两句中的“小院闲窗”和“重帘未卷”，一是从外面看出的实景，一是就内面见到的现状，并非两处，只是一个地方的互文。通过环境描绘，女主人公因春意阑珊、幽闺深邃而产生的孤寂和愁苦统统突现了出来。</p>
<p>　　在这枯寂愁闷时，将是怎样破岑寂、遣愁怀的呢？信步走向楼前，凭楼远眺，希望在开阔的自然景象中寻求一些慰藉。然而却只见白云催暮，风雨弄阴；天色转暗，夜暮将临，几乎同自己的阴沉郁闷的心情一样，反而增添苦恼，烦闷起来。她开始站在那里发愣，接着坐下来弹起琴来：“倚楼无语理瑶琴。”这句就是与她无可奈何时希图摆脱心情苦恼、烦躁不堪的一种下意识动作。事实上词中女主人并非有意练琴，只不过是借以破除孤寂，诉说愁怀。所以不像毛熙震《后庭花》中的少女“倚栏无语摇轻扇”那样轻松明快，自不及<a href="http://so.gushiwen.org/author_186.aspx">冯延巳</a>（一作<a href="http://so.gushiwen.org/author_561.aspx">欧阳修</a>）《蝶恋花》中的女友“泪眼倚楼频独语”那样凄楚。尽管这样，但她的闲愁郁闷终于没有被琴声驱走，精神枷锁，无法解脱。“倚楼无语”形象地写出了那由愁苦郁积进而陷于神魂无措的精神状态。“无语”二字更深切地表达了她的苦涩难言的心情。</p>
<p>　　过片两个对句，与前段结语紧密联系，是她在楼前所见的实景，从正面揭示愁思之由：“远岫出云催薄暮”为远景。这句是说地面水气，入夜遇冷而成云雾，笼罩峰峦，白天经太阳蒸发，逐渐消散，峰峦再现。而山穴中云气，日照困难，要到日将落时才冉冉升起。<a href="http://so.gushiwen.org/author_645.aspx">陶渊明</a>《归去来辞》云：“云无心以出岫。鸟倦飞而知还”就是写傍晚景象，故云“催薄暮”。薄暮，日将落时之谓。“细风吹雨弄轻阴”为近景，是说傍晚时分，天色渐暗，暮霭沉沉，而微风吹拂，雨花飞溅，好似与轻阴相戏弄，故云“弄轻阴”。</p>
<p>　　前句中着一“催”字，加速了夜暮降临；后句中用一“弄”字，使轻阴转浓，融成一片，天色变黑。既生动，又形象，无异于在愁人心上加盖了一层厚厚的阴影，愁怀难遣，自不待言。</p>
<p>　　结句“梨花欲谢恐难禁”是承“春色深”而来，按节候与“梨花落后清明”（<a href="http://so.gushiwen.org/author_432.aspx">晏殊</a>《破阵子》中语）相合。因此以“梨花欲谢”总括环境和景色，以“恐难禁”概述落漠和愁苦。词中女主人愁思之由，至此道出。出于它，才将细微的景物与幽渺的感情极为巧妙而和谐地结合起来，使由惜春引起难以捕捉的、抽象的愁思就成了可以接触的具体形象。<a title="收起" href="javascript:shangxiClose(10706)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx10706" href="javascript:dingsx('10706','http://so.gushiwen.org/view.aspx?id=52847')">有用(40)</a><a id="paisx10706" style=" margin-left:10px;" href="javascript:paisx('10706','http://so.gushiwen.org/view.aspx?id=52847')">没用(11)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">王璠.李清照研究丛稿[M].内蒙古:内蒙古人民出版社,1987.</span>
</div>
</div>
</div>
<div id="shangxi10656" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(10656)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　小、闲、深，正是空闺写照。而春色深浓，未许泄漏，故重帘不卷，一任暗影沉沉。春情躁动，更不能形之言语，只可托之瑶琴矣！</p>
<p>　　“深”字是上片之眼。闺深、春深、情深，“倚楼无语”，说三藏七，“此时无声胜有声”，蕴藉未吐之深情，更具有无限的韵味。</p>
<p>　　下片宕天，由室内而室外。“远岫出云”见陶渊明《归去来辞》：“云无心以出岫，鸟倦飞而知还。”云出云归，时光亦随之荏苒而逝，不觉晚景催逼。夜来更兼细风吹雨，轻阴漠漠，“弄”既指风雨之弄轻阴，还指此时、此境中，词人乍喜还愁的情感波动。结末仍结穴在风雨摧花，欲谢难禁的忧思上。</p>
<p>　　历代诗评家评此词“雅练”
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(10656)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan10656" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　小、闲、深，正是空闺写照。而春色深浓，未许泄漏，故重帘不卷，一任暗影沉沉。春情躁动，更不能形之言语，只可托之瑶琴矣！</p>
<p>　　“深”字是上片之眼。闺深、春深、情深，“倚楼无语”，说三藏七，“此时无声胜有声”，蕴藉未吐之深情，更具有无限的韵味。</p>
<p>　　下片宕天，由室内而室外。“远岫出云”见<a href="http://so.gushiwen.org/author_645.aspx">陶渊明</a>《归去来辞》：“云无心以出岫，鸟倦飞而知还。”云出云归，时光亦随之荏苒而逝，不觉晚景催逼。夜来更兼细风吹雨，轻阴漠漠，“弄”既指风雨之弄轻阴，还指此时、此境中，词人乍喜还愁的情感波动。结末仍结穴在风雨摧花，欲谢难禁的忧思上。</p>
<p>　　历代<a href="http://so.gushiwen.org/view_52847.aspx">诗</a>评家评此词“雅练”，“淡语中致语”（沈际飞本《草堂诗馀》）。写闺中春怨，以不语语之，又借无心之云，细风、疏雨、微阴淡化，雅化，微微逗露。这种婉曲、蕴藉的传情方式，是符合传统诗歌的审美情趣的。<a title="收起" href="javascript:shangxiClose(10656)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx10656" href="javascript:dingsx('10656','http://so.gushiwen.org/view.aspx?id=52847')">有用(35)</a><a id="paisx10656" style=" margin-left:10px;" href="javascript:paisx('10656','http://so.gushiwen.org/view.aspx?id=52847')">没用(19)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">创作背景<span style="display:none;">10705</span></h2>
<p>　　从版本方面考察，这首小令曾被误作<a href="http://so.gushiwen.org/author_561.aspx">欧阳修</a>、<a href="http://so.gushiwen.org/author_164.aspx">周邦彦</a>词，或不著撰人姓名。这当是此词传播中的一种发人深思的现象，当初的情景是这样的：<a href="http://so.gushiwen.org/author_536.aspx">李清照</a>于待字之年，从原籍明水来到京都，她的才华深受词坛高手晃补之等“前辈”的赏识，从而激起了她的创作灵感，遂以记忆中的溪亭、莲湖之游和现时感受为素材写了一首首令词。观者认为这首《洗溪沙》是出自欧阳修或周邦彦之手。</p>
<p>　　李清照初期的<a href="http://so.gushiwen.org/view_52847.aspx">诗</a>词作品，总的可谓一鸣惊人，但人们的反映各不相同。她从晃补之、张来等“前辈”那里得到的是鼓励、奖掖和逢人“说项”；缙绅、文士对她的作品也击节称赏。</p>
</div>
<div class="dingpai">
<a id="dingsx10705" href="javascript:dingsx('10705','http://so.gushiwen.org/view.aspx?id=52847')">有用(13)</a><a id="paisx10705" style=" margin-left:10px;" href="javascript:paisx('10705','http://so.gushiwen.org/view.aspx?id=52847')">没用(8)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">陈祖美.李清照词新释辑评[M].北京:中国书店出版社,2003.</span>
</div>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor536">李清照（1084年3月13日～1155年5月12日）号易安居士，汉族，山东省济南章丘人。宋代（南北宋之交）女词人，婉约词派代表，有“千古第一才女”之称。所作词，前期多写其悠闲生活，后期多悲叹身世，情调感伤。形式上善用白描手法，自辟途径，语言清丽。论词强调协律，崇尚典雅，提出词“别是一家”之说，反对以作诗文之法作词。能诗，留存不多，部分篇章感时咏史，情辞慷慨，与其词风不同。有《易安居士文集》《易安词》，已散佚。后人有《漱玉词》辑本。今有《李清照集校注》。http://so.gushiwen.org/author_536.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_536.aspx"><img src="http://img.gushiwen.org/authorImg/liqingzhao.jpg" width="105" height="150" alt="李清照"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_536.aspx"><b>李清照</b></a></p>
<p style=" margin:0px;">李清照（1084年3月13日～1155年5月12日）号易安居士，汉族，山东省济南章丘人。宋代（南北宋之交）女词人，婉约词派代表，有“千古第一才女”之称。所作词，前期多写其悠闲生活，后期多悲叹身世，情调感伤。形式上善用白描手法，自辟途径，语言清丽。论词强调协律，崇尚典雅，提出词“别是一家”之说，反对以作诗文之法作词。能诗，留存不多，部分篇章感时咏史，情辞慷慨，与其词风不同。有《易安居士文集》《易安词》，已散佚。后人有《漱玉词》辑本。今有《李清照集校注》。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=536&from=http://so.gushiwen.org/view.aspx?id=52847"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(536)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('536','http://m.gushiwen.org/author_536.aspx')" onmouseout="outweixinAuthor(536)"><img id="weixinAuthorImg536" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor536" href="javascript:goodAuthorNew('536','http://so.gushiwen.org/view.aspx?id=52847',1813)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1813</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor536" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare71978">那年离别日，只道住桐庐。桐庐人不见，今得广州书。——唐代·刘采春《啰唝曲·那年离别日》http://so.gushiwen.org/view_71978.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(71978)" id="btnShangxi71978"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(71978)" id="btnZhushi71978"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(71978)" id="btnYiwen71978" />
<script type="text/javascript">
                        document.getElementById("btnShangxi71978").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_71978.aspx"><b>啰唝曲·那年离别日</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%88%98%e9%87%87%e6%98%a5">刘采春</a></p>
<div class="contson" id="contson71978">
那年离别日，只道住桐庐。<br />桐庐人不见，今得广州书。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=71978&from=http://so.gushiwen.org/view.aspx?id=52847"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(71978)"><img id="copyimg71978" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('71978','http://m.gushiwen.org/view_71978.aspx')" onmouseout="outweixin(71978)"><img id="weixinimg71978" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood71978" href="javascript:goodNew('71978','http://so.gushiwen.org/view.aspx?id=52847',23)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;23</span></a></div>
</div>
<div id="toolCopy71978" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin71978" style="background-color:aqua;"></div>
<div id="toolPlay71978" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e9%97%ba%e6%80%a8">闺怨</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare71378">春去秋来也，愁心似醉醺。去时邀约早回轮，及去又何曾。歌扇花光黦，衣珠滴泪新。恨身翻不作车尘，万里得随君。——五代·欧阳炯《巫山一段云·春去秋来也》http://so.gushiwen.org/view_71378.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(71378)" id="btnShangxi71378"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(71378)" id="btnZhushi71378"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(71378)" id="btnYiwen71378" />
<script type="text/javascript">
                        document.getElementById("btnZhushi71378").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen71378").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_71378.aspx"><b>巫山一段云·春去秋来也</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e4%ba%94%e4%bb%a3">五代</a><span>：</span><a href="/search.aspx?value=%e6%ac%a7%e9%98%b3%e7%82%af">欧阳炯</a></p>
<div class="contson" id="contson71378">
春去秋来也，愁心似醉醺。去时邀约早回轮，及去又何曾。<br />歌扇花光黦，衣珠滴泪新。恨身翻不作车尘，万里得随君。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=71378&from=http://so.gushiwen.org/view.aspx?id=52847"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(71378)"><img id="copyimg71378" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('71378','http://m.gushiwen.org/view_71378.aspx')" onmouseout="outweixin(71378)"><img id="weixinimg71378" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood71378" href="javascript:goodNew('71378','http://so.gushiwen.org/view.aspx?id=52847',7)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;7</span></a></div>
</div>
<div id="toolCopy71378" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin71378" style="background-color:aqua;"></div>
<div id="toolPlay71378" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e9%97%ba%e6%80%a8">闺怨</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%9b%b8%e6%80%9d">相思</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare71700">花落，烟薄，谢家池阁，寂寞春深。翠蛾轻敛意沉吟，沾襟，无人知此心。玉炉香断霜灰冷，帘铺影，梁燕归红杏。晚来天，空悄然，孤眠，枕檀云髻偏。——五代·孙光宪《河传·花落》http://so.gushiwen.org/view_71700.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(71700)" id="btnShangxi71700"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(71700)" id="btnZhushi71700"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(71700)" id="btnYiwen71700" />
<script type="text/javascript">
                        document.getElementById("btnShangxi71700").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi71700").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen71700").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_71700.aspx"><b>河传·花落</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e4%ba%94%e4%bb%a3">五代</a><span>：</span><a href="/search.aspx?value=%e5%ad%99%e5%85%89%e5%ae%aa">孙光宪</a></p>
<div class="contson" id="contson71700">
花落，烟薄，谢家池阁，寂寞春深。翠蛾轻敛意沉吟，沾襟，无人知此心。<br />玉炉香断霜灰冷，帘铺影，梁燕归红杏。晚来天，空悄然，孤眠，枕檀云髻偏。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=71700&from=http://so.gushiwen.org/view.aspx?id=52847"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(71700)"><img id="copyimg71700" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('71700','http://m.gushiwen.org/view_71700.aspx')" onmouseout="outweixin(71700)"><img id="weixinimg71700" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood71700" href="javascript:goodNew('71700','http://so.gushiwen.org/view.aspx?id=52847',20)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;20</span></a></div>
</div>
<div id="toolCopy71700" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin71700" style="background-color:aqua;"></div>
<div id="toolPlay71700" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e9%97%ba%e6%80%a8">闺怨</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%a5%b3%e5%ad%90">女子</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%ad%a4%e7%8b%ac">孤独</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4976.aspx">田夫荷锄至，相见语依依。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5319.aspx">西风泼眼山如画，有黄花休恨无钱。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
