
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
采桑子·恨君不似江楼月原文、翻译及赏析_吕本中_古诗文网
</title>
<meta name="description" content="恨君不似江楼月，南北东西，南北东西，只有相随无别离。恨君却似江楼月，暂满还亏，暂满还亏，待得团圆是几时？" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_52881.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_52881.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare52881">恨君不似江楼月，南北东西，南北东西，只有相随无别离。恨君却似江楼月，暂满还亏，暂满还亏，待得团圆是几时？——宋代·吕本中《采桑子·恨君不似江楼月》http://so.gushiwen.org/view_52881.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(52881)" id="btnShangxi52881"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(52881)" id="btnZhushi52881"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(52881)" id="btnYiwen52881" />
<script type="text/javascript">
                        document.getElementById("btnShangxi52881").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi52881").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen52881").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">采桑子·恨君不似江楼月</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_644.aspx">吕本中</a> </p>
<div class="contson" id="contson52881">
恨君不似江楼月，南北东西，南北东西，只有相随无别离。<br />恨君却似江楼月，暂满还亏，暂满还亏，待得团圆是几时？
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=52881&from=http://so.gushiwen.org/view.aspx?id=52881"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(52881)"><img id="copyimg52881" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('52881','http://m.gushiwen.org/view_52881.aspx')" onmouseout="outweixin(52881)"><img id="weixinimg52881" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=52881"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=9248922759"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood52881" href="javascript:goodNew('52881','http://so.gushiwen.org/view.aspx?id=52881',249)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;249</span></a></div>
</div>
<div class="toolerweima" id="weixin52881" style="background-color:aqua;"></div>
<div id="toolPlay52881" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e4%b8%89%e7%99%be%e9%a6%96">宋词三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e7%b2%be%e9%80%89">宋词精选</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%b0%91%e6%ad%8c">民歌</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%a9%89%e7%ba%a6">婉约</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%9c%88%e4%ba%ae">月亮</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%84%9f%e5%8f%b9">感叹</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%a6%bb%e5%88%ab">离别</a>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">译文及注释<span style="display:none;">1386</span></h2>
<p><strong>译文</strong><br />可恨你不像江边楼上高悬的明月，不管人们南北东西四处漂泊，明月都与人相伴不分离。<br />可恨你就像江边楼上高悬的明月，刚刚圆满就又缺了，等到明月再圆不知还要等到何时。</p>
<p><strong>注释</strong><br />⑴采桑子：词牌名。又名“丑奴儿令”、“罗敷艳歌”、“罗敷媚”。<br />⑵君：这里指词人的妻子。一说此词为妻子思念丈夫。江楼：靠在江边的楼阁。<br />⑶暂满还亏：指月亮短暂的圆满之后又会有缺失。满，此指月圆；亏，此指月缺。</p>
</div>
<div class="dingpai">
<a id="ding1386" href="javascript:ding('1386','http://so.gushiwen.org/view.aspx?id=52881')">有用(122)</a><a id="pai1386" style=" margin-left:10px;" href="javascript:pai('1386','http://so.gushiwen.org/view.aspx?id=52881')">没用(16)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">李静 等 ．唐诗宋词鉴赏大全集 ．北京 ：华文出版社 ，2009 ：313-314 ．</span>
</div>
</div>
</div>
<div id="shangxi1901" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(1901)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">鉴赏</h2>
<p>　　这首词是写别情，上片指出他行踪不定，在南北东西漂泊，在漂泊中经常在月下怀念他的妻子，因此感叹他的妻子不能像月亮那样跟他在一起。下片写他同妻子分离的时候多，难得团圆。这首词的特色，是文人词而富有民歌风味。民歌是真情的自然流露，不用典故，是白描。这首词也是真情的自然流露，也是白描，很亲切。民歌往往采取重复歌唱的形式，这首词也一样。不仅由于《采桑子》这个词调的特点，像“南北东西”，“暂满还亏”两句是重复的；就是上下两片，也有重复而稍加以变化的句子，如“恨君不似江楼月”与“恨君却似江楼月”，只有一字之差，民歌中的复叠也往往是这样的。还有，民歌也往往用比喻，这首词的“江楼月”，正是比喻，这个比
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(1901)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan1901" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">鉴赏</h2>
<p>　　这首词是写别情，上片指出他行踪不定，在南北东西漂泊，在漂泊中经常在月下怀念他的妻子，因此感叹他的妻子不能像月亮那样跟他在一起。下片写他同妻子分离的时候多，难得团圆。这首词的特色，是文人词而富有民歌风味。民歌是真情的自然流露，不用典故，是白描。这首词也是真情的自然流露，也是白描，很亲切。民歌往往采取重复歌唱的形式，这首词也一样。不仅由于《采桑子》这个词调的特点，像“南北东西”，“暂满还亏”两句是重复的；就是上下两片，也有重复而稍加以变化的句子，如“恨君不似江楼月”与“恨君却似江楼月”，只有一字之差，民歌中的复叠也往往是这样的。还有，民歌也往往用比喻，这首词的“江楼月”，正是比喻，这个比喻亲切而贴切。</p>
<p>　　这个“江楼月”的比喻，在艺术上具有特色。钱钟书先生讲到“喻之二柄”，“喻之多边”。所谓二柄，“同此事物，援为比喻，或以褒，或以贬，或示喜，或示恶，词气迥异”。像<a href="http://so.gushiwen.org/author_247.aspx">李白</a>《志公画赞》：“水中之月，了不可取”，“超妙而不可即也”，犹云“高山仰止，虽不能至，心向往之”，是为“心服之赞词”。<a href="http://so.gushiwen.org/author_268.aspx">黄庭坚</a>《沁园春》：“镜里拈花，水中捉月，觑着无由得近伊”，“是为心痒之恨词”。同样用月作比喻，一个是表示敬仰赞美，一个是表示怨恨，感情不同，称为二柄。“比喻有两柄而复具多边。盖事物一而已，然非止一性一能，遂不限于一功一效。取譬者用心或别，着眼因殊，指同而旨则异；故一事物之象可以孑立应多，守常处变。譬夫月，形圆而体明，圆若明之在月，犹《墨经》言坚若白之在石，‘不相外’而‘相盈’……。镜喻于月，如<a href="http://so.gushiwen.org/author_662.aspx">庾信</a>《咏镜》：‘月生无有桂’，取明之相似，而亦可兼取圆之相似。……<a href="http://so.gushiwen.org/author_122.aspx">王禹偁</a>《龙凤茶》：‘圆似三秋皓月轮’，……仅取圆之相似，不及于明。月亦可喻目，洞瞩明察之意，如<a href="http://so.gushiwen.org/author_183.aspx">苏轼</a>《吊李台卿》，‘看书眼如月’。”（《管锥编·周易正义·归妹》）同用月做比喻，可以比圆，比明亮，比明察，这是比喻的多边。</p>
<p>　　这首词用“江楼月”作比，在上片里赞美“江楼月”“南北东西，只有相随无别离”，是到处漂泊，永不分离的赞词。下片里写“江楼月”，“暂满还亏，待得团圆是几时”，是难得团圆的恨词。同样用“江楼月”作比，一赞一恨，是在一篇中用同一个比喻而具有二柄。还有，上片的“江楼月”，比“只有相随无别离”，是永不分离；下片的“江楼月”，比“待得团圆是几时”，是难得团圆。命意不同。同用一个比喻，在一首词里，所比不同，构成多边。像这样，同一个比喻，在一首词里，既有二柄，复具多边，这是很难找的。因此，这首词里用的比喻，在修辞学上是非常突出的。这样的比喻，是感情的自然流露，不是有意造作，用得又非常贴切，这是更为难能可贵的。作者经常在月下怀念妻子，所以产生上片的比喻；作者感叹与妻子难得团圆，所以产生下片的比喻。这些是作者独具的感情，所以写得那样真实而独具特色。</p>
<p>　　此词从江楼月联想到人生的聚散离合。月的阴晴圆缺，却又不分南北东西，而与人相随。词人取喻新巧，正反成理。以“不似”与“却似”隐喻朋友的聚与散，反映出聚暂离长之恨。具有鲜明的民歌色彩。全词明白易晓，流转自如。风格和婉，含蕴无限。曾季狸《艇斋<a href="http://so.gushiwen.org/view_52881.aspx">诗</a>话》：本中长短句，浑然天成，不减唐、《花间》之作。《啸翁词评》：居仁直忤柄臣，深居讲道。而小词乃工稳清润至此。<a title="收起" href="javascript:shangxiClose(1901)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx1901" href="javascript:dingsx('1901','http://so.gushiwen.org/view.aspx?id=52881')">有用(48)</a><a id="paisx1901" style=" margin-left:10px;" href="javascript:paisx('1901','http://so.gushiwen.org/view.aspx?id=52881')">没用(12)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div id="shangxi7223" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(7223)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　此词中表面上说“恨君”，实际上是思君。表面上说只有月亮相随无离别，实际上是说跟君经常别离。下片借月的暂满还亏，比喻他跟君的暂聚又别。这首词的特色富有民歌风味。民歌是感情自然流露，不用典故，是白描。</p>
<p>　　这首词正是真情的自然流露，也是白描。民歌往往采用重复歌唱的形式，这首词也一样。不仅由于《采桑子》这个词调的特点，像“南北东西”，“暂满还亏”两句是反复的；就是上下两片，也有加以变化的重复，如“恨君不似江楼月”与“恨君却似江楼月”只有一字之差，像民歌中的重叠一样。还有，民歌也往往用比喻，这首词的“江楼月”，正是比喻。</p>
<p>　　词中“江楼月”的比喻，很具有艺术特
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(7223)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan7223" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　此词中表面上说“恨君”，实际上是思君。表面上说只有月亮相随无离别，实际上是说跟君经常别离。下片借月的暂满还亏，比喻他跟君的暂聚又别。这首词的特色富有民歌风味。民歌是感情自然流露，不用典故，是白描。</p>
<p>　　这首词正是真情的自然流露，也是白描。民歌往往采用重复歌唱的形式，这首词也一样。不仅由于《采桑子》这个词调的特点，像“南北东西”，“暂满还亏”两句是反复的；就是上下两片，也有加以变化的重复，如“恨君不似江楼月”与“恨君却似江楼月”只有一字之差，像民歌中的重叠一样。还有，民歌也往往用比喻，这首词的“江楼月”，正是比喻。</p>
<p>　　词中“江楼月”的比喻，很具有艺术特色。钱钟书曾讲过“喻之二柄”、“喻之多边”。钱钟书所谓二柄：“同此事物，援为比喻，或以褒，或以贬，或示喜，或示恶，词气迥异；修词之学，亟宜指示。”例如“韦处厚《大义禅师碑铭》：”佛犹水中月，可见不可取‘，超妙而不可炔，犹云’高山仰止，虽不能至，心向往之‘，是为心服之赞词。<a href="http://so.gushiwen.org/author_268.aspx">黄庭坚</a>《沁园春》：’镜里拈花，水中捉月，觑着无由得近伊‘，犹云’甜糖抹鼻子上，只教他舐不着‘，是为心痒之恨词。“同样这首词用水中之月作比喻，一个表达敬仰之意，一个表示不满之情，然而感情不同，称为比喻的二柄。镜喻于月，如<a href="http://so.gushiwen.org/author_662.aspx">庾信</a>《咏镜》：“月生无有桂‘，取明之相似，而亦可兼取圆之相似<a href="http://so.gushiwen.org/author_122.aspx">王禹偁</a>《龙凤茶》：”圆似三秋皓月轮’，仅取圆之相似，不及于明，‘月眼’、‘月面’均为常言，而眼取月之明，面取月之圆，各傍月性之一边也。“（节引自《管锥篇·周易正义·归妹》如例子中所讲同用月做比喻，可以比圆，又可比明亮，这是比喻的多边。</p>
<p>　　这首词用“江楼月”作比，词人上片里赞美“江楼月”，南北东西，只有相随无别离“，说的是人虽到处漂泊，而明月随人，永不分离，是赞词。下片里也用”江楼月“作比，”暂满还亏，待得团圆是几时“，说的是月圆时少，缺时多，难得团圆，是恨词。</p>
<p>　　同样用“江楼月”作比，一赞一恨，是一篇中用同一事物作比喻而表达不同感情，从而具有二柄。还有，上片的“江楼月”，比喻“只有相随无别离”；下片的“江楼月”，比喻“待得团圆是几时”。一首词里，同用一个比喻，所比不同，构成多边。象这样，同一个比喻，一首词里，既有二柄，又有多边，这是很难找的。因此，这首词里用的比喻，修辞学上是非常突出的。而且这样的比喻，是感情自然流露，不是有意造作，被词人用得非常贴切，这是此首词更为难能可贵的特点。</p>
<p>　　这词的想象跟后汉<a href="http://so.gushiwen.org/author_2842.aspx">徐淑</a>《答夫秦嘉书》的想象颇有相似之妙处。徐淑说：“身非形影，何能动而辄俱；体非比目，何能同而不离。”徐淑虽用了两个不同的比喻，“何能动而辄俱”，“何能同而不离”，但与该词想象一致，所以这两人也可以说千载同心了。<a title="收起" href="javascript:shangxiClose(7223)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx7223" href="javascript:dingsx('7223','http://so.gushiwen.org/view.aspx?id=52881')">有用(27)</a><a id="paisx7223" style=" margin-left:10px;" href="javascript:paisx('7223','http://so.gushiwen.org/view.aspx?id=52881')">没用(5)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">周振甫 等 ．唐宋词鉴赏辞典（南宋·辽·金） ．上海 ：上海辞书出版社 ，1988 ：1121-1222 ．</span>
</div>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor644">吕本中（1084- 1145），字居仁，世称东莱先生，寿州人，诗人，词人，道学家. 诗属江西派.著有&lt;&lt;春秋集解&gt;&gt;，&lt;&lt;紫微诗话&gt;&gt;，&lt;&lt;东莱先生诗集&gt;&gt; 等. 词不传，今人赵万里&lt;&lt;校辑宋金元人词&gt;&gt; 辑有&lt;&lt;紫微词&gt;&gt;，&lt;&lt;全宋词&gt;&gt; 据之录词二十七首.吕本中诗数量较大，约一千二百七十首。http://so.gushiwen.org/author_644.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_644.aspx"><b>吕本中</b></a></p>
<p style=" margin:0px;">吕本中（1084- 1145），字居仁，世称东莱先生，寿州人，诗人，词人，道学家. 诗属江西派.著有&lt;&lt;春秋集解&gt;&gt;，&lt;&lt;紫微诗话&gt;&gt;，&lt;&lt;东莱先生诗集&gt;&gt; 等. 词不传，今人赵万里&lt;&lt;校辑宋金元人词&gt;&gt; 辑有&lt;&lt;紫微词&gt;&gt;，&lt;&lt;全宋词&gt;&gt; 据之录词二十七首.吕本中诗数量较大，约一千二百七十首。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=644&from=http://so.gushiwen.org/view.aspx?id=52881"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(644)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('644','http://m.gushiwen.org/author_644.aspx')" onmouseout="outweixinAuthor(644)"><img id="weixinAuthorImg644" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor644" href="javascript:goodAuthorNew('644','http://so.gushiwen.org/view.aspx?id=52881',43)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;43</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor644" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare66956">春风只在园西畔。荠菜花繁胡蝶乱。冰池晴绿照还空，香径落红吹已断。 意长翻恨游丝短。尽日相思罗带缓。宝奁明月不欺人，明日归来君试看。——宋代·严仁《玉楼春·春思》http://so.gushiwen.org/view_66956.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(66956)" id="btnShangxi66956"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(66956)" id="btnZhushi66956"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(66956)" id="btnYiwen66956" />
<script type="text/javascript">
                        document.getElementById("btnShangxi66956").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi66956").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen66956").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_66956.aspx"><b>玉楼春·春思</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e4%b8%a5%e4%bb%81">严仁</a></p>
<div class="contson" id="contson66956">
春风只在园西畔。荠菜花繁胡蝶乱。冰池晴绿照还空，香径落红吹已断。 <br />意长翻恨游丝短。尽日相思罗带缓。宝奁明月不欺人，明日归来君试看。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=66956&from=http://so.gushiwen.org/view.aspx?id=52881"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(66956)"><img id="copyimg66956" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('66956','http://m.gushiwen.org/view_66956.aspx')" onmouseout="outweixin(66956)"><img id="weixinimg66956" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood66956" href="javascript:goodNew('66956','http://so.gushiwen.org/view.aspx?id=52881',20)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;20</span></a></div>
</div>
<div id="toolCopy66956" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin66956" style="background-color:aqua;"></div>
<div id="toolPlay66956" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e4%b8%89%e7%99%be%e9%a6%96">宋词三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%a9%89%e7%ba%a6">婉约</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%98%a5%e5%a4%a9">春天</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%a6%87%e5%a5%b3">妇女</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%9b%b8%e6%80%9d">相思</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare47069">平林漠漠烟如织，寒山一带伤心碧。暝色入高楼，有人楼上愁。玉阶空伫立，宿鸟归飞急。何处是归程？长亭连短亭。(连短亭 一作：更短亭)——唐代·李白《菩萨蛮·平林漠漠烟如织》http://so.gushiwen.org/view_47069.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(47069)" id="btnShangxi47069"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(47069)" id="btnZhushi47069"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(47069)" id="btnYiwen47069" />
<script type="text/javascript">
                        document.getElementById("btnShangxi47069").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi47069").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen47069").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_47069.aspx"><b>菩萨蛮·平林漠漠烟如织</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e7%99%bd">李白</a></p>
<div class="contson" id="contson47069">
平林漠漠烟如织，寒山一带伤心碧。暝色入高楼，有人楼上愁。<br />玉阶空伫立，宿鸟归飞急。何处是归程？长亭连短亭。(连短亭 一作：更短亭)
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=47069&from=http://so.gushiwen.org/view.aspx?id=52881"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(47069)"><img id="copyimg47069" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('47069','http://m.gushiwen.org/view_47069.aspx')" onmouseout="outweixin(47069)"><img id="weixinimg47069" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood47069" href="javascript:goodNew('47069','http://so.gushiwen.org/view.aspx?id=52881',688)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;688</span></a></div>
</div>
<div id="toolCopy47069" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin47069" style="background-color:aqua;"></div>
<div id="toolPlay47069" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e4%b8%89%e7%99%be%e9%a6%96">宋词三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e8%b1%aa%e6%94%be">豪放</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%a7%8b%e5%a4%a9">秋天</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%80%e4%ba%ba">怀人</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare48903">近日门前溪水涨。郎船几度偷相访。船小难开红斗帐。无计向。合欢影里空惆怅。愿妾身为红菡萏。年年生在秋江上。重愿郎为花底浪。无隔障。随风逐雨长来往。——宋代·欧阳修《渔家傲·近日门前溪水涨》http://so.gushiwen.org/view_48903.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(48903)" id="btnShangxi48903"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(48903)" id="btnZhushi48903"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(48903)" id="btnYiwen48903" />
<script type="text/javascript">
                        document.getElementById("btnShangxi48903").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi48903").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen48903").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_48903.aspx"><b>渔家傲·近日门前溪水涨</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%ac%a7%e9%98%b3%e4%bf%ae">欧阳修</a></p>
<div class="contson" id="contson48903">
近日门前溪水涨。郎船几度偷相访。船小难开红斗帐。无计向。合欢影里空惆怅。<br />愿妾身为红菡萏。年年生在秋江上。重愿郎为花底浪。无隔障。随风逐雨长来往。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=48903&from=http://so.gushiwen.org/view.aspx?id=52881"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(48903)"><img id="copyimg48903" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('48903','http://m.gushiwen.org/view_48903.aspx')" onmouseout="outweixin(48903)"><img id="weixinimg48903" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood48903" href="javascript:goodNew('48903','http://so.gushiwen.org/view.aspx?id=52881',62)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;62</span></a></div>
</div>
<div id="toolCopy48903" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin48903" style="background-color:aqua;"></div>
<div id="toolPlay48903" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e4%b8%89%e7%99%be%e9%a6%96">宋词三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%b0%91%e6%ad%8c">民歌</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%a5%b3%e5%ad%90">女子</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%90%91%e5%be%80">向往</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%88%b1%e6%83%85">爱情</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1138.aspx">二月江南花满枝，他乡寒食远堪悲。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5536.aspx">洞庭一夜无穷雁，不待天明尽北飞。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
