
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
点绛唇·梅原文、翻译及赏析_朱翌_古诗文网
</title>
<meta name="description" content="流水泠泠，断桥横路梅枝亚。雪花飞下。浑似江南画。 白璧青钱，欲买春无价。归来也。西风平野。一点香随马。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_54064.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_54064.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare54064">流水泠泠，断桥横路梅枝亚。雪花飞下。浑似江南画。 白璧青钱，欲买春无价。归来也。西风平野。一点香随马。——宋代·朱翌《点绛唇·梅》http://so.gushiwen.org/view_54064.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(54064)" id="btnShangxi54064"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(54064)" id="btnZhushi54064"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(54064)" id="btnYiwen54064" />
<script type="text/javascript">
                        document.getElementById("btnShangxi54064").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">点绛唇·梅</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_376.aspx">朱翌</a> </p>
<div class="contson" id="contson54064">
流水泠泠，断桥横路梅枝亚。雪花飞下。浑似江南画。 <br />白璧青钱，欲买春无价。归来也。西风平野。一点香随马。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=54064&from=http://so.gushiwen.org/view.aspx?id=54064"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(54064)"><img id="copyimg54064" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('54064','http://m.gushiwen.org/view_54064.aspx')" onmouseout="outweixin(54064)"><img id="weixinimg54064" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=54064"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=9082485673"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood54064" href="javascript:goodNew('54064','http://so.gushiwen.org/view.aspx?id=54064',7)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;7</span></a></div>
</div>
<div class="toolerweima" id="weixin54064" style="background-color:aqua;"></div>
<div id="toolPlay54064" style=" display:none;clear:both;"></div>
</div>
<div id="shangxi3019" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(3019)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　上片写梅写景。开头“流水泠泠，断桥横路梅枝桠。”泠泠，形容声音清越。流水发出泠泠的声响，梅树的枝杈横在桥旁的路上。梅花开得象雪花飞白，很象是一幅描绘江南景色的风景画。这就是：“雪花飞下，浑似江南画。”短短四句，勾勒出一幅清新淡雅的咏梅图。其中渗透春意。虽然“春”字出得很晚，但第一句“流水泠泠”，如鸣佩环的描写，已全无冰泉冷涩之感，从而逗漏出春的消息。由闻水声过渡到看梅花，是渐入佳境的写法。“断桥横路梅枝亚”，断桥名段家桥，在孤山路上，而孤山梅花极盛。梅枝横伸路上，相倚相交。</p>
<p>　　这里的“横”、“亚”二字，俱重空间显现，已具画意。而梅之异于百花，在其傲干奇枝，迎霜斗雪之
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(3019)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan3019" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　上片写梅写景。开头“流水泠泠，断桥横路梅枝桠。”泠泠，形容声音清越。流水发出泠泠的声响，梅树的枝杈横在桥旁的路上。梅花开得象雪花飞白，很象是一幅描绘江南景色的风景画。这就是：“雪花飞下，浑似江南画。”短短四句，勾勒出一幅清新淡雅的咏梅图。其中渗透春意。虽然“春”字出得很晚，但第一句“流水泠泠”，如鸣佩环的描写，已全无冰泉冷涩之感，从而逗漏出春的消息。由闻水声过渡到看梅花，是渐入佳境的写法。“断桥横路梅枝亚”，断桥名段家桥，在孤山路上，而孤山梅花极盛。梅枝横伸路上，相倚相交。</p>
<p>　　这里的“横”、“亚”二字，俱重空间显现，已具画意。而梅之异于百花，在其傲干奇枝，迎霜斗雪之姿，故卢梅坡<a href="http://so.gushiwen.org/view_54064.aspx">诗</a>云“有梅无雪不精神”（《雪梅》）。可见三句“雪花飞下”绝非凑句，二十用来烘托梅花神韵的笔墨。“飞下”二字写出江南雪的特点，是静谧无声的雪花。它成灯词中盛开的梅花生动的背景。至此，读者已产生“人在画图中”之感，“浑似江南画”一句恰如其分地道出这种感受。</p>
<p>　　“日暮诗成天又雪，与梅并作十分春”。下片抒情，进一步描绘梅花的高洁。“白璧青钱，欲买春无价。”美玉（白璧）、金钱，想着买春色（主要指梅花），可是春无价，就是有白玉和金钱也买不到，形容春色的高贵。末句：“归来也，风吹平野，一点香随马。”游春回来，春风吹过平原野外，一缕梅花的香味随着马飘散──跟着骑马的人。</p>
<p>　　综观这首词，给读者描绘了一幅春游咏梅图：骑着骏马踏春游，平川旷野，小桥流水，梅花飞雪，景色象一幅图画。美丽的春色，高洁的梅花，玉璧金钱是买不到的。尽情地享受吧，回家的时候，只能带一点清香！宋代皇家画院考试画士时，曾经出过一个题目，叫作“踏花归去马蹄香”，这个题目的命意，就是这首词所描绘的意境！下片写出了作者感悟到的春意和赏梅回来其乐也融融的心情。处在隆冬的人，会特别觉得春日可爱，那真是有钱难买的。“白璧”乃贵重玉器，“青钱”乃通用货币。不管是专钱，或是价值连城的白璧，都是有价的。而春天却是“无价”的。</p>
<p>　　这首词，是作者十八岁时所作，当时大名士<a href="http://so.gushiwen.org/author_723.aspx">朱敦儒</a>，看到后十分赞赏，慨叹不已，就随手抄写在自己的扇子上，于是，人们就传说为朱敦儒所作。后经《耆旧续闻》考订，才恢复了原作者的姓名。</p>
<p>　　“白璧青钱”二句，隐有深意，读者须细细体会。那就是“春无价”又意味着“清风明月不用一钱买”（<a href="http://so.gushiwen.org/author_247.aspx">李白</a>），欲买不来，来的不是买的。下句“归来也”，三字大有意味。如果用“归去也”三字，那就只能理解为赏梅者兴尽而返。但“归来也”，既可作词人游过归来讲，连上句也可作“春”已归来讲，这一点很关紧要。能体会到这一层，则末二句“风吹平野，一点香随马”，便全是“春风得意马啼疾”之感了。</p>
<p>　　“一点香随马”，造句清新俊逸，它既使人联想到“更无一点尘随马”和“踏花归去马蹄香”。然而“马蹄香”只能是春深之境，而“一点香随马”确是早春之意。那暗香紧随的情况，非梅莫属。人的心情如何，这里已不言自明。 <a title="收起" href="javascript:shangxiClose(3019)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx3019" href="javascript:dingsx('3019','http://so.gushiwen.org/view.aspx?id=54064')">有用(10)</a><a id="paisx3019" style=" margin-left:10px;" href="javascript:paisx('3019','http://so.gushiwen.org/view.aspx?id=54064')">没用(2)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">简评<span style="display:none;">3020</span></h2>
　　通过分析可知，此词“自然”“不事雕琢”，而且作者在驱遣语言有很强分寸感。用意十分，但在措语时，他只肯说到三四分；由于造句考究而富于启发性，读者领略到的意趣很丰富的。词的上片主景语，下片纯属情语。不管是写景抒情，都用疏淡笔墨，空白较多，耐人寻味，有如一幅写意的水墨画，同咏梅题材相称。
</div>
<div class="dingpai">
<a id="dingsx3020" href="javascript:dingsx('3020','http://so.gushiwen.org/view.aspx?id=54064')">有用(1)</a><a id="paisx3020" style=" margin-left:10px;" href="javascript:paisx('3020','http://so.gushiwen.org/view.aspx?id=54064')">没用(4)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor376">朱翌（1097—1167）字新仲，号潜山居士、省事老人。舒州（今安徽潜山）人，卜居四明鄞县（今属浙江）。绍兴八年（1138），除秘书省正字，迁校书郎、兼实录院检讨官、祠部员外郎、秘书少监、起居舍人。十一年，为中书舍人。秦桧恶他不附己，谪居韶州十九年。桧死，充秘阁修撰，出知宣州、平江府。乾道三年卒，年七十一。名山胜景，游览殆。http://so.gushiwen.org/author_376.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_376.aspx"><img src="http://img.gushiwen.org/authorImg/zhuyi.jpg" width="105" height="150" alt="朱翌"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_376.aspx"><b>朱翌</b></a></p>
<p style=" margin:0px;">朱翌（1097—1167）字新仲，号潜山居士、省事老人。舒州（今安徽潜山）人，卜居四明鄞县（今属浙江）。绍兴八年（1138），除秘书省正字，迁校书郎、兼实录院检讨官、祠部员外郎、秘书少监、起居舍人。十一年，为中书舍人。秦桧恶他不附己，谪居韶州十九年。桧死，充秘阁修撰，出知宣州、平江府。乾道三年卒，年七十一。名山胜景，游览殆。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=376&from=http://so.gushiwen.org/view.aspx?id=54064"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(376)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('376','http://m.gushiwen.org/author_376.aspx')" onmouseout="outweixinAuthor(376)"><img id="weixinAuthorImg376" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor376" href="javascript:goodAuthorNew('376','http://so.gushiwen.org/view.aspx?id=54064',3)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor376" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare50835">三年宋玉墙东畔。怪相见、常低面。一曲文君芳心乱。匆匆依旧吹散，月淡梨花馆。秋娘苦妒浮金盏。漏些子堪猜是娇盼。归去相思肠应断。五更无寐，一怀好事，依旧蓝桥远。——宋代·晁补之《青玉案》http://so.gushiwen.org/view_50835.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(50835)" id="btnShangxi50835"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(50835)" id="btnZhushi50835"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(50835)" id="btnYiwen50835" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_50835.aspx"><b>青玉案</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%99%81%e8%a1%a5%e4%b9%8b">晁补之</a></p>
<div class="contson" id="contson50835">
三年宋玉墙东畔。怪相见、常低面。一曲文君芳心乱。匆匆依旧吹散，月淡梨花馆。
<br/>
秋娘苦妒浮金盏。漏些子堪猜是娇盼。归去相思肠应断。五更无寐，一怀好事，依旧蓝桥远。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=50835&from=http://so.gushiwen.org/view.aspx?id=54064"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(50835)"><img id="copyimg50835" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('50835','http://m.gushiwen.org/view_50835.aspx')" onmouseout="outweixin(50835)"><img id="weixinimg50835" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood50835" href="javascript:goodNew('50835','http://so.gushiwen.org/view.aspx?id=54064',3)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3</span></a></div>
</div>
<div id="toolCopy50835" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin50835" style="background-color:aqua;"></div>
<div id="toolPlay50835" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare64279">住，随风好去落谁家。”作忆柳曲修眉刷翠春痕聚。难翦愁来处。断丝无力绾韶华。也学落红流水、到天涯。那回错认章台下。却是阳关也。待将新恨趁杨花。不识相思一点、在谁家。——宋代·张炎《虞美人》http://so.gushiwen.org/view_64279.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(64279)" id="btnShangxi64279"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(64279)" id="btnZhushi64279"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(64279)" id="btnYiwen64279" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_64279.aspx"><b>虞美人</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%bc%a0%e7%82%8e">张炎</a></p>
<div class="contson" id="contson64279">
住，随风好去落谁家。”作忆柳曲
<br/>
修眉刷翠春痕聚。难翦愁来处。断丝无力绾韶华。也学落红流水、到天涯。
<br/>
那回错认章台下。却是阳关也。待将新恨趁杨花。不识相思一点、在谁家。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=64279&from=http://so.gushiwen.org/view.aspx?id=54064"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(64279)"><img id="copyimg64279" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('64279','http://m.gushiwen.org/view_64279.aspx')" onmouseout="outweixin(64279)"><img id="weixinimg64279" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood64279" href="javascript:goodNew('64279','http://so.gushiwen.org/view.aspx?id=54064',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy64279" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin64279" style="background-color:aqua;"></div>
<div id="toolPlay64279" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare61956">妒红欺绿。轻浪潮温玉。鸾袖卷香金＿＿。娇怯未消寒粟。锦衾初罢承欢。宿妆微褪香弯，醉眼乍松还困，断云犹绕巫山。——宋代·赵崇《清平乐》http://so.gushiwen.org/view_61956.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(61956)" id="btnShangxi61956"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(61956)" id="btnZhushi61956"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(61956)" id="btnYiwen61956" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_61956.aspx"><b>清平乐</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%b5%b5%e5%b4%87%ee%8f%9d">赵崇</a></p>
<div class="contson" id="contson61956">
妒红欺绿。轻浪潮温玉。鸾袖卷香金＿＿。娇怯未消寒粟。
<br/>
锦衾初罢承欢。宿妆微褪香弯，醉眼乍松还困，断云犹绕巫山。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=61956&from=http://so.gushiwen.org/view.aspx?id=54064"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(61956)"><img id="copyimg61956" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('61956','http://m.gushiwen.org/view_61956.aspx')" onmouseout="outweixin(61956)"><img id="weixinimg61956" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood61956" href="javascript:goodNew('61956','http://so.gushiwen.org/view.aspx?id=54064',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy61956" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin61956" style="background-color:aqua;"></div>
<div id="toolPlay61956" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3075.aspx">日暮诗成天又雪，与梅并作十分春。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4812.aspx">楼台处处迷芳草，风雨年年怨落花。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
