
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
垂丝钓（邓端友席上赠吕倩倩）原文、翻译及赏析_杨无咎_古诗文网
</title>
<meta name="description" content="玉纤半露。香檀低应鼍鼓。逸调响穿空，云不度。情几许。看两眉碧聚。为谁诉。听敲冰戛玉。恨云怨雨。声声总在愁处。放杯未举。倾坐惊相顾。应也肠千缕。人欲去。更画檐细雨。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_54087.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_54087.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare54087">玉纤半露。香檀低应鼍鼓。逸调响穿空，云不度。情几许。看两眉碧聚。为谁诉。听敲冰戛玉。恨云怨雨。声声总在愁处。放杯未举。倾坐惊相顾。应也肠千缕。人欲去。更画檐细雨。——宋代·杨无咎《垂丝钓（邓端友席上赠吕倩倩）》http://so.gushiwen.org/view_54087.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(54087)" id="btnShangxi54087"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(54087)" id="btnZhushi54087"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(54087)" id="btnYiwen54087" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">垂丝钓（邓端友席上赠吕倩倩）</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_711.aspx">杨无咎</a> </p>
<div class="contson" id="contson54087">
玉纤半露。香檀低应鼍鼓。逸调响穿空，云不度。情几许。看两眉碧聚。为谁诉。
<br/>
听敲冰戛玉。恨云怨雨。声声总在愁处。放杯未举。倾坐惊相顾。应也肠千缕。人欲去。更画檐细雨。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=54087&from=http://so.gushiwen.org/view.aspx?id=54087"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(54087)"><img id="copyimg54087" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('54087','http://m.gushiwen.org/view_54087.aspx')" onmouseout="outweixin(54087)"><img id="weixinimg54087" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=54087"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=6360258928"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood54087" href="javascript:goodNew('54087','http://so.gushiwen.org/view.aspx?id=54087',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin54087" style="background-color:aqua;"></div>
<div id="toolPlay54087" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor711">杨无咎（1097～1171）字补之，杨一作扬，一说名补之，字无咎。自号逃禅老人、清夷长者、紫阳居士。临江清江（今江西樟树）人，寓居洪州南昌。绘画尤擅墨梅。水墨人物画师法李公麟。书学欧阳询，笔势劲利。今存《逃禅词》一卷，词多题画之作，风格婉丽。生平事迹见《宋史翼》卷三六。http://so.gushiwen.org/author_711.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_711.aspx"><img src="http://img.gushiwen.org/authorImg/yangwujiu.jpg" width="105" height="150" alt="杨无咎"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_711.aspx"><b>杨无咎</b></a></p>
<p style=" margin:0px;">杨无咎（1097～1171）字补之，杨一作扬，一说名补之，字无咎。自号逃禅老人、清夷长者、紫阳居士。临江清江（今江西樟树）人，寓居洪州南昌。绘画尤擅墨梅。水墨人物画师法李公麟。书学欧阳询，笔势劲利。今存《逃禅词》一卷，词多题画之作，风格婉丽。生平事迹见《宋史翼》卷三六。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=711&from=http://so.gushiwen.org/view.aspx?id=54087"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(711)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('711','http://m.gushiwen.org/author_711.aspx')" onmouseout="outweixinAuthor(711)"><img id="weixinAuthorImg711" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor711" href="javascript:goodAuthorNew('711','http://so.gushiwen.org/view.aspx?id=54087',179)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;179</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor711" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare57064">绮疏新晓。学语雏莺巧。烟暖瑶阶梧叶老。满地东风芳草。少年不合风流。偿他酒债花愁。望断绿芜春去，销魂懒上层楼。——宋代·赵长卿《清平乐（早起闻莺）》http://so.gushiwen.org/view_57064.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(57064)" id="btnShangxi57064"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(57064)" id="btnZhushi57064"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(57064)" id="btnYiwen57064" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_57064.aspx"><b>清平乐（早起闻莺）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%b5%b5%e9%95%bf%e5%8d%bf">赵长卿</a></p>
<div class="contson" id="contson57064">
绮疏新晓。学语雏莺巧。烟暖瑶阶梧叶老。满地东风芳草。
<br/>
少年不合风流。偿他酒债花愁。望断绿芜春去，销魂懒上层楼。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=57064&from=http://so.gushiwen.org/view.aspx?id=54087"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(57064)"><img id="copyimg57064" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('57064','http://m.gushiwen.org/view_57064.aspx')" onmouseout="outweixin(57064)"><img id="weixinimg57064" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood57064" href="javascript:goodNew('57064','http://so.gushiwen.org/view.aspx?id=54087',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy57064" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin57064" style="background-color:aqua;"></div>
<div id="toolPlay57064" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare65568">蕙怨兰愁，玉台羞对啼妆面。懒匀香脸。不放眉峰展。幽恨谁知，锦字空传远。何时见。为郎肠断。不似郎情浅。——宋代·向滈《点绛唇（和彪德美韵赠杨伯原）》http://so.gushiwen.org/view_65568.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(65568)" id="btnShangxi65568"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(65568)" id="btnZhushi65568"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(65568)" id="btnYiwen65568" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_65568.aspx"><b>点绛唇（和彪德美韵赠杨伯原）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%90%91%e6%bb%88">向滈</a></p>
<div class="contson" id="contson65568">
蕙怨兰愁，玉台羞对啼妆面。懒匀香脸。不放眉峰展。幽恨谁知，锦字空传远。何时见。为郎肠断。不似郎情浅。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=65568&from=http://so.gushiwen.org/view.aspx?id=54087"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(65568)"><img id="copyimg65568" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('65568','http://m.gushiwen.org/view_65568.aspx')" onmouseout="outweixin(65568)"><img id="weixinimg65568" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood65568" href="javascript:goodNew('65568','http://so.gushiwen.org/view.aspx?id=54087',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy65568" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin65568" style="background-color:aqua;"></div>
<div id="toolPlay65568" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare61497">细阅浮生，为甚底、区区碌碌。算只是、信缘随分，早寻归宿。造物小儿＿簸弄，翻云覆雨难擐触。谩一堆、岁月鬓边来，跳丸速。田二顷，非无粟。官四品，非无禄。更不知足后，待何时足。恰好园池原自有，近来新创三椽屋。且饥时、吃饭困时眠，不为福。——宋代·吴潜《满江红》http://so.gushiwen.org/view_61497.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(61497)" id="btnShangxi61497"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(61497)" id="btnZhushi61497"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(61497)" id="btnYiwen61497" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_61497.aspx"><b>满江红</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%90%b4%e6%bd%9c">吴潜</a></p>
<div class="contson" id="contson61497">
细阅浮生，为甚底、区区碌碌。算只是、信缘随分，早寻归宿。造物小儿＿簸弄，翻云覆雨难擐触。谩一堆、岁月鬓边来，跳丸速。
<br/>
田二顷，非无粟。官四品，非无禄。更不知足后，待何时足。恰好园池原自有，近来新创三椽屋。且饥时、吃饭困时眠，不为福。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=61497&from=http://so.gushiwen.org/view.aspx?id=54087"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(61497)"><img id="copyimg61497" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('61497','http://m.gushiwen.org/view_61497.aspx')" onmouseout="outweixin(61497)"><img id="weixinimg61497" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood61497" href="javascript:goodNew('61497','http://so.gushiwen.org/view.aspx?id=54087',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy61497" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin61497" style="background-color:aqua;"></div>
<div id="toolPlay61497" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5653.aspx">却是有，年年塞雁，归来曾见开时。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5297.aspx">王孙莫把比蓬蒿，九日枝枝近鬓毛。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
