
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
御街行原文、翻译及赏析_杨无咎_古诗文网
</title>
<meta name="description" content="平生厌见花时节。惟只爱、梅花发。破寒迎腊吐幽姿，占断一番清绝。照溪印月，带烟和雨，傍竹仍藏雪。松煤淡出宜孤洁。最嫌把、铅华说暗香销尽欲飘零，须得笛声呜咽。这些风味，自家领略，莫与傍" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_54180.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_54180.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare54180">平生厌见花时节。惟只爱、梅花发。破寒迎腊吐幽姿，占断一番清绝。照溪印月，带烟和雨，傍竹仍藏雪。松煤淡出宜孤洁。最嫌把、铅华说暗香销尽欲飘零，须得笛声呜咽。这些风味，自家领略，莫与傍人说。——宋代·杨无咎《御街行》http://so.gushiwen.org/view_54180.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(54180)" id="btnShangxi54180"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(54180)" id="btnZhushi54180"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(54180)" id="btnYiwen54180" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">御街行</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_711.aspx">杨无咎</a> </p>
<div class="contson" id="contson54180">
平生厌见花时节。惟只爱、梅花发。破寒迎腊吐幽姿，占断一番清绝。照溪印月，带烟和雨，傍竹仍藏雪。
<br/>
松煤淡出宜孤洁。最嫌把、铅华说暗香销尽欲飘零，须得笛声呜咽。这些风味，自家领略，莫与傍人说。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=54180&from=http://so.gushiwen.org/view.aspx?id=54180"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(54180)"><img id="copyimg54180" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('54180','http://m.gushiwen.org/view_54180.aspx')" onmouseout="outweixin(54180)"><img id="weixinimg54180" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=54180"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=7950387807"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood54180" href="javascript:goodNew('54180','http://so.gushiwen.org/view.aspx?id=54180',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin54180" style="background-color:aqua;"></div>
<div id="toolPlay54180" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor711">杨无咎（1097～1171）字补之，杨一作扬，一说名补之，字无咎。自号逃禅老人、清夷长者、紫阳居士。临江清江（今江西樟树）人，寓居洪州南昌。绘画尤擅墨梅。水墨人物画师法李公麟。书学欧阳询，笔势劲利。今存《逃禅词》一卷，词多题画之作，风格婉丽。生平事迹见《宋史翼》卷三六。http://so.gushiwen.org/author_711.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_711.aspx"><img src="http://img.gushiwen.org/authorImg/yangwujiu.jpg" width="105" height="150" alt="杨无咎"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_711.aspx"><b>杨无咎</b></a></p>
<p style=" margin:0px;">杨无咎（1097～1171）字补之，杨一作扬，一说名补之，字无咎。自号逃禅老人、清夷长者、紫阳居士。临江清江（今江西樟树）人，寓居洪州南昌。绘画尤擅墨梅。水墨人物画师法李公麟。书学欧阳询，笔势劲利。今存《逃禅词》一卷，词多题画之作，风格婉丽。生平事迹见《宋史翼》卷三六。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=711&from=http://so.gushiwen.org/view.aspx?id=54180"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(711)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('711','http://m.gushiwen.org/author_711.aspx')" onmouseout="outweixinAuthor(711)"><img id="weixinAuthorImg711" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor711" href="javascript:goodAuthorNew('711','http://so.gushiwen.org/view.aspx?id=54180',179)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;179</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor711" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare48934">十五六，脱罗裳，长恁黛眉蹙。红玉暖，入人怀，春困熟。展香裀，帐前明画烛。眼波长，斜浸鬓云绿。看不足。苦残宵、更漏促。——宋代·欧阳修《忆秦娥》http://so.gushiwen.org/view_48934.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(48934)" id="btnShangxi48934"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(48934)" id="btnZhushi48934"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(48934)" id="btnYiwen48934" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_48934.aspx"><b>忆秦娥</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%ac%a7%e9%98%b3%e4%bf%ae">欧阳修</a></p>
<div class="contson" id="contson48934">
十五六，脱罗裳，长恁黛眉蹙。红玉暖，入人怀，春困熟。
<br/>
展香裀，帐前明画烛。眼波长，斜浸鬓云绿。看不足。苦残宵、更漏促。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=48934&from=http://so.gushiwen.org/view.aspx?id=54180"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(48934)"><img id="copyimg48934" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('48934','http://m.gushiwen.org/view_48934.aspx')" onmouseout="outweixin(48934)"><img id="weixinimg48934" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood48934" href="javascript:goodNew('48934','http://so.gushiwen.org/view.aspx?id=54180',48)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;48</span></a></div>
</div>
<div id="toolCopy48934" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin48934" style="background-color:aqua;"></div>
<div id="toolPlay48934" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare50985">郊原雨过金英秀。风扫霜威寒入袖。感君一曲断肠歌，劝我十分和泪酒。古道尘清榆柳瘦。系马邮亭人散后。今宵灯尽酒醒时，可惜朱颜成皓首。——宋代·周邦彦《木兰花（高平暮秋饯别）》http://so.gushiwen.org/view_50985.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(50985)" id="btnShangxi50985"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(50985)" id="btnZhushi50985"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(50985)" id="btnYiwen50985" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_50985.aspx"><b>木兰花（高平暮秋饯别）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%91%a8%e9%82%a6%e5%bd%a6">周邦彦</a></p>
<div class="contson" id="contson50985">
郊原雨过金英秀。风扫霜威寒入袖。感君一曲断肠歌，劝我十分和泪酒。
<br/>
古道尘清榆柳瘦。系马邮亭人散后。今宵灯尽酒醒时，可惜朱颜成皓首。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=50985&from=http://so.gushiwen.org/view.aspx?id=54180"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(50985)"><img id="copyimg50985" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('50985','http://m.gushiwen.org/view_50985.aspx')" onmouseout="outweixin(50985)"><img id="weixinimg50985" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood50985" href="javascript:goodNew('50985','http://so.gushiwen.org/view.aspx?id=54180',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy50985" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin50985" style="background-color:aqua;"></div>
<div id="toolPlay50985" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare66017">璚楼十二，无限神仙侣。紫绂丹麾彩鸾驭。步虚声杳霭，碧落天高，微云淡，点破瑶阶白露。暗香来水阁，冰簟纱厨，一枕风轻自无暑。更上水精帘，斗挂阑干，银河浅、天孙将渡。终不如、归去在苕川，看千顷菰蒲，乱鸣秋雨。——宋代·葛郯《洞仙歌（壬辰六月十二日纳凉）》http://so.gushiwen.org/view_66017.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(66017)" id="btnShangxi66017"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(66017)" id="btnZhushi66017"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(66017)" id="btnYiwen66017" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_66017.aspx"><b>洞仙歌（壬辰六月十二日纳凉）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%91%9b%e9%83%af">葛郯</a></p>
<div class="contson" id="contson66017">
璚楼十二，无限神仙侣。紫绂丹麾彩鸾驭。步虚声杳霭，碧落天高，微云淡，点破瑶阶白露。暗香来水阁，冰簟纱厨，一枕风轻自无暑。更上水精帘，斗挂阑干，银河浅、天孙将渡。终不如、归去在苕川，看千顷菰蒲，乱鸣秋雨。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=66017&from=http://so.gushiwen.org/view.aspx?id=54180"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(66017)"><img id="copyimg66017" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('66017','http://m.gushiwen.org/view_66017.aspx')" onmouseout="outweixin(66017)"><img id="weixinimg66017" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood66017" href="javascript:goodNew('66017','http://so.gushiwen.org/view.aspx?id=54180',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy66017" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin66017" style="background-color:aqua;"></div>
<div id="toolPlay66017" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3401.aspx">日月照之何不及此？惟有北风号怒天上来。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_148.aspx">不论平地与山尖，无限风光尽被占。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
