
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
忆秦娥（邯郸道上望丛台有感）原文、翻译及赏析_曾觌_古诗文网
</title>
<meta name="description" content="风萧瑟。邯郸古道伤行客。伤行客。繁华一瞬，不堪思忆。丛台歌舞无消息。金尊玉管空尘迹。空尘迹。连天草树，暮云凝碧。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_54754.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_54754.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare54754">风萧瑟。邯郸古道伤行客。伤行客。繁华一瞬，不堪思忆。丛台歌舞无消息。金尊玉管空尘迹。空尘迹。连天草树，暮云凝碧。——宋代·曾觌《忆秦娥（邯郸道上望丛台有感）》http://so.gushiwen.org/view_54754.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(54754)" id="btnShangxi54754"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(54754)" id="btnZhushi54754"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(54754)" id="btnYiwen54754" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">忆秦娥（邯郸道上望丛台有感）</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_69.aspx">曾觌</a> </p>
<div class="contson" id="contson54754">
风萧瑟。邯郸古道伤行客。伤行客。繁华一瞬，不堪思忆。
<br/>
丛台歌舞无消息。金尊玉管空尘迹。空尘迹。连天草树，暮云凝碧。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=54754&from=http://so.gushiwen.org/view.aspx?id=54754"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(54754)"><img id="copyimg54754" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('54754','http://m.gushiwen.org/view_54754.aspx')" onmouseout="outweixin(54754)"><img id="weixinimg54754" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=54754"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=0402452588"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood54754" href="javascript:goodNew('54754','http://so.gushiwen.org/view.aspx?id=54754',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div class="toolerweima" id="weixin54754" style="background-color:aqua;"></div>
<div id="toolPlay54754" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor69">曾觌（音di迪）（1109-1180） 字纯甫，汴京（今河南开封）人。绍兴中，为建王内知客。孝宗受禅，以潜邸旧人，授权知阁门事。淳熙初，除开府仪同三司，加少保、醴泉观使。趋奉宫廷，词多应制之作。其词语言婉丽，风格柔媚。代表作为《阮郎归》、《水调歌头》《西江月》《定风波》（长相思》、《采桑子》、《眼儿媚》、《忆秦娥》等，其中以《阮郎归》一词为最著名。http://so.gushiwen.org/author_69.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_69.aspx"><b>曾觌</b></a></p>
<p style=" margin:0px;">曾觌（音di迪）（1109-1180） 字纯甫，汴京（今河南开封）人。绍兴中，为建王内知客。孝宗受禅，以潜邸旧人，授权知阁门事。淳熙初，除开府仪同三司，加少保、醴泉观使。趋奉宫廷，词多应制之作。其词语言婉丽，风格柔媚。代表作为《阮郎归》、《水调歌头》《西江月》《定风波》（长相思》、《采桑子》、《眼儿媚》、《忆秦娥》等，其中以《阮郎归》一词为最著名。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=69&from=http://so.gushiwen.org/view.aspx?id=54754"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(69)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('69','http://m.gushiwen.org/author_69.aspx')" onmouseout="outweixinAuthor(69)"><img id="weixinAuthorImg69" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor69" href="javascript:goodAuthorNew('69','http://so.gushiwen.org/view.aspx?id=54754',107)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;107</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor69" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare50081">栏干十二，倚遍还重倚。一曲一般愁，对芳草、伤春千里。绮窗深处，还解忆人无，碧云辞，红叶字。曾仗东风寄。缭墙深院，无路通深意。纵使得新声，又争知、相如名字。从来风韵，潇洒不禁愁，捻梨花，看菊蕊。应也成憔悴。——宋代·晁端礼《蓦山溪》http://so.gushiwen.org/view_50081.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(50081)" id="btnShangxi50081"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(50081)" id="btnZhushi50081"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(50081)" id="btnYiwen50081" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_50081.aspx"><b>蓦山溪</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%99%81%e7%ab%af%e7%a4%bc">晁端礼</a></p>
<div class="contson" id="contson50081">
栏干十二，倚遍还重倚。一曲一般愁，对芳草、伤春千里。绮窗深处，还解忆人无，碧云辞，红叶字。曾仗东风寄。
<br/>
缭墙深院，无路通深意。纵使得新声，又争知、相如名字。从来风韵，潇洒不禁愁，捻梨花，看菊蕊。应也成憔悴。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=50081&from=http://so.gushiwen.org/view.aspx?id=54754"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(50081)"><img id="copyimg50081" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('50081','http://m.gushiwen.org/view_50081.aspx')" onmouseout="outweixin(50081)"><img id="weixinimg50081" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood50081" href="javascript:goodNew('50081','http://so.gushiwen.org/view.aspx?id=54754',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy50081" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin50081" style="background-color:aqua;"></div>
<div id="toolPlay50081" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare56392">光阴转毂，况生死事大，无常迅速。学道参禅、要识取，自家本来面目。闹里提撕，静中打坐，闲看传灯录。话头记取，要须生处教熟。一日十二时中，莫教间断，念念来相续。唤作竹篦还则背，不唤竹篦则触。斩却猫儿，问他狗子，更去参尊宿。忽然瞥地，碧潭冷浸寒玉。——宋代·沈瀛《念奴娇》http://so.gushiwen.org/view_56392.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(56392)" id="btnShangxi56392"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(56392)" id="btnZhushi56392"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(56392)" id="btnYiwen56392" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_56392.aspx"><b>念奴娇</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%b2%88%e7%80%9b">沈瀛</a></p>
<div class="contson" id="contson56392">
光阴转毂，况生死事大，无常迅速。学道参禅、要识取，自家本来面目。闹里提撕，静中打坐，闲看传灯录。话头记取，要须生处教熟。
<br/>
一日十二时中，莫教间断，念念来相续。唤作竹篦还则背，不唤竹篦则触。斩却猫儿，问他狗子，更去参尊宿。忽然瞥地，碧潭冷浸寒玉。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=56392&from=http://so.gushiwen.org/view.aspx?id=54754"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(56392)"><img id="copyimg56392" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('56392','http://m.gushiwen.org/view_56392.aspx')" onmouseout="outweixin(56392)"><img id="weixinimg56392" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood56392" href="javascript:goodNew('56392','http://so.gushiwen.org/view.aspx?id=54754',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy56392" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin56392" style="background-color:aqua;"></div>
<div id="toolPlay56392" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare65551">长记酒醒人散后，风月满江楼。楼外烟波万顷秋。高槛冷飕飕。想见云鬟香雾湿，斜坠玉搔头。两处相思一样愁。休更照鄜州。——宋代·向滈《武陵春（藤州江月楼）》http://so.gushiwen.org/view_65551.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(65551)" id="btnShangxi65551"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(65551)" id="btnZhushi65551"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(65551)" id="btnYiwen65551" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_65551.aspx"><b>武陵春（藤州江月楼）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%90%91%e6%bb%88">向滈</a></p>
<div class="contson" id="contson65551">
长记酒醒人散后，风月满江楼。楼外烟波万顷秋。高槛冷飕飕。想见云鬟香雾湿，斜坠玉搔头。两处相思一样愁。休更照鄜州。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=65551&from=http://so.gushiwen.org/view.aspx?id=54754"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(65551)"><img id="copyimg65551" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('65551','http://m.gushiwen.org/view_65551.aspx')" onmouseout="outweixin(65551)"><img id="weixinimg65551" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood65551" href="javascript:goodNew('65551','http://so.gushiwen.org/view.aspx?id=54754',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy65551" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin65551" style="background-color:aqua;"></div>
<div id="toolPlay65551" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3840.aspx">月华如练，长是人千里。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3358.aspx">天苍苍，野茫茫。风吹草低见牛羊。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
