
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
西江月原文、翻译及赏析_王千秋_古诗文网
</title>
<meta name="description" content="梦幻影泡有限，风花雪月无涯。莫分粗俗与精华。日醉石间松下。菜尽邻家解与，杯空稚子能赊。通幽即步尽横斜。不问墩犹姓谢。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_55533.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_55533.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare55533">梦幻影泡有限，风花雪月无涯。莫分粗俗与精华。日醉石间松下。菜尽邻家解与，杯空稚子能赊。通幽即步尽横斜。不问墩犹姓谢。——宋代·王千秋《西江月》http://so.gushiwen.org/view_55533.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(55533)" id="btnShangxi55533"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(55533)" id="btnZhushi55533"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(55533)" id="btnYiwen55533" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">西江月</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_1777.aspx">王千秋</a> </p>
<div class="contson" id="contson55533">
梦幻影泡有限，风花雪月无涯。莫分粗俗与精华。日醉石间松下。
<br/>
菜尽邻家解与，杯空稚子能赊。通幽即步尽横斜。不问墩犹姓谢。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=55533&from=http://so.gushiwen.org/view.aspx?id=55533"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(55533)"><img id="copyimg55533" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('55533','http://m.gushiwen.org/view_55533.aspx')" onmouseout="outweixin(55533)"><img id="weixinimg55533" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=55533"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=7777699408"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood55533" href="javascript:goodNew('55533','http://so.gushiwen.org/view.aspx?id=55533',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin55533" style="background-color:aqua;"></div>
<div id="toolPlay55533" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor1777">生卒年月不详，字锡老，号审斋，东平(今属山东)人，流寓金陵，晚年转徙湘湖间。与游者张安世、韩元吉等，皆南渡初名士，年辈应亦相类。词风清拔可喜，著有《审斋词》1卷。http://so.gushiwen.org/author_1777.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_1777.aspx"><b>王千秋</b></a></p>
<p style=" margin:0px;">生卒年月不详，字锡老，号审斋，东平(今属山东)人，流寓金陵，晚年转徙湘湖间。与游者张安世、韩元吉等，皆南渡初名士，年辈应亦相类。词风清拔可喜，著有《审斋词》1卷。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=1777&from=http://so.gushiwen.org/view.aspx?id=55533"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(1777)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('1777','http://m.gushiwen.org/author_1777.aspx')" onmouseout="outweixinAuthor(1777)"><img id="weixinAuthorImg1777" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor1777" href="javascript:goodAuthorNew('1777','http://so.gushiwen.org/view.aspx?id=55533',0)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;0</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor1777" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare51734">黄菊鲜鲜带露浓。小园开遍度香风。自篘玉酝酬秋色，旋洗霜须对晚丛香在手，莫匆匆。寻芳今夜有人同。黄金委地新收得，莫道山翁到底穷。——宋代·葛胜仲《鹧鸪天（赏菊二首）》http://so.gushiwen.org/view_51734.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(51734)" id="btnShangxi51734"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(51734)" id="btnZhushi51734"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(51734)" id="btnYiwen51734" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_51734.aspx"><b>鹧鸪天（赏菊二首）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%91%9b%e8%83%9c%e4%bb%b2">葛胜仲</a></p>
<div class="contson" id="contson51734">
黄菊鲜鲜带露浓。小园开遍度香风。自篘玉酝酬秋色，旋洗霜须对晚丛
<br/>
香在手，莫匆匆。寻芳今夜有人同。黄金委地新收得，莫道山翁到底穷。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=51734&from=http://so.gushiwen.org/view.aspx?id=55533"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(51734)"><img id="copyimg51734" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('51734','http://m.gushiwen.org/view_51734.aspx')" onmouseout="outweixin(51734)"><img id="weixinimg51734" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood51734" href="javascript:goodNew('51734','http://so.gushiwen.org/view.aspx?id=55533',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy51734" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin51734" style="background-color:aqua;"></div>
<div id="toolPlay51734" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare59804">民无札瘥，岁无荒饥。冬既寒而雪，春方交而雨。邦民德之，乃因民所欲而尊其知。正月之望，张灯公廨，以旁施于亭也，令民游观无禁。前乎此也，阴云XXXX暧，连日不开。膏火既举，霾云扫青，万象轩豁。城之中边，士女阗咽，以游以嬉，以歌以舞。穹壤之间，同一和气，官民之际，同一至乐，穆乎休哉。属吏徐鹿卿偶得周旋其间，思有以写父老之所欲言而不能言者以为公寿。顾其词语浅薄，不足发越，乃杂取东坡先生上元诸诗隐括成《酹江月》一阕，与邦民共歌之雪销平野，正云开天宇，灯辉花市。明灭吐吞无尽藏，巧斗飞桥激水。铁马乡冰，牙旗穿夜，箫鼓声歌沸。丰年欢笑，酿成千里和气。相欢交□游嬉，卖薪买酒，歌舞升平里。记得前年随玉辇，吹下天香扑鼻。璧月腾辉，仙球稳缒，归有传柑遗。来年此夜，通明仍许归侍。——宋代·徐鹿卿《酹江月》http://so.gushiwen.org/view_59804.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(59804)" id="btnShangxi59804"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(59804)" id="btnZhushi59804"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(59804)" id="btnYiwen59804" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_59804.aspx"><b>酹江月</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%be%90%e9%b9%bf%e5%8d%bf">徐鹿卿</a></p>
<div class="contson" id="contson59804">
民无札瘥，岁无荒饥。冬既寒而雪，春方交而雨。邦民德之，乃因民所欲而尊其知。正月之望，张灯公廨，以旁施于亭也，令民游观无禁。前乎此也，阴云XXXX暧，连日不开。膏火既举，霾云扫青，万象轩豁。城之中边，士女阗咽，以游以嬉，以歌以舞。穹壤之间，同一和气，官民之际，同一至乐，穆乎休哉。属吏徐鹿卿偶得周旋其间，思有以写父老之所欲言而不能言者以为公寿。顾其词语浅薄，不足发越，乃杂取东坡先生上元诸诗隐括成《酹江月》一阕，与邦民共歌之
<br/>
雪销平野，正云开天宇，灯辉花市。明灭吐吞无尽藏，巧斗飞桥激水。铁马乡冰，牙旗穿夜，箫鼓声歌沸。丰年欢笑，酿成千里和气。
<br/>
相欢交□游嬉，卖薪买酒，歌舞升平里。记得前年随玉辇，吹下天香扑鼻。璧月腾辉，仙球稳缒，归有传柑遗。来年此夜，通明仍许归侍。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=59804&from=http://so.gushiwen.org/view.aspx?id=55533"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(59804)"><img id="copyimg59804" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('59804','http://m.gushiwen.org/view_59804.aspx')" onmouseout="outweixin(59804)"><img id="weixinimg59804" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood59804" href="javascript:goodNew('59804','http://so.gushiwen.org/view.aspx?id=55533',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy59804" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin59804" style="background-color:aqua;"></div>
<div id="toolPlay59804" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare57363">腊月今朝恰一旬。梅花开遍陇头春。篆烟起处人称寿，从昔家和福自生。新喜事，得佳姻。贤郎顺妇正充庭。从今更祝千千岁，要与邦人作典型。——宋代·廖行之《鹧鸪天（寿外舅）》http://so.gushiwen.org/view_57363.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(57363)" id="btnShangxi57363"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(57363)" id="btnZhushi57363"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(57363)" id="btnYiwen57363" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_57363.aspx"><b>鹧鸪天（寿外舅）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%bb%96%e8%a1%8c%e4%b9%8b">廖行之</a></p>
<div class="contson" id="contson57363">
腊月今朝恰一旬。梅花开遍陇头春。篆烟起处人称寿，从昔家和福自生。
<br/>
新喜事，得佳姻。贤郎顺妇正充庭。从今更祝千千岁，要与邦人作典型。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=57363&from=http://so.gushiwen.org/view.aspx?id=55533"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(57363)"><img id="copyimg57363" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('57363','http://m.gushiwen.org/view_57363.aspx')" onmouseout="outweixin(57363)"><img id="weixinimg57363" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood57363" href="javascript:goodNew('57363','http://so.gushiwen.org/view.aspx?id=55533',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy57363" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin57363" style="background-color:aqua;"></div>
<div id="toolPlay57363" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2249.aspx">蝴蝶不传千里梦，子规叫断三更月。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_225.aspx">一往情深深几许？深山夕照深秋雨。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
