
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
朝中措（丙午立春大雪，是岁十二月九日丑时立春）原文、翻译及赏析_范成大_古诗文网
</title>
<meta name="description" content="东风半夜度关山。和雪到阑干。怪见梅梢未暖，情知柳眼犹寒。青丝菜甲，银泥饼饵，随分杯盘。已把宜春缕胜，更将长命题幡。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_56195.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_56195.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare56195">东风半夜度关山。和雪到阑干。怪见梅梢未暖，情知柳眼犹寒。青丝菜甲，银泥饼饵，随分杯盘。已把宜春缕胜，更将长命题幡。——宋代·范成大《朝中措（丙午立春大雪，是岁十二月九日丑时立春）》http://so.gushiwen.org/view_56195.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(56195)" id="btnShangxi56195"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(56195)" id="btnZhushi56195"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(56195)" id="btnYiwen56195" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">朝中措（丙午立春大雪，是岁十二月九日丑时立春）</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_529.aspx">范成大</a> </p>
<div class="contson" id="contson56195">
东风半夜度关山。和雪到阑干。怪见梅梢未暖，情知柳眼犹寒。
<br/>
青丝菜甲，银泥饼饵，随分杯盘。已把宜春缕胜，更将长命题幡。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=56195&from=http://so.gushiwen.org/view.aspx?id=56195"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(56195)"><img id="copyimg56195" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('56195','http://m.gushiwen.org/view_56195.aspx')" onmouseout="outweixin(56195)"><img id="weixinimg56195" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=56195"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=8283252317"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood56195" href="javascript:goodNew('56195','http://so.gushiwen.org/view.aspx?id=56195',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin56195" style="background-color:aqua;"></div>
<div id="toolPlay56195" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor529">范成大（1126-1193），字致能，号称石湖居士。汉族，平江吴县（今江苏苏州）人。南宋诗人。谥文穆。从江西派入手，后学习中、晚唐诗，继承了白居易、王建、张籍等诗人新乐府的现实主义精神，终于自成一家。风格平易浅显、清新妩媚。诗题材广泛，以反映农村社会生活内容的作品成就最高。他与杨万里、陆游、尤袤合称南宋“中兴四大诗人”。http://so.gushiwen.org/author_529.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_529.aspx"><img src="http://img.gushiwen.org/authorImg/fanchengda.jpg" width="105" height="150" alt="范成大"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_529.aspx"><b>范成大</b></a></p>
<p style=" margin:0px;">范成大（1126-1193），字致能，号称石湖居士。汉族，平江吴县（今江苏苏州）人。南宋诗人。谥文穆。从江西派入手，后学习中、晚唐诗，继承了白居易、王建、张籍等诗人新乐府的现实主义精神，终于自成一家。风格平易浅显、清新妩媚。诗题材广泛，以反映农村社会生活内容的作品成就最高。他与杨万里、陆游、尤袤合称南宋“中兴四大诗人”。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=529&from=http://so.gushiwen.org/view.aspx?id=56195"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(529)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('529','http://m.gushiwen.org/author_529.aspx')" onmouseout="outweixinAuthor(529)"><img id="weixinAuthorImg529" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor529" href="javascript:goodAuthorNew('529','http://so.gushiwen.org/view.aspx?id=56195',234)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;234</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor529" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare57267">花前月下曾鸳鸯。分散两情伤。临行祝付真意，臂间皓齿留香。还更毒，又何妨。尽成疮。疮儿见在，痕儿见在，见后思量。——宋代·赵长卿《诉衷情》http://so.gushiwen.org/view_57267.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(57267)" id="btnShangxi57267"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(57267)" id="btnZhushi57267"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(57267)" id="btnYiwen57267" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_57267.aspx"><b>诉衷情</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%b5%b5%e9%95%bf%e5%8d%bf">赵长卿</a></p>
<div class="contson" id="contson57267">
花前月下曾鸳鸯。分散两情伤。临行祝付真意，臂间皓齿留香。
<br/>
还更毒，又何妨。尽成疮。疮儿见在，痕儿见在，见后思量。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=57267&from=http://so.gushiwen.org/view.aspx?id=56195"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(57267)"><img id="copyimg57267" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('57267','http://m.gushiwen.org/view_57267.aspx')" onmouseout="outweixin(57267)"><img id="weixinimg57267" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood57267" href="javascript:goodNew('57267','http://so.gushiwen.org/view.aspx?id=56195',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy57267" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin57267" style="background-color:aqua;"></div>
<div id="toolPlay57267" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare62701">老去坐来睡重，病多吟得诗慳。有时忽自拍阑干。一点心随天远。柳絮飞从何处，莺声啼破空山。春风依旧满人间。不奈双颦闲管。——宋代·陈著《西江月（书怀）》http://so.gushiwen.org/view_62701.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(62701)" id="btnShangxi62701"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(62701)" id="btnZhushi62701"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(62701)" id="btnYiwen62701" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_62701.aspx"><b>西江月（书怀）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e9%99%88%e8%91%97">陈著</a></p>
<div class="contson" id="contson62701">
老去坐来睡重，病多吟得诗慳。有时忽自拍阑干。一点心随天远。
<br/>
柳絮飞从何处，莺声啼破空山。春风依旧满人间。不奈双颦闲管。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=62701&from=http://so.gushiwen.org/view.aspx?id=56195"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(62701)"><img id="copyimg62701" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('62701','http://m.gushiwen.org/view_62701.aspx')" onmouseout="outweixin(62701)"><img id="weixinimg62701" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood62701" href="javascript:goodNew('62701','http://so.gushiwen.org/view.aspx?id=56195',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy62701" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin62701" style="background-color:aqua;"></div>
<div id="toolPlay62701" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare65369">天女多情，梨花碎翦，人间赠与多才。渐瑶池潋滟，粉翘徘徊。面旋不禁风力，背人飞去还来。最清虚好处，遥度幽香，不掩寒梅。岁华多幸呈瑞，泛寒光，一样仙子楼台。虽喜朱颜可照，时更相催。细认沙汀鹭下，静看烟渚潮回。遣青蛾趁拍，斗献轻盈，且更传杯。——宋代·黄裳《锦堂春（玩雪）》http://so.gushiwen.org/view_65369.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(65369)" id="btnShangxi65369"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(65369)" id="btnZhushi65369"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(65369)" id="btnYiwen65369" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_65369.aspx"><b>锦堂春（玩雪）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e9%bb%84%e8%a3%b3">黄裳</a></p>
<div class="contson" id="contson65369">
天女多情，梨花碎翦，人间赠与多才。渐瑶池潋滟，粉翘徘徊。面旋不禁风力，背人飞去还来。最清虚好处，遥度幽香，不掩寒梅。
<br/>
岁华多幸呈瑞，泛寒光，一样仙子楼台。虽喜朱颜可照，时更相催。细认沙汀鹭下，静看烟渚潮回。遣青蛾趁拍，斗献轻盈，且更传杯。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=65369&from=http://so.gushiwen.org/view.aspx?id=56195"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(65369)"><img id="copyimg65369" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('65369','http://m.gushiwen.org/view_65369.aspx')" onmouseout="outweixin(65369)"><img id="weixinimg65369" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood65369" href="javascript:goodNew('65369','http://so.gushiwen.org/view.aspx?id=56195',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy65369" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin65369" style="background-color:aqua;"></div>
<div id="toolPlay65369" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_16.aspx">落霞与孤鹜齐飞，秋水共长天一色。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3585.aspx">满川风雨独凭栏，绾结湘娥十二鬟。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
