
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
木兰花慢（送郑伯昌）原文、翻译及赏析_范成大_古诗文网
</title>
<meta name="description" content="古人吾不见，君莫是、郑当时。更筑就山房，躬耕谷口，名动京师。诸公任他衮衮，与杜陵野老共襟期。有客至门先喜，得钱沽酒何疑。昔年连辔柳边归。陈迹恍难追。况种桃道士，看花才子，回首皆非。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_56283.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_56283.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare56283">古人吾不见，君莫是、郑当时。更筑就山房，躬耕谷口，名动京师。诸公任他衮衮，与杜陵野老共襟期。有客至门先喜，得钱沽酒何疑。昔年连辔柳边归。陈迹恍难追。况种桃道士，看花才子，回首皆非。相逢故人问讯，道刘郎去久无诗。把做一场春梦，觉来莫要寻思。——宋代·范成大《木兰花慢（送郑伯昌）》http://so.gushiwen.org/view_56283.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(56283)" id="btnShangxi56283"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(56283)" id="btnZhushi56283"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(56283)" id="btnYiwen56283" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">木兰花慢（送郑伯昌）</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_529.aspx">范成大</a> </p>
<div class="contson" id="contson56283">
古人吾不见，君莫是、郑当时。更筑就山房，躬耕谷口，名动京师。诸公任他衮衮，与杜陵野老共襟期。有客至门先喜，得钱沽酒何疑。
<br/>
昔年连辔柳边归。陈迹恍难追。况种桃道士，看花才子，回首皆非。相逢故人问讯，道刘郎去久无诗。把做一场春梦，觉来莫要寻思。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=56283&from=http://so.gushiwen.org/view.aspx?id=56283"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(56283)"><img id="copyimg56283" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('56283','http://m.gushiwen.org/view_56283.aspx')" onmouseout="outweixin(56283)"><img id="weixinimg56283" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=56283"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=6651565981"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood56283" href="javascript:goodNew('56283','http://so.gushiwen.org/view.aspx?id=56283',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin56283" style="background-color:aqua;"></div>
<div id="toolPlay56283" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor529">范成大（1126-1193），字致能，号称石湖居士。汉族，平江吴县（今江苏苏州）人。南宋诗人。谥文穆。从江西派入手，后学习中、晚唐诗，继承了白居易、王建、张籍等诗人新乐府的现实主义精神，终于自成一家。风格平易浅显、清新妩媚。诗题材广泛，以反映农村社会生活内容的作品成就最高。他与杨万里、陆游、尤袤合称南宋“中兴四大诗人”。http://so.gushiwen.org/author_529.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_529.aspx"><img src="http://img.gushiwen.org/authorImg/fanchengda.jpg" width="105" height="150" alt="范成大"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_529.aspx"><b>范成大</b></a></p>
<p style=" margin:0px;">范成大（1126-1193），字致能，号称石湖居士。汉族，平江吴县（今江苏苏州）人。南宋诗人。谥文穆。从江西派入手，后学习中、晚唐诗，继承了白居易、王建、张籍等诗人新乐府的现实主义精神，终于自成一家。风格平易浅显、清新妩媚。诗题材广泛，以反映农村社会生活内容的作品成就最高。他与杨万里、陆游、尤袤合称南宋“中兴四大诗人”。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=529&from=http://so.gushiwen.org/view.aspx?id=56283"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(529)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('529','http://m.gushiwen.org/author_529.aspx')" onmouseout="outweixinAuthor(529)"><img id="weixinAuthorImg529" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor529" href="javascript:goodAuthorNew('529','http://so.gushiwen.org/view.aspx?id=56283',234)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;234</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor529" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare65829">俄落盏中如有恋。盏未干时，还见霜娥现。说向翠鬟斟莫浅。殷勤此意应相劝。光景尤宜年少面。千里同看，不与人同怨。席上笑歌身更健。良时只愿长相见。——宋代·黄裳《蝶恋花》http://so.gushiwen.org/view_65829.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(65829)" id="btnShangxi65829"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(65829)" id="btnZhushi65829"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(65829)" id="btnYiwen65829" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_65829.aspx"><b>蝶恋花</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e9%bb%84%e8%a3%b3">黄裳</a></p>
<div class="contson" id="contson65829">
俄落盏中如有恋。盏未干时，还见霜娥现。说向翠鬟斟莫浅。殷勤此意应相劝。光景尤宜年少面。千里同看，不与人同怨。席上笑歌身更健。良时只愿长相见。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=65829&from=http://so.gushiwen.org/view.aspx?id=56283"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(65829)"><img id="copyimg65829" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('65829','http://m.gushiwen.org/view_65829.aspx')" onmouseout="outweixin(65829)"><img id="weixinimg65829" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood65829" href="javascript:goodNew('65829','http://so.gushiwen.org/view.aspx?id=56283',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy65829" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin65829" style="background-color:aqua;"></div>
<div id="toolPlay65829" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare50097">鸳瓦霜轻，玳帘风细，高门瑞气非烟。积厚源深，有长庚应梦，乔岳生贤。妙龄秀发，庆谢庭、兰玉争妍。名动缙绅，况文章政术，俱是家传。别有阴功厚德，向东州、治狱平反。玉函高篆，仙风道骨，锡与长年。最好素秋新霁，对画堂、高启宾筵。何妨纵乐笙歌，剩举觥船。——宋代·晁端礼《黄鹂绕碧树》http://so.gushiwen.org/view_50097.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(50097)" id="btnShangxi50097"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(50097)" id="btnZhushi50097"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(50097)" id="btnYiwen50097" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_50097.aspx"><b>黄鹂绕碧树</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%99%81%e7%ab%af%e7%a4%bc">晁端礼</a></p>
<div class="contson" id="contson50097">
鸳瓦霜轻，玳帘风细，高门瑞气非烟。积厚源深，有长庚应梦，乔岳生贤。妙龄秀发，庆谢庭、兰玉争妍。名动缙绅，况文章政术，俱是家传。
<br/>
别有阴功厚德，向东州、治狱平反。玉函高篆，仙风道骨，锡与长年。最好素秋新霁，对画堂、高启宾筵。何妨纵乐笙歌，剩举觥船。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=50097&from=http://so.gushiwen.org/view.aspx?id=56283"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(50097)"><img id="copyimg50097" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('50097','http://m.gushiwen.org/view_50097.aspx')" onmouseout="outweixin(50097)"><img id="weixinimg50097" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood50097" href="javascript:goodNew('50097','http://so.gushiwen.org/view.aspx?id=56283',3)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3</span></a></div>
</div>
<div id="toolCopy50097" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin50097" style="background-color:aqua;"></div>
<div id="toolPlay50097" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare55872">忆昨曾将明使指，轺车踏遍东城。重来游戏拥双旌。江山皆故部，英俊尽门生。||杖策翩然归去也，送行满坐簪缨。尊前雨泪不胜情。曲终人散后，江上数峰青。——宋代·姚述尧《临江仙（送使君刘显谟归三衢）》http://so.gushiwen.org/view_55872.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(55872)" id="btnShangxi55872"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(55872)" id="btnZhushi55872"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(55872)" id="btnYiwen55872" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_55872.aspx"><b>临江仙（送使君刘显谟归三衢）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%a7%9a%e8%bf%b0%e5%b0%a7">姚述尧</a></p>
<div class="contson" id="contson55872">
忆昨曾将明使指，轺车踏遍东城。重来游戏拥双旌。江山皆故部，英俊尽门生。|<时坐客预门生者六>|
<br/>
杖策翩然归去也，送行满坐簪缨。尊前雨泪不胜情。曲终人散后，江上数峰青。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=55872&from=http://so.gushiwen.org/view.aspx?id=56283"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(55872)"><img id="copyimg55872" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('55872','http://m.gushiwen.org/view_55872.aspx')" onmouseout="outweixin(55872)"><img id="weixinimg55872" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood55872" href="javascript:goodNew('55872','http://so.gushiwen.org/view.aspx?id=56283',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy55872" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin55872" style="background-color:aqua;"></div>
<div id="toolPlay55872" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2650.aspx">荷风送香气，竹露滴清响。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1961.aspx">为容不在貌，独抱孤洁。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
