
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
贺新郎（赋海棠）原文、翻译及赏析_辛弃疾_古诗文网
</title>
<meta name="description" content="著厌霓裳素。染胭脂、＿罗山下，浣沙溪渡。谁与流霞千古酝，引得东风相误。从臾入、吴宫深处。鬓乱钗横浑不醒，转越江、划地迷归路。烟艇小，五湖去。当时倩得春留住。就锦屏一曲，种种断肠风度" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_57959.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_57959.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare57959">著厌霓裳素。染胭脂、＿罗山下，浣沙溪渡。谁与流霞千古酝，引得东风相误。从臾入、吴宫深处。鬓乱钗横浑不醒，转越江、划地迷归路。烟艇小，五湖去。当时倩得春留住。就锦屏一曲，种种断肠风度。才是清明三月近，须要诗人妙句。笑援笔、殷勤为赋。十样蛮笺纹错绮，粲珠玑、渊掷惊风雨。重唤酒，共花语。——宋代·辛弃疾《贺新郎（赋海棠）》http://so.gushiwen.org/view_57959.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(57959)" id="btnShangxi57959"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(57959)" id="btnZhushi57959"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(57959)" id="btnYiwen57959" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">贺新郎（赋海棠）</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_217.aspx">辛弃疾</a> </p>
<div class="contson" id="contson57959">
著厌霓裳素。染胭脂、＿罗山下，浣沙溪渡。谁与流霞千古酝，引得东风相误。从臾入、吴宫深处。鬓乱钗横浑不醒，转越江、划地迷归路。烟艇小，五湖去。
<br/>
当时倩得春留住。就锦屏一曲，种种断肠风度。才是清明三月近，须要诗人妙句。笑援笔、殷勤为赋。十样蛮笺纹错绮，粲珠玑、渊掷惊风雨。重唤酒，共花语。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=57959&from=http://so.gushiwen.org/view.aspx?id=57959"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(57959)"><img id="copyimg57959" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('57959','http://m.gushiwen.org/view_57959.aspx')" onmouseout="outweixin(57959)"><img id="weixinimg57959" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=57959"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=5798816040"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood57959" href="javascript:goodNew('57959','http://so.gushiwen.org/view.aspx?id=57959',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin57959" style="background-color:aqua;"></div>
<div id="toolPlay57959" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor217">辛弃疾（1140－1207），南宋词人。原字坦夫，改字幼安，别号稼轩，汉族，历城（今山东济南）人。出生时，中原已为金兵所占。21岁参加抗金义军，不久归南宋。历任湖北、江西、湖南、福建、浙东安抚使等职。一生力主抗金。曾上《美芹十论》与《九议》，条陈战守之策。其词抒写力图恢复国家统一的爱国热情，倾诉壮志难酬的悲愤，对当时执政者的屈辱求和颇多谴责；也有不少吟咏祖国河山的作品。题材广阔又善化用前人典故入词，风格沉雄豪迈又不乏细腻柔媚之处。由于辛弃疾的抗金主张与当政的主和派政见不合，后被弹劾落职，退隐江西带湖。http://so.gushiwen.org/author_217.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_217.aspx"><img src="http://img.gushiwen.org/authorImg/xinqiji.jpg" width="105" height="150" alt="辛弃疾"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_217.aspx"><b>辛弃疾</b></a></p>
<p style=" margin:0px;">辛弃疾（1140－1207），南宋词人。原字坦夫，改字幼安，别号稼轩，汉族，历城（今山东济南）人。出生时，中原已为金兵所占。21岁参加抗金义军，不久归南宋。历任湖北、江西、湖南、福建、浙东安抚使等职。一生力主抗金。曾上《美芹十论》与《九议》，条陈战守之策。其词抒写力图恢复国家统一的爱国热情，倾诉壮志难酬的悲愤，对当时执政者的屈辱求和颇多谴责；也有不少吟咏祖国河山的作品。题材广阔又善化用前人典故入词，风格沉雄豪迈又不乏细腻柔媚之处。由于辛弃疾的抗金主张与当政的主和派政见不合，后被弹劾落职，退隐江西带湖。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=217&from=http://so.gushiwen.org/view.aspx?id=57959"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(217)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('217','http://m.gushiwen.org/author_217.aspx')" onmouseout="outweixinAuthor(217)"><img id="weixinAuthorImg217" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor217" href="javascript:goodAuthorNew('217','http://so.gushiwen.org/view.aspx?id=57959',2063)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2063</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor217" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare68172">碧筒新展绿蕉芽。黄露洒榴花。蘸烟染就，和云卷起，秋水人家。只因一朵芙蓉月，生怕黛帘遮。燕衔不去，雁飞不到，愁满天涯。——宋代·薛梦桂《眼儿媚（绿笺）》http://so.gushiwen.org/view_68172.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(68172)" id="btnShangxi68172"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(68172)" id="btnZhushi68172"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(68172)" id="btnYiwen68172" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_68172.aspx"><b>眼儿媚（绿笺）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%96%9b%e6%a2%a6%e6%a1%82">薛梦桂</a></p>
<div class="contson" id="contson68172">
碧筒新展绿蕉芽。黄露洒榴花。蘸烟染就，和云卷起，秋水人家。
<br/>
只因一朵芙蓉月，生怕黛帘遮。燕衔不去，雁飞不到，愁满天涯。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=68172&from=http://so.gushiwen.org/view.aspx?id=57959"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(68172)"><img id="copyimg68172" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('68172','http://m.gushiwen.org/view_68172.aspx')" onmouseout="outweixin(68172)"><img id="weixinimg68172" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood68172" href="javascript:goodNew('68172','http://so.gushiwen.org/view.aspx?id=57959',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy68172" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin68172" style="background-color:aqua;"></div>
<div id="toolPlay68172" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare50077">乍酒醒孤馆，梦断幽窗，嫩凉天气。潇洒情怀，想乡关迢递。一枕清风，半帘残月，是闷人滋味。南浦离多，东阳带缓，新来憔悴。因念当时，乱花深径，画楫环溪，屡陪欢醉。踪迹飘流，顿相望千里。水远山高，雁沈鱼阻，奈信音难寄。吟社阑珊，酒徒零落，重寻无计。——宋代·晁端礼《醉蓬莱》http://so.gushiwen.org/view_50077.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(50077)" id="btnShangxi50077"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(50077)" id="btnZhushi50077"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(50077)" id="btnYiwen50077" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_50077.aspx"><b>醉蓬莱</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%99%81%e7%ab%af%e7%a4%bc">晁端礼</a></p>
<div class="contson" id="contson50077">
乍酒醒孤馆，梦断幽窗，嫩凉天气。潇洒情怀，想乡关迢递。一枕清风，半帘残月，是闷人滋味。南浦离多，东阳带缓，新来憔悴。
<br/>
因念当时，乱花深径，画楫环溪，屡陪欢醉。踪迹飘流，顿相望千里。水远山高，雁沈鱼阻，奈信音难寄。吟社阑珊，酒徒零落，重寻无计。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=50077&from=http://so.gushiwen.org/view.aspx?id=57959"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(50077)"><img id="copyimg50077" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('50077','http://m.gushiwen.org/view_50077.aspx')" onmouseout="outweixin(50077)"><img id="weixinimg50077" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood50077" href="javascript:goodNew('50077','http://so.gushiwen.org/view.aspx?id=57959',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy50077" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin50077" style="background-color:aqua;"></div>
<div id="toolPlay50077" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare58923">蔗浆酪粉，玉壶冰醑，朝罢更闻宣赐。去天咫尺，下拜再三，幸今有母可遗。年年此日，共道月入怀中最贵。向暑天，正风云会遇，有恁嘉瑞。鹤冲霄，鱼得水。一超便、直入神仙地。植根江表，开拓两河，做得黑头公未。骑鲸赤手，问如何、长鞭尺＿。向来王谢风流，只今管是。——宋代·陈亮《瑞云浓慢（六月十一日寿罗春伯）》http://so.gushiwen.org/view_58923.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(58923)" id="btnShangxi58923"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(58923)" id="btnZhushi58923"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(58923)" id="btnYiwen58923" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_58923.aspx"><b>瑞云浓慢（六月十一日寿罗春伯）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e9%99%88%e4%ba%ae">陈亮</a></p>
<div class="contson" id="contson58923">
蔗浆酪粉，玉壶冰醑，朝罢更闻宣赐。去天咫尺，下拜再三，幸今有母可遗。年年此日，共道月入怀中最贵。向暑天，正风云会遇，有恁嘉瑞。
<br/>
鹤冲霄，鱼得水。一超便、直入神仙地。植根江表，开拓两河，做得黑头公未。骑鲸赤手，问如何、长鞭尺＿。向来王谢风流，只今管是。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=58923&from=http://so.gushiwen.org/view.aspx?id=57959"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(58923)"><img id="copyimg58923" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('58923','http://m.gushiwen.org/view_58923.aspx')" onmouseout="outweixin(58923)"><img id="weixinimg58923" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood58923" href="javascript:goodNew('58923','http://so.gushiwen.org/view.aspx?id=57959',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy58923" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin58923" style="background-color:aqua;"></div>
<div id="toolPlay58923" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3462.aspx">涛澜汹涌，风云开阖。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_276.aspx">太乙近天都，连山接海隅。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
