
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
水调歌头（自广中出，过庐陵，赠歌姬段云卿）原文、翻译及赏析_韩玉_古诗文网
</title>
<meta name="description" content="有美如花客，容饬尚中州。玉京杳渺际，与别几经秋。家在金河堤畔，身寄白苹洲末，南北两悠悠。休苦话萍梗，清泪已难收。玉壶酒，倾潋滟，听君讴。伫雪却月，新弄一曲洗人忧。同是天涯沦落，何必" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_58730.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_58730.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare58730">有美如花客，容饬尚中州。玉京杳渺际，与别几经秋。家在金河堤畔，身寄白苹洲末，南北两悠悠。休苦话萍梗，清泪已难收。玉壶酒，倾潋滟，听君讴。伫雪却月，新弄一曲洗人忧。同是天涯沦落，何必平生相识，相见且迟留。明日征帆发，风月为君愁。——宋代·韩玉《水调歌头（自广中出，过庐陵，赠歌姬段云卿）》http://so.gushiwen.org/view_58730.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(58730)" id="btnShangxi58730"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(58730)" id="btnZhushi58730"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(58730)" id="btnYiwen58730" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">水调歌头（自广中出，过庐陵，赠歌姬段云卿）</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_2042.aspx">韩玉</a> </p>
<div class="contson" id="contson58730">
有美如花客，容饬尚中州。玉京杳渺际，与别几经秋。家在金河堤畔，身寄白苹洲末，南北两悠悠。休苦话萍梗，清泪已难收。
<br/>
玉壶酒，倾潋滟，听君讴。伫雪却月，新弄一曲洗人忧。同是天涯沦落，何必平生相识，相见且迟留。明日征帆发，风月为君愁。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=58730&from=http://so.gushiwen.org/view.aspx?id=58730"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(58730)"><img id="copyimg58730" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('58730','http://m.gushiwen.org/view_58730.aspx')" onmouseout="outweixin(58730)"><img id="weixinimg58730" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=58730"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=7950433170"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood58730" href="javascript:goodNew('58730','http://so.gushiwen.org/view.aspx?id=58730',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div class="toolerweima" id="weixin58730" style="background-color:aqua;"></div>
<div id="toolPlay58730" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor2042">韩玉，字温甫，南宋词人，韩玉本金人，绍兴初挈家南渡。毛晋刻入六十家词，称其虽与康与之、辛弃疾唱和，相去如苎萝、无盐。著有《东浦词》，世人又称其“韩东浦”。王国维 《人间词话》中认为他与辛弃疾词开北曲四声通押之祖：“稼轩《贺新郎》&#183;&#183;&#183;&#183;&#183;&#183;与韩玉《东浦词&#183;贺新郎》以“玉”、“曲”叶“注”、“女”，《卜算子》以“夜”、“谢”叶“节”、“月”，已开北曲四声通押之祖。”http://so.gushiwen.org/author_2042.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_2042.aspx"><b>韩玉</b></a></p>
<p style=" margin:0px;">韩玉，字温甫，南宋词人，韩玉本金人，绍兴初挈家南渡。毛晋刻入六十家词，称其虽与康与之、辛弃疾唱和，相去如苎萝、无盐。著有《东浦词》，世人又称其“韩东浦”。王国维 《人间词话》中认为他与辛弃疾词开北曲四声通押之祖：“稼轩《贺新郎》&#183;&#183;&#183;&#183;&#183;&#183;与韩玉《东浦词&#183;贺新郎》以“玉”、“曲”叶“注”、“女”，《卜算子》以“夜”、“谢”叶“节”、“月”，已开北曲四声通押之祖。”</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=2042&from=http://so.gushiwen.org/view.aspx?id=58730"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(2042)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('2042','http://m.gushiwen.org/author_2042.aspx')" onmouseout="outweixinAuthor(2042)"><img id="weixinAuthorImg2042" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor2042" href="javascript:goodAuthorNew('2042','http://so.gushiwen.org/view.aspx?id=58730',0)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;0</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor2042" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare73028">生平多交友，常恨会遇稀。每念相笑语，昨是今或非。重惜向时游，出处苦乖违。从今傥有酒，莫问梨粟微。前夕呼我饮，遣奴来扣扉。暗犯风雪往，醉脱冠服归。夜来新霁月，清吐万里辉。刘郎戴幅巾，江叟披褐衣。相过无百步，谁虞窃诃讥。三家苦循环，但知具甘肥。——宋代·梅尧臣《答中上人卷》http://so.gushiwen.org/view_73028.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(73028)" id="btnShangxi73028"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(73028)" id="btnZhushi73028"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(73028)" id="btnYiwen73028" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_73028.aspx"><b>答中上人卷</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%a2%85%e5%b0%a7%e8%87%a3">梅尧臣</a></p>
<div class="contson" id="contson73028">
生平多交友，常恨会遇稀。<br />每念相笑语，昨是今或非。<br />重惜向时游，出处苦乖违。<br />从今傥有酒，莫问梨粟微。<br />前夕呼我饮，遣奴来扣扉。<br />暗犯风雪往，醉脱冠服归。<br />夜来新霁月，清吐万里辉。<br />刘郎戴幅巾，江叟披褐衣。<br />相过无百步，谁虞窃诃讥。<br />三家苦循环，但知具甘肥。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=73028&from=http://so.gushiwen.org/view.aspx?id=58730"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(73028)"><img id="copyimg73028" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('73028','http://m.gushiwen.org/view_73028.aspx')" onmouseout="outweixin(73028)"><img id="weixinimg73028" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood73028" href="javascript:goodNew('73028','http://so.gushiwen.org/view.aspx?id=58730',4)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;4</span></a></div>
</div>
<div id="toolCopy73028" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin73028" style="background-color:aqua;"></div>
<div id="toolPlay73028" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare51017">桃萼新香梅落后。暗叶藏鸦，苒苒垂亭牖。舞困低迷如著酒。乱丝偏近游人手。雨过朦胧斜日透。客舍青青，特地添明秀。莫话扬鞭回别首。渭城荒远无交旧。——宋代·周邦彦《蝶恋花（商调柳·第二）》http://so.gushiwen.org/view_51017.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(51017)" id="btnShangxi51017"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(51017)" id="btnZhushi51017"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(51017)" id="btnYiwen51017" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_51017.aspx"><b>蝶恋花（商调柳·第二）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%91%a8%e9%82%a6%e5%bd%a6">周邦彦</a></p>
<div class="contson" id="contson51017">
桃萼新香梅落后。暗叶藏鸦，苒苒垂亭牖。舞困低迷如著酒。乱丝偏近游人手。
<br/>
雨过朦胧斜日透。客舍青青，特地添明秀。莫话扬鞭回别首。渭城荒远无交旧。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=51017&from=http://so.gushiwen.org/view.aspx?id=58730"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(51017)"><img id="copyimg51017" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('51017','http://m.gushiwen.org/view_51017.aspx')" onmouseout="outweixin(51017)"><img id="weixinimg51017" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood51017" href="javascript:goodNew('51017','http://so.gushiwen.org/view.aspx?id=58730',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy51017" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin51017" style="background-color:aqua;"></div>
<div id="toolPlay51017" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare64360">梅失黄昏，雁惊白昼，脉脉斜飞云表。絮不生萍，水疑浮玉，此景正宜舒啸。记夜悄、曾乘兴，何必见安道。系船好。想前村、未知甚处。吟思苦，谁游灞桥路杳。清饮一瓢寒，又何妨、分傍茶灶。野屋萧萧，任楼中、低唱人笑。渐东风解冻，怕有桃花流到。——宋代·张炎《法曲献仙音（题姜子野雪溪图）》http://so.gushiwen.org/view_64360.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(64360)" id="btnShangxi64360"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(64360)" id="btnZhushi64360"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(64360)" id="btnYiwen64360" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_64360.aspx"><b>法曲献仙音（题姜子野雪溪图）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%bc%a0%e7%82%8e">张炎</a></p>
<div class="contson" id="contson64360">
梅失黄昏，雁惊白昼，脉脉斜飞云表。絮不生萍，水疑浮玉，此景正宜舒啸。记夜悄、曾乘兴，何必见安道。
<br/>
系船好。想前村、未知甚处。吟思苦，谁游灞桥路杳。清饮一瓢寒，又何妨、分傍茶灶。野屋萧萧，任楼中、低唱人笑。渐东风解冻，怕有桃花流到。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=64360&from=http://so.gushiwen.org/view.aspx?id=58730"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(64360)"><img id="copyimg64360" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('64360','http://m.gushiwen.org/view_64360.aspx')" onmouseout="outweixin(64360)"><img id="weixinimg64360" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood64360" href="javascript:goodNew('64360','http://so.gushiwen.org/view.aspx?id=58730',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy64360" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin64360" style="background-color:aqua;"></div>
<div id="toolPlay64360" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4504.aspx">当时父母念，今日尔应知。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5684.aspx">不知天外雁，何事乐长征？</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
