
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
鹧鸪天（禁烟）原文、翻译及赏析_韩淲_古诗文网
</title>
<meta name="description" content="烟禁荒荒雨湿云。近郊争出满城人。儿童藉草几成市，杯酒沾花不觉村。身又老，眼增明。回头一任是红尘。山中谁信无寒食，涧上何如且采苹。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_59638.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_59638.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare59638">烟禁荒荒雨湿云。近郊争出满城人。儿童藉草几成市，杯酒沾花不觉村。身又老，眼增明。回头一任是红尘。山中谁信无寒食，涧上何如且采苹。——宋代·韩淲《鹧鸪天（禁烟）》http://so.gushiwen.org/view_59638.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(59638)" id="btnShangxi59638"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(59638)" id="btnZhushi59638"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(59638)" id="btnYiwen59638" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">鹧鸪天（禁烟）</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_1533.aspx">韩淲</a> </p>
<div class="contson" id="contson59638">
烟禁荒荒雨湿云。近郊争出满城人。儿童藉草几成市，杯酒沾花不觉村。
<br/>
身又老，眼增明。回头一任是红尘。山中谁信无寒食，涧上何如且采苹。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=59638&from=http://so.gushiwen.org/view.aspx?id=59638"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(59638)"><img id="copyimg59638" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('59638','http://m.gushiwen.org/view_59638.aspx')" onmouseout="outweixin(59638)"><img id="weixinimg59638" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=59638"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=2314376784"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood59638" href="javascript:goodNew('59638','http://so.gushiwen.org/view.aspx?id=59638',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin59638" style="background-color:aqua;"></div>
<div id="toolPlay59638" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor1533">韩淲（biāo）（1159—1224）南宋诗人。字仲止，一作子仲，号涧泉，韩元吉之子。祖籍开封，南渡后隶籍信州上饶（今属江西）。从仕后不久即归，有诗名，著有《涧泉集》。淲清廉狷介，与同时知名诗人多有交游，并与赵蕃（章泉）并称“二泉”。著作历代书目未见著录。史弥远当国，罗致之，不为少屈。人品学问，俱有根柢，雅志绝俗，清苦自持，年甫五十即休官不仕。嘉定十七年，以时事惊心，作甲申秋三诗，得疾而卒，年六十六。http://so.gushiwen.org/author_1533.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_1533.aspx"><b>韩淲</b></a></p>
<p style=" margin:0px;">韩淲（biāo）（1159—1224）南宋诗人。字仲止，一作子仲，号涧泉，韩元吉之子。祖籍开封，南渡后隶籍信州上饶（今属江西）。从仕后不久即归，有诗名，著有《涧泉集》。淲清廉狷介，与同时知名诗人多有交游，并与赵蕃（章泉）并称“二泉”。著作历代书目未见著录。史弥远当国，罗致之，不为少屈。人品学问，俱有根柢，雅志绝俗，清苦自持，年甫五十即休官不仕。嘉定十七年，以时事惊心，作甲申秋三诗，得疾而卒，年六十六。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=1533&from=http://so.gushiwen.org/view.aspx?id=59638"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(1533)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('1533','http://m.gushiwen.org/author_1533.aspx')" onmouseout="outweixinAuthor(1533)"><img id="weixinAuthorImg1533" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor1533" href="javascript:goodAuthorNew('1533','http://so.gushiwen.org/view.aspx?id=59638',0)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;0</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor1533" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare52439">至日春云，万般祥瑞朝来奏。太平时候。乐事家家有。玉指呵寒，酥点梅花瘦。金杯酒。与君为寿。只愿人长久。——宋代·朱敦儒《点绛唇》http://so.gushiwen.org/view_52439.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(52439)" id="btnShangxi52439"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(52439)" id="btnZhushi52439"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(52439)" id="btnYiwen52439" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_52439.aspx"><b>点绛唇</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%9c%b1%e6%95%a6%e5%84%92">朱敦儒</a></p>
<div class="contson" id="contson52439">
至日春云，万般祥瑞朝来奏。太平时候。乐事家家有。
<br/>
玉指呵寒，酥点梅花瘦。金杯酒。与君为寿。只愿人长久。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=52439&from=http://so.gushiwen.org/view.aspx?id=59638"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(52439)"><img id="copyimg52439" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('52439','http://m.gushiwen.org/view_52439.aspx')" onmouseout="outweixin(52439)"><img id="weixinimg52439" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood52439" href="javascript:goodNew('52439','http://so.gushiwen.org/view.aspx?id=59638',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy52439" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin52439" style="background-color:aqua;"></div>
<div id="toolPlay52439" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare59546">琼苞玉屑，问天公、底事乱抛轻坠。城郭山川都一样，那得个般清气。谢女才情，如何只道，柳絮因风起。比梅差可，但无绿萼红蕊。坐上十客雄豪，颓然一老，草具相邀致。驱尽寒威凭酒力，买笑千金须费。谁办佳词，洛阳年少，笔下生新意。待添几盏，共君今夕同醉。——宋代·郭应祥《念奴娇（次贾子济韵）》http://so.gushiwen.org/view_59546.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(59546)" id="btnShangxi59546"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(59546)" id="btnZhushi59546"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(59546)" id="btnYiwen59546" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_59546.aspx"><b>念奴娇（次贾子济韵）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e9%83%ad%e5%ba%94%e7%a5%a5">郭应祥</a></p>
<div class="contson" id="contson59546">
琼苞玉屑，问天公、底事乱抛轻坠。城郭山川都一样，那得个般清气。谢女才情，如何只道，柳絮因风起。比梅差可，但无绿萼红蕊。
<br/>
坐上十客雄豪，颓然一老，草具相邀致。驱尽寒威凭酒力，买笑千金须费。谁办佳词，洛阳年少，笔下生新意。待添几盏，共君今夕同醉。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=59546&from=http://so.gushiwen.org/view.aspx?id=59638"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(59546)"><img id="copyimg59546" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('59546','http://m.gushiwen.org/view_59546.aspx')" onmouseout="outweixin(59546)"><img id="weixinimg59546" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood59546" href="javascript:goodNew('59546','http://so.gushiwen.org/view.aspx?id=59638',3)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3</span></a></div>
</div>
<div id="toolCopy59546" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin59546" style="background-color:aqua;"></div>
<div id="toolPlay59546" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare63088">云拥油幢碧。眷蓬莱、宿缘一纪，竟须公出。上界清高仙地位，耿耿为民还切。此自是、平生愿力。雨后新飙凉如濯，喜湖山、千里皆生色。便乘此，问阊阖。殷勤好与摩铜狄。炯精神、依然未老，鹤标龟息。造物生贤非无意，偏近中元时节。试记取、平园莱国。况有盘洲当家样，酉年秋、拾级升枢极。继盛事，看今日。——宋代·牟巘《贺新郎（寿洪云岩）》http://so.gushiwen.org/view_63088.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(63088)" id="btnShangxi63088"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(63088)" id="btnZhushi63088"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(63088)" id="btnYiwen63088" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_63088.aspx"><b>贺新郎（寿洪云岩）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e7%89%9f%e5%b7%98%ee%91%83">牟巘</a></p>
<div class="contson" id="contson63088">
云拥油幢碧。眷蓬莱、宿缘一纪，竟须公出。上界清高仙地位，耿耿为民还切。此自是、平生愿力。雨后新飙凉如濯，喜湖山、千里皆生色。便乘此，问阊阖。殷勤好与摩铜狄。
<br/>
炯精神、依然未老，鹤标龟息。造物生贤非无意，偏近中元时节。试记取、平园莱国。况有盘洲当家样，酉年秋、拾级升枢极。继盛事，看今日。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=63088&from=http://so.gushiwen.org/view.aspx?id=59638"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(63088)"><img id="copyimg63088" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('63088','http://m.gushiwen.org/view_63088.aspx')" onmouseout="outweixin(63088)"><img id="weixinimg63088" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood63088" href="javascript:goodNew('63088','http://so.gushiwen.org/view.aspx?id=59638',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy63088" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin63088" style="background-color:aqua;"></div>
<div id="toolPlay63088" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2895.aspx">秋色冷并刀，一派酸风卷怒涛。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3469.aspx">汉甲连胡兵，沙尘暗云海。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
