
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
望幸亭原文、翻译及赏析_储光羲古诗_古诗文网
</title>
<meta name="description" content="五年一巡狩，西幸过东畿。周国易居守，周人多怨思。君王敷惠政，程作贵从时。大厦非一木，沉沉临九逵。庆云宿飞栋，嘉树罗青墀。疏屏宜朝享，方塘堪水嬉。云中仰华盖，桁下望春旗。天意知如此，" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_6180.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_6180.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare6180">五年一巡狩，西幸过东畿。周国易居守，周人多怨思。君王敷惠政，程作贵从时。大厦非一木，沉沉临九逵。庆云宿飞栋，嘉树罗青墀。疏屏宜朝享，方塘堪水嬉。云中仰华盖，桁下望春旗。天意知如此，星言归洛师。——唐代·储光羲《望幸亭》http://so.gushiwen.org/view_6180.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(6180)" id="btnShangxi6180"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(6180)" id="btnZhushi6180"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(6180)" id="btnYiwen6180" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">望幸亭</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_22.aspx">储光羲</a> </p>
<div class="contson" id="contson6180">
五年一巡狩，西幸过东畿。周国易居守，周人多怨思。
<br />
君王敷惠政，程作贵从时。大厦非一木，沉沉临九逵。
<br />
庆云宿飞栋，嘉树罗青墀。疏屏宜朝享，方塘堪水嬉。
<br />
云中仰华盖，桁下望春旗。天意知如此，星言归洛师。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=6180&from=http://so.gushiwen.org/view.aspx?id=6180"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(6180)"><img id="copyimg6180" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('6180','http://m.gushiwen.org/view_6180.aspx')" onmouseout="outweixin(6180)"><img id="weixinimg6180" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=6180"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=3949977296"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood6180" href="javascript:goodNew('6180','http://so.gushiwen.org/view.aspx?id=6180',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin6180" style="background-color:aqua;"></div>
<div id="toolPlay6180" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor22">储光羲（约706—763）唐代官员，润州延陵人，祖籍兖州。田园山水诗派代表诗人之一。开元十四年（726年）举进士，授冯翊县尉，转汜水、安宣、下邽等地县尉。因仕途失意，遂隐居终南山。后复出任太祝，世称储太祝，官至监察御史。安史之乱中，叛军攻陷长安，被俘，迫受伪职。乱平，自归朝廷请罪，被系下狱，有《狱中贻姚张薛李郑柳诸公》诗，后贬谪岭南。江南储氏多为光羲公后裔，尊称为“江南储氏之祖”。http://so.gushiwen.org/author_22.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_22.aspx"><img src="http://img.gushiwen.org/authorImg/chuguangxi.jpg" width="105" height="150" alt="储光羲"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_22.aspx"><b>储光羲</b></a></p>
<p style=" margin:0px;">储光羲（约706—763）唐代官员，润州延陵人，祖籍兖州。田园山水诗派代表诗人之一。开元十四年（726年）举进士，授冯翊县尉，转汜水、安宣、下邽等地县尉。因仕途失意，遂隐居终南山。后复出任太祝，世称储太祝，官至监察御史。安史之乱中，叛军攻陷长安，被俘，迫受伪职。乱平，自归朝廷请罪，被系下狱，有《狱中贻姚张薛李郑柳诸公》诗，后贬谪岭南。江南储氏多为光羲公后裔，尊称为“江南储氏之祖”。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=22&from=http://so.gushiwen.org/view.aspx?id=6180"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(22)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('22','http://m.gushiwen.org/author_22.aspx')" onmouseout="outweixinAuthor(22)"><img id="weixinAuthorImg22" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor22" href="javascript:goodAuthorNew('22','http://so.gushiwen.org/view.aspx?id=6180',196)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;196</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor22" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare24439">那言柳乱垂，尽日任风吹。欲识千条恨，和烟折一枝。——唐代·雍裕之《折柳赠行人》http://so.gushiwen.org/view_24439.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(24439)" id="btnShangxi24439"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(24439)" id="btnZhushi24439"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(24439)" id="btnYiwen24439" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_24439.aspx"><b>折柳赠行人</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%9b%8d%e8%a3%95%e4%b9%8b">雍裕之</a></p>
<div class="contson" id="contson24439">
那言柳乱垂，尽日任风吹。欲识千条恨，和烟折一枝。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=24439&from=http://so.gushiwen.org/view.aspx?id=6180"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(24439)"><img id="copyimg24439" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('24439','http://m.gushiwen.org/view_24439.aspx')" onmouseout="outweixin(24439)"><img id="weixinimg24439" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood24439" href="javascript:goodNew('24439','http://so.gushiwen.org/view.aspx?id=6180',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy24439" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin24439" style="background-color:aqua;"></div>
<div id="toolPlay24439" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare4016">东西吴蜀关山远，鱼来雁去两难闻。莫怪常有千行泪，只为阳台一片云。——唐代·骆宾王《忆蜀地佳人》http://so.gushiwen.org/view_4016.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(4016)" id="btnShangxi4016"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(4016)" id="btnZhushi4016"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(4016)" id="btnYiwen4016" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_4016.aspx"><b>忆蜀地佳人</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%aa%86%e5%ae%be%e7%8e%8b">骆宾王</a></p>
<div class="contson" id="contson4016">
东西吴蜀关山远，鱼来雁去两难闻。
<br />
莫怪常有千行泪，只为阳台一片云。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=4016&from=http://so.gushiwen.org/view.aspx?id=6180"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(4016)"><img id="copyimg4016" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('4016','http://m.gushiwen.org/view_4016.aspx')" onmouseout="outweixin(4016)"><img id="weixinimg4016" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood4016" href="javascript:goodNew('4016','http://so.gushiwen.org/view.aspx?id=6180',4)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;4</span></a></div>
</div>
<div id="toolCopy4016" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin4016" style="background-color:aqua;"></div>
<div id="toolPlay4016" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare44903">离乱几时休，儒生厄远游。亡家非汉代，何处觅荆州。旅梦寒灯屋，乡怀昼雨楼。相逢话相杀，谁复念风流。——唐代·齐己《酬王秀才》http://so.gushiwen.org/view_44903.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(44903)" id="btnShangxi44903"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(44903)" id="btnZhushi44903"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(44903)" id="btnYiwen44903" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_44903.aspx"><b>酬王秀才</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%bd%90%e5%b7%b1">齐己</a></p>
<div class="contson" id="contson44903">
离乱几时休，儒生厄远游。亡家非汉代，何处觅荆州。
<br />
旅梦寒灯屋，乡怀昼雨楼。相逢话相杀，谁复念风流。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=44903&from=http://so.gushiwen.org/view.aspx?id=6180"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(44903)"><img id="copyimg44903" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('44903','http://m.gushiwen.org/view_44903.aspx')" onmouseout="outweixin(44903)"><img id="weixinimg44903" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood44903" href="javascript:goodNew('44903','http://so.gushiwen.org/view.aspx?id=6180',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy44903" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin44903" style="background-color:aqua;"></div>
<div id="toolPlay44903" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_633.aspx">羁旅长堪醉，相留畏晓钟。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3785.aspx">江天一色无纤尘，皎皎空中孤月轮。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
