
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
沁园春原文、翻译及赏析_赵崇_古诗文网
</title>
<meta name="description" content="紫陌芳尘，烟缕收寒，雨丝过云。羡交阴桃叶，窗前曲槛，认巢燕子，柳底朱门。回首年时，雾鬟风袖，袅袅娉娉娇上春。逢迎处，仅芳华缱绻，玉佩殷勤。谁知此际销魂。漫隐约人前笑语温。记掌中纤细" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_61960.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_61960.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare61960">紫陌芳尘，烟缕收寒，雨丝过云。羡交阴桃叶，窗前曲槛，认巢燕子，柳底朱门。回首年时，雾鬟风袖，袅袅娉娉娇上春。逢迎处，仅芳华缱绻，玉佩殷勤。谁知此际销魂。漫隐约人前笑语温。记掌中纤细，真成一梦，花时怨忆，应为双文。载酒心情，教眉诗句，空悔风流曾误人。凭谁去，待寄将恨事，两处平分。——宋代·赵崇《沁园春》http://so.gushiwen.org/view_61960.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(61960)" id="btnShangxi61960"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(61960)" id="btnZhushi61960"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(61960)" id="btnYiwen61960" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">沁园春</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%b5%b5%e5%b4%87%ee%8f%9d">赵崇</a> </p>
<div class="contson" id="contson61960">
紫陌芳尘，烟缕收寒，雨丝过云。羡交阴桃叶，窗前曲槛，认巢燕子，柳底朱门。回首年时，雾鬟风袖，袅袅娉娉娇上春。逢迎处，仅芳华缱绻，玉佩殷勤。
<br/>
谁知此际销魂。漫隐约人前笑语温。记掌中纤细，真成一梦，花时怨忆，应为双文。载酒心情，教眉诗句，空悔风流曾误人。凭谁去，待寄将恨事，两处平分。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=61960&from=http://so.gushiwen.org/view.aspx?id=61960"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(61960)"><img id="copyimg61960" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('61960','http://m.gushiwen.org/view_61960.aspx')" onmouseout="outweixin(61960)"><img id="weixinimg61960" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=61960"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=0658326432"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood61960" href="javascript:goodNew('61960','http://so.gushiwen.org/view.aspx?id=61960',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin61960" style="background-color:aqua;"></div>
<div id="toolPlay61960" style=" display:none;clear:both;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare59867">秀肌丰靥，韵多香足，绿匀红注。翦取东风入金盘，断不买、临邛赋。宫锦机中春富裕。劝玉环休妒。等得明朝酒消时，是闲澹、雍容处。——宋代·史达祖《留春令（金林檎咏）》http://so.gushiwen.org/view_59867.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(59867)" id="btnShangxi59867"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(59867)" id="btnZhushi59867"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(59867)" id="btnYiwen59867" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_59867.aspx"><b>留春令（金林檎咏）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%8f%b2%e8%be%be%e7%a5%96">史达祖</a></p>
<div class="contson" id="contson59867">
秀肌丰靥，韵多香足，绿匀红注。翦取东风入金盘，断不买、临邛赋。
<br/>
宫锦机中春富裕。劝玉环休妒。等得明朝酒消时，是闲澹、雍容处。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=59867&from=http://so.gushiwen.org/view.aspx?id=61960"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(59867)"><img id="copyimg59867" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('59867','http://m.gushiwen.org/view_59867.aspx')" onmouseout="outweixin(59867)"><img id="weixinimg59867" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood59867" href="javascript:goodNew('59867','http://so.gushiwen.org/view.aspx?id=61960',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy59867" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin59867" style="background-color:aqua;"></div>
<div id="toolPlay59867" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare55064">八月到盘洲，柳外寒蝉懒。一掬木犀花，泛泛玻璃盏。蟾桂十分明，远近秋毫见。举酒劝嫦娥，长使清光满。——宋代·洪适《生查子》http://so.gushiwen.org/view_55064.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(55064)" id="btnShangxi55064"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(55064)" id="btnZhushi55064"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(55064)" id="btnYiwen55064" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_55064.aspx"><b>生查子</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%b4%aa%e9%80%82">洪适</a></p>
<div class="contson" id="contson55064">
八月到盘洲，柳外寒蝉懒。一掬木犀花，泛泛玻璃盏。
<br/>
蟾桂十分明，远近秋毫见。举酒劝嫦娥，长使清光满。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=55064&from=http://so.gushiwen.org/view.aspx?id=61960"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(55064)"><img id="copyimg55064" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('55064','http://m.gushiwen.org/view_55064.aspx')" onmouseout="outweixin(55064)"><img id="weixinimg55064" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood55064" href="javascript:goodNew('55064','http://so.gushiwen.org/view.aspx?id=61960',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy55064" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin55064" style="background-color:aqua;"></div>
<div id="toolPlay55064" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare63807">屋角疏星，庭阴暗水，犹记藏鸦新树。试折梨花，行入小阑深处。听粉片、簌簌飘阶，有人在、夜窗无语。料如今，门掩孤灯，画屏尘满断肠句。佳期浑似流水，还见梧桐几叶，轻敲朱户。一片秋声，应做两边愁绪。江路远、归雁无凭，写绣笺、倩谁将去。谩无聊，犹掩芳樽，醉听深夜雨。——宋代·王沂孙《绮罗香（秋思）》http://so.gushiwen.org/view_63807.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(63807)" id="btnShangxi63807"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(63807)" id="btnZhushi63807"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(63807)" id="btnYiwen63807" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_63807.aspx"><b>绮罗香（秋思）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e7%8e%8b%e6%b2%82%e5%ad%99">王沂孙</a></p>
<div class="contson" id="contson63807">
屋角疏星，庭阴暗水，犹记藏鸦新树。试折梨花，行入小阑深处。听粉片、簌簌飘阶，有人在、夜窗无语。料如今，门掩孤灯，画屏尘满断肠句。
<br/>
佳期浑似流水，还见梧桐几叶，轻敲朱户。一片秋声，应做两边愁绪。江路远、归雁无凭，写绣笺、倩谁将去。谩无聊，犹掩芳樽，醉听深夜雨。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=63807&from=http://so.gushiwen.org/view.aspx?id=61960"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(63807)"><img id="copyimg63807" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('63807','http://m.gushiwen.org/view_63807.aspx')" onmouseout="outweixin(63807)"><img id="weixinimg63807" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood63807" href="javascript:goodNew('63807','http://so.gushiwen.org/view.aspx?id=61960',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy63807" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin63807" style="background-color:aqua;"></div>
<div id="toolPlay63807" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4199.aspx">绿叶紫裹，丹茎白蒂。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4294.aspx">西风稍急喧窗竹，停又续，腻脸悬双玉。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
