
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
齐天乐（和楚客赋芦）原文、翻译及赏析_方岳_古诗文网
</title>
<meta name="description" content="孤蓬夜傍低丛宿，萧萧雨声悲切。一岸霜痕，半江烟色，愁到沙头枯叶。澹云没灭。黯西风吹老，满汀新雪。天岂无情，离骚点点送归客。归去来兮怎得，尽鹭翘鸥倚，乍寒时节。秋晚山川，夕阳浦溆，赢" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_62093.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_62093.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare62093">孤蓬夜傍低丛宿，萧萧雨声悲切。一岸霜痕，半江烟色，愁到沙头枯叶。澹云没灭。黯西风吹老，满汀新雪。天岂无情，离骚点点送归客。归去来兮怎得，尽鹭翘鸥倚，乍寒时节。秋晚山川，夕阳浦溆，赢得别肠千结。涛翻浪叠。那得似西来，一筇横绝。搔首江南，雁衔千里月。——宋代·方岳《齐天乐（和楚客赋芦）》http://so.gushiwen.org/view_62093.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(62093)" id="btnShangxi62093"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(62093)" id="btnZhushi62093"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(62093)" id="btnYiwen62093" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">齐天乐（和楚客赋芦）</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_478.aspx">方岳</a> </p>
<div class="contson" id="contson62093">
孤蓬夜傍低丛宿，萧萧雨声悲切。一岸霜痕，半江烟色，愁到沙头枯叶。澹云没灭。黯西风吹老，满汀新雪。天岂无情，离骚点点送归客。
<br/>
归去来兮怎得，尽鹭翘鸥倚，乍寒时节。秋晚山川，夕阳浦溆，赢得别肠千结。涛翻浪叠。那得似西来，一筇横绝。搔首江南，雁衔千里月。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=62093&from=http://so.gushiwen.org/view.aspx?id=62093"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(62093)"><img id="copyimg62093" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('62093','http://m.gushiwen.org/view_62093.aspx')" onmouseout="outweixin(62093)"><img id="weixinimg62093" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=62093"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=3334206951"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood62093" href="javascript:goodNew('62093','http://so.gushiwen.org/view.aspx?id=62093',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin62093" style="background-color:aqua;"></div>
<div id="toolPlay62093" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor478">方岳(1199～1262),南宋诗人、词人。字巨山，号秋崖。祁门（今属安徽）人。绍定五年(1232)进士，授淮东安抚司□官。淳□中，以工部郎官充任赵葵淮南幕中参议官。后调知南康军。后因触犯湖广总领贾似道，被移治邵武军。后知袁州，因得罪权贵丁大全，被弹劾罢官。后复被起用知抚州，又因与贾似道的旧嫌而取消任命。http://so.gushiwen.org/author_478.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_478.aspx"><img src="http://img.gushiwen.org/authorImg/fangyue.jpg" width="105" height="150" alt="方岳"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_478.aspx"><b>方岳</b></a></p>
<p style=" margin:0px;">方岳(1199～1262),南宋诗人、词人。字巨山，号秋崖。祁门（今属安徽）人。绍定五年(1232)进士，授淮东安抚司□官。淳□中，以工部郎官充任赵葵淮南幕中参议官。后调知南康军。后因触犯湖广总领贾似道，被移治邵武军。后知袁州，因得罪权贵丁大全，被弹劾罢官。后复被起用知抚州，又因与贾似道的旧嫌而取消任命。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=478&from=http://so.gushiwen.org/view.aspx?id=62093"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(478)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('478','http://m.gushiwen.org/author_478.aspx')" onmouseout="outweixinAuthor(478)"><img id="weixinAuthorImg478" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor478" href="javascript:goodAuthorNew('478','http://so.gushiwen.org/view.aspx?id=62093',163)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;163</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor478" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare68624">浅帻分秋，凉尊试月，西风未雁犹蝉。看芙蓉影里，绿鬓年年。日上云颿压海，尘清玉马行天。更烟楼凤举，风幕麟游，锦后珠前。绿阴池馆如画，记晴春药径，雨晓芝田。已办十年笑语，小聚云边。舞称香围艳雪，歌迟酒落红船。早群仙醉去，柳掖花扶，似雾非烟。——宋代·王梦应《锦堂春（寿李仁山）》http://so.gushiwen.org/view_68624.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(68624)" id="btnShangxi68624"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(68624)" id="btnZhushi68624"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(68624)" id="btnYiwen68624" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_68624.aspx"><b>锦堂春（寿李仁山）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e7%8e%8b%e6%a2%a6%e5%ba%94">王梦应</a></p>
<div class="contson" id="contson68624">
浅帻分秋，凉尊试月，西风未雁犹蝉。看芙蓉影里，绿鬓年年。日上云颿压海，尘清玉马行天。更烟楼凤举，风幕麟游，锦后珠前。
<br/>
绿阴池馆如画，记晴春药径，雨晓芝田。已办十年笑语，小聚云边。舞称香围艳雪，歌迟酒落红船。早群仙醉去，柳掖花扶，似雾非烟。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=68624&from=http://so.gushiwen.org/view.aspx?id=62093"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(68624)"><img id="copyimg68624" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('68624','http://m.gushiwen.org/view_68624.aspx')" onmouseout="outweixin(68624)"><img id="weixinimg68624" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood68624" href="javascript:goodNew('68624','http://so.gushiwen.org/view.aspx?id=62093',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy68624" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin68624" style="background-color:aqua;"></div>
<div id="toolPlay68624" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare57257">人随社节去匆匆。此恨几时穷。阳台寂寞，巫山凄惨，云雨成空。芭蕉密处窗儿下，冷落旧香中。黄昏静也，蛩声满院，明月清风。——宋代·赵长卿《眼儿媚（东院适人乞词，醉中书于裙带三首赵长卿）》http://so.gushiwen.org/view_57257.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(57257)" id="btnShangxi57257"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(57257)" id="btnZhushi57257"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(57257)" id="btnYiwen57257" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_57257.aspx"><b>眼儿媚（东院适人乞词，醉中书于裙带三首赵长卿）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%b5%b5%e9%95%bf%e5%8d%bf">赵长卿</a></p>
<div class="contson" id="contson57257">
人随社节去匆匆。此恨几时穷。阳台寂寞，巫山凄惨，云雨成空。
<br/>
芭蕉密处窗儿下，冷落旧香中。黄昏静也，蛩声满院，明月清风。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=57257&from=http://so.gushiwen.org/view.aspx?id=62093"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(57257)"><img id="copyimg57257" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('57257','http://m.gushiwen.org/view_57257.aspx')" onmouseout="outweixin(57257)"><img id="weixinimg57257" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood57257" href="javascript:goodNew('57257','http://so.gushiwen.org/view.aspx?id=62093',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy57257" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin57257" style="background-color:aqua;"></div>
<div id="toolPlay57257" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare48974">锦机织了相思字。天涯路远无由寄。寒雁只衔芦。何曾解寄书。缄封和血泪。目断西江水。拟欲托双鱼。问君情有无。——宋代·杜安世《菩萨蛮》http://so.gushiwen.org/view_48974.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(48974)" id="btnShangxi48974"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(48974)" id="btnZhushi48974"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(48974)" id="btnYiwen48974" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_48974.aspx"><b>菩萨蛮</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%9d%9c%e5%ae%89%e4%b8%96">杜安世</a></p>
<div class="contson" id="contson48974">
锦机织了相思字。天涯路远无由寄。寒雁只衔芦。何曾解寄书。
<br/>
缄封和血泪。目断西江水。拟欲托双鱼。问君情有无。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=48974&from=http://so.gushiwen.org/view.aspx?id=62093"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(48974)"><img id="copyimg48974" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('48974','http://m.gushiwen.org/view_48974.aspx')" onmouseout="outweixin(48974)"><img id="weixinimg48974" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood48974" href="javascript:goodNew('48974','http://so.gushiwen.org/view.aspx?id=62093',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy48974" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin48974" style="background-color:aqua;"></div>
<div id="toolPlay48974" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5378.aspx">何当击凡鸟，毛血洒平芜。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2870.aspx">秋鬓含霜白，衰颜倚酒红。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
