
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
华胥引原文、翻译及赏析_陈允平_古诗文网
</title>
<meta name="description" content="涵空斜照，掠水轻岚，满天红叶。雁泊平芜，凫依乱荻声唼唼。寂寞金井梧桐，渐辘轳伊轧。明月纱窗，夜寒孤枕应怯。吟老西风，笑衰髯、顿疏如镊。锦笺勤重，频剔兰灯自阅。多谢征衫初寄，尚宝香熏" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_62962.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_62962.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare62962">涵空斜照，掠水轻岚，满天红叶。雁泊平芜，凫依乱荻声唼唼。寂寞金井梧桐，渐辘轳伊轧。明月纱窗，夜寒孤枕应怯。吟老西风，笑衰髯、顿疏如镊。锦笺勤重，频剔兰灯自阅。多谢征衫初寄，尚宝香熏箧。愁忆家山，梦魂飞度千垒。——宋代·陈允平《华胥引》http://so.gushiwen.org/view_62962.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(62962)" id="btnShangxi62962"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(62962)" id="btnZhushi62962"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(62962)" id="btnYiwen62962" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">华胥引</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_305.aspx">陈允平</a> </p>
<div class="contson" id="contson62962">
涵空斜照，掠水轻岚，满天红叶。雁泊平芜，凫依乱荻声唼唼。寂寞金井梧桐，渐辘轳伊轧。明月纱窗，夜寒孤枕应怯。
<br/>
吟老西风，笑衰髯、顿疏如镊。锦笺勤重，频剔兰灯自阅。多谢征衫初寄，尚宝香熏箧。愁忆家山，梦魂飞度千垒。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=62962&from=http://so.gushiwen.org/view.aspx?id=62962"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(62962)"><img id="copyimg62962" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('62962','http://m.gushiwen.org/view_62962.aspx')" onmouseout="outweixin(62962)"><img id="weixinimg62962" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=62962"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=2560923193"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood62962" href="javascript:goodNew('62962','http://so.gushiwen.org/view.aspx?id=62962',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div class="toolerweima" id="weixin62962" style="background-color:aqua;"></div>
<div id="toolPlay62962" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor305">陈允平，字君衡，一字衡仲，号西麓，宋末元初四明鄞县（今浙江宁波市鄞县）人。生卒年俱不确定，前人认为“把陈允平的生年定在宁宗嘉定八年到十三年之间（1215-1220）比较合理”，“卒年疑在元贞前后，与周密卒年相去不远”，暂依之。少从杨简学，德祐时授沿海制置司参议官。有诗集《西麓诗稿》，存诗86首，《全宋诗》另从《永乐大典》辑3首，从《诗渊》辑50首，共计139首。有词集《日湖渔唱》和《西麓继周集》，各存词86首和123首，还有5首有调名而无词，《全宋词》无另辑者，共计209首。http://so.gushiwen.org/author_305.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_305.aspx"><b>陈允平</b></a></p>
<p style=" margin:0px;">陈允平，字君衡，一字衡仲，号西麓，宋末元初四明鄞县（今浙江宁波市鄞县）人。生卒年俱不确定，前人认为“把陈允平的生年定在宁宗嘉定八年到十三年之间（1215-1220）比较合理”，“卒年疑在元贞前后，与周密卒年相去不远”，暂依之。少从杨简学，德祐时授沿海制置司参议官。有诗集《西麓诗稿》，存诗86首，《全宋诗》另从《永乐大典》辑3首，从《诗渊》辑50首，共计139首。有词集《日湖渔唱》和《西麓继周集》，各存词86首和123首，还有5首有调名而无词，《全宋词》无另辑者，共计209首。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=305&from=http://so.gushiwen.org/view.aspx?id=62962"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(305)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('305','http://m.gushiwen.org/author_305.aspx')" onmouseout="outweixinAuthor(305)"><img id="weixinAuthorImg305" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor305" href="javascript:goodAuthorNew('305','http://so.gushiwen.org/view.aspx?id=62962',215)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;215</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor305" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare54488">年来减却风情大。百样收心待不作。恰恨仙翁停画舸。雪中把酒，美人频为，浅破樱桃颗。清歌谁许阳春和。悄不放、遥空片云过。惊落梁尘浑可可。一声啭处，故园春近，桃李还知麽。——宋代·史浩《青玉案（为戴昌言歌姬作）》http://so.gushiwen.org/view_54488.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(54488)" id="btnShangxi54488"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(54488)" id="btnZhushi54488"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(54488)" id="btnYiwen54488" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_54488.aspx"><b>青玉案（为戴昌言歌姬作）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%8f%b2%e6%b5%a9">史浩</a></p>
<div class="contson" id="contson54488">
年来减却风情大。百样收心待不作。恰恨仙翁停画舸。雪中把酒，美人频为，浅破樱桃颗。
<br/>
清歌谁许阳春和。悄不放、遥空片云过。惊落梁尘浑可可。一声啭处，故园春近，桃李还知麽。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=54488&from=http://so.gushiwen.org/view.aspx?id=62962"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(54488)"><img id="copyimg54488" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('54488','http://m.gushiwen.org/view_54488.aspx')" onmouseout="outweixin(54488)"><img id="weixinimg54488" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood54488" href="javascript:goodNew('54488','http://so.gushiwen.org/view.aspx?id=62962',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy54488" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin54488" style="background-color:aqua;"></div>
<div id="toolPlay54488" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare63565">天水碧，染就一江秋色。鳌戴雪山龙起蛰，快风吹海立。数点烟鬟青滴，一杼霞绡红湿，白鸟明边帆影直，隔江闻夜笛。——宋代·周密《闻鹊喜·吴山观涛》http://so.gushiwen.org/view_63565.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(63565)" id="btnShangxi63565"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(63565)" id="btnZhushi63565"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(63565)" id="btnYiwen63565" />
<script type="text/javascript">
                        document.getElementById("btnShangxi63565").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi63565").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen63565").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_63565.aspx"><b>闻鹊喜·吴山观涛</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%91%a8%e5%af%86">周密</a></p>
<div class="contson" id="contson63565">
天水碧，染就一江秋色。鳌戴雪山龙起蛰，快风吹海立。<br />数点烟鬟青滴，一杼霞绡红湿，白鸟明边帆影直，隔江闻夜笛。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=63565&from=http://so.gushiwen.org/view.aspx?id=62962"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(63565)"><img id="copyimg63565" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('63565','http://m.gushiwen.org/view_63565.aspx')" onmouseout="outweixin(63565)"><img id="weixinimg63565" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood63565" href="javascript:goodNew('63565','http://so.gushiwen.org/view.aspx?id=62962',16)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;16</span></a></div>
</div>
<div id="toolCopy63565" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin63565" style="background-color:aqua;"></div>
<div id="toolPlay63565" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%92%8f%e7%89%a9">咏物</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%b0%b4">写水</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare59011">五云缥缈。朝退金门晓。归未稳，传宣到。龙楼陪夕宴，凤沼吟春草。人间世，谁知自有蓬莱岛。一杯宜劝了。换得天颜笑。人不老，春长好。从今千百岁，总是中书考。瑶池会，金盘剩荐安期枣。——宋代·杨炎正《千秋岁（代人为寿）》http://so.gushiwen.org/view_59011.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(59011)" id="btnShangxi59011"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(59011)" id="btnZhushi59011"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(59011)" id="btnYiwen59011" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_59011.aspx"><b>千秋岁（代人为寿）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%9d%a8%e7%82%8e%e6%ad%a3">杨炎正</a></p>
<div class="contson" id="contson59011">
五云缥缈。朝退金门晓。归未稳，传宣到。龙楼陪夕宴，凤沼吟春草。人间世，谁知自有蓬莱岛。
<br/>
一杯宜劝了。换得天颜笑。人不老，春长好。从今千百岁，总是中书考。瑶池会，金盘剩荐安期枣。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=59011&from=http://so.gushiwen.org/view.aspx?id=62962"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(59011)"><img id="copyimg59011" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('59011','http://m.gushiwen.org/view_59011.aspx')" onmouseout="outweixin(59011)"><img id="weixinimg59011" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood59011" href="javascript:goodNew('59011','http://so.gushiwen.org/view.aspx?id=62962',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy59011" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin59011" style="background-color:aqua;"></div>
<div id="toolPlay59011" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4556.aspx">童子柳阴眠正着，一牛吃过柳阴西。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4035.aspx">对菊难逢元亮酒，登楼愧乏仲宣才。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
