
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
宴桃源原文、翻译及赏析_陈允平_古诗文网
</title>
<meta name="description" content="闲倚琐窗工绣。春困两眉频皱。独自下香街，攀折画桥烟柳。晴昼。晴昼。偏称玉楼歌酒。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_62999.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_62999.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare62999">闲倚琐窗工绣。春困两眉频皱。独自下香街，攀折画桥烟柳。晴昼。晴昼。偏称玉楼歌酒。——宋代·陈允平《宴桃源》http://so.gushiwen.org/view_62999.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(62999)" id="btnShangxi62999"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(62999)" id="btnZhushi62999"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(62999)" id="btnYiwen62999" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">宴桃源</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_305.aspx">陈允平</a> </p>
<div class="contson" id="contson62999">
闲倚琐窗工绣。春困两眉频皱。独自下香街，攀折画桥烟柳。晴昼。晴昼。偏称玉楼歌酒。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=62999&from=http://so.gushiwen.org/view.aspx?id=62999"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(62999)"><img id="copyimg62999" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('62999','http://m.gushiwen.org/view_62999.aspx')" onmouseout="outweixin(62999)"><img id="weixinimg62999" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=62999"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=3908990849"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood62999" href="javascript:goodNew('62999','http://so.gushiwen.org/view.aspx?id=62999',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin62999" style="background-color:aqua;"></div>
<div id="toolPlay62999" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor305">陈允平，字君衡，一字衡仲，号西麓，宋末元初四明鄞县（今浙江宁波市鄞县）人。生卒年俱不确定，前人认为“把陈允平的生年定在宁宗嘉定八年到十三年之间（1215-1220）比较合理”，“卒年疑在元贞前后，与周密卒年相去不远”，暂依之。少从杨简学，德祐时授沿海制置司参议官。有诗集《西麓诗稿》，存诗86首，《全宋诗》另从《永乐大典》辑3首，从《诗渊》辑50首，共计139首。有词集《日湖渔唱》和《西麓继周集》，各存词86首和123首，还有5首有调名而无词，《全宋词》无另辑者，共计209首。http://so.gushiwen.org/author_305.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_305.aspx"><b>陈允平</b></a></p>
<p style=" margin:0px;">陈允平，字君衡，一字衡仲，号西麓，宋末元初四明鄞县（今浙江宁波市鄞县）人。生卒年俱不确定，前人认为“把陈允平的生年定在宁宗嘉定八年到十三年之间（1215-1220）比较合理”，“卒年疑在元贞前后，与周密卒年相去不远”，暂依之。少从杨简学，德祐时授沿海制置司参议官。有诗集《西麓诗稿》，存诗86首，《全宋诗》另从《永乐大典》辑3首，从《诗渊》辑50首，共计139首。有词集《日湖渔唱》和《西麓继周集》，各存词86首和123首，还有5首有调名而无词，《全宋词》无另辑者，共计209首。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=305&from=http://so.gushiwen.org/view.aspx?id=62999"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(305)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('305','http://m.gushiwen.org/author_305.aspx')" onmouseout="outweixinAuthor(305)"><img id="weixinAuthorImg305" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor305" href="javascript:goodAuthorNew('305','http://so.gushiwen.org/view.aspx?id=62999',215)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;215</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor305" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare62676">中秋佳月最端圆。老痴顽。见多番。杯酒相延，今夕不应慳。残雨如何妨乐事，声淅淅，点斑斑。天应有意故遮阑。拍人间。等闲看。好处时光，须用著些难。直待黄昏风卷霁，金滟滟，玉团团。——宋代·陈著《江城子·中秋早雨晚晴》http://so.gushiwen.org/view_62676.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(62676)" id="btnShangxi62676"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(62676)" id="btnZhushi62676"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(62676)" id="btnYiwen62676" />
<script type="text/javascript">
                        document.getElementById("btnShangxi62676").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi62676").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen62676").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_62676.aspx"><b>江城子·中秋早雨晚晴</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e9%99%88%e8%91%97">陈著</a></p>
<div class="contson" id="contson62676">
中秋佳月最端圆。老痴顽。见多番。杯酒相延，今夕不应慳。残雨如何妨乐事，声淅淅，点斑斑。<br />天应有意故遮阑。拍人间。等闲看。好处时光，须用著些难。直待黄昏风卷霁，金滟滟，玉团团。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=62676&from=http://so.gushiwen.org/view.aspx?id=62999"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(62676)"><img id="copyimg62676" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('62676','http://m.gushiwen.org/view_62676.aspx')" onmouseout="outweixin(62676)"><img id="weixinimg62676" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood62676" href="javascript:goodNew('62676','http://so.gushiwen.org/view.aspx?id=62999',55)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;55</span></a></div>
</div>
<div id="toolCopy62676" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin62676" style="background-color:aqua;"></div>
<div id="toolPlay62676" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%86%99%e9%9b%a8">写雨</a>
<span>，</span><a href="/type.aspx?p=1&t=%e4%b8%ad%e7%a7%8b%e8%8a%82">中秋节</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%9c%88%e4%ba%ae">月亮</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare68520">梢，开花繁艳，兵後流落人间。对花泫然承脸而赋馆娃艳骨。见数枝雪里，争开时节。底事化工，著意阳和暗偷泄。偏把红膏染质，都点缀、枝头如血。最好是、院落黄昏，压栏照水清绝。风韵自迥别。谩记省故家，玉手曾折。翠条袅娜，犹学宫妆舞残月。肠断江南倦客，歌未了、琼壶敲缺。更忍见，吹万点、满庭绛雪。——宋代·危西麓《暗香》http://so.gushiwen.org/view_68520.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(68520)" id="btnShangxi68520"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(68520)" id="btnZhushi68520"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(68520)" id="btnYiwen68520" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_68520.aspx"><b>暗香</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%8d%b1%e8%a5%bf%e9%ba%93">危西麓</a></p>
<div class="contson" id="contson68520">
梢，开花繁艳，兵後流落人间。对花泫然承脸而赋
<br/>
馆娃艳骨。见数枝雪里，争开时节。底事化工，著意阳和暗偷泄。偏把红膏染质，都点缀、枝头如血。最好是、院落黄昏，压栏照水清绝。
<br/>
风韵自迥别。谩记省故家，玉手曾折。翠条袅娜，犹学宫妆舞残月。肠断江南倦客，歌未了、琼壶敲缺。更忍见，吹万点、满庭绛雪。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=68520&from=http://so.gushiwen.org/view.aspx?id=62999"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(68520)"><img id="copyimg68520" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('68520','http://m.gushiwen.org/view_68520.aspx')" onmouseout="outweixin(68520)"><img id="weixinimg68520" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood68520" href="javascript:goodNew('68520','http://so.gushiwen.org/view.aspx?id=62999',4)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;4</span></a></div>
</div>
<div id="toolCopy68520" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin68520" style="background-color:aqua;"></div>
<div id="toolPlay68520" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare60830">小楼春浅。记钩帘看雪，袖沾芳片。似不似、柳絮因风，更细与品题，屡呵冰砚。宛转吟情，纵真草、凤笺都遍。到灯前笑谑，酒祓峭寒，移尽更箭。而今柳阴满院。知花空雪似，人隔春远。叹万事、流水斜阳，谩赢得前诗，醉污团扇。脉脉重来，算惟有、画阑曾见。把千种旧愁，付与杏梁语燕。——宋代·张辑《杏梁燕（寓解连环）》http://so.gushiwen.org/view_60830.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(60830)" id="btnShangxi60830"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(60830)" id="btnZhushi60830"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(60830)" id="btnYiwen60830" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_60830.aspx"><b>杏梁燕（寓解连环）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%bc%a0%e8%be%91">张辑</a></p>
<div class="contson" id="contson60830">
小楼春浅。记钩帘看雪，袖沾芳片。似不似、柳絮因风，更细与品题，屡呵冰砚。宛转吟情，纵真草、凤笺都遍。到灯前笑谑，酒祓峭寒，移尽更箭。
<br/>
而今柳阴满院。知花空雪似，人隔春远。叹万事、流水斜阳，谩赢得前诗，醉污团扇。脉脉重来，算惟有、画阑曾见。把千种旧愁，付与杏梁语燕。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=60830&from=http://so.gushiwen.org/view.aspx?id=62999"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(60830)"><img id="copyimg60830" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('60830','http://m.gushiwen.org/view_60830.aspx')" onmouseout="outweixin(60830)"><img id="weixinimg60830" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood60830" href="javascript:goodNew('60830','http://so.gushiwen.org/view.aspx?id=62999',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy60830" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin60830" style="background-color:aqua;"></div>
<div id="toolPlay60830" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3515.aspx">何须急管吹云暝，高寒滟滟开金饼。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5024.aspx">孰知不向边庭苦，纵死犹闻侠骨香。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
