
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
绮寮怨原文、翻译及赏析_陈允平_古诗文网
</title>
<meta name="description" content="满院荼蘼开尽，杜鹃啼梦醒。记晓月、绿水桥边，东风又、折柳旗亭。蒙茸轻烟草色，疏帘净、乱织罗带青。对一尊、别酒初斟，征衫上、点滴香泪盈。几度恨沈断云，飞鸾何处，连环尚结双琼。一曲琵琶" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_63017.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_63017.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare63017">满院荼蘼开尽，杜鹃啼梦醒。记晓月、绿水桥边，东风又、折柳旗亭。蒙茸轻烟草色，疏帘净、乱织罗带青。对一尊、别酒初斟，征衫上、点滴香泪盈。几度恨沈断云，飞鸾何处，连环尚结双琼。一曲琵琶，湓江上、惯曾听。依依翠屏香冷，听夜雨、动离情。春深小楼，无心对锦瑟、空涕零。——宋代·陈允平《绮寮怨》http://so.gushiwen.org/view_63017.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(63017)" id="btnShangxi63017"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(63017)" id="btnZhushi63017"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(63017)" id="btnYiwen63017" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">绮寮怨</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_305.aspx">陈允平</a> </p>
<div class="contson" id="contson63017">
满院荼蘼开尽，杜鹃啼梦醒。记晓月、绿水桥边，东风又、折柳旗亭。蒙茸轻烟草色，疏帘净、乱织罗带青。对一尊、别酒初斟，征衫上、点滴香泪盈。
<br/>
几度恨沈断云，飞鸾何处，连环尚结双琼。一曲琵琶，湓江上、惯曾听。依依翠屏香冷，听夜雨、动离情。春深小楼，无心对锦瑟、空涕零。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=63017&from=http://so.gushiwen.org/view.aspx?id=63017"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(63017)"><img id="copyimg63017" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('63017','http://m.gushiwen.org/view_63017.aspx')" onmouseout="outweixin(63017)"><img id="weixinimg63017" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=63017"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=6873152383"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood63017" href="javascript:goodNew('63017','http://so.gushiwen.org/view.aspx?id=63017',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin63017" style="background-color:aqua;"></div>
<div id="toolPlay63017" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor305">陈允平，字君衡，一字衡仲，号西麓，宋末元初四明鄞县（今浙江宁波市鄞县）人。生卒年俱不确定，前人认为“把陈允平的生年定在宁宗嘉定八年到十三年之间（1215-1220）比较合理”，“卒年疑在元贞前后，与周密卒年相去不远”，暂依之。少从杨简学，德祐时授沿海制置司参议官。有诗集《西麓诗稿》，存诗86首，《全宋诗》另从《永乐大典》辑3首，从《诗渊》辑50首，共计139首。有词集《日湖渔唱》和《西麓继周集》，各存词86首和123首，还有5首有调名而无词，《全宋词》无另辑者，共计209首。http://so.gushiwen.org/author_305.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_305.aspx"><b>陈允平</b></a></p>
<p style=" margin:0px;">陈允平，字君衡，一字衡仲，号西麓，宋末元初四明鄞县（今浙江宁波市鄞县）人。生卒年俱不确定，前人认为“把陈允平的生年定在宁宗嘉定八年到十三年之间（1215-1220）比较合理”，“卒年疑在元贞前后，与周密卒年相去不远”，暂依之。少从杨简学，德祐时授沿海制置司参议官。有诗集《西麓诗稿》，存诗86首，《全宋诗》另从《永乐大典》辑3首，从《诗渊》辑50首，共计139首。有词集《日湖渔唱》和《西麓继周集》，各存词86首和123首，还有5首有调名而无词，《全宋词》无另辑者，共计209首。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=305&from=http://so.gushiwen.org/view.aspx?id=63017"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(305)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('305','http://m.gushiwen.org/author_305.aspx')" onmouseout="outweixinAuthor(305)"><img id="weixinAuthorImg305" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor305" href="javascript:goodAuthorNew('305','http://so.gushiwen.org/view.aspx?id=63017',215)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;215</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor305" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare67464">金炉喷兽枕欹山。衾帐不知寒。数片飞花，初临窗外，犹作坠梅看。明年此际应东去，藤轿逐征鞍。山水屏中，莺花堆里，相与下临安。——宋代·杨泽民《少年游》http://so.gushiwen.org/view_67464.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(67464)" id="btnShangxi67464"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(67464)" id="btnZhushi67464"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(67464)" id="btnYiwen67464" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_67464.aspx"><b>少年游</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%9d%a8%e6%b3%bd%e6%b0%91">杨泽民</a></p>
<div class="contson" id="contson67464">
金炉喷兽枕欹山。衾帐不知寒。数片飞花，初临窗外，犹作坠梅看。明年此际应东去，藤轿逐征鞍。山水屏中，莺花堆里，相与下临安。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=67464&from=http://so.gushiwen.org/view.aspx?id=63017"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(67464)"><img id="copyimg67464" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('67464','http://m.gushiwen.org/view_67464.aspx')" onmouseout="outweixin(67464)"><img id="weixinimg67464" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood67464" href="javascript:goodNew('67464','http://so.gushiwen.org/view.aspx?id=63017',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy67464" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin67464" style="background-color:aqua;"></div>
<div id="toolPlay67464" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare64019">浅莎深苑，流萤暗度。问霜纨、藏在何处。一自西风，乱翦翦、枝头红露。怕因循、彩鸾尘蠹。歌台香散，离宫烛暗，谩消凝、凌波微步。最怕黄昏，小楼外、零云残雨。把相思、共青镫诉。——宋代·仇远《解佩令》http://so.gushiwen.org/view_64019.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(64019)" id="btnShangxi64019"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(64019)" id="btnZhushi64019"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(64019)" id="btnYiwen64019" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_64019.aspx"><b>解佩令</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e4%bb%87%e8%bf%9c">仇远</a></p>
<div class="contson" id="contson64019">
浅莎深苑，流萤暗度。问霜纨、藏在何处。一自西风，乱翦翦、枝头红露。怕因循、彩鸾尘蠹。
<br/>
歌台香散，离宫烛暗，谩消凝、凌波微步。最怕黄昏，小楼外、零云残雨。把相思、共青镫诉。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=64019&from=http://so.gushiwen.org/view.aspx?id=63017"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(64019)"><img id="copyimg64019" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('64019','http://m.gushiwen.org/view_64019.aspx')" onmouseout="outweixin(64019)"><img id="weixinimg64019" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood64019" href="javascript:goodNew('64019','http://so.gushiwen.org/view.aspx?id=63017',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy64019" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin64019" style="background-color:aqua;"></div>
<div id="toolPlay64019" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare58625">霁景澄秋，晚风吹尽朝来雨。夕阳烟树。万里山光暮。一带长川，自在流今古。人何处。月波横素。冷浸蒹葭浦。——宋代·石孝友《点绛唇》http://so.gushiwen.org/view_58625.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(58625)" id="btnShangxi58625"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(58625)" id="btnZhushi58625"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(58625)" id="btnYiwen58625" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_58625.aspx"><b>点绛唇</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e7%9f%b3%e5%ad%9d%e5%8f%8b">石孝友</a></p>
<div class="contson" id="contson58625">
霁景澄秋，晚风吹尽朝来雨。夕阳烟树。万里山光暮。
<br/>
一带长川，自在流今古。人何处。月波横素。冷浸蒹葭浦。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=58625&from=http://so.gushiwen.org/view.aspx?id=63017"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(58625)"><img id="copyimg58625" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('58625','http://m.gushiwen.org/view_58625.aspx')" onmouseout="outweixin(58625)"><img id="weixinimg58625" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood58625" href="javascript:goodNew('58625','http://so.gushiwen.org/view.aspx?id=63017',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy58625" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin58625" style="background-color:aqua;"></div>
<div id="toolPlay58625" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5395.aspx">燕子不曾来，小院阴阴雨。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5122.aspx">吴台直下，缃梅无限，未放野桥香度。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
