
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
明月棹孤舟（木樨）原文、翻译及赏析_黄公绍_古诗文网
</title>
<meta name="description" content="雁带愁来寒事早。西风把鬓华吹老。猛省中秋，都来几日，先自木樨开了。淰淰轻阴天弄晓。平白地、被花相恼。一枕云闲，半窗秋晓，时有阵香吹到。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_63868.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_63868.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare63868">雁带愁来寒事早。西风把鬓华吹老。猛省中秋，都来几日，先自木樨开了。淰淰轻阴天弄晓。平白地、被花相恼。一枕云闲，半窗秋晓，时有阵香吹到。——宋代·黄公绍《明月棹孤舟（木樨）》http://so.gushiwen.org/view_63868.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(63868)" id="btnShangxi63868"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(63868)" id="btnZhushi63868"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(63868)" id="btnYiwen63868" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">明月棹孤舟（木樨）</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_138.aspx">黄公绍</a> </p>
<div class="contson" id="contson63868">
雁带愁来寒事早。西风把鬓华吹老。猛省中秋，都来几日，先自木樨开了。
<br/>
淰淰轻阴天弄晓。平白地、被花相恼。一枕云闲，半窗秋晓，时有阵香吹到。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=63868&from=http://so.gushiwen.org/view.aspx?id=63868"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(63868)"><img id="copyimg63868" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('63868','http://m.gushiwen.org/view_63868.aspx')" onmouseout="outweixin(63868)"><img id="weixinimg63868" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=63868"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=7843339442"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood63868" href="javascript:goodNew('63868','http://so.gushiwen.org/view.aspx?id=63868',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin63868" style="background-color:aqua;"></div>
<div id="toolPlay63868" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor138">黄公绍，宋元之际邵武（今属福建）人，字直翁。咸淳进士。入元不仕，隐居樵溪。著《古今韵会》、以《说文》为本，参考宋元以前字书、韵书，集字书训诂之大成，原书已佚，其同时人熊忠所编《古今韵会举要》中，略能见其大概。另有《在轩集》。http://so.gushiwen.org/author_138.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_138.aspx"><b>黄公绍</b></a></p>
<p style=" margin:0px;">黄公绍，宋元之际邵武（今属福建）人，字直翁。咸淳进士。入元不仕，隐居樵溪。著《古今韵会》、以《说文》为本，参考宋元以前字书、韵书，集字书训诂之大成，原书已佚，其同时人熊忠所编《古今韵会举要》中，略能见其大概。另有《在轩集》。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=138&from=http://so.gushiwen.org/view.aspx?id=63868"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(138)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('138','http://m.gushiwen.org/author_138.aspx')" onmouseout="outweixinAuthor(138)"><img id="weixinAuthorImg138" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor138" href="javascript:goodAuthorNew('138','http://so.gushiwen.org/view.aspx?id=63868',31)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;31</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor138" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare67791">只有梅花是故人。岁寒情分更相亲。红鸾跨碧江头路，紫府分香月下身。君既去，我离群。天涯白发怕逢春。西湖苍莽烟波里，来岁梅时痛忆君。——宋代·侯置《鹧鸪天（送田簿秩满还＿·川）》http://so.gushiwen.org/view_67791.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(67791)" id="btnShangxi67791"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(67791)" id="btnZhushi67791"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(67791)" id="btnYiwen67791" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_67791.aspx"><b>鹧鸪天（送田簿秩满还＿·川）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e4%be%af%e7%bd%ae">侯置</a></p>
<div class="contson" id="contson67791">
只有梅花是故人。岁寒情分更相亲。红鸾跨碧江头路，紫府分香月下身。
<br/>
君既去，我离群。天涯白发怕逢春。西湖苍莽烟波里，来岁梅时痛忆君。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=67791&from=http://so.gushiwen.org/view.aspx?id=63868"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(67791)"><img id="copyimg67791" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('67791','http://m.gushiwen.org/view_67791.aspx')" onmouseout="outweixin(67791)"><img id="weixinimg67791" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood67791" href="javascript:goodNew('67791','http://so.gushiwen.org/view.aspx?id=63868',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy67791" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin67791" style="background-color:aqua;"></div>
<div id="toolPlay67791" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare52328">凤烛星球初试灯。冰轮碾破碧棱层。来宵虽道十分满，未必胜如此夜明。留上客，换瑶觥。任教楼外晓参横。春风从旧偏怜我，那更姮娥是故人。——宋代·朱敦儒《鹧鸪天（正月十四夜）》http://so.gushiwen.org/view_52328.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(52328)" id="btnShangxi52328"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(52328)" id="btnZhushi52328"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(52328)" id="btnYiwen52328" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_52328.aspx"><b>鹧鸪天（正月十四夜）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%9c%b1%e6%95%a6%e5%84%92">朱敦儒</a></p>
<div class="contson" id="contson52328">
凤烛星球初试灯。冰轮碾破碧棱层。来宵虽道十分满，未必胜如此夜明。
<br/>
留上客，换瑶觥。任教楼外晓参横。春风从旧偏怜我，那更姮娥是故人。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=52328&from=http://so.gushiwen.org/view.aspx?id=63868"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(52328)"><img id="copyimg52328" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('52328','http://m.gushiwen.org/view_52328.aspx')" onmouseout="outweixin(52328)"><img id="weixinimg52328" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood52328" href="javascript:goodNew('52328','http://so.gushiwen.org/view.aspx?id=63868',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy52328" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin52328" style="background-color:aqua;"></div>
<div id="toolPlay52328" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare56960">丹雘浮空，琉璃耀日，上云楼阁眈眈。□□居士，燕坐息玄谈。十载劳心问道，今悟罢、截日停参。凝神处，九苞丹凤，翔舞在山南。 喃喃。成障碍，千经万论，从此休贪。且陶陶兀兀，对酒醺酣。清兴有时狂放，扁舟上、绿水澄潭。渔歌起，从他两岸，齐笑老翁憨。——宋代·吕胜己《满庭芳（乙已八月十日登博见楼作）》http://so.gushiwen.org/view_56960.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(56960)" id="btnShangxi56960"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(56960)" id="btnZhushi56960"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(56960)" id="btnYiwen56960" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_56960.aspx"><b>满庭芳（乙已八月十日登博见楼作）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%90%95%e8%83%9c%e5%b7%b1">吕胜己</a></p>
<div class="contson" id="contson56960">
丹雘浮空，琉璃耀日，上云楼阁眈眈。□□居士，燕坐息玄谈。十载劳心问道，今悟罢、截日停参。凝神处，九苞丹凤，翔舞在山南。 <br />喃喃。成障碍，千经万论，从此休贪。且陶陶兀兀，对酒醺酣。清兴有时狂放，扁舟上、绿水澄潭。渔歌起，从他两岸，齐笑老翁憨。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=56960&from=http://so.gushiwen.org/view.aspx?id=63868"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(56960)"><img id="copyimg56960" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('56960','http://m.gushiwen.org/view_56960.aspx')" onmouseout="outweixin(56960)"><img id="weixinimg56960" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood56960" href="javascript:goodNew('56960','http://so.gushiwen.org/view.aspx?id=63868',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy56960" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin56960" style="background-color:aqua;"></div>
<div id="toolPlay56960" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1177.aspx">楚水巴山江雨多，巴人能唱本乡歌。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1858.aspx">料想故园桃李，也应怨月愁风。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
