
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
永遇乐（梅赠客）原文、翻译及赏析_南山居士_古诗文网
</title>
<meta name="description" content="满眼寒姿，桂蟾匀素，霜女同莹。野屋喷香，池波弄影，仿佛鸾窥镜。一枝堪寄，天涯远信，惆怅塞鸿难倩。这情怀、厌厌怎向，无人伴我孤另。风凄露冷。仙郎此夜，若许枕衾相并。解吐芳心，绸缪共约" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_64796.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_64796.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare64796">满眼寒姿，桂蟾匀素，霜女同莹。野屋喷香，池波弄影，仿佛鸾窥镜。一枝堪寄，天涯远信，惆怅塞鸿难倩。这情怀、厌厌怎向，无人伴我孤另。风凄露冷。仙郎此夜，若许枕衾相并。解吐芳心，绸缪共约，学取双交颈。好天难遇，从今一去，荏苒后期无定。把柔肠、千萦万断，为伊薄幸。——宋代·南山居士《永遇乐（梅赠客）》http://so.gushiwen.org/view_64796.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(64796)" id="btnShangxi64796"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(64796)" id="btnZhushi64796"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(64796)" id="btnYiwen64796" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">永遇乐（梅赠客）</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%8d%97%e5%b1%b1%e5%b1%85%e5%a3%ab">南山居士</a> </p>
<div class="contson" id="contson64796">
满眼寒姿，桂蟾匀素，霜女同莹。野屋喷香，池波弄影，仿佛鸾窥镜。一枝堪寄，天涯远信，惆怅塞鸿难倩。这情怀、厌厌怎向，无人伴我孤另。
<br/>
风凄露冷。仙郎此夜，若许枕衾相并。解吐芳心，绸缪共约，学取双交颈。好天难遇，从今一去，荏苒后期无定。把柔肠、千萦万断，为伊薄幸。
<br/>
</ul>
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=64796&from=http://so.gushiwen.org/view.aspx?id=64796"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(64796)"><img id="copyimg64796" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('64796','http://m.gushiwen.org/view_64796.aspx')" onmouseout="outweixin(64796)"><img id="weixinimg64796" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=64796"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=8619860364"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood64796" href="javascript:goodNew('64796','http://so.gushiwen.org/view.aspx?id=64796',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin64796" style="background-color:aqua;"></div>
<div id="toolPlay64796" style=" display:none;clear:both;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare52189">小院桃花，烟锁几重珠箔。更深后、海棠睡著。东风吹去，落谁家墙角。平白地教人，为他情恶。花若有情，情应不薄。也须悔从前事错。而今夜雨，念玉颜飘泊。知那里人家，怎生顿著。——宋代·王庭《殢人娇》http://so.gushiwen.org/view_52189.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(52189)" id="btnShangxi52189"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(52189)" id="btnZhushi52189"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(52189)" id="btnYiwen52189" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_52189.aspx"><b>殢人娇</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e7%8e%8b%e5%ba%ad%ee%8e%83">王庭</a></p>
<div class="contson" id="contson52189">
小院桃花，烟锁几重珠箔。更深后、海棠睡著。东风吹去，落谁家墙角。平白地教人，为他情恶。
<br/>
花若有情，情应不薄。也须悔从前事错。而今夜雨，念玉颜飘泊。知那里人家，怎生顿著。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=52189&from=http://so.gushiwen.org/view.aspx?id=64796"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(52189)"><img id="copyimg52189" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('52189','http://m.gushiwen.org/view_52189.aspx')" onmouseout="outweixin(52189)"><img id="weixinimg52189" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood52189" href="javascript:goodNew('52189','http://so.gushiwen.org/view.aspx?id=64796',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy52189" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin52189" style="background-color:aqua;"></div>
<div id="toolPlay52189" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare65769">教来歌舞，接成桃李。尽是使君指似。如今装就满城春，忍便拥、双旌归去。莺心巧啭，花心争吐。无计可留君住。两堤芳草一江云，早晚是、西楼望处。——宋代·琴操《鹊桥仙（吕使君饯会）》http://so.gushiwen.org/view_65769.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(65769)" id="btnShangxi65769"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(65769)" id="btnZhushi65769"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(65769)" id="btnYiwen65769" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_65769.aspx"><b>鹊桥仙（吕使君饯会）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e7%90%b4%e6%93%8d">琴操</a></p>
<div class="contson" id="contson65769">
教来歌舞，接成桃李。尽是使君指似。如今装就满城春，忍便拥、双旌归去。
<br/>
莺心巧啭，花心争吐。无计可留君住。两堤芳草一江云，早晚是、西楼望处。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=65769&from=http://so.gushiwen.org/view.aspx?id=64796"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(65769)"><img id="copyimg65769" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('65769','http://m.gushiwen.org/view_65769.aspx')" onmouseout="outweixin(65769)"><img id="weixinimg65769" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood65769" href="javascript:goodNew('65769','http://so.gushiwen.org/view.aspx?id=64796',3)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3</span></a></div>
</div>
<div id="toolCopy65769" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin65769" style="background-color:aqua;"></div>
<div id="toolPlay65769" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare61190">残更难睚抵年长。晓月凄凉。芙蓉院落深深闭，叹芳卿、今在今亡。绝笔无求凰曲，痴心有返魂香。起来休镊鬓边霜。半被堆床。定归兜率蓬莱去，奈人间、无路茫茫。缘断漫三弹指，忧来欲九回肠。——宋代·刘克庄《风入松（癸卯至石塘追和十五年前韵）》http://so.gushiwen.org/view_61190.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(61190)" id="btnShangxi61190"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(61190)" id="btnZhushi61190"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(61190)" id="btnYiwen61190" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_61190.aspx"><b>风入松（癸卯至石塘追和十五年前韵）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%88%98%e5%85%8b%e5%ba%84">刘克庄</a></p>
<div class="contson" id="contson61190">
残更难睚抵年长。晓月凄凉。芙蓉院落深深闭，叹芳卿、今在今亡。绝笔无求凰曲，痴心有返魂香。
<br/>
起来休镊鬓边霜。半被堆床。定归兜率蓬莱去，奈人间、无路茫茫。缘断漫三弹指，忧来欲九回肠。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=61190&from=http://so.gushiwen.org/view.aspx?id=64796"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(61190)"><img id="copyimg61190" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('61190','http://m.gushiwen.org/view_61190.aspx')" onmouseout="outweixin(61190)"><img id="weixinimg61190" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood61190" href="javascript:goodNew('61190','http://so.gushiwen.org/view.aspx?id=64796',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy61190" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin61190" style="background-color:aqua;"></div>
<div id="toolPlay61190" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4890.aspx">二客东南名胜，万卷诗书事业，尝试与君谋。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3691.aspx">花明玉关雪，叶暖金窗烟。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
