
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
瑶台第一层原文、翻译及赏析_赵顼_古诗文网
</title>
<meta name="description" content="西母池边宴罢，赠南枝、步玉霄。绪风和扇，冰华发秀，雪质孤高。汉陂呈练影，问是谁、独立江皋。便凝望、壶中珪璧，天下琼瑶。清标。曾陪胜赏，坐忘悉、解使尘销。况双成与乳丹点染，都付香梢。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_65424.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_65424.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare65424">西母池边宴罢，赠南枝、步玉霄。绪风和扇，冰华发秀，雪质孤高。汉陂呈练影，问是谁、独立江皋。便凝望、壶中珪璧，天下琼瑶。清标。曾陪胜赏，坐忘悉、解使尘销。况双成与乳丹点染，都付香梢。寿妆酥冷，郢韵佩举，麝卷云绡。乐逍遥。凤凰台畔，取次忆吹箫。——宋代·赵顼《瑶台第一层》http://so.gushiwen.org/view_65424.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(65424)" id="btnShangxi65424"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(65424)" id="btnZhushi65424"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(65424)" id="btnYiwen65424" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">瑶台第一层</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_2101.aspx">赵顼</a> </p>
<div class="contson" id="contson65424">
西母池边宴罢，赠南枝、步玉霄。绪风和扇，冰华发秀，雪质孤高。汉陂呈练影，问是谁、独立江皋。便凝望、壶中珪璧，天下琼瑶。清标。曾陪胜赏，坐忘悉、解使尘销。况双成与乳丹点染，都付香梢。寿妆酥冷，郢韵佩举，麝卷云绡。乐逍遥。凤凰台畔，取次忆吹箫。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=65424&from=http://so.gushiwen.org/view.aspx?id=65424"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(65424)"><img id="copyimg65424" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('65424','http://m.gushiwen.org/view_65424.aspx')" onmouseout="outweixin(65424)"><img id="weixinimg65424" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=65424"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=6297911553"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood65424" href="javascript:goodNew('65424','http://so.gushiwen.org/view.aspx?id=65424',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin65424" style="background-color:aqua;"></div>
<div id="toolPlay65424" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor2101">宋神宗赵顼[xū]（公元1048年5月25日―公元1085年4月1日），初名仲针，宋英宗长子，生母高皇后，北宋第六位皇帝。公元1064年（治平元年）封光国公，后进封淮阳郡王、颍王。公元1066年（治平三年）立为皇太子，次年即帝位，是为宋神宗，时年20岁。公元1067年（治平四年），赵顼即位，由于对疲弱的政治深感不满，且他素来都欣赏王安石的才干，故赵顼即位后立即命王安石推行变法，以期振兴北宋王朝，史称“王安石变法”（又称“熙宁变法”）。公元1085年（元丰八年），赵顼在福宁殿去世，享年38岁，共在位18年，庙号神宗，谥号为英文烈武圣孝皇帝，葬于永裕陵。http://so.gushiwen.org/author_2101.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_2101.aspx"><img src="http://img.gushiwen.org/authorImg/zhaoxu.jpg" width="105" height="150" alt="赵顼"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_2101.aspx"><b>赵顼</b></a></p>
<p style=" margin:0px;">宋神宗赵顼[xū]（公元1048年5月25日―公元1085年4月1日），初名仲针，宋英宗长子，生母高皇后，北宋第六位皇帝。公元1064年（治平元年）封光国公，后进封淮阳郡王、颍王。公元1066年（治平三年）立为皇太子，次年即帝位，是为宋神宗，时年20岁。公元1067年（治平四年），赵顼即位，由于对疲弱的政治深感不满，且他素来都欣赏王安石的才干，故赵顼即位后立即命王安石推行变法，以期振兴北宋王朝，史称“王安石变法”（又称“熙宁变法”）。公元1085年（元丰八年），赵顼在福宁殿去世，享年38岁，共在位18年，庙号神宗，谥号为英文烈武圣孝皇帝，葬于永裕陵。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=2101&from=http://so.gushiwen.org/view.aspx?id=65424"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(2101)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('2101','http://m.gushiwen.org/author_2101.aspx')" onmouseout="outweixinAuthor(2101)"><img id="weixinAuthorImg2101" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor2101" href="javascript:goodAuthorNew('2101','http://so.gushiwen.org/view.aspx?id=65424',0)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;0</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor2101" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare62148">组绣盈箱锦满机。倩谁缝作护花衣。恐花飞去，无复上芳枝。已恨远山迷望眼，不须更画远山眉。正无聊赖，雨外一鸠啼。——宋代·许棐《琴调相思引》http://so.gushiwen.org/view_62148.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(62148)" id="btnShangxi62148"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(62148)" id="btnZhushi62148"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(62148)" id="btnYiwen62148" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_62148.aspx"><b>琴调相思引</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%ae%b8%e6%a3%90%ee%87%a9">许棐</a></p>
<div class="contson" id="contson62148">
组绣盈箱锦满机。倩谁缝作护花衣。恐花飞去，无复上芳枝。
<br/>
已恨远山迷望眼，不须更画远山眉。正无聊赖，雨外一鸠啼。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=62148&from=http://so.gushiwen.org/view.aspx?id=65424"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(62148)"><img id="copyimg62148" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('62148','http://m.gushiwen.org/view_62148.aspx')" onmouseout="outweixin(62148)"><img id="weixinimg62148" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood62148" href="javascript:goodNew('62148','http://so.gushiwen.org/view.aspx?id=65424',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy62148" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin62148" style="background-color:aqua;"></div>
<div id="toolPlay62148" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare61204">束缊宵行十里强。挑得诗囊，抛了衣囊。天寒路滑马蹄僵，元是王郎，来送刘郎。酒酣耳热说文章。惊倒邻墙，推倒胡床。旁观拍手笑疏狂。疏又何妨，狂又何妨？——宋代·刘克庄《一剪梅·余赴广东实之夜饯于风亭》http://so.gushiwen.org/view_61204.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(61204)" id="btnShangxi61204"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(61204)" id="btnZhushi61204"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(61204)" id="btnYiwen61204" />
<script type="text/javascript">
                        document.getElementById("btnShangxi61204").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi61204").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen61204").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_61204.aspx"><b>一剪梅·余赴广东实之夜饯于风亭</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%88%98%e5%85%8b%e5%ba%84">刘克庄</a></p>
<div class="contson" id="contson61204">
束缊宵行十里强。挑得诗囊，抛了衣囊。天寒路滑马蹄僵，元是王郎，来送刘郎。<br />酒酣耳热说文章。惊倒邻墙，推倒胡床。旁观拍手笑疏狂。疏又何妨，狂又何妨？
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=61204&from=http://so.gushiwen.org/view.aspx?id=65424"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(61204)"><img id="copyimg61204" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('61204','http://m.gushiwen.org/view_61204.aspx')" onmouseout="outweixin(61204)"><img id="weixinimg61204" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood61204" href="javascript:goodNew('61204','http://so.gushiwen.org/view.aspx?id=65424',23)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;23</span></a></div>
</div>
<div id="toolCopy61204" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin61204" style="background-color:aqua;"></div>
<div id="toolPlay61204" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e7%a6%bb%e5%88%ab">离别</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e4%ba%ba">写人</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%8a%92%e6%83%85">抒情</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare61504">试马东风，且来问、南枝消息。正小墅、几株斜倚，数花轻拆。自有山中幽态度，谁知世上真颜色。叹君家、五岭我双溪，俱成客。长塞管，孤城笛。天未晓，人犹寂。有几多心事，露清月白。好把寒英都放了，莫教春讯能占得。问竹篱、茅舍景如何，惟渠识。——宋代·吴潜《满江红（梅）》http://so.gushiwen.org/view_61504.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(61504)" id="btnShangxi61504"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(61504)" id="btnZhushi61504"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(61504)" id="btnYiwen61504" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_61504.aspx"><b>满江红（梅）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%90%b4%e6%bd%9c">吴潜</a></p>
<div class="contson" id="contson61504">
试马东风，且来问、南枝消息。正小墅、几株斜倚，数花轻拆。自有山中幽态度，谁知世上真颜色。叹君家、五岭我双溪，俱成客。
<br/>
长塞管，孤城笛。天未晓，人犹寂。有几多心事，露清月白。好把寒英都放了，莫教春讯能占得。问竹篱、茅舍景如何，惟渠识。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=61504&from=http://so.gushiwen.org/view.aspx?id=65424"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(61504)"><img id="copyimg61504" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('61504','http://m.gushiwen.org/view_61504.aspx')" onmouseout="outweixin(61504)"><img id="weixinimg61504" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood61504" href="javascript:goodNew('61504','http://so.gushiwen.org/view.aspx?id=65424',5)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;5</span></a></div>
</div>
<div id="toolCopy61504" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin61504" style="background-color:aqua;"></div>
<div id="toolPlay61504" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2767.aspx">罗幕轻寒，燕子双飞去。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3001.aspx">日暮平沙秋草乱，一双白鸟避人飞。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
