
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
六州歌头（上广西张帅）原文、翻译及赏析_刘褒_古诗文网
</title>
<meta name="description" content="凭深负阻，蜂午肆奔腾。龙江上，妖氛涨，鲸海外，白波惊。羽檄交飞急，玉帐静，金韬閟，恢远驭，振长缨。密分兵。细草黄沙渺渺，西关路、风袅高旌。听飞霜令肃，坚壁夜无声。鼓角何神。地中鸣。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_66414.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_66414.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare66414">凭深负阻，蜂午肆奔腾。龙江上，妖氛涨，鲸海外，白波惊。羽檄交飞急，玉帐静，金韬閟，恢远驭，振长缨。密分兵。细草黄沙渺渺，西关路、风袅高旌。听飞霜令肃，坚壁夜无声。鼓角何神。地中鸣。看追风骑，攒云槊，雷野毂，激天钲。飞箭集，旄头坠，长围掩，郭东倾。振旅观旋凯，笳鼓竞，绣旗明。刀换犊，戈藏革，士休营。黄色赤云交映，论功何止蔡州平。想环城苍玉，深刻入青冥。永绍来今。——宋代·刘褒《六州歌头（上广西张帅）》http://so.gushiwen.org/view_66414.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(66414)" id="btnShangxi66414"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(66414)" id="btnZhushi66414"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(66414)" id="btnYiwen66414" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">六州歌头（上广西张帅）</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_1035.aspx">刘褒</a> </p>
<div class="contson" id="contson66414">
凭深负阻，蜂午肆奔腾。龙江上，妖氛涨，鲸海外，白波惊。羽檄交飞急，玉帐静，金韬閟，恢远驭，振长缨。密分兵。细草黄沙渺渺，西关路、风袅高旌。听飞霜令肃，坚壁夜无声。鼓角何神。地中鸣。
<br/>
看追风骑，攒云槊，雷野毂，激天钲。飞箭集，旄头坠，长围掩，郭东倾。振旅观旋凯，笳鼓竞，绣旗明。刀换犊，戈藏革，士休营。黄色赤云交映，论功何止蔡州平。想环城苍玉，深刻入青冥。永绍来今。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=66414&from=http://so.gushiwen.org/view.aspx?id=66414"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(66414)"><img id="copyimg66414" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('66414','http://m.gushiwen.org/view_66414.aspx')" onmouseout="outweixin(66414)"><img id="weixinimg66414" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=66414"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=4075876891"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood66414" href="javascript:goodNew('66414','http://so.gushiwen.org/view.aspx?id=66414',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin66414" style="background-color:aqua;"></div>
<div id="toolPlay66414" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor1035">刘褒，字伯宠，一字春卿，号梅山老人，崇安（今福建武夷山市）人。孝宗淳熙五年（1178）进士。光宗绍熙中为静江府教授。宁宗庆元六年（1200），知龙溪县。嘉定六年（1213）由监尚书六部门奉祠，起知全州。有《梅山诗集》，已佚。工词，其满庭芳别绪，善於言情者。水调歌头，亦不减於东坡也。http://so.gushiwen.org/author_1035.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_1035.aspx"><b>刘褒</b></a></p>
<p style=" margin:0px;">刘褒，字伯宠，一字春卿，号梅山老人，崇安（今福建武夷山市）人。孝宗淳熙五年（1178）进士。光宗绍熙中为静江府教授。宁宗庆元六年（1200），知龙溪县。嘉定六年（1213）由监尚书六部门奉祠，起知全州。有《梅山诗集》，已佚。工词，其满庭芳别绪，善於言情者。水调歌头，亦不减於东坡也。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=1035&from=http://so.gushiwen.org/view.aspx?id=66414"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(1035)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('1035','http://m.gushiwen.org/author_1035.aspx')" onmouseout="outweixinAuthor(1035)"><img id="weixinAuthorImg1035" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor1035" href="javascript:goodAuthorNew('1035','http://so.gushiwen.org/view.aspx?id=66414',0)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;0</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor1035" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare56819">一番风雨一番凉。炯秋光。又重阳。潇洒东篱，浑学汉宫妆。今日且须开口笑，花露＿，鬓云香。泼醅新取淡鹅黄。趁幽芳。趣飞觞。落帽当时，□发少年狂。万事破除惟有此，尘外客，醉中乡。——宋代·李处全《江城子（重阳）》http://so.gushiwen.org/view_56819.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(56819)" id="btnShangxi56819"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(56819)" id="btnZhushi56819"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(56819)" id="btnYiwen56819" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_56819.aspx"><b>江城子（重阳）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e5%a4%84%e5%85%a8">李处全</a></p>
<div class="contson" id="contson56819">
一番风雨一番凉。炯秋光。又重阳。潇洒东篱，浑学汉宫妆。今日且须开口笑，花露＿，鬓云香。
<br/>
泼醅新取淡鹅黄。趁幽芳。趣飞觞。落帽当时，□发少年狂。万事破除惟有此，尘外客，醉中乡。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=56819&from=http://so.gushiwen.org/view.aspx?id=66414"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(56819)"><img id="copyimg56819" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('56819','http://m.gushiwen.org/view_56819.aspx')" onmouseout="outweixin(56819)"><img id="weixinimg56819" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood56819" href="javascript:goodNew('56819','http://so.gushiwen.org/view.aspx?id=66414',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy56819" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin56819" style="background-color:aqua;"></div>
<div id="toolPlay56819" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare56300">堂上年时见烛花。青毡还入旧时家。芝函瑞色回春早，绿野东风转岁华。催召传，稳铺沙。罍尊今日枣如瓜。诞辰更接传柑宴，莲炬通宵唤草麻。——宋代·赵磻老《鹧鸪天（同前）》http://so.gushiwen.org/view_56300.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(56300)" id="btnShangxi56300"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(56300)" id="btnZhushi56300"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(56300)" id="btnYiwen56300" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_56300.aspx"><b>鹧鸪天（同前）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%b5%b5%e7%a3%bb%e8%80%81">赵磻老</a></p>
<div class="contson" id="contson56300">
堂上年时见烛花。青毡还入旧时家。芝函瑞色回春早，绿野东风转岁华。
<br/>
催召传，稳铺沙。罍尊今日枣如瓜。诞辰更接传柑宴，莲炬通宵唤草麻。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=56300&from=http://so.gushiwen.org/view.aspx?id=66414"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(56300)"><img id="copyimg56300" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('56300','http://m.gushiwen.org/view_56300.aspx')" onmouseout="outweixin(56300)"><img id="weixinimg56300" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood56300" href="javascript:goodNew('56300','http://so.gushiwen.org/view.aspx?id=66414',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy56300" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin56300" style="background-color:aqua;"></div>
<div id="toolPlay56300" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare59782">彩笔新题字字香。雁来时候燕空梁。芙蓉无处着秋光。人远山长言外意，曲传书恨醉时妆。倩谁闲寄水云乡。——宋代·韩淲《浣溪沙（戏成寄李叔谦）》http://so.gushiwen.org/view_59782.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(59782)" id="btnShangxi59782"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(59782)" id="btnZhushi59782"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(59782)" id="btnYiwen59782" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_59782.aspx"><b>浣溪沙（戏成寄李叔谦）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e9%9f%a9%e6%b7%b2">韩淲</a></p>
<div class="contson" id="contson59782">
彩笔新题字字香。雁来时候燕空梁。芙蓉无处着秋光。
<br/>
人远山长言外意，曲传书恨醉时妆。倩谁闲寄水云乡。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=59782&from=http://so.gushiwen.org/view.aspx?id=66414"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(59782)"><img id="copyimg59782" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('59782','http://m.gushiwen.org/view_59782.aspx')" onmouseout="outweixin(59782)"><img id="weixinimg59782" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood59782" href="javascript:goodNew('59782','http://so.gushiwen.org/view.aspx?id=66414',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy59782" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin59782" style="background-color:aqua;"></div>
<div id="toolPlay59782" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4213.aspx">汾水碧依依，黄云落叶初飞。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_752.aspx">望处雨收云断，凭阑悄悄，目送秋光。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
