
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
庆宫春（重登峨眉亭感旧）原文、翻译及赏析_刘澜_古诗文网
</title>
<meta name="description" content="春翦绿波，日明金渚，镜光尽浸寒碧。喜溢双蛾，迎风一笑，两情依旧脉脉。那时同醉，锦袍湿、乌纱欹侧。英游何在，满目青山，飞下孤白。片帆谁上天门，我亦明朝，是天门客。平生高兴，青莲一叶，" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_67250.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_67250.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare67250">春翦绿波，日明金渚，镜光尽浸寒碧。喜溢双蛾，迎风一笑，两情依旧脉脉。那时同醉，锦袍湿、乌纱欹侧。英游何在，满目青山，飞下孤白。片帆谁上天门，我亦明朝，是天门客。平生高兴，青莲一叶，从此飘然八极。矶头绿树，见白马、书生破敌。百年前事，欲问东风，酒醒长笛。——宋代·刘澜《庆宫春（重登峨眉亭感旧）》http://so.gushiwen.org/view_67250.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(67250)" id="btnShangxi67250"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(67250)" id="btnZhushi67250"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(67250)" id="btnYiwen67250" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">庆宫春（重登峨眉亭感旧）</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_2403.aspx">刘澜</a> </p>
<div class="contson" id="contson67250">
春翦绿波，日明金渚，镜光尽浸寒碧。喜溢双蛾，迎风一笑，两情依旧脉脉。那时同醉，锦袍湿、乌纱欹侧。英游何在，满目青山，飞下孤白。
<br/>
片帆谁上天门，我亦明朝，是天门客。平生高兴，青莲一叶，从此飘然八极。矶头绿树，见白马、书生破敌。百年前事，欲问东风，酒醒长笛。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=67250&from=http://so.gushiwen.org/view.aspx?id=67250"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(67250)"><img id="copyimg67250" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('67250','http://m.gushiwen.org/view_67250.aspx')" onmouseout="outweixin(67250)"><img id="weixinimg67250" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=67250"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=4936334860"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood67250" href="javascript:goodNew('67250','http://so.gushiwen.org/view.aspx?id=67250',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin67250" style="background-color:aqua;"></div>
<div id="toolPlay67250" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor2403">刘澜（公元？年至一二七六年），字声源，号让村，天台人。生年不详卒于宋端宗景炎元年，即公元一二七六年卒。尝为道士，还俗。举唐诗，有所悟。干谒无所成。澜亦能词，绝妙好词中录存三首。http://so.gushiwen.org/author_2403.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_2403.aspx"><b>刘澜</b></a></p>
<p style=" margin:0px;">刘澜（公元？年至一二七六年），字声源，号让村，天台人。生年不详卒于宋端宗景炎元年，即公元一二七六年卒。尝为道士，还俗。举唐诗，有所悟。干谒无所成。澜亦能词，绝妙好词中录存三首。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=2403&from=http://so.gushiwen.org/view.aspx?id=67250"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(2403)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('2403','http://m.gushiwen.org/author_2403.aspx')" onmouseout="outweixinAuthor(2403)"><img id="weixinAuthorImg2403" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor2403" href="javascript:goodAuthorNew('2403','http://so.gushiwen.org/view.aspx?id=67250',0)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;0</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor2403" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare60216">轻露濯秋风，新楼插太空。更遭逢、解事天公。为唤羲和驱六马，将杲日、挂帘栊。日影正沈红。须臾月在东。百万家、乐意融融。民意乐时天亦好，聊与众、一尊同。——宋代·魏了翁《唐多令（中秋）》http://so.gushiwen.org/view_60216.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(60216)" id="btnShangxi60216"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(60216)" id="btnZhushi60216"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(60216)" id="btnYiwen60216" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_60216.aspx"><b>唐多令（中秋）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e9%ad%8f%e4%ba%86%e7%bf%81">魏了翁</a></p>
<div class="contson" id="contson60216">
轻露濯秋风，新楼插太空。更遭逢、解事天公。为唤羲和驱六马，将杲日、挂帘栊。
<br/>
日影正沈红。须臾月在东。百万家、乐意融融。民意乐时天亦好，聊与众、一尊同。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=60216&from=http://so.gushiwen.org/view.aspx?id=67250"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(60216)"><img id="copyimg60216" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('60216','http://m.gushiwen.org/view_60216.aspx')" onmouseout="outweixin(60216)"><img id="weixinimg60216" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood60216" href="javascript:goodNew('60216','http://so.gushiwen.org/view.aspx?id=67250',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy60216" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin60216" style="background-color:aqua;"></div>
<div id="toolPlay60216" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare58270">翠黛随妆浅，铢衣称体香。好风偏与十分凉。却扇含情独自、绕池塘。碧藕丝丝嫩，红榴叶叶双。牵丝摘叶为谁忙。情到厌厌拚醉、又何妨。——宋代·程垓《望秦川》http://so.gushiwen.org/view_58270.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(58270)" id="btnShangxi58270"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(58270)" id="btnZhushi58270"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(58270)" id="btnYiwen58270" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_58270.aspx"><b>望秦川</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e7%a8%8b%e5%9e%93">程垓</a></p>
<div class="contson" id="contson58270">
翠黛随妆浅，铢衣称体香。好风偏与十分凉。却扇含情独自、绕池塘。
<br/>
碧藕丝丝嫩，红榴叶叶双。牵丝摘叶为谁忙。情到厌厌拚醉、又何妨。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=58270&from=http://so.gushiwen.org/view.aspx?id=67250"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(58270)"><img id="copyimg58270" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('58270','http://m.gushiwen.org/view_58270.aspx')" onmouseout="outweixin(58270)"><img id="weixinimg58270" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood58270" href="javascript:goodNew('58270','http://so.gushiwen.org/view.aspx?id=67250',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy58270" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin58270" style="background-color:aqua;"></div>
<div id="toolPlay58270" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare50804">原桑飞尽霜空杳。霜夜愁难晓。油灯野店怯黄昏。穷途不灭酒杯深。故人心。羊山古道行人少。也送行人老。一般别语重千金。明年过我小园林。话如今。——宋代·晁补之《虞美人（羊山饯杜侍郎郡君十二姑及外弟天逵）》http://so.gushiwen.org/view_50804.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(50804)" id="btnShangxi50804"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(50804)" id="btnZhushi50804"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(50804)" id="btnYiwen50804" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_50804.aspx"><b>虞美人（羊山饯杜侍郎郡君十二姑及外弟天逵）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%99%81%e8%a1%a5%e4%b9%8b">晁补之</a></p>
<div class="contson" id="contson50804">
原桑飞尽霜空杳。霜夜愁难晓。油灯野店怯黄昏。穷途不灭酒杯深。故人心。
<br/>
羊山古道行人少。也送行人老。一般别语重千金。明年过我小园林。话如今。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=50804&from=http://so.gushiwen.org/view.aspx?id=67250"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(50804)"><img id="copyimg50804" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('50804','http://m.gushiwen.org/view_50804.aspx')" onmouseout="outweixin(50804)"><img id="weixinimg50804" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood50804" href="javascript:goodNew('50804','http://so.gushiwen.org/view.aspx?id=67250',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy50804" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin50804" style="background-color:aqua;"></div>
<div id="toolPlay50804" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1314.aspx">佳节清明桃李笑，野田荒冢只生愁。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2166.aspx">咸言上国繁华，岂谓帝城羁旅。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
