
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
浣溪沙（兰）原文、翻译及赏析_杨泽民_古诗文网
</title>
<meta name="description" content="一径栽培九畹成。丛生幽谷兔欹倾。异芳止合在林亭。馥郁国香难可拟，纷纭俗眼不须惊。好风披拂雨初晴。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_67487.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_67487.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare67487">一径栽培九畹成。丛生幽谷兔欹倾。异芳止合在林亭。馥郁国香难可拟，纷纭俗眼不须惊。好风披拂雨初晴。——宋代·杨泽民《浣溪沙（兰）》http://so.gushiwen.org/view_67487.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(67487)" id="btnShangxi67487"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(67487)" id="btnZhushi67487"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(67487)" id="btnYiwen67487" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">浣溪沙（兰）</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_1064.aspx">杨泽民</a> </p>
<div class="contson" id="contson67487">
一径栽培九畹成。丛生幽谷兔欹倾。异芳止合在林亭。
<br/>
馥郁国香难可拟，纷纭俗眼不须惊。好风披拂雨初晴。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=67487&from=http://so.gushiwen.org/view.aspx?id=67487"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(67487)"><img id="copyimg67487" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('67487','http://m.gushiwen.org/view_67487.aspx')" onmouseout="outweixin(67487)"><img id="weixinimg67487" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=67487"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=1635716468"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood67487" href="javascript:goodNew('67487','http://so.gushiwen.org/view.aspx?id=67487',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div class="toolerweima" id="weixin67487" style="background-color:aqua;"></div>
<div id="toolPlay67487" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor1064">南宋乐安人。著有《和清真词》，时人合周邦彦、方千里词刻之，号三英集。作品有《瑞龙吟》、《琐窗寒》、《风流子 》、《渡江云》、《应天长 》、《荔枝香》、《还京乐》、《扫花游》、《玲珑四犯 》、《解连环》等。http://so.gushiwen.org/author_1064.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_1064.aspx"><b>杨泽民</b></a></p>
<p style=" margin:0px;">南宋乐安人。著有《和清真词》，时人合周邦彦、方千里词刻之，号三英集。作品有《瑞龙吟》、《琐窗寒》、《风流子 》、《渡江云》、《应天长 》、《荔枝香》、《还京乐》、《扫花游》、《玲珑四犯 》、《解连环》等。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=1064&from=http://so.gushiwen.org/view.aspx?id=67487"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(1064)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('1064','http://m.gushiwen.org/author_1064.aspx')" onmouseout="outweixinAuthor(1064)"><img id="weixinAuthorImg1064" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor1064" href="javascript:goodAuthorNew('1064','http://so.gushiwen.org/view.aspx?id=67487',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor1064" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare62961">残梦绕林塘。诗添瘦、瘦不似东阳。正流水荡红，暗通幽径，嫩篁翻翠，斜映回墙。对握宝筝低度曲，销蜡靓新簧。莺懒昼长，燕闲人倦，乍亲花簟，慵引壶觞。帘栊深深地，歌尘静、芳草自碧空厢。十二画桥，一堤烟树成行。向杜鹃声里，绿杨庭院，共寻红豆，同结丁香。春已无多，只愁风雨相妨。——宋代·陈允平《风流子》http://so.gushiwen.org/view_62961.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(62961)" id="btnShangxi62961"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(62961)" id="btnZhushi62961"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(62961)" id="btnYiwen62961" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_62961.aspx"><b>风流子</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e9%99%88%e5%85%81%e5%b9%b3">陈允平</a></p>
<div class="contson" id="contson62961">
残梦绕林塘。诗添瘦、瘦不似东阳。正流水荡红，暗通幽径，嫩篁翻翠，斜映回墙。对握宝筝低度曲，销蜡靓新簧。莺懒昼长，燕闲人倦，乍亲花簟，慵引壶觞。
<br/>
帘栊深深地，歌尘静、芳草自碧空厢。十二画桥，一堤烟树成行。向杜鹃声里，绿杨庭院，共寻红豆，同结丁香。春已无多，只愁风雨相妨。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=62961&from=http://so.gushiwen.org/view.aspx?id=67487"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(62961)"><img id="copyimg62961" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('62961','http://m.gushiwen.org/view_62961.aspx')" onmouseout="outweixin(62961)"><img id="weixinimg62961" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood62961" href="javascript:goodNew('62961','http://so.gushiwen.org/view.aspx?id=67487',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy62961" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin62961" style="background-color:aqua;"></div>
<div id="toolPlay62961" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare64052">雁屿晴岚薄。倚层屏、千树高低，粉纤红弱。云隘东风藏不尽，吹艳生香万壑。又散入、汀蘅洲药。扰扰匆匆尘土面，看歌莺、舞燕逢春乐。人共物，知谁错。宝钗楼上围帘幕。小婵娟、双调弹筝，半霄鸾鹤。我辈中人无此分，琴思诗情当却。也胜似、愁横眉角。芳景三分才过二，便绿阴、门巷杨花落。沽斗酒，且同酌。——宋代·蒋捷《贺新郎（约友三月旦饮）》http://so.gushiwen.org/view_64052.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(64052)" id="btnShangxi64052"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(64052)" id="btnZhushi64052"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(64052)" id="btnYiwen64052" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_64052.aspx"><b>贺新郎（约友三月旦饮）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%92%8b%e6%8d%b7">蒋捷</a></p>
<div class="contson" id="contson64052">
雁屿晴岚薄。倚层屏、千树高低，粉纤红弱。云隘东风藏不尽，吹艳生香万壑。又散入、汀蘅洲药。扰扰匆匆尘土面，看歌莺、舞燕逢春乐。人共物，知谁错。
<br/>
宝钗楼上围帘幕。小婵娟、双调弹筝，半霄鸾鹤。我辈中人无此分，琴思诗情当却。也胜似、愁横眉角。芳景三分才过二，便绿阴、门巷杨花落。沽斗酒，且同酌。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=64052&from=http://so.gushiwen.org/view.aspx?id=67487"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(64052)"><img id="copyimg64052" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('64052','http://m.gushiwen.org/view_64052.aspx')" onmouseout="outweixin(64052)"><img id="weixinimg64052" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood64052" href="javascript:goodNew('64052','http://so.gushiwen.org/view.aspx?id=67487',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy64052" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin64052" style="background-color:aqua;"></div>
<div id="toolPlay64052" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare67796">风帘交翠篆香飘。却暑卷轻绡。最好佳辰相近，寿觞对饮连宵。仙翁未老，云中跨凤，台上吹箫。看取他年荣事，鱼轩入侍涂椒。——宋代·侯置《朝中措》http://so.gushiwen.org/view_67796.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(67796)" id="btnShangxi67796"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(67796)" id="btnZhushi67796"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(67796)" id="btnYiwen67796" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_67796.aspx"><b>朝中措</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e4%be%af%e7%bd%ae">侯置</a></p>
<div class="contson" id="contson67796">
风帘交翠篆香飘。却暑卷轻绡。最好佳辰相近，寿觞对饮连宵。
<br/>
仙翁未老，云中跨凤，台上吹箫。看取他年荣事，鱼轩入侍涂椒。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=67796&from=http://so.gushiwen.org/view.aspx?id=67487"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(67796)"><img id="copyimg67796" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('67796','http://m.gushiwen.org/view_67796.aspx')" onmouseout="outweixin(67796)"><img id="weixinimg67796" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood67796" href="javascript:goodNew('67796','http://so.gushiwen.org/view.aspx?id=67487',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy67796" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin67796" style="background-color:aqua;"></div>
<div id="toolPlay67796" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1086.aspx">何用慰相思，裁书寄关右。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4608.aspx">千磨万击还坚劲，任尔东西南北风。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
