
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
入声甘州（孤山寒食）原文、翻译及赏析_罗椅_古诗文网
</title>
<meta name="description" content="甚匆匆岁月，又人家、插柳记清明。正南北高峰，山传笑响，水泛箫声。吹散楼台烟雨，莺语碎春晴。何地无芳草，惟此青青。谁管孤山山下，任种梅竹冷，荐菊泉清。看人情如此，沈醉不须醒。问何时、" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_68082.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_68082.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare68082">甚匆匆岁月，又人家、插柳记清明。正南北高峰，山传笑响，水泛箫声。吹散楼台烟雨，莺语碎春晴。何地无芳草，惟此青青。谁管孤山山下，任种梅竹冷，荐菊泉清。看人情如此，沈醉不须醒。问何时、樊川归去，叹故乡、七十五长亭。君知否，洞云溪竹，笑我飘零。——宋代·罗椅《入声甘州（孤山寒食）》http://so.gushiwen.org/view_68082.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(68082)" id="btnShangxi68082"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(68082)" id="btnZhushi68082"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(68082)" id="btnYiwen68082" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">入声甘州（孤山寒食）</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_1194.aspx">罗椅</a> </p>
<div class="contson" id="contson68082">
甚匆匆岁月，又人家、插柳记清明。正南北高峰，山传笑响，水泛箫声。吹散楼台烟雨，莺语碎春晴。何地无芳草，惟此青青。谁管孤山山下，任种梅竹冷，荐菊泉清。看人情如此，沈醉不须醒。问何时、樊川归去，叹故乡、七十五长亭。君知否，洞云溪竹，笑我飘零。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=68082&from=http://so.gushiwen.org/view.aspx?id=68082"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(68082)"><img id="copyimg68082" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('68082','http://m.gushiwen.org/view_68082.aspx')" onmouseout="outweixin(68082)"><img id="weixinimg68082" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=68082"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=3054448691"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood68082" href="javascript:goodNew('68082','http://so.gushiwen.org/view.aspx?id=68082',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin68082" style="background-color:aqua;"></div>
<div id="toolPlay68082" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor1194">罗椅（1214—1292） 南宋吉州庐陵（今江西吉安）人，字子远，号涧谷（一作间谷）。宋宝佑丙辰（1256）以“四贡元”著，宝祐四年（公元1256年）进士，知赣州信丰县。选潭州军学教授，占籍茶陵，后擢京榷提举，朝请大夫，迁监察御使。时贾似道专权蔽主，椅上书直言，遭报复。公以国事不可为，忧郁成疾，往来潭、吉间，茶陵乃必经之地，竟爱上茶陵的云山洣水，宋景炎丁丑（1277）以疾卒于署。http://so.gushiwen.org/author_1194.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_1194.aspx"><b>罗椅</b></a></p>
<p style=" margin:0px;">罗椅（1214—1292） 南宋吉州庐陵（今江西吉安）人，字子远，号涧谷（一作间谷）。宋宝佑丙辰（1256）以“四贡元”著，宝祐四年（公元1256年）进士，知赣州信丰县。选潭州军学教授，占籍茶陵，后擢京榷提举，朝请大夫，迁监察御使。时贾似道专权蔽主，椅上书直言，遭报复。公以国事不可为，忧郁成疾，往来潭、吉间，茶陵乃必经之地，竟爱上茶陵的云山洣水，宋景炎丁丑（1277）以疾卒于署。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=1194&from=http://so.gushiwen.org/view.aspx?id=68082"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(1194)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('1194','http://m.gushiwen.org/author_1194.aspx')" onmouseout="outweixinAuthor(1194)"><img id="weixinAuthorImg1194" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor1194" href="javascript:goodAuthorNew('1194','http://so.gushiwen.org/view.aspx?id=68082',0)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;0</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor1194" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare55908">春已去。墙外榴花红半吐。薰风习习生庭户。美人浴罢黄昏暮。愁无绪。阑干倚遍凭谁诉。——宋代·姚述尧《归国谣》http://so.gushiwen.org/view_55908.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(55908)" id="btnShangxi55908"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(55908)" id="btnZhushi55908"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(55908)" id="btnYiwen55908" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_55908.aspx"><b>归国谣</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%a7%9a%e8%bf%b0%e5%b0%a7">姚述尧</a></p>
<div class="contson" id="contson55908">
春已去。墙外榴花红半吐。薰风习习生庭户。
<br/>
美人浴罢黄昏暮。愁无绪。阑干倚遍凭谁诉。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=55908&from=http://so.gushiwen.org/view.aspx?id=68082"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(55908)"><img id="copyimg55908" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('55908','http://m.gushiwen.org/view_55908.aspx')" onmouseout="outweixin(55908)"><img id="weixinimg55908" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood55908" href="javascript:goodNew('55908','http://so.gushiwen.org/view.aspx?id=68082',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy55908" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin55908" style="background-color:aqua;"></div>
<div id="toolPlay55908" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare48888">罗衫满袖，尽是忆伊泪。残妆粉，余香被。手把金尊酒，未饮先如醉。但向道，厌厌成病皆因你。离思迢迢远，一似长江水。去不断，来无际。红笺著意写，不尽相思意。为个甚，相思只在心儿里。——宋代·欧阳修《千秋岁》http://so.gushiwen.org/view_48888.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(48888)" id="btnShangxi48888"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(48888)" id="btnZhushi48888"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(48888)" id="btnYiwen48888" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_48888.aspx"><b>千秋岁</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%ac%a7%e9%98%b3%e4%bf%ae">欧阳修</a></p>
<div class="contson" id="contson48888">
罗衫满袖，尽是忆伊泪。残妆粉，余香被。手把金尊酒，未饮先如醉。但向道，厌厌成病皆因你。
<br/>
离思迢迢远，一似长江水。去不断，来无际。红笺著意写，不尽相思意。为个甚，相思只在心儿里。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=48888&from=http://so.gushiwen.org/view.aspx?id=68082"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(48888)"><img id="copyimg48888" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('48888','http://m.gushiwen.org/view_48888.aspx')" onmouseout="outweixin(48888)"><img id="weixinimg48888" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood48888" href="javascript:goodNew('48888','http://so.gushiwen.org/view.aspx?id=68082',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy48888" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin48888" style="background-color:aqua;"></div>
<div id="toolPlay48888" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare60323">昨夕相逢。烟苞沁绿，月艳羞红。旭日生时，初春景里，太极光中。别来三日东风。已非复、吴中阿蒙。须信中间，阴阳大造，雨露新功。——宋代·魏了翁《柳梢青（小圃牡丹盛开旧朋毕至小阕寓意）》http://so.gushiwen.org/view_60323.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(60323)" id="btnShangxi60323"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(60323)" id="btnZhushi60323"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(60323)" id="btnYiwen60323" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_60323.aspx"><b>柳梢青（小圃牡丹盛开旧朋毕至小阕寓意）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e9%ad%8f%e4%ba%86%e7%bf%81">魏了翁</a></p>
<div class="contson" id="contson60323">
昨夕相逢。烟苞沁绿，月艳羞红。旭日生时，初春景里，太极光中。
<br/>
别来三日东风。已非复、吴中阿蒙。须信中间，阴阳大造，雨露新功。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=60323&from=http://so.gushiwen.org/view.aspx?id=68082"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(60323)"><img id="copyimg60323" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('60323','http://m.gushiwen.org/view_60323.aspx')" onmouseout="outweixin(60323)"><img id="weixinimg60323" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood60323" href="javascript:goodNew('60323','http://so.gushiwen.org/view.aspx?id=68082',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy60323" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin60323" style="background-color:aqua;"></div>
<div id="toolPlay60323" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2757.aspx">信宿渔人还泛泛，清秋燕子故飞飞。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3695.aspx">春到南楼雪尽。惊动灯期花信。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
