
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
水龙吟（代寿制师贾参政）原文、翻译及赏析_翁溪园_古诗文网
</title>
<meta name="description" content="镇淮楼下旌旗，晶明辉映云山阁。宸旒倚重，折冲千里，无逾秋壑。缓带轻裘，纶巾羽扇，从容筹略。使毡裘胆破，丁宁边吏，无生事，空沙漠。二十四桥风月，称断楼、卷尽帘箔。绂麟华旦，饱吟玉蕊，" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_68433.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_68433.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare68433">镇淮楼下旌旗，晶明辉映云山阁。宸旒倚重，折冲千里，无逾秋壑。缓带轻裘，纶巾羽扇，从容筹略。使毡裘胆破，丁宁边吏，无生事，空沙漠。二十四桥风月，称断楼、卷尽帘箔。绂麟华旦，饱吟玉蕊，款簪金药。驿骑朝驰，宝鞍卖赐，御筵宣押。更赐环促如，中书入令，作汾阳郭。——宋代·翁溪园《水龙吟（代寿制师贾参政）》http://so.gushiwen.org/view_68433.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(68433)" id="btnShangxi68433"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(68433)" id="btnZhushi68433"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(68433)" id="btnYiwen68433" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">水龙吟（代寿制师贾参政）</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_1510.aspx">翁溪园</a> </p>
<div class="contson" id="contson68433">
镇淮楼下旌旗，晶明辉映云山阁。宸旒倚重，折冲千里，无逾秋壑。缓带轻裘，纶巾羽扇，从容筹略。使毡裘胆破，丁宁边吏，无生事，空沙漠。
<br/>
二十四桥风月，称断楼、卷尽帘箔。绂麟华旦，饱吟玉蕊，款簪金药。驿骑朝驰，宝鞍卖赐，御筵宣押。更赐环促如，中书入令，作汾阳郭。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=68433&from=http://so.gushiwen.org/view.aspx?id=68433"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(68433)"><img id="copyimg68433" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('68433','http://m.gushiwen.org/view_68433.aspx')" onmouseout="outweixin(68433)"><img id="weixinimg68433" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=68433"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=4907593217"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood68433" href="javascript:goodNew('68433','http://so.gushiwen.org/view.aspx?id=68433',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin68433" style="background-color:aqua;"></div>
<div id="toolPlay68433" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor1510">翁溪园（生卒事迹均不详），宋朝文人，贾似道时人。http://so.gushiwen.org/author_1510.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_1510.aspx"><b>翁溪园</b></a></p>
<p style=" margin:0px;">翁溪园（生卒事迹均不详），宋朝文人，贾似道时人。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=1510&from=http://so.gushiwen.org/view.aspx?id=68433"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(1510)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('1510','http://m.gushiwen.org/author_1510.aspx')" onmouseout="outweixinAuthor(1510)"><img id="weixinAuthorImg1510" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor1510" href="javascript:goodAuthorNew('1510','http://so.gushiwen.org/view.aspx?id=68433',0)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;0</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor1510" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare48566">舞雪歌云。闲淡妆匀。蓝溪水、深染轻裙。酒香醺脸，粉色生春。更巧谈话，美情性，好精神。江空无畔，凌波何处，月桥边、青柳朱门。断钟残角，又送黄昏。奈心中事，眼中泪，意中人。——宋代·张先《行香子（般涉调）》http://so.gushiwen.org/view_48566.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(48566)" id="btnShangxi48566"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(48566)" id="btnZhushi48566"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(48566)" id="btnYiwen48566" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_48566.aspx"><b>行香子（般涉调）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%bc%a0%e5%85%88">张先</a></p>
<div class="contson" id="contson48566">
舞雪歌云。闲淡妆匀。蓝溪水、深染轻裙。酒香醺脸，粉色生春。更巧谈话，美情性，好精神。
<br/>
江空无畔，凌波何处，月桥边、青柳朱门。断钟残角，又送黄昏。奈心中事，眼中泪，意中人。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=48566&from=http://so.gushiwen.org/view.aspx?id=68433"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(48566)"><img id="copyimg48566" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('48566','http://m.gushiwen.org/view_48566.aspx')" onmouseout="outweixin(48566)"><img id="weixinimg48566" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood48566" href="javascript:goodNew('48566','http://so.gushiwen.org/view.aspx?id=68433',12)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;12</span></a></div>
</div>
<div id="toolCopy48566" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin48566" style="background-color:aqua;"></div>
<div id="toolPlay48566" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare50005">粉泪一行行。啼破晓来妆。懒系酥胸罗带，羞见绣鸳鸯。拟待不思量。怎奈向、目下凄惶。假饶来后，教人见了，却去何妨。——宋代·黄庭坚《好儿女》http://so.gushiwen.org/view_50005.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(50005)" id="btnShangxi50005"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(50005)" id="btnZhushi50005"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(50005)" id="btnYiwen50005" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_50005.aspx"><b>好儿女</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e9%bb%84%e5%ba%ad%e5%9d%9a">黄庭坚</a></p>
<div class="contson" id="contson50005">
粉泪一行行。啼破晓来妆。懒系酥胸罗带，羞见绣鸳鸯。
<br/>
拟待不思量。怎奈向、目下凄惶。假饶来后，教人见了，却去何妨。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=50005&from=http://so.gushiwen.org/view.aspx?id=68433"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(50005)"><img id="copyimg50005" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('50005','http://m.gushiwen.org/view_50005.aspx')" onmouseout="outweixin(50005)"><img id="weixinimg50005" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood50005" href="javascript:goodNew('50005','http://so.gushiwen.org/view.aspx?id=68433',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy50005" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin50005" style="background-color:aqua;"></div>
<div id="toolPlay50005" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare67921">星宿呈祥，溪山钟秀，凛然生此真贤。冰清玉润，还称岁寒天。正是梅梢酝雪，探江南，春信先传。庭轩爽，涓涓皎月，今夜十分圆。开筵。称寿处，歌尘飞动，舞袖蹁跹。愿公与椿松，对阅天年。第恐宏才重望，不容暂吟醉苕川。龙光近，行看凤诏，来自日华边。——宋代·谈羲仲《满庭芳》http://so.gushiwen.org/view_67921.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(67921)" id="btnShangxi67921"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(67921)" id="btnZhushi67921"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(67921)" id="btnYiwen67921" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_67921.aspx"><b>满庭芳</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%b0%88%e7%be%b2%e4%bb%b2">谈羲仲</a></p>
<div class="contson" id="contson67921">
星宿呈祥，溪山钟秀，凛然生此真贤。冰清玉润，还称岁寒天。正是梅梢酝雪，探江南，春信先传。庭轩爽，涓涓皎月，今夜十分圆。
<br/>
开筵。称寿处，歌尘飞动，舞袖蹁跹。愿公与椿松，对阅天年。第恐宏才重望，不容暂吟醉苕川。龙光近，行看凤诏，来自日华边。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=67921&from=http://so.gushiwen.org/view.aspx?id=68433"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(67921)"><img id="copyimg67921" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('67921','http://m.gushiwen.org/view_67921.aspx')" onmouseout="outweixin(67921)"><img id="weixinimg67921" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood67921" href="javascript:goodNew('67921','http://so.gushiwen.org/view.aspx?id=68433',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy67921" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin67921" style="background-color:aqua;"></div>
<div id="toolPlay67921" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3683.aspx">庭前雪压松桂丛，廊下点点悬纱笼。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5721.aspx">酿泉为酒，泉香而酒洌；</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
