
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
【双调】蟾宫曲　昭君原文、翻译及赏析_武林隐_古诗文网
</title>
<meta name="description" content="天风瑞雪剪玉蕊冰花，驾单车明妃无情无绪，气结愁云，泪湿腮霞。只见十程五程，峻岭嵯峨，停骖一顾，断人肠际碧离天漠漠寒沙。只见三对两对搠旌旗古道西风瘦马，千点万点噪疏林老树昏鸦。哀哀怨" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_69775.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_69775.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare69775">天风瑞雪剪玉蕊冰花，驾单车明妃无情无绪，气结愁云，泪湿腮霞。只见十程五程，峻岭嵯峨，停骖一顾，断人肠际碧离天漠漠寒沙。只见三对两对搠旌旗古道西风瘦马，千点万点噪疏林老树昏鸦。哀哀怨怨，一曲琵琶，没撩没乱离愁悲悲切切，恨满天涯。——元代·武林隐《【双调】蟾宫曲　昭君》http://so.gushiwen.org/view_69775.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(69775)" id="btnShangxi69775"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(69775)" id="btnZhushi69775"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(69775)" id="btnYiwen69775" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">【双调】蟾宫曲　昭君</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%85%83%e4%bb%a3">元代</a><span>：</span><a href="/author_1549.aspx">武林隐</a> </p>
<div class="contson" id="contson69775">
天风瑞雪剪玉蕊冰花，驾单车明妃无情无绪，气结愁云，泪湿腮霞。只见十<br />程五程，峻岭嵯峨，停骖一顾，断人肠际碧离天漠漠寒沙。只见三对两对搠旌旗<br />古道西风瘦马，千点万点噪疏林老树昏鸦。哀哀怨怨，一曲琵琶，没撩没乱离愁<br />悲悲切切，恨满天涯。<br />
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=69775&from=http://so.gushiwen.org/view.aspx?id=69775"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(69775)"><img id="copyimg69775" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('69775','http://m.gushiwen.org/view_69775.aspx')" onmouseout="outweixin(69775)"><img id="weixinimg69775" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=69775"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=1585642733"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood69775" href="javascript:goodNew('69775','http://so.gushiwen.org/view.aspx?id=69775',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin69775" style="background-color:aqua;"></div>
<div id="toolPlay69775" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor1549">[元]（约公元一三二〇年前后在世）字、里、生卒年及生平均不详，约元仁宗延祐末前后在世。http://so.gushiwen.org/author_1549.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_1549.aspx"><b>武林隐</b></a></p>
<p style=" margin:0px;">[元]（约公元一三二〇年前后在世）字、里、生卒年及生平均不详，约元仁宗延祐末前后在世。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=1549&from=http://so.gushiwen.org/view.aspx?id=69775"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(1549)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('1549','http://m.gushiwen.org/author_1549.aspx')" onmouseout="outweixinAuthor(1549)"><img id="weixinAuthorImg1549" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor1549" href="javascript:goodAuthorNew('1549','http://so.gushiwen.org/view.aspx?id=69775',0)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;0</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor1549" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare69685">落日遥岑，淡烟远浦。萧寺疏钟，戍楼暮鼓。一叶扁舟，数声去橹那惨戚，那凄楚，恰待欢娱，顿成间阻。　　【紫花儿】瘦岩岩香消玉减，冷清清夜永更长，孤另另枕剩衾余。羞花闭月，落雁沉鱼。踌躇，从今后谁寄萧娘一纸书？无情无绪，水淹蓝桥，梦断华胥。　　【调笑令】肺腑，恨怎舒？三叠阳关愁万缕。幽期密约欢爱处，动离愁暮云无数。今夜月明何处宿？依依古岸黄芦。　　【秃厮儿】欢笑地不堪举目，回首处景物萧疏。星前月下谁共语？谩嗟吁，何如？　　【尾】眼睁睁怎忍分飞去，痛杀我也吹箫伴侣！不付能恰住了送行客一帆风，又添起助离愁半江雨。　踏青　　蝶使双双，蜂媒对对。燕语关关，莺声呖呖。仕女把芳寻，丫鬟将翠拾。节序宜，景物奇。丽日迟迟，和风习习。　　【紫花儿序】娇滴滴三春佳景，翠巍巍一带青山，锦重重满目芳菲。端的是宜睛宜雨，堪咏堪题。畅好是幽微，嫩柳夭桃傍小溪。时遇着春光明媚，人贺丰年，民乐雍熙。　　【小桃红】雕阑花簇绣屏围，四季春为贵。万紫千红引人意，啭黄鹂，鸳鸯如锦池塘睡。玩不尽山水无穷景致，更那堪花下杜鹃啼。　　【调笑令】赏奇葩异卉，休直待锦离披，多感谢春工造化机。彩绳悬画板秋千戏，遍郊园幕天席地。动笙歌一派音韵美，列山灵水陆筵席。　　【耍厮儿】花萼拆香风拂鼻，柳丝垂翠蔼攒眉，我则见蜂蝶趁花莺燕飞。且欢赏，莫催逼，对饮樽。　　【圣药王】就着这花满溪，柳满堤，掩映着数株红杏出疏篱。风吹的酒力微，景助的诗兴起，见滴溜溜墙外舞青旗，直吃的醉扶归。　　【尾声】庆风调雨顺升平日，保一统江山社稷。托赖着千千载仁主圣明朝，齐仰贺万万岁吾皇大明国。——元代·宋方壶《【越调】斗鹌鹑　送别》http://so.gushiwen.org/view_69685.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(69685)" id="btnShangxi69685"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(69685)" id="btnZhushi69685"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(69685)" id="btnYiwen69685" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_69685.aspx"><b>【越调】斗鹌鹑　送别</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%85%83%e4%bb%a3">元代</a><span>：</span><a href="/search.aspx?value=%e5%ae%8b%e6%96%b9%e5%a3%b6">宋方壶</a></p>
<div class="contson" id="contson69685">
落日遥岑，淡烟远浦。萧寺疏钟，戍楼暮鼓。一叶扁舟，数声去橹那惨戚，<br />那凄楚，恰待欢娱，顿成间阻。<br />　　【紫花儿】瘦岩岩香消玉减，冷清清夜永更长，孤另另枕剩衾余。羞花闭月，<br />落雁沉鱼。踌躇，从今后谁寄萧娘一纸书？无情无绪，水淹蓝桥，梦断华胥。<br />　　【调笑令】肺腑，恨怎舒？三叠阳关愁万缕。幽期密约欢爱处，动离愁暮云<br />无数。今夜月明何处宿？依依古岸黄芦。<br />　　【秃厮儿】欢笑地不堪举目，回首处景物萧疏。星前月下谁共语？谩嗟吁，<br />何如？<br />　　【尾】眼睁睁怎忍分飞去，痛杀我也吹箫伴侣！不付能恰住了送行客一帆风，<br />又添起助离愁半江雨。　踏青<br />　　蝶使双双，蜂媒对对。燕语关关，莺声呖呖。仕女把芳寻，丫鬟将翠拾。节<br />序宜，景物奇。丽日迟迟，和风习习。<br />　　【紫花儿序】娇滴滴三春佳景，翠巍巍一带青山，锦重重满目芳菲。端的是<br />宜睛宜雨，堪咏堪题。畅好是幽微，嫩柳夭桃傍小溪。时遇着春光明媚，人贺丰<br />年，民乐雍熙。<br />　　【小桃红】雕阑花簇绣屏围，四季春为贵。万紫千红引人意，啭黄鹂，鸳鸯<br />如锦池塘睡。玩不尽山水无穷景致，更那堪花下杜鹃啼。<br />　　【调笑令】赏奇葩异卉，休直待锦离披，多感谢春工造化机。彩绳悬画板秋<br />千戏，遍郊园幕天席地。动笙歌一派音韵美，列山灵水陆筵席。<br />　　【耍厮儿】花萼拆香风拂鼻，柳丝垂翠蔼攒眉，我则见蜂蝶趁花莺燕飞。且<br />欢赏，莫催逼，对饮樽。<br />　　【圣药王】就着这花满溪，柳满堤，掩映着数株红杏出疏篱。风吹的酒力微，<br />景助的诗兴起，见滴溜溜墙外舞青旗，直吃的醉扶归。<br />　　【尾声】庆风调雨顺升平日，保一统江山社稷。托赖着千千载仁主圣明朝，<br />齐仰贺万万岁吾皇大明国。<br />
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=69685&from=http://so.gushiwen.org/view.aspx?id=69775"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(69685)"><img id="copyimg69685" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('69685','http://m.gushiwen.org/view_69685.aspx')" onmouseout="outweixin(69685)"><img id="weixinimg69685" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood69685" href="javascript:goodNew('69685','http://so.gushiwen.org/view.aspx?id=69775',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy69685" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin69685" style="background-color:aqua;"></div>
<div id="toolPlay69685" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare70466">春据危阑，看浮屠双耸倚高寒，鳞鳞万瓦连霄汉。俯视尘寰，望飞来紫翠间。云初散，放老眼情无限。知他是西山傲我，我傲西山？夏柳扶疏，玻璃万顷浸冰壶，流莺声里笙歌度。士女相呼，有丹青画不如。迷归路，又撑入荷深处。知他是西湖恋我，我恋西湖？秋洞箫歌，问当年赤壁乐如何，比西湖画舫争些个？一样烟波，有吟人景便多。四海诗名播，千载谁酬和？知他是东坡让我，我让东坡？冬捻冰髭，绕孤山枉了费寻思，自通仙去后无高士。冷落幽姿，道梅花不要诗。休说推敲字，效杀颦难似。知他是西施笑我，我笑西施？浪淘淘，看渔翁举网趁春潮，林间又见樵夫闹。伐木声高，比功名客更劳。虽然道，他终是心中乐。知他是渔樵笑我，我笑渔樵？醉归来，袖春风下马笑盈腮，笙歌接到朱帘外。夜宴重开，十年前一秀才。黄齑菜，打熬到文章伯。施展出江湖气概，抖擞出风月情怀。——元代·薛昂夫《【双调】殿前欢_春据危阑，》http://so.gushiwen.org/view_70466.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(70466)" id="btnShangxi70466"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(70466)" id="btnZhushi70466"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(70466)" id="btnYiwen70466" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_70466.aspx"><b>【双调】殿前欢_春据危阑，</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%85%83%e4%bb%a3">元代</a><span>：</span><a href="/search.aspx?value=%e8%96%9b%e6%98%82%e5%a4%ab">薛昂夫</a></p>
<div class="contson" id="contson70466">
春<br /><br />据危阑，看浮屠双耸倚高寒，鳞鳞万瓦连霄汉。俯视尘寰，望飞来紫翠间。云初散，放老眼情无限。知他是西山傲我，我傲西山？<br /><br />夏<br /><br />柳扶疏，玻璃万顷浸冰壶，流莺声里笙歌度。士女相呼，有丹青画不如。迷归路，又撑入荷深处。知他是西湖恋我，我恋西湖？<br /><br />秋<br /><br />洞箫歌，问当年赤壁乐如何，比西湖画舫争些个？一样烟波，有吟人景便多。四海诗名播，千载谁酬和？知他是东坡让我，我让东坡？<br /><br />冬<br /><br />捻冰髭，绕孤山枉了费寻思，自通仙去后无高士。冷落幽姿，道梅花不要诗。休说推敲字，效杀颦难似。知他是西施笑我，我笑西施？<br /><br />浪淘淘，看渔翁举网趁春潮，林间又见樵夫闹。伐木声高，比功名客更劳。虽然道，他终是心中乐。知他是渔樵笑我，我笑渔樵？<br /><br />醉归来，袖春风下马笑盈腮，笙歌接到朱帘外。夜宴重开，十年前一秀才。黄齑菜，打熬到文章伯。施展出江湖气概，抖擞出风月情怀。<br /><br />
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=70466&from=http://so.gushiwen.org/view.aspx?id=69775"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(70466)"><img id="copyimg70466" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('70466','http://m.gushiwen.org/view_70466.aspx')" onmouseout="outweixin(70466)"><img id="weixinimg70466" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood70466" href="javascript:goodNew('70466','http://so.gushiwen.org/view.aspx?id=69775',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy70466" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin70466" style="background-color:aqua;"></div>
<div id="toolPlay70466" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare69904">故园一千里，孤帆数日程，倚篷窗自叹漂泊命。城头鼓声，江心浪声，山顶钟声。一夜梦难成，三处愁相并。　田家乐四首　　黍稷秋收厚，桑麻春事好，妇随夫唱儿孙孝。线鸡长膘，绵羊下羔，丝茧成缲。人说仕途荣，我爱田家乐。　　寒暑□□□，□□□□□，□□□□□□。□□□□□，萝卜酱鹿，□□□烧。人说仕途荣，我爱田爱乐。　　东疃沽新酿，西村邀故交，麦场上醉倒呵呵笑。衅都摔腰，王留上标，伴哥踏撬。人说仕途荣，我爱田家乐。　　柳下三椽厦，门前独木桥，客来款曲谁家乐。浮瓜浸桃，蒸梨酿枣，烙饼槌糕。人说仕途荣，我爱田家乐。——元代·汤舜民《【双调】庆东原　京口夜泊》http://so.gushiwen.org/view_69904.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(69904)" id="btnShangxi69904"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(69904)" id="btnZhushi69904"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(69904)" id="btnYiwen69904" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_69904.aspx"><b>【双调】庆东原　京口夜泊</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%85%83%e4%bb%a3">元代</a><span>：</span><a href="/search.aspx?value=%e6%b1%a4%e8%88%9c%e6%b0%91">汤舜民</a></p>
<div class="contson" id="contson69904">
故园一千里，孤帆数日程，倚篷窗自叹漂泊命。城头鼓声，江心浪声，山顶<br />钟声。一夜梦难成，三处愁相并。　田家乐四首<br />　　黍稷秋收厚，桑麻春事好，妇随夫唱儿孙孝。线鸡长膘，绵羊下羔，丝茧成<br />缲。人说仕途荣，我爱田家乐。<br />　　寒暑□□□，□□□□□，□□□□□□。□□□□□，萝卜酱鹿，□□<br />□烧。人说仕途荣，我爱田爱乐。<br />　　东疃沽新酿，西村邀故交，麦场上醉倒呵呵笑。衅都摔腰，王留上标，伴哥<br />踏撬。人说仕途荣，我爱田家乐。<br />　　柳下三椽厦，门前独木桥，客来款曲谁家乐。浮瓜浸桃，蒸梨酿枣，烙饼槌<br />糕。人说仕途荣，我爱田家乐。<br />
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=69904&from=http://so.gushiwen.org/view.aspx?id=69775"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(69904)"><img id="copyimg69904" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('69904','http://m.gushiwen.org/view_69904.aspx')" onmouseout="outweixin(69904)"><img id="weixinimg69904" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood69904" href="javascript:goodNew('69904','http://so.gushiwen.org/view.aspx?id=69775',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy69904" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin69904" style="background-color:aqua;"></div>
<div id="toolPlay69904" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3546.aspx">黄莺百舌正相呼，玉树后庭花带雨。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2702.aspx">意内称长短，终身荷圣情。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
