
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
饯王相公出牧括州原文、翻译及赏析_刘长卿古诗_古诗文网
</title>
<meta name="description" content="缙云讵比长沙远，出牧犹承明主恩。城对寒山开画戟，路飞秋叶转朱轓.江潮淼淼连天望，旌旆悠悠上岭翻。萧索庭槐空闭閤，旧人谁到翟公门。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_7062.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_7062.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare7062">缙云讵比长沙远，出牧犹承明主恩。城对寒山开画戟，路飞秋叶转朱轓.江潮淼淼连天望，旌旆悠悠上岭翻。萧索庭槐空闭閤，旧人谁到翟公门。——唐代·刘长卿《饯王相公出牧括州》http://so.gushiwen.org/view_7062.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(7062)" id="btnShangxi7062"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(7062)" id="btnZhushi7062"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(7062)" id="btnYiwen7062" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">饯王相公出牧括州</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_104.aspx">刘长卿</a> </p>
<div class="contson" id="contson7062">
缙云讵比长沙远，出牧犹承明主恩。城对寒山开画戟，
<br />
路飞秋叶转朱轓.江潮淼淼连天望，旌旆悠悠上岭翻。
<br />
萧索庭槐空闭閤，旧人谁到翟公门。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=7062&from=http://so.gushiwen.org/view.aspx?id=7062"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(7062)"><img id="copyimg7062" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('7062','http://m.gushiwen.org/view_7062.aspx')" onmouseout="outweixin(7062)"><img id="weixinimg7062" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=7062"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=1799858567"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood7062" href="javascript:goodNew('7062','http://so.gushiwen.org/view.aspx?id=7062',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin7062" style="background-color:aqua;"></div>
<div id="toolPlay7062" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor104">刘长卿(约726 — 约786)，字文房，汉族，宣城（今属安徽）人，唐代诗人。后迁居洛阳，河间（今属河北）为其郡望。玄宗天宝年间进士。肃宗至德中官监察御史，后为长洲县尉，因事下狱，贬南巴尉。代宗大历中任转运使判官，知淮西、鄂岳转运留后，又被诬再贬睦州司马。德宗建中年间，官终随州刺史，世称刘随州。http://so.gushiwen.org/author_104.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_104.aspx"><img src="http://img.gushiwen.org/authorImg/liuchangqing.jpg" width="105" height="150" alt="刘长卿"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_104.aspx"><b>刘长卿</b></a></p>
<p style=" margin:0px;">刘长卿(约726 — 约786)，字文房，汉族，宣城（今属安徽）人，唐代诗人。后迁居洛阳，河间（今属河北）为其郡望。玄宗天宝年间进士。肃宗至德中官监察御史，后为长洲县尉，因事下狱，贬南巴尉。代宗大历中任转运使判官，知淮西、鄂岳转运留后，又被诬再贬睦州司马。德宗建中年间，官终随州刺史，世称刘随州。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=104&from=http://so.gushiwen.org/view.aspx?id=7062"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(104)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('104','http://m.gushiwen.org/author_104.aspx')" onmouseout="outweixinAuthor(104)"><img id="weixinAuthorImg104" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor104" href="javascript:goodAuthorNew('104','http://so.gushiwen.org/view.aspx?id=7062',735)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;735</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor104" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare13290">微生祖龙代，却思尧舜道。何人仕帝庭，拔杀指佞草。奸臣弄民柄，天子恣衷抱。上下一相蒙，马鹿遂颠倒。中国既板荡，骨肉安可保。人生贵年寿，吾恨死不早。——唐代·古之奇《秦人谣》http://so.gushiwen.org/view_13290.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(13290)" id="btnShangxi13290"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(13290)" id="btnZhushi13290"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(13290)" id="btnYiwen13290" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_13290.aspx"><b>秦人谣</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%8f%a4%e4%b9%8b%e5%a5%87">古之奇</a></p>
<div class="contson" id="contson13290">
微生祖龙代，却思尧舜道。何人仕帝庭，拔杀指佞草。
<br />
奸臣弄民柄，天子恣衷抱。上下一相蒙，马鹿遂颠倒。
<br />
中国既板荡，骨肉安可保。人生贵年寿，吾恨死不早。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=13290&from=http://so.gushiwen.org/view.aspx?id=7062"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(13290)"><img id="copyimg13290" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('13290','http://m.gushiwen.org/view_13290.aspx')" onmouseout="outweixin(13290)"><img id="weixinimg13290" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood13290" href="javascript:goodNew('13290','http://so.gushiwen.org/view.aspx?id=7062',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy13290" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin13290" style="background-color:aqua;"></div>
<div id="toolPlay13290" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare796">神州阴祀，洪恩广济。草树沾和，飞沉沐惠。礼修鼎俎，奠歆瑶币。送乐有章，灵轩其逝。——唐代·佚名《郊庙歌辞。祭神州乐章。送神》http://so.gushiwen.org/view_796.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(796)" id="btnShangxi796"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(796)" id="btnZhushi796"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(796)" id="btnYiwen796" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_796.aspx"><b>郊庙歌辞。祭神州乐章。送神</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e4%bd%9a%e5%90%8d">佚名</a></p>
<div class="contson" id="contson796">
神州阴祀，洪恩广济。草树沾和，飞沉沐惠。
<br />
礼修鼎俎，奠歆瑶币。送乐有章，灵轩其逝。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=796&from=http://so.gushiwen.org/view.aspx?id=7062"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(796)"><img id="copyimg796" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('796','http://m.gushiwen.org/view_796.aspx')" onmouseout="outweixin(796)"><img id="weixinimg796" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood796" href="javascript:goodNew('796','http://so.gushiwen.org/view.aspx?id=7062',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy796" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin796" style="background-color:aqua;"></div>
<div id="toolPlay796" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare35307">清规暂趋府，独立与谁亲。遂性无非酒，求闲却爱贫。林泉应入梦，印绶莫留人。王事闻多暇，吟来几首新。——唐代·方干《与清溪赵明府》http://so.gushiwen.org/view_35307.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(35307)" id="btnShangxi35307"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(35307)" id="btnZhushi35307"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(35307)" id="btnYiwen35307" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_35307.aspx"><b>与清溪赵明府</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%96%b9%e5%b9%b2">方干</a></p>
<div class="contson" id="contson35307">
清规暂趋府，独立与谁亲。遂性无非酒，求闲却爱贫。
<br />
林泉应入梦，印绶莫留人。王事闻多暇，吟来几首新。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=35307&from=http://so.gushiwen.org/view.aspx?id=7062"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(35307)"><img id="copyimg35307" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('35307','http://m.gushiwen.org/view_35307.aspx')" onmouseout="outweixin(35307)"><img id="weixinimg35307" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood35307" href="javascript:goodNew('35307','http://so.gushiwen.org/view.aspx?id=7062',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy35307" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin35307" style="background-color:aqua;"></div>
<div id="toolPlay35307" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2922.aspx">漠漠秋云起，稍稍夜寒生。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2268.aspx">吴宫花草埋幽径，晋代衣冠成古丘。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
