
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
村居原文、翻译及赏析_张舜民古诗_古诗文网
</title>
<meta name="description" content="水绕陂田竹绕篱，榆钱落尽槿花稀。夕阳牛背无人卧，带得寒鸦两两归。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_70935.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_70935.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare70935">水绕陂田竹绕篱，榆钱落尽槿花稀。夕阳牛背无人卧，带得寒鸦两两归。——宋代·张舜民《村居》http://so.gushiwen.org/view_70935.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(70935)" id="btnShangxi70935"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(70935)" id="btnZhushi70935"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(70935)" id="btnYiwen70935" />
<script type="text/javascript">
                        document.getElementById("btnShangxi70935").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi70935").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen70935").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">村居</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/author_243.aspx">张舜民</a> </p>
<div class="contson" id="contson70935">
水绕陂田竹绕篱，榆钱落尽槿花稀。<br />夕阳牛背无人卧，带得寒鸦两两归。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=70935&from=http://so.gushiwen.org/view.aspx?id=70935"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(70935)"><img id="copyimg70935" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('70935','http://m.gushiwen.org/view_70935.aspx')" onmouseout="outweixin(70935)"><img id="weixinimg70935" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=70935"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=1763103637"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood70935" href="javascript:goodNew('70935','http://so.gushiwen.org/view.aspx?id=70935',172)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;172</span></a></div>
</div>
<div class="toolerweima" id="weixin70935" style="background-color:aqua;"></div>
<div id="toolPlay70935" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%8f%a4%e8%af%97%e4%b8%89%e7%99%be%e9%a6%96">古诗三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e4%b9%a1%e6%9d%91">乡村</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">译文<span style="display:none;">25353</span></h2>
　　村居的远处是流水潺潺，环绕着山坡的田地。住宅外的小园，青竹绕篱，绿水映陂，一派田园风光。槿花稀疏，一树榆钱早就随风而去了。暮色朦胧，老牛缓缓归来。牛背上并不是短笛横吹的牧牛郎，而是伫立的寒鸦。
</div>
<div class="dingpai">
<a id="ding25353" href="javascript:ding('25353','http://so.gushiwen.org/view.aspx?id=70935')">有用(289)</a><a id="pai25353" style=" margin-left:10px;" href="javascript:pai('25353','http://so.gushiwen.org/view.aspx?id=70935')">没用(148)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">译文及注释二<span style="display:none;">40033</span></h2>
<p><strong>译文<br /></strong>流水环绕着水田，篱笆外种满了绿竹；榆钱已经落尽，槿花也变得稀疏。<br />夕阳西下，牛背上没有牧童骑卧，只带着成对的乌鸦，漫步在回村的小路。</p>
<p><strong>注释<br /></strong>⑴陂田：水田。<br />⑵榆钱：即榆荚，形如钱，色白成串，故俗称榆钱。<br />⑶两两：成双成对。</p>
</div>
<div class="dingpai">
<a id="ding40033" href="javascript:ding('40033','http://so.gushiwen.org/view.aspx?id=70935')">有用(94)</a><a id="pai40033" style=" margin-left:10px;" href="javascript:pai('40033','http://so.gushiwen.org/view.aspx?id=70935')">没用(73)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">李梦生．宋诗三百首全解：复旦大学出版社，2007：82-83</span>
</div>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">2、</span>
<span style="width:610px; float:left;">黄瑞云．两宋诗三百首：中州古籍出版社，1997：65</span>
</div>
</div>
</div>
<div id="shangxi27339" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(27339)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析二</h2>
<p>　　这首诗写的是农村秋日黄昏的小景，前两句是具体描写村居，后两句是从村居以外来描写村居，意象非常丰富。农家的情况，见诸于诗的已经不计其数，很难写出新意来。这首诗采用远近交替的写法，重在对场景气象的渲染烘托，以大特写的手法，提供带有暗示性的画面，所以后来者居上，取得了很大的成功。</p>
<p>　　诗前两句采用当句对，以便于把很广泛的题材浓缩成集中的平面。诗说水田环绕的人家，篱笆外种满了竹子，院落里的榆树钱已经落尽，槿花也都稀疏了。写出晚秋季节里斜阳照耀着的农舍，水竹清华，落木萧萧的景色，充满了和平静穆的气氛。诗仅写了村居外围，而村居本身即可由此想象，成功地避开了熟见的茅檐、白门、蓬窗、
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(27339)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan27339" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析二</h2>
<p>　　这首<a href="http://so.gushiwen.org/view_70935.aspx">诗</a>写的是农村秋日黄昏的小景，前两句是具体描写村居，后两句是从村居以外来描写村居，意象非常丰富。农家的情况，见诸于诗的已经不计其数，很难写出新意来。这首诗采用远近交替的写法，重在对场景气象的渲染烘托，以大特写的手法，提供带有暗示性的画面，所以后来者居上，取得了很大的成功。</p>
<p>　　诗前两句采用当句对，以便于把很广泛的题材浓缩成集中的平面。诗说水田环绕的人家，篱笆外种满了竹子，院落里的榆树钱已经落尽，槿花也都稀疏了。写出晚秋季节里斜阳照耀着的农舍，水竹清华，落木萧萧的景色，充满了和平静穆的气氛。诗仅写了村居外围，而村居本身即可由此想象，成功地避开了熟见的茅檐、白门、蓬窗、桑圃等词，收到了很好的艺术效果。同样，诗没有写人，而通过环境，也可表现住在村居里的人的品藻趣味。</p>
<p>　　三、四句是传颂的名句。诗将薄暮景色作了高度浓缩。夕阳西下，照着原野，也照着上面所说的村居、水田，诗在这儿仅以“夕阳”二字，回照上文，增加前两句的形象。而在整个村野中，诗只捕捉住回村的老牛这一中心写，说牛背上没有牧童，牛儿在夕阳中不慌不忙地自己沿着归路，往村里走来；在牛背上，双双乌鸦伫立着，悠闲自在，仿佛是老牛正把它们带回村庄。整个画面没有一个人，虽然是写动，但节奏很缓慢，表现出大自然宁静和平的气氛，给人以恬淡温馨的享受，充分体现了作者的审美观。读着这诗，很自然地令人想到《诗经》所写的“日既夕矣，羊牛下来”那幅原始的自然美的风光来。</p>
<p>　　全诗虽然写的是一组小景，由于诗人本身是个画家，所以很具有画意。诗所选的景物，都有典型性，描绘了村居的特征及季节的特点，用的都是深色调，与夕阳暮霭相统一。在写作手法上，前两句直接写静，后两句是动中显静，在同一画面上配合得很和谐。牛背上站着乌鸦的情况，钱钟书《宋诗选注》指出同时人诗中也有，如苏迈诗“叶随流水归何处，牛带寒鸦过别村”，<a href="http://so.gushiwen.org/author_399.aspx">贺铸</a>诗“水牯负鸲鹆”。由于<a href="http://so.gushiwen.org/author_243.aspx">张舜民</a>把这一景象与整诗所表现的境界融成一片，所以更为成功。<a title="收起" href="javascript:shangxiClose(27339)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx27339" href="javascript:dingsx('27339','http://so.gushiwen.org/view.aspx?id=70935')">有用(40)</a><a id="paisx27339" style=" margin-left:10px;" href="javascript:paisx('27339','http://so.gushiwen.org/view.aspx?id=70935')">没用(36)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">缪钺 等．宋诗鉴赏辞典：上海辞书出版社，1987：300-301</span>
</div>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">2、</span>
<span style="width:610px; float:left;">李梦生．宋诗三百首全解：复旦大学出版社，2007：82-83</span>
</div>
</div>
</div>
<div id="shangxi1414" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(1414)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">鉴赏</h2>
<p> 　　《村居》是张舜民代表作之一。</p>
<p> 　　“水绕陂田竹绕篱”，选材如同电影镜头的转换，由远景转到近景。村居的远处是流水潺潺，环绕着山坡的田地。住宅外的小园，青竹绕篱，绿水映陂，一派田园风光。“榆钱落尽槿花稀”，槿花，又称木槿，夏秋之交开花，花冠为紫红色或白色。槿花稀疏，表明时已清秋，一树榆钱早就随风而去了。所以院落内尽管绿阴宜人，可惜盛时已过，残存的几朵木槿花，不免引起美人迟暮之感，清寂之意自在言外。</p>
<p> 　　“夕阳牛背无人卧，带得寒鸦两两归”。牛蹄声打破了沉寂，诗人把镜头又转换到小院外。夕阳西沉，暮色朦胧，老牛缓缓归来。这景象早在《诗经》中就被咏唱过：“日
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(1414)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan1414" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">鉴赏</h2>
<p> 　　《村居》是<a href="http://so.gushiwen.org/author_243.aspx">张舜民</a>代表作之一。</p>
<p> 　　“水绕陂田竹绕篱”，选材如同电影镜头的转换，由远景转到近景。村居的远处是流水潺潺，环绕着山坡的田地。住宅外的小园，青竹绕篱，绿水映陂，一派田园风光。“榆钱落尽槿花稀”，槿花，又称木槿，夏秋之交开花，花冠为紫红色或白色。槿花稀疏，表明时已清秋，一树榆钱早就随风而去了。所以院落内尽管绿阴宜人，可惜盛时已过，残存的几朵木槿花，不免引起美人迟暮之感，清寂之意自在言外。</p>
<p> 　　“夕阳牛背无人卧，带得寒鸦两两归”。牛蹄声打破了沉寂，<a href="http://so.gushiwen.org/view_70935.aspx">诗</a>人把镜头又转换到小院外。夕阳西沉，暮色朦胧，老牛缓缓归来。这景象早在《诗经》中就被咏唱过：“日之夕矣，牛羊下来”。（《王风·君子役》）然而诗人并不去重复前人诗意，而是捕捉到一个全新的艺术形象：老牛自行归来，牛背上并不是短笛横吹的牧牛郎，而是伫立的寒鸦。寒鸦易惊善飞，却在这宁静的气氛中悠闲自在，站立牛背，寒鸦之静附于牛之动，牛之动涵容了寒鸦之静，大小相映，动静相衬，构成新颖的画面。宋人诗力求生新，于此可见一斑。“无人卧”三字是不是赘笔呢？为什么不直说：“夕阳牛背寒鸦立？”这正是此诗韵味的所在。“无人卧”是顿笔，引起读者提出问题：那么到底有什么东西在牛背上呢？于是引出“带得寒鸦两两归”，形象宛然在一是融进了自己的感情色彩。<a title="收起" href="javascript:shangxiClose(1414)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx1414" href="javascript:dingsx('1414','http://so.gushiwen.org/view.aspx?id=70935')">有用(81)</a><a id="paisx1414" style=" margin-left:10px;" href="javascript:paisx('1414','http://so.gushiwen.org/view.aspx?id=70935')">没用(170)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor243">张舜民 生卒年不详，北宋文学家、画家。字芸叟，自号浮休居士，又号矴斋。邠州（今陕西彬县）人。诗人陈师道之姊夫。英宗治平二年(1065)进士，为襄乐令。元丰中，环庆帅高遵裕辟掌机密文字。元祐初做过监察御史。为人刚直敢言。徽宗时升任右谏议大夫,任职七天,言事达60章，不久以龙图阁待制知定州。后又改知同州。曾因元祐党争事，牵连治罪，被贬为楚州团练副使，商州安置。后又出任过集贤殿修撰。http://so.gushiwen.org/author_243.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_243.aspx"><img src="http://img.gushiwen.org/authorImg/zhangshunmin.jpg" width="105" height="150" alt="张舜民"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_243.aspx"><b>张舜民</b></a></p>
<p style=" margin:0px;">张舜民 生卒年不详，北宋文学家、画家。字芸叟，自号浮休居士，又号矴斋。邠州（今陕西彬县）人。诗人陈师道之姊夫。英宗治平二年(1065)进士，为襄乐令。元丰中，环庆帅高遵裕辟掌机密文字。元祐初做过监察御史。为人刚直敢言。徽宗时升任右谏议大夫,任职七天,言事达60章，不久以龙图阁待制知定州。后又改知同州。曾因元祐党争事，牵连治罪，被贬为楚州团练副使，商州安置。后又出任过集贤殿修撰。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=243&from=http://so.gushiwen.org/view.aspx?id=70935"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(243)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('243','http://m.gushiwen.org/author_243.aspx')" onmouseout="outweixinAuthor(243)"><img id="weixinAuthorImg243" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor243" href="javascript:goodAuthorNew('243','http://so.gushiwen.org/view.aspx?id=70935',13)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;13</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor243" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare71006">渡水复渡水，看花还看花。春风江上路，不觉到君家。——明代·高启《寻胡隐君》http://so.gushiwen.org/view_71006.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(71006)" id="btnShangxi71006"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(71006)" id="btnZhushi71006"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(71006)" id="btnYiwen71006" />
<script type="text/javascript">
                        document.getElementById("btnZhushi71006").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen71006").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_71006.aspx"><b>寻胡隐君</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e6%98%8e%e4%bb%a3">明代</a><span>：</span><a href="/search.aspx?value=%e9%ab%98%e5%90%af">高启</a></p>
<div class="contson" id="contson71006">
渡水复渡水，看花还看花。<br />春风江上路，不觉到君家。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=71006&from=http://so.gushiwen.org/view.aspx?id=70935"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(71006)"><img id="copyimg71006" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('71006','http://m.gushiwen.org/view_71006.aspx')" onmouseout="outweixin(71006)"><img id="weixinimg71006" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="javascript:Play(71006)"><img id="speakerimg71006" src="/img/speaker.png" / alt="" width="18" height="18"/></a></div>
<div class="good"><a id="agood71006" href="javascript:goodNew('71006','http://so.gushiwen.org/view.aspx?id=70935',75)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;75</span></a></div>
</div>
<div id="toolCopy71006" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin71006" style="background-color:aqua;"></div>
<div id="toolPlay71006" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%8f%a4%e8%af%97%e4%b8%89%e7%99%be%e9%a6%96">古诗三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e8%ae%bf%e5%8f%8b">访友</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%ba%aa%e8%a1%8c">纪行</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare70976">美人台上昔欢娱，今日空台望五湖。残雪未融青草死，苦无麋鹿过姑苏。黄帽传呼睡不成，投稿细细激流冰。分明旧泊江南岸，舟尾春风飐客灯。千门列炬散林鸦，儿女相思未到家。应是不眠非守岁，小客春意入灯花。三生定自陆天随，又向顺松作客归。已拚新年舟上过，倩人和雪洗片衣。沙尾风回一棹寒，椒花今夕不登盘。百年草草都寒夜，自琢春词剪烛看。笠泽茫茫雁影微，玉峰重叠护云衣。长桥寂寞春寒放，只有诗人一舸归。桑间篝火却定蚕，风土相传我未谙。但得明年少行役，只裁白伫作春衫。少小知名翰墨场，十年心事只凄凉。旧时曾作梅花赋，研墨于今亦自香。环玦随波冷未销，古苔留雪卧墙腰。谁家玉笛吹春怨，看见鹅黄上柳条。——宋代·姜夔《除放自石湖归苕溪》http://so.gushiwen.org/view_70976.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(70976)" id="btnShangxi70976"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(70976)" id="btnZhushi70976"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(70976)" id="btnYiwen70976" />
<script type="text/javascript">
                        document.getElementById("btnZhushi70976").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen70976").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_70976.aspx"><b>除放自石湖归苕溪</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%a7%9c%e5%a4%94">姜夔</a></p>
<div class="contson" id="contson70976">
美人台上昔欢娱，今日空台望五湖。残雪未融青草死，苦无麋鹿过姑苏。<br />黄帽传呼睡不成，投稿细细激流冰。分明旧泊江南岸，舟尾春风飐客灯。<br />千门列炬散林鸦，儿女相思未到家。应是不眠非守岁，小客春意入灯花。<br />三生定自陆天随，又向顺松作客归。已拚新年舟上过，倩人和雪洗片衣。<br />沙尾风回一棹寒，椒花今夕不登盘。百年草草都寒夜，自琢春词剪烛看。<br />笠泽茫茫雁影微，玉峰重叠护云衣。长桥寂寞春寒放，只有诗人一舸归。<br />桑间篝火却定蚕，风土相传我未谙。但得明年少行役，只裁白伫作春衫。<br />少小知名翰墨场，十年心事只凄凉。旧时曾作梅花赋，研墨于今亦自香。<br />环玦随波冷未销，古苔留雪卧墙腰。谁家玉笛吹春怨，看见鹅黄上柳条。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=70976&from=http://so.gushiwen.org/view.aspx?id=70935"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(70976)"><img id="copyimg70976" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('70976','http://m.gushiwen.org/view_70976.aspx')" onmouseout="outweixin(70976)"><img id="weixinimg70976" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood70976" href="javascript:goodNew('70976','http://so.gushiwen.org/view.aspx?id=70935',18)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;18</span></a></div>
</div>
<div id="toolCopy70976" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin70976" style="background-color:aqua;"></div>
<div id="toolPlay70976" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%8f%a4%e8%af%97%e4%b8%89%e7%99%be%e9%a6%96">古诗三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%80%e5%bf%b5">怀念</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%ad%a4%e7%8b%ac">孤独</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare69128">早岁那知世事艰，中原北望气如山。楼船夜雪瓜洲渡，铁马秋风大散关。塞上长城空自许，镜中衰鬓已先斑。出师一表真名世，千载谁堪伯仲间！——宋代·陆游《书愤五首·其一》http://so.gushiwen.org/view_69128.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(69128)" id="btnShangxi69128"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(69128)" id="btnZhushi69128"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(69128)" id="btnYiwen69128" />
<script type="text/javascript">
                        document.getElementById("btnShangxi69128").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi69128").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen69128").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_69128.aspx"><b>书愤五首·其一</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e9%99%86%e6%b8%b8">陆游</a></p>
<div class="contson" id="contson69128">
早岁那知世事艰，中原北望气如山。<br />楼船夜雪瓜洲渡，铁马秋风大散关。<br />塞上长城空自许，镜中衰鬓已先斑。<br />出师一表真名世，千载谁堪伯仲间！
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=69128&from=http://so.gushiwen.org/view.aspx?id=70935"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(69128)"><img id="copyimg69128" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('69128','http://m.gushiwen.org/view_69128.aspx')" onmouseout="outweixin(69128)"><img id="weixinimg69128" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood69128" href="javascript:goodNew('69128','http://so.gushiwen.org/view.aspx?id=70935',1117)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1117</span></a></div>
</div>
<div id="toolCopy69128" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin69128" style="background-color:aqua;"></div>
<div id="toolPlay69128" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%8f%a4%e8%af%97%e4%b8%89%e7%99%be%e9%a6%96">古诗三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%88%b1%e5%9b%bd">爱国</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%bf%86%e6%97%a7">忆旧</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2171.aspx">提笼忘采叶，昨夜梦渔阳。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2002.aspx">谁念文园病客？夜色沉沉，独抱一天岑寂。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
