
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
舟夜书所见原文、翻译及赏析_查慎行古诗_古诗文网
</title>
<meta name="description" content="月黑见渔灯，孤光一点萤。微微风簇浪，散作满河星。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_71027.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_71027.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare71027">月黑见渔灯，孤光一点萤。微微风簇浪，散作满河星。——清代·查慎行《舟夜书所见》http://so.gushiwen.org/view_71027.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(71027)" id="btnShangxi71027"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(71027)" id="btnZhushi71027"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(71027)" id="btnYiwen71027" />
<script type="text/javascript">
                        document.getElementById("btnShangxi71027").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi71027").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen71027").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">舟夜书所见</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e6%b8%85%e4%bb%a3">清代</a><span>：</span><a href="/author_556.aspx">查慎行</a> </p>
<div class="contson" id="contson71027">
月黑见渔灯，孤光一点萤。<br />微微风簇浪，散作满河星。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=71027&from=http://so.gushiwen.org/view.aspx?id=71027"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(71027)"><img id="copyimg71027" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('71027','http://m.gushiwen.org/view_71027.aspx')" onmouseout="outweixin(71027)"><img id="weixinimg71027" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=71027"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=1153742517"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood71027" href="javascript:goodNew('71027','http://so.gushiwen.org/view.aspx?id=71027',461)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;461</span></a></div>
</div>
<div class="toolerweima" id="weixin71027" style="background-color:aqua;"></div>
<div id="toolPlay71027" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%8f%a4%e8%af%97%e4%b8%89%e7%99%be%e9%a6%96">古诗三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">译文及注释<span style="display:none;">1185</span></h2>
<p><strong>译文</strong><br />漆黑之夜不见月亮，只见那渔船上的灯光，孤独的灯光在茫茫的夜色中，象萤火虫一样发出一点微亮。<br />微风阵阵，河水泛起层层波浪，渔灯微光在水面上散开，河面好象撤落无数的星星。</p>
<p><strong>注释</strong><br />①孤光：孤零零的灯光。<br />②簇：拥起。</p>
</div>
<div class="dingpai">
<a id="ding1185" href="javascript:ding('1185','http://so.gushiwen.org/view.aspx?id=71027')">有用(637)</a><a id="pai1185" style=" margin-left:10px;" href="javascript:pai('1185','http://so.gushiwen.org/view.aspx?id=71027')">没用(238)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">田国钰等编著．中学生古诗文助读：东北师范大学出版社，1987.12：第47页</span>
</div>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">2、</span>
<span style="width:610px; float:left;">薛瑞萍，徐冬梅，邱凤莲丛书主编；邱凤莲本册主编．亲近母语 日有所诵 小学三年级 第3版：长春出版社，2011.06：第75页</span>
</div>
</div>
</div>
<div id="shangxi1587" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(1587)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　这首诗好似一幅速写，作者抓住了那倒映在水中的渔火化作满天星星的片刻，几笔勾勒，立即捕捉住了这转瞬即逝的景物。这首诗又好似一幅木刻，在漆黑的背景之上，亮出一点渔火，黑白对比，反差特别鲜明。</p>
<p>　　前两句是静态描写，把暗色和亮色联系在一起，显得形象鲜明。</p>
<p>　　第一句“月黑见渔灯”，“月黑”两字很有特色。这是一个有月亮的夜晚，月亮却没有光，人们见到的只是月亮的轮廓和黑影。“见渔灯”的这个“见”，是不见中的“见”，写的是视像，有突然发现的意思。因为月黑无光，河面也黑沉沉的，突然见到河中的一盏渔灯，格外引人注目。</p>
<p>　　第二句“孤光一点萤”，写如豆灯
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(1587)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan1587" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　这首<a href="http://so.gushiwen.org/view_71027.aspx">诗</a>好似一幅速写，作者抓住了那倒映在水中的渔火化作满天星星的片刻，几笔勾勒，立即捕捉住了这转瞬即逝的景物。这首诗又好似一幅木刻，在漆黑的背景之上，亮出一点渔火，黑白对比，反差特别鲜明。</p>
<p>　　前两句是静态描写，把暗色和亮色联系在一起，显得形象鲜明。</p>
<p>　　第一句“月黑见渔灯”，“月黑”两字很有特色。这是一个有月亮的夜晚，月亮却没有光，人们见到的只是月亮的轮廓和黑影。“见渔灯”的这个“见”，是不见中的“见”，写的是视像，有突然发现的意思。因为月黑无光，河面也黑沉沉的，突然见到河中的一盏渔灯，格外引人注目。</p>
<p>　　第二句“孤光一点萤”，写如豆灯光像江岸边一点萤火，是意中之象，描写渔灯的形象。河面幽黑，只有孤零零的一点灯光闪烁着，仿佛是一只萤火虫在原野里发出微弱的光。“孤”表现了环境的寂寞、单调，寄寓着一定的感情色彩。一种茫然无奈的情感袭上诗人的心头。</p>
<p>　　后两句为动态描写。不难想象，当诗人见到微风腾起细浪，灯影由一点散作千万这动人一幕的时候，心情是何等地兴奋。</p>
<p>　　第三句“微微风簇浪”抛开了灯光，一转而写夜风。微风从河面阵阵吹来，河水哗哗作响，轻轻的掀起浪花。这句写听觉为下句张目。“微微”二字又体现了风是如此的小，“簇”说明了就算是微风也能掀起一簇簇的浪花。渲染了一种宁静舒适的气氛。</p>
<p>　　第四句“散作满河星”犹如天外奇峰，劈空而来。那如萤的孤光，刹那间似乎变成万船灯火，点缀河中，又如风吹云散，满天明星，倒映水中，使这静谧的黑夜，单调的河面出现了意想不到的壮观。风吹浪起，簇起的每朵浪花，都把那如萤般的灯光摄进水中，有多少浪花，就有多少灯光。同时此句的描写为诗词增添了画面感，使枯燥无趣的文字能幻化出美丽浪漫带有一丝丝的安逸宁静的景象，使诗人流连其中。<a title="收起" href="javascript:shangxiClose(1587)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx1587" href="javascript:dingsx('1587','http://so.gushiwen.org/view.aspx?id=71027')">有用(175)</a><a id="paisx1587" style=" margin-left:10px;" href="javascript:paisx('1587','http://so.gushiwen.org/view.aspx?id=71027')">没用(106)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">郁贤皓主编．中学古诗文鉴赏辞典：江苏古籍出版社，1988.07：第101页</span>
</div>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">2、</span>
<span style="width:610px; float:left;">徐元主编．新编中小学古诗助读：浙江大学出版社，2011.02：第434页</span>
</div>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">3、</span>
<span style="width:610px; float:left;">周啸天主编．元明清诗歌鉴赏辞典：商务印书馆国际有限公司，2011.06：第1173页</span>
</div>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">4、</span>
<span style="width:610px; float:left;">魏耕原著．古诗精华赏析：陕西人民教育出版社，1990.10：第290页</span>
</div>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">创作背景<span style="display:none;">22770</span></h2>
<p>　　这首五言绝句是<a href="http://so.gushiwen.org/view_71027.aspx">诗</a>人在船上过夜时，写下的所见到的景物，所以题目叫做“舟夜书所见”。</p>
</div>
<div class="dingpai">
<a id="dingsx22770" href="javascript:dingsx('22770','http://so.gushiwen.org/view.aspx?id=71027')">有用(124)</a><a id="paisx22770" style=" margin-left:10px;" href="javascript:paisx('22770','http://so.gushiwen.org/view.aspx?id=71027')">没用(65)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">李作芳，段宗平主编．经典诵读读本：湖北科学技术出版社，2011.02：第54页</span>
</div>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor556">查慎行（1650～1727） 清代诗人，当代著名作家金庸先祖。初名嗣琏，字夏重，号查田；后改名慎行，字悔余，号他山，赐号烟波钓徒，晚年居于初白庵，所以又称查初白。海宁袁花（今属浙江）人。康熙四十二年(1703)进士；特授翰林院编修，入直内廷。五十二年（1713），乞休归里，家居10余年。雍正四年（1726），因弟查嗣庭讪谤案，以家长失教获罪，被逮入京，次年放归，不久去世。查慎行诗学东坡、放翁，尝注苏诗。自朱彝尊去世后，为东南诗坛领袖。著有《他山诗钞》。http://so.gushiwen.org/author_556.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_556.aspx"><img src="http://img.gushiwen.org/authorImg/chashenxing.jpg" width="105" height="150" alt="查慎行"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_556.aspx"><b>查慎行</b></a></p>
<p style=" margin:0px;">查慎行（1650～1727） 清代诗人，当代著名作家金庸先祖。初名嗣琏，字夏重，号查田；后改名慎行，字悔余，号他山，赐号烟波钓徒，晚年居于初白庵，所以又称查初白。海宁袁花（今属浙江）人。康熙四十二年(1703)进士；特授翰林院编修，入直内廷。五十二年（1713），乞休归里，家居10余年。雍正四年（1726），因弟查嗣庭讪谤案，以家长失教获罪，被逮入京，次年放归，不久去世。查慎行诗学东坡、放翁，尝注苏诗。自朱彝尊去世后，为东南诗坛领袖。著有《他山诗钞》。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=556&from=http://so.gushiwen.org/view.aspx?id=71027"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(556)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('556','http://m.gushiwen.org/author_556.aspx')" onmouseout="outweixinAuthor(556)"><img id="weixinAuthorImg556" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor556" href="javascript:goodAuthorNew('556','http://so.gushiwen.org/view.aspx?id=71027',38)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;38</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor556" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare70914">上马不捉鞭，反折杨柳枝。蹀座吹长笛，愁杀行客儿。腹中愁不乐，愿作郎马鞭。出入擐郎臂，蹀座郎膝边。放马两泉泽，忘不著连羁。担鞍逐马走，何见得马骑。遥看孟津河，杨柳郁婆娑。我是虏家儿，不解汉儿歌。健儿须快马，快马须健儿。跸跋黄尘下，然后别雄雌。——南北朝·佚名《折杨柳歌辞五首》http://so.gushiwen.org/view_70914.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(70914)" id="btnShangxi70914"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(70914)" id="btnZhushi70914"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(70914)" id="btnYiwen70914" />
<script type="text/javascript">
                        document.getElementById("btnShangxi70914").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi70914").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_70914.aspx"><b>折杨柳歌辞五首</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%8d%97%e5%8c%97%e6%9c%9d">南北朝</a><span>：</span><a href="/search.aspx?value=%e4%bd%9a%e5%90%8d">佚名</a></p>
<div class="contson" id="contson70914">
<p>上马不捉鞭，反折杨柳枝。<br />蹀座吹长笛，愁杀行客儿。</p>
<p>腹中愁不乐，愿作郎马鞭。<br />出入擐郎臂，蹀座郎膝边。</p>
<p>放马两泉泽，忘不著连羁。<br />担鞍逐马走，何见得马骑。</p>
<p>遥看孟津河，杨柳郁婆娑。<br />我是虏家儿，不解汉儿歌。</p>
<p>健儿须快马，快马须健儿。<br />跸跋黄尘下，然后别雄雌。 </p>
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=70914&from=http://so.gushiwen.org/view.aspx?id=71027"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(70914)"><img id="copyimg70914" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('70914','http://m.gushiwen.org/view_70914.aspx')" onmouseout="outweixin(70914)"><img id="weixinimg70914" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood70914" href="javascript:goodNew('70914','http://so.gushiwen.org/view.aspx?id=71027',15)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;15</span></a></div>
</div>
<div id="toolCopy70914" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin70914" style="background-color:aqua;"></div>
<div id="toolPlay70914" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%8f%a4%e8%af%97%e4%b8%89%e7%99%be%e9%a6%96">古诗三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e4%b9%90%e5%ba%9c">乐府</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%a6%bb%e5%88%ab">离别</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%bb%84%e8%af%97">组诗</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare47873">迢迢牵牛星，皎皎河汉女。纤纤擢素手，札札弄机杼。终日不成章，泣涕零如雨。河汉清且浅，相去复几许！盈盈一水间，脉脉不得语。——两汉·佚名《迢迢牵牛星》http://so.gushiwen.org/view_47873.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(47873)" id="btnShangxi47873"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(47873)" id="btnZhushi47873"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(47873)" id="btnYiwen47873" />
<script type="text/javascript">
                        document.getElementById("btnShangxi47873").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi47873").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen47873").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_47873.aspx"><b>迢迢牵牛星</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e4%b8%a4%e6%b1%89">两汉</a><span>：</span><a href="/search.aspx?value=%e4%bd%9a%e5%90%8d">佚名</a></p>
<div class="contson" id="contson47873">
迢迢牵牛星，皎皎河汉女。<br />纤纤擢素手，札札弄机杼。<br />终日不成章，泣涕零如雨。<br />河汉清且浅，相去复几许！<br />盈盈一水间，脉脉不得语。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=47873&from=http://so.gushiwen.org/view.aspx?id=71027"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(47873)"><img id="copyimg47873" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('47873','http://m.gushiwen.org/view_47873.aspx')" onmouseout="outweixin(47873)"><img id="weixinimg47873" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood47873" href="javascript:goodNew('47873','http://so.gushiwen.org/view.aspx?id=71027',1764)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1764</span></a></div>
</div>
<div id="toolCopy47873" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin47873" style="background-color:aqua;"></div>
<div id="toolPlay47873" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%8f%a4%e8%af%97%e4%b8%89%e7%99%be%e9%a6%96">古诗三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%8f%a4%e8%af%97%e5%8d%81%e4%b9%9d%e9%a6%96">古诗十九首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e4%b8%83%e5%a4%95%e8%8a%82">七夕节</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%a6%bb%e5%88%ab">离别</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare69221">寂历秋江渔火稀，起看残月映林微。波光水鸟惊犹宿，露冷流萤湿不飞。——明代·汤显祖《江宿》http://so.gushiwen.org/view_69221.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(69221)" id="btnShangxi69221"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(69221)" id="btnZhushi69221"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(69221)" id="btnYiwen69221" />
<script type="text/javascript">
                        document.getElementById("btnShangxi69221").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi69221").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen69221").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_69221.aspx"><b>江宿</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e6%98%8e%e4%bb%a3">明代</a><span>：</span><a href="/search.aspx?value=%e6%b1%a4%e6%98%be%e7%a5%96">汤显祖</a></p>
<div class="contson" id="contson69221">
寂历秋江渔火稀，起看残月映林微。<br />波光水鸟惊犹宿，露冷流萤湿不飞。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=69221&from=http://so.gushiwen.org/view.aspx?id=71027"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(69221)"><img id="copyimg69221" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('69221','http://m.gushiwen.org/view_69221.aspx')" onmouseout="outweixin(69221)"><img id="weixinimg69221" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood69221" href="javascript:goodNew('69221','http://so.gushiwen.org/view.aspx?id=71027',45)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;45</span></a></div>
</div>
<div id="toolCopy69221" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin69221" style="background-color:aqua;"></div>
<div id="toolPlay69221" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%8f%a4%e8%af%97%e4%b8%89%e7%99%be%e9%a6%96">古诗三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%9c%88%e5%a4%9c">月夜</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1101.aspx">若为化得身千亿，散上峰头望故乡。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2324.aspx">断崖苍藓对立久，冻雨为洗前朝悲。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
