
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
女冠子·昨夜夜半原文、翻译及赏析_韦庄_古诗文网
</title>
<meta name="description" content="昨夜夜半，枕上分明梦见。语多时。依旧桃花面，频低柳叶眉。半羞还半喜，欲去又依依。觉来知是梦，不胜悲。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_71061.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_71061.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare71061">昨夜夜半，枕上分明梦见。语多时。依旧桃花面，频低柳叶眉。半羞还半喜，欲去又依依。觉来知是梦，不胜悲。——唐代·韦庄《女冠子·昨夜夜半》http://so.gushiwen.org/view_71061.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(71061)" id="btnShangxi71061"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(71061)" id="btnZhushi71061"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(71061)" id="btnYiwen71061" />
<script type="text/javascript">
                        document.getElementById("btnShangxi71061").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi71061").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen71061").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">女冠子·昨夜夜半</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_622.aspx">韦庄</a> </p>
<div class="contson" id="contson71061">
昨夜夜半，枕上分明梦见。语多时。依旧桃花面，频低柳叶眉。<br />半羞还半喜，欲去又依依。觉来知是梦，不胜悲。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=71061&from=http://so.gushiwen.org/view.aspx?id=71061"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(71061)"><img id="copyimg71061" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('71061','http://m.gushiwen.org/view_71061.aspx')" onmouseout="outweixin(71061)"><img id="weixinimg71061" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=71061"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=6655437651"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood71061" href="javascript:goodNew('71061','http://so.gushiwen.org/view.aspx?id=71061',82)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;82</span></a></div>
</div>
<div class="toolerweima" id="weixin71061" style="background-color:aqua;"></div>
<div id="toolPlay71061" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e4%b8%89%e7%99%be%e9%a6%96">宋词三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%a9%89%e7%ba%a6">婉约</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%88%b1%e6%83%85">爱情</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%a6%bb%e5%88%ab">离别</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%9b%b8%e6%80%9d">相思</a>
</div>
</div>
<div id="fanyi24970" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="fanyiShow(24970)"></div>
<h2 style="margin-bottom:10px;font-weight:bold; font-size:16px;">译文及注释</h2>
<p>译文<br />昨天深夜里，你在我的梦里翩然出现了。我们说了好多好多的话，发现你依旧还是那么美丽、可爱，像从前一样面若桃花，频频低垂的眼睑，弯弯的柳叶眉。<br />看上去好像又有些羞涩，又有些欢喜。该走时却又频频回首，依依不舍。只到醒来才知道是大梦一场，身边依然空空，自己依然是形单影只的一个人，心中不觉涌起难忍的悲哀。</p>
<p>注释<br />⑴女冠子：词牌名。<br />⑵桃花面：据孟棨《本事诗·情感》载：唐诗人崔护尝于清明独游长安城南，见一庄居，有女子独倚小桃柯伫立，而意殊厚。来岁清明，崔又往寻之，刚门扃无人，因题诗于左扉曰：“去年今日此门中，人面桃花相映红。人面不知何处去
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:fanyiShow(24970)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="fanyiquan24970" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">译文及注释</h2>
<p><strong>译文<br /></strong>昨天深夜里，你在我的梦里翩然出现了。我们说了好多好多的话，发现你依旧还是那么美丽、可爱，像从前一样面若桃花，频频低垂的眼睑，弯弯的柳叶眉。<br />看上去好像又有些羞涩，又有些欢喜。该走时却又频频回首，依依不舍。只到醒来才知道是大梦一场，身边依然空空，自己依然是形单影只的一个人，心中不觉涌起难忍的悲哀。</p>
<p><strong>注释</strong><br />⑴女冠子：词牌名。<br />⑵桃花面：据孟棨《本事<a href="http://so.gushiwen.org/view_71061.aspx">诗</a>·情感》载：唐诗人<a href="http://so.gushiwen.org/author_74.aspx">崔护</a>尝于清明独游长安城南，见一庄居，有女子独倚小桃柯伫立，而意殊厚。来岁清明，崔又往寻之，刚门扃无人，因题诗于左扉曰：“去年今日此门中，人面桃花相映红。人面不知何处去，桃花依旧笑春风。”后遂以“桃花面”来表示所思念的美女。<br />⑶柳叶眉：如柳叶之细眉，这里以“眉”借代为“面”，亦是“低面”的意思。<br />⑷依依：恋恋不舍的样子。<br />⑸胜：尽。<a title="收起" href="javascript:fanyiClose(24970)">▲</a></p>
</div>
<div class="dingpai">
<a id="ding24970" href="javascript:ding('24970','http://so.gushiwen.org/view.aspx?id=71061')">有用(19)</a><a id="pai24970" style=" margin-left:10px;" href="javascript:pai('24970','http://so.gushiwen.org/view.aspx?id=71061')">没用(8)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">拙风文化网.http://www.wenhuacn.com/wenxue/gudian_shici/04suitang/huajianji/03.htm</span>
</div>
</div>
</div>
<div id="shangxi15969" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(15969)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　这首《女冠子》，写男子对女子的相思而成梦，梦后而悲的情况。恋人在梦中相见，他俩把臂欷歔，说不尽的离愁别苦。“语多时”，明写千言万语，暗扣山高水长。“依旧桃花面”，特别是“频低柳叶眉”“欲去又依依”的神态音容，宛在眼前。然而，夜长梦短，梦醒之后，更令人不胜伤悲。此词不似多数花间词之浓艳，而是在清淡中意味深远，耐得咀嚼。所谓“意婉词直”，“似直而纤”，别具风味。</p>
<p>　　词的上下片一般都自成段落，如上片写相别，下片写相思。这首词在结构上却较别致，打破了词的上下片界限，没有过片痕迹，一气呵成。它的前七句写梦中之欢，后两句写梦后之悲。</p>
<p>　　这首词的梦境是清晰实在，
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(15969)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan15969" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　这首《女冠子》，写男子对女子的相思而成梦，梦后而悲的情况。恋人在梦中相见，他俩把臂欷歔，说不尽的离愁别苦。“语多时”，明写千言万语，暗扣山高水长。“依旧桃花面”，特别是“频低柳叶眉”“欲去又依依”的神态音容，宛在眼前。然而，夜长梦短，梦醒之后，更令人不胜伤悲。此词不似多数花间词之浓艳，而是在清淡中意味深远，耐得咀嚼。所谓“意婉词直”，“似直而纤”，别具风味。</p>
<p>　　词的上下片一般都自成段落，如上片写相别，下片写相思。这首词在结构上却较别致，打破了词的上下片界限，没有过片痕迹，一气呵成。它的前七句写梦中之欢，后两句写梦后之悲。</p>
<p>　　这首词的梦境是清晰实在，温馨甜蜜的，不像另一首《女冠子·四月十七》“空有梦相随”那样迷惘惆怅。头一句点明入梦的时间是“昨夜夜半”。梦境一般虚无缥缈，此梦却很“分明”。“分明”虽贯穿于梦中，其源却使人想到来自实境。正由于主人公日思夜想，意中人才会音容常新，活在脑海了，出现在梦中。可见他也是一位与少女同样痴情的有情郎。这两句交代入梦，仅仅来开帷幕，已露出明朗的色调。</p>
<p>　　这是一个旖旎的梦，从绵绵情话开始，到依依惜别为止，恩爱缠绵，充满柔情蜜意。梦中那位少女形象，尤其显得楚楚动人。“语多时”，明写千言万语相思话，暗扣山高水长阔别久。“桃花面”“柳叶眉”是旧时对妇女容貌的形容。那位少女习惯于低面敛眉，在《女冠子·四月十七》的现实中和此首的梦境中是一致的。《女冠子·四月十七》中“忍泪”十个字重在刻画情态，此首的“依旧”十个字重在反映容貌，两者互为补充，使少女形象形神俱备。“依旧桃花面”与《女冠子·四月十七》中的“去年今日”的艺术构思脱胎于<a href="http://so.gushiwen.org/author_74.aspx">崔护</a>的《题都城南庄》。事实上这两位男女主角除了在梦里相会外，恐怕也很难再在现实中重续旧梦了，不然不会在梦醒之后觉得“不胜悲”的。“半羞半喜”，少女的娇羞情态如绘。“欲去依依”，看来单写少女，其实也包括男主人公。两人难分难解，极希望留住这美好的时光。整个梦境写得一往情深。</p>
<p>　　“觉来知是梦，不胜悲。”正当两情缱绻之际，梦醒了，跌回到严酷的现实中，依旧是形单影只，孤栖独宿。一个“知”字品出万般凄凉况味，原来当时并不知是在梦中！梦境作如是观，而从前他俩花前月下的美境也未尝不可作如是观。这个“知”字大有顿悟之感，所以不免悲从中来，感慨万千。煞尾两句浓重的悲与前七句甜美的乐形成鲜明的对照，有强烈的艺术感染力。</p>
<p>　　全词脉络分明，层次清楚，深衷浅貌，语短情长。《历代词人考略》称赞<a href="http://so.gushiwen.org/author_622.aspx">韦庄</a>词：“能运密入疏，寓浓于淡。”《介存斋论词杂著》说：“端己词清艳绝伦。”从这首《女冠子》词中，就足见韦庄词清淡疏朗、清艳劲直的特征。<a title="收起" href="javascript:shangxiClose(15969)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx15969" href="javascript:dingsx('15969','http://so.gushiwen.org/view.aspx?id=71061')">有用(12)</a><a id="paisx15969" style=" margin-left:10px;" href="javascript:paisx('15969','http://so.gushiwen.org/view.aspx?id=71061')">没用(4)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">曹光甫 等 ．唐宋词鉴赏辞典（唐·五代·北宋） ．上海 ：上海辞书出版社 ，1988 ：186-188 ．</span>
</div>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">创作背景<span style="display:none;">1646</span></h2>
　　关于《女冠子》二首词的本事背景，学术界意见有很多分歧。杨湜《古今词话》说：“（韦）庄有宠人，资质艳丽，兼善词翰，（王）建闻之，托以教内人为辞，强夺之。庄追念悒怏，作《荷叶杯》《小重山》词。”（见《花草粹编》卷三引）因而有人《女冠子》二首也是“思姬”之作，如吴世昌认为是“忆故姬之作”（《词林新话》），华钟彦认为是“为怀念宠姬而作”（《花间集注》）。但有人认为“思姬”的说法证据还不够充分。
</div>
<div class="dingpai">
<a id="dingsx1646" href="javascript:dingsx('1646','http://so.gushiwen.org/view.aspx?id=71061')">有用(13)</a><a id="paisx1646" style=" margin-left:10px;" href="javascript:paisx('1646','http://so.gushiwen.org/view.aspx?id=71061')">没用(7)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">曹光甫 等 ．唐宋词鉴赏辞典（唐·五代·北宋） ．上海 ：上海辞书出版社 ，1988 ：186-188 ．</span>
</div>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor622">韦庄（约836年─910年），字端己，杜陵（今中国陕西省西安市附近）人，诗人韦应物的四代孙，唐朝花间派词人，词风清丽，有《浣花词》流传。曾任前蜀宰相，谥文靖。http://so.gushiwen.org/author_622.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_622.aspx"><img src="http://img.gushiwen.org/authorImg/weizhuang.jpg" width="105" height="150" alt="韦庄"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_622.aspx"><b>韦庄</b></a></p>
<p style=" margin:0px;">韦庄（约836年─910年），字端己，杜陵（今中国陕西省西安市附近）人，诗人韦应物的四代孙，唐朝花间派词人，词风清丽，有《浣花词》流传。曾任前蜀宰相，谥文靖。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=622&from=http://so.gushiwen.org/view.aspx?id=71061"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(622)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('622','http://m.gushiwen.org/author_622.aspx')" onmouseout="outweixinAuthor(622)"><img id="weixinAuthorImg622" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor622" href="javascript:goodAuthorNew('622','http://so.gushiwen.org/view.aspx?id=71061',559)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;559</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor622" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare58248">独自上层楼，楼外青山远。望以斜阳欲尽时，不见西飞雁。 独自下层楼，楼下蛩声怨。待到黄昏月上时，依旧柔肠断。——宋代·程垓《卜算子·独自上层楼》http://so.gushiwen.org/view_58248.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(58248)" id="btnShangxi58248"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(58248)" id="btnZhushi58248"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(58248)" id="btnYiwen58248" />
<script type="text/javascript">
                        document.getElementById("btnShangxi58248").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi58248").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen58248").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_58248.aspx"><b>卜算子·独自上层楼</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e7%a8%8b%e5%9e%93">程垓</a></p>
<div class="contson" id="contson58248">
独自上层楼，楼外青山远。望以斜阳欲尽时，不见西飞雁。 <br />独自下层楼，楼下蛩声怨。待到黄昏月上时，依旧柔肠断。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=58248&from=http://so.gushiwen.org/view.aspx?id=71061"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(58248)"><img id="copyimg58248" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('58248','http://m.gushiwen.org/view_58248.aspx')" onmouseout="outweixin(58248)"><img id="weixinimg58248" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood58248" href="javascript:goodNew('58248','http://so.gushiwen.org/view.aspx?id=71061',63)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;63</span></a></div>
</div>
<div id="toolCopy58248" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin58248" style="background-color:aqua;"></div>
<div id="toolPlay58248" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e4%b8%89%e7%99%be%e9%a6%96">宋词三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%a9%89%e7%ba%a6">婉约</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%99%bb%e9%ab%98">登高</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%9c%9b%e8%bf%9c">望远</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%80%e5%bf%b5">怀念</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare58029">何处望神州？满眼风光北固楼。千古兴亡多少事？悠悠。不尽长江滚滚流。年少万兜鍪，坐断东南战未休。天下英雄谁敌手？曹刘。生子当如孙仲谋。——宋代·辛弃疾《南乡子·登京口北固亭有怀》http://so.gushiwen.org/view_58029.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(58029)" id="btnShangxi58029"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(58029)" id="btnZhushi58029"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(58029)" id="btnYiwen58029" />
<script type="text/javascript">
                        document.getElementById("btnShangxi58029").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi58029").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen58029").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_58029.aspx"><b>南乡子·登京口北固亭有怀</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%be%9b%e5%bc%83%e7%96%be">辛弃疾</a></p>
<div class="contson" id="contson58029">
何处望神州？满眼风光北固楼。千古兴亡多少事？悠悠。不尽长江滚滚流。<br />年少万兜鍪，坐断东南战未休。天下英雄谁敌手？曹刘。生子当如孙仲谋。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=58029&from=http://so.gushiwen.org/view.aspx?id=71061"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(58029)"><img id="copyimg58029" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('58029','http://m.gushiwen.org/view_58029.aspx')" onmouseout="outweixin(58029)"><img id="weixinimg58029" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood58029" href="javascript:goodNew('58029','http://so.gushiwen.org/view.aspx?id=71061',4734)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;4734</span></a></div>
</div>
<div id="toolCopy58029" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin58029" style="background-color:aqua;"></div>
<div id="toolPlay58029" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e4%b8%89%e7%99%be%e9%a6%96">宋词三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%88%9d%e4%b8%ad%e5%8f%a4%e8%af%97">初中古诗</a>
<span>，</span><a href="/type.aspx?p=1&t=%e8%b1%aa%e6%94%be">豪放</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%92%8f%e5%8f%b2%e6%80%80%e5%8f%a4">咏史怀古</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%88%b1%e5%9b%bd">爱国</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%85%b8%e6%95%85">典故</a>
<span>，</span><a href="/type.aspx?p=1&t=%e8%ae%bd%e5%88%ba">讽刺</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare50679">紫府东风放夜时。步莲秾李伴人归。五更钟动笙歌散，十里月明灯火稀。 香苒苒，梦依依。天涯寒尽减春衣。凤凰城阙知何处，寥落星河一雁飞。——宋代·贺铸《思越人·紫府东风放夜时》http://so.gushiwen.org/view_50679.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(50679)" id="btnShangxi50679"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(50679)" id="btnZhushi50679"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(50679)" id="btnYiwen50679" />
<script type="text/javascript">
                        document.getElementById("btnShangxi50679").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi50679").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen50679").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_50679.aspx"><b>思越人·紫府东风放夜时</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%b4%ba%e9%93%b8">贺铸</a></p>
<div class="contson" id="contson50679">
紫府东风放夜时。步莲秾李伴人归。五更钟动笙歌散，十里月明灯火稀。 <br />香苒苒，梦依依。天涯寒尽减春衣。凤凰城阙知何处，寥落星河一雁飞。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=50679&from=http://so.gushiwen.org/view.aspx?id=71061"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(50679)"><img id="copyimg50679" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('50679','http://m.gushiwen.org/view_50679.aspx')" onmouseout="outweixin(50679)"><img id="weixinimg50679" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood50679" href="javascript:goodNew('50679','http://so.gushiwen.org/view.aspx?id=71061',34)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;34</span></a></div>
</div>
<div id="toolCopy50679" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin50679" style="background-color:aqua;"></div>
<div id="toolPlay50679" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e4%b8%89%e7%99%be%e9%a6%96">宋词三百首</a>
<span>，</span><a href="/type.aspx?p=1&t=%e8%ae%b0%e6%a2%a6">记梦</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%85%83%e5%ae%b5%e8%8a%82">元宵节</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%8a%92%e6%80%80">抒怀</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_649.aspx">忽忆故人天际去，计程今日到梁州。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4906.aspx">军合力不齐，踌躇而雁行。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
