
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
清江引·秋怀原文、翻译及赏析_张可久_古诗文网
</title>
<meta name="description" content="西风信来家万里，问我归期未？雁啼红叶天，人醉黄花地，芭蕉雨声秋梦里。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_71428.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_71428.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare71428">西风信来家万里，问我归期未？雁啼红叶天，人醉黄花地，芭蕉雨声秋梦里。——元代·张可久《清江引·秋怀》http://so.gushiwen.org/view_71428.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(71428)" id="btnShangxi71428"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(71428)" id="btnZhushi71428"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(71428)" id="btnYiwen71428" />
<script type="text/javascript">
                        document.getElementById("btnShangxi71428").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi71428").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen71428").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">清江引·秋怀</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%85%83%e4%bb%a3">元代</a><span>：</span><a href="/author_394.aspx">张可久</a> </p>
<div class="contson" id="contson71428">
<p>西风信来家万里，问我归期未？<br />雁啼红叶天，人醉黄花地，芭蕉雨声秋梦里。</p>
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=71428&from=http://so.gushiwen.org/view.aspx?id=71428"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(71428)"><img id="copyimg71428" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('71428','http://m.gushiwen.org/view_71428.aspx')" onmouseout="outweixin(71428)"><img id="weixinimg71428" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=71428"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=7695101403"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood71428" href="javascript:goodNew('71428','http://so.gushiwen.org/view.aspx?id=71428',97)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;97</span></a></div>
</div>
<div class="toolerweima" id="weixin71428" style="background-color:aqua;"></div>
<div id="toolPlay71428" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e7%a7%8b%e5%a4%a9">秋天</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%8a%92%e6%80%80">抒怀</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%9d%e4%b9%a1">思乡</a>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">译文及注释<span style="display:none;">2348</span></h2>
<p><strong>译文</strong><br />西风送来万里之外的家书，问我何时归家？<br />鸿雁在红叶满山的季节呼唤着同伴南迁，而离人却对着黄花遍地的景色沉醉其中，听着雨打芭蕉的声音，却只能籍着秋夜的清凉，但愿做个好梦，能梦回家乡探望亲人。</p>
<p><strong>注释</strong><br />①清江引：曲牌名。<br />②未：什么时候。<br />③红叶天：秋天。红叶，枫叶。深秋枫叶红遍，霜林如醉。<a href="http://so.gushiwen.org/author_211.aspx">杜牧</a>《山行》：“停车坐爱枫林晚，霜叶红于二月花。”<br />④黄花地：菊花满地。</p>
</div>
<div class="dingpai">
<a id="ding2348" href="javascript:ding('2348','http://so.gushiwen.org/view.aspx?id=71428')">有用(99)</a><a id="pai2348" style=" margin-left:10px;" href="javascript:pai('2348','http://so.gushiwen.org/view.aspx?id=71428')">没用(47)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">毛佩琦．元曲三百首：万卷出版公司，2009年：239</span>
</div>
</div>
</div>
<div id="shangxi3415" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(3415)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　秋风中接到家信，远自万里之外寄来，谆谆“问我归期未”，这两句从空间和时间的两个方面表现了“我”与“家”的暌隔。而诗人未对来信的殷望作任何正面的答复，仅是铺排了自己所处客乡的秋景。“红叶天”、“黄花地”，显然受了《西厢记·长亭送别》中“碧云天，黄花地，西风紧北雁南飞”的启导，而《西厢记》又是移用了范仲淹《苏幕遮》词的“碧云天，黄叶地”，亦为感秋之作。红叶黄花勾勒了清秋的轮廓，色彩鲜明，但却有一种苍凉冷颓的情韵。尤其是作者在这一背景中添现了“雁”、“人”的活动主角，且雁啼于天，人醉于地，便使这种苍凉冷颓发挥到了极致。“雁啼”最牵愁惹恨，“人醉”则是为了忘忧，而“芭蕉雨声秋梦里”，秋雨的萧
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(3415)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan3415" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　秋风中接到家信，远自万里之外寄来，谆谆“问我归期未”，这两句从空间和时间的两个方面表现了“我”与“家”的暌隔。而<a href="http://so.gushiwen.org/view_71428.aspx">诗</a>人未对来信的殷望作任何正面的答复，仅是铺排了自己所处客乡的秋景。“红叶天”、“黄花地”，显然受了《西厢记·长亭送别》中“碧云天，黄花地，西风紧北雁南飞”的启导，而《西厢记》又是移用了<a href="http://so.gushiwen.org/author_510.aspx">范仲淹</a>《苏幕遮》词的“碧云天，黄叶地”，亦为感秋之作。红叶黄花勾勒了清秋的轮廓，色彩鲜明，但却有一种苍凉冷颓的情韵。尤其是作者在这一背景中添现了“雁”、“人”的活动主角，且雁啼于天，人醉于地，便使这种苍凉冷颓发挥到了极致。“雁啼”最牵愁惹恨，“人醉”则是为了忘忧，而“芭蕉雨声秋梦里”，秋雨的萧疏冷酷，使得乡梦也为之惊醒。这三句景句无不暗寓着人物的客乡况味和主观感受，代表着诗人的“秋怀”。深沉的乡思与有家难归的羁愁，便足以回答“归期未”的提问了。</p>
<p>　　这三句是作者收信后无言的感受，但它也可以视作诗人因家信问起归期而惆怅苦闷的应接。可以这样想象：诗人因在现实上不可能回到万里以外的乡园，无语可复，心中充满了忧愁与歉疚。他抬头望天，想看看那传书的鸿雁可在，结果发现“雁啼红叶天”，大雁似乎也在为他发出悲鸣。满地秋菊盛开，但那并不是故园的黄花，诗人只能借酒狂饮，在酩酊中暂忘乡愁。入夜了，他希望能在梦中实现回乡的心愿，可是“隔窗知夜雨，芭蕉先有声”（<a href="http://so.gushiwen.org/author_665.aspx">白居易</a>《夜雨》），蕉叶上的雨声又无情地提醒着他的孤寂。“问我归期未”，不敢答复，至此也无须答复。小令的这三句景语，在时间的跨度上可前可后，代表了“秋怀”的一贯凄凉，确实是颇见妙味的。</p>
<p>　　应该说这个概括在这首短小精悍的曲里能够得到很好的体现，至于熔铸名句这点，恐怕元曲三百首里没有多少非香艳的题材的作品能跳出唐宋的成就。</p>
<p>　　回到曲上，“西风信来家万里，问我归期未？”看似简单，实则也简单明了，直奔主题，唯一比较特别之处是以西风送信，这个并不是很多见，古人一般是鱼传尺素，雁寄归思，青鸟传音，西风送信便是把西风拟人，赋予看似凛冽的西风一点人情味；“问我归期未”，平实却亲切，仿佛正面对面问话一般。又令人想起“道是归期未有期”这种情怀，有点淡淡哀愁。可见，这两句应该没有经过太多斟酌，完全是作者的真情实感的流露，因此读来也没有丝毫矫揉造作之感。</p>
<p>　　“雁啼红叶天，人醉黄花地，芭蕉雨声秋梦里”这一句其实颇为经典，既充分体现<a href="http://so.gushiwen.org/author_394.aspx">张可久</a>“清丽派”的作风，又充分体现曲在营造意境上对诗词手法的传承，强调了一种有构图讲究的图画般的美感。这一句却能够从人的多种感官角度把一种写来写去的思乡情怀具体化，形象化，把主观感受融入客观景物里，虽是一种常用的表现手法，又因作者能对颜色、声音、炼字、音韵都做出很好地把握，使得此曲经得起反复的品读。“红叶”“黄花”秋意尽显，颜色鲜明，令人印象深刻，脑海中立即出现相似的画面；“啼”“醉”可以说是有炼字的功夫在内的，雁啼虽不同于杜鹃啼，但只要说到啼声，总是会有些感情在其中，无非雁就是像“我”一样，呼唤着同伴南迁，顺便一提，张可久是浙江人，也就是南方人，那么北雁南飞对于他的意义就更为具体了，而这啼声中，也夹杂着一些复杂的情绪，也许隐含了悲伤、急切、思念、担忧等等，醉，作者认为黄花遍地的景色醉人，但有道是景不醉人人自醉，能够归乡的喜悦心情才真正让作者沉醉其中；芭蕉雨声秋梦里，芭蕉在古代是有特定所指的意象，一般指代愁思、闺思、乡怀、悲凉，而雨打芭蕉一般是指愁上加愁，不可排解。<a href="http://so.gushiwen.org/author_536.aspx">李清照</a>就常用芭蕉的意象。作者是十分心急的，急得发愁，也许正遇上某些事，回乡无望，因而听着雨打芭蕉的声音，似乎只能籍着秋夜的清凉，做个好梦，梦回家乡探望亲人。</p>
<p>　　从押韵这方面来说，不看曲有没有固定韵位，应该是没有的，“里”“未”“地”“里”都是有押韵的，故而朗读起来，此曲也是琅琅上口，音韵和谐的。</p>
<p>　　当一句话，一首曲有一种让人在相似的情形下想起的力量时，已经可以算是成功的作品。正如每逢秋夜下雨时，都会想到“芭蕉雨声秋梦里”以及另一些无名氏的作品“一声声，一更更。窗外芭蕉窗里灯，此时无限情”“楼外凉蟾一晕生，雨余秋更清”把几种意境重叠在一起，然后整理起自己种种的愁绪。</p>
<p>　　本诗前两句，作者道出自己的乡思情。然而这种乡思情有多深有多浓？作者没有直接外露，却是以“西风”“红叶”“黄花”“芭蕉”“秋雨”这些富有季节特征的一组景物构成意境，渲染出一幅色彩浓丽的秋景图，衬自己浓浓的乡思情。 </p>
<p>　　唐<a href="http://so.gushiwen.org/author_204.aspx">李商隐</a>《夜雨寄北》：“君问归期未有期，巴山夜雨涨秋池。”是在归未有期但又存在着“何当共剪西窗烛”可能的情形下，生慨于寄身之处的旁景。而本作连“未有期”的吐诉都鼓不起勇气，心上的伤口就可想而知了。<a title="收起" href="javascript:shangxiClose(3415)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx3415" href="javascript:dingsx('3415','http://so.gushiwen.org/view.aspx?id=71428')">有用(42)</a><a id="paisx3415" style=" margin-left:10px;" href="javascript:paisx('3415','http://so.gushiwen.org/view.aspx?id=71428')">没用(29)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">毛佩琦．元曲三百首：万卷出版公司，2009年：239</span>
</div>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">创作背景<span style="display:none;">3414</span></h2>
<p>　　此小令为作者秋风中接到远自万里之外寄来的家信时，内心流露出的真情实感，具体作年不详。</p>
</div>
<div class="dingpai">
<a id="dingsx3414" href="javascript:dingsx('3414','http://so.gushiwen.org/view.aspx?id=71428')">有用(20)</a><a id="paisx3414" style=" margin-left:10px;" href="javascript:paisx('3414','http://so.gushiwen.org/view.aspx?id=71428')">没用(30)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">蒋星煜 等．元曲鉴赏辞典．上海 ：上海辞书出版社，1990：935-936</span>
</div>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor394">张可久（约1270～1348以后）字小山（一说名伯远，字可久，号小山）（《尧山堂外纪》）；一说名张可久肖像（林晋生作）可久，字伯远，号小山（《词综》）；又一说字仲远，号小山（《四库全书总目提要》），庆元（治所在今浙江宁波鄞县）人，元朝重要散曲家，剧作家，与乔吉并称“双壁”，与张养浩合为“二张”。http://so.gushiwen.org/author_394.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_394.aspx"><img src="http://img.gushiwen.org/authorImg/zhangkejiu.jpg" width="105" height="150" alt="张可久"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_394.aspx"><b>张可久</b></a></p>
<p style=" margin:0px;">张可久（约1270～1348以后）字小山（一说名伯远，字可久，号小山）（《尧山堂外纪》）；一说名张可久肖像（林晋生作）可久，字伯远，号小山（《词综》）；又一说字仲远，号小山（《四库全书总目提要》），庆元（治所在今浙江宁波鄞县）人，元朝重要散曲家，剧作家，与乔吉并称“双壁”，与张养浩合为“二张”。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=394&from=http://so.gushiwen.org/view.aspx?id=71428"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(394)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('394','http://m.gushiwen.org/author_394.aspx')" onmouseout="outweixinAuthor(394)"><img id="weixinAuthorImg394" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor394" href="javascript:goodAuthorNew('394','http://so.gushiwen.org/view.aspx?id=71428',168)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;168</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor394" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare71398">渐老多忧百事忙，天寒日短更心伤。数分红色上黄叶，一瞬曙光成夕阳。春水别来应到海，小松生命合禁霜。壶中若逐仙翁去，待看年华几许长。——宋代·李觏《秋晚悲怀》http://so.gushiwen.org/view_71398.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(71398)" id="btnShangxi71398"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(71398)" id="btnZhushi71398"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(71398)" id="btnYiwen71398" />
<script type="text/javascript">
                        document.getElementById("btnShangxi71398").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi71398").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_71398.aspx"><b>秋晚悲怀</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e8%a7%8f">李觏</a></p>
<div class="contson" id="contson71398">
渐老多忧百事忙，天寒日短更心伤。<br />数分红色上黄叶，一瞬曙光成夕阳。<br />春水别来应到海，小松生命合禁霜。<br />壶中若逐仙翁去，待看年华几许长。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=71398&from=http://so.gushiwen.org/view.aspx?id=71428"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(71398)"><img id="copyimg71398" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('71398','http://m.gushiwen.org/view_71398.aspx')" onmouseout="outweixin(71398)"><img id="weixinimg71398" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood71398" href="javascript:goodNew('71398','http://so.gushiwen.org/view.aspx?id=71428',29)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;29</span></a></div>
</div>
<div id="toolCopy71398" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin71398" style="background-color:aqua;"></div>
<div id="toolPlay71398" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e7%a7%8b%e5%a4%a9">秋天</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%82%b2%e7%a7%8b">悲秋</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%84%9f%e5%8f%b9">感叹</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%b2%81%e6%9c%88">岁月</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare2572">日落征途远，怅然临古城。颓墉寒雀集，荒堞晚乌惊。萧森灌木上，迢递孤烟生。霞景焕余照，露气澄晚清。秋风转摇落，此志安可平！——唐代·李百药《秋晚登古城》http://so.gushiwen.org/view_2572.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(2572)" id="btnShangxi2572"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(2572)" id="btnZhushi2572"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(2572)" id="btnYiwen2572" />
<script type="text/javascript">
                        document.getElementById("btnShangxi2572").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_2572.aspx"><b>秋晚登古城</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%8e%e7%99%be%e8%8d%af">李百药</a></p>
<div class="contson" id="contson2572">
日落征途远，怅然临古城。<br />颓墉寒雀集，荒堞晚乌惊。<br />萧森灌木上，迢递孤烟生。<br />霞景焕余照，露气澄晚清。<br />秋风转摇落，此志安可平！
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=2572&from=http://so.gushiwen.org/view.aspx?id=71428"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(2572)"><img id="copyimg2572" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('2572','http://m.gushiwen.org/view_2572.aspx')" onmouseout="outweixin(2572)"><img id="weixinimg2572" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood2572" href="javascript:goodNew('2572','http://so.gushiwen.org/view.aspx?id=71428',13)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;13</span></a></div>
</div>
<div id="toolCopy2572" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin2572" style="background-color:aqua;"></div>
<div id="toolPlay2572" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e7%a7%8b%e5%a4%a9">秋天</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%99%bb%e9%ab%98">登高</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%80%e5%8f%a4">怀古</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare49344">池苑清阴欲就。还傍送春时候。眼中人去难欢偶。谁共一杯芳酒。 朱阑碧砌皆如旧。记携手。有情不管别离久。情在相逢终有期。——宋代·晏几道《秋蕊香·池苑清阴欲就》http://so.gushiwen.org/view_49344.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(49344)" id="btnShangxi49344"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(49344)" id="btnZhushi49344"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(49344)" id="btnYiwen49344" />
<script type="text/javascript">
                        document.getElementById("btnZhushi49344").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_49344.aspx"><b>秋蕊香·池苑清阴欲就</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e6%99%8f%e5%87%a0%e9%81%93">晏几道</a></p>
<div class="contson" id="contson49344">
池苑清阴欲就。还傍送春时候。眼中人去难欢偶。谁共一杯芳酒。 <br />朱阑碧砌皆如旧。记携手。有情不管别离久。情在相逢终有期。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=49344&from=http://so.gushiwen.org/view.aspx?id=71428"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(49344)"><img id="copyimg49344" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('49344','http://m.gushiwen.org/view_49344.aspx')" onmouseout="outweixin(49344)"><img id="weixinimg49344" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood49344" href="javascript:goodNew('49344','http://so.gushiwen.org/view.aspx?id=71428',19)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;19</span></a></div>
</div>
<div id="toolCopy49344" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin49344" style="background-color:aqua;"></div>
<div id="toolPlay49344" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e7%a7%8b%e5%a4%a9">秋天</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%a6%bb%e5%88%ab">离别</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%9b%b8%e6%80%9d">相思</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5182.aspx">流水翻催泪，寒灰更伴人。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5756.aspx">绿酒初尝人易醉。一枕小窗浓睡。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
