
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
送江水曹还远馆原文、翻译及赏析_谢朓古诗_古诗文网
</title>
<meta name="description" content="高馆临荒途，清川带长陌。上有流思人，怀旧望归客。塘边草杂红，树际花犹白。日暮有重城，何由尽离席！" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_71877.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_71877.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare71877">高馆临荒途，清川带长陌。上有流思人，怀旧望归客。塘边草杂红，树际花犹白。日暮有重城，何由尽离席！——南北朝·谢朓《送江水曹还远馆》http://so.gushiwen.org/view_71877.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(71877)" id="btnShangxi71877"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(71877)" id="btnZhushi71877"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(71877)" id="btnYiwen71877" />
<script type="text/javascript">
                        document.getElementById("btnShangxi71877").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">送江水曹还远馆</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%8d%97%e5%8c%97%e6%9c%9d">南北朝</a><span>：</span><a href="/author_32.aspx">谢朓</a> </p>
<div class="contson" id="contson71877">
高馆临荒途，清川带长陌。<br />上有流思人，怀旧望归客。<br />塘边草杂红，树际花犹白。<br />日暮有重城，何由尽离席！
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=71877&from=http://so.gushiwen.org/view.aspx?id=71877"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(71877)"><img id="copyimg71877" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('71877','http://m.gushiwen.org/view_71877.aspx')" onmouseout="outweixin(71877)"><img id="weixinimg71877" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=71877"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=9697085197"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood71877" href="javascript:goodNew('71877','http://so.gushiwen.org/view.aspx?id=71877',12)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;12</span></a></div>
</div>
<div class="toolerweima" id="weixin71877" style="background-color:aqua;"></div>
<div id="toolPlay71877" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e7%a6%bb%e5%88%ab">离别</a>
</div>
</div>
<div id="shangxi4465" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(4465)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">鉴赏</h2>
<p>　　六朝诗至南齐永明而一大变，世称“永明体”，代表诗人则是谢朓，他上承晋宋，下开唐风，前人多以他与谢灵运相比。明人钟惺称二谢诗均多排语，“然康乐排得可厌，却不失为古诗。玄晖排得不可厌，业已浸淫近体”（《古诗归》）。明人许学夷也说：“元嘉体虽尽入俳偶，语虽尽入雕刻，其声韵犹古”，至沈、谢则“声渐入律，语渐绮靡，而古声渐亡矣”（《诗源辩体》）。一古一近，判然有别。小谢的“新变”即使从这首短短的送别诗中也可窥其端绪。</p>
<p>　　理解这首诗，一上来就碰到一个颇费斟酌的问题：题面上是“还远馆”，而开头第一句即是“高馆临荒途”，那末两个“馆”字所指是一，抑或是二？若此“高馆”即题中之“远馆
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(4465)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan4465" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">鉴赏</h2>
<p>　　六朝<a href="http://so.gushiwen.org/view_71877.aspx">诗</a>至南齐永明而一大变，世称“永明体”，代表诗人则是<a href="http://so.gushiwen.org/author_32.aspx">谢朓</a>，他上承晋宋，下开唐风，前人多以他与<a href="http://so.gushiwen.org/author_758.aspx">谢灵运</a>相比。明人钟惺称二谢诗均多排语，“然康乐排得可厌，却不失为古诗。玄晖排得不可厌，业已浸淫近体”（《古诗归》）。明人许学夷也说：“元嘉体虽尽入俳偶，语虽尽入雕刻，其声韵犹古”，至沈、谢则“声渐入律，语渐绮靡，而古声渐亡矣”（《诗源辩体》）。一古一近，判然有别。小谢的“新变”即使从这首短短的送别诗中也可窥其端绪。</p>
<p>　　理解这首诗，一上来就碰到一个颇费斟酌的问题：题面上是“还远馆”，而开头第一句即是“高馆临荒途”，那末两个“馆”字所指是一，抑或是二？若此“高馆”即题中之“远馆”，则所写为悬想之词；若否，则是实写送别之地的景色。揣摩全诗，细绎词意，毋宁作后一解为是。</p>
<p>　　首联分别从高、远两个方面描写了送别的场景：荒郊野途，高馆孤峙，清流映带，长路迢递。馆，即客舍，安顿宾客的馆舍，可能江水曹暂寓于此，如今他又要到更远的馆舍去，诗人将与他举袂相别。荒凉凄清的景物渲染出一种离愁别绪。此处着一“带”字尤为传神：那潺湲的清流仿佛将眼前的道路带向了遥远的地方，在离人的心上更添一层渺远迷茫的情思。次联则交代去者的怀归之情。“流思”，即思绪飘忽不定，流荡无住之意；“怀旧望归客”则为“流思人”之同位语。“怀旧”，怀念旧邦或亲故之意；“望归客”，渴望归去之人，是为偏正结构，非动宾结构。此联透露出江水曹的游宦生涯，此行所去，只是远馆，而非故乡，故而客中作客，无慰“怀旧望归”之情，只能更增羁旅情怀。但是诗的第三联并未循此而生发开去，而是重又转回写景。诗人为读者展现出一片明丽的景色，那池塘春草、花树相间、红白掩映的风光确乎令人陶醉。面对如此赏心悦目的景色，人不应该离别，而应该流连忘返，尽情享受自然的赐予，但偏偏这正是离人分手的时刻。如果说首联的写景正与离情相契合的话，那么此联的写景则以强烈的反衬突现出离别的情怀。送君千里，终须一别，这是无可如何的现实，尾联重又归结到送别之意。“日暮有重城”，时光的流逝暗示出依依惜别的深情，而高城暮色的景物又加浓了伤别的情绪。天色将晚，已到了不得不分手的时刻，故主客双方只得在“何由尽离席”的感慨中分道扬镳，诗的最后留给人的是无可奈何的感喟。离席将尽而又不欲其尽，结句将惜别之情发挥得非常充分。</p>
<p>　　离别是古诗中一个陈旧的主题。这样一首主题平平的短诗，究竟透露出一些什么“新变”来呢？最突出的一点是诗人通过景物描写而抒发感情、构造意境的创作方法。汉魏古诗多胸臆语，直抒所感，古朴质实，情语多于景语，景物描写仅仅是抒情的附丽。而到了谢朓，则注意在写景中寓情，让情感蕴含在景物之中，二者不是游离之物，而是构成一个有机的统一体，成为富有情韵的意境，避免对感情作直露的、正面的表述。即以此诗而论，诗人以清词丽句描绘出一个凄清悠远而又富于色彩的境界，对别离之情几乎未作铺陈，读者感受到的是一种惜别的氛围，情绪的熏染，情感的表达是含蓄蕴藉的。这就是后人所说的“风调”、“神韵”。正是在这一点上，小谢的诗成为唐诗的先声。试看<a href="http://so.gushiwen.org/author_515.aspx">王维</a>的《归嵩山作》：“晴川带长薄，车马去闲闲。流水如有意，暮禽相与还。荒城临古渡，落日满秋山。迢递嵩高下，归来且闭关。”右丞此诗就是正从小谢诗中有所借鉴的。谢灵运也模山范水，但精雕细刻，失之板重，刻意写形，而乏情韵。玄晖则刊落繁缛，以清俊疏朗的笔调将景物构造为富有情韵的意境。于是朴拙质厚的古诗一变而为清新俊逸的近体风格。唐诗那种简笔传神的写景，情韵流动的意境，风神摇曳的格调，正是在小谢这里肇其端的。</p>
<p>　　其次，在诗歌的格律上也表现出其新变。自<a href="http://so.gushiwen.org/author_628.aspx">沈约</a>倡“声律说”以来，诗人排比声韵，约句准篇，成为一时的风气，标志了五言古诗向近体律诗的过渡，谢朓也是这场声律化运动中的健将。<a href="http://so.gushiwen.org/author_196.aspx">严羽</a>说：“谢朓之诗，已有全篇似唐人者。”（《沧浪诗话》）除风格而外，格律之新也是其一个方面。即以此诗论，除去押入声韵之外，其他各方面均近似一首律诗。首联对偶工切，但平仄不协，第二联不对，而第三联又成工整的对偶。这在律诗中称为“偷春格”，颔联的对仗移至首联，恰如花儿偷得春光，先春而开。<a title="收起" href="javascript:shangxiClose(4465)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx4465" href="javascript:dingsx('4465','http://so.gushiwen.org/view.aspx?id=71877')">有用(12)</a><a id="paisx4465" style=" margin-left:10px;" href="javascript:paisx('4465','http://so.gushiwen.org/view.aspx?id=71877')">没用(8)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor32">谢朓（464~499年），字玄晖。汉族，陈郡阳夏（今河南太康县）人。南朝齐时著名的山水诗人，出身世家大族。谢朓与谢灵运同族，世称“小谢”。初任竟陵王萧子良功曹、文学，为“竟陵八友”之一。后官宣城太守，终尚书吏部郎，又称谢宣城、谢吏部。东昏侯永元初，遭始安王萧遥光诬陷，下狱死。曾与沈约等共创“永明体”。今存诗二百余首，多描写自然景物，间亦直抒怀抱，诗风清新秀丽，圆美流转，善于发端，时有佳句；又平仄协调，对偶工整，开启唐代律绝之先河。http://so.gushiwen.org/author_32.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_32.aspx"><img src="http://img.gushiwen.org/authorImg/xietiao.jpg" width="105" height="150" alt="谢朓"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_32.aspx"><b>谢朓</b></a></p>
<p style=" margin:0px;">谢朓（464~499年），字玄晖。汉族，陈郡阳夏（今河南太康县）人。南朝齐时著名的山水诗人，出身世家大族。谢朓与谢灵运同族，世称“小谢”。初任竟陵王萧子良功曹、文学，为“竟陵八友”之一。后官宣城太守，终尚书吏部郎，又称谢宣城、谢吏部。东昏侯永元初，遭始安王萧遥光诬陷，下狱死。曾与沈约等共创“永明体”。今存诗二百余首，多描写自然景物，间亦直抒怀抱，诗风清新秀丽，圆美流转，善于发端，时有佳句；又平仄协调，对偶工整，开启唐代律绝之先河。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=32&from=http://so.gushiwen.org/view.aspx?id=71877"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(32)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('32','http://m.gushiwen.org/author_32.aspx')" onmouseout="outweixinAuthor(32)"><img id="weixinAuthorImg32" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor32" href="javascript:goodAuthorNew('32','http://so.gushiwen.org/view.aspx?id=71877',75)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;75</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor32" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare48480">移得绿杨栽后院。学舞宫腰，二月青犹短。不比灞陵多送远。残丝乱絮东西岸。 几叶小眉寒不展。莫唱阳关，真个肠先断。分付与春休细看。条条尽是离人怨。——宋代·张先《蝶恋花·移得绿杨栽后院》http://so.gushiwen.org/view_48480.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(48480)" id="btnShangxi48480"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(48480)" id="btnZhushi48480"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(48480)" id="btnYiwen48480" />
<script type="text/javascript">
                        document.getElementById("btnShangxi48480").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_48480.aspx"><b>蝶恋花·移得绿杨栽后院</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%bc%a0%e5%85%88">张先</a></p>
<div class="contson" id="contson48480">
移得绿杨栽后院。学舞宫腰，二月青犹短。不比灞陵多送远。残丝乱絮东西岸。 <br />几叶小眉寒不展。莫唱阳关，真个肠先断。分付与春休细看。条条尽是离人怨。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=48480&from=http://so.gushiwen.org/view.aspx?id=71877"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(48480)"><img id="copyimg48480" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('48480','http://m.gushiwen.org/view_48480.aspx')" onmouseout="outweixin(48480)"><img id="weixinimg48480" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood48480" href="javascript:goodNew('48480','http://so.gushiwen.org/view.aspx?id=71877',7)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;7</span></a></div>
</div>
<div id="toolCopy48480" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin48480" style="background-color:aqua;"></div>
<div id="toolPlay48480" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%ae%8b%e8%af%8d%e7%b2%be%e9%80%89">宋词精选</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%a6%bb%e5%88%ab">离别</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%9f%b3%e6%a0%91">柳树</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare59142">泛菊杯深，吹梅角远，同在京城。聚散匆匆，云边孤雁，水上浮萍。 教人怎不伤情。觉几度、魂飞梦惊。后夜相思，尘随马去，月逐舟行。——宋代·刘过《柳梢青·送卢梅坡》http://so.gushiwen.org/view_59142.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(59142)" id="btnShangxi59142"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(59142)" id="btnZhushi59142"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(59142)" id="btnYiwen59142" />
<script type="text/javascript">
                        document.getElementById("btnShangxi59142").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi59142").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen59142").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_59142.aspx"><b>柳梢青·送卢梅坡</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e5%88%98%e8%bf%87">刘过</a></p>
<div class="contson" id="contson59142">
泛菊杯深，吹梅角远，同在京城。聚散匆匆，云边孤雁，水上浮萍。 <br />教人怎不伤情。觉几度、魂飞梦惊。后夜相思，尘随马去，月逐舟行。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=59142&from=http://so.gushiwen.org/view.aspx?id=71877"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(59142)"><img id="copyimg59142" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('59142','http://m.gushiwen.org/view_59142.aspx')" onmouseout="outweixin(59142)"><img id="weixinimg59142" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood59142" href="javascript:goodNew('59142','http://so.gushiwen.org/view.aspx?id=71877',43)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;43</span></a></div>
</div>
<div id="toolCopy59142" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin59142" style="background-color:aqua;"></div>
<div id="toolPlay59142" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e7%a6%bb%e5%88%ab">离别</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%9d%e5%bf%b5">思念</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare49461">谁作桓伊三弄。惊破绿窗幽梦。新月与愁烟。满江天。 欲去又还不去。明日落花飞絮。飞絮送行舟。水东流。——宋代·苏轼《昭君怨·送别》http://so.gushiwen.org/view_49461.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(49461)" id="btnShangxi49461"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(49461)" id="btnZhushi49461"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(49461)" id="btnYiwen49461" />
<script type="text/javascript">
                        document.getElementById("btnShangxi49461").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi49461").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen49461").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_49461.aspx"><b>昭君怨·送别</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%8b%8f%e8%bd%bc">苏轼</a></p>
<div class="contson" id="contson49461">
谁作桓伊三弄。惊破绿窗幽梦。新月与愁烟。满江天。 <br />欲去又还不去。明日落花飞絮。飞絮送行舟。水东流。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=49461&from=http://so.gushiwen.org/view.aspx?id=71877"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(49461)"><img id="copyimg49461" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('49461','http://m.gushiwen.org/view_49461.aspx')" onmouseout="outweixin(49461)"><img id="weixinimg49461" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood49461" href="javascript:goodNew('49461','http://so.gushiwen.org/view.aspx?id=71877',75)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;75</span></a></div>
</div>
<div id="toolCopy49461" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin49461" style="background-color:aqua;"></div>
<div id="toolPlay49461" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%85%b8%e6%95%85">典故</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%a6%bb%e5%88%ab">离别</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4013.aspx">欲知却老延龄药，百草摧时始起花。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2696.aspx">涧影见松竹，潭香闻芰荷。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
