
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
论诗三十首·二十原文、翻译及赏析_元好问古诗_古诗文网
</title>
<meta name="description" content="谢客风容映古今，发源谁似柳州深？朱弦一拂遗音在，却是当年寂寞心。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_72591.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_72591.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare72591">谢客风容映古今，发源谁似柳州深？朱弦一拂遗音在，却是当年寂寞心。——金朝·元好问《论诗三十首·二十》http://so.gushiwen.org/view_72591.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(72591)" id="btnShangxi72591"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(72591)" id="btnZhushi72591"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(72591)" id="btnYiwen72591" />
<script type="text/javascript">
                        document.getElementById("btnShangxi72591").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">论诗三十首·二十</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e9%87%91%e6%9c%9d">金朝</a><span>：</span><a href="/author_600.aspx">元好问</a> </p>
<div class="contson" id="contson72591">
谢客风容映古今，发源谁似柳州深？<br />朱弦一拂遗音在，却是当年寂寞心。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=72591&from=http://so.gushiwen.org/view.aspx?id=72591"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(72591)"><img id="copyimg72591" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('72591','http://m.gushiwen.org/view_72591.aspx')" onmouseout="outweixin(72591)"><img id="weixinimg72591" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=72591"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=5832465908"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood72591" href="javascript:goodNew('72591','http://so.gushiwen.org/view.aspx?id=72591',13)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;13</span></a></div>
</div>
<div class="toolerweima" id="weixin72591" style="background-color:aqua;"></div>
<div id="toolPlay72591" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e8%af%84%e8%ae%ba">评论</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%bb%84%e8%af%97">组诗</a>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">简析<span style="display:none;">10311</span></h2>
　　这首<a href="http://so.gushiwen.org/view_72591.aspx">诗</a>是论及<a href="http://so.gushiwen.org/author_646.aspx">柳宗元</a>与<a href="http://so.gushiwen.org/author_758.aspx">谢灵运</a>，主要是论柳宗元，是说柳近似于谢。谢灵运是第一个大力写山水诗的诗人，他政治失意，纵情山水，肆意遨游，在山水中寻求慰藉，与当时“淡乎寡味”的玄言诗相比，后人认为谢灵运的诗歌自然清新，有高古之风。<a href="http://so.gushiwen.org/author_600.aspx">元好问</a>推崇谢灵运，认为柳宗元诗歌淡泊古雅，深得谢灵运之遗音。前两句在一起是说，谢灵运诗的风神容态，照映古今，后世诗人，谁能像柳宗元一样有谢客风容，并深有所得呢？后两句是说柳宗元的诗淡泊简古，如清庙之瑟，朱弦一拂，唱叹余音宛在，此冷寂神境，以暗喻道出，恰是如同当年谢灵运寂寞心境的写照。
</div>
<div class="dingpai">
<a id="dingsx10311" href="javascript:dingsx('10311','http://so.gushiwen.org/view.aspx?id=72591')">有用(12)</a><a id="paisx10311" style=" margin-left:10px;" href="javascript:paisx('10311','http://so.gushiwen.org/view.aspx?id=72591')">没用(3)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor600">元好问，字裕之，号遗山，太原秀容（今山西忻州）人；系出北魏鲜卑族拓跋氏，元好问过继叔父元格；七岁能诗，十四岁从学郝天挺，六载而业成；兴定五年（1221）进士，不就选；正大元年（1224 ），中博学宏词科，授儒林郎，充国史院编修，历镇平、南阳、内乡县令。八年（1231）秋，受诏入都，除尚书省掾、左司都事，转员外郎；金亡不仕，元宪宗七年卒于获鹿寓舍；工诗文，在金元之际颇负重望；诗词风格沉郁，并多伤时感事之作。其《论诗》绝句三十首在中国文学批评史上颇有地位；作有《遗山集》又名《遗山先生文集》，编有《中州集》。http://so.gushiwen.org/author_600.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_600.aspx"><img src="http://img.gushiwen.org/authorImg/yuanhaowen.jpg" width="105" height="150" alt="元好问"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_600.aspx"><b>元好问</b></a></p>
<p style=" margin:0px;">元好问，字裕之，号遗山，太原秀容（今山西忻州）人；系出北魏鲜卑族拓跋氏，元好问过继叔父元格；七岁能诗，十四岁从学郝天挺，六载而业成；兴定五年（1221）进士，不就选；正大元年（1224 ），中博学宏词科，授儒林郎，充国史院编修，历镇平、南阳、内乡县令。八年（1231）秋，受诏入都，除尚书省掾、左司都事，转员外郎；金亡不仕，元宪宗七年卒于获鹿寓舍；工诗文，在金元之际颇负重望；诗词风格沉郁，并多伤时感事之作。其《论诗》绝句三十首在中国文学批评史上颇有地位；作有《遗山集》又名《遗山先生文集》，编有《中州集》。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=600&from=http://so.gushiwen.org/view.aspx?id=72591"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(600)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('600','http://m.gushiwen.org/author_600.aspx')" onmouseout="outweixinAuthor(600)"><img id="weixinAuthorImg600" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor600" href="javascript:goodAuthorNew('600','http://so.gushiwen.org/view.aspx?id=72591',114)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;114</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor600" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare72538">曹刘坐啸虎生风，四海无人角两雄。可惜并州刘越石，不教横槊建安中。——金朝·元好问《论诗三十首·其二》http://so.gushiwen.org/view_72538.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(72538)" id="btnShangxi72538"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(72538)" id="btnZhushi72538"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(72538)" id="btnYiwen72538" />
<script type="text/javascript">
                        document.getElementById("btnShangxi72538").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_72538.aspx"><b>论诗三十首·其二</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e9%87%91%e6%9c%9d">金朝</a><span>：</span><a href="/search.aspx?value=%e5%85%83%e5%a5%bd%e9%97%ae">元好问</a></p>
<div class="contson" id="contson72538">
<p>曹刘坐啸虎生风，四海无人角两雄。<br />可惜并州刘越石，不教横槊建安中。</p>
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=72538&from=http://so.gushiwen.org/view.aspx?id=72591"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(72538)"><img id="copyimg72538" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('72538','http://m.gushiwen.org/view_72538.aspx')" onmouseout="outweixin(72538)"><img id="weixinimg72538" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood72538" href="javascript:goodNew('72538','http://so.gushiwen.org/view.aspx?id=72591',13)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;13</span></a></div>
</div>
<div id="toolCopy72538" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin72538" style="background-color:aqua;"></div>
<div id="toolPlay72538" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e7%bb%84%e8%af%97">组诗</a>
<span>，</span><a href="/type.aspx?p=1&t=%e8%af%84%e8%ae%ba">评论</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare72594">奇外无奇更出奇，一波才动万波随。只知诗到苏黄尽，沧海横流却是谁？——金朝·元好问《论诗三十首·二十二》http://so.gushiwen.org/view_72594.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(72594)" id="btnShangxi72594"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(72594)" id="btnZhushi72594"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(72594)" id="btnYiwen72594" />
<script type="text/javascript">
                        document.getElementById("btnShangxi72594").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_72594.aspx"><b>论诗三十首·二十二</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e9%87%91%e6%9c%9d">金朝</a><span>：</span><a href="/search.aspx?value=%e5%85%83%e5%a5%bd%e9%97%ae">元好问</a></p>
<div class="contson" id="contson72594">
奇外无奇更出奇，一波才动万波随。<br />只知诗到苏黄尽，沧海横流却是谁？
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=72594&from=http://so.gushiwen.org/view.aspx?id=72591"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(72594)"><img id="copyimg72594" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('72594','http://m.gushiwen.org/view_72594.aspx')" onmouseout="outweixin(72594)"><img id="weixinimg72594" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood72594" href="javascript:goodNew('72594','http://so.gushiwen.org/view.aspx?id=72591',15)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;15</span></a></div>
</div>
<div id="toolCopy72594" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin72594" style="background-color:aqua;"></div>
<div id="toolPlay72594" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e8%af%84%e8%ae%ba">评论</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%bb%84%e8%af%97">组诗</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare72582">切切秋虫万古情，灯前山鬼泪纵横。鉴湖春好无人赋，“岸夹桃花锦浪生。”——金朝·元好问《论诗三十首·十六》http://so.gushiwen.org/view_72582.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(72582)" id="btnShangxi72582"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(72582)" id="btnZhushi72582"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(72582)" id="btnYiwen72582" />
<script type="text/javascript">
                        document.getElementById("btnShangxi72582").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_72582.aspx"><b>论诗三十首·十六</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e9%87%91%e6%9c%9d">金朝</a><span>：</span><a href="/search.aspx?value=%e5%85%83%e5%a5%bd%e9%97%ae">元好问</a></p>
<div class="contson" id="contson72582">
切切秋虫万古情，灯前山鬼泪纵横。<br />鉴湖春好无人赋，“岸夹桃花锦浪生。”
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=72582&from=http://so.gushiwen.org/view.aspx?id=72591"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(72582)"><img id="copyimg72582" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('72582','http://m.gushiwen.org/view_72582.aspx')" onmouseout="outweixin(72582)"><img id="weixinimg72582" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood72582" href="javascript:goodNew('72582','http://so.gushiwen.org/view.aspx?id=72591',10)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;10</span></a></div>
</div>
<div id="toolCopy72582" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin72582" style="background-color:aqua;"></div>
<div id="toolPlay72582" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e8%af%84%e8%ae%ba">评论</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%bb%84%e8%af%97">组诗</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5501.aspx">云开汶水孤帆远，路绕梁山匹马迟。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4192.aspx">重阳过后，西风渐紧，庭树叶纷纷。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
