
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
山坡羊·洛阳怀古原文、翻译及赏析_张养浩_古诗文网
</title>
<meta name="description" content="天津桥上，凭栏遥望，春陵王气都凋丧；树苍苍，水茫茫，云台不见中兴将。千古转头归灭亡。功，也不久长，名，也不久长。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_72678.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_72678.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare72678">天津桥上，凭栏遥望，春陵王气都凋丧；树苍苍，水茫茫，云台不见中兴将。千古转头归灭亡。功，也不久长，名，也不久长。——元代·张养浩《山坡羊·洛阳怀古》http://so.gushiwen.org/view_72678.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(72678)" id="btnShangxi72678"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(72678)" id="btnZhushi72678"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(72678)" id="btnYiwen72678" />
<script type="text/javascript">
                        document.getElementById("btnShangxi72678").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">山坡羊·洛阳怀古</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%85%83%e4%bb%a3">元代</a><span>：</span><a href="/author_41.aspx">张养浩</a> </p>
<div class="contson" id="contson72678">
　　天津桥上，凭栏遥望，春陵王气都凋丧；树苍苍，水茫茫，云台不见中兴将。千古转头归灭亡。功，也不久长，名，也不久长。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=72678&from=http://so.gushiwen.org/view.aspx?id=72678"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(72678)"><img id="copyimg72678" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('72678','http://m.gushiwen.org/view_72678.aspx')" onmouseout="outweixin(72678)"><img id="weixinimg72678" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=72678"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=5521492108"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood72678" href="javascript:goodNew('72678','http://so.gushiwen.org/view.aspx?id=72678',52)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;52</span></a></div>
</div>
<div class="toolerweima" id="weixin72678" style="background-color:aqua;"></div>
<div id="toolPlay72678" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e6%80%80%e5%8f%a4">怀古</a>
</div>
</div>
<div id="shangxi13716" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(13716)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">鉴赏</h2>
<p>　　洛阳是一座有名的历史古城，东周、东汉、曹魏、西晋、隋炀帝、武则天等先后以此为都，宋以前的许多王朝也曾以此为陪都，在中国古代历史上，占有重要的地位。</p>
<p>　　《山坡羊·洛阳怀古》的前六句，写作者在九朝古都洛阳的天津桥上依栏远望，追念曾经叱咤风云、建立东汉王朝的刘秀以及他的功臣们，流露出一种低沉哀惋的调子。天津桥，故址在今洛阳旧城西南，隋唐皇城正南洛水上。它建于隋大业年间，用铁锁连结大船，南北夹路对起四楼。隋末焚毁，唐宋屡次改建加固。它曾是洛阳的一个繁华的名胜之地。作者来到天津桥上，俯视桥下，洛水滚滚不息地向东流淌着，抬头远望，春陵的王气已丧失不见。“春陵王气”是关于刘秀的历
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(13716)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan13716" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">鉴赏</h2>
<p>　　洛阳是一座有名的历史古城，东周、东汉、曹魏、西晋、隋炀帝、<a href="http://so.gushiwen.org/author_298.aspx">武则天</a>等先后以此为都，宋以前的许多王朝也曾以此为陪都，在中国古代历史上，占有重要的地位。</p>
<p>　　《山坡羊·洛阳怀古》的前六句，写作者在九朝古都洛阳的天津桥上依栏远望，追念曾经叱咤风云、建立东汉王朝的<a href="http://so.gushiwen.org/author_799.aspx">刘秀</a>以及他的功臣们，流露出一种低沉哀惋的调子。天津桥，故址在今洛阳旧城西南，隋唐皇城正南洛水上。它建于隋大业年间，用铁锁连结大船，南北夹路对起四楼。隋末焚毁，唐宋屡次改建加固。它曾是洛阳的一个繁华的名胜之地。作者来到天津桥上，俯视桥下，洛水滚滚不息地向东流淌着，抬头远望，春陵的王气已丧失不见。“春陵王气”是关于刘秀的历史典故。《后汉书·光武帝纪论》载：“后望气者苏伯阿为王莽使至南阳，遥望见春陵郭，唶曰：‘气佳哉！郁郁葱葱然！’”春陵，是个县名，当时属南阳，故址在今湖北枣阳县。汉光武帝祖父春陵侯刘仁曾迁封于此，故名。望气，是古代方士的一种占侯术，认为望云气可以预知祸福吉凶。这是靠不住的骗人把戏。苏伯阿望见的春陵的“佳”气，“郁郁葱葱”，按照方士的说法，即是一种王者之气，预示此地将会出现天子。后来，果然出现了汉光武帝刘秀。现在作者在洛阳的天津桥上，已不见春陵之王气了，这地方恐怕再也出现不了刘秀那样的人物。而帮助刘秀建立东汉王朝的那些文臣武将们，如邓禹、马武等，也早已成为古人，就连明帝刘庄在永平年间为感念这些前世功臣，而在南宫云台中绘制的二十八将的图象，也早已塌圮不存了。眼前看见的只有苍茂的树木和茫茫流动的河水。面对这种情景，作者发出了深沉的感慨：“千古转头归灭亡”。自古以来，那些帝王将相，英雄豪杰，当时自是叱咤风云，在现实生活的舞台上演出了轰轰烈烈的活剧，但弹指一顾之间，就归于灭亡，成为历史的过去。由此，作者认为“功”也罢，“名”也罢，都是短暂的，不会长久的保持着的。</p>
<p>　　总括看来，作者在曲子之中流露出的情绪是低沉的，几乎近似消极；而结合元代社会现实来看，元代统治阶级残酷暴虐，社会统治黑暗腐朽，<a href="http://so.gushiwen.org/author_41.aspx">张养浩</a>曾因直言政事，而被贬官，被废弃，这次虽被起用，但后果怎样，他无法预料。因此，他在曲中流露出了低沉的、伤感的情绪。<a title="收起" href="javascript:shangxiClose(13716)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx13716" href="javascript:dingsx('13716','http://so.gushiwen.org/view.aspx?id=72678')">有用(25)</a><a id="paisx13716" style=" margin-left:10px;" href="javascript:paisx('13716','http://so.gushiwen.org/view.aspx?id=72678')">没用(13)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor41">张养浩（1269—1329年），汉族，字希孟，号云庄，山东济南人，元代著名散曲家。诗、文兼擅，而以散曲著称。代表作有《山坡羊&#183;潼关怀古》等。http://so.gushiwen.org/author_41.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_41.aspx"><img src="http://img.gushiwen.org/authorImg/zhangyanghao.jpg" width="105" height="150" alt="张养浩"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_41.aspx"><b>张养浩</b></a></p>
<p style=" margin:0px;">张养浩（1269—1329年），汉族，字希孟，号云庄，山东济南人，元代著名散曲家。诗、文兼擅，而以散曲著称。代表作有《山坡羊&#183;潼关怀古》等。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=41&from=http://so.gushiwen.org/view.aspx?id=72678"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(41)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('41','http://m.gushiwen.org/author_41.aspx')" onmouseout="outweixinAuthor(41)"><img id="weixinAuthorImg41" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor41" href="javascript:goodAuthorNew('41','http://so.gushiwen.org/view.aspx?id=72678',122)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;122</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor41" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare32979">兵散弓残挫虎威，单枪匹马突重围。 英雄去尽羞容在，看却江东不得归。——唐代·汪遵《乌江》http://so.gushiwen.org/view_32979.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(32979)" id="btnShangxi32979"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(32979)" id="btnZhushi32979"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(32979)" id="btnYiwen32979" />
<script type="text/javascript">
                        document.getElementById("btnShangxi32979").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi32979").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_32979.aspx"><b>乌江</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%b1%aa%e9%81%b5">汪遵</a></p>
<div class="contson" id="contson32979">
兵散弓残挫虎威，单枪匹马突重围。 <br />英雄去尽羞容在，看却江东不得归。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=32979&from=http://so.gushiwen.org/view.aspx?id=72678"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(32979)"><img id="copyimg32979" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('32979','http://m.gushiwen.org/view_32979.aspx')" onmouseout="outweixin(32979)"><img id="weixinimg32979" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood32979" href="javascript:goodNew('32979','http://so.gushiwen.org/view.aspx?id=72678',63)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;63</span></a></div>
</div>
<div id="toolCopy32979" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin32979" style="background-color:aqua;"></div>
<div id="toolPlay32979" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%92%8f%e7%89%a9">咏物</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%80%e5%8f%a4">怀古</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare18341">束带值明后，顾盼流辉光。一心在陈力，鼎列夸四方。款款效忠信，恩义皎如霜。生时亮同体，死没宁分张。壮躯闭幽隧，猛志填黄肠。殉死礼所非，况乃用其良。霸基弊不振，晋楚更张皇。疾病命固乱，魏氏言有章。从邪陷厥父，吾欲讨彼狂。——唐代·柳宗元《咏三良》http://so.gushiwen.org/view_18341.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(18341)" id="btnShangxi18341"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(18341)" id="btnZhushi18341"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(18341)" id="btnYiwen18341" />
<script type="text/javascript">
                        document.getElementById("btnShangxi18341").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi18341").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen18341").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_18341.aspx"><b>咏三良</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9f%b3%e5%ae%97%e5%85%83">柳宗元</a></p>
<div class="contson" id="contson18341">
束带值明后，顾盼流辉光。<br />一心在陈力，鼎列夸四方。<br />款款效忠信，恩义皎如霜。<br />生时亮同体，死没宁分张。<br />壮躯闭幽隧，猛志填黄肠。<br />殉死礼所非，况乃用其良。<br />霸基弊不振，晋楚更张皇。<br />疾病命固乱，魏氏言有章。<br />从邪陷厥父，吾欲讨彼狂。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=18341&from=http://so.gushiwen.org/view.aspx?id=72678"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(18341)"><img id="copyimg18341" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('18341','http://m.gushiwen.org/view_18341.aspx')" onmouseout="outweixin(18341)"><img id="weixinimg18341" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood18341" href="javascript:goodNew('18341','http://so.gushiwen.org/view.aspx?id=72678',6)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;6</span></a></div>
</div>
<div id="toolCopy18341" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin18341" style="background-color:aqua;"></div>
<div id="toolPlay18341" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%92%8f%e5%8f%b2%e6%80%80%e5%8f%a4">咏史怀古</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare71680">半壁横江矗起，一舟载雨孤行。凭空怒浪兼天涌，不尽六朝声。隔岸荒云远断，绕矶小树微明。旧时燕子还飞否？今古不胜情。——明代·归庄《锦堂春·半壁横江矗起》http://so.gushiwen.org/view_71680.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(71680)" id="btnShangxi71680"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(71680)" id="btnZhushi71680"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(71680)" id="btnYiwen71680" />
<script type="text/javascript">
                        document.getElementById("btnZhushi71680").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen71680").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_71680.aspx"><b>锦堂春·半壁横江矗起</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e6%98%8e%e4%bb%a3">明代</a><span>：</span><a href="/search.aspx?value=%e5%bd%92%e5%ba%84">归庄</a></p>
<div class="contson" id="contson71680">
<p>半壁横江矗起，一舟载雨孤行。凭空怒浪兼天涌，不尽六朝声。<br />隔岸荒云远断，绕矶小树微明。旧时燕子还飞否？今古不胜情。</p>
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=71680&from=http://so.gushiwen.org/view.aspx?id=72678"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(71680)"><img id="copyimg71680" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('71680','http://m.gushiwen.org/view_71680.aspx')" onmouseout="outweixin(71680)"><img id="weixinimg71680" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood71680" href="javascript:goodNew('71680','http://so.gushiwen.org/view.aspx?id=72678',9)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;9</span></a></div>
</div>
<div id="toolCopy71680" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin71680" style="background-color:aqua;"></div>
<div id="toolPlay71680" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%80%e5%8f%a4">怀古</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_30.aspx">客路青山外，行舟绿水前。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3821.aspx">青冥浩荡不见底，日月照耀金银台。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
