
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
菩萨蛮·雾窗寒对遥天暮原文、翻译及赏析_纳兰性德_古诗文网
</title>
<meta name="description" content="雾窗寒对遥天暮，暮天遥对寒窗雾。花落正啼鸦，鸦啼正落花。袖罗垂影瘦，瘦影垂罗袖。风翦一丝红，红丝一翦风。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_72807.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_72807.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare72807">雾窗寒对遥天暮，暮天遥对寒窗雾。花落正啼鸦，鸦啼正落花。袖罗垂影瘦，瘦影垂罗袖。风翦一丝红，红丝一翦风。——清代·纳兰性德《菩萨蛮·雾窗寒对遥天暮》http://so.gushiwen.org/view_72807.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(72807)" id="btnShangxi72807"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(72807)" id="btnZhushi72807"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(72807)" id="btnYiwen72807" />
<script type="text/javascript">
                        document.getElementById("btnShangxi72807").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi72807").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">菩萨蛮·雾窗寒对遥天暮</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e6%b8%85%e4%bb%a3">清代</a><span>：</span><a href="/author_188.aspx">纳兰性德</a> </p>
<div class="contson" id="contson72807">
雾窗寒对遥天暮，暮天遥对寒窗雾。<br />花落正啼鸦，鸦啼正落花。<br />袖罗垂影瘦，瘦影垂罗袖。<br />风翦一丝红，红丝一翦风。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=72807&from=http://so.gushiwen.org/view.aspx?id=72807"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(72807)"><img id="copyimg72807" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('72807','http://m.gushiwen.org/view_72807.aspx')" onmouseout="outweixin(72807)"><img id="weixinimg72807" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=72807"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=6551011149"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood72807" href="javascript:goodNew('72807','http://so.gushiwen.org/view.aspx?id=72807',35)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;35</span></a></div>
</div>
<div class="toolerweima" id="weixin72807" style="background-color:aqua;"></div>
<div id="toolPlay72807" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%9b%9e%e6%96%87">回文</a>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">注释<span style="display:none;">31006</span></h2>
回文：<a href="http://so.gushiwen.org/view_72807.aspx">诗</a>词中的一种修辞手法。即诗或词中之各句皆可颠倒读之并均能成诵，使一句化为两句，又两两成义有韵。对此种修辞手法的起源说法不一，一说源于南朝梁<a href="http://so.gushiwen.org/author_855.aspx">刘勰</a>，其《文心雕龙·明诗》中云：“回文所兴，则道原为始。联句共韵，则柏梁馀制。”但道原之作已佚；一说起自前秦窦滔妻苏蕙的《璇玑图》诗。<br />风剪：即风吹。剪，有快速之意。
</div>
<div class="dingpai">
<a id="ding31006" href="javascript:ding('31006','http://so.gushiwen.org/view.aspx?id=72807')">有用(13)</a><a id="pai31006" style=" margin-left:10px;" href="javascript:pai('31006','http://so.gushiwen.org/view.aspx?id=72807')">没用(8)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">简析<span style="display:none;">20166</span></h2>
　　盛冬铃《<a href="http://so.gushiwen.org/author_188.aspx">纳兰性德</a>词选》：“这是一阕回文词，每句都颠倒可诵，一句化为两句，两两成义有韵。回文作为<a href="http://so.gushiwen.org/view_72807.aspx">诗</a>词的一种别体，历来不乏作者，但要做到字句回旋往返，屈曲成文，并不是容易的事。有些人把这当作文字游戏，不免因词害义，以至文理凝涩，牵强难通，结果是欲显聪明，反而给人以捉襟见肘的感觉。容若此作虽然并无特别值得称颂之处，但清新流畅，运笔自如，在同类作品中自属佼佼者，故录之以备一格。
</div>
<div class="dingpai">
<a id="dingsx20166" href="javascript:dingsx('20166','http://so.gushiwen.org/view.aspx?id=72807')">有用(9)</a><a id="paisx20166" style=" margin-left:10px;" href="javascript:paisx('20166','http://so.gushiwen.org/view.aspx?id=72807')">没用(2)</a>
</div>
<div class="cankao">
<p style=" color:#919090;margin:0px; font-size:12px;line-height:160%;">本节内容整理自网络（或由匿名网友上传），原作者已无法考证，版权归原作者所有。<a style=" color:#919090;" href="http://www.gushiwen.org/">本站</a>免费发布仅供学习参考，其观点不代表本站立场。站务邮箱：service@gushiwen.org</p>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor188">纳兰性德（1655－1685），满洲人，字容若，号楞伽山人，清代最著名词人之一。其诗词“纳兰词”在清代以至整个中国词坛上都享有很高的声誉，在中国文学史上也占有光采夺目的一席。他生活于满汉融合时期，其贵族家庭兴衰具有关联于王朝国事的典型性。虽侍从帝王，却向往经历平淡。特殊的生活环境背景，加之个人的超逸才华，使其诗词创作呈现出独特的个性和鲜明的艺术风格。流传至今的《木兰花令&#183;拟古决绝词》——“人生若只如初见，何事秋风悲画扇？等闲变却故人心，却道故人心易变。”富于意境，是其众多代表作之一。http://so.gushiwen.org/author_188.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_188.aspx"><img src="http://img.gushiwen.org/authorImg/nalanxingde.jpg" width="105" height="150" alt="纳兰性德"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_188.aspx"><b>纳兰性德</b></a></p>
<p style=" margin:0px;">纳兰性德（1655－1685），满洲人，字容若，号楞伽山人，清代最著名词人之一。其诗词“纳兰词”在清代以至整个中国词坛上都享有很高的声誉，在中国文学史上也占有光采夺目的一席。他生活于满汉融合时期，其贵族家庭兴衰具有关联于王朝国事的典型性。虽侍从帝王，却向往经历平淡。特殊的生活环境背景，加之个人的超逸才华，使其诗词创作呈现出独特的个性和鲜明的艺术风格。流传至今的《木兰花令&#183;拟古决绝词》——“人生若只如初见，何事秋风悲画扇？等闲变却故人心，却道故人心易变。”富于意境，是其众多代表作之一。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=188&from=http://so.gushiwen.org/view.aspx?id=72807"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(188)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('188','http://m.gushiwen.org/author_188.aspx')" onmouseout="outweixinAuthor(188)"><img id="weixinAuthorImg188" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor188" href="javascript:goodAuthorNew('188','http://so.gushiwen.org/view.aspx?id=72807',1512)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1512</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor188" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare69434">岭梅开后晓风寒，几度添衣怕倚栏。残菊犹能傲霜雪，休将白眼向人看。——清代·秋瑾《残菊》http://so.gushiwen.org/view_69434.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(69434)" id="btnShangxi69434"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(69434)" id="btnZhushi69434"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(69434)" id="btnYiwen69434" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_69434.aspx"><b>残菊</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e6%b8%85%e4%bb%a3">清代</a><span>：</span><a href="/search.aspx?value=%e7%a7%8b%e7%91%be">秋瑾</a></p>
<div class="contson" id="contson69434">
<p>岭梅开后晓风寒，几度添衣怕倚栏。<br />残菊犹能傲霜雪，休将白眼向人看。</p>
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=69434&from=http://so.gushiwen.org/view.aspx?id=72807"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(69434)"><img id="copyimg69434" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('69434','http://m.gushiwen.org/view_69434.aspx')" onmouseout="outweixin(69434)"><img id="weixinimg69434" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood69434" href="javascript:goodNew('69434','http://so.gushiwen.org/view.aspx?id=72807',17)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;17</span></a></div>
</div>
<div id="toolCopy69434" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin69434" style="background-color:aqua;"></div>
<div id="toolPlay69434" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare69392">人语梦频惊，辕铃动晓征。飞沙沉露气，残月带鸡声。客路逾千里，归心折五更。回怜江上宅，星汉近平明。——清代·张问陶《晓行》http://so.gushiwen.org/view_69392.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(69392)" id="btnShangxi69392"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(69392)" id="btnZhushi69392"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(69392)" id="btnYiwen69392" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_69392.aspx"><b>晓行</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e6%b8%85%e4%bb%a3">清代</a><span>：</span><a href="/search.aspx?value=%e5%bc%a0%e9%97%ae%e9%99%b6">张问陶</a></p>
<div class="contson" id="contson69392">
<p>人语梦频惊，辕铃动晓征。<br />飞沙沉露气，残月带鸡声。<br />客路逾千里，归心折五更。<br />回怜江上宅，星汉近平明。</p>
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=69392&from=http://so.gushiwen.org/view.aspx?id=72807"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(69392)"><img id="copyimg69392" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('69392','http://m.gushiwen.org/view_69392.aspx')" onmouseout="outweixin(69392)"><img id="weixinimg69392" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood69392" href="javascript:goodNew('69392','http://so.gushiwen.org/view.aspx?id=72807',3)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;3</span></a></div>
</div>
<div id="toolCopy69392" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin69392" style="background-color:aqua;"></div>
<div id="toolPlay69392" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare69411">西郊落花天下奇，古人但赋伤春诗。西郊车马一朝尽，定庵先生沽酒来赏之。先生探春人不觉，先生送春人又嗤。呼朋亦得三四子，出城失色神皆痴。如钱塘潮夜澎湃，如昆阳战晨披靡；如八万四千天女洗脸罢，齐向此地倾胭脂。奇龙怪凤爱漂泊，琴高之鲤何反欲上天为？玉皇宫中空若洗，三十六界无一青蛾眉。又如先生平生之忧患，恍惚怪诞百出无穷期。先生读书尽三藏，最喜维摩卷里多清词。又闻净土落花深四寸，瞑目观赏尤神驰。西方净国未可到，下笔绮语何漓漓！安得树有不尽之花更雨新好者，三百六十日长是落花时。——清代·龚自珍《西郊落花歌》http://so.gushiwen.org/view_69411.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(69411)" id="btnShangxi69411"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(69411)" id="btnZhushi69411"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(69411)" id="btnYiwen69411" />
<script type="text/javascript">
                        document.getElementById("btnShangxi69411").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_69411.aspx"><b>西郊落花歌</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e6%b8%85%e4%bb%a3">清代</a><span>：</span><a href="/search.aspx?value=%e9%be%9a%e8%87%aa%e7%8f%8d">龚自珍</a></p>
<div class="contson" id="contson69411">
<p>西郊落花天下奇，古人但赋伤春诗。<br />西郊车马一朝尽，定庵先生沽酒来赏之。<br />先生探春人不觉，先生送春人又嗤。<br />呼朋亦得三四子，出城失色神皆痴。<br />如钱塘潮夜澎湃，如昆阳战晨披靡；<br />如八万四千天女洗脸罢，齐向此地倾胭脂。<br />奇龙怪凤爱漂泊，琴高之鲤何反欲上天为？<br />玉皇宫中空若洗，三十六界无一青蛾眉。<br />又如先生平生之忧患，恍惚怪诞百出无穷期。<br />先生读书尽三藏，最喜维摩卷里多清词。<br />又闻净土落花深四寸，瞑目观赏尤神驰。<br />西方净国未可到，下笔绮语何漓漓！<br />安得树有不尽之花更雨新好者，三百六十日长是落花时。</p>
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=69411&from=http://so.gushiwen.org/view.aspx?id=72807"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(69411)"><img id="copyimg69411" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('69411','http://m.gushiwen.org/view_69411.aspx')" onmouseout="outweixin(69411)"><img id="weixinimg69411" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood69411" href="javascript:goodNew('69411','http://so.gushiwen.org/view.aspx?id=72807',22)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;22</span></a></div>
</div>
<div id="toolCopy69411" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin69411" style="background-color:aqua;"></div>
<div id="toolPlay69411" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%86%99%e8%8a%b1">写花</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
<span>，</span><a href="/type.aspx?p=1&t=%e8%b5%9e%e7%be%8e">赞美</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2409.aspx">今夜偏知春气暖，虫声新透绿窗纱。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1569.aspx">谁道投鞭飞渡，忆昔鸣髇血污，风雨佛狸愁。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
