
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
送白利从金吾董将军西征原文、翻译及赏析_李白古诗_古诗文网
</title>
<meta name="description" content="西羌延国讨，白起佐军威。剑决浮云气，弓弯明月辉。马行边草绿，旌卷曙霜飞。抗手凛相顾，寒风生铁衣。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_8137.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_8137.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare8137">西羌延国讨，白起佐军威。剑决浮云气，弓弯明月辉。马行边草绿，旌卷曙霜飞。抗手凛相顾，寒风生铁衣。——唐代·李白《送白利从金吾董将军西征》http://so.gushiwen.org/view_8137.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(8137)" id="btnShangxi8137"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(8137)" id="btnZhushi8137"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(8137)" id="btnYiwen8137" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">送白利从金吾董将军西征</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_247.aspx">李白</a> </p>
<div class="contson" id="contson8137">
西羌延国讨，白起佐军威。剑决浮云气，弓弯明月辉。
<br />
马行边草绿，旌卷曙霜飞。抗手凛相顾，寒风生铁衣。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=8137&from=http://so.gushiwen.org/view.aspx?id=8137"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(8137)"><img id="copyimg8137" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('8137','http://m.gushiwen.org/view_8137.aspx')" onmouseout="outweixin(8137)"><img id="weixinimg8137" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=8137"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=7672538257"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood8137" href="javascript:goodNew('8137','http://so.gushiwen.org/view.aspx?id=8137',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin8137" style="background-color:aqua;"></div>
<div id="toolPlay8137" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor247">李白（701年－762年），字太白，号青莲居士，唐朝浪漫主义诗人，被后人誉为“诗仙”。祖籍陇西成纪(待考)，出生于西域碎叶城，4岁再随父迁至剑南道绵州。李白存世诗文千余篇，有《李太白集》传世。762年病逝，享年61岁。其墓在今安徽当涂，四川江油、湖北安陆有纪念馆。http://so.gushiwen.org/author_247.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_247.aspx"><img src="http://img.gushiwen.org/authorImg/libai.jpg" width="105" height="150" alt="李白"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_247.aspx"><b>李白</b></a></p>
<p style=" margin:0px;">李白（701年－762年），字太白，号青莲居士，唐朝浪漫主义诗人，被后人誉为“诗仙”。祖籍陇西成纪(待考)，出生于西域碎叶城，4岁再随父迁至剑南道绵州。李白存世诗文千余篇，有《李太白集》传世。762年病逝，享年61岁。其墓在今安徽当涂，四川江油、湖北安陆有纪念馆。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=247&from=http://so.gushiwen.org/view.aspx?id=8137"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(247)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('247','http://m.gushiwen.org/author_247.aspx')" onmouseout="outweixinAuthor(247)"><img id="weixinAuthorImg247" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor247" href="javascript:goodAuthorNew('247','http://so.gushiwen.org/view.aspx?id=8137',4896)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;4896</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor247" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare37424">傍岩依树结檐楹，夏物萧疏景更清。滩响忽高何处雨，松阴自转远山晴。见多邻犬遥相认，来惯幽禽近不惊。争得便夸饶胜事，九衢尘里免劳生。——唐代·吴融《书怀》http://so.gushiwen.org/view_37424.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(37424)" id="btnShangxi37424"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(37424)" id="btnZhushi37424"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(37424)" id="btnYiwen37424" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_37424.aspx"><b>书怀</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%90%b4%e8%9e%8d">吴融</a></p>
<div class="contson" id="contson37424">
傍岩依树结檐楹，夏物萧疏景更清。滩响忽高何处雨，
<br />
松阴自转远山晴。见多邻犬遥相认，来惯幽禽近不惊。
<br />
争得便夸饶胜事，九衢尘里免劳生。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=37424&from=http://so.gushiwen.org/view.aspx?id=8137"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(37424)"><img id="copyimg37424" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('37424','http://m.gushiwen.org/view_37424.aspx')" onmouseout="outweixin(37424)"><img id="weixinimg37424" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood37424" href="javascript:goodNew('37424','http://so.gushiwen.org/view.aspx?id=8137',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy37424" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin37424" style="background-color:aqua;"></div>
<div id="toolPlay37424" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare32535">越鸟栖不定，孤飞入齐乡。日暮天欲雨，那兼羽翎伤。州民言刺史，蠹物甚于蝗。受命大执法，草草是行装。仆隶皆分散，单车驿路长。四顾无相识，奔驰若投荒。重门下长锁，树影空过墙。驱囚绕廊屋，bb々如牛羊。狱吏相对语，簿书堆满床。敲枷打锁声，终日在目旁。既舍三山侣，来馀五斗粮。忍学空城雀，潜身入官仓。国中天子令，头上白日光。曲木用处多，不如直为梁。恐孤食恩地，昼夜心不遑。仲夏天气热，鬓须忽成霜。社鼠不可灌，城狐不易防。偶于擒纵间，尽得见否臧。截断奸吏舌，擘开冤人肠。明朝向西望，走马归汶阳。——唐代·曹邺《奉命齐州推事毕寄本府尚书》http://so.gushiwen.org/view_32535.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(32535)" id="btnShangxi32535"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(32535)" id="btnZhushi32535"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(32535)" id="btnYiwen32535" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_32535.aspx"><b>奉命齐州推事毕寄本府尚书</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9b%b9%e9%82%ba">曹邺</a></p>
<div class="contson" id="contson32535">
越鸟栖不定，孤飞入齐乡。日暮天欲雨，那兼羽翎伤。
<br />
州民言刺史，蠹物甚于蝗。受命大执法，草草是行装。
<br />
仆隶皆分散，单车驿路长。四顾无相识，奔驰若投荒。
<br />
重门下长锁，树影空过墙。驱囚绕廊屋，bb々如牛羊。
<br />
狱吏相对语，簿书堆满床。敲枷打锁声，终日在目旁。
<br />
既舍三山侣，来馀五斗粮。忍学空城雀，潜身入官仓。
<br />
国中天子令，头上白日光。曲木用处多，不如直为梁。
<br />
恐孤食恩地，昼夜心不遑。仲夏天气热，鬓须忽成霜。
<br />
社鼠不可灌，城狐不易防。偶于擒纵间，尽得见否臧。
<br />
截断奸吏舌，擘开冤人肠。明朝向西望，走马归汶阳。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=32535&from=http://so.gushiwen.org/view.aspx?id=8137"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(32535)"><img id="copyimg32535" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('32535','http://m.gushiwen.org/view_32535.aspx')" onmouseout="outweixin(32535)"><img id="weixinimg32535" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood32535" href="javascript:goodNew('32535','http://so.gushiwen.org/view.aspx?id=8137',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy32535" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin32535" style="background-color:aqua;"></div>
<div id="toolPlay32535" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare34428">渡海登仙籍，还家备汉仪。孤舟无岸泊，万里有星随。积水浮魂梦，流年半别离。东风未回日，音信杳难期。——唐代·张乔《送宾贡金夷吾奉使归本国》http://so.gushiwen.org/view_34428.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(34428)" id="btnShangxi34428"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(34428)" id="btnZhushi34428"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(34428)" id="btnYiwen34428" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_34428.aspx"><b>送宾贡金夷吾奉使归本国</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%bc%a0%e4%b9%94">张乔</a></p>
<div class="contson" id="contson34428">
渡海登仙籍，还家备汉仪。孤舟无岸泊，万里有星随。
<br />
积水浮魂梦，流年半别离。东风未回日，音信杳难期。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=34428&from=http://so.gushiwen.org/view.aspx?id=8137"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(34428)"><img id="copyimg34428" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('34428','http://m.gushiwen.org/view_34428.aspx')" onmouseout="outweixin(34428)"><img id="weixinimg34428" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood34428" href="javascript:goodNew('34428','http://so.gushiwen.org/view.aspx?id=8137',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy34428" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin34428" style="background-color:aqua;"></div>
<div id="toolPlay34428" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2688.aspx">芰荷迭映蔚，蒲稗相因依。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_4298.aspx">细读离骚还痛饮，饱看修竹何妨肉。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
