
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
楚夕旅泊古兴原文、翻译及赏析_岑参古诗_古诗文网
</title>
<meta name="description" content="独鹤唳江月，孤帆凌楚云。秋风冷萧瑟，芦荻花纷纷。忽思湘川老，欲访云中君。骐驎息悲鸣，愁见豺虎群。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_9281.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_9281.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare9281">独鹤唳江月，孤帆凌楚云。秋风冷萧瑟，芦荻花纷纷。忽思湘川老，欲访云中君。骐驎息悲鸣，愁见豺虎群。——唐代·岑参《楚夕旅泊古兴》http://so.gushiwen.org/view_9281.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(9281)" id="btnShangxi9281"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(9281)" id="btnZhushi9281"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(9281)" id="btnYiwen9281" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">楚夕旅泊古兴</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_113.aspx">岑参</a> </p>
<div class="contson" id="contson9281">
独鹤唳江月，孤帆凌楚云。秋风冷萧瑟，芦荻花纷纷。
<br />
忽思湘川老，欲访云中君。骐驎息悲鸣，愁见豺虎群。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=9281&from=http://so.gushiwen.org/view.aspx?id=9281"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(9281)"><img id="copyimg9281" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('9281','http://m.gushiwen.org/view_9281.aspx')" onmouseout="outweixin(9281)"><img id="weixinimg9281" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=9281"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=1264293728"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood9281" href="javascript:goodNew('9281','http://so.gushiwen.org/view.aspx?id=9281',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin9281" style="background-color:aqua;"></div>
<div id="toolPlay9281" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor113">岑参（约715-770年），唐代边塞诗人，南阳人，太宗时功臣岑文本重孙，后徙居江陵。[1-2]  岑参早岁孤贫，从兄就读，遍览史籍。唐玄宗天宝三载（744年）进士，初为率府兵曹参军。后两次从军边塞，先在安西节度使高仙芝幕府掌书记；天宝末年，封常清为安西北庭节度使时，为其幕府判官。代宗时，曾官嘉州刺史（今四川乐山），世称“岑嘉州”。大历五年（770年）卒于成都。http://so.gushiwen.org/author_113.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_113.aspx"><img src="http://img.gushiwen.org/authorImg/cencan.jpg" width="105" height="150" alt="岑参"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_113.aspx"><b>岑参</b></a></p>
<p style=" margin:0px;">岑参（约715-770年），唐代边塞诗人，南阳人，太宗时功臣岑文本重孙，后徙居江陵。[1-2] 岑参早岁孤贫，从兄就读，遍览史籍。唐玄宗天宝三载（744年）进士，初为率府兵曹参军。后两次从军边塞，先在安西节度使高仙芝幕府掌书记；天宝末年，封常清为安西北庭节度使时，为其幕府判官。代宗时，曾官嘉州刺史（今四川乐山），世称“岑嘉州”。大历五年（770年）卒于成都。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=113&from=http://so.gushiwen.org/view.aspx?id=9281"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(113)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('113','http://m.gushiwen.org/author_113.aspx')" onmouseout="outweixinAuthor(113)"><img id="weixinAuthorImg113" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor113" href="javascript:goodAuthorNew('113','http://so.gushiwen.org/view.aspx?id=9281',943)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;943</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor113" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare21268">昆明春，昆明春，春池岸古春流新。影浸南山青滉漾，波沉西日红奫沦。往年因旱池枯竭，龟尾曳涂鱼喣沫。诏开八水注恩波，千介万鳞同日活。今来净绿水照天，游鱼鱍鱍莲田田。洲香杜若抽心短，沙暖鸳鸯铺翅眠。动植飞沉皆遂性，皇泽如春无不被。渔者仍丰网罟资，贫人久获菰蒲利。诏以昆明近帝城，官家不得收其征。菰蒲无租鱼无税，近水之人感君惠。感君惠，独何人，吾闻率土皆王民，远民何疏近何亲。愿推此惠及天下，无远无近同欣欣。吴兴山中罢榷茗，鄱阳坑里休封银。天涯地角无禁利，熙熙同似昆明春。——唐代·白居易《昆明春－思王泽之广被也》http://so.gushiwen.org/view_21268.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(21268)" id="btnShangxi21268"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(21268)" id="btnZhushi21268"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(21268)" id="btnYiwen21268" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_21268.aspx"><b>昆明春－思王泽之广被也</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e7%99%bd%e5%b1%85%e6%98%93">白居易</a></p>
<div class="contson" id="contson21268">
昆明春，昆明春，春池岸古春流新。影浸南山青滉漾，
<br />
波沉西日红奫沦。往年因旱池枯竭，龟尾曳涂鱼喣沫。
<br />
诏开八水注恩波，千介万鳞同日活。今来净绿水照天，
<br />
游鱼鱍鱍莲田田。洲香杜若抽心短，沙暖鸳鸯铺翅眠。
<br />
动植飞沉皆遂性，皇泽如春无不被。渔者仍丰网罟资，
<br />
贫人久获菰蒲利。诏以昆明近帝城，官家不得收其征。
<br />
菰蒲无租鱼无税，近水之人感君惠。感君惠，独何人，
<br />
吾闻率土皆王民，远民何疏近何亲。愿推此惠及天下，
<br />
无远无近同欣欣。吴兴山中罢榷茗，鄱阳坑里休封银。
<br />
天涯地角无禁利，熙熙同似昆明春。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=21268&from=http://so.gushiwen.org/view.aspx?id=9281"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(21268)"><img id="copyimg21268" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('21268','http://m.gushiwen.org/view_21268.aspx')" onmouseout="outweixin(21268)"><img id="weixinimg21268" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood21268" href="javascript:goodNew('21268','http://so.gushiwen.org/view.aspx?id=9281',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy21268" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin21268" style="background-color:aqua;"></div>
<div id="toolPlay21268" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare10852">户外昭容紫袖垂，双瞻御座引朝仪。香飘合殿春风转，花覆千官淑景移。昼漏希闻高阁报，天颜有喜近臣知。宫中每出归东省，会送夔龙集凤池。——唐代·杜甫《紫宸殿退朝口号》http://so.gushiwen.org/view_10852.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(10852)" id="btnShangxi10852"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(10852)" id="btnZhushi10852"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(10852)" id="btnYiwen10852" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_10852.aspx"><b>紫宸殿退朝口号</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%9c%e7%94%ab">杜甫</a></p>
<div class="contson" id="contson10852">
户外昭容紫袖垂，双瞻御座引朝仪。香飘合殿春风转，
<br />
花覆千官淑景移。昼漏希闻高阁报，天颜有喜近臣知。
<br />
宫中每出归东省，会送夔龙集凤池。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=10852&from=http://so.gushiwen.org/view.aspx?id=9281"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(10852)"><img id="copyimg10852" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('10852','http://m.gushiwen.org/view_10852.aspx')" onmouseout="outweixin(10852)"><img id="weixinimg10852" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood10852" href="javascript:goodNew('10852','http://so.gushiwen.org/view.aspx?id=9281',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy10852" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin10852" style="background-color:aqua;"></div>
<div id="toolPlay10852" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare4497">林间艳色骄天马，苑里秾华伴丽人。愿逐南风飞帝席，年年含笑舞青春。——唐代·张说《桃花园马上应制》http://so.gushiwen.org/view_4497.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(4497)" id="btnShangxi4497"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(4497)" id="btnZhushi4497"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(4497)" id="btnYiwen4497" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_4497.aspx"><b>桃花园马上应制</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%bc%a0%e8%af%b4">张说</a></p>
<div class="contson" id="contson4497">
林间艳色骄天马，苑里秾华伴丽人。
<br />
愿逐南风飞帝席，年年含笑舞青春。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=4497&from=http://so.gushiwen.org/view.aspx?id=9281"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(4497)"><img id="copyimg4497" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('4497','http://m.gushiwen.org/view_4497.aspx')" onmouseout="outweixin(4497)"><img id="weixinimg4497" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood4497" href="javascript:goodNew('4497','http://so.gushiwen.org/view.aspx?id=9281',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy4497" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin4497" style="background-color:aqua;"></div>
<div id="toolPlay4497" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_2760.aspx">丁丁漏水夜何长，漫漫轻云露月光。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3193.aspx">野客预知农事好，三冬瑞雪未全消。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
