
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
还高冠潭口留别舍弟原文、翻译及赏析_岑参古诗_古诗文网
</title>
<meta name="description" content="昨日山有信，只今耕种时。遥传杜陵叟，怪我还山迟。独向潭上酌，无人林下期。东谿忆汝处，闲卧对鸬鹚。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_9566.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_9566.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare9566">昨日山有信，只今耕种时。遥传杜陵叟，怪我还山迟。独向潭上酌，无人林下期。东谿忆汝处，闲卧对鸬鹚。——唐代·岑参《还高冠潭口留别舍弟》http://so.gushiwen.org/view_9566.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(9566)" id="btnShangxi9566"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(9566)" id="btnZhushi9566"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(9566)" id="btnYiwen9566" />
<script type="text/javascript">
                        document.getElementById("btnShangxi9566").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi9566").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen9566").style.display = "block";
                    </script>
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">还高冠潭口留别舍弟</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_113.aspx">岑参</a> </p>
<div class="contson" id="contson9566">
昨日山有信，只今耕种时。<br />遥传杜陵叟，怪我还山迟。<br />独向潭上酌，无人林下期。<br />东谿忆汝处，闲卧对鸬鹚。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=9566&from=http://so.gushiwen.org/view.aspx?id=9566"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(9566)"><img id="copyimg9566" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('9566','http://m.gushiwen.org/view_9566.aspx')" onmouseout="outweixin(9566)"><img id="weixinimg9566" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=9566"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=3064097845"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood9566" href="javascript:goodNew('9566','http://so.gushiwen.org/view.aspx?id=9566',4)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;4</span></a></div>
</div>
<div class="toolerweima" id="weixin9566" style="background-color:aqua;"></div>
<div id="toolPlay9566" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e6%8a%92%e6%83%85">抒情</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%9d%e5%bf%b5">思念</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%85%84%e5%bc%9f">兄弟</a>
<span>，</span><a href="/type.aspx?p=1&t=%e9%97%b2%e9%80%82">闲适</a>
</div>
</div>
<div id="fanyi41888" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="fanyiShow(41888)"></div>
<h2 style="margin-bottom:10px;font-weight:bold; font-size:16px;">译文及注释</h2>
<p>译文<br />昨日山中捎信给我，眼下已到耕种时节。<br />信中怪我还山太迟，山中放友情深意切。<br />如今独向潭上饮酒，再无兄弟林下相约。<br />东溪之上想你之时，只能对着鸽鹤闯卧。</p>
<p>注释<br />⑴高冠潭：在终南山高冠谷内，为岑参隐居之处。舍弟，本家弟。舍，对自己卑幼亲届的谦称。<br />⑵只今：如今。<br />⑶遥传：从远处传来。杜陵叟（sǒu）：这里指与军参一同隐居的人。杜陵，在长安东南，秦时置杜县，汉宣布陵墓在此地，故称。<br />⑷怪：责怪，埋怨。<br />⑸期：约会。<br />⑹东溪：指南冠谷中的溪水，代指诗隐居之处。汝：这里指诗人的
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:fanyiShow(41888)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="fanyiquan41888" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">译文及注释</h2>
<p><strong>译文<br /></strong>昨日山中捎信给我，眼下已到耕种时节。<br />信中怪我还山太迟，山中放友情深意切。<br />如今独向潭上饮酒，再无兄弟林下相约。<br />东溪之上想你之时，只能对着鸽鹤闯卧。</p>
<p><strong>注释<br /></strong>⑴高冠潭：在终南山高冠谷内，为<a href="http://so.gushiwen.org/author_113.aspx">岑参</a>隐居之处。舍弟，本家弟。舍，对自己卑幼亲届的谦称。<br />⑵只今：如今。<br />⑶遥传：从远处传来。杜陵叟（sǒu）：这里指与军参一同隐居的人。杜陵，在长安东南，秦时置杜县，汉宣布陵墓在此地，故称。<br />⑷怪：责怪，埋怨。<br />⑸期：约会。<br />⑹东溪：指南冠谷中的溪水，代指<a href="http://so.gushiwen.org/view_9566.aspx">诗</a>隐居之处。汝：这里指诗人的弟弟。<br />⑺鸬鹚（lú cí）：鱼鹰，渔人用以捕鱼的鸟。<a title="收起" href="javascript:fanyiClose(41888)">▲</a></p>
</div>
<div class="dingpai">
<a id="ding41888" href="javascript:ding('41888','http://so.gushiwen.org/view.aspx?id=9566')">有用(1)</a><a id="pai41888" style=" margin-left:10px;" href="javascript:pai('41888','http://so.gushiwen.org/view.aspx?id=9566')">没用(2)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">刘开扬．岑参诗选：四川文艺出版社，1986：21-22</span>
</div>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">2、</span>
<span style="width:610px; float:left;">高光复．高适岑参诗译释：黑龙江人民出版社，1984：160-162</span>
</div>
</div>
</div>
<div class="sons">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">创作背景<span style="display:none;">29020</span></h2>
　　天宝三载（744），<a href="http://so.gushiwen.org/author_113.aspx">岑参</a>应试及第，授官为右内率府兵曹参军，曾作《初授官题高冠草堂》以记其事。在这以前，<a href="http://so.gushiwen.org/view_9566.aspx">诗</a>人曾隐居终南山的高冠潭，时于长安与山间往还。这也是当时一些隐居以求官的士人常有的生活方式。这首诗即为诗人自长安还终南山隐居之处，告别自己弟弟时所作。
</div>
<div class="dingpai">
<a id="dingsx29020" href="javascript:dingsx('29020','http://so.gushiwen.org/view.aspx?id=9566')">有用(1)</a><a id="paisx29020" style=" margin-left:10px;" href="javascript:paisx('29020','http://so.gushiwen.org/view.aspx?id=9566')">没用(0)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">高光复．高适岑参诗译释：黑龙江人民出版社，1984：160-162</span>
</div>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">2、</span>
<span style="width:610px; float:left;">张桂丽，岑参《还高冠潭口留别舍弟》重读[J]，《古典文学知识》，2009.06</span>
</div>
</div>
</div>
<div id="shangxi29022" class="sons" style="position:relative; z-index:0px;">
<div class="contyishang" style="padding-bottom:10px;">
<div style=" z-index:100px; height:60px; width:100%; position:absolute; bottom:38px; background-image:url(/img/morebg.png); background-repeat:repeat-x; cursor:pointer;" onclick="shangxiShow(29022)"></div>
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　全诗八句可分为两层，都围绕“还”字来写。前四句写还山的原因，后四句设想还山后的情景。</p>
<p>　　诗的开头两句说山中带出信来，告诉诗人眼下已是耕种时节。“昨日”，不一定是确指，也可能是前些日子。不说故友捎信而说“山有信”，是一种委婉的说法，同时引出下文“还山”。隐居山中，时而读书，时而就种，魏晋以来一些隐居以求其志的士人们常常以这种方式生活，故信中以“耕种时”相告，催还之意自在其中。次两句紧承前两句，直接点出催还之意。“怪我还山迟”，乃是山中故友即“杜陵叟”“遥传”来的意思，用“遥传”，用“怪”，可见山中故友盼归之切，也看出诗人与他的情谊，故而不可不还。以上四句叙述，说自己当
<div style="text-align:center; margin-top:-5px;"><a style="text-decoration:none;" href="javascript:shangxiShow(29022)">展开阅读全文 ∨</a></div>
</div>
</div>
<div id="shangxiquan29022" class="sons" style="display:none;">
<div class="contyishang">
<h2 style="font-weight:bold; font-size:16px; margin-bottom:10px;">赏析</h2>
<p>　　全<a href="http://so.gushiwen.org/view_9566.aspx">诗</a>八句可分为两层，都围绕“还”字来写。前四句写还山的原因，后四句设想还山后的情景。</p>
<p>　　诗的开头两句说山中带出信来，告诉诗人眼下已是耕种时节。“昨日”，不一定是确指，也可能是前些日子。不说故友捎信而说“山有信”，是一种委婉的说法，同时引出下文“还山”。隐居山中，时而读书，时而就种，魏晋以来一些隐居以求其志的士人们常常以这种方式生活，故信中以“耕种时”相告，催还之意自在其中。次两句紧承前两句，直接点出催还之意。“怪我还山迟”，乃是山中故友即“杜陵叟”“遥传”来的意思，用“遥传”，用“怪”，可见山中故友盼归之切，也看出诗人与他的情谊，故而不可不还。以上四句叙述，说自己当从速还山。</p>
<p>　　以下四句写还山后的情景，为诗人的设想。“独向潭上酌，无人林下期”，“潭上“林下”为高冠潭口的环境，“酌”和“期”为隐居之地的生活内容，说“独”，说“无”，可见诗人别弟还山后的孤独，其中透露出兄弟之间的深情。这两句虽是对别后情景的设想，但诗人也许在以往的山间生活中对此早有体验，因而不忍便与兄弟分别，“还山迟”的原因也许主要在于此。诗的最后两句仍设想还山后思念弟弟时的情景。“忆汝处”的“处”字，有彼时彼地之意。当诗人还山后想起弟弟的时候，既不能与弟弟同去潭边饮酒，又不能与弟弟携手林下同游，只能“闲卧对鸬鹚”，难以排遣的思念，难以割舍的留恋即在这一生活细节中含蓄地表现出来，不忍分别之情也就在其中了。也有人以为这后四句是转述杜陵叟的话，说杜陵里独处山间，如何思念诗人，如果这样理解，那么此篇便主要是写“杜陵叟”，似与别弟的意义不合。</p>
<p>　　这首诗写得极为平淡自然，很适于表达山问闲居情趣。而平淡自然中义含不尽之情。诗的前半写不得不归，后半写不忍便归，把故友之情、兄弟之情都表现得很含蓄，很真切。<a title="收起" href="javascript:shangxiClose(29022)">▲</a></p>
</div>
<div class="dingpai">
<a id="dingsx29022" href="javascript:dingsx('29022','http://so.gushiwen.org/view.aspx?id=9566')">有用(1)</a><a id="paisx29022" style=" margin-left:10px;" href="javascript:paisx('29022','http://so.gushiwen.org/view.aspx?id=9566')">没用(0)</a>
</div>
<div class="cankao">
<p style=" color:#999999;margin:0px; font-size:12px;line-height:160%;">参考资料：</p>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">1、</span>
<span style="width:610px; float:left;">张桂丽，岑参《还高冠潭口留别舍弟》重读[J]，《古典文学知识》，2009.06</span>
</div>
<div style="clear:both; float:left;color:#999999; font-size:12px; width:630px; margin-top:4px;">
<span style="width:20px; float:left;">2、</span>
<span style="width:610px; float:left;">高光复．高适岑参诗译释：黑龙江人民出版社，1984：160-162</span>
</div>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor113">岑参（约715-770年），唐代边塞诗人，南阳人，太宗时功臣岑文本重孙，后徙居江陵。[1-2]  岑参早岁孤贫，从兄就读，遍览史籍。唐玄宗天宝三载（744年）进士，初为率府兵曹参军。后两次从军边塞，先在安西节度使高仙芝幕府掌书记；天宝末年，封常清为安西北庭节度使时，为其幕府判官。代宗时，曾官嘉州刺史（今四川乐山），世称“岑嘉州”。大历五年（770年）卒于成都。http://so.gushiwen.org/author_113.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_113.aspx"><img src="http://img.gushiwen.org/authorImg/cencan.jpg" width="105" height="150" alt="岑参"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_113.aspx"><b>岑参</b></a></p>
<p style=" margin:0px;">岑参（约715-770年），唐代边塞诗人，南阳人，太宗时功臣岑文本重孙，后徙居江陵。[1-2] 岑参早岁孤贫，从兄就读，遍览史籍。唐玄宗天宝三载（744年）进士，初为率府兵曹参军。后两次从军边塞，先在安西节度使高仙芝幕府掌书记；天宝末年，封常清为安西北庭节度使时，为其幕府判官。代宗时，曾官嘉州刺史（今四川乐山），世称“岑嘉州”。大历五年（770年）卒于成都。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=113&from=http://so.gushiwen.org/view.aspx?id=9566"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(113)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('113','http://m.gushiwen.org/author_113.aspx')" onmouseout="outweixinAuthor(113)"><img id="weixinAuthorImg113" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor113" href="javascript:goodAuthorNew('113','http://so.gushiwen.org/view.aspx?id=9566',946)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;946</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor113" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare5607">绝域阳关道，胡沙与塞尘。三春时有雁，万里少行人。苜蓿随天马，葡萄逐汉臣。当令外国惧，不敢觅和亲。——唐代·王维《送刘司直赴安西》http://so.gushiwen.org/view_5607.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(5607)" id="btnShangxi5607"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(5607)" id="btnZhushi5607"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(5607)" id="btnYiwen5607" />
<script type="text/javascript">
                        document.getElementById("btnShangxi5607").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi5607").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen5607").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_5607.aspx"><b>送刘司直赴安西</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e7%8e%8b%e7%bb%b4">王维</a></p>
<div class="contson" id="contson5607">
绝域阳关道，胡沙与塞尘。<br />三春时有雁，万里少行人。<br />苜蓿随天马，葡萄逐汉臣。<br />当令外国惧，不敢觅和亲。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=5607&from=http://so.gushiwen.org/view.aspx?id=9566"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(5607)"><img id="copyimg5607" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('5607','http://m.gushiwen.org/view_5607.aspx')" onmouseout="outweixin(5607)"><img id="weixinimg5607" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood5607" href="javascript:goodNew('5607','http://so.gushiwen.org/view.aspx?id=9566',10)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;10</span></a></div>
</div>
<div id="toolCopy5607" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin5607" style="background-color:aqua;"></div>
<div id="toolPlay5607" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%8a%92%e6%83%85">抒情</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%84%bf%e6%9c%9b">愿望</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%8f%8b%e4%ba%ba">友人</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare49545">轻云微月，二更酒醒船初发。孤城回望苍烟合。记得歌时，不记归时节。巾偏扇坠藤床滑，觉来幽梦无人说。此生飘荡何时歇？家在西南，常作东南别。——宋代·苏轼《醉落魄·离京口作》http://so.gushiwen.org/view_49545.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(49545)" id="btnShangxi49545"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(49545)" id="btnZhushi49545"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(49545)" id="btnYiwen49545" />
<script type="text/javascript">
                        document.getElementById("btnShangxi49545").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi49545").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen49545").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_49545.aspx"><b>醉落魄·离京口作</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%ae%8b%e4%bb%a3">宋代</a><span>：</span><a href="/search.aspx?value=%e8%8b%8f%e8%bd%bc">苏轼</a></p>
<div class="contson" id="contson49545">
轻云微月，二更酒醒船初发。孤城回望苍烟合。记得歌时，不记归时节。<br />巾偏扇坠藤床滑，觉来幽梦无人说。此生飘荡何时歇？家在西南，常作东南别。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=49545&from=http://so.gushiwen.org/view.aspx?id=9566"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(49545)"><img id="copyimg49545" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('49545','http://m.gushiwen.org/view_49545.aspx')" onmouseout="outweixin(49545)"><img id="weixinimg49545" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood49545" href="javascript:goodNew('49545','http://so.gushiwen.org/view.aspx?id=9566',11)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;11</span></a></div>
</div>
<div id="toolCopy49545" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin49545" style="background-color:aqua;"></div>
<div id="toolPlay49545" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e5%86%99%e6%99%af">写景</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%8a%92%e6%83%85">抒情</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%80%9d%e4%b9%a1">思乡</a>
</div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare72416">日出入安穷？时世不与人同。故春非我春，夏非我夏，秋非我秋，冬非我冬。泊如四海之池，遍观是邪谓何？吾知所乐，独乐六龙，六龙之调，使我心若。訾黄其何不徕下。——两汉·佚名《日出入》http://so.gushiwen.org/view_72416.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(72416)" id="btnShangxi72416"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(72416)" id="btnZhushi72416"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(72416)" id="btnYiwen72416" />
<script type="text/javascript">
                        document.getElementById("btnShangxi72416").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnZhushi72416").style.display = "block";
                    </script>
<script type="text/javascript">
                        document.getElementById("btnYiwen72416").style.display = "block";
                    </script>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_72416.aspx"><b>日出入</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e4%b8%a4%e6%b1%89">两汉</a><span>：</span><a href="/search.aspx?value=%e4%bd%9a%e5%90%8d">佚名</a></p>
<div class="contson" id="contson72416">
日出入安穷？时世不与人同。<br />故春非我春，夏非我夏，<br />秋非我秋，冬非我冬。<br />泊如四海之池，遍观是邪谓何？<br />吾知所乐，独乐六龙，<br />六龙之调，使我心若。<br />訾黄其何不徕下。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=72416&from=http://so.gushiwen.org/view.aspx?id=9566"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(72416)"><img id="copyimg72416" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('72416','http://m.gushiwen.org/view_72416.aspx')" onmouseout="outweixin(72416)"><img id="weixinimg72416" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood72416" href="javascript:goodNew('72416','http://so.gushiwen.org/view.aspx?id=9566',41)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;41</span></a></div>
</div>
<div id="toolCopy72416" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin72416" style="background-color:aqua;"></div>
<div id="toolPlay72416" style=" display:none;clear:both;"></div>
<div class="tag">
<a href="/type.aspx?p=1&t=%e4%b9%90%e5%ba%9c">乐府</a>
<span>，</span><a href="/type.aspx?p=1&t=%e7%a5%ad%e7%a5%80">祭祀</a>
<span>，</span><a href="/type.aspx?p=1&t=%e6%8a%92%e6%83%85">抒情</a>
<span>，</span><a href="/type.aspx?p=1&t=%e5%93%b2%e7%90%86">哲理</a>
</div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1554.aspx">推手遽止之，湿衣泪滂滂。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_3706.aspx">云来气接巫峡长，月出寒通雪山白。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
