
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
题井陉双谿李道士所居原文、翻译及赏析_岑参古诗_古诗文网
</title>
<meta name="description" content="五粒松花酒，双谿道士家。唯求缩却地，乡路莫教赊。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_9716.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_9716.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare9716">五粒松花酒，双谿道士家。唯求缩却地，乡路莫教赊。——唐代·岑参《题井陉双谿李道士所居》http://so.gushiwen.org/view_9716.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(9716)" id="btnShangxi9716"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(9716)" id="btnZhushi9716"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(9716)" id="btnYiwen9716" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">题井陉双谿李道士所居</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_113.aspx">岑参</a> </p>
<div class="contson" id="contson9716">
五粒松花酒，双谿道士家。唯求缩却地，乡路莫教赊。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=9716&from=http://so.gushiwen.org/view.aspx?id=9716"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(9716)"><img id="copyimg9716" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('9716','http://m.gushiwen.org/view_9716.aspx')" onmouseout="outweixin(9716)"><img id="weixinimg9716" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=9716"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=7399508105"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood9716" href="javascript:goodNew('9716','http://so.gushiwen.org/view.aspx?id=9716',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin9716" style="background-color:aqua;"></div>
<div id="toolPlay9716" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor113">岑参（约715-770年），唐代边塞诗人，南阳人，太宗时功臣岑文本重孙，后徙居江陵。[1-2]  岑参早岁孤贫，从兄就读，遍览史籍。唐玄宗天宝三载（744年）进士，初为率府兵曹参军。后两次从军边塞，先在安西节度使高仙芝幕府掌书记；天宝末年，封常清为安西北庭节度使时，为其幕府判官。代宗时，曾官嘉州刺史（今四川乐山），世称“岑嘉州”。大历五年（770年）卒于成都。http://so.gushiwen.org/author_113.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<div class="divimg">
<a href="/author_113.aspx"><img src="http://img.gushiwen.org/authorImg/cencan.jpg" width="105" height="150" alt="岑参"/></a>
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_113.aspx"><b>岑参</b></a></p>
<p style=" margin:0px;">岑参（约715-770年），唐代边塞诗人，南阳人，太宗时功臣岑文本重孙，后徙居江陵。[1-2] 岑参早岁孤贫，从兄就读，遍览史籍。唐玄宗天宝三载（744年）进士，初为率府兵曹参军。后两次从军边塞，先在安西节度使高仙芝幕府掌书记；天宝末年，封常清为安西北庭节度使时，为其幕府判官。代宗时，曾官嘉州刺史（今四川乐山），世称“岑嘉州”。大历五年（770年）卒于成都。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=113&from=http://so.gushiwen.org/view.aspx?id=9716"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(113)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('113','http://m.gushiwen.org/author_113.aspx')" onmouseout="outweixinAuthor(113)"><img id="weixinAuthorImg113" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor113" href="javascript:goodAuthorNew('113','http://so.gushiwen.org/view.aspx?id=9716',946)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;946</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor113" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare11536">漳滨与蒿里，逝水竟同年。欲挂留徐剑，犹回忆戴船。相知成白首，此别间黄泉。风雨嗟何及，江湖涕泫然。修文将管辂，奉使失张骞。史阁行人在，诗家秀句传。客亭鞍马绝，旅榇网虫悬。复魄昭丘远，归魂素浐偏。樵苏封葬地，喉舌罢朝天。秋色凋春草，王孙若个边。——唐代·杜甫《哭李尚书（之芳）》http://so.gushiwen.org/view_11536.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(11536)" id="btnShangxi11536"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(11536)" id="btnZhushi11536"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(11536)" id="btnYiwen11536" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_11536.aspx"><b>哭李尚书（之芳）</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%9d%9c%e7%94%ab">杜甫</a></p>
<div class="contson" id="contson11536">
漳滨与蒿里，逝水竟同年。欲挂留徐剑，犹回忆戴船。
<br />
相知成白首，此别间黄泉。风雨嗟何及，江湖涕泫然。
<br />
修文将管辂，奉使失张骞。史阁行人在，诗家秀句传。
<br />
客亭鞍马绝，旅榇网虫悬。复魄昭丘远，归魂素浐偏。
<br />
樵苏封葬地，喉舌罢朝天。秋色凋春草，王孙若个边。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=11536&from=http://so.gushiwen.org/view.aspx?id=9716"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(11536)"><img id="copyimg11536" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('11536','http://m.gushiwen.org/view_11536.aspx')" onmouseout="outweixin(11536)"><img id="weixinimg11536" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood11536" href="javascript:goodNew('11536','http://so.gushiwen.org/view.aspx?id=9716',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy11536" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin11536" style="background-color:aqua;"></div>
<div id="toolPlay11536" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare18154">南下斯须隔帝乡，北行一步掩南方。悠悠烟景两边意，蜀客秦人各断肠。——唐代·欧阳詹《题秦岭》http://so.gushiwen.org/view_18154.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(18154)" id="btnShangxi18154"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(18154)" id="btnZhushi18154"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(18154)" id="btnYiwen18154" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_18154.aspx"><b>题秦岭</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%ac%a7%e9%98%b3%e8%a9%b9">欧阳詹</a></p>
<div class="contson" id="contson18154">
南下斯须隔帝乡，北行一步掩南方。
<br />
悠悠烟景两边意，蜀客秦人各断肠。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=18154&from=http://so.gushiwen.org/view.aspx?id=9716"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(18154)"><img id="copyimg18154" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('18154','http://m.gushiwen.org/view_18154.aspx')" onmouseout="outweixin(18154)"><img id="weixinimg18154" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood18154" href="javascript:goodNew('18154','http://so.gushiwen.org/view.aspx?id=9716',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy18154" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin18154" style="background-color:aqua;"></div>
<div id="toolPlay18154" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare14793">五马临流待幕宾，羡君谈笑出风尘。身闲就养宁辞远，世难移家莫厌贫。天际晓山三峡路，津头腊市九江人。何处遥知最惆怅，满湖青草雁声春。——唐代·卢纶《送崔琦赴宣州幕》http://so.gushiwen.org/view_14793.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(14793)" id="btnShangxi14793"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(14793)" id="btnZhushi14793"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(14793)" id="btnYiwen14793" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_14793.aspx"><b>送崔琦赴宣州幕</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e5%8d%a2%e7%ba%b6">卢纶</a></p>
<div class="contson" id="contson14793">
五马临流待幕宾，羡君谈笑出风尘。身闲就养宁辞远，
<br />
世难移家莫厌贫。天际晓山三峡路，津头腊市九江人。
<br />
何处遥知最惆怅，满湖青草雁声春。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=14793&from=http://so.gushiwen.org/view.aspx?id=9716"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(14793)"><img id="copyimg14793" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('14793','http://m.gushiwen.org/view_14793.aspx')" onmouseout="outweixin(14793)"><img id="weixinimg14793" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood14793" href="javascript:goodNew('14793','http://so.gushiwen.org/view.aspx?id=9716',2)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;2</span></a></div>
</div>
<div id="toolCopy14793" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin14793" style="background-color:aqua;"></div>
<div id="toolPlay14793" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_5520.aspx">初报边烽照石头，旋闻胡马集瓜州。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_133.aspx">若非群玉山头见，会向瑶台月下逢。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
