
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Cache-Control" content="no-siteapp" /><meta http-equiv="Cache-Control" content="no-transform " /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><title>
答窦拾遗卧病见寄原文、翻译及赏析_包佶古诗_古诗文网
</title>
<meta name="description" content="今春扶病移沧海，几度承恩对白花。送客屡闻帘外鹊，销愁已辨酒中蛇。瓶开枸杞悬泉水，鼎炼芙蓉伏火砂。误入尘埃牵吏役，羞将簿领到君家。" />
<script type="text/javascript">
        if (navigator.userAgent.match(/Android/i)) {
            window.location.href = "http://m.gushiwen.org/view_9865.aspx";
        }
        else if ((navigator.userAgent.indexOf('iPhone') != -1) || (navigator.userAgent.indexOf('iPod') != -1)) {
        window.location.href = "http://m.gushiwen.org/view_9865.aspx";
        }
    </script>
<link href="/css/skinSo20170706.css" rel="stylesheet" type="text/css" />
<script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?04660099568f561a75456483228a9516";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body onclick="closeshowBos()">
<div class="main1">
<div class="cont">
<div class="left">
<a href="http://www.gushiwen.org/">古诗文网</a>
</div>
<div class="right">
<div class="son1">
<a style="margin-left:1px;" href="http://www.gushiwen.org/">推荐</a>
<a href="/type.aspx" style="background-color:#757863;border-bottom:3px solid #F0EFE2;line-height:43px; height:43px;">诗文</a>
<a href="/mingju/">名句</a>
<a href="/authors/">作者</a>
<a href="/guwen/">古籍</a>
<a href="/user/collect.aspx" rel="nofollow">收藏</a>
<a href="/app/" target="_blank">下载</a>
<a style="width:65px;" href="http://www.juzi8.com/" target="_blank">句子吧</a>
</div>
<div class="son2">
<div class="search">
<form action="/search.aspx" onsubmit="return selectSearch()" contentType="text/html; charset=utf-8">
<input onkeydown="noajaxkeyUp()" onfocus="setInterval('showBos()',1000)" id="txtKey" name="value" type="text" value="" maxlength="40" autocomplete="off" style="height:25px; line-height:25px; float:left; padding-left:5px; width:264px; font-size:14px; clear:left; border:0px;" />
<input type="submit" style="float:right; width:20px; height:20px; clear:right; margin-top:4px; margin-right:3px; background-image:url(/img/docSearch.png); background-repeat:no-repeat; background-size:20px 20px; border:0px;cursor:pointer;" value="" />
<input id="b" style="display:none;" type="text" />
</form>
</div>
<div id="box"></div>
</div>
</div>
</div>
</div>
<div class="main3">
<div class="left">
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare9865">今春扶病移沧海，几度承恩对白花。送客屡闻帘外鹊，销愁已辨酒中蛇。瓶开枸杞悬泉水，鼎炼芙蓉伏火砂。误入尘埃牵吏役，羞将簿领到君家。——唐代·包佶《答窦拾遗卧病见寄》http://so.gushiwen.org/view_9865.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(9865)" id="btnShangxi9865"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(9865)" id="btnZhushi9865"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(9865)" id="btnYiwen9865" />
</div>
<h1 style="font-size:20px; line-height:22px; height:22px; margin-bottom:10px;">答窦拾遗卧病见寄</h1>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/author_2933.aspx">包佶</a> </p>
<div class="contson" id="contson9865">
今春扶病移沧海，几度承恩对白花。送客屡闻帘外鹊，
<br />
销愁已辨酒中蛇。瓶开枸杞悬泉水，鼎炼芙蓉伏火砂。
<br />
误入尘埃牵吏役，羞将簿领到君家。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=9865&from=http://so.gushiwen.org/view.aspx?id=9865"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(9865)"><img id="copyimg9865" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('9865','http://m.gushiwen.org/view_9865.aspx')" onmouseout="outweixin(9865)"><img id="weixinimg9865" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="toolpinglun"><a href="/xiefanyi.aspx?shiID=9865"><img src="/img/write.png" / alt="" width="18" height="18"/></a></div>
<div class="toolpinglun" style=" margin-top:-4px;"><a href="/randShow.aspx?id=0759642232"><img src="/img/bootmright.png" alt="下一首" width="26" height="26" /></a></div>
<div class="good"><a id="agood9865" href="javascript:goodNew('9865','http://so.gushiwen.org/view.aspx?id=9865',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div class="toolerweima" id="weixin9865" style="background-color:aqua;"></div>
<div id="toolPlay9865" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtareAuthor2933">包佶，生卒年不详。唐代诗人。字幼正、闰州延陵（今江苏省丹阳市）人。历任秘书监、刑部侍郎、谏议大夫、御史中丞，居官严正，所至有声。因疾辞官，卒于故里。封丹阳郡公。天宝六年及进士第。累官谏议大夫，坐善元载贬岭南。刘晏奏起为汴东两税使。晏罢，以佶充诸道盐铁轻货钱物使。迁刑部侍郎，改秘书监，封丹阳郡公，居官谨确，所在有声。佶天才赡逸，气宇清深，心醉古经，神和《大雅》，诗家老斫（音卓，指技艺精湛、经验丰富）。与刘长卿、窦叔向诸公皆莫逆之爱，晚岁沾风痹之疾，辞宠乐高，不及荣利。http://so.gushiwen.org/author_2933.aspx</textarea>
</div>
<div class="sonspic">
<div class="cont">
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/author_2933.aspx"><b>包佶</b></a></p>
<p style=" margin:0px;">包佶，生卒年不详。唐代诗人。字幼正、闰州延陵（今江苏省丹阳市）人。历任秘书监、刑部侍郎、谏议大夫、御史中丞，居官严正，所至有声。因疾辞官，卒于故里。封丹阳郡公。天宝六年及进士第。累官谏议大夫，坐善元载贬岭南。刘晏奏起为汴东两税使。晏罢，以佶充诸道盐铁轻货钱物使。迁刑部侍郎，改秘书监，封丹阳郡公，居官谨确，所在有声。佶天才赡逸，气宇清深，心醉古经，神和《大雅》，诗家老斫（音卓，指技艺精湛、经验丰富）。与刘长卿、窦叔向诸公皆莫逆之爱，晚岁沾风痹之疾，辞宠乐高，不及荣利。</p>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/authors/like2017.aspx?id=2933&from=http://so.gushiwen.org/view.aspx?id=9865"></iframe></div>
<div class="toolpinglun"><a href="javascript:copyAuthor(2933)"><img src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style="cursor:pointer;" onmouseover="madeweixinAuthor('2933','http://m.gushiwen.org/author_2933.aspx')" onmouseout="outweixinAuthor(2933)"><img id="weixinAuthorImg2933" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agoodAuthor2933" href="javascript:goodAuthorNew('2933','http://so.gushiwen.org/view.aspx?id=9865',0)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;0</span></a></div>
</div>
<div class="toolerweima" id="weixinAuthor2933" style="background-color:aqua;"></div>
</div>
<div class="title">
<div class="titleleft"></div>
猜您喜欢
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare33850">还是延年一种材，即将瑶朵冒霜开。不如红艳临歌扇，欲伴黄英入酒杯。陶令接z5堪岸著，梁王高屋好欹来。月中若有闲田地，为劝嫦娥作意裁。——唐代·陆龟蒙《幽居有白菊一丛因而成咏呈知己》http://so.gushiwen.org/view_33850.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(33850)" id="btnShangxi33850"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(33850)" id="btnZhushi33850"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(33850)" id="btnYiwen33850" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_33850.aspx"><b>幽居有白菊一丛因而成咏呈知己</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e9%99%86%e9%be%9f%e8%92%99">陆龟蒙</a></p>
<div class="contson" id="contson33850">
还是延年一种材，即将瑶朵冒霜开。不如红艳临歌扇，
<br />
欲伴黄英入酒杯。陶令接z5堪岸著，梁王高屋好欹来。
<br />
月中若有闲田地，为劝嫦娥作意裁。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=33850&from=http://so.gushiwen.org/view.aspx?id=9865"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(33850)"><img id="copyimg33850" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('33850','http://m.gushiwen.org/view_33850.aspx')" onmouseout="outweixin(33850)"><img id="weixinimg33850" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood33850" href="javascript:goodNew('33850','http://so.gushiwen.org/view.aspx?id=9865',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy33850" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin33850" style="background-color:aqua;"></div>
<div id="toolPlay33850" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare13800">九月湘江水漫流，沙边唯览月华秋。金风浦上吹黄叶，一夜纷纷满客舟。——唐代·戎昱《宿湘江》http://so.gushiwen.org/view_13800.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(13800)" id="btnShangxi13800"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(13800)" id="btnZhushi13800"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(13800)" id="btnYiwen13800" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_13800.aspx"><b>宿湘江</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e6%88%8e%e6%98%b1">戎昱</a></p>
<div class="contson" id="contson13800">
九月湘江水漫流，沙边唯览月华秋。
<br />
金风浦上吹黄叶，一夜纷纷满客舟。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=13800&from=http://so.gushiwen.org/view.aspx?id=9865"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(13800)"><img id="copyimg13800" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('13800','http://m.gushiwen.org/view_13800.aspx')" onmouseout="outweixin(13800)"><img id="weixinimg13800" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood13800" href="javascript:goodNew('13800','http://so.gushiwen.org/view.aspx?id=9865',1)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;1</span></a></div>
</div>
<div id="toolCopy13800" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin13800" style="background-color:aqua;"></div>
<div id="toolPlay13800" style=" display:none;clear:both;"></div>
</div>
<div style=" width:1px; height:1px; overflow:hidden;">
<textarea style=" background-color:#F0EFE2; border:0px;overflow:hidden;" cols="1" rows="1" id="txtare4836">绮阁云霞满，芳林草树新。鸟惊疑欲曙，花笑不关春。山对弹琴客，溪留垂钓人。请看车马客，行处有风尘。——唐代·袁恕己《咏屏风》http://so.gushiwen.org/view_4836.aspx</textarea>
</div>
<div class="sons">
<div class="cont">
<div class="yizhu">
<img style=" display:none;" src="/img/shangpic.png" width="25" height="25" alt="赏析" onclick="OnShangxi(4836)" id="btnShangxi4836"/>
<img style=" display:none;" src="/img/zhupic.png" width="25" height="25" alt="注释" onclick="OnZhushi(4836)" id="btnZhushi4836"/>
<img style=" display:none;" src="/img/yipic.png" width="25" height="25" alt="译文" onclick="OnYiwen(4836)" id="btnYiwen4836" />
</div>
<p><a style="font-size:18px; line-height:22px; height:22px;" href="/view_4836.aspx"><b>咏屏风</b></a></p>
<p class="source"><a href="/type.aspx?p=1&c=%e5%94%90%e4%bb%a3">唐代</a><span>：</span><a href="/search.aspx?value=%e8%a2%81%e6%81%95%e5%b7%b1">袁恕己</a></p>
<div class="contson" id="contson4836">
绮阁云霞满，芳林草树新。鸟惊疑欲曙，花笑不关春。
<br />
山对弹琴客，溪留垂钓人。请看车马客，行处有风尘。
</div>
</div>
<div class="tool">
<div class="shoucang"><iframe style="width:18px; height:30px; border:0px;" src="/shiwen2017/like.aspx?id=4836&from=http://so.gushiwen.org/view.aspx?id=9865"></iframe></div>
<div class="toolpinglun"><a href="javascript:copy(4836)"><img id="copyimg4836" src="/img/copy.png" alt="复制" width="18" height="18" /></a></div>
<div class="toolpinglun" style=" cursor:pointer;" onmouseover="madeweixin('4836','http://m.gushiwen.org/view_4836.aspx')" onmouseout="outweixin(4836)"><img id="weixinimg4836" src="/img/weixin.png" / alt="" width="18" height="18"/></div>
<div class="good"><a id="agood4836" href="javascript:goodNew('4836','http://so.gushiwen.org/view.aspx?id=9865',4)"><img src="/img/good.png" / alt="赞" width="14" height="14"/><span>&nbsp;4</span></a></div>
</div>
<div id="toolCopy4836" style=" width:0px; height:0px; overflow:hidden; display:none;"></div>
<div class="toolerweima" id="weixin4836" style="background-color:aqua;"></div>
<div id="toolPlay4836" style=" display:none;clear:both;"></div>
</div>
<div style="height:auto; width:670px; clear:both; margin-top:20px;overflow:hidden; float:left; ">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:670px;height:90px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="4339198761"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
</div>
<div class="right">
<div style="clear:both; height:auto; width:300px; float:left; margin-top:20px;">
<script type="text/javascript" src="http://bai3.gushiwen.org/mvdgje3xwk.js"></script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1330.aspx">何时倚虚幌，双照泪痕干。</a>
</div>
<div class="abcd">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:300px;height:250px" data-ad-client="ca-pub-7896617197032986" data-ad-slot="8843450366"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>
<div class="juzioncont">
<a href="/mingju/ju_1565.aspx">絮影苹香，春在无人处。</a>
</div>
<div class="abcd">
<script type="text/javascript" src="http://bai3.gushiwen.org/jhd7vcwgqd.js"></script>
</div>
</div>
</div>
<div class="main4">
© 2017 <a href="http://www.gushiwen.org/">古诗文网</a> | <a href="/type.aspx">诗文</a> | <a href="/mingju/">名句</a> | <a href="/authors/">作者</a> | <a href="/guwen/">古籍</a> | <a href="/jiucuo.aspx?u=" target="_blank" rel="nofollow">纠错</a>
</div>
<script defer="defer" src="http://www.gushiwen.org/js/skinso20170727.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery-3.2.1.min.js" type="text/javascript"></script>
<script defer="defer" src="http://www.gushiwen.org/js/jquery.qrcode.min.js" type="text/javascript"></script>
</body>
</html>
